<div class="components-menu-button-wrapper" ng-class="{'active': contextualMenuIsActive}" ng-click="toggleContextualMenu($event, contextualMenuIsActive, name)">
	<div class="inline-wrapper">
		<i class="fa {{ icon }}" aria-hidden="true"></i>
		<div class="name">{{ name }}</div>
		<div></div>
	</div>
	<components-menu-button-contextual-menu title="{{contextualMenuTitle}}" type-of-contextual-menu="typeOfContextualMenu" props={{props}}></components-menu-button-contextual-menu>
</div>
