.components-menu-button-wrapper {
	height: 82px;
	border-bottom: 1px solid #cdcdcd;

	text-align: center;

	font-size: 0;

	cursor: pointer;
	background-color: #e5ecee;

	transition: background-color .3s ease;
}

.components-menu-button-wrapper:before {
	content: '';

	height: 100%;
	width: 0px;
	display: inline-block;

	vertical-align: middle;
}

.components-menu-button-wrapper .inline-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.components-menu-button-wrapper .inline-wrapper .fa {
	display: block;

	font-size: 24px;
	color: #4a4a4a;
}

.components-menu-button-wrapper .inline-wrapper .name {
	font-size: 14px;

	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;

	margin-top: 14px;
}

.components-menu-button-wrapper:hover {
	background-color: #edf0f2;
}

.components-menu-button-wrapper.active {
	background-color: #edf0f2;
	width: calc(100% + 1px);
}

.components-menu-button-wrapper.active .components-menu-button-contextual-menu {
	opacity: 1;
	visibility: visible;
	transform: translateX(0px);
}

.components-menu-button-wrapper.active .components-menu-button-contextual-menu .fields-wrapper {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	padding-bottom: 10px;
}

.components-menu-button-wrapper.active .components-menu-button-contextual-menu .title {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
