<div class="payments-modals">
    <div>
        <div class="modal-attendee" style="margin-left: 0px;">
            <h3 class="review-and-purchase">Review and Purchase Your Order</h3>

            <div class="payment-type-subtitle" style="padding-left: 35px; margin-top:20px; padding-bottom: 20px;">

                <div class="payment-type-subtitle-bold" style="float:left;">
                    <input type="number"
                           style=" margin-left: 0; margin-right: 20px; min-width: 70px;"
                           class="payment-markup-input"
                           ng-change="calculateFinalPrice(nrPacks)"
                           ng-model="nrPacks"/>
                    <span style="margin-right: 10px"> x 1000 </span>
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    Push Notifications credits at $50 per 1,000
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    <div class="payment-total" style="position: absolute;
                        right: 50px;
                   ">
                        ${{finalPrice}}
                    </div>
                </div>
            </div>

            <div class="payment-type-subtitle" style="
                clear:both; margin-left: 35px; margin-top: 200px; width: 556px; border-top: 1px solid #cdcdcd">
                <div class="payment-description"  style="text-align: left;
                padding-top: 20px;
                padding-left: 145px;">

                    <div class="payment-message">
                        Charge to your credit card:
                    </div>

                    <div class="payment-change-credit-card payment-action-txt">
                        &nbsp;
                    </div>

                    <div class="payment-total payment-type-subtitle-bold" style="
                        position: absolute;
                        right: 43px;
                        margin-top: -30px;">
                        ${{finalPrice}}
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-attendee" style="margin-left: 0px; margin-bottom: 20px">
            <md-content class="payment-form-buttons">
                <md-button class="md-raised md-primary btnC" ng-click="closeThisDialog()">Cancel</md-button>
                <md-button class="md-raised md-primary btnS" ng-click="purchaseNotifications(amountOfCredits)" style="float:right;">Next</md-button>
            </md-content>
        </div>
    </div>
</div>