.dash-tos {
    background: linear-gradient(180deg, #DAF4FF 20%, #fff);
    /* height: 740px; */
    border-bottom: 2px solid #cdcdcd;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: normal;
    border-bottom: 3px solid #cdcdcd;
    height: 100vh;
}
.tos-modal {
  @include modal;
  @include shape(650px, auto, 0);
  overflow: hidden;
  background: #fff;
  & .tos-modal-main-info {
    margin: 36px;
    @include flex;
    flex-direction: row;
    align-items: center;

    & .tos-modal-top-info {
      line-height: normal;

      & p,
      & span {
        margin: 0;
        font-family: $font-family-demi;
        font-size: 14px;
        color: #4a4a4a;

        &:first-child {
          font-size: 20px;
          margin-bottom: 18px;
        }
      }
    }
  }

  & .tos-modal-tabs {
    border-top: 2px solid #cdcdcd;
    color: #4A4A4A;
    font-family: "Avenir Next";
    font-size: 14px;

    background-color: #FAFAFA;
    & div{
      display: table-cell;
      padding: 15px 25px;
      text-align: center;
      width: calc(100vw/2);
      background-color: #EFEEEE;
      font-family: $font-family-demi;
      font-size: 14px;
      border-bottom:	2px solid #CECECE;
      cursor: pointer;
      &.tab-selected{
        background-color: #FAFAFA;
        border-bottom: 0;
        &.first-tab{
          border-right:	2px solid #CECECE;
        }
        &.second-tab{
          border-left:	2px solid #CECECE;
        }
      }
    }

  }
  & .legal-text{
    padding:26px 32px;
    background-color: #FAFAFA;
    height: calc(100vh - 477px);
    overflow: hidden !important;
    color: #4A4A4A;
    font-family: "Avenir Next";
    font-size: 14px;
    line-height: 20px;
  }
  & .buttons-wrapper {
  	border-top: 1px solid #cdcdcd;
  	font-size: 0;
  	padding:32px;
    & .agree-terms-checkbox{
      width: 100%;
      position: relative;
      margin-bottom:16px;
      cursor: pointer;
      & .checkbox-ico{
        position: absolute;
      }
      & p{
        display: inline-block;
        font-size: 16px;
        margin: 0;
        padding: 0;
        position: relative;
        left: 29px;
        font-family: "AvenirNextLTPro-Demi";
        color:#4a4a4a;
      }
    }
  }

  & .buttons-wrapper .button {
  	display: inline-block;
  	vertical-align: middle;
  	height: 40px;
  	color: #4A4A4A;
  	font-size: 14px;
  	font-family: 'AvenirNextLTPro-Demi';
  	line-height: 40px;
  	padding-left: 54px;
  	padding-right: 54px;
  	border: 1px solid #cdcdcd;
  	border-radius: 20px;
  	box-sizing: border-box;
  	cursor: pointer;
  	max-width: 150px;
  	transition: color .2s ease, background-color .2s ease;
  }


  & .buttons-wrapper .button.save {
  	background-color: #68aa3b;
  	border: 1px solid #68aa3b;
  	color: white;
  	font-family: 'AvenirNextLTPro-Bold';
  	text-transform: uppercase;
  	max-width: none;
    &.disabled{
      background:#fafafa;
      border: 1px solid #cdcdcd;
      color:#cdcdcd;
      &:hover{
        color:#cdcdcd;
      }
    }
  }

  & .buttons-wrapper .right-part {
  	width: calc(100% - 150px);
  	display: inline-block;
  	vertical-align: middle;
  	text-align: right;
  }

  & .buttons-wrapper .button:hover {
  	background-color: #4a4a4a;
  	color: white;
  }

  & .buttons-wrapper .button.save:hover {
  	background-color: white;
  	color: #68aa3b;
  }

}
