<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="dash-tos">
<div class="tos-modal">
	<div class="tos-modal-main-info">
		<div class="tos-modal-top-info">
			<p>Update</p>
			<span>We've updated our Terms of Service and Privacy Policy to comply with new European Union Privacy Regulations (GDPR). Please review and accept to continue using the Expo platform.</span>
		</div>

	</div>
	<div class="tos-modal-tabs">
		<div ng-click="switchTabs('tos')" ng-class="tosTabOpened ? 'tab-selected' : ''" class="first-tab">Terms of Service</div>
		<div ng-click="switchTabs('pp')" ng-class="!tosTabOpened ? 'tab-selected' : ''" class="second-tab">Privacy Policy</div>
</div>

	<div ng-if="tosTabOpened" class="legal-text">
		<p ng-repeat="tos in terms_of_service track by $index" ng-bind-html="tos"></p>
	</div>
	<div ng-if="!tosTabOpened" class="legal-text" >
		<p ng-repeat="pp in privacy_policy track by $index" ng-bind-html="pp"></p>
	</div>
	<div class="buttons-wrapper">
		<div class="agree-terms-checkbox">
		<div class="checkbox-ico" ng-click="agreeTos()" ng-class="{'active': agreeChecked}"></div>
		<p ng-click="agreeTos()">I have read and agree to the Terms of Service and Privacy Policy.</p>
	</div>
		<div class="button" ng-click="rejectTos()">Reject</div>
		<div class="right-part">
			<div class="button save" ng-click="acceptTos()" ng-class="!agreeChecked?'disabled':''">Accept</div>
		</div>
	</div>
</div>
</div>
