<div class="five-free-scans-header"
		ng-click="vm.setUpFiveFreeScans()"
		ng-if="!vm.hasInitialPayment && vm.exhibitor.payment_status =='none' && vm.exhibitor.five_free_scans">
	<div class="five-free-scans-icon">
		<i class="fa fa-exclamation-triangle five-free-scans-warning" aria-hidden="true"></i>
	</div>
	&nbsp;
	<div class="five-free-scans-text">
		Complete your profile by signing up for 5 Free Lead Retrieval scans! 
		<span class="active-text">Sign up now »</span>
	</div>
</div>
<div class="exhibitor-toolkit-company-profile flex-column">

	<div class="flex-row">
		<div>			
			<i ng-if='!vm.exhibitor.logo' class="fa fa-building" style="font-size: 7em;" aria-hidden="true"></i>
			<img width="90px" height="90px" ng-if='vm.exhibitor.logo' src="{{vm.exhibitor.logo}}">
		</div>
		<div class="flex-column">
			<p class="demi">{{vm.exhibitor.company_name}}</p>
			<p class="medium">{{vm.exhibitor.admin_email}}</p>
		</div>
		<div ng-if="!vm.permissionsForEditCompanyProfile()" style="border: 0px solid black"></div>
		<div class="medium cursor" ng-click="vm.editCompanyProfile()" ng-if="vm.permissionsForEditCompanyProfile()">Edit Profile</div>
	</div>
	<div class="flex-row">
		<div class="flex-column">
			<div class="flex-row" ng-repeat="field in vm.exhibitorOptionalProfileFields">
				<p class="demi">{{field.label}}</p>
				<p class="medium" ng-if="field.code != 'promo_code' && field.code != 'state'">
					{{vm.exhibitor[field.code]}}
				</p>
				<p class="medium" ng-if="field.code == 'state'">
					{{vm.exhibitor['country'] == 'United States' ? vm.exhibitor['state'] : '--'}}
				</p>
				<p class="medium" ng-class="field.code == 'promo_code' ? 'italic' : ''" 
				   ng-if="field.code === 'promo_code' && vm.exhibitor[field.code] != null ">
					{{vm.exhibitor[field.code]}}
				</p>
				<p class="medium italic" 
				   ng-if="field.code === 'promo_code' && vm.exhibitor[field.code] == null ">
					No promo code issued
				</p>
			</div>
		</div>
		<div class="flex-column">
			<p class="demi" ng-if="vm.exhibitor.description">Description</p>
			<p style="line-height: 20px; word-wrap: break-word;" class="medium">{{vm.exhibitor.description}}</p>
		</div>
	</div>
	<div class="flex-column">
		<p>Materials</p>
		<p>Upload materials for the attendee to access in your exhibitor profile.</p>
		<div ngf-drop="vm.uploadExhibitorFiles($files)" class="drop-box drag-class cursor"
	         ngf-select="vm.uploadExhibitorFiles($files)"
	         ngf-max-size="10MB" ngf-min-height="50"
	         ngf-drag-over-class="'dragover'" ngf-multiple="false">
			<p>Drag and drop materials or...</p>
			<div>CHOOSE FILE...</div>
		</div>
		<p ng-if="vm.exhibitorFiles.length > 0">Uploaded files</p>
		<div class="flex-column" ng-if="vm.exhibitorFiles.length > 0">
			<div class="flex-row" ng-repeat="exhibitor_file in vm.exhibitorFiles" style="margin-right: 32px;">
                <i class="fa fa-file-pdf-o" aria-hidden="true" 
                	style="color: #68aa3b; font-size: 30px; margin-right: 16px; position: relative; bottom: 3px;"></i>
				<p style="width: 37vw;">{{exhibitor_file.name}}</p>
				<p style="margin-left: 0;">Last updated {{exhibitor_file.updated_at | date : 'MMMM d, yyyy'}}</p>
				<div class="default-icon-circle" ng-click="vm.removeExhibitorFile(exhibitor_file.id)" style="margin-right: 47.4px;">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
                </div>
			</div>
		</div>
		<div ng-if="vm.exhibitorFiles.length <= 0" style="margin-bottom: 25px;"> No materials uploaded!</div>
	</div>
	<div class="flex-column">
		<div class="flex-row" style="justify-content: space-between;">
			<div class="flex-column">
				<p>Your Company Contacts</p>
				<p>Add company contacts for the attendee to access.</p>
			</div>
			<div class="flex-row">
				<div class="flex-row cursor exhibitor-add-contact-btn" ng-click="vm.addExhibitorSupportContact()" style="line-height: 33px;">
					<i class="fa fa-plus-circle" 
		                style="font-size: 17px; color: #26a7de; right: 24px; position: relative; top: 1px;" 
		                aria-hidden="true"></i>
		            ADD CONTACT
		        </div>
				<div class="default-icon-circle" style="background-color: #fffde6; margin-left: 15px;" ng-click="vm.removeExhibitorContacts()"
					ng-if="vm.verifyExhibitorContactsSelected()">
	                <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de; font-size: 17px;"></i>
	            </div>
			</div>
		</div>
		<div class="flex-column" ng-if="vm.exhibitorContacts.length > 0">
			<div class="flex-row">
				<div class="flex-row">
					<div class="checkbox-ico cursor" ng-class="vm.contactsCheckedAll ? 'active' : ''" ng-if="vm.exhibitorContacts.length > 1" style="margin-right: 21px;"
						ng-click="vm.checkAllExhibitorContacts(); vm.contactsCheckedAll = !vm.contactsCheckedAll">
					</div>
					<p>Contact
						<img style="margin-left: 11px;" class="cursor" ng-if="vm.exhibitorContacts.length > 1" ng-click="vm.sortExhibitorContacts()" 
							ng-src="{{vm.exhibitorContactsOrder == 'asc' ?
							 '/assets/images/conference-table-order-ico-asc.png' : '/assets/images/conference-table-order-ico.png'}}">
					</p>
				</div>
				<div><p>Email</p></div>
				<div><p>Job Title</p></div>
				<div><p>Phone Number</p></div>
			</div>
			<div class="flex-row cursor" ng-repeat="contact in vm.exhibitorContacts" ng-click="vm.editExhibitorContact(contact)" 
				ng-class="contact.checked  == true ? 'selected-contact' : ''">
				<div class="flex-row">
					<div class="checkbox-ico cursor" 
						ng-class="contact.checked ? 'active' : ''" ng-click="vm.checkExhibitorContact(contact); $event.stopPropagation();"></div>
					<useravatar image="contact.photo" class="contact-profile-photo"
	                    firstname="contact.first_name"
	                    lastname="contact.last_name"
	                    size="36px">
	                </useravatar>
					<p>{{contact.first_name + ' ' + contact.last_name}}</p>
				</div>
				<div>
					<p class="medium">{{contact.contact_email_address}}</p>
				</div>
				<div>
					<p class="medium">{{contact.area_of_support}}</p>
				</div>
				<div>
					<p class="medium">{{contact.phone_number}}</p>
				</div>
			</div>
		</div>
	</div>
</div>