<div style="float: left; height:auto; overflow:hidden; width: 100%;">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td> 
                    Date
                </td>
                <td>
                    <div>
                        {{vm.conference.date_from | date : 'M/d/yyyy':vm.conference.time_zone}} - {{vm.conference.date_to | date : 'M/d/yyyy':vm.conference.time_zone}}
                    </div>
                </td>
            </tr>
            <tr>
                <td> 
                    Venue
                </td>
                <td>
                    <div>
                        {{vm.conference.venue}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Street Address
                </td>
                <td>
                    <div>
                        {{vm.conference.street}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    City
                </td>
                <td>
                    <div>
                        {{vm.conference.city}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    State
                </td>
                <td>
                    <div>
                        {{vm.conference.state.abbreviation || vm.conference.state}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Zip Code
                </td>
                <td>
                    <div>
                        {{vm.conference.zip_code}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Country
                </td>
                <td>
                    <div>
                        {{vm.conference.country.name || vm.conference.country}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Time Zone
                </td>
                <td>
                    <div>
                        <p>{{vm.conference.timezone_name}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Website
                </td>
                <td>
                    <div>
                        <a ng-href="{{vm.sanitizeUrl(vm.conference.website)}}" ng-if="vm.conference.website" target="_blank">
                            {{vm.sanitizeUrl(vm.conference.website)}}
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Conference Code
                </td>
                <td>
                    <div>
                       {{vm.conference.code}}
                    </div>
                </td>
            </tr>
        </table>

    </div> 
    <div class="conference-body-right" style="float: right;
    border-left: 2px solid #cdcdcd;
    padding-bottom: 1500px;
    margin-bottom: -1500px;">
        <div class="conference-map" style="width:582px; height:256px; max-width: 33vw">
            <a href="{{vm.googleMap}}" target="_blank">
                <img ng-src="{{vm.googleStaticMap}}">
            </a>
        </div>
    </div>
</div>
<div class="conference-contacts-table flex-column">
    <div class="flex-row">
        <p>Exhibitor Support Contacts</p>
    </div>
    <div class="flex-column">
        <div class="flex-row" ng-repeat="conf_contact in vm.conferenceexhibitorSupportContacts">
            <div>
                <useravatar image="conf_contact.photo"
                            firstname="conf_contact.first_name"
                            lastname="conf_contact.last_name"
                            size="36px">
                </useravatar>
                <p class="demi">{{conf_contact.first_name + ' ' + conf_contact.last_name}}</p>
            </div>
            <p class="medium">{{conf_contact.area_of_support}}</p>
            <p class="medium">{{conf_contact.phone_number}}</p>
            <p class="medium">{{conf_contact.email}}</p>
        </div>
    </div>
</div>