<div class="company-profile-popup flex-column">
    <p class="demi">Edit Your Company Profile</p>
    <div class="flex-column">
        <div ng-repeat="field in $parent.mainExhibitorProfileFields" class="flex-row" ng-if="field.code != 'promo_code' && !(field.code == 'state' && $parent.exhibitor['country'] != vm.all_countries[0])">
            <p ng-if="field.code != 'promo_code'" 
            class="demi">{{field.label}}<span style="color: #f58a1c;" ng-if="field.code == 'company_name' || field.code == 'admin_email'">*</span></p>
            <input ng-if="(field.code != 'logo') && 
            (field.code != 'company_description') && (field.code != 'country') && (field.code != 'state')" type="text" 
            ng-model="$parent.exhibitor[field.code]" class="medium">
            <input type="text" placeholder="--" ng-if="field.code == 'state' && $parent.exhibitor['country'] != vm.all_countries[0]">
            <select 
                style="height: 40px; background-color: #fff; padding-left: 10px; color: #4a4a4a; border-color: #cdcdcd;"
                ng-if="$parent.exhibitor['country'] == vm.all_countries[0] && field.code == 'state'"
                ng-model="$parent.exhibitor['state']"
                ng-options="option.abbreviation for option in vm.united_states">
            </select>
            <select
                style="background-color: #fff; height: 40px; padding-left: 10px; color: #4a4a4a; border-color: #cdcdcd;"
                ng-if="field.code == 'country'"
                ng-model="$parent.exhibitor['country']"
                ng-options="option.name for option in vm.all_countries">
            </select>
            <span ngf-select="$parent.uploadCompanyLogo($files);"
                ng-if="field.code == 'logo'"
                class="add_attendee_upload_link medium"
                ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
                ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div class="attendee-upload-image flex-row" style="align-items: center;" class="cursor">
                    <div style="margin: 0;">
                        <img ng-if="$parent.exhibitor.logo" src="{{$parent.exhibitor.logo}}">
                        <img ng-if='!$parent.exhibitor.logo' src="/assets/images/conference-default-logo.png">
                    </div>
                    <div style="margin-left: 16px;">
                        Upload from computer
                    </div>
                </div>
            </span>
            <textarea ng-if="field.code == 'company_description'" ng-model="$parent.exhibitor.description"></textarea>
        </div>
        <p class="medium">*Required</p>
    </div>
    <div class="flex-row" style="padding-bottom: 35px;">
        <div class="medium cursor" ng-click="closeThisDialog()">Cancel</div>
        <div class="bold cursor" ng-click="$parent.updateExhibitorProfile(closeThisDialog);">SAVE</div>
    </div>
</div>