<div class="payments-modals" style="margin-top:calc(50vh - 270px)"
    ng-class="(vm.loadingExhibitorPayment) ? 'payment_type_inactive': ''">
    <div ng-if="vm.paymentStep==1">
        <div class="modal-attendee payment-information">
            <h3>Enter Your Payment Information</h3>
            <form id='payment-form'>
                <div style="display: block">
                    <label>Credit Card Number</label>
                    <input class="inp-data" type="text" 
                        data-stripe="number" 
                        maxlength="16" id="CCN"
                        autocomplete="cc-number"
                        ng-blur="vm.checkTypeOfCard()"
                        onkeydown="return ( event.ctrlKey || event.altKey
                            || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                            || (95<event.keyCode && event.keyCode<106)
                            || (event.keyCode==8) || (event.keyCode==9)
                            || (event.keyCode>34 && event.keyCode<40)
                            || (event.keyCode==46) )" 
                        style="margin-left: 94px">
                    <div style="width: 306.77px; margin-left: 230px; margin-top: 3px; height: 40px;">
                        <div><img ng-src="{{vm.CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
                        <div style="margin-right: 0;margin-bottom: 10px;">
                            <img ng-src="{{vm.CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}">
                        </div>
                    </div>
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="inp-data" type="text" 
                        data-stripe="exp" 
                        placeholder="MM/YYYY"
                        autocomplete="cc-exp"
                        style="width: 93px; height: 40px;margin-right: 265px;">
                </div>
                <div>
                    <label>CVV </label>
                    <input class="inp-data" type="text" 
                        data-stripe="cvc" 
                        placeholder="###"
                        autocomplete="cc-csc"
                        onkeydown="return ( event.ctrlKey || event.altKey
                        || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                        || (95<event.keyCode && event.keyCode<106)
                        || (event.keyCode==8) || (event.keyCode==9)
                        || (event.keyCode>34 && event.keyCode<40)
                        || (event.keyCode==46) )" 
                        style="width: 49px; height: 40px; margin-right: 309px;">
                </div>
                <div>
                    <label>Billing Zip Code</label>
                    <input class="inp-data" type="text" 
                        data-stripe="address_zip" 
                        style="width: 93px; height: 40px;margin-right: 265px;">
                </div>

                <div>
                    <label>Name on Card</label>
                    <input class="inp-data" type="text"
                        autocomplete="cc-name"
                        data-stripe="name">
                </div>
            </form>
            <p>Refunds will not be made unless there are performance or service issues with the service/technology.</p>
        </div>

        <div class="modal-attendee" style="margin-left: 0px;">
            <md-content class="payment-form-buttons">
                <md-button class="md-raised md-primary btnC" ng-click="closeThisDialog()">Cancel</md-button>
                <md-button class="md-raised md-primary btnS" ng-click="vm.generateTempToken()" style="float:right;">Next</md-button>
            </md-content>
        </div>
    </div>
    <div ng-if="vm.paymentStep==2">
        <div class="modal-attendee" style="margin-left: 0px;">
            <h3 class="review-and-purchase">Review and Purchase Your Upgrades</h3>

            <div class="payment-type-subtitle lead-retrieval-upgrade-holder" ng-if="$parent.leadRetrievalSelected">
                Lead Retrieval Upgrade <span style="position: absolute; right: 50px;">${{$parent.conference.initial_fee + $parent.conference.markup_fee}}</span>
            </div>

            <div class="payment-type-subtitle" style="padding-left: 35px; margin-top:20px; padding-bottom: 20px;" ng-if="$parent.additionalUsers">

                <div class="payment-type-subtitle-bold" style="float:left;">
                    <input type="number"
                           min="1"
                           style=" margin-left: 0; margin-right: 20px;"
                           class="payment-markup-input"
                           ng-model="$parent.additionalUsers"/>
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    Additional App Users
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    <div class="payment-total" style="position: absolute; right: 50px;">
                        ${{$parent.additionalUsers * $parent.conference.exhibitor_user_fee > 0? $parent.additionalUsers * $parent.conference.exhibitor_user_fee : 0}}
                    </div>
                </div>
            </div>
            <div class="payment-type-subtitle" style="clear: both; padding-left: 35px; margin-top: 51px;" ng-if="$parent.leadRetrievalSelected">

                <div class="payment-type-subtitle-bold" style="float:left;">
                    <input type="text"
                           placeholder="Promo code" 
                           maxlength="20"
                           style=" margin-left: 0; margin-right: 20px; width: 121px;"
                           class="payment-markup-input"
                           ng-change="vm.addedPromoCode = vm.addedPromoCode.toUpperCase()"
                           ng-model="vm.addedPromoCode"/>
                </div>

                <div class="payment-type-subtitle-bold" style="float:left; color: #26a7de; cursor:pointer" ng-click="vm.addPromoCode()" ng-if="!vm.promoCodeValue">
                    Apply promo code <span ng-if="vm.loadPromoCodeResponse" style="position: absolute; margin-top: -23px; margin-left: 122px; font-size: 10px;"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span>
                </div>
                <div class="payment-type-subtitle-bold" style="float:left" ng-if="vm.promoCodeValue">
                    <div class="payment-total" style="position: absolute; right: 50px;">
                        -${{vm.promoCodeValue}}
                    </div>
                </div>
            </div>

            <div class="payment-type-subtitle" style="
                clear:both; margin-left: 35px; margin-top: 20px; width: 556px; border-top: 1px solid #cdcdcd">
                <div class="payment-description"  style="text-align: left; padding-top: 20px; padding-left: 145px;">
                    <div class="payment-type-subtitle-bold" style="float:left;">
                        Charge to your credit card ending in {{vm.last4}}
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left">
                        <div class="payment-total" style="position: absolute; right: 50px;" ng-if="$parent.leadRetrievalSelected">
                            <span ng-if="!$parent.additionalUsers">${{$parent.conference.initial_fee + $parent.conference.markup_fee - vm.promoCodeValue}}</span>
                            <span ng-if="$parent.additionalUsers">${{$parent.conference.initial_fee + $parent.conference.markup_fee + $parent.additionalUsers * $parent.conference.exhibitor_user_fee - vm.promoCodeValue}}</span>
                        </div>
                        <div class="payment-total" style="position: absolute; right: 50px;" ng-if="!$parent.leadRetrievalSelected">
                            ${{$parent.additionalUsers * $parent.conference.exhibitor_user_fee}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-attendee" style="margin-left: 0px;">
            <md-content class="payment-form-buttons">
                <md-button class="md-raised md-primary btnC"
                           ng-click="vm.paymentStep=1">Back</md-button>
                <md-button class="md-raised md-primary btnS" ng-click="vm.purchaseExhibitorUpgrade(closeThisDialog);" style="float:right; margin-right: 0;">Purchase</md-button>
            </md-content>
        </div>
    </div>

</div>
<div ng-if="vm.loadingExhibitorPayment" class="lead-retrieval-payment-spinner">
    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
</div>