<div class="add-support-contact-modal" style="margin-top: calc(50vh - 300px); height: 562px">
    <p>Add a Company Contact</p>
    <form name="support_contact">
        <div ng-repeat="field in vm.contactLabels" class="support-contact-info">
            <div>{{field.label}}<span ng-if="field.code=='contact_email_address'" style="color:#f58a1c">*</span></div>
            <div>
                <input type="text" name="{{field.code}}" required ng-if="field.code != contact_email_address"
                ng-class="({{field.code}} != company_name && support_contact.{{field.code}}.$touched && support_contact.{{field.code}}.$invalid) ? 'required' : ''"
                ng-model="vm.newSupportContact[field.code]">
                <input type="email" name="{{field.code}}" required ng-if="field.code == contact_email_address"
                       ng-model="vm.newSupportContact[field.code]">
            </div>
        </div>
        <div class="photo-field" style="margin-top: -10px;">
            <div class="demi">Photo</div>
            <div>
                <span ngf-select="vm.uploadSupportPhoto($files, vm.newSupportContact);" class="add_attendee_upload_link" 
                      style="margin-top: -10px;"
                      ngf-pattern="'image/*'"
                      ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
                      ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    <div class="attendee-upload-image">
                        <div ng-if="vm.newSupportContact.photo">
                            <img ng-src="{{vm.newSupportContact.photo}}" class="img-circle user-img-small">
                            <div style="padding-top:10px;"> Upload from computer</div>
                        </div>
                        <div ng-if="!vm.newSupportContact.photo" style="margin-bottom: 0; height: 50px; float: left; line-height: 50px;">
                            <img style="float:left" ng-if='!vm.newAttendeeInfo.attendee_photo' 
                                src="/assets/images/default-profile-img.png"/>
                            <div style="float:left; margin-left: 15px;">Upload from computer</div>
                        </div>
                    </div>
                </span>
                <span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
            </div>
        </div>
        <p>*Required</p>
    </form>
    <md-content>
        <md-button class="md-raised md-primary btnCancel" ng-click="closeThisDialog()">Cancel</md-button>
        <md-button class="md-raised md-primary btnSave" ng-click="$parent.createNewSupportContact(vm.newSupportContact, closeThisDialog);"
                   ng-class="$parent.canSaveSupportContacts(vm.newSupportContact) ? '' : 'form_inactive'">
            Save
        </md-button>
        <md-button class="md-raised md-primary btnSaveAndAdd" ng-click="$parent.createNewSupportContact(vm.newSupportContact);"
                   ng-class="$parent.canSaveSupportContacts(vm.newSupportContact) ? '' : 'form_inactive'">Save & Add Another</md-button>
    </md-content>
</div>