<div class="five-free-scans-exhibitor-promo-holder">
	<div class='exhibitor-promo-title'>
		Start Scanning Leads
	</div>
	<div class='exhibitor-promo-subtitle'>
		The Expo Pass smartphone app is your scanning device. Download the app from the Google Play or Apple App Store
	</div>
	<div class='exhibitor-promo-subtitle'>
		 Search the App Store for "Expo Pass"
	</div>
	<div class='exhibitor-promo-badges'>
		<a href='https://play.google.com/store/apps/details?id=io.expopass.expo&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
			target='_blank'>
			<img alt='Get it on Google Play' 
				src='/assets/images/five-free-scans/google_play.png'
				style="width: 170px;"/>
		</a>

		<a href="https://itunes.apple.com/us/app/expo-pass/id921625648?mt=8&at=10l6Xd&ct=j4tsmhj0rq00xkod01g9a"
			target='_blank'>
		  	<img alt='Available on the App Store' src='/assets/images/five-free-scans/ios_app_store.png' 
		  		style="width: 200px;"/>
		</a>
	</div>
</div>