<div class="five-free-scans-holder five-free-scans-bg" ng-if="!showFiveFreeScansPayment && vm.fiveFreeScansScreen == 1" ng-click="payFiveFreeScans()">
	<div class="five-free-scans-title">Get 5 Free Event Leads</div>
	<div class="five-free-scans-subtitle">When you try Expo's Lead Retrieval</div>
	<div class="five-free-scans-users-holder">
		<div class="five-free-scans-user five-free-scans-inactive-user"></div>
		<div class="five-free-scans-user five-free-scans-inactive-user"></div>
		<div class="five-free-scans-user five-free-scans-inactive-user"></div>
		<div class="five-free-scans-user five-free-scans-inactive-user"></div>
		<div class="five-free-scans-user five-free-scans-active-user-bordered"></div>
		<div class="five-free-scans-user five-free-scans-active-user"></div>
		<div class="five-free-scans-user five-free-scans-active-user"></div>
		<div class="five-free-scans-user five-free-scans-active-user"></div>
		<div class="five-free-scans-user five-free-scans-active-user"></div>
	</div>
	<div class="five-free-scans-benefits-holder">
		<div class="five-free-scans-benefits">• Instant Access to your List •</div>
		<div class="five-free-scans-benefits">• Easily Collect Qualifier Information •</div>
		<div class="five-free-scans-benefits">• 5 Free Users - Engage Your Team •</div>
	</div>

	<div class="five-free-scans-signup" ng-click="payFiveFreeScans()">SIGN UP & GET 5 FREE SCANS</div>
	<span class="five-free-scans-cancel" ng-click="closeThisDialog()" ng-if="!action_for_cancel">No thanks</span>	
	<span class="five-free-scans-cancel" ng-click="action_for_cancel()" ng-if="action_for_cancel">No thanks</span>	
</div>

<div class="five-free-scans-holder five-free-scans-bg-green" 
		ng-click="payFiveFreeScans()"
		ng-if="!showFiveFreeScansPayment && vm.fiveFreeScansScreen == 2">
	<div class="five-free-scans-title-green">Get 5 Free Event Leads</div>
	<div class="five-free-scans-subtitle-green">When you try Expo's Lead Retrieval</div>
	<div class="five-free-scans-benefits-holder-green">
		<div class="five-free-scans-benefits-green">- Instant Access to your List </div>
		<div class="five-free-scans-benefits-green">- Easily Collect Qualifier Information </div>
		<div class="five-free-scans-benefits-green">- 5 Free Users - Engage Your Team </div>
	</div>

	<div class="five-free-scans-buttons-green">
		<div class="five-free-scans-signup-green" ng-click="payFiveFreeScans()">SIGN UP</div>
		<span class="five-free-scans-cancel-green" ng-click="closeThisDialog()" ng-if="!action_for_cancel">
			No thanks
		</span>
		<span class="five-free-scans-cancel-green" ng-click="action_for_cancel()" ng-if="action_for_cancel">
			No thanks
		</span>
	</div>		
</div>

<div class="five-free-scans-holder five-free-scans-bg-white"
		ng-click="payFiveFreeScans()"
		ng-if="!showFiveFreeScansPayment && vm.fiveFreeScansScreen == 3">
	<div class="five-free-scans-qrcode"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
	<div class="five-free-scans-title-white">Get 5 Free Event Leads</div>
	<div class="five-free-scans-subtitle-white">When you try Expo's Lead Retrieval</div>
	<div class="five-free-scans-blue-line">
	</div>
	<div class="five-free-scans-benefits-holder-green">
		<div class="five-free-scans-benefits-white">Instant Access to your List </div>
		<div class="five-free-scans-benefits-white">Easily Collect Qualifier Information </div>
		<div class="five-free-scans-benefits-white">5 Free Users - Engage Your Team </div>
	</div>

	<div class="five-free-scans-buttons-white">
		<div class="five-free-scans-signup-white" ng-click="payFiveFreeScans()">GET 5 FREE SCANS 
			<i class="fa fa-arrow-right" aria-hidden="true" 
				style="position: absolute; margin-top:13px; margin-left:30px; font-size:18px;">
			</i>
		</div>
		<span class="five-free-scans-cancel-white" ng-click="closeThisDialog()" ng-if="!action_for_cancel">
			No thanks
		</span>
		<span class="five-free-scans-cancel-white" ng-click="action_for_cancel()" ng-if="action_for_cancel">
			No thanks
		</span>
	</div>		
</div>

<div class="five-free-scans-payment" ng-if="showFiveFreeScansPayment">
	<form id='payment-form' ng-class="(vm.processingPayment ? 'inactive-loading': '')">
		<div class="five-free-scans-payment-title">
			Get your 5 free scans now
		</div>
		<div class="five-free-scans-payment-subtitle" style="height:62px;">
			<div class="five-free-scans-subtitle-new">
				Make the most of your exhibiting experience by capturing new business through lead retrieval and badge scanning. Add qualifiers so your sales team can ask all the right questions to better understand how you may help a client.
			</div>
		</div>
		<div ng-class="(leadRetrievalFee - vm.promoCodeValue <= 0) ? 'payment_type_inactive': ''">
			<div class="five-free-scans-payment-number-holder">

				<div class="five-free-scans-payment-label">
					Credit Card Number
				</div>
				<div class="five-free-scans-payment-input-holder">
					<input class="inp-data five-free-scans-payment-input" type="text" 
		                data-stripe="number" 
		                maxlength="16" id="CCN"
		                autocomplete="cc-number"
		                ng-blur="vm.checkTypeOfCard()"
		                onkeydown="return ( event.ctrlKey || event.altKey
		                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
		                    || (95<event.keyCode && event.keyCode<106)
		                    || (event.keyCode==8) || (event.keyCode==9)
		                    || (event.keyCode>34 && event.keyCode<40)
		                    || (event.keyCode==46) )" 
		                style="margin-left: 94px">
		            <div class="payment-icons-holder">
		                <div class="payment-icon-holder">
		                	<img class = "payment-card-carrier-icon" 
		                		ng-src="{{vm.CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}">
		                </div>
		                <div class="payment-icon-holder">
		                	<img class = "payment-card-carrier-icon"  
		                		ng-src="{{vm.CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}">
		                </div>
		                <div class="payment-icon-holder">
		                	<img class = "payment-card-carrier-icon"  
		                		ng-src="{{vm.CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}">
		                </div>
		                <div class="payment-icon-holder">
		                	<img class = "payment-card-carrier-icon" 
		                		ng-src="{{vm.CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}">
		                </div>
		                <div class="payment-icon-holder">
		                	<img class = "payment-card-carrier-icon"  
		                		ng-src="{{vm.CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}">
		                </div>
		                <div class="payment-icon-holder" 
		                	style="margin-right: 0;margin-bottom: 10px;">
		                    <img class = "payment-card-carrier-icon" 
		                    	ng-src="{{vm.CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}">
		                </div>
		            </div>
				</div>
			</div>
			<div class="five-free-scans-payment-number-holder five-free-scans-payment-number-holder-expiration">
				<div class="five-free-scans-payment-label">
					Expiration Date
				</div>
				<div class="five-free-scans-payment-input-holder">
					<input class="inp-data five-free-scans-expiration-input" type="text" 
		                data-stripe="exp" 
		                ng-change="vm.autoFormatExp()"
		                ng-model="vm.expirationDate"
		                placeholder="MM/YY"
		                autocomplete="cc-exp">
				</div>
			</div>

			<div class="five-free-scans-payment-number-holder five-free-scans-payment-number-holder-cvv">
				<div class="five-free-scans-payment-label">
					CVV
				</div>
				<div class="five-free-scans-payment-input-holder">
					<input class="inp-data five-free-scans-cvv-input" type="text" 
		                data-stripe="cvc" 
		                placeholder="###"
		                autocomplete="cc-csc"
		                onkeydown="return ( event.ctrlKey || event.altKey
		                || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
		                || (95<event.keyCode && event.keyCode<106)
		                || (event.keyCode==8) || (event.keyCode==9)
		                || (event.keyCode>34 && event.keyCode<40)
		                || (event.keyCode==46) )" 
		                style="width: 49px; height: 40px; margin-right: 309px;">
				</div>
			</div>
			<div class="five-free-scans-payment-number-holder five-free-scans-payment-number-holder-cvv">
				<div class="five-free-scans-payment-label">
					Billing Zip Code
				</div>
				<div class="five-free-scans-payment-input-holder">
					<input class="inp-data five-free-scans-zip-input" type="text" 
		                data-stripe="address_zip">
				</div>
			</div>
			<div class="five-free-scans-payment-number-holder five-free-scans-payment-number-holder-cvv">
				<div class="five-free-scans-payment-label">
					Name on Card
				</div>
				<div class="five-free-scans-payment-input-holder">
					<input class="inp-data five-free-scans-name-input" type="text"
		                autocomplete="cc-name"
		                data-stripe="name">
				</div>
			</div>
		</div>
		<div class="five-free-scans-payment-number-holder five-free-scans-payment-number-holder-cvv">
			<div class="five-free-scans-payment-label">
				Promo Code
			</div>
			<div class="five-free-scans-payment-input-holder">
				<input ng-readonly="(vm.promoCodeValue > 0)" ng-model="vm.addedPromoCode" 
					ng-if="!(vm.promoCodeError)"
					class="inp-data five-free-scans-promo-code-input input-error" type="text">
				<input ng-readonly="(vm.promoCodeValue > 0)" ng-model="vm.addedPromoCode"
					ng-if="(vm.promoCodeError)"
					placeholder="Please enter a valid promo code"
					class="inp-data five-free-scans-promo-code-input input-error" type="text">
			</div>
			<div class="five-free-scans-apply-promo-code" ng-click="vm.addPromoCode()"
				ng-if="vm.promoCodeValue <= 0">Apply</div>
			<div class="five-free-scans-apply-promo-code" ng-click="vm.removePromoCode()"
				ng-if="vm.promoCodeValue > 0">Remove</div>
		</div>
		<div class="five-free-scans-payment-disclaimer-footer">
			<div class="five-free-scans-payment-status-holder five-free-scans-payment-number-holder-status">
				<div class="five-free-scans-subtitle-new">
					Payment Terms: By starting your free trial, you understand that on your sixth scan, your credit card will be charged 
						<span ng-if="leadRetrievalFee - vm.promoCodeValue <= 0">0.</span>
						<span ng-if="leadRetrievalFee - vm.promoCodeValue > 0">
							{{(leadRetrievalFee - vm.promoCodeValue) | currency:"$"}}.
						</span>
						No refunds for Expo Pass Lead Retrieval.
				</div>
			</div>
		</div>
		<div class="five-free-scans-payment-buttons">
			<div class="five-free-scans-payment-cancel" ng-click="closeThisDialog()">
				Cancel
			</div>
			<div class="five-free-scans-payment-submit start-trial-button" 
				ng-click="vm.purchaseFiveFreeScans(closeThisDialog)">
				<span ng-if="leadRetrievalFee - vm.promoCodeValue > 0">Start Trial</span>
				<span ng-if="leadRetrievalFee - vm.promoCodeValue <=0">Sign up</span>
			</div>
		</div>
	</form>
	<div ng-if="vm.processingPayment" class="five-free-scans-spinner">
		<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
	</div>
</div>