<div class="exhibitors-details" style="overflow-y:auto; height: calc(100vh - 77px); padding-left: 40px;"
    ng-if="!(!vm.hasInitialPayment && (vm.exhibitor.payment_status =='none' || vm.exhibitor.payment_status =='payment_error') && vm.exhibitor.five_free_scans)">
    <div class="payments-head">Lead Retrieval</div>
    <div class="payments-subtitle" style="width:50%">Purchasing this will allow your team to acquire new leads by scanning their badges directly from the Expo Pass mobile app. Five users are included in this package - more may be purchased for ${{vm.conference.exhibitor_user_fee}}.00 per additional user.</div>
    <div class="payment-type-holder" ng-class="(vm.hasInitialPayment==true) ? 'payment_type_inactive' : ''">
        <div class="lead-retrieval-holder">
            <div class="payment-type-content">
                <div class="lead-retrieval-title" ng-if="!vm.exhibitor.five_free_scans">
                    <span ng-if="!vm.hasInitialPayment">Purchase Lead Retrieval for ${{vm.conference.initial_fee + vm.conference.markup_fee}}.00</span>
                    <span ng-if="vm.hasInitialPayment">Already Purchased Lead Retrieval for ${{vm.conference.initial_fee + vm.conference.markup_fee}}.00</span>

                   <div class="lead-retrieval-button" ng-if="vm.leadRetrievalSelected" ng-click="vm.unSelectLeadRetrieval()">
                        <span style="font-size: 14px; position: absolute; margin-left: -30px;"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Selected
                    </div>
                    <div class="lead-retrieval-inactive-button" ng-if="!vm.leadRetrievalSelected" ng-click="vm.selectLeadRetrieval()">
                        Select
                    </div>
                </div>
                <div class="lead-retrieval-title" ng-if="vm.exhibitor.five_free_scans">
                    <span ng-if="!vm.hasInitialPayment"> Lead Retrieval Enabled</span>
                    <span ng-if="vm.hasInitialPayment"> Lead Retrieval Enabled</span>
                    <div class="lead-retrieval-button" ng-if="vm.leadRetrievalSelected" ng-click="vm.unSelectLeadRetrieval()">
                        <span style="font-size: 14px; position: absolute; margin-left: -30px;"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Selected
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-type-holder" style="margin-bottom:20px; margin-top: 20px;">
        <div class="payment-type" style="border: 1px solid #cdcdcd; cursor: default;">
            <div class="payment-type-content">
                <div class="payment-type-title">
                    Purchase Additional App Users
                </div>
                <div class="payment-type-subtitle" style="line-height: 18px;">
                    Add additional team members who can access your company’s<br>exhibitor account via the Expo Pass mobile app.
                </div>
                 <div class="payment-type-subtitle" style="margin-top:30px; padding-bottom: 20px;">
                    <div class="payment-type-subtitle-bold" style="float:left">
                        Add
                    </div>

                    <div class="payment-type-subtitle-bold" style="float:left">
                        <input type="number"
                               min="1"
                               class="exhibitor-user-payment-markup-input"
                               ng-model="vm.additionalUsers"/>
                    </div>

                    <div class="payment-type-subtitle-bold" style="float:left; margin-left:20px;">
                        more users (${{vm.conference.exhibitor_user_fee}}.00 per user)
                    </div>

                    <div class="lead-retrieval-button" ng-if="vm.additionalUsersSelected" ng-click="vm.unSelectAdditionalUsers()">
                        <span style="font-size: 14px; position: absolute; margin-left: -30px;"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Selected
                    </div>
                    <div class="lead-retrieval-inactive-button" ng-if="!vm.additionalUsersSelected" ng-click="vm.selectAdditionalUsers()">
                        Select
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-type-holder" style="margin-bottom:20px; margin-top: 20px;">
        <div class="next-btn-holder" style="border:0px solid black">
                <div class="payment-type-content" style="border:0px solid black">
                    <div class="next-button" ng-click="vm.openExhibitorUserPaymentForm()"
                        ng-class="!(vm.leadRetrievalSelected || vm.additionalUsersSelected) ? 'payment_type_inactive':''">
                        Next
                    </div>
                </div>
        </div>

    </div>
    <div class="five-free-scans-exhibitor-promo-lead-retrieval"
        ng-if="vm.hasInitialPayment || (vm.exhibitor.payment_status=='card_stored')">
        <div class='exhibitor-promo-title-small-head' style="margin-top:0px;">
            Start Scanning Leads
        </div>
        <div class='exhibitor-promo-subtitle-small'>
            The Expo Pass smartphone app is your scanning device. Download the app from the Google Play or Apple App Store.
        </div>
        <div class='exhibitor-promo-subtitle-small'>
             Search the App Store for "Expo Pass".
        </div>
        <div class='exhibitor-promo-badges'>
            <a href='https://play.google.com/store/apps/details?id=io.expopass.expo&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                target='_blank'>
                <img alt='Get it on Google Play'
                    src='/assets/images/five-free-scans/google_play.png'
                    style="width: 170px;"/>
            </a>

            <a href="https://itunes.apple.com/us/app/expo-pass/id921625648?mt=8&at=10l6Xd&ct=j4tsmhj0rq00xkod01g9a"
                target='_blank'>
                <img alt='Available on the App Store' src='/assets/images/five-free-scans/ios_app_store.png'
                    style="width: 200px;"/>
            </a>
        </div>
    </div>
</div>
<div ng-if="!vm.hasInitialPayment && (vm.exhibitor.payment_status =='none' || vm.exhibitor.payment_status =='payment_error') && vm.exhibitor.five_free_scans"
        ng-init="vm.setUpFiveFreeScans('go_to_home')">
</div>
