<div class="five-free-scans-payment-terms-holder five-free-scans-payment-terms">
	<p>Payment Terms: By starting your free trial, you understand that on your sixth scan, your credit card will be charged {{ leadRetrievalFee - vm.promoCodeValue | currency:"$"}}
	</p>
	<p>
		No refunds for Expo Pass Lead Retrieval.
	</p>
	
</div>