<div class="conference-users-body">
    <div class="conference-users-head">
        <form name="search-email">
            <input id="sendEmail" type="email" name="input-email" ng-model="vm.invitedUser.invited_user_email" placeholder="Enter User Email Address to Add"  
                class="conference-users-search"
                ng-if="vm.permissionsForUsers()" 
                ng-change=" (vm.invitedUser.invited_user_email === '') ? vm.searchEmail = false : 
                (vm.invitedUser.invited_user_email.indexOf('@') > -1 ?
                vm.typeInvitedUserEmailAddress() : vm.searchEmail = false)"  
            />
        </form>
        <div class="conference-users-permissions-btn" 
            ng-class="(vm.usersPermissionsPane || vm.verifySingleUserChecked() || vm.searchEmail) ? 'active' : ''" 
            ng-click="(vm.verifySingleUserChecked() || vm.searchEmail) ? vm.usersPermissions() : ''" style="pointer-events: none;">
            HAS PERMISSION TO...
            <i class="fa fa-sort" aria-hidden="true" style="color: #cdcdcd; font-size: 18px; margin-left: 6.5px;"
            ng-class="(vm.usersPermissionsPane || vm.verifySingleUserChecked() || vm.searchEmail) ? 'active-color-icon' : ''"></i>
        </div>
        <div ng-if="(vm.exhibitor.user_slots > vm.exhibitorUsers.length + 1) && vm.permissionsForUsers()"
            class="conference-users-add-btn" ng-click="vm.searchEmail ? vm.addUser() : ''" ng-class="vm.searchEmail ? 'active' : ''" style="pointer-events: none;">
            ADD USER
        </div>
       <!--  <div ng-if="(vm.exhibitor.user_slots <= vm.exhibitorUsers.length + 1) && vm.permissionsForUsers()"
            class="conference-users-add-btn active" ng-click="vm.openExhibitorUsersPurchaseForm()">
            BUY USERS
        </div> -->
        <div class="default-icon-circle" 
            ng-if="vm.userChecked && vm.verifyCurrentUser() && vm.permissionsForUsers()" ng-click='vm.deleteSelectedUsers()'
            style="margin-top: 16px; float:left; margin-left: 16px; background-color: #fffde6;">
            <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
        </div>

        <div ng-if="vm.usersPermissionsPane==true" class="exhibitor-users-permissions-pane" id="conference-users-permissions-id" click-outside="vm.usersPermissions()">
            <div class="permission-options">
                <div style="margin-top: 15px; margin-left:15px">
                    <div style="height:50px;" class="permission-option" ng-click="vm.changePermission('edit_company_profile')"
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''">
                        <div class="checkbox-ico" ng-class="vm.userPermissions['edit_company_profile'] ? 'active' : ''">
                        </div>
                        <div class="permission-text">Edit Company Profile</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('scan_leads')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions['scan_leads'] ? 'active':''"></div>
                        <div class="permission-text">Scan Leads</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('manage_leads')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions['manage_leads'] ? 'active':''"></div>
                        <div class="permission-text">Manage Leads</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('download_leads')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions['download_leads'] ? 'active':''"></div>
                        <div class="permission-text">Download Leads</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row" style="align-items: center; padding: 0 38px 5px 15px;" 
        ng-if="(vm.exhibitor.user_slots <= vm.exhibitorUsers.length + 1) && vm.permissionsForUsers()">
        <p style="font-size: 16px;" class="medium">You've reached your maximum number of complimentay users. More may be added for $50.00 per aditional user.</p>
        <div style="margin-top: 0; background-color: #68aa3b; margin-left: auto;" 
            class="conference-users-add-btn active" ng-click="vm.openExhibitorUsersPurchaseForm()"> 
            PURCHASE
        </div>
        <div class="conference-trash-button" ng-if="vm.userChecked && vm.verifyCurrentUser() && vm.permissionsForUsers()" style="margin-top: 0; margin-left: 10px;" 
            ng-click='vm.deleteSelectedUsers()'>
            <div class="conference-trash-icon"></div>
        </div>
    </div>
    <div class="conference-users-table-head">
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check" >
                <div class="checkbox-ico" ng-class="vm.checkAllUsers ? 'active':''" ng-if="vm.permissionsForUsers() && vm.exhibitorUsers.length > 1" ng-click="vm.checkAll(vm.exhibitorUsers)"></div>
                <div class="permission-text medium" 
                    ng-click="vm.sortBy(vm.conferenceUsers, 'user', vm.userOrderAsc); vm.userOrderAsc = !vm.userOrderAsc">User</div>
                <div ng-class="vm.userOrderAsc ? conference-table-order-icon : ''" 
                    ng-click="vm.sortBy(vm.conferenceUsers, 'user', vm.userOrderAsc); vm.userOrderAsc = !vm.userOrderAsc"></div>
            </div>
        </div>
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check medium">
                Email
            </div>
        </div>
    </div>
    <div style="overflow-y:auto; float:left; width:100%;  height: 62vh;">
        <div ng-repeat="user in vm.exhibitorUsers" class="conference-users-table-body scroller" ng-click="vm.checkOne(user, 'user')"
             ng-class="user.checked ? 'active':''">
            <div style="width:50%; float:left" class="conference-users-table-div">
                <div class="conference-user-check">
                    <div class="checkbox-ico" ng-class="user.checked ? 'active':''" ng-if="vm.permissionsForUsers()"></div>
                    <div ng-if="user.user">
                        <useravatar image="user.user.profile_url"
                                    firstname="user.user.first_name"
                                    lastname="user.user.last_name">
                        </useravatar>
                        <div class="permission-text demi">{{user.user.first_name + ' ' + user.user.last_name}}</div>
                    </div>
                    <div ng-if="!user.user">
                        The invitation was sent to {{user.invited_user_email}}
                    </div>
                </div>
            </div>
            <div style="width:50%; float:left;" class="conference-users-table-div">
                <div ng-if="user.user" class="conference-user-check medium" style='margin-left: 24px;'>
                    {{user.invited_user_email}}
                </div>
            </div>
        </div>
        <!--<div style="padding: 21px; line-height: 57px;">-->
            <!--{{vm.conferenceUsers.length + 1}}/{{vm.conference.nr_user_slots}} Used-->
        <!--</div>-->

        <div ng-if="vm.conferenceUsers.length <= 0" class="table-custom-no-items">
            There are no users at this time
        </div>
    </div>
</div>