<div class="warning-screen">
	<div><img src="/assets/images/warning-sign.png"></div>
	<div ng-if="$parent.type!='partial'">Are you sure that you want to delete all
		<br/>{{$parent.resource}}? This will permanently remove
		<br/>them from your conference.
	</div>

	<div ng-if="$parent.type=='partial' && $parent.nrUsers > 1">Are you sure that you want to delete these<br/> {{$parent.nrUsers}} {{$parent.resource}}? This will permanently remove<br/>them from your conference.</div>
	<div ng-if="$parent.type=='partial' && $parent.nrUsers == 1">Are you sure that you want to delete this<br/> {{$parent.resource}}? This will permanently remove<br/>the {{$parent.resource}} from your conference.</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="$parent.type!='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" 
			ng-click="$parent.removeExhibitorUsers([], true); closeThisDialog();">Delete All</md-button>
			<md-button ng-if="$parent.type=='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" 
			ng-click="$parent.removeExhibitorUsers($parent.ids, false); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>