<generic-data-table configuration="dataTableConfiguration"  shared="sharedInfo" type="'attendee'" ng-if="dataTableConfiguration">

</generic-data-table>
<!-- <div style="position: relative">
    <div class="conference-users-head attendees-head">
        <input type="text" placeholder="Search by last name, company, or email" ng-disabled="isProcessing"
                ng-change="searchAttendees(attendeesSearchQuery)" ng-model-options="{debounce:750}"
                class="conference-users-search" ng-model="attendeesSearchQuery" />
        <div class="conference-user-actions" ng-if="!(selectedAttendees.length > 0)" style="border-radius:0">
            <div class="conference-add-attendees-btn" ng-click="openCreateAttendeeModal($event)" ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees">
                <i class="fa fa-plus-circle" style="font-size: 17px; color: #26a7de; position: relative; top: 2px; right: 16px;" aria-hidden="true"></i>
                ADD ATTENDEE
            </div>
        </div>

        <div ng-if="selectedAttendees.length > 0" class="conference-user-actions">
            <div class="conference-attendees-more-btn pull-left" ng-click="toggleMoreOptionsSelector(showMoreOptions)" ng-class="{'active': showMoreOptions}">
                <div class="rights-select-icon"></div>
                MORE
                <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; left: 43px; top: 2px;"></i>
                <div class="more-options-container">
                  <div class="option" ng-click="createAveryService($event, 'label')">
                    <i class="fa fa-tags"></i>
                    <span>Create Labels</span>
                  </div>
                  <div class="option" ng-click="createAveryService($event, 'badge')">
                    <i class="fa fa-th"></i>
                    <span>Create Badges</span>
                  </div>
                  <div class="option" ng-click="downloadAsCSV($event)" ng-if="$root.userPermissions.admin || $root.userPermissions.downloadAttendeesAsCsv">
                    <i class="fa fa-file-o"></i>
                    <span>Download as .csv</span>
                  </div>
                </div>
            </div>
            <i class="fa fa-trash-o" ng-click="deleteAttendees()" ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees"></i>
        </div>

        <div class="conference-attendees-view-options-btn pull-right" ng-click="toggleLabelSelector(attendeesViewOptionsVisible)"
            ng-class="attendeesViewOptionsPane ? 'active' : ''">
            VIEW OPTIONS
            <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; left: 20px; top: 2px;"></i>
        </div>
        <attendee-label-selector opened="attendeesViewOptionsVisible" custom-fields="$root.conference.custom_fields"></attendee-label-selector>
    </div>
    <div class="attendees-table-head with-shadow">
        <div ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees || $root.userPermissions.downloadAttendeesAsCsv" class="table-head-select-icon checkbox-ico" ng-click="toggleSelectAll()" ng-class="{'active': allAttendeesSelected}" >
        </div>
        <div class="attendees-table-head-items-wrapper">
            <div class="attendees-table-head-item profile">
                <div class="text" ng-click="orderByField('first_name')" style="cursor: pointer;">
                  Attendee
                  <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'first_name'"></span>
                </div>
            </div>
            <div class="attendees-table-head-item" ng-repeat="field in selectedFields" style="width:{{69/selectedFields.length}}%;">
                <div class="text" ng-click="orderByField(field.code)" style="cursor: pointer;">
                    {{field.name}}
                    <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == field.code"></span>
                </div>
            </div>

            <div class="attendees-table-head-item qr">
                <div class="text">QR Code</div>
            </div>
        </div>
    </div>
    <div class="attendees-list-wrapper" scrolly="getMoreAttendees(currentPageOfAttendees)">
        <attendee-table-item ng-repeat="attendee in attendees"></attendee-table-item>
        <div ng-if="attendees.length <= 0" class="table-custom-no-items">
            There are no attendees at this time
        </div>
    </div>
</div> -->
