.attendees-head {
    border-bottom: 1px solid #cdcdcd;
    position: relative;
    z-index: 2;
    background-color: white;
    // overflow: hidden;
}

.attendees-head .conference-user-actions:before {
  content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.attendees-head .conference-user-actions .fa.fa-trash-o {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
	color: #26a7de;
	background-color: #FFFDE7;
	transition: color .2s ease, background-color .2s ease;
	cursor: pointer;
}

.attendees-head .conference-user-actions .fa.fa-trash-o:hover {
  color: white;
	background-color: red;
}

.attendees-table-head {
    width: 100%;
    height: 65px;
    background-color: #edf0f2;

    padding-left: 1%;
    padding-right: 1%;

    box-sizing: border-box;

    border-bottom: 1px solid #cdcdcd;

    position: relative;
    z-index: 1;

    overflow: hidden;
}

.attendees-table-head.with-shadow {
  box-shadow: -5px 9px 17px -10px #a5a5a5;
}

.attendees-table-head.with-shadow .table-head-select-icon.checkbox-ico {
  cursor: pointer;
}

.table-head-select-icon {
    margin-right: 0;
    margin-top: 22px;
}

.attendees-table-head-items-wrapper {
    height: 65px;
    line-height: 65px;

    width: calc(100% - 40px);
    margin-left: 40px;

    font-size: 0;
}

.attendees-table-head-item {
    display: inline-block;
    vertical-align: middle;

    padding-right: 10px;
    box-sizing: border-box;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    height: 65px;
    line-height: 65px;
}

.attendees-table-head-item .text {
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    color: #4a4a4a;

    display: inline-block;
    vertical-align: middle;

    height: 65px;
    line-height: 65px;
}

.attendees-table-head-item .sort-icon {
    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;
}


.attendees-table-head-item.profile {
    width: 20%;
}

.attendees-table-head-item.qr {
    width: 10%;
    text-align: center;
}

.attendees-table-head-item.qr canvas {
  margin-top: 17px; //for some reason i cannot center it vertically
}

.attendees-list-wrapper {
    height: calc(100vh - 64px - 66px - 75px);
    overflow: hidden;
    overflow-y: scroll;

    position: relative;
    z-index: 0;

}

.attendees-list-wrapper .attendees-table-head {
    background-color: #fafafa;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;

    cursor: pointer;

    transition: background-color .3s ease;
}

.attendees-list-wrapper .attendees-table-head {
    border-top: 0px solid transparent;
}

.attendees-list-wrapper .attendees-table-head-item .text {
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attendees-table-head-item.profile .text{
   width: calc(100% - 35px - 6px);
}

.attendees-table-head-item.profile .avatar-wrapper {
    display: inline-block;
    vertical-align: middle;

    width: 35px;
    height: 35px;

    background-color: #d8d8d8;

     border-radius: 100%;
     margin-right: 6px;
}




.attendees-table-head-item.profile .avatar-wrapper .admin-text-icon {
    height: 35px;
    width: 35px;

    color: #4a4a4a;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    background-size: 140%;
    background-position: center center;
    border-radius: 50%;
}

.attendees-table-head-item.profile.bold .text {
    font-family: "AvenirNextLTPro-Demi";
}

.attendees-list-wrapper .attendees-table-head:hover {
    background-color: #8bd0ef;
}

.conference-attendees-more-btn .more-options-container {
  background: white;
  box-shadow: 0 2px 4px 0 #0000007f;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;

  transition: opacity .2s ease, visibility .2s ease, transform .2s ease;

}

.conference-attendees-more-btn.active .more-options-container {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.more-options-container .option {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 55px;
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 2px solid #cdcdcd;

  transition: color .2s ease, background-color .2s ease;
}

.more-options-container .option:last-child {
  border-bottom: 0px solid transparent;
}

.more-options-container .option .fa {
  font-size: 18px;
  color: #4a4a4a !important;
  margin-right: 6px;
  transition: color .2s ease;
}

.more-options-container .option:hover {
  color: white;
  background-color: #4a4a4a;
}

.more-options-container .option:hover .fa {
  color: white !important;
}
