@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?4xxyls');
  src:  url('assets/fonts/icomoon.eot?4xxyls#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?4xxyls') format('truetype'),
    url('assets/fonts/icomoon.woff?4xxyls') format('woff'),
    url('assets/fonts/icomoon.svg?4xxyls#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send-to-front2 .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-send-to-front2 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-to-front2 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-send-to-front2 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-to-front2 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 176, 231);
}
.icon-send-to-front2 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back2 .path1:before {
  content: "\e906";
  color: rgb(0, 176, 231);
}
.icon-send-to-back2 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back2 .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-send-to-back2 .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back2 .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-send-to-back2 .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-forward2 .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-send-forward2 .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-forward2 .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 176, 231);
}
.icon-send-forward2 .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-backward2 .path1:before {
  content: "\e910";
  color: rgb(0, 176, 231);
}
.icon-send-backward2 .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-send-backward2 .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-send-backward2 .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
