<div class="flex-column add-speaker-modal">
    <p class="demi" style="font-size: 20px;">New Speaker</p>
    <div class="flex-column">
        <div class="flex-row" ng-repeat="field in vm.sessionSpeakerFields">
            <p class="demi" style="font-size: 14px;" ng-class="field.code == 'biography' ? 'speaker-biography-field' : ''">
                {{field.label}}
                <span style="color: #f58a1c; font-size: 14px;" ng-if="field.code == 'first_name' || field.code == 'last_name' 
                    || field.code == 'email'">*</span>
            </p>
            <input type="text" ng-model="vm.conferenceSpeakerModel[field.code]" class="medium" ng-if="field.code != 'biography'" style="font-size: 14px;">
            <textarea ng-model="vm.conferenceSpeakerModel.biography" ng-if="field.code == 'biography'"></textarea>
        </div>
        <div class="flex-row">
            <p class="demi" style="font-size: 14px;">Speaker Photo</p>
            <div class="flex-row" style="align-items: center; width: 294px; ">
                <img ng-src="{{vm.conferenceSpeakerModel.headshot_url ? vm.conferenceSpeakerModel.headshot_url : '/assets/images/default-profile-img.png'}}">
                <p class="medium cursor" style="font-size: 14px; color: #26a7de;"
                    ngf-select="vm.uploadSpeakerProfilePhoto($files);"
                    class="add_attendee_upload_link medium"
                    ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
                    ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    Upload from computer
                </p>
            </div>
        </div>
        <p class="medium" style="font-size: 12px; color: #f58a1c;">*Required</p>
    </div>
    <div class="flex-row">
        <div class="medium cursor" style="font-size: 14px;" ng-click="closeThisDialog()">Cancel</div>
        <div class='cursor' ng-click="vm.saveConferenceSpeakerData('dialog')">SAVE</div>
    </div>
</div>