<div class="add-session-holder" ng-class="(vm.newSessionItem.id==undefined) ? 'add-session-holder-new': 'add-session-holder'" id="add-session-holder">
    <div class="conference-session-form">
        <div class="conference-session-form-holder" style="border-bottom-style: none; padding-bottom: 17px;">
            <div class="conference-session-details-title">
                <div class="conference-session-details-title-text">
                   Add Session Details
                </div>
                <div class="conference-session-details-title-text-right">
                    *Required
                </div>
            </div>
            <div class="session-form-holder flex-row">
                <div class="session-form-holder-block">
                    <div class="session-form-holder-block-item">
                    <form name="form1">
                        <label for="title" class="session-form-label">Title<span style="color: orange">*</span></label>
                        <input type="text" id="title" name="title" ng-model="vm.newSessionItem.title" class="session-form-input"
                            style="border-radius: 5px;" />
                    </form>
                    </div>
                    <div class="session-form-holder-block-item" style="position: relative;">
                        <form name="form_to">
                            <label for="starts_at" class="session-form-label">Start Time<span style="color: orange">*</span></label>
                            <i class="fa fa-clock-o input-icon-add-session" aria-hidden="true"></i>
                            <input id="starts_at"
                                   name="time_from"
                                   change="vm.recalculateSessionEndsAtMax(newValue, oldValue)"
                                   class="session-date-input"
                                   moment-picker="vm.newSessionItem.starts_at_editable"
                                   min-date="vm.conference.date_from_editable"
                                   max-date="vm.conference.date_to_editable"
                                   start-view="day"
                                   start-date="vm.newSessionItem.session_day"
                                   placeholder="Starts At"
                                   ng-readonly="true"
                                ng-model="vm.newSessionItem.starts_at_editable" class="session-form-input-small" format="MMM D, YYYY LT" />
                        </form>
                    </div>
                    <div class="session-form-holder-block-item" style="position: relative;">
                        <form name="form_to">
                            <label for="starts_at" class="session-form-label">End Time
                                <span style="color: orange">*</span></label>
                            <i class="fa fa-clock-o input-icon-add-session" aria-hidden="true"></i>
                            <input  id="ends_at"
                                    name="time_to"
                                    ng-model="vm.newSessionItem.ends_at_editable"
                                    class="session-form-input-small session-date-input"
                                    moment-picker="vm.newSessionItem.ends_at_editable"
                                    start-date="vm.newSessionItem.session_day"
                                    ng-if="vm.newSessionItem.starts_at_editable"
                                    min-date="vm.newSessionItem.starts_at_editable"
                                    max-date="vm.newSessionItem.starts_at_editable_end"
                                    ng-readonly="true"
                                    validate="true"
                                    placeholder="Ends At"
                                start-view="day" format="MMM D, YYYY LT" />
                            <input  id="ends_at"
                                    name="time_to"
                                    ng-model="vm.newSessionItem.ends_at_editable"
                                    class="session-form-input-small session-date-input"
                                    moment-picker="vm.newSessionItem.ends_at_editable"
                                    start-date="vm.newSessionItem.session_day"
                                    ng-if="!vm.newSessionItem.starts_at_editable"
                                    min-date="vm.conference.date_from_editable"
                                    max-date="vm.conference.date_to_editable"
                                    ng-readonly="true"
                                    validate="true"
                                    placeholder="Ends At"
                                start-view="day" format="MMM D, YYYY LT" />
                        </form>
                    </div>
                    <div class="session-form-holder-block-item">
                        <form name="form_from">
                            <label for="location" class="session-form-label">Location<span style="color: orange">*</span></label>
                            <input type="text" id="location" name="location" ng-model="vm.newSessionItem.location" class="session-form-input"
                            style="border-radius: 5px;"/>
                        </form>
                    </div>
                    <div class="session-form-holder-block-item">
                        <form name="form3">
                            <label for="session_type" class="session-form-label">Session Type<span style="color: orange">*</span></label>
                            <select style="
                                width: calc(60% + 13px);
                                box-sizing: border-box;
                                height: 44px;
                                padding-left: 10px;
                                background-color: white;
                                border: 1px solid #cdcdcd;
                                color: #4a4a4a;
                                border-radius: 5px;"
                                ng-model="vm.newSessionItem.session_type"
                                id="session_type"
                                ng-options="option.name for option in vm.sessionTypeOptions track by option.id">
                            </select>
                        </form>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <form name="form4">
                            <label for="maximum_capacity" class="session-form-label">Maximum Capacity</label>
                            <input type="number" id="maximum_capacity" name="maximum_capacity" ng-model="vm.newSessionItem.max_capacity"
                            class="session-form-input" aria-required='true' style="width: 7%; border-radius: 5px;" min="0" max="7000000000"/>
                        </form>
                    </div>
                    <div ng-repeat="session_custom_field in vm.sessionCustomFieldsPerConference" class="session-form-holder-block-item">
                        <form name="{{'custom-fields-form-' + $index}}" ng-class="session_custom_field.type == 2 ? 'display-flex-custom-field' : ''">
                            <label for="session_custom_field.id" class="session-form-label">{{session_custom_field.name}}</label>
                            <input type="text" id="{{'session_custom_field_' + $index}}" name="session_custom_field.name"
                            ng-model="vm.newSessionItem['custom_fields'][session_custom_field.id]" class="session-form-input" ng-if="session_custom_field.type == 1"
                            style="border-radius: 5px;"/>
                            <select style="padding-left: 10px; border-radius: 5px; width: calc(60% + 12px);"
                                ng-if="session_custom_field.type == 3"
                                class="session-form-input"
                                ng-model="vm.newSessionItem['custom_fields'][session_custom_field.id]">
                                <option value="{{option.value}}"
                                    ng-repeat="option in session_custom_field.customsessionfieldoption_set"
                                        ng-selected="option.value==vm.newSessionItem['custom_fields'][session_custom_field.id]">
                                    {{option.value}}
                                </option>
                            </select>
                            <select
                                style="border-radius: 5px; width: calc(60% + 13px); height: 100px"
                                ng-if="session_custom_field.type == 2"
                                class="session-form-input"
                                multiple
                                ng-model="vm.newSessionItem['custom_fields'][session_custom_field.id]">

                                <option value="{{option.value}}"

                                    ng-repeat="option in session_custom_field.customsessionfieldoption_set"
                                        ng-selected="vm.newSessionItem['custom_fields'][session_custom_field.id].split(',').indexOf(option.value) > -1">
                                    {{option.value}}
                                </option>
                            </select>
                        </form>
                    </div>
                    <div class="flex-row" style="align-items: center; min-height: 40px;">
                        <p class="demi" style="font-size: 14px;">Validate Registrants?</p>
                        <div class="flex-row validate-registrants-buttons" style="margin-left: 147px; margin-bottom: 0;">
                            <div class="cursor"
                                ng-click="vm.newSessionItem.validate_registrants = false;"
                                ng-class="vm.newSessionItem.validate_registrants == false ? 'validate-registrants-status' : ''">
                                <img src="/assets/images/checked-ico.png" style="width: 10px; position: relative; right: 20px;"
                                    ng-if="vm.newSessionItem.validate_registrants == false">NO</div>
                            <div class="cursor" style="margin-left: 10px; width: 102px;"
                                ng-click="vm.newSessionItem.validate_registrants = true;"
                                ng-class="vm.newSessionItem.validate_registrants == true ? 'validate-registrants-status' : ''">
                                <img src="/assets/images/checked-ico.png" style="width: 10px; position: relative; right: 20px;"
                                    ng-if="vm.newSessionItem.validate_registrants == true">YES</div>
                        </div>
                    </div>
                </div>
                <div class="session-form-holder-block">
                    <textarea
                        ng-model="vm.newSessionItem.description"
                        style="padding: 10px; resize: none; color: #4a4a4a; height: 95%;"
                        class="session-form-input-big"
                        maxlength="2000"
                        placeholder=" Session Description">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="conference-session-form-holder flex-row" style="justify-content: space-between;">
            <div class="session-form-holder-block-item" style="width: 48%;">
                <div ngf-drop="vm.uploadMaterial($files)" class="drop-box drag-class" style="z-index:99999"
                     ngf-select="vm.uploadMaterial($files)"
                     ngf-max-size="10MB" ngf-min-height="50"
                     ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    <div class="session-drag-drop-materials">
                        <div class="session-drag-drop-materials-text">
                            Drag and drop materials or...
                        </div>
                        <div class="conference-template-upload-btn" ng-class="vm.usersPermissionsPane ? 'active' : ''"
                             style="margin-left: calc((100% - 153px)/2);">
                            <div class="change-picture-upload">CHOOSE FILE...</div>
                        </div>
                    </div>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            </div>
             <div class="session-form-holder-block-item" style="width: 49%;">
                <div class="session-uploaded-materials" style="overflow-y: auto; height: 119px;">
                    <div class="session-uploaded-materials-title">
                        Uploaded files:
                    </div>
                    <div class="session-uploaded-materials-files" ng-if="vm.newSessionItem.id">
                        <div class="session-uploaded-materials-file" ng-repeat="file in vm.newSessionItem.session_files"
                            style="align-items: center;">
                            <i class="fa fa-file-o" aria-hidden="true" style="font-size: 18px; color: #4a4a4a; margin-right: 8px;"></i>
                            <div class="session-uploaded-materials-file-name ellipsis-material"
                                style="width: 13em; margin-right: 8px;">
                                {{file.name}}
                            </div>
                            <div class="default-icon-circle" ng-click="vm.removeSessionFile(file.id)"
                                style="line-height: 27px; width: 25px !important; height: 25px !important; border-color: #9b9b9b;">
                                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 15px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="session-uploaded-materials-files" ng-if="!vm.newSessionItem.id">
                        <div class="session-uploaded-materials-file" ng-repeat="file in vm.newSessionItem.materials">
                            <div class="session-uploaded-materials-file-ico"></div>
                            <div title="{{file.name}}" class="session-uploaded-materials-file-name ellipsis-material">{{file.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conference-session-form-holder">
            <p class="demi" style="font-size: 20px; margin-bottom: 25px; margin-top: 45px;">Speaker(s)</p>
            <p class="medium" style="font-size: 16px; margin-bottom: 28px;">
                Assign speaker(s) to this particular session by dragging and dropping from the list. Then assign one moderator if appropriate to this session.
            </p>
            <div class="flex-row speakers-drag-and-drop-panels">
                <div class="flex-column conference-speakers-drag-panel"
                     data-drop="true"
                     data-jqyoui-options
                     jqyoui-droppable="{multiple:false, onDrop:'vm.speakerDropOut()'}">

                    <div class="flex-row cursor speaker-item-holder" ng-repeat="conference_speaker in vm.currentSessionSpeakersList" ng-click="vm.checkSessionSpeaker(conference_speaker)" ng-class="conference_speaker.checked ? 'ce-checked' : ''"
                         ng-if="vm.speakerNotAlreadyInSession(conference_speaker)"
                         style="cursor: -webkit-grab;"
                         data-drop="true"
                         data-drag="true" jqyoui-draggable="{
                         placeholder:true,
                         index:conference_speaker,
                         onStop:'vm.changeDragStyle2Stop(conference_speaker)',
                         onDrag:'vm.changeDragStyle2(conference_speaker)'}" data-drag="true"
                         data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" data-content="{{conference_speaker}}">

                        <useravatar image="conference_speaker.headshot_url"
                            firstname="conference_speaker.first_name"
                            lastname="conference_speaker.last_name"
                            size="36px">
                        </useravatar>
                        <div class="flex-column">
                            <p class="medium" style="font-weight: bold; font-size: 14px; line-height: 16px;">
                                {{conference_speaker.first_name + ' ' + conference_speaker.last_name}}
                            </p>
                            <p class="medium" style="font-size: 12px; line-height: 16px; margin-top: 1px;">
                                {{conference_speaker.company}}
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cursor session-add-remove-btn" ng-click="vm.addConferenceSpeakerToSession()">
                        <span class="session-add-remove-btn-txt">ADD</span>
                        <span>
                            <i class="fa fa-angle-right" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="cursor session-add-remove-btn" ng-click="vm.removeConferenceSpeakerFronSession()">
                        <span style=" margin-right: 15px; margin-left: 14px;">
                            <i class="fa fa-angle-left" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
                        </span>
                        <span style="margin-left:15px;">REMOVE</span>
                    </div>
                </div>
                <div class="flex-column session-speakers-drop-panel">
                    <p>Speaker(s) Assigned to this Session:</p>
                    <p>Moderator</p>
                    <div class="flex-column" style="height: 100%; overflow-x: hidden;"
                         id="session-speaker-right-panel"
                         data-drop="true"
                         data-jqyoui-options
                         jqyoui-droppable="{multiple:false,
                         onDrop:'vm.speakerDropIn()'}">
                        <div class="flex-row drag-speaker speaker-item-holder" ng-repeat="session_speaker in vm.newSessionItem.sessionspeaker_set"
                            ng-click="vm.checkSessionSpeaker(session_speaker)" ng-class="session_speaker.checked ? 'ce-checked' : ''"
                             style="cursor: -webkit-grab; align-items: center; border-bottom: 1px solid #cdcdcd; padding-top: 9px; padding-bottom: 9px; padding-left: 17px; min-height: 60px;"
                             data-drop="true"
                             data-drag="true" jqyoui-draggable="{
                             placeholder:true,
                             index:session_speaker,
                             onStop:'vm.changeDragStyle2Stop(session_speaker)',
                             onDrag:'vm.changeDragStyle2(session_speaker)'}" data-drag="true"
                             data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}" data-content="{{session_speaker}}">
                            <useravatar image="session_speaker.headshot_url"
                                firstname="session_speaker.first_name"
                                lastname="session_speaker.last_name"
                                size="45px">
                            </useravatar>
                            <div class="flex-column" style="width: 70%;">
                                <p class="medium ellipsis"
                                    style="font-weight: bold; font-size: 14px; width: 100%; line-height: 16px;">
                                    {{session_speaker.first_name + ' ' + session_speaker.last_name}}
                                </p>
                                <p class="medium ellipsis" style="font-size: 12px; width: 100%; line-height: 16px; margin-top: 1px;">
                                    {{session_speaker.company}}
                                </p>
                            </div>
                            <div class="cursor moderator-check" ng-click="vm.setModeratorSpeaker(session_speaker.id); $event.stopPropagation()"
                                ng-class="(vm.newSessionItem.is_moderator == session_speaker.id) ? 'moderator-speaker-checked' : ''">
                                <img ng-if="vm.newSessionItem.is_moderator == session_speaker.id"
                                        src="/assets/images/checked-ico.png"
                                    style="position: relative; top: 8px; left: 9px; width: 12px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <p class="medium" style="font-size: 16px;">
                    If a speaker is not available in the following list, please create a new speaker profile and then add them here.</p>
                <div class="cursor" ng-click="vm.openAddSpeakerModal()" style="line-height: 32px; text-align: center;">
                    <i class="fa fa-plus-circle"
                     style="font-size: 17px; color: #26a7de; position: relative; top: 1px; right: 10px;"
                     aria-hidden="true"></i>
                    CREATE A NEW SPEAKER
                </div>
            </div>
        </div>
        <div class="conference-session-form-holder continuing-education-session-edit" style="padding-top: 42px;">
            <p>Continuing Education</p>
            <p>Add the continuing education type(s) applicable to this particular session.</p>
            <div class="ce-type-tabel">
                <div>
                    <div ng-repeat="conference_ce in vm.all_continuing_educations track by $index" ng-click="vm.checkContinuingEducation(conference_ce)"
                        ng-class="conference_ce.checked ? 'ce-checked' : ''">
                        <p>{{conference_ce.name}}</p>
                    </div>
                </div>
                <div>
                    <div class="cursor" ng-click="vm.addContinuingEducationToSession()">
                        <span>ADD</span>
                        <span>
                            <i class="fa fa-angle-right" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="cursor" ng-click="vm.removeContinuingEducationFromSession()">
                        <span style="margin-right: 28px;">
                            <i class="fa fa-angle-left" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
                        </span>
                        <span>REMOVE</span>
                    </div>
                </div>
                <div>
                    <div ng-repeat="session_conference_ce in vm.newSessionItem.continuing_educations" ng-click="vm.checkContinuingEducation(session_conference_ce)"
                        ng-class="session_conference_ce.checked ? 'ce-checked' : ''">
                        <p>{{session_conference_ce.name}}</p>
                    </div>
                </div>
            </div>
            <div class="create-ce-types">
                <div>
                    <input type="text" placeholder="Create new CE type" ng-model="vm.continuing_education_model.name">
                    <div class="cursor" ng-click="vm.addContinuingEducation()">CREATE</div>
                </div>
                <div>
                    <p>Continuing Education Hours</p><span>*</span>
                    <input type="text" ng-model="vm.newSessionItem.ce_hours">
                </div>
            </div>
        </div>
        <div class="conference-session-form-holder flex-column session-feedback-part" style="padding-top: 43px;">
           <p class="demi" style="font-size: 20px; margin-bottom: 25px;">Session Feedback</p>
           <p class="medium" style="font-size: 16px; margin-bottom: 25px;">Add survey questions to obtain feedback from attendees.</p>
           <div class="flex-column">
               <div class="flex-row" ng-repeat="question in vm.newSessionItem.sessionquestion_set track by $index">
                   <p class="medium" style="font-size: 14px;">Question {{$index + 1}}:</p>
                   <input type="text" placeholder="Enter question..." ng-model="question.text">
                   <div class="flex-row">
                        <div class="flex-column">
                            <div class="flex-row" style="align-items: baseline;">
                                <select ng-model="question.type" class="medium flex-row cursor" style="font-size: 14px;"
                                    ng-change="vm.setQuestionType(question);">
                                    <option ng-repeat="option in vm.sessionQuestionOptionType track by $index" ng-selected="$index == 0" ng-value="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                                <div class="flex-row" style="position: relative; top: 9px;">
                                    <i class="fa fa-minus-circle cursor" style="font-size: 24px; color: #9b9b9b;"
                                        ng-click="vm.removeQuestionFromCurrentSession($index)"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="flex-column options-for-questions">
                                <div class="flex-row" ng-if="question.type != 1"
                                    ng-repeat="type_option in question.sessionquestionoption_set track by $index">
                                    <input type="text" placeholder="{{'Option ' + ($index + 1) + ': Enter answer option...'}}"
                                        ng-model="type_option.value">
                                    <div class="flex-row">
                                        <i class="fa fa-minus-circle cursor"
                                            style="font-size: 24px; margin-left: 14px; color: #9b9b9b;"
                                            ng-if="question.sessionquestionoption_set.length > 1"
                                            ng-click="vm.removeOptionFromQuestion(question, $index)"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-plus-circle cursor" style="font-size: 24px; color: #9b9b9b; margin-left: 14px;"
                                            ng-if="$index == question.sessionquestionoption_set.length - 1"
                                            ng-click="vm.addOptionToQuestion(question)" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
           <div class="demi cursor" style="font-size: 12px;" ng-click="vm.setNewQuestionForCurrentSession()">
                <i class="fa fa-plus-circle"
                    style="font-size: 17px; color: #26a7de; right: 6px; position: relative; top: 2px;"
                    aria-hidden="true"></i>
                ADD A QUESTION
           </div>
        </div>
        <div class="conference-session-save-bar">
            <div class="session-form-holder-block"
                    style="width: calc(100vw - 280px); margin-left: 0; margin-bottom: 90px;">
                <div class="conference-session-cancel-btn" ng-click="vm.cancelNewSession()">
                    Cancel
                </div>
                <div class="conference-session-save-btn" ng-click="vm.createNewSession(vm.newSessionItem, true)"
                    ng-class="vm.saveSessionButtonStatus ? '' : 'unclickable'" style="width: 230px;">
                    SAVE & NEW SESSION
                </div>
                <div class="conference-session-save-btn" ng-click="vm.createNewSession(vm.newSessionItem)"
                    ng-class="vm.saveSessionButtonStatus ? '' : 'unclickable'">
                    SAVE
                </div>
            </div>
        </div>
    </div>
</div>
