<div class="add-conference-exhibitor-model" style="margin-top: calc(50vh - 260px);">
    <p>Add an Exhibitor</p>
    <div class="flex-column">
        <div class="flex-row">
            <p>Company Name<span style="color: orange">*</span></p>
            <input type="text" ng-model="vm.conferenceExhibitorModel.name">
        </div>
        <div class="flex-row">
            <p>Booth Number<span style="color: orange">*</span></p>
            <input type="text" ng-model="vm.conferenceExhibitorModel.booth">
        </div>
        <div class="flex-row">
            <p>Booth Contact First Name</p>
            <input type="text" ng-model="vm.conferenceExhibitorModel.booth_contact_first_name">
        </div>
        <div class="flex-row">
            <p>Booth Contact Last Name</p>
            <input type="text" ng-model="vm.conferenceExhibitorModel.booth_contact_last_name">
        </div>
        <div class="flex-row">
            <p>Booth Contact Email</p>
            <input type="text" ng-model="vm.conferenceExhibitorModel.booth_contact_email">
        </div>
    </div>
    <p>* Required</p>
    <div class="flex-row">
        <div class="cursor" ng-click="closeThisDialog();">Cancel</div>
        <div class="cursor" ng-click="vm.addConferenceExhibitor();">SAVE</div>
        <div class="cursor" ng-click="vm.addConferenceExhibitor('another');">SAVE & ADD ANOTHER</div>
    </div>
</div>