<div class="conference-add-custom-fields" ng-init="vm.getAttendeeMaterials()" style="height: 93vh;">
    <div class="conference-add-custom-fields-title">
        Upload Materials
    </div>
    <div class="conference-add-custom-fields-subtitle">
        Provide your attendees with helpful guides and support documents for success.
    </div>

    <div class="conference-add-custom-fields-form">
        <div class="conference-template-head">
            Upload your pdf, doc, txt, xls documents:

        </div>
        <div class="conference-template-upload-btn">
            <div ngf-drop="vm.uploadAttendeeMaterial($files)" class="drop-box drag-class" style="z-index:99999"
                 ngf-select="vm.uploadAttendeeMaterial($files)"
                 ngf-max-size="10MB" ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div class="change-picture-upload">CHOOSE FILE...</div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        <div class="conference-template-uploaded-name" ng-if="vm.attendeeMaterialFile != null">
            {{vm.attendeeMaterialFile.name}}
        </div>

        <div class="conference-custom-fields-save-bar" style="height: 48px; border-top: 1px solid #cdcdcd; clear:both;"
                ng-click="vm.uploadAttendeeMaterialConfirm()">
            <div class="conference-upload-template-btn">
                Upload
            </div>
        </div>
    </div>
</div>
<div class="conference-custom-fields-holder scoller" style="height: 93vh;">
    <div class="conference-custom-fields-head">
        Your Uploaded Materials
    </div>
    <div class="conference-custom-fields-body" style="
            height: calc(100vh - 240px);
            overflow-y: auto;
            overflow-x: hidden;">
        <div class="conference-saved-custom-field flex-row" ng-repeat="attendee_material in vm.attendee_materials" style="padding-bottom: 19px; align-items: center; height: 30px;">
            <i class="fa fa-file-o" aria-hidden="true" style="font-size: 18px; color: #68aa3b"></i>
            <div class="conference-item-name" style="margin-left: 10px; margin-right: auto">
                {{attendee_material.name}}
            </div>
            <div style="margin-top: 27px;" class="delete-ico" ng-click="vm.removeAttendeeMaterial(attendee_material)" ng-show="vm.permissionsForManageAttendees()"></div>
            <div class="default-icon-circle" style="float: right; margin-right: 20px; background-color: #fff;"
                ng-click="vm.removeAttendeeMaterial(attendee_material)" ng-show="vm.permissionsForManageAttendees()">
                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
            </div>
        </div>
    </div>
</div>
