<div class="attendee-search-box" tabindex="1" ng-init="vm.initListWithAttendees()" ng-keydown="vm.detectCtrl($event)" style="height: calc(100vh - 150px);">
	<p ng-if="$parent.sessionAttendeesView">Add Attendee</p>
	<p ng-if="$parent.sessionRegistrantsView">Add Registrant</p> 
	<input type="text" name="attendee_search" ng-change="vm.searchAttendeesForSession()" ng-model-options="{debounce:750}" ng-init="attendee_firstName = ''" 
		ng-model="vm.attendeeQuery" placeholder="Search by first name" style="padding-left: 10px;"/>
	<div class="users-list" scrolly="vm.showMoreAttendees()" style="height: calc(100vh - 400px);">
		<div class="attendee-searched" ng-repeat="attendee in vm.attendeesListForThisSession | SearchAttendeeByFirstName : attendee_firstName" 
			ng-click="vm.checkSessionAttendees(attendee)">
            <div class="attendee-info">
	            <div class="checkbox-ico"
					style="background-position: -2px -4px;"
	             	ng-class="(attendee.sessionRegistrantChecked || attendee.sessionScannedChecked) ? 'active': '' "></div>
	            <div>
					<useravatar 
					   image="attendee.attendee_photo"
                       firstname="attendee.first_name"
                       lastname="attendee.last_name">
                   </useravatar>
	            </div>
	            <div><p>{{attendee.first_name + ' ' + attendee.last_name}}</p></div>
	            <div><p>{{attendee.company_name}}</p></div>
	        </div>
		</div>
		<div ng-if="vm.requestedMoreAttendees" style="padding-left:30px; margin-top:20px; margin-bottom:20px;">
              <img src="assets/images/rolling.gif">
        </div>
        <div ng-if="vm.attendeesListForThisSession.length <= 0 && vm.attendeeQuery === ''" class="table-custom-no-items">
            There are no attendees at this time
        </div>
	</div>
	<md-content>
		<md-button class="md-raised md-primary btnCancel" ng-click="closeThisDialog();">Cancel</md-button>
		<md-button class="md-raised md-primary btnNewAdd" ng-click="vm.addManualSessionAttendee()">New Attendee</md-button> 
		<md-button ng-if="$parent.sessionRegistrantsView" class="md-raised md-primary btnAdd" ng-click="vm.addSessionAttendees()">Add</md-button>
		<md-button ng-if="$parent.sessionAttendeesView" class="md-raised md-primary btnAdd" ng-click="vm.addScannedAttendees()">Add</md-button>
	</md-content>
</div>