<div class="conference-users-body">
    <div class="conference-users-head">
        <input type="text" placeholder="Search Attendees"
               ng-change="vm.searchAttendees()" ng-model-options="{debounce:750}"
               class="conference-users-search" ng-init="attendee_info = ''" ng-model="vm.attendeeQuery"/>

        <div ng-if="vm.permissionsForManageAttendees() && vm.attendeeChecked != true" class="conference-user-actions" style="border-radius:0">
            <div class="conference-add-attendees-btn" ng-click="vm.openForm()">
                <i class="fa fa-plus-circle"
                  style="font-size: 17px; color: #26a7de; position: relative; top: 2px; right: 16px;" aria-hidden="true"></i>
                ADD ATTENDEE
            </div>
        </div>

        <div ng-if="vm.attendeeChecked == true" class="conference-user-actions">
            <div class="conference-attendees-more-btn pull-left" ng-click="vm.attendeesMoreOptions()"
                  ng-class="vm.attendeesMoreOptionsCheck ? 'active' : ''">
                <div class="rights-select-icon"></div>
                MORE
                <i class="fa fa-sort" aria-hidden="true"
                  style="color: #26a7de; font-size: 18px; position: relative; left: 43px; top: 2px;"></i>
            </div>
            <div ng-if="vm.attendeesMoreOptionsCheck" class="conference-attendees-more-options" id="attendee-options-more" click-outside="vm.attendeesMoreOptions();">
                <div class="conference-attendees-more-option" ng-click="vm.openCreateLabelModal()">
                    <div class="conference-option-type">
                        <i class="fa fa-tags" aria-hidden="true" style="font-size: 18px; margin-right: 6px;"></i> Create Labels
                    </div>
                </div>
                <div class="conference-attendees-more-option" ng-click="vm.openCreateBadgeModal()" ng-class="">
                    <div class="conference-option-type">
                        <i class="fa fa-th" aria-hidden="true" style="font-size: 18px; margin-right: 6px;"></i> Create Badges
                    </div>
                </div>
                <div class="conference-attendees-more-option" ng-click="vm.downloadAsCsvImproved()" ng-if="vm.permissionsForDownloadAttendees()">
                    <div class="conference-option-type">
                        <i class="fa fa-file-o" aria-hidden="true" style="font-size: 18px; margin-right: 6px;"></i> Download as .csv
                    </div>
                </div>
            </div>
            <div class="default-icon-circle"
                ng-if="vm.permissionsForManageAttendees()"
                ng-click='vm.deleteSelectedAttendees()'
                style="margin-top: 16px; float:left; margin-left: 16px; background-color: #fffde6;">
                <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
            </div>
        </div>

        <div class="conference-attendees-view-options-btn pull-right" ng-click="vm.attendeesViewOptions(); $event.stopPropagation();"
              ng-class="vm.attendeesViewOptionsPane ? 'active' : ''">
            VIEW OPTIONS
            <i class="fa fa-sort" aria-hidden="true"
              style="color: #26a7de; font-size: 18px; position: relative; left: 20px; top: 2px;"></i>
        </div>
        <div ng-if="vm.attendeesViewOptionsPane" class="attendees-view-options-pane" id="attendee-view-fields-options"  click-outside="vm.attendeesViewOptions()">
            <div style="width:50%; margin-top: 15px; float:left;" ng-repeat="field in vm.viewMoreFields" ng-if="field.code!='qr_code'">
                <div ng-class="(vm.attendeeFields.length > 6 && !(vm.getAttendeeFieldsCode().indexOf(field.id) > -1)) ? 'attendee-view-option-inactive':''"
                    style="height:40px; padding-left:15px;" class="permission-option" ng-click="vm.checkView(field)">
                    <div class="checkbox-ico" ng-class="vm.getAttendeeFieldsCode().indexOf(field.id) > -1 ? 'active':''">
                    </div>
                    <div class="permission-text demi" style="font-size: 12px;">{{field.name}}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="conference-users-table-head">
        <div ng-repeat="field in vm.attendeeFields">
            <div style="width:{{100/vm.attendeeFields.length}}%; float:left; " class="conference-users-table-div">
                <div class="conference-user-check">
                    <div ng-if="field.code=='full_name'" class="attendee-field-item" >

                        <div class="checkbox-ico" ng-class="vm.checkAllAttendees ? 'active':''" ng-click="vm.checkAll(vm.attendees)"
                            ng-if="(vm.permissionsForManageAttendees() || vm.permissionsForDownloadAttendees()) && (vm.attendees.length > 0)">
                        </div>

                        <div class="permission-text"  style="margin-left: 10px;" ng-click="vm.attendees.length > 0 ? vm.sortAttendeesBy('attendee') : ''">Attendee</div>
                        <div class="conference-table-order-icon"
                             ng-click="vm.sortAttendeesBy('attendee')"
                             ng-class="vm.sortOrderAscending==true ? (vm.attendeeFilters.sortBy=='first_name' ? 'ascending active': 'ascending') : (vm.attendeeFilters.sortBy=='first_name' ? 'active': '')" ng-if="vm.attendees.length > 0"></div>
                    </div>

                    <div ng-if="field.code!='full_name'" class="attendee-field-item"
                        ng-click="vm.sortAttendeesBy(field.code || field)">
                        <div class="permission-text">
                            {{field.name}}
                        </div>
                        <div ng-if="(field.code!='qr_code')"
                             class="conference-table-order-icon"
                             ng-class="vm.sortOrderAscending==true ? (vm.attendeeFilters.sortBy==field.code ? 'ascending active': 'ascending') : (vm.attendeeFilters.sortBy==field.code ? 'active': '')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div style="overflow-y: scroll; float: left; width: 100%; height: calc(100vh - 209px);" 
          scrolly="vm.showMoreAttendees()">
       <div ng-repeat="attendee in vm.attendees" class="conference-users-table-body" ng-click="vm.openAttendeeInfo(attendee)"
            ng-class="attendee.checked ? 'active':''" style="cursor: pointer;" >
           <div ng-repeat="field in vm.attendeeFields" id="attendees-scroll-tadble">
               <div style="width:{{100/vm.attendeeFields.length}}%; float:left; overflow: hidden; height: 60px; " class="conference-users-table-div">
                   <div class="conference-user-check">
                       <div ng-if="field.code=='full_name'">
                           <div class="checkbox-ico" ng-class="attendee.checked ? 'active': ''" ng-click="vm.checkOne(attendee, 'attendee'); $event.stopPropagation();"
                              ng-if="(vm.permissionsForManageAttendees() || vm.permissionsForDownloadAttendees())">
                           </div>
                           <useravatar image="attendee.attendee_photo"
                              firstname="attendee.first_name"
                              lastname="attendee.last_name">
                           </useravatar>
                           <div title="{{attendee.first_name + ' ' + attendee.last_name}}"
                            class="permission-text demi ellipsis">{{attendee.first_name + ' ' + attendee.last_name}}</div>
                       </div>
                       <div ng-if="field.code=='qr_code'" style="margin-top:-7px; margin-left:25px;"
                          ng-click="vm.openQRcodeModal(attendee); $event.stopPropagation();">
                          <qr
                            size="34"
                            text="vm.getUserQrCode(attendee)">
                          </qr>
                       </div>
                       <div ng-if="field.code!='full_name' && field.code!='qr_code'">
                           <div class="permission-text">
                               <div ng-if="field.id < 0 && field.code != 'guest_of'">
                                   {{attendee[field.code]}}
                               </div>
                               <div ng-if="field.id < 0 && field.code == 'guest_of'">
                                   {{attendee[field.code].first_name + ' ' + attendee[field.code].last_name}}
                               </div>
                               <div ng-if="field.id >= 0">
                                   <div ng-if="attendee.custom_fields[field.id].custom_attendee_field.type != 2">
                                       {{attendee.custom_fields[field.id].value.toString()}}
                                   </div>
                                   <div ng-if="attendee.custom_fields[field.id].custom_attendee_field.type == 2">
                                       {{attendee.custom_fields[field.id].value.toString()}}
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div ng-if="vm.requestedMoreAttendees" style="padding-left:30px; margin-bottom:30px;">
           <div class="loading-verification" style="width: 40px;">
              <img src="assets/images/rolling.gif" style="margin-top:20px; margin-bottom:20px;">
          </div>
       </div>
       <div ng-if="vm.attendees.length <= 0" class="table-custom-no-items">
           There are no attendees at this time
       </div>
    </div>
</div>
