<div class="attendee-refund-payment flex-column">
    <p class="demi">Refund Payment</p>
    <div class="flex-row">
        <useravatar image="vm.attendee.attendee_photo"
                    firstname="vm.attendee.first_name"
                    lastname="vm.attendee.last_name"
                    size="35px"
                    fontsize="14px">
        </useravatar>
        <p class="demi">{{vm.attendee.first_name + ' ' + vm.attendee.last_name}}</p>
    </div>
    <div class="flex-row">
        <p class="medium">Refund to credit card (...{{vm.attendeePayments.last4}})</p>
        <input type="number" ng-model="vm.refundAmount" ng-blur="vm.forceMaxRefundAmount()">
    </div>
    <div class="flex-row">
        <div ng-class="vm.sendNotificationForRefund ? 'check-refund-notification' : ''" ng-click="vm.sendNotificationForRefund = !vm.sendNotificationForRefund">
            <img ng-if="vm.sendNotificationForRefund" src="/assets/images/checked-ico.png" style=" width: 12px; position: relative; left: 3px; top: 1px;">
        </div>
        <p class="medium cursor">Send notification for refund (optional)</p>
    </div>
    <div class="flex-row">
        <div class="medium cursor" ng-click="closeThisDialog()">Cancel</div>
        <div class="demi cursor" ng-click="vm.refundPayment()">REFUND ${{vm.refundAmount}}</div>
    </div>
</div>