<div class="flex-column conference-social-tags">
    <div>Manage social tags</div>
    <div>Automatically populate your conference's social feed by entering a common hashtag for Facebook, LinkedIn, Twitter<br>
    and Instagram. Note, any user who uses your specific hashtag in their Twitter and Instagram posts will be displayed<br>
    within your conference's social feed.
    </div>
    <div class="flex-column">
        <div class="flex-column">
            <div class="flex-row">
                <p>Social Tag</p>
                <input type="text" placeholder="Enter #hashtag or @username" ng-model="vm.social_tags['social_tag']">
            </div>
        </div>
        <div class="flex-row">
            <div ng-click="vm.updateConferenceSocialTags()" class="cursor">SAVE</div>
        </div>
    </div>
</div>