<div class="payment-modal-type">
    <div class="payment-transactions-head" style="padding-left: 40px;">
        {{$parent.conferenceTransactions.length}} Exhibitor Sign-ups
    </div>
    <div class="payment-transactions-body" style="overflow-y: scroll; border-bottom-style: none;">
        <table style="width:100%" class="payment-transactions-table">
            <thead>
            <tr>
                <th style="width: 220px;" class="medium">
                    <div class="checkbox-ico" ng-class="checkAllBool ? 'active':''" ng-click="$parent.checkAll($parent.conferenceTransactions, $parent.checkAllBool); checkAllBool = (checkAllBool==true) ? false : true;"
                         style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    Date
                </th>
                <th style="padding-left: 0;" class="medium">Company</th>
                <th class="medium">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in $parent.conferenceTransactions">
                <td class="medium">
                    <div class="checkbox-ico" ng-class="transaction.checked ? 'active':''" ng-click="$parent.checkOne(transaction)"  style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    {{transaction.created_at | date:'MMMM d, yyyy'}}
                </td>
                <td style="padding-left: 0;" class="demi">{{transaction.exhibitor_name}}</td>
                <td class="medium">$250.00</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="payment-transactions-data" style="padding-top: 15px; height: 70px; width: 540px; margin-left: auto; margin-right: auto; border-top: 1px solid #cdcdcd;">
        <div class="payment-transactions-data-info" style="float:left; margin-left:120px; margin-right:30px;">
            Charges to your credit card ending in {{$parent.user.last4}}:
            <div class="payment-action-txt" style="padding-top:5px;" ng-click="$parent.changeCreditCard(); closeThisDialog();">
                Change credit card number
            </div>
        </div>
        <div class="payment-transactions-data-total" style="float:left">
            ${{vm.conference.conference_charges.amount/100}}
        </div>
    </div>
    <div class="modal-attendee" style="margin-left: 0px; width: 620px; height: 84px;">
        <md-content class="payment-form-buttons" style="margin-top: 0; border-top: 1px solid #cdcdcd">
            <md-button class="md-raised md-primary btnC" 
                ng-click="$parent.downloadTransactionsAsCsv($parent.conferenceTransactions); closeThisDialog()">
                <img src="/assets/images/file-icon-download.png">
                Download
                </md-button>
            <md-button class="md-raised md-primary btnC" 
                ng-click="$parent.printTransactionsAsCsv($parent.conferenceTransactions); closeThisDialog();" style="float:right;">
                <img src="/assets/images/file-print-ready.png">
                Print</md-button>
        </md-content>
    </div>
</div>