<div class="payment-modal-type" style="width:780px">
    <div class="payment-transactions-head" style="padding-left: 40px;">
        Your Exhibitor Revenue Transactions
    </div>
    <div class="payment-transactions-body" style="overflow-y: auto; border-bottom-style: none;">
        <span style="color: #4a4a4a; font-family: 'AvenirNextLTPro-Regular'; font-size: 14px;  margin-left: 40px; margin-top: 21px;  display: block;">

            {{$parent.nrPending}} Pending Transactions (Next payout date {{$parent.nextPayout.transfer_date | date:'MMMM d, yyyy'}})</span>
        <table style="width:100%" class="payment-transactions-table" ng-if="$parent.nrPending > 0">
            <thead>
            <tr>
                <th style="width: 220px;" class="medium">
                    <div class="checkbox-ico" ng-class="checkAllBoolFuture ? 'active':''" ng-click="checkAllBoolFuture = (checkAllBoolFuture==true) ? false : true; $parent.checkTransactions($parent.conferenceTransactions, checkAllBoolFuture, false); "
                         style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    Date
                </th>
                <th style="padding-left: 0;" class="medium">Company</th>
                <th class="medium">Processing</th>
                <th class="medium">Expo Fee</th>
                <th class="medium">Payout</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in $parent.conferenceTransactions" ng-if="$parent.today < transaction.transfer_date">
                <td class="medium">
                    <div class="checkbox-ico" ng-class="transaction.checked ? 'active':''" ng-click="$parent.checkOne(transaction)"  style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    {{transaction.transfer_date | date:'MM d, yyyy'}}
                </td>
                <td style="padding-left: 0;" class="demi">{{transaction.exhibitor.name}}</td>
                <td class="medium">{{transaction.payment.amount / 100 | currency:"$"}}</td>
                <td class="medium">{{vm.conference.initial_fee | currency:"$"}}</td>
                <td class="medium">{{transaction.payment.amount / 100 - vm.conference.initial_fee | currency:"$"}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="payment-transactions-body" style="overflow-y: auto; border-bottom-style: none;">
        <span style="color: #4a4a4a; font-family: 'AvenirNextLTPro-Regular'; font-size: 14px;  margin-left: 40px; margin-top: 21px;  display: block;">
                {{$parent.nrProcessed}} Completed Transactions</span>
        <table style="width:100%" class="payment-transactions-table" ng-if="$parent.nrProcessed > 0">
            <thead>
            <tr>
                <th style="width: 220px;" class="medium">
                    <div class="checkbox-ico" ng-class="checkAllBoolPrevius ? 'active':''" ng-click="checkAllBoolPrevius = (checkAllBoolPrevius==true) ? false : true; $parent.checkTransactions($parent.conferenceTransactions, checkAllBoolPrevius, true);"
                         style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    Date
                </th>
                <th style="padding-left: 0;" class="medium">Company</th>
                <th class="medium">Processing</th>
                <th class="medium">Expo Fee</th>
                <th class="medium">Payout</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in $parent.conferenceTransactions" ng-if="$parent.today >= transaction.transfer_date">
                <td class="medium">
                    <div class="checkbox-ico" ng-class="transaction.checked ? 'active':''" ng-click="$parent.checkOne(transaction)"  style="margin-right:10px; background-position: -6px -4px;">
                    </div>
                    {{transaction.transfer_date | date:'MM d, yyyy'}}
                </td>
                <td style="padding-left: 0;" class="demi">{{transaction.exhibitor.name}}</td>
                <td class="medium">{{transaction.payment.amount / 100 | currency:"$"}}</td>
                <td class="medium">{{vm.conference.initial_fee | currency:"$"}}</td>
                <td class="medium">{{transaction.payment.amount / 100 - vm.conference.initial_fee | currency:"$"}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="payment-transactions-data" style="padding-top: 15px; height: 70px; width: 679px; margin-left: auto; margin-right: auto; border-top: 1px solid #cdcdcd;">
        <div class="payment-transactions-data-total" style="float:right">
            <span ng-if="parent.totalPayment"> {{parent.totalPayment/100 | currency:"$"}}</span>
            <span ng-if="!payment.totalPayment">$0.00</span>
        </div>
        <div class="payment-transactions-data-info" style="float:right; margin-left:120px; margin-right:30px;">
            Total Exhibitor Revenue Received:
        </div>
        
    </div>
    <div class="modal-attendee" style="margin-left: 0px; width: 780px; height: 84px;">
        <md-content class="payment-form-buttons" style="margin-top: 0; border-top: 1px solid #cdcdcd; width:780px;">
            <md-button class="md-raised md-primary btnC" 
                ng-click="$parent.downloadTransactionsAsCsv($parent.conferenceTransactions); closeThisDialog()">
                <img src="/assets/images/file-icon-download.png">
                Download
                </md-button>
            <md-button class="md-raised md-primary btnC" 
                ng-click="$parent.printTransactionsAsCsv($parent.conferenceTransactions); closeThisDialog();" style="float:right;">
                <img src="/assets/images/file-print-ready.png">
                Print</md-button>
        </md-content>
    </div>
</div>