<div class="conference-cover-screen">
    <div class="conference-cover-screen-header">
        <p class="medium">Manage cover screen</p>
        <p class="medium">Change the appearance of your conference’s cover screen within the Expo mobile application.  Acceptable file formats: .png .jpg and .gif.</p>
    </div>
    <div class="conference-cover-screen-body">
        <div class="conference-cover-screen-actions">
            <div class="cover-screen-conference-logo">
                <p class="demi">Conference Logo</p>
                <p class="medium">Maximum 1900px x 430px</p>
                <div class="flex-row" ng-class="!vm.displayOverlay ? 'unclickable' : ''">
                    <div class="demi cursor" ngf-drop="vm.uploadLogo($files)"
                         ngf-select="vm.uploadLogo($files)"
                         ngf-max-size="10MB" ngf-min-height="50"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false">
                        UPLOAD
                    </div>
                    <p class="medium-bolder cursor" ng-if="vm.temporaryLogoUrlExists" ng-click="vm.revertTemporaryLogo()">Revert</p>
                </div>
            </div>
            <div class="cover-screen-wallpaper">
                <p class="demi">Wallpaper</p>
                <p class="medium">
                    Select one of our default images<br>
                    or upload one from your computer.<br>
                    Recommended: 2048px x 2732px
                </p>
                <div class="flex-row">
                    <div  class="demi cursor" ngf-drop="vm.uploadBackground($files)"
                          ngf-select="vm.uploadBackground($files)"
                          ngf-max-size="10MB" ngf-min-height="50"
                          ngf-drag-over-class="'dragover'" ngf-multiple="false">
                        UPLOAD
                    </div>
                    <p class="medium-bolder cursor" ng-if="vm.temporaryBackgroundUrlExists" ng-click="vm.revertTemporaryBackground()">Revert</p>
                </div>
            </div>
            <div class="cover-screen-overlay-mode">
                <div>
                    <p>Overlay Mode</p>
                    <div style="margin-left: 20px;" class="checkbox-ico cursor" ng-class="vm.displayOverlay ? 'active': ''"
                         ng-click="vm.displayOverlay = !vm.displayOverlay;"></div>
                </div>
                <div class="flex-row" ng-if="vm.displayOverlay">
                    <p class="medium">Dark</p>
                    <md-switch aria-label="true" ng-model="vm.coverScreenOverlay"></md-switch>
                    <p class="medium">Light</p>
                </div>
            </div>
            <div class="cover-screen-overlay-mode" style="margin-top: 30px;">
                <div>
                    <p>Text Color</p>
                </div>
                <div class="flex-row">
                    <p class="medium">Dark</p>
                    <md-switch aria-label="true" ng-model="vm.coverScreenTextColor"></md-switch>
                    <p class="medium">Light</p>
                </div>
            </div>
        </div>
        <div class="conference-cover-screen-mobile-layout">
            <div class="template-wrapper">
                <mobile-template overlay-mode="vm.coverScreenOverlay" display-overlay="vm.displayOverlay" text-color="vm.coverScreenTextColor"
                                 background-default-number="vm.defaultImageIndex" background-images="vm.coverScreensImagesOptions"></mobile-template>
            </div>
        </div>
    </div>
    <div class="conference-cover-screen-footer">
        <div class="medium-bolder cursor" ui-sref="home.conference_details({conference_id: vm.conference_id})">Cancel</div>
        <div class="demi cursor" ng-click="vm.setConferenceCoverScreen(SharedProperties.coverScreenOptions)"
             ng-class="{'unclickable': vm.disableSaveCoverScreenButton}">SAVE</div>
    </div>
</div>