<div class="create-label-modal" style="position: relative" ng-if="!vm.averyUrl" ng-init="vm.testIfHasTemplates(templates)">
	<img src="/assets/images/template-icon.png">
	<div class="avery-text">
		Which {{$scope.templateTypeName}} template do you want to use?
	</div>

	<select class="custom_select" ng-model="vm.averyTemplateFile" ng-options='t.name for t in templates' style="padding-left: 10px;" 
		ng-change="vm.updateAveryFileOption(vm.averyTemplateFile)">
	</select>


	<md-content>
		<md-button class="md-primary nextBtn" ng-click="vm.uploadAttendeesAsCsv();">Next</md-button>
	</md-content>
</div>
<div class="avery-modal" ng-if="vm.averyUrl">
	<img src="/assets/images/file-print-ready.png" />
	<div class="avery-text">
		Your selected attendees are ready.
	</div>
	<div class="avery-text2">
		Go to the Avery wizard to print.
	</div>
	<md-content>
		<md-button class="md-primary goBtn" ng-click="closeThisDialog(); vm.goToAvery();">
			Go
		</md-button>
	</md-content>
</div>