<div class="create-registration-form-header" ng-if="!vm.registrationFormComplete || vm.registration_panel_edit">
	<div class="create-registration-form" ng-if="!vm.registration_panel_edit && !vm.registrationFormComplete">
		<p>Create Registration Form</p>
		<div class="steps-for-registration">
			<div>
				<div ng-class="vm.registrationSteps['attendee_fields_entry_panel'] ? 'registration-step-active': ''">1</div>
				<p>Attendee Fields Entry</p>
			</div>
			<div>
				<div ng-class="vm.registrationSteps['registration_levels_setup_panel'] ? 'registration-step-active': ''">2</div>
				<p>Registration Levels Setup</p>
			</div>
			<div>
				<div ng-class="vm.registrationSteps['registration_level_options_panel'] ? 'registration-step-active': ''">3</div>
				<p>Registration Level Options</p>
			</div>
			<div>
				<div ng-class="vm.registrationSteps['legal_panel'] ? 'registration-step-active': ''">4</div>
				<p>Legal</p>
			</div>
			<div>
				<div ng-class="vm.registrationSteps['review_panel'] ? 'registration-step-active': ''">5</div>
				<p>Review</p>
			</div>
		</div>
	</div>
	<div class="form-overview create-registration-form" ng-if="vm.registration_panel_edit">
		<div class="cursor" ng-click="vm.registrationNextStep('review_panel'); vm.registration_panel_edit = false;">
			<i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; bottom: 2px;"></i>
			<p>{{!vm.registrationFormComplete ? 'Review' : 'Form Overview'}}</p>
		</div>
		<p ng-if="vm.registrationSteps['attendee_fields_entry_panel']">Edit Attendee Fields Entry</p>
		<p ng-if="vm.registrationSteps['registration_levels_setup_panel']">Edit Registration Levels Setup</p>
		<p ng-if="vm.registrationSteps['registration_level_options_panel']">Edit Registration Level Options</p>
		<p ng-if="vm.registrationSteps['legal_panel']">Edit Legal</p>
	</div>
</div>
<div class="create-registration-form-content" ng-class="vm.registrationFormComplete && !vm.registration_panel_edit &&
	vm.registrationSteps['review_panel'] ? 'panel-height' : ''" id="create-registration-form-content">
	<ng-include ng-if="vm.registrationSteps['attendee_fields_entry_panel']"
				src="'app/views/partials/conference/registration-steps/attendee_fields_entry.html'"></ng-include>
	<ng-include ng-if="vm.registrationSteps['registration_levels_setup_panel']"
				src="'app/views/partials/conference/registration-steps/registration_levels_setup.html'"></ng-include>
	<ng-include ng-if="vm.registrationSteps['registration_level_options_panel']"
				src="'app/views/partials/conference/registration-steps/registration_level_options.html'"></ng-include>
	<ng-include ng-if="vm.registrationSteps['legal_panel']"
				src="'app/views/partials/conference/registration-steps/legal.html'"></ng-include>
	<ng-include ng-if="vm.registrationSteps['review_panel']"
				src="'app/views/partials/conference/registration-steps/review.html'"></ng-include>
</div>
