<div class="payment-modal-type" style="width: 244px; padding:20px;">
	<span ngf-drop ng-model="filefile" ngf-pattern="image/*"
          class="add_attendee_upload_link"
          ngf-drag-over-class="'dragover'" ngf-multiple="false"
          class="cropArea">
        abc
            <img-crop image="filefile  | ngfDataUrl" area-type="square"
                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
    </span>
</div>