<perfect-scrollbar class="conference-add-custom-fields scroller">
    <div class="conference-add-custom-fields-title">
        Add custom attendee fields
    </div>
    <div class="conference-add-custom-fields-form">
        <div class="conference-custom-field-head">
            <div class="conference-custom-field-name">
                <input type="text" class="conference-custom-field-text"
                       ng-model="vm.newCustomField.name"
                       placeholder="Custom Field Name (unique)" />
            </div>
            <div class="conference-custom-field-name">
                <div class="conference-custom-field-text-custom" ng-class="vm.customFieldsTypePane==true ? 'active' : (vm.updateCustomFieldBoolean ? 'unclickable' : '')"
                     ng-click="(vm.customFieldsTypePane!=true) ? vm.customFieldsTypePane = true : vm.customFieldsTypePane = false">
                    {{vm.customFieldSelected}}
                    <i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative; float: right; top: 8px;"></i>
                </div>

                <div ng-if="vm.customFieldsTypePane==true" class="custom-field-options-div">
                    <div class="custom-field-option" ng-click="vm.customFieldChose('Text')">
                        Text
                    </div>
                    <div class="custom-field-option" ng-click="vm.customFieldChose('Multiple Choice')">
                        Multiple Choice
                    </div>
                    <div class="custom-field-option" ng-click="vm.customFieldChose('Single Choice')">
                        Single Choice
                    </div>
                </div>
            </div>
        </div>
        <div class="conference-custom-field-options" ng-if="vm.customFieldSelected == 'Multiple Choice' || vm.customFieldSelected == 'Single Choice'">
            <div class="conference-custom-field-head">
                <div ng-repeat="option in vm.newCustomField.options" style="clear:both; padding-bottom: 20px;">
                    <div class="conference-custom-field-name">
                        <input type="text" ng-model="option.value" class="conference-custom-field-text" placeholder="Enter possible value for field" />
                    </div>
                    <div class="conference-custom-field-remove-btn"  ng-click="vm.customFieldRmvOption(option)" style="margin-top: 17px;">
                        <i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="clear:both; padding-bottom: 20px;">
                    <div class="conference-custom-field-name">
                        <input type="text" ng-model="vm.newOption" class="conference-custom-field-text" placeholder="Enter possible value for field" />
                    </div>
                    <div class="conference-custom-field-remove-btn" ng-click="vm.customFieldAddOption()" style="margin-top: 17px;">
                        <i class="fa fa-plus-circle" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="conference-custom-fields-save-bar" style="height: 58px; border-top: 1px solid #cdcdcd; clear:both;">
            <div class="conference-custom-fields-save-btn" ng-click="vm.createCustomField()">
            Save Field
            </div>
            <div ng-if="vm.newCustomField.id" class="conference-custom-fields-save-btn" ng-click="vm.cancelEditField()">
                Cancel
            </div>
        </div>
    </div>
</perfect-scrollbar>
<perfect-scrollbar class="conference-custom-fields-holder scoller" style="height: 93vh;">
    <div class="conference-custom-fields-head">
       {{vm.savedCustomFields.length > 0 ? 'Saved Custom Fields' : 'You have no custom fields'}}
    </div>
    <div class="conference-custom-fields-body" style="
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;">
        <div class="conference-saved-custom-field" ng-repeat="saved_field in vm.savedCustomFields">
            <div class="conference-item-name" style="margin-left: 0;">
                <i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; margin-right: 8px;"></i>
                {{saved_field.name}}
            </div>
            <div class="default-icon-circle" ng-click="vm.getEditCustomField(saved_field)" style="margin-left: auto; margin-right: 10px;">
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
            </div>
            <div class="default-icon-circle" ng-click="vm.deleteCustomField(saved_field)" style="margin-right: 20px;">
                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
            </div>
        </div>
    </div>
</perfect-scrollbar>