<div class="payment-modal-type">
    <div class="payment-transactions-head" style="padding-left: 40px;">
        Push Notification Receipts
    </div>
    <div class="payment-transactions-body" style="overflow-y: scroll; border-bottom-style: none;">
        <table style="width:100%" class="payment-transactions-table">
            <thead>
            <tr>
                <th style="width: 220px;" class="medium">
                    <div class="checkbox-ico" ng-class="checkAllBool ? 'active':''" ng-click="checkAll(conferencePushNotificationPayments, checkAllBool); checkAllBool = (checkAllBool==true) ? false : true;"
                         style="margin-right:10px; background-position: -1px -3px;">
                    </div>
                    Date
                </th>
                <th style="padding-left: 0;" class="medium">Order</th>
                <th class="medium">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in conferencePushNotificationPayments">
                <td class="medium">
                    <div class="checkbox-ico" ng-class="transaction.checked ? 'active':''" ng-click="$parent.checkOne(transaction)"  style="margin-right:10px; background-position: -1px -3px;">
                    </div>
                    {{transaction.created_at | date:'MMMM d, yyyy'}}
                </td>
                <td style="padding-left: 0;" class="demi">
                    <div>{{transaction.nr_credits}} Push Notification Credits</div>
                    <div style="font-size: 12px; color: #666">Charged to your credit card ending in {{transaction.payment.last4}}</div>
                </td>
                <td class="medium">{{transaction.payment.amount / 100 | currency:"$"}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="modal-attendee" style="margin-left: 0px; width: 620px; height: 84px;">
        <md-content class="payment-form-buttons" style="margin-top: 0; border-top: 1px solid #cdcdcd">
            <md-button class="md-raised md-primary btnC" 
                ng-click="downloadTransactionsAsCsv(conferencePushNotificationPayments); closeThisDialog()">
                <img src="/assets/images/file-icon-download.png">
                Download
                </md-button>
            <md-button class="md-raised md-primary btnC" 
                ng-click="printTransactionsAsCsv(conferencePushNotificationPayments); closeThisDialog();" style="float:right;">
                <img src="/assets/images/file-print-ready.png">
                Print</md-button>
        </md-content>
    </div>
</div>