<div style="float: left; height:auto; overflow:hidden; width: 100%;">
    <div class="table-responsive table-responsive-right-border">
        <table class="table">
            <tr>
                <td> 
                    Date
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode==false">
                        {{vm.conference.date_from | date : 'M/d/yyyy':vm.conference.time_zone}} - {{vm.conference.date_to | date : 'M/d/yyyy':vm.conference.time_zone}}
                    </div>
                    <div style="margin-right: 18px; position: relative;" ng-if="vm.editMode==true">
                        <i class="fa fa-calendar input-icon-conference-details" aria-hidden="true"></i>
                        <input 
                               class="conference-detail-date-input"
                               name="date_from"
                               moment-picker="vm.conference.date_from_editable"
                               start-date="vm.conference.date_from_editable"
                               ng-model="vm.conference.date_from_editable"
                               format="M/D/YYYY"
                               ng-readonly="true"
                               start-view="day">
                        <span style="color: #26A7DE; margin-right: 10px; margin-left: 10px;">-</span>
                        <i class="fa fa-calendar input-icon-conference-details" aria-hidden="true"></i>
                        <input 
                                class="conference-detail-date-input"
                                moment-picker="vm.conference.date_to_editable"
                                name="date_to"
                                start-date="vm.conference.date_to_editable"
                                ng-model="vm.conference.date_to_editable"
                                min-date="vm.conference.date_from_editable"
                                format="M/D/YYYY"
                                ng-readonly="true"
                                start-view="day">
                    </div>
                </td>
                <td ng-if="!vm.editMode" style="margin-right: 20px;">
                    <div ng-if="vm.hasEditButton()" class="default-icon-circle" ng-click="vm.action('details')" style="border-color: #9b9b9b">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td> 
                    Venue
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.venue}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <input class="conf-imp-fixed" name="venue" type="text" ng-model="vm.conference.venue" aria-reuqired='true'  ng-class="form.venue.$touched &&
                         form.venue.$invalid ? 'required' : ''" 
                        placeholder="{{form.venue.$invalid && form.venue.$touched ? 'Venue Required' : ''}}"/>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Venue Phone Number
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.venue_phone_number}}
                    </div>
                    <div ng-if="vm.editMode==true">
                        <input class="conf-imp-fixed" type="text" ng-model="vm.conference.venue_phone_number"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Street Address
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.street}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <input class="conf-imp-fixed" name="street_address" type="text" ng-model="vm.conference.street" aria-reuqired='true'  ng-class="form.street_address.$touched &&
                         form.street_address.$invalid ? 'required' : ''" 
                        placeholder="{{form.street_address.$invalid && form.street_address.$touched ? 'Street Address Required' : ''}}"/>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    City
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.city}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <input class="conf-imp-fixed" name="city" type="text" ng-model="vm.conference.city" aria-required="true" ng-class="form.city.$touched &&
                         form.city.$invalid ? 'required' : ''" 
                        placeholder="{{form.city.$invalid && form.city.$touched ? 'City Required' : ''}}"/>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    State
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.state.abbreviation || vm.conference.state}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <input
                            class="conf-imp-fixed" name="state" type="text" ng-model="vm.conference.state" aria-reuqired='true' 
                            ng-class="form.state.$touched && form.state.$invalid ? 'required' : ''" 
                            placeholder="{{form.state.$invalid && form.state.$touched ? 'State Required' : ''}}"
                            ng-if="vm.conference.country.code != 'US'">
                        <select
                            style="background-color: #fff; width: calc(97% - 5px); height: 34px;"
                            class="conf-imp-fixed"
                            ng-if="vm.conference.country.code == 'US'"
                            ng-model="vm.conference.state"
                            ng-options="option.abbreviation for option in vm.united_states">
                        </select>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Zip Code
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.zip_code}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <input class="conf-imp-fixed" name="zip_code" type="text" ng-model="vm.conference.zip_code" aria-reuqired='true'  ng-class="form.zip_code.$touched &&
                         form.zip_code.$invalid ? 'required' : ''" 
                        placeholder="{{form.zip_code.$invalid && form.zip_code.$touched ? 'Zip Code Required' : ''}}"/>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Country
                    <span ng-if="vm.editMode==true" class="conference-field-required">
                        *
                    </span>
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.country.name || vm.conference.country}}
                    </div>
                    <div ng-if="vm.editMode==true">
                    <form name="form">
                        <select
                            style="background-color: #fff; width: calc(97% - 5px); height: 34px;"
                            ng-change="vm.changeCountry()"
                            class="conf-imp-fixed"
                            ng-model="vm.conference.country"
                            ng-options="option.name for option in vm.all_countries track by option.code">
                        </select>
                    </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Time Zone
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{(vm.conference.timezone_name ? vm.conference.timezone_name : '') + ' [ ' + vm.conference.time_zone + ' ]' }}
                    </div>
                    <div ng-if="vm.editMode==true">
                        <input class="conf-imp-fixed" type="text" ng-model="vm.conference.timezone_name" ng-readonly="true"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Venue Website
                </td>
                <td>
                    <div ng-if="vm.editMode!=true" class="conference-detail-field">
                        <a ng-href="{{vm.sanitizeUrl(vm.conference.venue_url)}}" ng-if="vm.conference.venue_url" target="_blank">
                            {{vm.unSanitizeUrl(vm.conference.venue_url)}}
                        </a>
                    </div>
                    <div ng-if="vm.editMode==true">
                        <input class="conf-imp-fixed" type="text" ng-model="vm.conference.venue_url"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Conference Website
                </td>
                <td>
                    <div ng-if="vm.editMode!=true" class="conference-detail-field">
                        <a ng-href="{{vm.sanitizeUrl(vm.conference.website)}}" ng-if="vm.conference.website" target="_blank">
                            {{vm.unSanitizeUrl(vm.conference.website)}}
                        </a>
                    </div>
                    <div ng-if="vm.editMode==true">
                        <input class="conf-imp-fixed" type="text" ng-model="vm.conference.website"/>
                    </div>
                </td>
            </tr>
            <tr style="max-height: 38px;">
                <td>
                    Attendee App 
                </td>
                <td>
                    <div ng-if="vm.editMode!=true">
                        {{vm.conference.exhibitor_only == false ? 'Active' : 'Not active'}}
                    </div>
                    <div  ng-if="vm.editMode==true" class="flex-row" style="align-items: center; margin-left: 0; margin-right: 50px;">
                    <div class="button-attendee-functionality cursor" 
                        ng-class="vm.conference.exhibitor_only == false ? 'button-attendee-selected' : ''"
                        ng-click="vm.conference.exhibitor_only = false;" style="margin-top: 0;">
                        On
                    </div>
                    <div class="button-attendee-functionality cursor" style="margin-left: 10px;"
                        ng-class="vm.conference.exhibitor_only == true ? 'button-attendee-selected' : ''"
                        ng-click="vm.conference.exhibitor_only = true;">
                        Off
                    </div>
            </div>
                </td>
            </tr>
            <tr>
                <td>Conference Owner's Name</td>
                <td>
                    {{vm.conferenceOwner.first_name}} {{vm.conferenceOwner.last_name}}
                </td>
            </tr>
            <tr>
                <td>Conference Owner's Email</td>
                <td>
                    {{vm.conferenceOwner.email}}
                </td>
            </tr>
            <tr>
                <td>Conference Code</td>
                <td>
                    {{vm.conference.code}}
                </td>
            </tr>
            <tr ng-if="vm.editMode==true">
                <td>
                    <div class="conference-field-required-status">
                        * Required
                    </div>
                </td>
                <td>
            </tr>
        </table>
    </div>
    <div class="conference-body-right-unbordered" 
        style="max-width: 40%; float: right; border-left: 2px solid #cdcdcd;padding-bottom: 1500px;margin-bottom: -1500px;">
        <div class="conference-map" style="width:582px; height:256px;">
            <a href="{{vm.googleMap}}" target="_blank">
                <img ng-src="{{vm.googleStaticMap}}">
            </a>
        </div>
        <div class="conference-stats">
            <div class="conference-stat">
                <div class="conference-stat-holder" ui-sref="home.attendees({conference_id: vm.conference_id})">
                    <div class="conference-stat-title">
                        {{vm.conference.business_data.attendee_count || 0}}
                    </div>
                    <div class="conference-stat-subtitle">
                        Attendees
                    </div>
                </div>
            </div>
            <div class="conference-stat">
                <div class="conference-stat-holder" ui-sref="home.exhibitors({conference_id: vm.conference_id})">
                    <div class="conference-stat-title">
                        {{(vm.exhibitor_total_count || 0)}}
                    </div>
                    <div class="conference-stat-subtitle">
                        Exhibitors
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="conference-contacts-table flex-column"    
    style="margin-bottom: 100px;" 
    ng-class="(vm.editMode) ? 'conference-support-contacts-small':'conference-support-contacts-large'">
    <div class="flex-row" style="height: 66px;" ng-class="conference-contacts-header">
        <p>Conference Contacts</p>
        <div ng-if="vm.permissionsForManageExhibitors()" 
            class="flex-row cursor" ng-click="vm.openSupportContactForm()" style="line-height: 33px;">
            <i class="fa fa-plus-circle" 
                style="font-size: 17px; color: #26a7de; margin-right: 18.5px; margin-left: 8px; position: relative; top: 1px;" 
                aria-hidden="true"></i>
            ADD CONTACTS
        </div>
    </div>
    <div class="flex-column">

        <div class="flex-row" ng-repeat="conf_contact in vm.supportContacts">
            <div>
                <useravatar image="conf_contact.photo"
                            firstname="conf_contact.first_name"
                            lastname="conf_contact.last_name"
                            size="36px">
                </useravatar>
                <p class="demi">{{conf_contact.first_name + ' ' + conf_contact.last_name}}</p>
            </div>
            <p class="medium">{{conf_contact.area_of_support}}</p>
            <p class="medium">{{conf_contact.phone_number}}</p>
            <p class="medium">{{conf_contact.email}}</p>
            <div class="flex-row" ng-if="vm.permissionsForManageExhibitors()">
                <div ng-click=" $emit('CurrentContact', conf_contact); vm.openSupportContactProfile();" class="cursor">
                    <div class="default-icon-circle">
                        <i class="fa fa-pencil" aria-hidden="true" style="color: #26a7de"></i>
                    </div>
                </div>
                <div ng-click="vm.deleteSupportContact(conf_contact.id)" class="cursor">
                    <div class="default-icon-circle">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row" ng-if="vm.editMode==true" style="margin-bottom: 30px; padding-top: 30px; align-items: center;">
        <div class="conference-table-actions" ng-click="vm.deleteConference()" ng-if="vm.verifyConferenceOwnerPermissions()">
            Delete Conference
        </div>
        <div>
            <div class="conference-button-holder" style="line-height: 42px;" ng-click="vm.cancelEditConference()">
                <div class="conference-button-cancel">
                    Cancel
                </div>
            </div>
            <div class="conference-button-holder"> 
                <div class="conference-button-save" style="line-height: 42px;" ng-click="vm.updateConference()">
                    Save
                </div>
            </div>
        </div>
    </div>
</div>