<div class="exhibitor-conference-profile-edit">
    <p>Edit Exhibitor</p>
    <div class="flex-column">
        <div ng-repeat="field in $parent.editModeExhibitorProfileFields" class="flex-row">
            <p>{{field.label}}</p>
            <input type="text" ng-if="field.code == 'company_name' || field.code == 'booth_contact_first_name' || field.code == 'booth_contact_email' ||
                field.code == 'booth_contact_last_name' || field.code == 'booth'" ng-model="vm.exhibitorToEdit[field.code]">
            <p ng-if="field.code != 'company_name' && field.code != 'booth_contact_first_name' && field.code != 'booth_contact_email' && 
                field.code != 'booth_contact_last_name' && field.code != 'booth'">
                {{field.code != 'admin' ? (vm.exhibitorToEdit[field.code] ? vm.exhibitorToEdit[field.code] : '---') : (vm.exhibitorToEdit.admin.first_name && vm.exhibitorToEdit.admin.last_name ? vm.exhibitorToEdit.admin.first_name + ' ' + vm.exhibitorToEdit.admin.last_name : 'Admin has not joined yet')}}
            </p>
        </div>
    </div>
    <div class="flex-row">
        <div class="cursor" ng-click="closeThisDialog()">Cancel</div>
        <div class="cursor" ng-click="vm.editConferenceExhibitor()">SAVE</div>
    </div>
</div>