<div class="add-support-contact-modal" style="margin-top: calc(50vh - 300px);">
	<p>Edit Support Contact</p>
	<form name="support_contact">
		<div ng-repeat="field in vm.contactLabels" class="support-contact-info">
			<div>{{field.label}}</div>
			<div>
				<input type="text" name="{{field.code}}" aria-required='true' 
				ng-class="({{field.code}} != company_name && support_contact.{{field.code}}.$touched && support_contact.{{field.code}}.$invalid) ? 'required' : ''"
				ng-model="$parent.currentContact[field.code]">
			</div>
		</div>
		<div class="photo-field" style="margin-top: -10px;">
			<div class="demi">Photo</div>
			<div>
				<span ngf-select="vm.uploadSupportPhoto($files, $parent.currentContact);" class="add_attendee_upload_link" style="margin-top: -10px;"
					  ngf-pattern="'image/*'"
					  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
					  ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<div class="attendee-upload-image">
						<div ng-if="$parent.currentContact.photo">
							<img ng-src="{{$parent.currentContact.photo || '/assets/images/default-profile-img.png'}}" class="img-circle user-img-small">
							<div style="padding-top:10px;"> Upload from computer</div>
						</div>
						<div ng-if="!$parent.currentContact.photo">
							<useravatar 
									image="$parent.currentContact.photo"
									firstname="$parent.currentContact.first_name"
									lastname="$parent.currentContact.last_name">
							</useravatar>
							Upload from computer
						</div>
					</div>
				</span>
				<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
			</div>
		</div>
		<p>*Required</p>
	</form>
	<md-content>
		<md-button class="md-raised md-primary btnCancel" ng-click="closeThisDialog()">Cancel</md-button>
		<md-button class="md-raised md-primary btnSave" style="float: right;" ng-click="$parent.updateSupportContact(closeThisDialog);"
		ng-class="$parent.canSaveSupportContacts($parent.currentContact) ? '' : 'form_inactive'">Save</md-button>
	</md-content>
</div>