<div class="exhibitors-support-contacts" ng-init="support_contact_info = ''">
	<div class="support-contacts-top" style="padding-right:20px; padding-left:20px;">
		<div style="margin-bottom: 15px;">
			<div class="support-contacts-title">Edit Support Contacts</div>
		</div>
        <div>
            <input type="text" placeholder="Search Support Contacts" style="margin-left: 0;" 
                ng-model="support_contact_info"
                class="conference-users-search"/>
            <div class="support-contacts-add" ng-click="vm.openCESupportContactForm()" ng-show="vm.permissionsForManageExhibitors()">
                <img src="/assets/images/conference-add-button-ico.png" width="16px"><p>Add contact</p>
            </div>
        </div>
		<!-- <p>Provide your exhibitors with contacts who can assist with specific conference-related support.</p> -->
	</div>
	<div class="support-contacts-grid">
		<div class="support-contacts-grid-header cursor">
			<div>Contact Name</div>
			<div>Email</div>
			<div>Phone</div>
			<div>Description</div>
		</div>
		<div class="support-contacts-grid-rows" ng-if="vm.conferenceexhibitorSupportContacts.length > 0">
            <div ng-repeat="contact in vm.conferenceexhibitorSupportContacts | SearchSupportContacts : support_contact_info" class="conference-users-table-body cursor"
            	 ng-class="vm.permissionsForManageExhibitors() ? '' : 'unclickable'"
				 ng-click=" $emit('CurrentContact', contact); vm.openCESupportContactProfile();">
                <div style="width:20%; float:left" class="conference-users-table-div"
                    ng-class="$last ? 'conference-table-row-last-medium' : ''">
                    <div class="conference-user-check">
                        <useravatar image="contact.photo"
                                    firstname="contact.first_name"
                                    lastname="contact.last_name">
                        </useravatar>
                        <div class="permission-text demi">{{contact.first_name + ' ' + contact.last_name}}</div>
                    </div>
                </div>
                <div style="width:19.7%; margin-left:15px; line-height:64px; float:left" class="conference-users-table-div medium">{{contact.email}}&nbsp;</div>
                <div style="width:19.8%; line-height:64px; float:left" class="conference-users-table-div medium">{{contact.phone_number}}&nbsp;</div>
                <div style="width:20%; line-height:64px; float:left" class="conference-users-table-div medium">{{contact.area_of_support}}&nbsp;</div>
                <div class="default-icon-circle" style="float: right; margin-right: 20px; margin-top: 16px; background-color: #fff;"
                    ng-click="vm.deleteCESupportContact(contact.id); $event.stopPropagation();"
                    ng-show="vm.permissionsForManageExhibitors()">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
                </div>
            </div>
		</div>
		<div ng-if="vm.conferenceexhibitorSupportContacts.length <= 0" class="table-custom-no-items">
			There are no Support Contacts at this time
		</div>
	</div>
</div>