<div class="exhibitor-profile">
	<div class="exhibitor-main-profile">
		<div>
			<i class="fa fa-building fa-5x" aria-hidden="true" ng-if="$parent.exhibitor.logo == null"></i>
		</div>
		<div>
			<p>{{$parent.exhibitor.company_name}}</p>
			{{$parent.exhibitor.website}}
		</div>
        <div class="cursor medium exhibitor-profile-modal-edit-button" ng-click="vm.openEditExhibitorProfilePopup($parent.exhibitor)">Edit</div>
	</div>
    <div class="exhibitor-profile-tabs flex-row" ng-if="vm.superUserOn">
        <div ng-class="vm.exhibitorProfilePanelActive == 'details' ? 'exhibitor-profile-tab-active' : ''"
            ng-click="vm.exhibitorProfilePanelActive = 'details'">
            <p>Details</p>
        </div>
        <div ng-class="vm.exhibitorProfilePanelActive == 'users' ? 'exhibitor-profile-tab-active' : ''"
             ng-click="vm.exhibitorProfilePanelActive = 'users'">
            <p>Users</p>
        </div>
        <div ng-class="vm.exhibitorProfilePanelActive == 'qualifiers' ? 'exhibitor-profile-tab-active' : ''"
             ng-click="vm.exhibitorProfilePanelActive = 'qualifiers'">
            <p>Qualifiers</p>
        </div>
    </div>
	<ng-include  src="'app/views/partials/conference/super-admin-exhibitor-profile/super-admin-exhibitor-profile-details/superAdminExhibitorProfileDetailsView.html'"
                 ng-if="vm.exhibitorProfilePanelActive == 'details' || vm.exhibitorProfilePanelActive == null">
    </ng-include>
    <super-admin-exhibitor-profile-users ng-if="vm.exhibitorProfilePanelActive == 'users'" exhibitor-data="$parent.exhibitor"></super-admin-exhibitor-profile-users>
    <super-admin-exhibitor-profile-qualifiers ng-if="vm.exhibitorProfilePanelActive == 'qualifiers'" exhibitor-data="$parent.exhibitor"></super-admin-exhibitor-profile-qualifiers>
</div>