<div class="exhibitors-page">
	<div class="exhibitors-option-bar" style="height: 65px;">
		<div>
			<input placeholder="Search by last name, company, or email" ng-init="exhibitor_info = ''" ng-change="vm.searchExhibitors()"
			 ng-model-options="{debounce:750}" ng-model="vm.exhibitorQuery">
		</div>
		<div ng-show="vm.permissionsForManageExhibitors()" style="align-items: center;" class="flex-row">
			<div ng-if="vm.exhibitorChecked">
				<md-content>
					<md-button class="md-raised md-primary revoke-btn exhibitor-button-yellow" style="justify-content: center; min-height: 30px; line-height: 32px; border-color: #cdcdcd;"
					 ng-click="vm.revokeAccessSelectedExhibitors()">
						<p>Revoke Access</p>
					</md-button>
				</md-content>
			</div>
			<div ng-if="!vm.exhibitorChecked">
				<md-content>
					<md-button class="md-raised md-primary revoke-btn flex-row" style="justify-content: center; min-height: 30px; line-height: 32px; border-color: #cdcdcd;"
					 ng-click="vm.openAddExhibitorPopup()">
						<i class="fa fa-plus-circle" style="font-size: 17px; color: #26a7de; position: relative; top: 1px; right: 16px;" aria-hidden="true"></i>
						<p>Add Exhibitors</p>
					</md-button>
				</md-content>
			</div>
			<div class="default-icon-circle" ng-show="vm.permissionsForManageExhibitors() && vm.exhibitorChecked" ng-click="vm.deleteSelectedExhibitors(); $event.stopPropagation();"
			 style="background-color: #fffde6;">
				<i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
			</div>
		</div>
	</div>
	<div class="exhibitors-grid" style="float:left; width:100%;" scrolly="vm.showMoreExhibitors()">
		<div class="exhibitors-grid-header">
			<div class="checkbox-ico cursor" ng-class="vm.checkAllExhibitors ? 'active':''" ng-click="vm.checkAll(vm.exhibitors);" ng-if="vm.exhibitors.length > 0"
			 ng-show="vm.permissionsForManageExhibitors()">
			</div>
			<div class="exhibitor-grid-item-wrapper">
				<div class="exhibitor-grid-item company cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'company_name')"
						ng-mouseover="vm.sortExhibitorActive['company_name']=true"
                        ng-mouseleave="vm.sortExhibitorActive['company_name']=false"
                    >
					<div class="text" style="float: left">Company</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'company_name') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'company_name' || vm.sortExhibitorActive['company_name'])">
                    </div>
				</div>
				<div class="exhibitor-grid-item admin cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'admin')"
						ng-mouseover="vm.sortExhibitorActive['admin']=true"
                        ng-mouseleave="vm.sortExhibitorActive['admin']=false"
					>
					<div class="text" style="float: left">Exhibitor Admin</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'admin') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'admin' || vm.sortExhibitorActive['admin'])">
                    </div>
				</div>
				<div class="exhibitor-grid-item email cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'admin_email')"
						ng-mouseover="vm.sortExhibitorActive['admin_email']=true"
                        ng-mouseleave="vm.sortExhibitorActive['admin_email']=false"
					>
					<div class="text" style="float: left">Email</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'admin_email') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'admin_email' || vm.sortExhibitorActive['admin_email'])">
                    </div>
				</div>
				<div class="exhibitor-grid-item booth cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'booth')"
						ng-mouseover="vm.sortExhibitorActive['booth']=true"
                        ng-mouseleave="vm.sortExhibitorActive['booth']=false"
					>
					<div class="text" style="float: left">Booth</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'booth') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'booth' || vm.sortExhibitorActive['booth'])">
                    </div>
				</div>
				<div class="exhibitor-grid-item users cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'nr_users')"
						ng-mouseover="vm.sortExhibitorActive['nr_users']=true"
                        ng-mouseleave="vm.sortExhibitorActive['nr_users']=false"
					>
					<div class="text" style="float: left">Users</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'nr_users') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'nr_users' || vm.sortExhibitorActive['nr_users'])">
                    </div>
				</div>
				<div class="exhibitor-grid-item attendees cursor"
						ng-click="vm.orderExhibitorsByField(vm.orderAsc, 'leads_count')"
						ng-mouseover="vm.sortExhibitorActive['leads_count']=true"
                        ng-mouseleave="vm.sortExhibitorActive['leads_count']=false"
					>
					<div class="text" style="float: left">Attendees Scanned</div>
					<div ng-class="(vm.orderAsc || vm.orderExhibitorBy != 'leads_count') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                        style="opacity: 1; margin-top:27px;"
                        ng-if="(vm.exhibitors.length > 1) && (vm.orderExhibitorBy == 'leads_count' || vm.sortExhibitorActive['leads_count'])">
                    </div>
				</div>
			</div>
		</div>
		<div class="window-grid-exhibitors">
			<div class="exhibitors-grid-header cursor" ng-repeat="exhibitor in vm.exhibitors track by exhibitor.id" ng-click="vm.openExhibitorProfile(exhibitor)"
			 ng-class="exhibitor.checked ? 'active' : ''">
				<div class="checkbox-ico cursor" ng-click="vm.checkOne(exhibitor, 'exhibitor'); $event.stopPropagation()" ng-class="exhibitor.checked ? 'active':''"
				 ng-show="vm.permissionsForManageExhibitors()">
				</div>
				<div class="exhibitor-grid-item-wrapper"
						ng-class="$last ? 'conference-table-row-last-small' : ''">
					<div class="exhibitor-grid-item company">
						<div class="text" style="font-family: 'AvenirNextLTPro-Demi'">{{exhibitor.company_name}}</div>
						<i class="fa fa-star" aria-hidden="true" ng-if="exhibitor.initial_payment > 0" style="color: #68aa3b; font-size: 14px; margin-left: 10px; vertical-align: middle"></i>
					</div>
					<div class="exhibitor-grid-item admin">
						<div ng-if="exhibitor.admin!==null" style="margin-top: 22px;">
							<useravatar image="exhibitor.admin.profile_image"
                              firstname="exhibitor.admin.first_name"
                              lastname="exhibitor.admin.last_name">
                           </useravatar>
						</div>
						<div class="exhibitor-admin-text" ng-if="exhibitor.admin !== null">
								{{exhibitor.admin.first_name + ' ' + exhibitor.admin.last_name}}
						</div>
						<div class="text" ng-if="exhibitor.admin === null">Admin has not joined yet</div>
					</div>
					<div class="exhibitor-grid-item email">
						<div class="text">{{exhibitor.admin_email}}</div>
					</div>
					<div class="exhibitor-grid-item booth" style="text-align: left; margin-left: 5px;">
						<div class="text">{{exhibitor.booth}}</div>
					</div>
					<div class="exhibitor-grid-item users" style="text-align: left; margin-left: 5px;">
						<div class="text" ng-if="exhibitor.admin != null">
							{{exhibitor.users_count + 1}}/{{exhibitor.user_slots || 0}}
						</div>
						<div class="text" ng-if="exhibitor.admin === null">
							0/5
						</div>
					</div>
					<div class="exhibitor-grid-item attendees" style="text-align: left;
					margin-left: 5px; width: 10.2%;">
						<div class="text">{{exhibitor.leads_count}}</div>
					</div>
				</div>
			</div>
			<div ng-if="vm.requestedMoreExhibitors" style="padding-left:30px; margin-bottom:30px;">
				&nbsp;
				<div class="infinite-loading-animation"></div>
			</div>
			<div ng-if="vm.exhibitors.length <= 0">
				<div style="padding: 10px;">There are no exhibitors at this time</div>
			</div>
		</div>
	</div>
</div>
