<div class="exhibitors-details" style="overflow-y: scroll; height: calc(100vh - 78px); overflow-x: hidden; clear:both;">
	<div class="conference-sessions-tabs" style="border-bottom:1px solid #cecece;">
        <div style="overflow: hidden; white-space: nowrap; width: calc(100vw - 338px); float: left;" id="days-list-scroll">
            <div class="conference-sessions-tab medium" ng-click="vm.moveDetails = true; vm.sessionSelectedDay = ''" ng-class="vm.moveDetails ? 'active' : ''">
                Move In/Out
                <div ng-if="vm.moveDetails == true" style="width: 172px; height: 2px;">
                </div>
            </div>
            <div class="conference-sessions-tab medium"
                 ng-click="vm.sessionSelectDay(day); $emit('CurrentExhibitingDay', day); vm.moveDetails=false;"
                 ng-class="(vm.sessionSelectedDay=={{day.getTime()}}) ? 'active' : ''"
                 ng-repeat="day in vm.conferenceDays">
                {{day | date:'EEEE M/d'}}
                <div ng-if="vm.sessionSelectedDay==day.getTime()" style="width: 172px; height: 2px;">
                </div>
            </div>
            
        </div>
        <div class="conference-sessions-tab2 medium"
             ng-class="!vm.verifyIfScrollIsRequired(true) ? 'is_hidden': ''"
             style="border-left: 1px solid #cecece;
                    float:left;
                    width: 78px;">
            <div style="width:38px; float:left;border-right: 1px solid #cecece;" 
                class="horizontal-scroll-button" ng-click1="vm.scrollLeft()" ng-mousedown="vm.scrollLeftHold();" ng-mouseup="vm.stopScroll()">
                <
            </div>
            <div style="width:39px; float:left" class="horizontal-scroll-button" ng-click1="vm.scrollRight()" 
                ng-mousedown="vm.scrollRightHold();" ng-mouseup="vm.stopScroll()">
                >
            </div>
        </div>

        <div class="conference-sessions-tab medium"
            style="border-right: 0px solid #cecece; width: 0px; height:62px">
        </div>
    </div>
    <div class="exhibiting-hours" ng-if="vm.moveDetails" 
        style="
            clear:both; 
            min-height: calc(100vh - 281px); 
            min-width: calc(100vw - 250px);
            overflow-x: scroll;
            overflow-y: hidden;">
        <p>Move-In Hours</p>
        <div class="move-hours" ng-repeat="room in vm.moveInHours" 
                ng-show="room.move_in !== null" style="position: relative;">
            <i class="fa fa-clock-o input-icon-exhibitor-detail" aria-hidden="true"></i>
            <input 
                ng-model="room.starts_at_editable" 
                class="exhibiting-hour-input"
                change="vm.updateHourTime(room)" 
                moment-picker="room.starts_at_editable" 
                format="MMM D, YYYY LT"
                start-date="vm.conference.date_from_editable"
                placeholder="Starts At"
                ng-readonly="true"
                start_view="day">

            <p class="exhibitor-details-separator">to</p>

            <i class="fa fa-clock-o input-icon-exhibitor-detail2" aria-hidden="true"></i>

            <input 
                ng-model="room.ends_at_editable"
                ng-change="vm.updateHourTime(room)"
                class="exhibiting-hour-input"
                change="vm.updateHourTime(room)" 
                moment-picker="room.ends_at_editable" 
                format="MMM D, YYYY LT"
                min-date="room.starts_at_editable" 
                start_view="day"
                max-date="room.starts_at_editable_end"
                start-date="vm.conference.date_from_editable"
                placeholder="Ends At"
                ng-readonly="true"
                disable="room.starts_at == true || !room.starts_at">

            <input 
                class="exhibiting-hour-title"
                type="text" 
                placeholder="Room # or name (*)" 
                ng-change="vm.updateHourTime(room)" 
                ng-model="room.location">

            <div ng-click="vm.removeExhibitingInfo(room)" class="plus-minus-btn" 
                ng-show="vm.permissionsForManageExhibitors() && (vm.moveInHours.length > 1 || room.id)">
                <i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-left:20px;" aria-hidden="true"></i>
            </div>
            <div class="plus-minus-btn" 
                    ng-click="vm.addExhibitingMoveDetails()"
                    ng-show="vm.permissionsForManageExhibitors() && $last">
                <i class="fa fa-plus-circle" style="
                    font-size: 24px; 
                    color: #9b9b9b;  
                    margin-left:20px;
                    padding-right: 15px;
                    " aria-hidden="true"></i>
            </div>
        </div>
        <p>Move-Out Hours</p>
        <div class="move-hours" ng-repeat="room in vm.moveOutHours" 
                ng-show="room.move_out !== null" style="position: relative;">
            <i class="fa fa-clock-o input-icon-exhibitor-detail" aria-hidden="true"></i>
            <input 
                ng-model="room.starts_at_editable" 
                ng-change="vm.updateHourTime(room)" 
                class="exhibiting-hour-input"
                moment-picker="room.starts_at_editable"
                change="vm.updateHourTime(room)" 
                format="MMM D, YYYY LT"
                start-date="vm.conference.date_to_editable"
                placeholder="Starts At"
                ng-readonly="true"
                start_view="day">

            <p class="exhibitor-details-separator">to</p>

            <i class="fa fa-clock-o input-icon-exhibitor-detail2" aria-hidden="true"></i>
            <input 
                ng-model="room.ends_at_editable" 
                change="vm.updateHourTime(room)" 
                class="exhibiting-hour-input"
                moment-picker="room.ends_at_editable" 
                format="MMM D, YYYY LT"
                min-date="room.starts_at_editable"
                max-date="room.starts_at_editable_end"
                start_view="day"
                start-date="vm.conference.date_to_editable"
                ng-readonly="true"
                placeholder="Ends At">

            <input 
                class="exhibiting-hour-title"
                type="text" 
                placeholder="Room # or name (*)" 
                ng-change="vm.updateHourTime(room)" 
                ng-model="room.location">

            <div ng-click="vm.removeExhibitingInfo(room)" class="plus-minus-btn" 
                ng-show="vm.permissionsForManageExhibitors() && (vm.moveOutHours.length > 1 || room.id)">
                <i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-left:20px;" aria-hidden="true"></i>
            </div>
            <div ng-click="vm.addExhibitingMoveOutDetails()" class="plus-minus-btn" 
                    ng-show="vm.permissionsForManageExhibitors() && $last">
                <i class="fa fa-plus-circle" style="font-size: 24px; color: #9b9b9b; margin-left:20px;" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="exhibiting-hours scroll-exhibiting-hours" ng-if="!vm.moveDetails""
        style="clear:both; 
            min-height: calc(100vh - 281px); 
            min-width: calc(100vw - 250px);
            overflow-x: scroll;
            overflow-y: hidden;">
    	<p>Exhibiting Hours</p> 
    	<div class="exhibiting-manage" ng-repeat="detail in vm.exhibitingDays[vm.currentExhibitingDay]"
            style="position: relative;">
            <i class="fa fa-clock-o input-icon-exhibitor-detail" aria-hidden="true"></i>
            <input 
                class="exhibiting-hour-input"
                ng-model="detail.starts_at_editable" 
                moment-picker="detail.starts_at_editable"
                min-date="vm.conference.date_from_editable"
                max-date="vm.conference.date_to_editable"
                start-view="day"
                start-date="detail.exhibiting_day"
                format="MMM D, YYYY LT"
                placeholder="Starts At"
                ng-readonly="true"
                change="vm.updateHourTime(detail)"/>
            <p class="exhibitor-details-separator">to</p>
            <i class="fa fa-clock-o input-icon-exhibitor-detail2" aria-hidden="true"></i>
    		<input 
                class="exhibiting-hour-input"
                ng-model="detail.ends_at_editable"
                moment-picker="detail.ends_at_editable"
                ng-if="detail.starts_at_editable"
                min-date="detail.starts_at_editable"
                max-date="detail.starts_at_editable_end"
                placeholder="Ends At"
                start-view="day"
                start-date="detail.exhibiting_day"
                format="MMM D, YYYY LT"
                ng-readonly="true"
                change="vm.updateHourTime(detail)"/>
            <input 
                class="exhibiting-hour-input"
                ng-model="detail.ends_at_editable"
                moment-picker="detail.ends_at_editable"
                ng-if="!detail.starts_at_editable"
                min-date="vm.conference.date_from_editable"
                max-date="vm.conference.date_to_editable"
                placeholder="Ends At"
                start-view="day"
                start-date="detail.exhibiting_day"
                format="MMM D, YYYY LT"
                ng-readonly="true"
                change="vm.updateHourTime(detail)"/>
    		<input 
                class="exhibiting-hour-title"
                placeholder="Room # or name (*)" 
                ng-model="detail.location" 
                ng-change="vm.updateHourTime(detail)"/>
    		<input 
                class="exhibiting-hour-title"
                placeholder="Optional title or description" 
                ng-model="detail.title" 
                ng-change="vm.updateHourTime(detail)"/>
            <div ng-click="vm.removeExhibitingInfo(detail)" 
                    style="margin-left:15px" class="plus-minus-btn"
                ng-show="vm.exhibitingDays[vm.currentExhibitingDay].length > 1 || detail.id">
                <i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"></i>
            </div>
            <div ng-click="vm.addExhibitingInfo()" 
                style="margin-left: 15px; padding-right: 15px;"
                class="plus-minus-btn" ng-show="$last && vm.permissionsForManageExhibitors()">
                <i class="fa fa-plus-circle" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"></i>
            </div>
    	</div>
    </div>

    <div style="margin:20px; margin-bottom:80px;">
        <md-content ng-show="(vm.permissionsForManageExhibitors())">
            <md-button class="md-raised md-primary cancel-details exhibiting-btn"
                       ng-click="vm.cancelSaveExhibitingDays();" ng-hide="(vm.moveDetails && vm.moveInHours.length <= 0 && vm.moveOutHours.length <= 0)
                        || (!vm.moveDetails && (vm.exhibitingDays[vm.currentExhibitingDay].length <= 0))">Cancel</md-button>
            <md-button class="md-raised md-primary save-details exhibiting-btn" ng-click="vm.setExhibitingDay()" ng-class="(vm.lockSetExhibitingDay) ? 'form_inactive': ''">Save</md-button>
        </md-content>
    </div>
</div>