<div class="avery-modal">
	<img src="/assets/images/file-print-ready.png" />
	<div class="avery-text">
		Your selected attendees are ready.
	</div>
	<div class="avery-text2">
		Go to the Avery wizard to print.
	</div>
	<md-content>
		<md-button class="md-primary goBtn" ng-click="$parent.goToAvery(); closeThisDialog();">
			Go
		</md-button>
	</md-content>
</div>