<div class="attendee-session-info-panel" ng-if="!vm.editModeAttendee">
	<div class="header-info-attendee-panel" style="height: inherit;">
		<div class="main-attendee-info" style="align-items: center;">
			<div class="photo-circle">
                <useravatar image="vm.attendee.attendee_photo"
                            firstname="vm.attendee.first_name"
                            lastname="vm.attendee.last_name"
                            size="90px"
                            fontsize="26px">
                </useravatar>
            </div>
			<div style="width: 340px;">
				<p style="margin-top:  0;">{{vm.attendee.first_name + ' ' + vm.attendee.last_name}}</p>
				<p ng-if="vm.attendee.job_title">{{vm.attendee.job_title}}</p>
				<p ng-if="vm.attendee.company_name">{{vm.attendee.company_name}}</p>
			</div>
			<div ng-show="vm.editPermission && !$parent.notEditable" ng-click="vm.editModeAttendee = !vm.editModeAttendee" class="attendeeMainEditButton" style="margin-top: 30px;">
				Edit
			</div>
		</div>
		<div class="other-info">
            <div>
                <table>
                    <tr class="info-attendee-tabel" ng-repeat="field in $parent.formLabels"
                        ng-if="(field.code!='first_name' &&
                        field.code!='last_name' &&
                        field.code!='company_name' &&
                        field.code!='qr_code' &&
                        field.code!='job_title') && !(field.code =='state' && vm.attendee.country.trim() != 'United States')">
                        <td class="label" style="width: 125px;">{{field.name}}</td>
                        <td class="info-label">
                            <div ng-if="field.id < 0 && field.code!='guest_of'">
                                {{vm.attendee[field.code]}}
                            </div>
                            <div class="cursor" ng-if="field.id < 0 && field.code =='guest_of'" style="color: #26a7de;" ng-click="$parent.getAteendeeThatAddedThisOne(vm.attendee[field.code].id)">
                                {{vm.attendee[field.code].first_name + ' ' + vm.attendee[field.code].last_name}}
                            </div>
                            <div ng-if="field.id >= 0">
                                {{vm.attendee.custom_fields[field.id].value.toString()}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Session Info & Payments Info-->
        <div class="info-tabs-per-attendee">
            <div class="tab-for-border" style="width: 33px;" ng-class="vm.attendee_session_info == false ? 'border-less' : ''"></div>
            <div class="sessions-info-tab-per-attendee cursor" style="border-right-style: none; border-bottom-style: none;"
                ng-click="vm.attendee_session_info = false"
                ng-if="vm.conference.registration_form && vm.conference.registration_form.completed_at && vm.attendeePayments != null"
                ng-class="vm.attendee_session_info == true ? 'unselected-info-payment-panel' : ''">
                    Payment Details
            </div>
            <div class="sessions-info-tab-per-attendee cursor"
                ng-click="vm.attendee_session_info = true;"
                ng-class="vm.attendee_session_info == false ? 'unselected-info-sessions-panel' : ''">
                Sessions
            </div>
            <div class="tab-for-border"
                ng-class="vm.attendee_session_info == false ? 'border-less' :
                ($parent.conference.registration_form && vm.conference.registration_form.completed_at &&
                vm.attendeePayments != null ? '' : 'border-ness')">
            </div>
        </div>
        <div class="footer-info-attendee-panel" style="padding-top: 0px; background-color: #f9f9f9;" ng-if="vm.attendee_session_info">
            <div style="margin-left:40px; margin-bottom: 40px;">
                <div ng-if="vm.attendee_sessions && vm.attendee_sessions.length > 0">
                    <div class="session-info-header">
                        <p>Registered</p>
                        <p>Attended</p>
                    </div>
                    <div class="session-info" ng-repeat="session in vm.attendee_sessions | orderBy : '+session.starts_at'">
                        <div>{{session.session.starts_at | date:'M/d'}}</div> <!--:vm.conference.time_zone -->
                        <div class="session-title">
                            <p class="ellipsis" title="{{session.session.title}}" >{{session.session.title}}</p>
                            <p ng-if="session.scanned_at">Scanned - {{session.scanned_at | date : 'h:mm a':vm.conference.time_zone}}</p>
                            <p ng-if="session.scanned_again_at_array && session.scanned_again_at_array.length > 0">
                                <span ng-repeat="scanned_at in session.scanned_again_at_array">
                                    {{scanned_at | date : 'h:mm a':vm.conference.time_zone}}
                                </span>
                            </p>

                            <p ng-if="!session.scanned_at">Not scanned yet</p>
                        </div>
                        <span>
                            <i class="fa fa-check" aria-hidden="true" ng-if="session.checkRegister"
                                style="font-size: 18px; color: #26a7de; margin-right: 62px;"></i>
                            <i class="fa fa-check" aria-hidden="true" ng-if="!session.checkRegister"
                                style="font-size: 18px; color: #26a7de; margin-right: 62px; opacity:0"></i>
                        </span>
                        <span>
                            <i class="fa fa-check" aria-hidden="true" ng-if="session.checkScanned"
                                style="font-size: 18px; color: #f68c1c;"></i>
                            <i class="fa fa-check" aria-hidden="true" ng-if="!session.checkScanned"
                                style="font-size: 18px; color: #f68c1c; opacity:0"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="vm.attendee_sessions.length <= 0" style="margin-top: 14px; height: 125px; background-color: inherit;">
                <div class="session-info-header-none">
                    No sessions attended or registered to yet.
                </div>
            </div>
        </div>
        <div ng-if="!vm.attendee_session_info" class="payment-attendee-panel">
            <div>
                <div class="flex-row">
                    <p class="medium" style="font-size: 12px;">Date / Time</p>
                    <p class="medium" style="font-size: 12px; margin-left: auto;">Amount</p>
                </div>
                <div class="flex-column">
                    <div class="flex-row">
                        <div class="flex-column">
                            <p class="medium" style="font-size: 14px; line-height: 24px;">
                                Paid with cc (...{{vm.attendeePayments.last4}})
                            </p>
                            <p class="medium" style="font-style: italic; font-size: 14px; line-height: 24px;">
                                {{vm.attendeePayments.created_at | date : 'M/d/yyyy'}} at {{vm.attendeePayments.created_at | date : 'hh:mm a'}}
                            </p>
                        </div>
                        <div class="flex-column" style="margin-left: 172px;">
                            <p class="medium" style="font-size: 14px; line-height: 24px; text-align: center;">
                                {{vm.attendeePayments.amount | currency : '$'}}
                            </p>
                            <p class="medium" ng-if="vm.attendeePayments.promo_code != null"
                                style="font-style: italic; font-size: 14px; line-height: 24px;">
                                with promo code
                            </p>
                        </div>
                        <div ng-if="$parent.permissionsForRefund()" class="demi cursor payment-refund-button" ng-click="vm.openRefundPaymentPopup()"
                            style="font-size: 12px; margin-left: auto;">
                            REFUND
                        </div>
                    </div>
                    <div class="flex-row" ng-repeat="refund in vm.attendeePayments.refunds | orderBy:'created_at'"
                        ng-if="vm.attendeePayments.refunds.length > 0">
                        <div class="flex-column">
                            <p class="medium" style="font-size: 14px; line-height: 24px;">
                                Refunded with cc (...{{vm.attendeePayments.last4}})
                            </p>
                            <p class="medium" style="font-style: italic; font-size: 14px; line-height: 24px;">
                                {{refund.created_at | date : 'M/d/yyyy'}} at {{refund.created_at | date : 'hh:mm a'}}
                            </p>
                        </div>
                        <div class="flex-column" style="margin-left: 172px;">
                            <p class="medium" style="font-size: 14px; line-height: 24px; text-align: center;">
                                ({{refund.amount | currency : '$'}})
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--.........................Edit Attendee Profile tmp....................................-->

<div class="edit-attendee-session-info-panel" ng-if="vm.editModeAttendee">
	<p>Edit Attendee</p>
	<div class="overflow-window" style="border-bottom: 1px solid #cdcdcd;">
		<div class="edit-form-attendee-info">
            <div>
                <table style="margin-left: 0;">
                    <tr ng-repeat="field in $parent.formLabels" ng-if="field.code!='qr_code' && field.code!='nr_attendee_guests'"
												ng-hide="vm.attendee.country != 'United States' && field.code == 'state'">
                        <td class="label">{{field.name}}
                        <span ng-if="field.code == 'email_address' && vm.conference.exhibitor_only == false"
                            style="color: #f58a1c;">*</span>
                        </td>
                        <td class="info-label">
                            <span ng-if="field.id < 0">
                                <span ng-if="field.code != 'country' && field.code != 'state' && field.code != 'guest_of'">
	                                <input ng-model="vm.attendee[field.code]" type="text" ng-if="field.code!='attendee_id'">
	                                <input ng-model="vm.attendee[field.code]" type="text" ng-if="field.code=='attendee_id' && $parent.force_custom_attendee_id==false" style="opacity:.6; pointer-events: none;" ng-readonly="true">
	                                <input ng-model="vm.attendee[field.code]" type="text" ng-if="field.code=='attendee_id' && $parent.force_custom_attendee_id!=false" style="opacity:.6; pointer-events: none;" ng-readonly="true">
                                </span>
                                <span ng-if="field.code == 'country'">
                                    <select class="select-country-holder-edit-attendee"
                                        ng-model="vm.attendee.country">
                                        <option
                                            ng-repeat="option in vm.all_countries track by $index" ng-value="option.name" ng-selected="$index == vm.count_country">{{option.name}}
                                        </option>
                                    </select>
                                </span>
                                <input ng-value="vm.attendee[field.code].first_name + ' ' + vm.attendee[field.code].last_name" type="text"
                                    ng-if="field.code=='guest_of'"
                                    style="opacity:.6; pointer-events: none;"
                                    ng-readonly="true">
                                <span ng-if="field.code == 'state' && vm.attendee.country.trim() == 'United States'">
                                    <select class="select-country-holder-edit-attendee"
                                        ng-model="vm.attendee.state">
                                        <option
                                            ng-repeat="option in vm.united_states" ng-value="option.abbreviation" ng-selected="$index == vm.count_state">{{option.abbreviation}}
                                        </option>
                                    </select>
                                </span>
                            </span>
                            <span ng-if="field.id >= 0">
                                <span ng-if="field.type==1">
                                    <input ng-model="vm.attendee.custom_fields[field.id].value" type="text">
                                </span>
                                <span ng-if="field.type==2">
                                    <select class="custom_select" ng-model="vm.attendee.custom_fields[field.id].value"
                                        style=" padding-left: 10px; border-color: #cdcdcd;">
                                        <option value="{{option.value}}" ng-repeat="option in field.options"
                                                ng-selected="option.value==vm.attendee.custom_fields[field.id].value">
                                            {{option.value}}
                                        </option>
                                    </select>
                                </span>
                                <span ng-if="field.type==3">
                                    <select style="height:80px; margin-left: 0; border-color: #cdcdcd;"
                                        multiple class="custom_select" ng-model="vm.attendee.custom_fields[field.id].value">
                                        <option value="{{option.value}}" ng-repeat="option in field.options" style="padding-left: 10px;"
                                                ng-selected="vm.attendee.custom_fields[field.id].value.indexOf(option.value) > -1">
                                            {{option.value}}
                                        </option>
                                    </select>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Attendee Photo</td>
                        <td class="info-label">
                            <div ngf-drop="vm.uploadExistingAttendeePhoto($files, vm.attendee)" class="drop-box drag-class" style="z-index:99999; cursor: pointer;"
                                 ngf-select="vm.uploadExistingAttendeePhoto($files, vm.attendee)"
                                 ngf-max-size="10MB" ngf-min-height="50"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                                <div style="margin-left: 108px;">
                                    <useravatar image="vm.attendee.attendee_photo"
                                                firstname="vm.attendee.first_name"
                                                lastname="vm.attendee.last_name">
                                    </useravatar>
                                </div>
                                <span style="display: block;">Upload from computer</span>
                            </div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </td>
                    </tr>
                </table>
                <p style="margin-top: 0;">*Required</p>
            </div>
		</div>
        <!-- Session Info & Payments Info (Edit) -->
		<div class="footer-info-attendee-panel" ng-if="$parent.permissionsForManageSessions() && vm.attendee_sessions.length > 0"
            style="float:left;border-top: 1px solid #c4c4c4; padding-top: 0px; background-color: #f9f9f9;">
            <div ng-if="vm.attendee_sessions && vm.attendee_sessions.length > 0" style="margin-left:40px;">
                <div class="session-info-header session-info-header-edit">
                    <p>Session</p>
                    <p>Registered</p>
                    <p>Attended</p>
                </div>
                <div class="session-info" ng-repeat="session in vm.attendee_sessions">
                    <div>{{session.session.starts_at | date:'M/d':vm.conference.time_zone}}</div>
                    <div class="session-title">
                        <p class="ellipsis" title="{{session.session.title}}">{{session.session.title}}</p>
                        <p>Scanned - {{session.scanned_at | date : 'h:mm a':vm.conference.time_zone}}</p>
                    </div>
                    <div style="margin-right: 62px; background-position: -3px -4px;"
                         ng-class="session.checkRegister ? 'active': ''"
                         class="checkbox-ico"
                         ng-click="vm.checkRegisterAttendee(session)"></div>
                    <div class="checkbox-ico"
                         ng-class="session.checkScanned ? 'active': ''"
                         style="background-position: -6px -4px;"
                         ng-click="vm.checkScannedAttendee(session)">
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div style="padding-bottom: 40px;">
    	<md-content>
    		<md-button class="md-raised md-primary btnCancel" ng-click="vm.editModeAttendee = false">Cancel</md-button>
    		<md-button class="md-raised md-primary btnSave" ng-click="vm.updateAttendee(vm.attendee)">Save</md-button>
    	</md-content>
    </div>
</div>
