<div class="conference-add-custom-fields" style="height: 93vh;">
    <div class="conference-add-custom-fields-title">
        Manage Your Avery Templates <img src="/assets/images/avery-logo.png" style="width: 100px;">
    </div>
    <div class="conference-add-custom-fields-subtitle">
        Before uploading a .Avery template you must first create the template going through the standard Avery badge creation process. This will ensure that the data will
        populate correctly when printing new or reprinting badges.
    </div>
    <!--<div class="conference-templates-tips">-->
       <!--<img src="/assets/images/quick-tips-icon.png"> Quick tips-->
    <!--</div>-->
    <div class="conference-add-custom-fields-form">
        <div class="conference-template-head">
            Upload your .Avery template

        </div>
        <div class="conference-template-upload-btn" ng-class="vm.usersPermissionsPane ? 'active' : ''"
             ng-click="vm.usersPermissions()">
            <div ngf-drop="vm.uploadTemplate($files)" class="drop-box drag-class" style="z-index:99999"
                ngf-select="vm.uploadTemplate($files)"
                ngf-max-size="10MB" ngf-min-height="50"
                ngf-pattern="'.avery'"
                accept=".avery"
                ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div class="change-picture-upload">CHOOSE FILE...</div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
        <div class="conference-template-uploaded-name" ng-if="vm.averyTemplateFileName != null">
            {{vm.averyTemplateFileName}}
        </div>
        <div class="conference-template-head">
            What type of template is this file?
        </div>
        <div class="conference-template-button-group">
            <div class="conference-template-badge-btn" ng-class="(vm.averyTemplateType == 1) ? 'active' : ''"
                 ng-click="vm.averyTemplateType = 1">
                <i class="fa fa-tags" aria-hidden="true" style="color: #fff; font-size: 18px; position: relative; right: 26px; top: 3px;" 
                    ng-if="uploaded_template.type==1"></i>
                <i class="fa fa-tags" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; position: relative; right: 26px; top: 3px;" 
                    ng-if="uploaded_template.type==2 || !uploaded_template.type"></i>
                Badge
            </div>
            <div class="conference-template-btn-middle">
                or
            </div>
            <div class="conference-template-label-btn" ng-class="(vm.averyTemplateType == 2) ? 'active' : ''"
                 ng-click="vm.averyTemplateType = 2">
                <i class="fa fa-th" aria-hidden="true" style="color: #fff; font-size: 18px; position: relative; right: 26px; top: 3px;" 
                    ng-if="uploaded_template.type==2"></i>
                <i class="fa fa-th" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; position: relative; right: 26px; top: 3px;" 
                    ng-if="uploaded_template.type==1 || !uploaded_template.type"></i>
                Label
            </div>
        </div>


        <div class="conference-custom-fields-save-bar" style="height: 48px; border-top: 1px solid #cdcdcd; clear:both;">
            <div class="conference-upload-template-btn" ng-click="vm.uploadTemplateAction()">
                Upload
            </div>
        </div>
    </div>
</div>
<perfect-scrollbar class="conference-custom-fields-holder scoller" style="height: 93vh;">
    <div ng-if="vm.conference.templates.length > 0">
        <div class="conference-custom-fields-head">
            Your Uploaded Avery Templates
        </div>
        <div class="conference-custom-fields-body" style="
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;">
            <div class="conference-saved-custom-field" ng-repeat="uploaded_template in vm.conference.templates">
                <i class="fa fa-tags" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;" ng-if="uploaded_template.type==1"></i>
                <i class="fa fa-th" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;" ng-if="uploaded_template.type==2"></i>
                <div class="conference-item-name">
                    {{uploaded_template.name}}
                </div>
                <div class="default-icon-circle" style="margin-left: auto; margin-right: 20px;" ng-click="vm.removeTemplateAction(uploaded_template)">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b;"></i>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.conference.templates.length == 0">
        <div class="conference-custom-fields-head">
            Your haven't uploaded any templates yet
        </div>
    </div>
</perfect-scrollbar>