<div class="map-members-information">
	<div><p>Map Your Member Information</p></div>
	<div class="instructions-tab">
		<div class="instructions-tab-header">
			<div>
				<p>Your Title</p>
			</div>
			<img src="/assets/images/curbed-arrow.png">
			<div>
				<p>Expo Title</p>
			</div>
		</div>
		<p>Drag your titles to the corresponding Expo titles.</p>
	</div>
    <div class="map-members-tab">
		<div class="conference-attendees-fields-holder" style="overflow-y: scroll;">
            <div class="conference-upload-attendees-field small_field fields-mobile dragged field_for_mapping" ng-repeat="field in vm.membersCsvKeys track by $index" style="cursor: -webkit-grab; margin-top:30px;"
                 data-drag="true" jqyoui-draggable="{
                 placeholder:true,
                 index:field,
                 onStart:'vm.startCallback(field, this)',
                 onStop:'vm.stopCallback(field)',
                 onDrag:'vm.changeDragStyle(field)'}" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                 style="{{field.style}}"
                 ng-class="field.mapping!=null ? 'field_is_mapped' : ''">
                {{field.code}}
            </div>
        </div>
    	<div>
            <div style="width: 50%;">
                <div
                    class="conference-upload-attendees-field small_field fields-mobile field-dotted dropped field_for_mapping"
                    ng-repeat="field in vm.memberMappingFields track by $index"
                     ng-if="(field.code !='qr_code') && (field.code != 'attendee_id' || vm.hasAttendeeId==true)"
                     ng-class="field.mapping!=null ? 'is_mapped' : (field.is_hovered==true ? 'is_hovered': '')">
                    <div ng-if="field.mapping==null" data-drop="true" data-jqyoui-options data-drag="true"
                         jqyoui-droppable="{multiple:false, onDrop:'vm.attendeeFieldMappingOver(field)',
                         onOver:'vm.attendeeFieldMappingHoverIn(field)',
                         onOut:'vm.attendeeFieldMappingHoverOut(field)'}">
                        {{field.name}}
                    </div>

                    <div ng-if="field.mapping!=null" class="field_mapping_info_small">
                        <div class="mapping-x-btn" ng-click="vm.undoMapping(field)">
                            X
                        </div>
                        <p>
                            {{field.name}}
                        </p>
                        <p>
                            ({{field.mapping}})
                        </p>
                    </div>
                </div>
            </div>

		</div>
    </div>
    <div class="map-members-buttons">
    	<div class="cursor" ng-click="closeThisDialog()">Cancel Upload</div>
    	<div class="cursor" ng-click="vm.saveAndUploadAttendeeMembers()">SAVE</div>
    </div>
</div>
