<div class="exhibitors-details" style="overflow-y:scroll; height: 92vh; margin-left: 20px;">
	<div class="payments-head">Payments</div>
	<div class="payments-subtitle">Select the payment option for your Exhibitors' lead generation services:</div>

    <div class="payment-type-holder" ng-class="(vm.lockPaymentType) ? 'payment_form_hashed': ''">
        <div class="payment-type" ng-class="(vm.paymentType=='standard') ? 'active' : ''" ng-click="vm.checkPaymentMethod('standard')">
            <div class="payment-type-content">
                <div class="payment-type-title">
                    Paid by the Exhibitor - Standard
                </div>
                <div class="payment-type-subtitle">
                    Each exhibitor directly pays their $250 fee.
                </div>
            </div>
        </div>
    </div>

    <div class="payment-type-holder" ng-class="(vm.lockPaymentType) ? 'payment_form_hashed': ''">
        <div class="payment-type" ng-class="(vm.paymentType=='advanced') ? 'active' : ''">
            <div class="payment-type-content">
                <div class="payment-type-title" style="float:left">
                    Paid by the Exhibitor - Advanced
                </div>
                <div ng-if="vm.conference.business_data.merchant_id_verified" style="float:right; color: #68aa3b; font-size:14px">
                    <i class="fa fa-check" aria-hidden="true"></i> Merchant agreement Accepted
                </div>
                <div style="clear:both" class="payment-type-subtitle">
                    Mark up the cost and receive the difference above the $250 fee. 
                        <span ng-if="!vm.conference.business_data.merchant_id_verified">(Merchant Agreement required)</span>
                </div>
                <div class="payment-type-subtitle" style="clear:both; margin-top:20px; padding-bottom: 20px;">
                    <div class="payment-type-subtitle-bold" style="float:left">
                        Exhibitor fee: $250
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left; margin: 0 20px;">
                        +
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left">
                        Your mark up cost
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left; padding-bottom: 5px;" ng-if="vm.paymentType!='advanced' || vm.modifyMarkupFlag">
                        <input type="text" class="payment-markup-input" name="myDecimal" id="markupInputFee"
                               placeholder="$0.00" ng-model="vm.markupFee"
                               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left; margin-left:10px;" ng-if="vm.paymentType=='advanced' && !vm.modifyMarkupFlag">
                        {{vm.markupFee | currency:"$"}} <span style="margin-left: 10px; color: #26a7de" ng-click="vm.modifyMarkup()">Modify</span>
                    </div>
                    <div class="payment-type-subtitle-bold" style="float:left; padding-bottom: 5px;" ng-if="vm.paymentType!='advanced' || vm.modifyMarkupFlag">
                        <div class="payment-continue-button" ng-click="vm.checkPaymentMethod('advanced')">
                            Continue
                        </div>
                    </div>
                </div>
                <div class="payment-type-subtitle" style="margin-top:20px; padding-bottom: 20px;" ng-if="vm.paymentType=='advanced'">
                    <div class="payment-type-subtitle" style="clear: both; float:left">
                        Next Exhibitor Revenue payout:
                    </div>
                    <div class="payment-type-subtitle" style="float:left; margin: 0 20px;">
                    </div>
                    <div class="payment-type-subtitle" style="float:left; margin-left:10px;">
                        {{vm.nextPayout / 100 | currency:"$"}} on {{vm.nextPayoutDate | date:'MMMM d, yyyy':vm.conference.time_zone}}
                    </div>
                </div>
                <div class="payment-type-subtitle" style="margin-top:10px; padding-bottom: 20px;" ng-if="vm.paymentType=='advanced'">
                    <div class="payment-type-subtitle" style="float:left">
                        Total Exhibitor Revenue received:
                    </div>
                    <div class="payment-type-subtitle" style="float:left; margin: 0 20px;">
                    </div>
                    <div class="payment-type-subtitle" style="float:left; margin-left:10px;">
                        {{vm.totalPayment/100 | currency:"$"}}  
                        <span style="margin-left: 5px;">|</span> <span style="margin-left: 5px; color: #26a7de" 
                            ng-click="vm.openExhibitorAdvancedPayment()">View Transactions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="payment-type-holder" style="margin-bottom:20px;" ng-class="(vm.lockPaymentType) ? 'payment_form_hashed': ''">
        <div class="payment-type" ng-class="(vm.paymentType=='conference') ? 'active' : ''" ng-click="vm.checkPaymentMethod('conference')">
            <div class="payment-type-content">
                <div class="payment-type-title">
                    Paid by the Conference Host
                </div>
                <div class="payment-type-subtitle">
                    Cover the cost of your exhibitors. As each signs up, your credit card will be charged $250.
                </div>
                <div class="payment-type-subtitle" style="margin-top:40px;" ng-if="vm.paymentType=='conference'">
                    You have <b>{{vm.conference.conference_charges.count || 'no'}}</b> Exhibitor
                    <span ng-if="vm.conference.conference_charges.count==1">Sign-up.</span>
                    <span ng-if="vm.conference.conference_charges.count!=1">Sign-ups.</span>
                </div>
                <div class="payment-type-subtitle" style="margin-top:10px;" ng-if="vm.paymentType=='conference'">
                    Total amount charged your credit card(s): <b>${{vm.conference.conference_charges.amount/100}}</b>
                </div>
                <div class="payment-type-subtitle" style="margin-top:10px;" ng-if="vm.paymentType=='conference'">
                    <span class="payment-action-txt" ng-click="vm.changeCreditCard(); $event.stopPropagation();">Change credit card number ************{{vm.user.last4}}</span>
                    <span ng-if="vm.conference.conference_charges.count > 0">
                        | <span class="payment-action-txt" ng-click="vm.viewTransactions(); $event.stopPropagation();">View Transactions</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="payments-head">Additional Options</div>

    <div class="payments-promo-codes" style="margin-bottom: 30px; min-width: 610px;">
        <div class="payment-type-content">
            <div class="payment-promo-title">
                Purchase Promo Codes
            </div>
            <div class="payment-promo-subtitle">
                Provide your exhibitors with promo codes that they can use.
            </div>

            <div class="payment-type-subtitle" style="margin-top:20px; padding-bottom: 20px;">
                <div class="payment-type-subtitle-bold" style="float:left">
                    Quantity of codes
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    <input type="number"
                           min="1"
                           class="payment-markup-input"
                           ng-model="vm.paymentCodes.nr"/>
                </div>

                <div class="payment-type-subtitle-bold" style="float:left; margin-left:20px;">
                    Cost per code
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    <input type="number" class="payment-markup-input" name="myDecimal"
                           min="1"
                           placeholder="$0.00" ng-model="vm.paymentCodes.value"
                           step="1" />
                </div>
                <div class="payment-type-subtitle-bold" style="float:left">
                    <div class="payment-continue-button"  ng-click="vm.openPaymentForm()">
                        Continue
                    </div>
                </div>
            </div>
            <div class="payment-promo-subtitle payment-method-code-btn-holder" ng-if="vm.promo_codes.length > 0">
                You've purchased <b>{{vm.promo_codes.length}}</b> Exhibitor Promo Codes.
                <span ng-if="vm.promo_codes_redeemed==1"><b>{{vm.promo_codes_redeemed}}</b> has been redeemed.</span>
                <span ng-if="vm.promo_codes_redeemed>1"><b>{{vm.promo_codes_redeemed}}</b> have been redeemed.</span>
                <span ng-if="vm.promo_codes_redeemed<1"><b>None</b> have been redeemed.</span>
                <div class="payment-promo-subtitle-link" ng-click="vm.openPromoCodePopup()">
                    View Promo Codes Status
                </div>
            </div>
        </div>
    </div>
</div>