<div class="payments-modals promo-codes-status">
    <div class="promo-codes-header" style="border-bottom: 1px solid #cdcdcd">
        <h3 style="padding: 9px 38px; font-size: 20px;">{{vm.promo_codes.length}} Exhibitor Promo Codes</h3>
    </div>
    <div class="modal-attendee" style="background-color: #fafafa; width: calc(100% - 2px); margin-left: 0;">
        <br/>
        <table style="width:100%; margin-left:32px; margin-bottom: 110px" class="promo_code_form">
            <thead>
                <tr>
                    <th><div class="checkbox-ico" ng-class="checkAllBool ? 'active':''" style="background-position: -6px -4px;" ng-click="$parent.checkAll(vm.promo_codes, $parent.checkAllBool); checkAllBool = (checkAllBool==true) ? false : true;"></div></th>
                    <th class="medium">Code</th>
                    <th class="medium">Amount</th>
                    <th class="medium">Redeemed by</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promo_code in vm.promo_codes" ng-click="vm.checkPromoCode(promo_code)">
                    <td><div class="checkbox-ico" ng-class="promo_code.checked ? 'active':''" style="background-position: -6px -4px;"></div></td>
                    <td>{{promo_code.code}}</td>
                    <td>${{promo_code.value}}</td>
                    <td class="demi" ng-if="promo_code.exhibitor.name && promo_code.exhibitor.name!=''">{{promo_code.exhibitor.name}}</td>
                    <td class="demi" ng-if="promo_code.exhibitor.id && (!promo_code.exhibitor.name || promo_code.exhibitor.name=='')">Exhibitor#{{promo_code.exhibitor.id}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
    </div>

    <div class="modal-attendee" style="margin-left: 0px;">
        <md-content class="payment-form-buttons" style="margin-top: 0;">
            <md-button class="md-raised md-primary btnC" ng-click="$parent.downloadTransactionsAsCsv(vm.promo_codes);">
                <img src="/assets/images/file-icon-download.png">
                Download
            </md-button>
            <md-button class="md-raised md-primary btnC" ng-click="$parent.printTransactionsAsCsv(vm.promo_codes);" style="float:right;">
                <img src="/assets/images/file-print-ready.png">
                Print
            </md-button>
        </md-content>
    </div>
</div>