<div class="registration-code">
	<p>Your Registration Form has been successfully created!</p>
	<p>Got a Google Tracking code? Just enter your code, click "Update Registration Code", then copy and paste the code into your website wherever you want the form to appear.
	</p>
	<div>
		<input type="text" placeholder="Your Google tracking code" ng-model="vm.conference.registration_form.tracking_code">
		<div class="cursor" ng-click="vm.updateTrackingCode();">UPDATE REGISTRATION CODE</div>
	</div>
	<div>
		<div style="overflow-y: auto;">
			<p ng-if="vm.registration_form_id && vm.registrationFormComplete">

		<pre style="white-space: pre-line; margin: 0;">
		<code id="registration_code" class="registrationCodeStyle"
				ng-readonly="!vm.merchant_id_verified" 
				ng-class="(vm.merchant_id_verified) ? '':'unselectable form-inactive'"
			>&lt;div id="IframeDivId"&gt;&lt;/div&gt;
			&lt;script&gt;
		        &nbsp;&nbsp;(function(d, s, id){
		        &nbsp;&nbsp;var js, fjs = d.getElementsByTagName(s)[0];
		        &nbsp;&nbsp;if (d.getElementById(id)){ return; }
		        &nbsp;&nbsp;js = d.createElement(s); js.id = id;
		        &nbsp;&nbsp;js.onload = function(){
		            &nbsp;&nbsp;&nbsp;&nbsp;showForm("IframeDivId", "{{vm.getRegistrationCodeFormId()}}");
		        &nbsp;&nbsp;};
		        &nbsp;&nbsp;js.src = "{{vm.getRegistrationJs()}}";
		        &nbsp;&nbsp;fjs.parentNode.insertBefore(js, fjs);
		        }(document, 'script', 'expo_js'));
		    &lt;/script&gt;
		</code></pre>
			</p>
		</div>
		<div class="registrationCodeButton cursor"
			ng-class="(vm.merchant_id_verified) ? '':'form-inactive'"
			ng-click="vm.copyCodeToClipboard()">Copy Code</div>
		<div class="cursor" ng-click="vm.previewRegistrationForm()">Preview</div>
	</div>
	<!-- <div>
		<p>CSS Download</p>
		<div>
			<p>Need to costumize the style of your registration form?</p>
			<div style="position: absolute; right: 205px;" class="cursor"><a href="https://s3.amazonaws.com/expo-static/resources/registration_form_style.css" download="registration_form_iframe.css">DOWNLOAD CSS</a></div>
			<div class="cursor">
				<div ngf-drop="vm.uploadCSS($files)"
			        ngf-select="vm.uploadCSS($files)"
			        ngf-max-size="10MB" ngf-min-height="50"
			        ngf-drag-over-class="'dragover'" ngf-multiple="false">
			        UPLOAD NEW CSS
			    </div>
			</div>
		</div>
		<div class="flex-row" ng-if="vm.conference.registration_form.custom_css"
		style="align-items: center; justify-content: initial; padding-left: 16px; padding-right: 21px; background-color: #edf0f2; min-height: 60px; margin-top: 29px;">
			<p class="demi" style="font-size: 14px;">{{vm.conference.registration_form.custom_css_file_name + ' '}}</p>
			<p class="medium" style="margin-left: 5px; font-size: 14px;">was uploaded on {{vm.conference.registration_form.custom_css_file_date | date : 'M/d/yyyy'}} at
			{{vm.conference.registration_form.custom_css_file_date | date : 'h:mma'}}</p>
			<div class="default-icon-circle" ng-click="vm.removeCSS()" 
                style="margin-left: auto; line-height: 37px;">
                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
            </div>
		</div>
	</div> -->
</div>