<div class="registration-page" style="height: 93vh;">
	<div class="merchant-agreement-status">
		<div>
			<p>Your Merchant Agreement Status:</p><p ng-class="vm.conference.business_data.merchant_id_verified ? 'completed' : 'in-progress'">
				{{ vm.conference.business_data.merchant_id_verified ? 'Approved' : 'Not Started'}}
			</p>
		</div>
		<div ng-click="vm.startMerchantAgreement()">{{!vm.conference.business_data.merchant_id_verified ? 'START' : 'VIEW'}} MERCHANT AGREEMENT</div>
	</div>
	<div class="registration-graphic-content">
		<div class="registration-graphic-header">
			<p>New Registrants</p>
			<div class="btn-for-registration-days" ng-class="!vm.registrationFormComplete ? 'unclickable-type' : ''"
				ng-click="vm.displayOptionsForGraphic = !vm.displayOptionsForGraphic">
				<p ng-repeat="option in vm.registrationGraphicDays" ng-if="option.checked">{{option.value}}</p>
				<i class="fa fa-sort" aria-hidden="true" 
	                style="color: #818181; font-size: 17px; position: relative; float: right; right: 11px; bottom: 28px;
"></i>
			</div>
			<div class="table-with-options-for-graphic" ng-if="vm.displayOptionsForGraphic" click-outside="vm.displayOptionsForGraphic = false">
				<p ng-repeat="time in vm.registrationGraphicDays track by $index" ng-click="vm.selectOptionForGraphic(time)" id="{{'update_opt' + $index}}">
					{{time.value}}
				</p>
			</div>
		</div>
		<div class="registration-graphic">
			<div id="registration-chart"></div>
		</div>
		<div class="registration-page-bottom">
			<div class="registration-page-bottom-left" ng-if="vm.registrationStats != null">
				<div>
					<p>Total Income</p>
					<p>{{vm.registrationStats.total_income_after_fees | currency:"$"}}</p></div>
				<div>
					<p>Pending Payment</p>
					<p>{{vm.registrationStats.next_deposit | currency:"$"}}</p>
				</div>
				<div>
					<p>Date of next deposit</p>
					<p>{{vm.registrationStats.next_deposit_date | date:'M/d/yyyy':vm.conference.time_zone}}</p>
				</div>
				<div style="display:block; border-right: 1px solid #cdcdcd; margin-right: -1px; margin-bottom: 0;">
				<br><br>
				</div>
			</div>
			<div class="registration-page-bottom-left" ng-if="vm.registrationStats == null">
				<div>
					<p>Total Income</p>
					<p>{{0 | currency : '$'}}</p></div>
				<div>
					<p>Next deposit</p>
					<p>---</p>
				</div>
				<div>
					<p>Date of next deposit</p>
					<p>---</p>
				</div>
			</div>
			<div class="registration-page-bottom-right">
				<div>
					<p>{{vm.numberOfRegistrantsPerDate || 0}}</p>
					<p>New Registrants</p>
					<p ng-repeat="option in vm.registrationGraphicDays" ng-if="option.checked">{{option.value}}</p>
				</div>
				<div>
					<p>{{vm.registrationStats.total_count || 0}}</p>
					<p>Total Registrants</p>
				</div>
			</div>
			
		</div>
	</div>
</div>