<div style="padding:20px; overflow-y: auto; height: calc(100vh - 118px);" ng-if="!vm.loadingTransactions"  scrolly="vm.loadMoreTransactions()">
    <div style="font-size: 20px; font-weight: 600;color: #4a4a4a;">
        Transactions
    </div>
    <div>
        <input type="text" placeholder="Search by last name or email"
               ng-change="vm.searchTransactions()" ng-model-options="{debounce:750}"
               class="registrationTransferSearch" ng-model="vm.transferQuery"/>
        <div ng-if="vm.loadingSearchTransactions">
            <div class="loading-verification" style="width: 40px; height: 40px; margin-top: 25px; margin-left: 10px; float: left;">
                <img src="assets/images/rolling.gif">
            </div>
        </div>
        
        <div class="conference-add-attendees-btn" ng-click="vm.exportTransactions()" 
                style="width: 80px; margin-top: 22px; float: right; margin-left: 0px;">
            EXPORT
        </div>
        <div ng-if="vm.loadExportTransfers">
            <div class="loading-verification" style="width: 40px; height: 40px; margin-top: 25px; margin-left: 10px; float: right;">
                <img src="assets/images/rolling.gif">
            </div>
        </div>

    </div>
    <table style="width:100%" class="payment-transactions-table">
        <thead>
        <tr style="height: 60px; background-color: #edf0f2; font-size: 12px; color: #4a4a4a;">
            <th class="medium">
                Transaction
            </th>
            <th class="medium">
                Time
            </th>
            <th style="padding-left: 0;" class="medium">Attendee</th>
            <th class="medium">Email</th>
            <th class="medium">Level</th>
            <th class="medium">Amount</th>
            <th class="medium">Transfer</th>
            <th class="medium">Receipt</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transaction in vm.registrationStats.attendee_registration_data | orderBy: '-created_at'"
            style="border-bottom: 1px solid #cdcdcd; height: 61px;">
            <td class="medium">
                {{transaction.created_at | date:'MMM d, yyyy'}}
            </td>
            <td class="medium">
                {{transaction.created_at | date:'hh:mm a' | lowercase}}
            </td>
            <td style="padding-left: 0; color:#26a7de" class="demi" ng-click="vm.openAttendeeInfo(transaction.attendee)">{{transaction.attendee.first_name}} {{transaction.attendee.last_name}}</td>
            <td>{{transaction.attendee.email_address}}</td>
            <td>{{transaction.registration_level.name}}</td>
            <td class="medium">{{transaction.payment.amount / 100 - ((transaction.payment.amount / 10000) * vm.conference.processing_fee) | currency:"$"}}</td>
            <td class="medium" ng-if="transaction.transfer_date"> 
                {{transaction.transfer_date | date:'MMM d, yyyy'}}
            </td>
            <td class="medium" ng-if="!transaction.transfer_date">
                N/A
            </td>
            <td class="medium" ng-if="transaction.receipt_url">
                <a href="{{transaction.receipt_url}}" target="__blank" style="margin-left: 18px;">
                    <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 14px; color: #4a4a4a;"></i>
                </a>
            </td>
            <td class="medium" ng-if="!transaction.receipt_url">
                <span style="margin-left: 18px; opacity:.4">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #cdcdcd;" 
                ng-if="vm.registrationStats.total_attendee_registrations > vm.registrationStats.attendee_registration_data.length">
            <td colspan="8" ng-if="!vm.loadingMoreTransactions">
                <span style="color: #26a7de" ng-click="vm.loadMoreTransactions()"> Load more </span>
            </td>
            <td colspan="8" ng-if="vm.loadingMoreTransactions">
                <div class="loading-verification" style="width: 40px; height: 40px; margin-top: 10px;">
                    <img src="assets/images/rolling.gif">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
</div>
<div ng-if="vm.loadingTransactions">
    <div class="loading-verification" style="width: 40px; margin: 0 auto;">
        <img src="assets/images/rolling.gif" style="margin-top:120px">
    </div>
</div>