<div class="conference-sessions-daily-listing">
    <div class="conference-sessions-tabs" style="border-bottom:1px solid #cecece;">
        <div style="overflow: hidden; white-space: nowrap; width: calc(100vw - 455px); float: left;" id="days-list-scroll" ng-init="vm.scrollToDay()">
            <div class="conference-sessions-tab medium"
                 ng-click="vm.sessionSelectDay(day); $emit('CurrentExhibitingDay', day); vm.moveDetails=false;"
                 ng-class="(vm.sessionSelectedDay=={{day.getTime()}}) ? 'active' : ''"
                 ng-repeat="day in vm.conferenceDays">
                {{day | date:'EEEE M/d'}}
                <div ng-if="vm.sessionSelectedDay==day.getTime()" style="width: 172px; height: 2px;">

                </div>
            </div>
            <div class="checked-current-exhibiting-day" style="float:left">
                <div ng-repeat="checkDate in vm.conferenceDays" ng-if="vm.exhibitingDays[checkDate.getDate() + '/' + checkDate.getMonth() + '/' + checkDate.getFullYear() + ' status']">
                    <img src="/assets/images/check-mark.png"/>
                </div>
            </div>
        </div>

        <div class="conference-sessions-tab medium"
             ng-class="!vm.verifyIfScrollIsRequired() ? 'is_hidden': ''"
             style="border-left: 1px solid #cecece; float:left; width: 78px; height: 68px;">
            <div style="width:37px; float:left;border-right: 1px solid #cecece; height: 68px;" class="horizontal-scroll-button" 
                ng-click="vm.scrollLeft()"; ng-mousedown="vm.scrollLeftHold();" ng-mouseup="vm.stopScroll()">
                <
            </div>
            <div style="width:39px; float:left; height: 68px;" class="horizontal-scroll-button" 
                ng-click="vm.scrollRight()" ng-mousedown="vm.scrollRightHold();" ng-mouseup="vm.stopScroll()">
                >
            </div>
        </div>
        <div class="conference-sessions-tab medium with-border"
             ng-class="vm.permissionsForManageSessions() && vm.sessionsForDay.length > 0 ? 'with-border' : 'with-border'">
            <div class="session_add_button" ng-click="vm.addNewSession()" ng-if="vm.permissionsForManageSessions()">
                <i class="fa fa-plus-circle" style="font-size: 18px; color: #26a7de; position: relative; right: 15px; top: 2px;" aria-hidden="true"></i>
                ADD SESSION
            </div>
        </div>
    </div>

    <div ng-if="vm.newSession != true">
        <div class="conference-sessions-table" ng-if="vm.sessionsForDay.length > 0">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'starts_at')" 
                                class="medium cursor"
                                ng-mouseover="vm.sortActive['starts_at']=true"
                                ng-mouseleave="vm.sortActive['starts_at']=false"
                                style="margin-left: 18px; margin-right: 5px; width: 10vw;">
                            <div style="float:left;">Times</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'starts_at') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'starts_at' || vm.sortActive['starts_at'])">
                            </div>
                        </th>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'title')"
                                ng-mouseover="vm.sortActive['title']=true"
                                ng-mouseleave="vm.sortActive['title']=false"
                                class="medium cursor" style="width: 22vw;">
                            <div style="float:left;">Session</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'title') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'title' || vm.sortActive['title'])">
                            </div>
                        </th>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'session_type')"
                                ng-mouseover="vm.sortActive['session_type']=true"
                                ng-mouseleave="vm.sortActive['session_type']=false"
                                class="medium cursor" style="width: 12.5vw;">
                            <div style="float:left;">Type</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'session_type') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'session_type' || vm.sortActive['session_type'])">
                            </div>
                        </th>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'speakers')"
                                ng-mouseover="vm.sortActive['speakers']=true"
                                ng-mouseleave="vm.sortActive['speakers']=false" 
                                class="medium cursor" style="width: 10vw;">
                            <div style="float:left;">Speaker</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'speakers') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'speakers' || vm.sortActive['speakers'])">
                            </div>
                        </th>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'nr_registered')"
                                ng-mouseover="vm.sortActive['nr_registered']=true"
                                ng-mouseleave="vm.sortActive['nr_registered']=false"  
                                class="small" style="width: 8%;">
                            <div style="float:left; cursor: pointer;">Registrants</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'nr_registered') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'nr_registered' || vm.sortActive['nr_registered'])">
                            </div>
                        </th>
                        <th ng-click="vm.orderSessionsByField(vm.orderAsc, 'nr_scanned')"
                                ng-mouseover="vm.sortActive['nr_scanned']=true"
                                ng-mouseleave="vm.sortActive['nr_scanned']=false"  
                                class="small" style="width: 8%;">
                            <div style="float:left; cursor: pointer;">Attendees</div>
                            <div ng-class="(vm.orderAsc || vm.orderSessionBy != 'nr_scanned') ? 'conference-table-order-icon ascending' : 'conference-table-order-icon'"
                                style="background-color: #fff; opacity: 1;"
                                ng-if="(vm.sessionsForDay.length > 1) && (vm.orderSessionBy == 'nr_scanned' || vm.sortActive['nr_scanned'])">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody style="display: block; height: 79vh; overflow-y: scroll;">
                    <tr ng-repeat="session in vm.sessionsForDay track by $index" 
                        class="conference-session-table-row medium" 
                        ng-class="$last ? 'conference-table-row-last' : ''"
                        style="min-height: 68px;" id="session_index_{{$index}}" 
                        ng-click="vm.viewSessionDetails(session);">
                        <td style="padding-left: 54px; align-self: flex-start; font-weight: 600">{{session.starts_at | date:'h:mm a':vm.conference.time_zone}} - {{session.ends_at | date:'h:mm a':vm.conference.time_zone}}</td>
                        <td title="{{session.title}}" class="demi ellipsis" style="padding-left: 23px; align-self: flex-start; width: 22vw;">{{session.title}}</td>
                        <td style="align-self: flex-start; font-weight: 600; width: 12vw;">
                            {{vm.getSessionTypeName(session.session_type).name}}
                        </td>
                        <td style="padding-top: 16px; padding-bottom: 16px;">
                            <div ng-repeat="speaker in session.speakers" class="conference-table-speaker" ng-if="speaker.first_name">
                                <useravatar image="speaker.headshot_url"
                                   firstname="speaker.first_name"
                                   lastname="speaker.last_name">
                                </useravatar>
                                <p class="ellipsis" style="margin: 0; font-size: 12px; width: 13em;">
                                    <span style="margin: 0; font-size: 14px; font-weight: 600;">
                                    {{speaker.first_name + ' ' + speaker.last_name}}</span><br ng-if="speaker.company">
                                    {{speaker.company}}
                                </p>
                            </div>
                        </td>
                        <td style="text-align: center; width: 6%; align-self: flex-start; font-weight: 600">
                            {{session.nr_registered || 0}}                            
                        </td>
                        <td style="text-align: center; width: 6%; align-self: flex-start; font-weight: 600">
                            {{session.nr_scanned || 0}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="conference-sessions-table" ng-if="vm.sessionsForDay.length <= 0" 
            style="height: 720px; padding-top: 115px;">
            <div class="conference-sessions-none">
                There are currently no sessions on this day
                <div class="conference-template-add-session-btn" style="line-height: 45px;" ng-click="vm.addNewSession()" ng-if="vm.permissionsForManageSessions()">
                    ADD SESSION
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.newSession == true">
        <ng-include src="'app/views/partials/conference/add_session.html'"></ng-include>
    </div>
</div>