<div class="conference-session-details">
    <div class="conference-session-details-head medium" style="font-size: 16px;" ng-click="vm.viewSessionDetails(null);" ng-if="vm.newSession != true">
        <div class="medium" style="margin-right: 10px; display: inline; position: relative; top: 4px;">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; bottom: 4px;"></i>
        </div>
            {{vm.sessionDetailsView.starts_at | date:'EEEE M/d':'vm.conference.time_zone'}} Sessions
    </div>
    <div class="conference-session-details-holder" ng-if="vm.newSession != true">
        <div style="margin-right: -40px;">
            <div class="conference-session-details-title" style="display: flex; align-items: center; padding: 2px 0;">
                <div class="conference-session-details-title-text ellipsis" title="{{vm.sessionDetailsView.title}}" 
                    style="width: calc(100% - 416px); align-self: stretch; line-height: 43px;">
                    {{vm.sessionDetailsView.title}}
                </div>
                <div class="conference-session-details-title-buttons" style="margin-right: 40px; height: 21px; margin-left: auto;">
                    <div class="conference-template-session-edit-btn demi" ng-if="vm.permissionsForManageSessions()" ng-click="vm.uploadAttendeesToSession()">
                        UPLOAD
                    </div>
                    <div class="conference-template-session-edit-btn demi" ng-click="vm.editSession()"  ng-show="vm.permissionsForManageSessions()">
                        EDIT
                    </div>
                    <div class="default-icon-circle" ng-click="vm.deleteSession()" ng-if="vm.permissionsForManageSessions()" 
                        style="float: right; position: relative; bottom: 6px;">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color: #4a4a4a; font-size: 17px;"></i>
                    </div>
                </div>
            </div>
            <div class="conference-session-details-description">
                <div class="conference-session-details-stats" style="display: flex;">
                    <div class="conference-session-details-box cursor" 
                        ng-click="vm.loadSessionRegistrants();">
                        <div class="conference-session-details-box-big">
                            {{vm.sessionDetailsView.nr_registered || 0}}
                        </div>
                        <div class="conference-session-details-box-small">
                            Registrants
                        </div>
                    </div>
                    <div class="conference-session-details-box orange cursor" 
                        ng-click="vm.loadSessionScanned();">
                        <div class="conference-session-details-box-big">
                            {{vm.sessionDetailsView.nr_scanned || 0}}
                        </div>
                        <div class="conference-session-details-box-small">
                            Attendees
                        </div>
                    </div>
                    <div class="session-data-modules-holder">
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <div class="text"> {{ vm.sessionDetailsView.starts_at | date:'EEEE M/d':vm.conference.time_zone }} </div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <div class="text"> {{ vm.sessionDetailsView.starts_at | date:'h:mm a':vm.conference.time_zone }} - {{ vm.sessionDetailsView.ends_at | date:'h:mm a':vm.conference.time_zone }}</div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="text"> {{ vm.sessionDetailsView.location }} </div>
                        </div>
                    </div>
                    <div class="session-data-modules-holder">
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <div class="text"> {{ vm.sessionDetailsView.ce_hours }} Hours </div>                        
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'individual_presentation'" 
                                    class="fa fa-male" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'interactive_roundtable_discussion'
                                || vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'panel_discussion'" 
                                class="fa fa-comments" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'workshop' || 
                                vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'pre_conference_workshop'" 
                                class="fa fa-slideshare" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'breakout'" 
                                class="fa fa-arrows-alt" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'networking'" 
                                class="fa fa-sitemap" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'reception'" 
                                class="fa fa-glass" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'breakfast' || 
                                vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'lunch' || 
                                vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'dinner'" 
                                class="fa fa-cutlery" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'gala'" 
                                class="fa fa-certificate" aria-hidden="true"></i>
                            <i ng-if="vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).id == 'keynote'" 
                                    class="fa fa-child" aria-hidden="true"></i>
                            
                            <div class="text">{{vm.getSessionTypeNameById(vm.sessionDetailsView.session_type).name}}</div>
                        </div>                        
                        <div class="icon-data-display-detail-module-wrapper">
                            <div class="text">
                                Maximum Capacity: {{vm.sessionDetailsView.max_capacity || 'Not Set'}}
                            </div>
                        </div>
                    </div>
                    <div class="session-data-modules-holder">
                                                
                    </div>

                    <div class="conference-session-details-info">
                        <div style="display: flex; height: 81px;">
                            <div style="flex-wrap: wrap; display: flex; flex-direction: column;">
                                <div ng-repeat="session_continuing_education in vm.sessionDetailsView.session_continuing_educations" 
                                    style="margin-right: 40px;"
                                    class="conference-session-details-info-item">
                                    {{session_continuing_education.continuing_education.name}}
                                </div>
                                <div ng-repeat="session_custom_field in  vm.sessionCustomFieldsPerConference" 
                                    style="margin-right: 40px;"
                                    class="conference-session-details-info-item">
                                    {{session_custom_field.name}}
                                    <span ng-if="vm.sessionDetailsView.custom_fields[session_custom_field.id] && session_custom_field.type == 2">
                                        : {{vm.sessionDetailsView.custom_fields[session_custom_field.id].join(',')}}
                                    </span>
                                    <span ng-if="vm.sessionDetailsView.custom_fields[session_custom_field.id] && session_custom_field.type != 2">
                                        : {{vm.sessionDetailsView.custom_fields[session_custom_field.id]}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conference-session-details-description-text" style="width: 84vw; overflow-wrap: break-word;">
                    {{vm.sessionDetailsView.description}}
                </div>
            </div>
            <div class="conference-session-details-speakers" ng-if="vm.sessionDetailsView.speakers.length > 0">
                <div class="conference-session-details-title">
                    <div class="conference-session-details-title-text">
                        Speakers
                    </div>
                    <div class="conference-session-details-speakers-holder" ng-repeat="speaker in vm.sessionDetailsView.speakers" ng-if="speaker.first_name">
                        <div class="conference-session-details-speaker-details">
                            <div class="conference-session-details-speaker-details-inner">
                                <useravatar image="speaker.headshot_url"
                                           firstname="speaker.first_name"
                                           lastname="speaker.last_name"
                                           size="90px"
                                           fontsize="28px">
                                </useravatar>

                                <div class="conference-session-details-info-block">
                                    <div  class="conference-session-details-info-item conference-session-speaker-name demi">
                                        {{speaker.first_name + ' ' + speaker.last_name}}
                                    </div>
                                    <div  ng-if="speaker.job_title" class="conference-session-details-info-item medium" style="margin-top: 7px;">
                                        {{speaker.job_title}}
                                    </div>
                                    <div  ng-if="speaker.company" class="conference-session-details-info-item medium" style="margin-top: 7px;">
                                        {{speaker.company}}
                                    </div>
                                    <div style="display: flex;">
                                        <div class="flex-column" style="position: relative; top: 8px;">
                                            <div class="icon-data-display-detail-module-wrapper" ng-if="speaker.phone_number">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <div class="text">{{ speaker.phone_number }}</div>
                                            </div>
                                            <div class="icon-data-display-detail-module-wrapper" ng-if="speaker.email">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <div class="text">{{ speaker.email }}</div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="conference-session-details-info-item">
                                        <a ng-show="speaker.linkedin_url" href="{{vm.sanitizeUrl(speaker.linkedin_url)}}" target="_blank">
                                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-show="speaker.facebook_url" href="{{vm.sanitizeUrl(speaker.facebook_url)}}" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-show="speaker.twitter_url" href="{{vm.sanitizeUrl(speaker.twitter_url)}}" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-show="speaker.youtube_url" href="{{vm.sanitizeUrl(speaker.youtube_url)}}" target="_blank">
                                            <i class="fa fa-youtube-play" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="conference-session-details-description-text" style="overflow-wrap: break-word; padding-top: 30px;">
                                    {{speaker.biography}}
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.sessionDetailsView.speakers.length < 1">
                            There are no speakers for this session.
                        </div>
                    </div>
                </div>
            </div>
            <div class="conference-session-details-materials" ng-if="vm.sessionDetailsView.session_files.length > 0">
                <div class="conference-session-details-title">
                    <div class="conference-session-details-title-text">
                        Materials
                    </div>
                </div>
                <div class="conference-session-details-materials-holder">
                    <div ng-if="vm.sessionDetailsView.session_files.length < 1">
                        There are no materials for this session.
                    </div>
                    <div class="conference-session-details-material"
                         ng-repeat="file in vm.sessionDetailsView.session_files">
                        <div class="conference-session-details-material-icon">
                            <i class="fa fa-file-o" aria-hidden="true" 
                                style="color: #68aa3b; font-size: 48px;">
                            </i>
                        </div>
                        <div title="{{file.name}}"
                            class="conference-session-details-material-name cursor" 
                            ng-click="vm.openSessionFile(file)">
                            {{file.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.sessionDetailsView.sessionquestion_set.length > 0"
                class="conference-session-details-materials flex-column conference-session-feedback-details" style="border-top: 1px solid #cdcdcd; width: 98%;">
                <div class="flex-row">
                    <p class="demi" style="font-size: 20px;">Session Feedback</p>
                    <div class="demi" style="font-size: 12px; line-height: 32px;" ng-click="vm.downloadFeedbackAction(vm.sessionDetailsView)">
                        <i class="fa fa-file-o" aria-hidden="true" 
                            style="color: #4a4a4a; font-size: 18px; position: relative; right: 7.5px; top: 2px;">
                        </i>
                            DOWNLOAD RESULTS
                    </div>
                </div>
                <div class="flex-column">
                    <div ng-repeat="question in vm.sessionDetailsView.sessionquestion_set">
                        <div class="flex-row" style="margin-bottom: 15px; align-items: center;">
                            <p class="medium" style="font-size: 14px; width: 117px">Question {{$index + 1}}:</p>
                            <p class="demi" style="font-size: 14px;">{{question.text}}</p>
                        </div>
                        <div class="flex-row">
                            <p class="medium" style="font-size: 14px; width: 117px;">Answer type:</p>
                            <div class="flex-column">
                                <p class="medium" style="font-size: 14px;">
                                    {{question.type == 1 ? 'Freeform text' : (question.type == 3 ? 'Multi-select' : 'Single-select')}}
                                </p>
                                <p  ng-repeat="option in question.sessionquestionoption_set" class="medium" style="font-size: 14px;">{{'- ' + option.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.newSession == true">
        <ng-include src="'app/views/partials/conference/add_session.html'"></ng-include>
    </div>
</div>