<div class="continuing-education-panel">
	<div class="create-CE-types">
		<div>Create Continuing Education Types</div>
		<div class="rule-types-text">Enter as many types of Continuing Education as needed.</div>
		<div class="input-CE-type">
			<input type="text" placeholder="Enter type of continuing education" ng-model="vm.continuing_education_model.name">
			<div class="cursor" ng-click="vm.addContinuingEducation()">SAVE</div>
		</div>
	</div>
	<div class="saved-CE-types">
		<div>Saved Continuing Education Types</div>
		<div class="CE-type-list" style="
		    height: calc(100vh - 240px);
		    overflow-y: auto;
		    overflow-x: hidden;">
			<div class="CE-type-item" ng-repeat="ce in vm.conference.continuing_educations">
				<div> <i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; margin-right: 8px;"></i>{{ce.name}}</div>
				<div class="flex-row" style="align-items: center;">
					<div class="default-icon-circle" ng-click="vm.updateContinuingEducation(ce)" style="margin-right: 15px;">
						<i class="fa fa-pencil-square-o" aria-hidden="true" 
							style="color: #9b9b9b; font-size: 17px;"></i>
					</div>
					<div class="default-icon-circle" ng-click="vm.deleteContinuingEducation(ce.id)" style="margin-right: 20px;">
						<i class="fa fa-trash-o" aria-hidden="true" 
							style="color: #9b9b9b; font-size: 17px;"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>