<div class="continuing-education-panel">
	<div class="create-CE-types" style="overflow-y: scroll; height: calc(100vh - 85px);">
		<div>Add custom session fields</div>
		<div class="create-session-fields-panel">
			<div class="session-custom-fields">
				<input class="session-custom-field-name" type="text" 
					placeholder="Custom Field Name (unique)" ng-model="vm.sessionCustomFieldModel.name"> 
				<div>
	                <div class="conference-custom-field-text-custom cursor" ng-click="vm.session_field_drop_down = !vm.session_field_drop_down">
	                   	{{vm.sessionCustomFieldModel.type == 1 ? 'Text' : (vm.sessionCustomFieldModel.type == 2 ? 'Multiple Choice' : 'Single Choice')}}
	                    <i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative; float: right; top: 12px;"></i>
	                </div>

	                <div class="custom-field-options-div" ng-if="vm.session_field_drop_down" click-outside="vm.session_field_drop_down = false">
	                    <div class="custom-field-option" ng-click="vm.selectSessionCustomFieldOption(1); vm.session_field_drop_down = false;">
	                        Text
	                    </div>
	                    <div class="custom-field-option" ng-click="vm.selectSessionCustomFieldOption(2); vm.session_field_drop_down = false;">
	                        Multiple Choice
	                    </div>
	                    <div class="custom-field-option" ng-click="vm.selectSessionCustomFieldOption(3); vm.session_field_drop_down = false;">
	                        Single Choice
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="session-custom-fields-options" ng-if="vm.sessionCustomFieldModel.type != 1">
	        	<div ng-repeat="option in vm.sessionCustomFieldModel.customsessionfieldoption_set track by $index">
	        		<input type="text" placeholder="Enter possible value for field" ng-model="option.value">
	        		<i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
	        			ng-if="vm.sessionCustomFieldModel.customsessionfieldoption_set.length > 1"
	        			ng-click="vm.removeOptionFromSessionCustomField($index)" aria-hidden="true"></i>
	        		<i class="fa fa-plus-circle cursor" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true" 
	        			ng-if="$index == vm.sessionCustomFieldModel.customsessionfieldoption_set.length - 1"
	        			ng-click="vm.moreOptionsForSessionCustomField()"></i>
	        	</div>
	        </div>
	        <div class="no-padding">
	        	<div class="cancel-field-session cursor" ng-click="vm.cancelEditSessionCustomField();" ng-if="vm.sessionCustomFieldModel.id">Cancel</div>
	        	<div class="save-field-session cursor" ng-click="vm.saveSessionCustomField();">SAVE FIELD</div>
	        </div>
	    </div>
	</div>
	<div class="saved-CE-types">
		<div>Saved Custom Fields</div>
		<div class="CE-type-list" style="
		    height: calc(100vh - 240px);
		    overflow-y: auto;
		    overflow-x: hidden;">
			<div class="CE-type-item" ng-repeat="session_custom_field in vm.sessionCustomFieldsPerConference">
				<div>
					<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; margin-right: 8px;"></i>{{session_custom_field.name}}
				</div>
					<div class="flex-row" style="align-items: center; ">
						<div class="default-icon-circle" ng-click="vm.editSessionCustomField(session_custom_field)" style="margin-left: auto; margin-right: 10px;">
		                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
		            </div>
		            <div class="default-icon-circle" ng-click="vm.deleteSessionCustomField(session_custom_field.id)" style="margin-right: 20px;">
		                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>