<div class="session-registrants">
    <div class="session-registrants-title">
    	<i class="fa fa-arrow-circle-o-left cursor" aria-hidden="true"
            style="color: #26a7de; font-size: 18px; position: relative; bottom: 2px; right: 7.6px;"
            ng-click="vm.sessionRegistrantsView = false; vm.sessionAttendeesView = false;"></i>
    	<p class="ellipsis" style="width: 90em;" title="{{vm.sessionDetailsView.title}}">{{vm.sessionDetailsView.title}}</p>
    </div>
    <div class="session-registrants-options-bar">
    	<div>
        	<p ng-if="vm.sessionRegistrantsView">Registrants({{vm.totalNumberOfRegistrants || 0}})
                <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; margin-left: 6.5px;"></i>
            </p>
        	<p ng-if="vm.sessionAttendeesView">Attendees({{vm.totalNumberOfRegistrants || 0}})
                <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; margin-left: 6.5px;"></i>
            </p>
    	</div>
    	<div class="search-registrant"><input type="text" placeholder="Search by last name, company, or email"
        ng-change="vm.searchSession()" ng-model-options="{debounce:750}" ng-init="registrant_info = ''"
        ng-model="vm.queryModel" /></div>
    	<div>
    		<md-content>
    			<md-button class="md-raised md-primary btnAddReg" aria-label="Close"
                    ng-click="vm.sessionRegistrantsView ? vm.openAttendeeSearchBox() : (vm.sessionAttendeesView ? vm.openAttendeeSearchBoxScanned() : '')"
                    ng-if="vm.permissionsForManageSessions() && !vm.sessionRegistrantsChecked && !vm.sessionScannedChecked">
	    			<i class="fa fa-plus-circle" 
                        style="font-size: 18px; color: #26a7de; margin-right: 16px; position: relative; bottom: 2px;" aria-hidden="true"></i>
	    			<span ng-show="vm.sessionRegistrantsView" style="margin: 0;">Add Registrants</span>
	    			<span ng-show="vm.sessionAttendeesView" style="margin: 0;">Add Attendees</span>
    			</md-button>
                <md-button class="md-raised md-primary btnAddReg btnMoreOpt" aria-label="Close"
                    ng-if="(vm.sessionRegistrantsChecked || vm.sessionScannedChecked) && vm.permissionsForDownloadAttendees()"
                    ng-click="vm.moreOptionsForSessionTabel = true">
                    <p>More</p>
                    <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; right: 6px; bottom: 1px;"></i>
                </md-button>
                <div class="default-icon-circle" 
                    ng-if="((vm.sessionRegistrantsChecked || vm.sessionScannedChecked) && (vm.permissionsForManageSessions()))" 
                    ng-click='vm.deleteFromSession()'
                    style="margin-top: 20px; float:left; margin-left: 16px; background-color: #fffde6;">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
                </div>
    		</md-content>
            <div class="conference-attendees-more-options download-as-csv-option cursor" ng-if="vm.moreOptionsForSessionTabel">
                <div class="conference-option-type download-as-csv-option-2" style="width: initial; height: 20px;"
                    click-outside="vm.moreOptionsForSessionTabel = false" ng-click="vm.downloadSessionAttendeesAsCsv()">
                    <i class="fa fa-file-o" aria-hidden="true" 
                        style="margin-right: 13px; color: #4a4a4a; position: relative; font-size: 18px; top: 2px;"></i>Download as .csv
                </div>
            </div>
        </div>
    </div>
    <!-- ATTENDEES FOR SESSION-->
    <div class="session-registrants-grid" ng-if="vm.sessionRegistrantsView">
    	<div class="session-registrants-grid-header">
    		<div class="checkbox-ico cursor" ng-class="vm.checkAllSessionRegistrants ? 'active':''" ng-click="vm.checkAll(vm.sessionAttendees.sessions_attendees)"
                ng-show="(((vm.permissionsForDownloadAttendees()) || (vm.permissionsForManageSessions())) && (vm.sessionAttendees.total_count > 0) && (vm.sessionAttendees.sessions_attendees.length > 0))"></div>
    		<div ng-repeat="field in vm.registrantFields track by $index" ng-class="$index == 0 ? 'cursor' : ''"
                ng-click="$index == 0 ? vm.sortSessionRegistrants() : ''">
                {{field.title}}
                <img style="position: relative; top: 2px; left: 5px;"
                    ng-if="vm.sessionAttendees.sessions_attendees.length > 1 && $index == 0"
                    src="{{ vm.attendeeFilters.sortOrder === 'desc' ?
                    '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}" >
            </div>
    	</div>
    	<div class="window-grid-registrants"
            scrolly="vm.sessionAttendees.total_count > 30 ? vm.showMoreSessionAttendees() : ''">
            <div class="session-registrants-grid-row"
                 ng-repeat="attendee in vm.sessionAttendees.sessions_attendees | SearchSessionRegistrant : registrant_info"
                 ng-click="vm.openAttendeeInfo(attendee.attendee)"
                 ng-class="attendee.attendee.checked ? 'active' : ''">
                <div class="checkbox-ico" ng-click="vm.checkOne(attendee.attendee, 'session_registrants'); $event.stopPropagation();"
                    ng-class="attendee.attendee.checked ? 'active':''"
                    ng-show="((vm.permissionsForDownloadAttendees()) || (vm.permissionsForManageSessions()))">
                </div>
                <div>
                    <useravatar
                           image="attendee.attendee.attendee_photo"
                           firstname="attendee.attendee.first_name"
                           lastname="attendee.attendee.last_name">
                    </useravatar>
                </div>
                <div>
                    {{attendee.attendee.first_name + ' ' + attendee.attendee.last_name}}
                </div>
                <div class="medium">{{attendee.attendee.email_address}}</div>
                <div class="medium">{{attendee.attendee.phone_number}}</div>
                <div class="medium ellipsis">{{attendee.attendee.company_name}}</div>
                <div ng-click="vm.openQRcodeModal(attendee.attendee); $event.stopPropagation();">
                    <qr
                       size="34"
                       text="vm.getUserQrCode(attendee.attendee)">
                    </qr>
                </div>
            </div>
            <div ng-if="vm.requestedMoreSessionAttendees && vm.sessionAttendees.total_count > vm.sessionAttendees.sessions_attendees.length"
                 style="padding-left:30px; margin-bottom:30px;">
                &nbsp;
                <div class="infinite-loading-animation"></div>
            </div>
            <div ng-if="vm.totalNumberOfRegistrants <= 0" class="table-custom-no-items">
                There are no registrants at this session
            </div>
        </div>
    </div>
    <!-- SCANNED ATTENDEES FOR SESSION-->
    <div class="session-registrants-grid" ng-if="vm.sessionAttendeesView">
    	<div class="session-registrants-grid-header">
    		<div class="checkbox-ico cursor" ng-class="vm.checkAllSessionScanned ? 'active' : ''" ng-click="vm.checkAll(vm.sessionAttendees.scanned_attendees)"
                ng-show="(((vm.permissionsForDownloadAttendees()) || (vm.permissionsForManageSessions())) && (vm.sessionAttendees.total_count > 0) && (vm.sessionAttendees.scanned_attendees.length > 0))"></div>
    		<div ng-repeat="field in vm.tempAttendeeFields track by $index" ng-class="$index == 0 ? 'cursor' : ''"
                ng-click="$index == 0 ? vm.sortSessionScanned() : ''">
                {{field.name}}
                <img style="position: relative; top: 2px; left: 5px;"
                    ng-if="vm.sessionAttendees.scanned_attendees.length > 1 && $index == 0"
                    src="{{ vm.attendeeFilters.sortOrder === 'desc' ?
                    '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}" >
            </div>
    	</div>
    	<div class="window-grid-registrants"
             scrolly="vm.sessionAttendees.total_count > 30 ? vm.showMoreSessionAttendees() : ''">
	    	<div class="session-registrants-grid-row"
                 ng-repeat="attendee in vm.sessionAttendees.scanned_attendees | SearchSessionRegistrant : registrant_info"
                 ng-click="vm.openAttendeeInfo(attendee.attendee)"
	    		 ng-class="attendee.attendee.checked ? 'active' : ''">
	    		<div class="checkbox-ico" ng-click="vm.checkOne(attendee.attendee, 'session_scanned'); $event.stopPropagation();"
                    ng-class="attendee.attendee.checked ? 'active':''"
                    ng-show="((vm.permissionsForDownloadAttendees()) || (vm.permissionsForManageSessions()))">
                </div>
	    		<div>
                    <useravatar
                           image="attendee.attendee.attendee_photo"
                           firstname="attendee.attendee.first_name"
                           lastname="attendee.attendee.last_name">
                    </useravatar>
                </div>
	    		<div>
                    {{attendee.attendee.first_name + ' ' + attendee.attendee.last_name}}
                </div>
	    		<div class="medium">{{attendee.attendee.email_address}}</div>
	    		<div class="medium">{{attendee.attendee.phone_number}}</div>
	    		<div class="medium">{{attendee.attendee.company_name}}</div>
	    		<div ng-click="vm.openQRcodeModal(attendee.attendee); $event.stopPropagation();">
		    		<qr
		               size="34"
		               text="vm.getUserQrCode(attendee.attendee)">
		            </qr>
		        </div>
	    	</div>
            <div ng-if="vm.requestedMoreSessionAttendees && vm.sessionAttendees.total_count > vm.sessionAttendees.scanned_attendees.length"
                 style="padding-left:30px; margin-bottom:30px;">
                &nbsp;
                <div class="infinite-loading-animation"></div>
            </div>
            <div ng-if="vm.totalNumberOfRegistrants <= 0" class="table-custom-no-items">
                There are no attendees at this session
            </div>
	    </div>
    </div>
</div>
