<div class="travel" ng-init="vm.getTravelItems()" style="height: calc(100vh - 78px); overflow-y: auto;" id="travelPage">
	<div class="travel-types">
		<div ng-click="vm.travelSelected = 'hotel'; vm.plus_travel = false;" 
			 ng-class="vm.travelSelected == 'hotel' ? 'selected-travel-type': ''">Hotels</div>
		<div ng-click="vm.travelSelected = 'car_rental'; vm.plus_travel = false;" 
			 ng-class="vm.travelSelected == 'car_rental' ? 'selected-travel-type': ''">Car Rentals</div>
		<div ng-click="vm.travelSelected = 'airline'; vm.plus_travel = false;" 
			 ng-class="vm.travelSelected == 'airline' ? 'selected-travel-type': ''">Airline</div>
		<div ng-click="vm.travelSelected = 'transportation'; vm.plus_travel = false;" 
			 ng-class="vm.travelSelected == 'transportation' ? 'selected-travel-type': ''">Transportation</div>
	</div>
	<div>
		<div class="travel-list" ng-if="vm.travel[vm.travelSelected].length > 0 && !vm.plus_travel && !vm.requestOnRolling" style="height: 85vh;">
			<table>
				<thead>
					<tr class="flex-row">
						<th ng-click="vm.sortTravelType()">{{vm.displayTextForUser(vm.travelSelected)}}</th>
						<th>Group Code</th>
						<th>{{vm.travelSelected == 'hotel' ? ('Room Rate') : (vm.travelSelected == 'car_rental' ? 'Car Rate' : 'Discount')}}</th>
					</tr>
				</thead>
				<tbody style="max-height: 450px; overflow-y: auto;">
					<tr class="flex-row cursor" ng-repeat="travel in vm.travel[vm.travelSelected] | orderBy: 'name'" ng-click="vm.editThisTravelItem(travel);">
						<td>
							<div class="flex-row" style="align-items: center;">
								<div>
									<img ng-if="vm.travelSelected == 'hotel'" 
										ng-src="{{!travel.image ? 'https://s3.amazonaws.com/expo-images/f49b77899e07f1b4b306bead6a1c8db3.png' : travel.image}}" 
										style="margin-right: 19px; width: 12vw; max-height: 82px;">
									<img ng-if="vm.travelSelected == 'car_rental'" 
										ng-src="{{!travel.image ? 'https://s3.amazonaws.com/expo-images/9d86dc6b04759c0624cc7c33bbbfee9a.png' : travel.image}}" 
										style="margin-right: 19px; width: 12vw; max-height: 82px;">
									<img ng-if="vm.travelSelected == 'airline'" 
										ng-src="{{!travel.image ? 'https://s3.amazonaws.com/expo-images/821436dda96e726b83d91e203c372d41.png' : travel.image}}" 
										style="margin-right: 19px; width: 12vw; max-height: 82px;">
									<img ng-if="vm.travelSelected == 'transportation'" 
										ng-src="{{!travel.image ? 'https://s3.amazonaws.com/expo-images/94504d4aca2ecdfd8bfb58c13bd20f7a.png' : travel.image}}" 
										style="margin-right: 19px; width: 12vw; max-height: 82px;">
								</div>
								<div style="line-height: 20px;" ng-if="vm.travelSelected == 'hotel' || vm.travelSelected == 'car_rental'">
									<p class="demi">{{travel.name}}</p>
									<p>{{travel.street_address + ', ' + travel.city + ', ' +
									 	travel.state + ' ' + travel.zip_code}}</p>
									<p>{{travel.country}}</p>
									<p>{{travel.phone_number}}</p>
								</div>
								<div style="line-height: 20px;" ng-if="vm.travelSelected == 'airline' || vm.travelSelected == 'transportation'">
									<p class="demi">{{travel.name}}</p>
									<p>{{travel.website}}</p>
								</div>
							</div>
						</td>
						<td>
							{{travel.group_code ? travel.group_code : 'No group code provided'}}
						</td>
						<td ng-if="vm.travelSelected == 'hotel' || vm.travelSelected == 'car_rental'">
							{{travel.price_range_start > 0 || travel.price_range_end > 0 ? '$' + travel.price_range_start + '-' + travel.price_range_end :
							(travel.price_range_start == 0 && travel.price_range_end == 0 ? 'No price provided' : '')}}
						</td>
						<td ng-if="vm.travelSelected == 'airline' || vm.travelSelected == 'transportation'">
							{{travel.discount}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="add-travel-type-button demi cursor" ng-click="vm.addTravelType()" 
				ng-class="vm.travelSelected == 'transportation' ? 'big-add-trans-button' : (vm.travelSelected == 'car_rental' ? 'big-add-car-button' : '')">
				<i class="fa fa-plus-circle" style="font-size: 17px; color: #26a7de; position: relative; top: 6px; float: left; left: 8px;" 
					aria-hidden="true"></i>
                ADD {{vm.displayTextForUser(vm.travelSelected) | uppercase}}
			</div>
		</div>
		<div class="travel-none" ng-if="vm.travel[vm.travelSelected].length == 0 && !vm.plus_travel && !vm.requestOnRolling">
			<p>
				No special rates on {{vm.displayTextForUser()}}{{vm.travelSelected != 'transportation' && vm.travelSelected != 'airline' ? 's' : ''}} 
				have been entered for this conference.
			</p>
			<div ng-click="vm.addTravelType()">ADD SPECIAL RATE</div>
		</div>
		<div style="margin-right: auto; margin-left: auto; margin-top: 100px; width: 100px;" ng-if="vm.requestOnRolling">
			<img src="assets/images/rolling.gif">
		</div>
	</div>
	<div class="travel-form flex-column" ng-if="(vm.travelSelected == 'hotel' || vm.travelSelected == 'car_rental') && vm.plus_travel">
		<div ng-if="vm.travelSelected == 'hotel'" class="flex-row">
			<p>Hotel Details</p>
			<p>*Required</p>
		</div>
		<div ng-if="vm.travelSelected == 'car_rental'" class="flex-row">
			<p>Car Rental Details</p>
			<p>*Required</p>
		</div>
		<div class="flex-row">
			<div class="flex-column">
				<div ng-repeat="form in vm.large_form_for_travel track by $index" class="flex-row" 
					ng-class="$index == 7 && vm.newTravelType.country.trim() != 'United States' ? 'margin-bottom-0' : ''">
					<p ng-if="vm.travelSelected == 'hotel' && $index == 0"  ng-class="form.required ? 'required-field' : ''"
						style="align-self: baseline; padding-top: 15px;">{{'Hotel ' + form.label}}</p>
					<p ng-if="vm.travelSelected == 'car_rental' && $index == 0"  ng-class="form.required ? 'required-field' : ''"
						style="align-self: baseline; padding-top: 15px;">{{'Car Rental ' + form.label}}</p>
					<p ng-if="vm.travelSelected == 'hotel' && $index == 1" ng-class="form.required ? 'required-field' : ''">
						{{'Hotel ' + form.label}}</p>
					<p ng-if="vm.travelSelected == 'car_rental' && $index == 1" ng-class="form.required ? 'required-field' : ''">
						{{'Car Rental ' + form.label}}</p>
					<p ng-if="$index > 1 && $index != 7" ng-class="form.required ? 'required-field' : ''">
						{{form.label}}
					</p>
					<p ng-if="$index == 7 && vm.newTravelType.country.trim() == 'United States'" ng-class="form.required ? 'required-field' : ''">
						{{form.label}}
					</p>
					<div class="flex-column select-travel-default-types">
						<select ng-if="$index == 0 && vm.travelSelected == 'hotel'" type="text" style="padding-left: 10px;" 
							ng-model="vm.newTravelType.name"
							ng-change="vm.getDefaultTravelLogo(vm.newTravelType.name)">
							<option disabled selected class="color: #cdcdcd;">Select a {{vm.travelSelected}}</option>
							<option ng-repeat="option in vm.defaultHotels track by option">{{option}}</option>
						</select>
						<select ng-if="$index == 0 && vm.travelSelected == 'car_rental'" type="text" style="padding-left: 10px;" 
							ng-model="vm.newTravelType.name"
							ng-change="vm.getDefaultTravelLogo(vm.newTravelType.name)">
							<option disabled selected>Select {{vm.travelSelected | formatLabel | lowercase}}</option>
							<option ng-repeat="option in vm.defaultCarRentals track by option">{{option}}</option>
						</select>
						<input type="text" ng-if="$index == 0 && vm.travelSelected == 'hotel'" 
							placeholder="or enter a {{vm.travelSelected}} name..." ng-model="vm.newTravelType.name">
						<input type="text" ng-if="$index == 0 && vm.travelSelected == 'car_rental'" 
							placeholder="or enter {{vm.travelSelected | formatLabel | lowercase}}name..." ng-model="vm.newTravelType.name">
					</div>
					<input ng-if="$index != 1 && $index != 10 && $index != 0 && $index != 8 && $index != 7" type="text" 
						ng-class="$index == 7 || $index == 3 ? 'medium-field' : ''" ng-model="vm.newTravelType[form.code]">
					<select style="margin-right: 292px; width:87px; height: 40px; background-color: #fff; padding-left: 10px;"
	                    ng-model="vm.newTravelType.state"
	                    ng-if=" $index == 7 && vm.newTravelType.country.trim() == 'United States'">
	                    <option 
	                    	ng-repeat="option in vm.united_states" ng-value="option.abbreviation" ng-selected="$index == vm.count_state">{{option.abbreviation}}
	                    </option>
	                </select>
	                <!-- {{vm.newTravelType}} -->
	                <select style="width: 325px; height: 40px; background-color: #fff; padding-left: 10px;"
						ng-if="$index == 8"
						ng-change="vm.travelCountryUpdate(vm.newTravelType)"
		                ng-model="vm.newTravelType.country">
		                <option 
	                    	ng-repeat="option in vm.all_countries track by $index" ng-value="option.name" ng-selected="$index == vm.count_country">{{option.name}}
	                    </option>
		            </select>

					<div ng-if="$index == 10" class="flex-row" style="align-items: center;">
						<input type="number" class="small-field" style="margin-right: 14px; padding-left: 11px;" ng-model="vm.newTravelType.price_range_start">
						-
						<input type="number" class="small-field" style="margin-left: 14px; padding-left: 11px;" ng-model="vm.newTravelType.price_range_end">
					</div>
					<span ngf-select="vm.uploadTravelTypeLogo($files);" class="add_attendee_upload_link" ng-if="$index == 1"
						 ngf-pattern="'image/*'"
						 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
						 ngf-drag-over-class="'dragover'" ngf-multiple="false">
						<div class="attendee-upload-image flex-row" style="align-items: center;">
			                <img ng-if='vm.newTravelType.logo && vm.newTravelType.logo != ""' ng-src="{{vm.newTravelType.logo}}" 
			                	style="margin-right: 18px; width: auto; height: auto; max-height: 70px; max-width: 70px;">
	                        <div class="upload-link cursor">
	                            Upload from computer
	                        </div>
	                    </div>
					</span>
				</div>
			</div>
			<div class="flex-column">
				<img ng-if="vm.newTravelType.image != '' && vm.travelSelected == 'hotel'" 
					ng-src="{{!vm.newTravelType.image ? 'https://s3.amazonaws.com/expo-images/f49b77899e07f1b4b306bead6a1c8db3.png' : vm.newTravelType.image}}">
				<img ng-if="vm.newTravelType.image != '' && vm.travelSelected == 'car_rental'" 
					ng-src="{{!vm.newTravelType.image ? 'https://s3.amazonaws.com/expo-images/9d86dc6b04759c0624cc7c33bbbfee9a.png' : vm.newTravelType.image}}">
				<div class="flex-column" 
					ngf-drop="vm.uploadTravelTypeImage($files)"
                    ngf-select="vm.uploadTravelTypeImage($files)"
                    ngf-max-size="10MB" ngf-min-height="50"
                    ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<p ng-if="vm.travelSelected == 'hotel'">Drag and drop hotel image or...</p>
					<p ng-if="vm.travelSelected == 'car_rental'">Drag and drop car rental image or...</p>
					<div class="cursor">CHOOSE FILE...</div>
				</div>
				<textarea placeholder="Special Instructions" ng-model="vm.newTravelType.special_instructions"></textarea>
			</div>
		</div>
		<div class="flex-row travel-form-buttons">
			<div ng-click="vm.plus_travel = false; vm.edit_travel_item = false;" class="cursor">Cancel</div>
			<div class="cursor remove-travel-item-btn" ng-if="vm.edit_travel_item" ng-click="vm.deleteTravelItem()">Delete</div>
			<div ng-click="vm.selectTravelTypeToAdd(false)" class="cursor save-travel-item-button">SAVE</div>
			<div class="cursor" ng-click="vm.selectTravelTypeToAdd(true)">SAVE & ADD ANOTHER</div>
		</div>
	</div>
	<div class="travel-form flex-column" ng-if="(vm.travelSelected == 'airline' || vm.travelSelected == 'transportation') && vm.plus_travel">
		<div ng-if="vm.travelSelected == 'airline'" class="flex-row">
			<p>Airline Details</p>
			<p>*Required</p>
		</div>
		<div ng-if="vm.travelSelected == 'transportation'" class="flex-row">
			<p>Transportation Details</p>
			<p>*Required</p>
		</div>
		<div class="flex-row">
			<div class="flex-column">
				<div ng-repeat="form in vm.small_form_for_travel track by $index" class="flex-row">
					<p ng-if="vm.travelSelected == 'airline' && $index == 0" ng-class="$index == 0 && form.required ? 'required-field' : ''"
						style="align-self: baseline; padding-top: 15px;">{{'Airline ' + form.label}}</p>
					<p ng-if="vm.travelSelected == 'airline' && $index == 1" ng-class="$index == 0 && form.required ? 'required-field' : ''">
						{{'Airline ' + form.label}}</p>
					<p ng-if="vm.travelSelected == 'transportation' && ($index == 2)">{{form.label + 'or Per Diem'}}</p>
					<p ng-if="(vm.travelSelected == 'airline' && $index > 1) || (vm.travelSelected == 'transportation' && $index != 2)" 
						ng-class="(vm.travelSelected == 'transportation' && $index == 0) ? 'required-field' : ''">{{form.label}}</p>
					<div class="flex-column select-travel-default-types">
						<select ng-if="$index == 0 && vm.travelSelected == 'airline'" type="text" style="padding-left: 10px;"
							ng-model="vm.newTravelType.name"
							ng-change="vm.getDefaultTravelLogo(vm.newTravelType.name)">
							<option disabled selected class="color: #cdcdcd;">Select {{vm.travelSelected}}</option>
							<option ng-repeat="option in vm.defaultAirlines track by option">{{option}}</option>
						</select>
						<select ng-if="$index == 0 && vm.travelSelected == 'transportation'" type="text" style="padding-left: 10px;"
							ng-model="vm.newTravelType.name"
							ng-change="vm.getDefaultTravelLogo(vm.newTravelType.name)">
							<option disabled selected class="color: #cdcdcd;">Select...</option>
							<option ng-repeat="option in vm.defaultTransportations track by option">{{option}}</option>
						</select>
						<input type="text" ng-if="$index == 0" placeholder="or enter {{vm.travelSelected == 'airline' ? vm.travelSelected + ' ' : ''}}name..." 
							ng-model="vm.newTravelType.name">
					</div>
					<input ng-if="$index != 1 && $index != 0" type="text" ng-model="vm.newTravelType[form.code]">
					<span ngf-select="vm.uploadTravelTypeLogo($files);" class="add_attendee_upload_link" ng-if="$index == 1"
						 ngf-pattern="'image/*'"
						 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
						 ngf-drag-over-class="'dragover'" ngf-multiple="false">
						<div class="attendee-upload-image flex-row" style="align-items: center;">
			                <img ng-if='vm.newTravelType.logo && vm.newTravelType.logo != ""' ng-src="{{vm.newTravelType.logo}}" 
			                	style="margin-right: 18px; width: auto; height: auto; max-height: 70px; max-width: 70px;">
	                        <div class="upload-link cursor">
	                            Upload from computer
	                        </div>
	                    </div>
					</span>
				</div>
			</div>
			<div class="flex-column">
				<img ng-if="vm.newTravelType.image != '' && vm.travelSelected == 'airline'" 
					ng-src="{{!vm.newTravelType.image ? 'https://s3.amazonaws.com/expo-images/821436dda96e726b83d91e203c372d41.png' : vm.newTravelType.image}}">
				<img ng-if="vm.newTravelType.image != '' && vm.travelSelected == 'transportation'" 
					ng-src="{{!vm.newTravelType.image ? 'https://s3.amazonaws.com/expo-images/94504d4aca2ecdfd8bfb58c13bd20f7a.png' : vm.newTravelType.image}}">
				<div class="flex-column" ngf-drop="vm.uploadTravelTypeImage($files)"
                    ngf-select="vm.uploadTravelTypeImage($files)"
                    ngf-max-size="10MB" ngf-min-height="50"
                    ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<p ng-if="vm.travelSelected == 'airline'">Drag and drop airline image or...</p>
					<p ng-if="vm.travelSelected == 'transportation'">Drag and drop image or...</p>
					<div class="cursor">CHOOSE FILE...</div>
				</div>
				<textarea placeholder="Special Instructions" ng-model="vm.newTravelType.special_instructions"></textarea>
			</div>
		</div>
		<div class="flex-row travel-form-buttons">
			<div ng-click="vm.plus_travel = false; vm.edit_travel_item = false;" class="cursor">Cancel</div>
			<div class="cursor remove-travel-item-btn" ng-if="vm.edit_travel_item" ng-click="vm.deleteTravelItem()">Delete</div>
			<div ng-click="vm.selectTravelTypeToAdd(false)" class="cursor save-travel-item-button">SAVE</div>
			<div class="cursor" ng-click="vm.selectTravelTypeToAdd(true)">SAVE & ADD ANOTHER</div>
		</div>
	</div>
</div>