<div class="conference-upload-attendees-csv" ng-if="vm.attendeesCsvFields == null">
    <div class="conference-upload-body">
        <div class="upload-csv-custom-icon">

        </div>
        <div class="upload-csv-instructions">
            Upload Attendee Information using a CSV file.
        </div>
        <div class="conference-attendees-choose-file">
            <div ngf-drop="vm.uploadFile($files)" class="drop-box drag-class" style="z-index:99999"
                 ngf-select="vm.uploadFile($files)"
                 ngf-max-size="10MB" ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div class="change-picture-upload">CHOOSE A FILE...</div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
    </div>
</div>
<div class="conference-upload-attendees-csv-instructions" ng-if="vm.viewMappingInstructions">
        <div class="instructions-holder sessions-example">
            <div class="example-holder">
                <div class="arrow">
                    <img src="/assets/images/curbed-arrow.png">
                </div>
                <div class="session-upload-file-example-field">
                    Your Title
                </div>
                <div class="field-dotted session-upload-file-example-field">
                    Expo Title
                </div>
            </div>
            <div class="instructions-text">
                Map your Sessions information by dragging your titles to the corresponding Expo titles.
            </div>
            <div class="csv_mapping_dismiss_btn" ng-click="vm.toggleViewMappingInstructions()">
                -
            </div>
        </div>
    </div>
    <div style="padding-top: 26px; height: 20px;" class="conference-upload-attendees-csv-instructions" ng-if="!vm.viewMappingInstructions">
        <div class="csv_mapping_dismiss_btn" ng-click="vm.toggleViewMappingInstructions()">
            +
        </div>
    </div>
    <div class="conference-upload-actions-bar">
        <div class="conference-upload-bar-title">
            <i class="fa fa-file-o" aria-hidden="true" style="margin-right: 13px;"></i> {{vm.attendeeFileName}}
        </div>
        <div class="conference-attendees-choose-another-file">
            <div ngf-drop="vm.uploadFile($files)" class="drop-box drag-class" style="z-index:99999"
                 ngf-select="vm.uploadFile($files)"
                 ngf-max-size="10MB" ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <div class="change-picture-upload">CHOOSE A DIFFERENT FILE...</div>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>

        <div ng-if="vm.force_custom_attendee_id==null"
             style="width: inherit; position: absolute; margin-left: calc(50vw - 239px); margin-top: 22px; width: 241px;">
            <div class="checkbox-ico"  ng-click="vm.toggleHasAttendeeId()"
                 style="margin-right: 10px; cursor: pointer"
                 ng-class="vm.hasAttendeeId ? 'active':''">
            </div> <span style="font-size: 12px; font-family: 'AvenirNextLTPro-Demi';">Use a custom Attendee ID number</span>
        </div>

        <div ng-if="vm.force_custom_attendee_id!=null"
             style="width: inherit; position: absolute; margin-left: calc(50vw - 239px); margin-top: 22px; width: 241px; opacity:0.4; pointer-events:none;">
            <div class="checkbox-ico"  ng-click="vm.toggleHasAttendeeId()"
                 style="margin-right: 10px; cursor: pointer"
                 ng-class="vm.hasAttendeeId ? 'active':''">
            </div> <span style="font-size: 12px; font-family: 'AvenirNextLTPro-Demi';">Use a custom Attendee ID number</span>
        </div>

        <div class="conference-attendees-upload-save" ng-click="vm.attendeeBulkUpload()">
            SAVE
        </div>
        <div class="conference-attendees-cancel-upload" ng-click="vm.attendeesCancelUpload()">
            CANCEL UPLOAD
        </div>
    </div>
    <div class="conference-attendees-fields-mapping" style="">
        <div class="conference-attendees-fields-side" ng-class="(!vm.viewMappingInstructions) ? 'conference-attendees-fields-side-large' : ''" style="overflow-y: scroll; height: calc(100vh - 369px);">
            <div class="conference-attendees-fields-holder">
                <div class="conference-upload-attendees-field fields-mobile dragged" ng-repeat="field in vm.attendeesCsvKeys track by $index" style="cursor: -webkit-grab;"
                     data-drag="true" jqyoui-draggable="{
                     placeholder:true,
                     index:field,
                     onStart:'vm.startCallback(field, this)',
                     onStop:'vm.changeDragStyleStop(field)',
                     onDrag:'vm.changeDragStyle(field)'}" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}"
                     style="{{field.style}}"
                     ng-class="field.mapping!=null ? 'field_is_mapped' : ''">
                    {{field.code}}
                </div>
            </div>


        </div>
        <div class="conference-attendees-fields-side" ng-class="(!vm.viewMappingInstructions) ? 'conference-attendees-fields-side-large' : ''"
             id="right_scrollable"
             style="border-left:1px dashed #cdcdcd; overflow-y: scroll; height: calc(100vh - 369px);">
            <div class="right-div-head" style="width:100%; z-index: 999999; height:50px; position:fixed;"
                 data-drop="true"
                 data-drag="true"
                 data-jqyoui-options
                 jqyoui-droppable="{multiple:false, onOver:'vm.overTopScroller()', onOut:'vm.overTopScrollerOver()'}"></div>
            <div class="conference-attendees-fields-holder">


                <div class="conference-upload-attendees-field fields-mobile field-dotted dropped" ng-repeat="field in vm.attendeeMappingFields track by $index"
                     ng-if="(field.code !='qr_code') && (field.code != 'attendee_id' || vm.hasAttendeeId==true)"
                     ng-class="field.mapping!=null ? 'is_mapped' : (field.is_hovered==true ? 'is_hovered': '')">
                    <div ng-if="field.mapping==null" data-drop="true" data-jqyoui-options data-drag="true"
                         jqyoui-droppable="{multiple:false, onDrop:'vm.attendeeFieldMappingOver(field)',
                         onOver:'vm.attendeeFieldMappingHoverIn(field)',
                         onOut:'vm.attendeeFieldMappingHoverOut(field)'}">
                        {{field.name}}
                    </div>

                    <div ng-if="field.mapping!=null" class="field_mapping_info">
                        <div class="mapping-x-btn" ng-click="vm.undoMapping(field, 'attendee')">
                            X
                        </div>
                        <p>
                            {{field.name}}
                        </p>
                        <p>
                            ({{field.mapping}})
                        </p>
                    </div>
                </div>

            </div>
            <div class="right-div-footer" style="width:100%; height:50px; position:fixed; bottom:0px;"
                 data-drop="true"
                 data-drag="true"
                 data-jqyoui-options
                 jqyoui-droppable="{multiple:false, onOver:'vm.overBottomScroller()', onOut:'vm.overBottomScrollerOver()'}"
                    ></div>
        </div>
    </div>
</div>
