<div class="conference-users-body">
    <div class="conference-users-head">
        <form name="search-email">
            <input id="sendEmail" type="email" name="input-email" ng-model="vm.invitedUser.invited_user_email" placeholder="Enter User Email Address to Add"  
                class="conference-users-search"
                ng-if="vm.permissionsForUsers()" 
                ng-change=" (vm.invitedUser.invited_user_email === '') ? vm.searchEmail = false : 
                (vm.invitedUser.invited_user_email.indexOf('@') > -1 ?
                vm.searchEmail = true : vm.searchEmail = false)"  
            />
        </form>
        <div class="conference-users-permissions-btn" 
            ng-class="(vm.usersPermissionsPane || vm.verifySingleUserChecked() || vm.searchEmail) ? 'active' : ''" 
            ng-click="(vm.verifySingleUserChecked() || vm.searchEmail) ? vm.usersPermissions() : ''" style="pointer-events: none;">
            HAS PERMISSION TO...
            <i class="fa fa-sort" aria-hidden="true" style="color: #cdcdcd; font-size: 18px; margin-left: 6.5px;"
            ng-class="(vm.usersPermissionsPane || vm.verifySingleUserChecked() || vm.searchEmail) ? 'active-color-icon' : ''"></i>
        </div>

        <div ng-if="(vm.conference.nr_user_slots > vm.conferenceUsers.length + 1) && vm.permissionsForUsers()"
            class="conference-users-add-btn" ng-click="vm.searchEmail ? vm.addUser() : ''" ng-class="vm.searchEmail ? 'active' : ''" style="pointer-events: none;">
            ADD USER
        </div>
        <div ng-if="(vm.conference.nr_user_slots <= vm.conferenceUsers.length + 1) && vm.permissionsForUsers()"
            class="conference-users-add-btn active" ng-click="vm.openConferenceUsersPurchaseForm()">
            BUY USERS
        </div>
        <div class="default-icon-circle" 
            ng-if="vm.userChecked && vm.verifyCurrentUser() && vm.permissionsForUsers()" 
            ng-click='vm.deleteSelectedUsers()'
            style="margin-top: 16px; float:left; margin-left: 16px; background-color: #fffde6;">
            <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
        </div>

        <div ng-if="vm.usersPermissionsPane==true" class="conference-users-permissions-pane" id="conference-users-permissions-id" click-outside="vm.usersPermissions()">
            <div style="width:50%; float:left" class="permission-options">
                <div style="margin-top: 15px; margin-left:15px">
                    <div style="height:50px;" class="permission-option" ng-click="vm.changePermission('edit_conference')"
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('edit_conference') > -1 ? 'active' : ''">
                        </div>
                        <div class="permission-text">Edit Conference</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('edit_conference_users')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('edit_conference_users') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Conference Users</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('edit_attendee_fields')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('edit_attendee_fields') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Attendee Fields</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('download_attendees')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('download_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Download Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('edit_registration')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('edit_registration') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Registration</div>
                    </div>
                </div>

            </div>
            <div style="width:50%; float:left">
                <div style="margin-top: 15px; margin-left:15px" class="permission-options">
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('manage_attendees')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('manage_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('manage_exhibitors')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('manage_exhibitors') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Exhibitors</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('manage_sessions')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('manage_sessions') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Sessions</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('scan_attendees')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('scan_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Scan Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option" 
                        ng-class="!vm.verifyCurrentUser() || !vm.permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="vm.changePermission('can_refund')">
                        <div class="checkbox-ico" ng-class="vm.userPermissions.indexOf('can_refund') > -1 ? 'active':''"></div>
                        <div class="permission-text">Refund Role</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conference-users-table-head">
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check" >
                <div class="checkbox-ico" ng-class="vm.checkAllUsers ? 'active':''" ng-if="vm.permissionsForUsers() && vm.conferenceUsers.length > 1" ng-click="vm.checkAll(vm.conferenceUsers)"></div>
                <div class="permission-text medium" 
                    ng-click="vm.sortBy(vm.conferenceUsers, 'user', vm.userOrderAsc); vm.userOrderAsc = !vm.userOrderAsc">User</div>
                <div ng-class="vm.userOrderAsc ? conference-table-order-icon : ''" 
                    ng-click="vm.sortBy(vm.conferenceUsers, 'user', vm.userOrderAsc); vm.userOrderAsc = !vm.userOrderAsc"></div>
            </div>
        </div>
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check medium">
                Email
            </div>
        </div>
    </div>
    <div style="overflow-y:scroll; float:left; width:100%; height: calc(100vh - 206px);">
        <div ng-repeat="user in vm.conferenceUsers" class="conference-users-table-body scroller" ng-click="vm.checkOne(user, 'user')"
             ng-class="user.checked ? 'active':''">
            <div style="width:50%; float:left" class="conference-users-table-div">
                <div class="conference-user-check">
                    <div class="checkbox-ico" ng-class="user.checked ? 'active':''"></div>
                    <div ng-if="user.user">
                        <useravatar image="user.user.image"
                                    firstname="user.user.first_name"
                                    lastname="user.user.last_name">
                        </useravatar>
                        <div class="permission-text demi">{{user.user.first_name + ' ' + user.user.last_name}}</div>
                    </div>
                    <div ng-if="!user.user">
                        The invitation was sent to {{user.invited_user_email}}
                    </div>
                </div>
            </div>
            <div style="width:50%; float:left;" class="conference-users-table-div">
                <div ng-if="user.user" class="conference-user-check medium" style='margin-left: 24px;'>
                    {{user.invited_user_email}}
                </div>
            </div>
        </div>
        <!--<div style="padding: 21px; line-height: 57px;">-->
            <!--{{vm.conferenceUsers.length + 1}}/{{vm.conference.nr_user_slots}} Used-->
        <!--</div>-->

        <div ng-if="vm.conferenceUsers.length <= 0" class="table-custom-no-items">
            There are no users at this time
        </div>
    </div>
</div>