<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div ng-if="$parent.all">
		Are you sure that you want to delete all<br/>{{$parent.type}}? This will permanently remove<br/>them from your session.
	</div>

	<div ng-if="!$parent.all && $parent.nrOfRemoves > 1">Are you sure that you want to delete these<br/> 
		{{$parent.nrOfRemoves}} {{$parent.type}} ? This will permanently remove<br/>them from your session.</div>
	<div ng-if="!$parent.all && $parent.nrOfRemoves == 1">Are you sure that you want to delete this<br/>
		{{$parent.type == 'registrants' ? 'registrant' : ($parent.type == 'attendees' ? 'attendee' : '')}}? This will permanently remove
	 	<br/>the {{$parent.type == 'registrants' ? 'registrant' : ($parent.type == 'attendees' ? 'attendee' : '')}} from your session.</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">
				Cancel
			</md-button>
			<md-button ng-if="$parent.all" class="md-raised md-primary delete-all" style="margin-left: 110px;" 
				ng-click="$parent.confirmDeleteFromSession(); closeThisDialog();"><!-- Delete All From DB -->
				Delete All
			</md-button>
			<md-button ng-if="!$parent.all" class="md-raised md-primary delete-all" style="margin-left: 110px;" 
				ng-click="$parent.confirmDeleteFromSession(); closeThisDialog();">
				Delete
			</md-button>
		</md-content>
	</div>
</div>