<div class="warning-screen" style="height:320px">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div ng-if="$parent.type!='partial'">Are you sure that you want to delete this scheduled notification?</div>
	
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="$parent.type!='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="$parent.deleteNotificationConfirmed($parent.notification); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>