<div class="warning-screen" style="height: 340px;">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div>Are you sure that you want to delete this registration level.</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="$parent.type!='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="$parent.deleteRegistrationLevelConfirmed($parent.level); closeThisDialog();">Delete Level</md-button>
		</md-content>
	</div>
</div>