<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div style="width: 415px;">Are you sure that you want to delete<br/>this support contact? This will permanently remove the support contact!<br/></div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="$parent.deleteSupportContactConfirm($parent.contact_id); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>