<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div ng-if="$parent.type!='partial'">Are you sure that you want to revoke the access for all<br/> exhibitors? This will permanently remove<br/>them from your conference.</div>
	
	<div ng-if="$parent.type=='partial' && $parent.nrAttendees > 1">Are you sure that you want to revoke the access for these<br/> {{$parent.nrAttendees}} {{$parent.resource}}? This will permanently remove<br/>them from your conference.</div>
	<div ng-if="$parent.type=='partial' && $parent.nrAttendees == 1">Are you sure that you want to revoke the access for this<br/> {{$parent.resource}}? This will permanently remove<br/>the {{$parent.resource}} from your conference.</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="$parent.type!='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="$parent.deleteAllConfirmed(); closeThisDialog();">Revoke All</md-button>
			<md-button ng-if="$parent.type=='partial'" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="$parent.deleteAttendeesConfirmed($parent.ids, $parent.checkedAttendeeList); closeThisDialog();">Revoke</md-button>
		</md-content>
	</div>
</div>