.exhibitor-toolkit-wrapper {
	height: calc(100vh - 75px);
	overflow: hidden;
}

.exhibitor-toolkit-details-wrapper {
	height: 100%;
	width: 100%;
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part {
	height: 50%;
	overflow: hidden;
	border-bottom: 2px solid #cdcdcd;
	box-sizing: border-box;
	font-size: 0;
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half.details {
	width: calc(100% - 582px);
	border-right: 2px solid #cdcdcd;
	padding-left: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part {
	height: 50%;
	overflow: hidden;
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half.details .field-wrapper {
	height: 38px;
	line-height: 38px;
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half.details .field-wrapper .name {
	width: 30%;
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half.details .field-wrapper .name.value {
	width: 70%;
	font-family: 'AvenirNextLTPro-Regular';
}

.exhibitor-toolkit-details-wrapper .conference-details-upper-part .half.map {
	width: 582px; //width of the image from GMaps
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part .header {
	height: 56px;
	border-bottom: 2px solid #cdcdcd;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	padding-left: 2%;
	padding-right: 2%;
	line-height: 56px;
	box-sizing: border-box;
	position: relative;
  z-index: 1;
  background: white;
	box-shadow: 0px -6px 8px 4px #0000007f;
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part .list {
	height: calc(100% - 56px);
	font-size: 0;
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part .list .item {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 14px;
	height: 65px;
	border-bottom: 2px solid #cdcdcd;
	line-height: 65px;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	background-color: #fafafa;
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part .list .item .photo-holder {
	width: 36px;
	height: 36px;
	background-size: 120%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	line-height: 38px;
	background-color: #cdcdcd;
	text-align: center;
	font-family: 'AvenirNextLTPro-Demi';
}

.exhibitor-toolkit-details-wrapper .contacts-details-bottom-part .list .item .contact-name {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
