<div class="exhibitor-toolkit-wrapper">
	<div class="exhibitor-toolkit-details-wrapper">
		<div class="conference-details-upper-part">
			<div class="half details">
				<div class="field-wrapper" ng-repeat="field in fieldsForView">
					<div class="name">{{field.nameForDisplay}}</div>
					<div class="name value">{{field.value}}</div>
				</div>
			</div>
			<div class="half map">
        <a href="{{googleMap}}" target="_blank">
            <img ng-src="{{googleStaticMap}}">
        </a>
			</div>
		</div>
		<div class="contacts-details-bottom-part">
			<div class="header">Exhibitor Support Contacts</div>
			<div class="list">
				<div class="list-item" ng-repeat="contact in contacts">
					<div class="item">
						<div ng-if="contact.photo" style="background-image: url({{contact.photo}})" class="photo-holder"></div>
						<div ng-if="!contact.photo" class="photo-holder">
							{{contact.first_name[0]}}{{contact.last_name[0]}}
						</div>
						<div class="contact-name">{{contact.first_name}}  {{contact.last_name}}</div>
					</div>
					<div class="item">{{contact.area_of_support}}</div>
					<div class="item">{{contact.phone_number}}</div>
					<div class="item">{{contact.email}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
