<div class="support-contacts-header">
	<div class="title">Edit Support Contacts</div>
	<div class="search-holder">
		<div class="search-input-holder">
			<input type="text" ng-model="searchContact" placeholder="Search Support Contacts"></input>
		</div>
		<div class="add-contact-button" ng-click="addContact()" ng-if="$root.userPermissions.manageExhibitors">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
			Add Contact
		</div>
	</div>
</div>

<div class="list-container">
	<div class="list-head">
		<div class="item">Contact Name</div>
		<div class="item">Email</div>
		<div class="item">Phone</div>
		<div class="item">Description</div>
	</div>
	<div class="list">
		<div class="list-head" ng-repeat="contact in contacts | supportContactSearchFilter : searchContact" ng-click="openContactDetails(contact)">
			<div class="item">
				<div class="profile-picture">
					<div ng-if="!contact.photo">{{contact.first_name[0]}}{{contact.last_name[0]}}</div>
					<div ng-if="contact.photo" style="background-image: url({{contact.photo}});" class="logo"></div>
				</div>
				<span>{{contact.first_name}} {{contact.last_name}}</span>
			</div>
			<div class="item">{{contact.email}}</div>
			<div class="item">{{contact.phone_number}}</div>
			<div class="item">{{contact.area_of_support}}</div>
			<div class="delete-button" ng-click="deleteContact($event, contact.id)" ng-if="$root.userPermissions.manageExhibitors">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>
