.support-contacts-header {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 30px;
	background-color: white;
	border-bottom: 1px solid #cdcdcd;
	height: 140px;
	box-sizing: border-box;
}

.support-contacts-header .title {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 20px;
	color: #4a4a4a;
	margin-bottom: 20px;
}

.support-contacts-header .search-holder {
	font-size: 0;
}

.support-contacts-header .search-holder .search-input-holder {
	width: calc(100% - 168px);
	display: inline-block;
	vertical-align: middle;
}

.support-contacts-header .search-holder .search-input-holder input {
	width: 40%;
	height: 40px;
	border: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Regular';
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 14px;
}

.support-contacts-header .search-holder .add-contact-button {
	position: relative;
	width: 168px;
	height: 30px;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	background-color: white;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 20px;
	text-transform: uppercase;
	transition: background-color .2s ease, color .2s ease;
	cursor: pointer;
}


.support-contacts-header .search-holder .add-contact-button .fa {
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 10px;
	right: auto;
	transform: translateY(-50%);
	color: #26a7de;
	line-height: 30px;
	box-sizing: border-box;
	transition: background-color .2s ease, color .2s ease;
}


.support-contacts-header .search-holder .add-contact-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.support-contacts-header .search-holder .add-contact-button:hover .fa {
	color: white;
}



.list-container .list-head {
	height: 65px;
	border-bottom: 1px solid #cdcdcd;
	background-color: #edf0f2;
	font-size: 0px;
	padding-left: 20px;
	box-sizing: border-box;
}

.list-container .list-head .item {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	line-height: 65px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 14px;
}

.list-container .list {
	height: calc(100vh - 75px - 140px - 65px);
  overflow-y: scroll;
}

.list-container .list .list-head {
	background-color: #fafafa;
	position: relative;
}

.list-container .list .list-head .item .profile-picture {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: #cdcdcd;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	text-align: center;
	line-height: 37px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.list-container .list .list-head .item .profile-picture div {
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.list-container .list .list-head .item .profile-picture .logo {
	height: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.list-container .list .list-head .item span {
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	color: #4a4a4a;
	line-height: 65px;
	margin-left: 10px;
}

.list-container .list .list-head .delete-button {
	width: 35px;
  height: 35px;
  background-color: transparent;
  line-height: 35px;
  color: #4a4a4a;
  position: absolute;
  right: 0;
  border: 1px solid #cdcdcd;
  top: 50%;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 39px;
  overflow: hidden;
  transform: translateY(-50%);
  right: 20px;
	transition: background-color .2s ease, color .2s ease;
	cursor: pointer;
}

.list-container .list .list-head .delete-button:hover {
	color: white;
	background-color: #4a4a4a;
}
