.hpp-overview {
margin-top: 30px;
max-height: 742px;
}

.hpp-overview .integration {
    width: 100%;
    height: 100%;
    min-height: 742px;
    border: 0;
    background: white;
    outline: none !important;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hpp-overview .ngdialog-content {
    width: 550px;
    margin-top: calc((100vh - 742px) / 2);
}
