<div>
  <div class="badge-list">
      <badge-for-print></badge-for-print>
  </div>
  <div class="badge-order-forms-container">
      <div class="shipping-form">
        <div class="badge-order-form-title">Shipping Information</div>
        <div class="badge-order-form-field" ng-repeat="field in badgeOrderFormFields">
          <div class="badge-order-form-label">{{field.label}}</div>
          <input>
        </div>
      </div>
      <div class="billing-form">
        <div class="badge-order-billing-form-top">
          <div class="badge-order-form-title">Billing Information</div>
          <div>
            <div class="badge-order-billing-form-check-box"></div>
            <div class="badge-order-billing-form-option-text">Same as Shipping Information</div>
          </div>
        </div>
        <div class="badge-order-form-field" ng-repeat="field in badgeOrderFormFields">
          <div class="badge-order-form-label">{{field.label}}</div>
          <input>
        </div>
      </div>
  </div>
</div>
