.badge-order-forms-container {
  display: block;
  font-size: 0;
  color: #4a4a4a;
  background-color: #fff;
}
.badge-order-forms-container .shipping-form, .badge-order-forms-container .billing-form {
  display: inline-block;
  width: 50%;
  padding: 27px 107px 100px 40px;
  box-sizing: border-box;
}
.shipping-form {
  border-right: 1px solid #cdcdcd;
}
.badge-order-form-title {
  font-size: 20px;
  font-family: $font-family-demi;
  margin-bottom: 28px;
}
.badge-order-form-field {
  margin-bottom: 10px;
  width: 100%;
  &:last-child{
    margin-bottom: 0;
  }
}
.badge-order-form-field .badge-order-form-label {
  display: inline-block;
  font-size: 14px;
  font-family: $font-family-demi;
  width: 16%;
  margin-right: auto;
  text-overflow: ellipsis;
}
.badge-order-form-field > input {
  display: inline-block;
  @include shape(306px, 40px, 0);
  font-size: 14px;
  font-family: $font-family-medium;
}
