<processes-list-container></processes-list-container ng-if="sharedInfoHasLoaded">
<upper-settings-wrapper upper-config="configuration" share="sharedInfo" ng-if="sharedInfoHasLoaded">
</upper-settings-wrapper>
<list-wrapper list-config="configuration.fields" default-sort="configuration.default_sort" share="sharedInfo" item-click-action-type="configuration.list_row_click_action" ng-if="sharedInfoHasLoaded"></list-wrapper>
