.action-bar-button-with-menu.background .contextual-menu-wrapper {
	width: 200px;
	padding: 18px;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .button-color-picker {
	width: 100%;
	height: 25px;
	border: 1px solid #727272;
	cursor: pointer;
	padding: 3px;
	background-color: white;

	box-sizing: border-box;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .button-color-picker [md-color-picker] .md-color-picker-input-container .md-color-picker-preview, .badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker md-color-picker .md-color-picker-input-container .md-color-picker-preview {
	width: 100%;
	height: 100%;
	border-radius: 0;
	border-style: none;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .button-color-picker md-input-container {
	padding: 0;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .hex-color-input {
	width: 100%;
	height: 25px;
	border: 1px solid #cdcdcd;
	padding: 3px;
	text-align: center;

	box-sizing: border-box;

	font-size: 12px;
	color: #4a4a4a;
	font-family: "Avenir Next";
  font-weight: 500;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .rgb-input-holder {
	height: 25px;
	display: block;
	text-align: left;

	font-family: "Avenir Next";
	font-weight: 500;
	line-height: 25px;
	font-size: 0;

	margin-bottom: 6px;
}
.action-bar-button-with-menu.background .contextual-menu-wrapper .rgb-input-holder div {
	display: inline-block;
	vertical-align: middle;

	height: 25px;
	line-height: 25px;
	width: 30%;

	font-size: 14px;
}

.action-bar-button-with-menu.background .contextual-menu-wrapper .rgb-input-holder input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 30%);
	box-sizing: border-box;
	height: 100%;
	font-size: 14px;
	text-align: center;
}
