<div class="action-bar-button-with-menu background" ng-click="eventHandler($event, showContextualMenu)" ng-class="{'visible': showContextualMenu}">
	<action-bar-button icon="{{icon}}" name="{{name}}" event="{{event}}"></action-bar-button>
	<div class="arrow-down"></div>
	<div class="contextual-menu-wrapper">
		<div class="button-color-picker">
			<div md-color-picker md-color-hsl="false" ng-if="$root.badgeRotationDegree === 0" default="white" style="height: 100%; overflow-y: hidden; background-size: cover;" ng-model="$root.badgeBackgroundColor" ng-change="badgeBackgroundChanged($root.badgeBackgroundColor)"></div>
			<div md-color-picker md-color-hsl="false" ng-if="$root.badgeRotationDegree === 180" default="white" style="height: 100%; overflow-y: hidden; background-size: cover;" ng-model="$root.badgeBackSideBackgroundColor" ng-change="badgeBackgroundChanged($root.badgeBackSideBackgroundColor)"></div>
		</div>
		<input type="text" maxlength="7" class="hex-color-input" ng-if="$root.badgeRotationDegree === 0" ng-model="$root.badgeBackgroundColor"></input>
		<input type="text" maxlength="7" class="hex-color-input" ng-if="$root.badgeRotationDegree === 180" ng-model="$root.badgeBackSideBackgroundColor"></input>
		<div class="rgb-input-holder">
			<div>Red</div>
			<input ng-model="badgeBackgroundColorRGB.red" type="number" max="255" min="0" ng-change="updateHexColorFromRGB(badgeBackgroundColorRGB)"></input>
		</div>
		<div class="rgb-input-holder">
			<div>Green</div>
			<input ng-model="badgeBackgroundColorRGB.green" type="number" max="255" min="0" ng-change="updateHexColorFromRGB(badgeBackgroundColorRGB)"></input>
		</div>
		<div class="rgb-input-holder">
			<div>Blue</div>
			<input ng-model="badgeBackgroundColorRGB.blue" type="number" max="255" min="0" ng-change="updateHexColorFromRGB(badgeBackgroundColorRGB)"></input>
		</div>
	</div>
</div>
