<div class="exhibitor-user-profile-tab">
    <useravatar ng-if="exhibitorUserData.user != null"
                image="exhibitorUserData.user.userprofile.profile_url"
                firstname="exhibitorUserData.user.first_name"
                lastname="exhibitorUserData.user.last_name">
    </useravatar>
    <div class="demi ellipsis" style="margin-left: 5px;  width: 27%;" ng-if="exhibitorUserData.user != null">
        {{exhibitorUserData.user.first_name + ' ' + exhibitorUserData.user.last_name}}
    </div>
    <div class="demi" style="margin-left: 48px;" ng-if="exhibitorUserData.user == null">User waiting for signup</div>
    <div class="medium exhibitor-user-email ellipsis" style="width: 12em;">{{exhibitorUserData.invited_user_email}}</div>
    <div class="demi exhibitor-user-edit-permissions-button cursor"
         ng-class="is_active ? 'exhibitor-user-edit-permissions-button-active' : ''"
         ng-click="editExhibitorUserPermissions()" click-outside="is_active = false">EDIT
        <i class="fa fa-sort" aria-hidden="true"
              style="color: #26a7de; font-size: 18px; position: relative; top: 2px; left: 17px;">
        </i>
        <div class="exhibitor-user-edit-permissions-panel flex-column" style="cursor: default;" ng-if="is_active" ng-click="$event.stopPropagation();">
            <div ng-repeat="userPermission in userPermissions" class="flex-row">
                <div class="checkbox-ico cursor" ng-class="exhibitorUserData[userPermission[1]] ? 'active' : ''"
                ng-click="changeExhibitorUserPermission(userPermission[1]); $event.stopPropagation();"></div>
                <p>{{userPermission[0]}}</p>
            </div>
        </div>
    </div>
    <div class="default-icon-circle" style="line-height: 32px;" ng-click="deleteExhibitorUser(exhibitorUserData)">
        <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de; font-size: 17px;"></i>
    </div>
</div>