<div class="continuing-education-panel">
	<div class="create-CE-types" style="overflow-y: scroll; height: calc(100vh - 85px);">
		<div>Add custom session fields</div>
		<div class="create-session-fields-panel">
			<div class="session-custom-fields">
				<input class="session-custom-field-name" type="text"
					placeholder="Custom Field Name (unique)" ng-model="customSessionFieldsModel.name">
				<div>
          <div class="conference-custom-field-text-custom" ng-click="toggleFieldTypeDropdown()">
						<div ng-switch="customSessionFieldsModel.type">
							<span ng-switch-when="1">Text</span>
							<span ng-switch-when="2">Multiple Choice</span>
							<span ng-switch-when="3">Single Choice</span>
							<i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative; float: right; top: 12px;"></i>
						</div>
          </div>
          <div class="custom-field-options-div" ng-if="fieldTypeDropdown" click-outside="toggleFieldTypeDropdown()">
              <div class="custom-field-option" ng-click="selectCustomSessionFieldOption(1)">
                  Text
              </div>
              <div class="custom-field-option" ng-click="selectCustomSessionFieldOption(2)">
                  Multiple Choice
              </div>
              <div class="custom-field-option" ng-click="selectCustomSessionFieldOption(3)">
                  Single Choice
              </div>
          </div>
        </div>
	        </div>
	        <div class="session-custom-fields-options" ng-if="customSessionFieldsModel.type != 1">
	        	<div ng-repeat="option in customSessionFieldsModel.customsessionfieldoption_set track by $index">
	        		<input type="text" placeholder="Enter possible value for field" ng-model="option.value">
	        		<i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
	        			ng-if="customSessionFieldsModel.customsessionfieldoption_set.length > 1"
	        			ng-click="removeCustomSessionFieldOption($index)" aria-hidden="true"></i>
	        		<i class="fa fa-plus-circle cursor" style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"
	        			ng-if="$index == customSessionFieldsModel.customsessionfieldoption_set.length - 1"
	        			ng-click="addCustomSessionFieldOption()"></i>
	        	</div>
	        </div>
	        <div class="no-padding">
	        	<div class="cancel-field-session cursor" ng-click="resetFields();" ng-if="editCustomSessionFieldsMode">Cancel</div>
	        	<div class="save-field-session cursor" ng-click="createOrUpdateCustomSessionField(customSessionFieldsModel);">SAVE FIELD</div>
	        </div>
	    </div>
	</div>
	<div class="saved-CE-types">
		<div>Saved Custom Fields</div>
		<div class="CE-type-list">
			<div class="CE-type-item" ng-repeat="customSessionField in customSessionFieldsList">
				<div>
					<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; margin-right: 8px;"></i>{{customSessionField.name}}
				</div>
					<div class="flex-row" style="align-items: center; ">
						<div class="default-icon-circle" ng-click="editCustomSessionField(customSessionField)" style="margin-left: auto; margin-right: 10px;">
		                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
		            </div>
		            <div class="default-icon-circle" ng-click="deleteCustomSessionField(customSessionField)" style="margin-right: 20px;">
		                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>
