.continuing-education-panel{
	display: flex;
	flex-direction: row;
	& .create-CE-types{
		width: 60vw;
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 20px;
		& > div:first-child{
			font-family: $font-family-medium;
			font-size: 20px;
		}
	}
	& .saved-CE-types{
		padding-top: 30px;
		padding-left: 20px;
		border-left: 2px solid #cdcdcd;
		background-color: #fafafa;
		width: 25vw;
		height: 100vh;
		& > div:first-child{
			font-family: $font-family-demi;
			font-size: 14px;
			margin-bottom: 30px;
		}
    & .CE-type-list{
	    height: calc(100vh - 240px);
	    overflow-y: auto;
	    overflow-x: hidden;
    }
		& .CE-type-item{
			height: 70px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #cdcdcd;
			& > div > img:first-child{
				margin-right: 10px;
			}
			& > div > img:last-child{
				margin-right: 20px;
			}
		}
	}
}

.create-session-fields-panel{
	background-color: #edf0f2;
	margin-top: 20px;
	padding-bottom: 15px;
	& input{
		border: 1px solid #cdcdcd;
	}
	& > div:last-child{
		display: flex;
	    border-top: 1px solid #cdcdcd;
	    padding-top: 15px;
	    padding-right: 20px;
	    align-items: center;
	    justify-content: space-between;
	    padding-left: 20px;
	}
	& .session-custom-fields{
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-top: 20px;
		& .session-custom-field-name{
			width: 50%;
			height: 40px;
			margin-right: 20px;
			padding-left: 10px;
			font-size: 14px;
			font-family: $font-family-medium;
		}
		& > div > div:not(.custom-field-options-div){
			width: 280px;
			height: 42px;
			line-height: 44px;
		}
	}
	& .save-field-session{
		background-color: #68aa3b;
		@include shape(150px, 40px, 20px);
		color: #fff;
		text-align: center;
		align-self: flex-end;
		line-height: 40px;
		font-family: $font-family-demi;
		margin-left: auto;
		font-size: 14px;
	}
	& .cancel-field-session{
		@include shape(150px, 40px, 20px);
		text-align: center;
		line-height: 40px;
		font-family: $font-family-medium;
		font-size: 14px;
		border: 1px solid #cdcdcd;
	}
	& .session-custom-fields-options{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		margin-bottom: 20px;
		& > div{
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			& > input{
				width: 50%;
				height: 40px;
				padding-left: 10px;
				margin-right: 10px;
				font-size: 14px;
				font-family: $font-family-medium;
			}
		}
	}
}

// DROPDOWN

.conference-custom-field-text-custom {
    width: calc(100% - 45px);
    height: 34px;
    padding-left: 10px;
    padding-right: 14px;
    line-height: 36px;
    font-family: $font-family-medium;
    font-size: 14px;
    color: #4a4a4a;
    background-color: white;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.conference-custom-field-text-custom:hover, .conference-custom-field-text-custom.active {
    color: white;
    & i{
        color: #fff !important;
    }
    background-color: #727272;
}
