.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder .photo {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #cdcdcd;
	position: relative;
	overflow: hidden;
}
.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder .logo{
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder .message {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #26a7de;
	margin-left: 10px;
	cursor: pointer;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
	transition: border-bottom .2s ease;
}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder .message:hover {
	border-bottom: 1px solid #26a7de;
}


.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .photo-upload-holder .photo .fa {
	font-size: 50px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper  .intl-tel-input{
 width: 55%;
}
.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper  .intl-tel-input input{
	width:100%;
	padding-left: 50px;
}
.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper  .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
