<div class="custom-modal-wrapper add-exhibitor">
	<div class="title">Add a Support Contact</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" ng-repeat="field in model">
			<div class="name">{{field.shownValue}}<span style="color: orange" ng-if="field.mandatory">*</span></div>
			<input type="text" ng-model="field.value" ng-class="{'error': field.error}" ng-if="field.key != 'phone_number'"></input>
			<input type="text" ng-model="field.value" ng-class="{'error': field.error}" ng-if="field.key == 'phone_number'" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>
		</div>
		<div class="input-wrapper">
			<div class="name">Photo</div>
			<div class="photo-upload-holder">
				<div class="photo" ng-class="{'logo':photoLink}" style="background-image: url({{photoLink}})">
					<i class="fa fa-user" aria-hidden="true" ng-if="!photoLink"></i>
				</div>
				<div class="message" ngf-select="addSupportContactPhoto($files);" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false">Upload from computer</div>
			</div>
		</div>
	</div>
	<div class="mandatory-notification">
		<span style="color: orange">* Required</span>
	</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeModal()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="saveExhibitorSupportContact(model, photoLink, true)">Save</div>
			<div class="button smaller-padding save" ng-click="saveExhibitorSupportContact(model, photoLink, false)">Save & Add Another</div>
		</div>
	</div>
</div>
