<div class="components-menu" ng-class="{'visible': showComponentsMenu}">
	<div class="title"> Add </div>
	<components-menu-button icon="fa-font" name="Text" contextual-menu-title="Text Properties" type-of-contextual-menu="text"></components-menu-button>
	<components-menu-button icon="fa-picture-o" name="Image" contextual-menu-title="Image Properties" type-of-contextual-menu="image"></components-menu-button>
	<components-menu-button icon="fa-star-o" name="Shape" contextual-menu-title="Shape Properties" type-of-contextual-menu="shape"></components-menu-button>
	<components-menu-button icon="fa-qrcode" name="Code" contextual-menu-title="Code Properties" type-of-contextual-menu="code" ng-if="$root.badgeRotationDegree !== 180"></components-menu-button>
</div>
