.components-menu {
	width: 75px;
	background-color: #e5ecee;
	height: 100vh;

	border-right: 1px solid #aaaaaa;

	box-shadow: 5px -1px 17px -3px #a5a5a5;

	opacity: 0;
	transform: translateX(-75px);
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.6, 1);

	z-index: 1;
}

.components-menu.visible {
	opacity: 1;
	transform: translateX(0);
}

.components-menu .title {
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	height: 28px;

	text-align: center;

	border-bottom: 1px solid #aaaaaa;
	line-height: 30px;

	background-color: #e5ecee;
}

.fields-wrapper {
	margin-top: 20px;

	text-align: center;

	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular';

	color: #4a4a4a;

	padding-left: 10px;
	padding-right: 10px;

	box-sizing: border-box;

	opacity: 0;
	visibility: hidden;

	transform: translateY(10px);

	transition: opacity .3s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .3s cubic-bezier(0.4, 0.0, 0.6, 1), transform .3s cubic-bezier(0.4, 0.0, 0.6, 1);
    transition-delay: .3s;
}

.fields-wrapper .add-custom-component-button {
	width: 100%;
	height: 30px;

	border: 1px solid #aaaaaa;
	border-radius: 20px;

	padding-left: 8px;
	padding-right: 8px;

	box-sizing: border-box;
	text-align: center;

	position: relative;
}


.fields-wrapper .add-custom-component-button .fa {
	font-size: 18px;
	color: #26a7de;
	position: absolute;
	left: 8px;
	margin-top: 6px;
}

.fields-wrapper .add-custom-component-button .text {
	line-height: 30px;
}
