<div class="delete-warning-screen long-running-modal">
	<div class="warning-screen-icon-container">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </div>
  <div class="warning-screen-text-container">
    {{processData.header}} {{processData.modal}}
  </div>
  <div class="warning-screen-buttons-container long-running-buttons-container">
    <div class="warning-screen-button delete-button success-button" ng-if="processData.status == 'success && processData.result_type === 'download_file'" ng-click="downloadFile(processData)">DOWNLOAD</div>
		<div class="warning-screen-button delete-button success-button" ng-if="processData.status == 'success && processData.result_type === 'redirect_to'" ng-click="redirectToAvery(processData)">DOWNLOAD</div>

		<div class="warning-screen-button delete-button success-button" ng-if="processData.status == 'pending'" ng-click="fetchProcesses()">OK</div>
  </div>
</div>
