.long-running-modal .fa {
	font-size: 64px;
	color: #26a7de;
}

.warning-screen-buttons-container.long-running-buttons-container {
	text-align: center;
}

.warning-screen-buttons-container.long-running-buttons-container .success-button {
	background-color: #68AA3B;
	float: none;
  color: white;
}
