*:focus {
  outline: 0;
}
  .emoji-popover .close-button-holder,
  .popover .close-button-holder {
    position: absolute;
    right: 10px;
  }
    .emoji-popover .close-button-holder .close-button,
    .popover .close-button-holder .close-button {
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: #b3b3b3;
    }
      .emoji-popover .close-button-holder .close-button:hover,
      .popover .close-button-holder .close-button:hover {
        color: #d7d7d7;
      }
.emoji-picker {
  text-indent: -9999px;
  display: inline-block;
  height: 22px;
  margin-right: .5em;
  width: 22px;
  cursor: pointer;
}
.emoji-container {
  margin: 0 -10px;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
  .emoji-container::-webkit-scrollbar {
    width: 10px;
  }
  .emoji-container::-webkit-scrollbar-track-piece {
    background: #f5f5f5;
  }
  .emoji-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 1px solid #b3b3b3;
  }
.emoji-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
  .emoji-popover.top {
    margin-top: -10px;
  }
  .emoji-popover.right {
    margin-left: 10px;
  }
  .emoji-popover.bottom {
    margin-top: 10px;
  }
  .emoji-popover.left {
    margin-left: -10px;
  }
  .emoji-popover .emoji-popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
  }
  .emoji-popover .emoji-popover-content {
    padding: 9px 14px;
  }
@media all and (-webkit-min-device-pixel-ratio:1),all and (min--moz-device-pixel-ratio:1),all and (-o-min-device-pixel-ratio:1),all and (min-device-pixel-ratio:1),all and (min-resolution:96dpi) {
  .emoji-picker { background: transparent url(/assets/scripts/emoji/img/emojis@2x.png) 0 0 no-repeat; }
}
@media all and (-webkit-min-device-pixel-ratio:1.5),all and (-o-min-device-pixel-ratio:3/2),all and (min-device-pixel-ratio:1.5),all and (min-resolution:144dpi) {
  .emoji-picker {
    background: transparent url(/assets/scripts/emoji/img/emojis@2x.png) 0 0 no-repeat;
    background-size: 27776px 22px;
  }
}
@-moz-document url-prefix() {
  .emoji-picker { background: transparent url(/assets/scripts/emoji/img/emojis@2x.png) 0 0 no-repeat; }
}
.emoji-bowtie { background-position: -5px 0; }
.emoji-smile { background-position: -37px 0;}
.emoji-laughing { background-position: -69px 0;}
.emoji-blush { background-position: -101px 0;}
.emoji-smiley { background-position: -133px 0;}
.emoji-relaxed { background-position: -165px 0;}
.emoji-smirk { background-position: -197px 0;}
.emoji-heart-eyes { background-position: -229px 0;}
.emoji-kissing-heart { background-position: -261px 0;}
.emoji-kissing-closed-eyes { background-position: -293px 0;}
.emoji-flushed { background-position: -325px 0;}
.emoji-relieved { background-position: -357px 0;}
.emoji-satisfied { background-position: -389px 0;}
.emoji-grin { background-position: -421px 0;}
.emoji-wink { background-position: -453px 0;}
.emoji-stuck-out-tongue-winking-eye { background-position: -485px 0;}
.emoji-winky-face { background-position: -485px 0;}
.emoji-stuck-out-tongue-closed-eyes { background-position: -517px 0;}
.emoji-grinning { background-position: -549px 0;}
.emoji-kissing { background-position: -581px 0;}
.emoji-kissing-smiling-eyes { background-position: -613px 0;}
.emoji-stuck-out-tongue { background-position: -645px 0;}
.emoji-sleeping { background-position: -677px 0;}
.emoji-worried { background-position: -709px 0;}
.emoji-frowning { background-position: -741px 0;}
.emoji-anguished { background-position: -773px 0;}
.emoji-open-mouth { background-position: -805px 0;}
.emoji-wow { background-position: -805px 0;}
.emoji-grimacing { background-position: -837px 0;}
.emoji-confused { background-position: -869px 0;}
.emoji-hushed { background-position: -901px 0;}
.emoji-expressionless { background-position: -933px 0;}
.emoji-unamused { background-position: -965px 0;}
.emoji-sweat-smile { background-position: -997px 0;}
.emoji-sweat { background-position: -1029px 0;}
.emoji-disappointed-relieved { background-position: -1061px 0;}
.emoji-weary { background-position: -1093px 0;}
.emoji-pensive { background-position: -1125px 0;}
.emoji-disappointed { background-position: -1157px 0;}
.emoji-confounded { background-position: -1189px 0;}
.emoji-fearful { background-position: -1221px 0;}
.emoji-cold-sweat { background-position: -1253px 0;}
.emoji-persevere { background-position: -1285px 0;}
.emoji-cry { background-position: -1317px 0;}
.emoji-sob { background-position: -1349px 0;}
.emoji-joy { background-position: -1381px 0;}
.emoji-astonished { background-position: -1413px 0;}
.emoji-scream { background-position: -1445px 0;}
.emoji-neckbeard { background-position: -1477px 0;}
.emoji-tired-face { background-position: -1509px 0;}
.emoji-angry { background-position: -1541px 0;}
.emoji-rage { background-position: -1573px 0;}
.emoji-triumph { background-position: -1605px 0;}
.emoji-sleepy { background-position: -1637px 0;}
.emoji-yum { background-position: -1669px 0;}
.emoji-mask { background-position: -1701px 0;}
.emoji-sunglasses { background-position: -1733px 0;}
.emoji-dizzy-face { background-position: -1765px 0;}
.emoji-imp { background-position: -1797px 0;}
.emoji-smiling-imp { background-position: -1829px 0;}
.emoji-neutral-face { background-position: -1861px 0;}
.emoji-no-mouth { background-position: -1893px 0;}
.emoji-innocent { background-position: -1925px 0;}
.emoji-alien { background-position: -1957px 0;}
.emoji-yellow-heart { background-position: -1989px 0;}
.emoji-blue-heart { background-position: -2021px 0;}
.emoji-purple-heart { background-position: -2053px 0;}
.emoji-heart { background-position: -2085px 0;}
.emoji-green-heart { background-position: -2117px 0;}
.emoji-broken-heart { background-position: -2149px 0;}
.emoji-heartbeat { background-position: -2181px 0;}
.emoji-heartpulse { background-position: -2213px 0;}
.emoji-two-hearts { background-position: -2245px 0;}
.emoji-revolving-hearts { background-position: -2277px 0;}
.emoji-cupid { background-position: -2309px 0;}
.emoji-sparkling-heart { background-position: -2341px 0;}
.emoji-sparkles { background-position: -2373px 0;}
.emoji-star { background-position: -2405px 0;}
.emoji-star2 { background-position: -2437px 0;}
.emoji-dizzy { background-position: -2469px 0;}
.emoji-boom { background-position: -2501px 0;}
.emoji-collision { background-position: -2533px 0;}
.emoji-anger { background-position: -2565px 0;}
.emoji-exclamation { background-position: -2597px 0;}
.emoji-question { background-position: -2629px 0;}
.emoji-grey-exclamation { background-position: -2661px 0;}
.emoji-grey-question { background-position: -2693px 0;}
.emoji-zzz { background-position: -2725px 0;}
.emoji-dash { background-position: -2757px 0;}
.emoji-sweat-drops { background-position: -2789px 0;}
.emoji-notes { background-position: -2821px 0;}
.emoji-musical-note { background-position: -2853px 0;}
.emoji-fire { background-position: -2885px 0;}
.emoji-hankey { background-position: -2917px 0;}
.emoji-poop { background-position: -2949px 0;}
.emoji-shit { background-position: -2981px 0;}
.emoji-\+1 { background-position: -3013px 0;}
.emoji-thumbsup { background-position: -3045px 0;}
.emoji-\-1 { background-position: -3077px 0;}
.emoji-thumbsdown { background-position: -3109px 0;}
.emoji-ok-hand { background-position: -3141px 0;}
.emoji-punch { background-position: -3173px 0;}
.emoji-facepunch { background-position: -3205px 0;}
.emoji-fist { background-position: -3237px 0;}
.emoji-v { background-position: -3269px 0;}
.emoji-wave { background-position: -3301px 0;}
.emoji-hand { background-position: -3333px 0;}
.emoji-raised-hand { background-position: -3365px 0;}
.emoji-open-hands { background-position: -3397px 0;}
.emoji-point-up { background-position: -3429px 0;}
.emoji-point-down { background-position: -3461px 0;}
.emoji-point-left { background-position: -3493px 0;}
.emoji-point-right { background-position: -3525px 0;}
.emoji-raised-hands { background-position: -3557px 0;}
.emoji-pray { background-position: -3589px 0;}
.emoji-point-up-2 { background-position: -3621px 0;}
.emoji-clap { background-position: -3653px 0;}
.emoji-muscle { background-position: -3685px 0;}
.emoji-metal { background-position: -3717px 0;}
.emoji-fu { background-position: -3749px 0;}
.emoji-walking { background-position: -3781px 0;}
.emoji-runner { background-position: -3813px 0;}
.emoji-running { background-position: -3845px 0;}
.emoji-couple { background-position: -3877px 0;}
.emoji-family { background-position: -3909px 0;}
.emoji-two-men-holding-hands { background-position: -3941px 0;}
.emoji-two-women-holding-hands { background-position: -3973px 0;}
.emoji-dancer { background-position: -4005px 0;}
.emoji-dancers { background-position: -4037px 0;}
.emoji-ok-woman { background-position: -4069px 0;}
.emoji-no-good { background-position: -4101px 0;}
.emoji-information-desk-person { background-position: -4133px 0;}
.emoji-raising-hand { background-position: -4165px 0;}
.emoji-bride-with-veil { background-position: -4197px 0;}
.emoji-person-with-pouting-face { background-position: -4229px 0;}
.emoji-person-frowning { background-position: -4261px 0;}
.emoji-bow { background-position: -4293px 0;}
.emoji-couplekiss { background-position: -4325px 0;}
.emoji-couple-with-heart { background-position: -4357px 0;}
.emoji-massage { background-position: -4389px 0;}
.emoji-haircut { background-position: -4421px 0;}
.emoji-nail-care { background-position: -4453px 0;}
.emoji-boy { background-position: -4485px 0;}
.emoji-girl { background-position: -4517px 0;}
.emoji-woman { background-position: -4549px 0;}
.emoji-man { background-position: -4581px 0;}
.emoji-baby { background-position: -4613px 0;}
.emoji-older-woman { background-position: -4645px 0;}
.emoji-older-man { background-position: -4677px 0;}
.emoji-person-with-blond-hair { background-position: -4709px 0;}
.emoji-man-with-gua-pi-mao { background-position: -4741px 0;}
.emoji-man-with-turban { background-position: -4773px 0;}
.emoji-construction-worker { background-position: -4805px 0;}
.emoji-cop { background-position: -4837px 0;}
.emoji-angel { background-position: -4869px 0;}
.emoji-princess { background-position: -4901px 0;}
.emoji-smiley-cat { background-position: -4933px 0;}
.emoji-smile-cat { background-position: -4965px 0;}
.emoji-heart-eyes-cat { background-position: -4997px 0;}
.emoji-kissing-cat { background-position: -5029px 0;}
.emoji-smirk-cat { background-position: -5061px 0;}
.emoji-scream-cat { background-position: -5093px 0;}
.emoji-crying-cat-face { background-position: -5125px 0;}
.emoji-joy-cat { background-position: -5157px 0;}
.emoji-pouting-cat { background-position: -5189px 0;}
.emoji-japanese-ogre { background-position: -5221px 0;}
.emoji-japanese-goblin { background-position: -5253px 0;}
.emoji-see-no-evil { background-position: -5285px 0;}
.emoji-hear-no-evil { background-position: -5317px 0;}
.emoji-speak-no-evil { background-position: -5349px 0;}
.emoji-guardsman { background-position: -5381px 0;}
.emoji-skull { background-position: -5413px 0;}
.emoji-feet { background-position: -5445px 0;}
.emoji-lips { background-position: -5477px 0;}
.emoji-kiss { background-position: -5509px 0;}
.emoji-droplet { background-position: -5541px 0;}
.emoji-ear { background-position: -5573px 0;}
.emoji-eyes { background-position: -5605px 0;}
.emoji-nose { background-position: -5637px 0;}
.emoji-tongue { background-position: -5669px 0;}
.emoji-love-letter { background-position: -5701px 0;}
.emoji-bust-in-silhouette { background-position: -5733px 0;}
.emoji-busts-in-silhouette { background-position: -5765px 0;}
.emoji-speech-balloon { background-position: -5797px 0;}
.emoji-thought-balloon { background-position: -5829px 0;}
.emoji-feelsgood { background-position: -5861px 0;}
.emoji-finnadie { background-position: -5893px 0;}
.emoji-goberserk { background-position: -5925px 0;}
.emoji-godmode { background-position: -5957px 0;}
.emoji-hurtrealbad { background-position: -5989px 0;}
.emoji-rage1 { background-position: -6021px 0;}
.emoji-rage2 { background-position: -6053px 0;}
.emoji-rage3 { background-position: -6085px 0;}
.emoji-rage4 { background-position: -6117px 0;}
.emoji-suspect { background-position: -6149px 0;}
.emoji-trollface { background-position: -6181px 0;}
.emoji-sunny { background-position: -6213px 0;}
.emoji-umbrella { background-position: -6245px 0;}
.emoji-cloud { background-position: -6277px 0;}
.emoji-snowflake { background-position: -6309px 0;}
.emoji-snowman { background-position: -6341px 0;}
.emoji-zap { background-position: -6373px 0;}
.emoji-cyclone { background-position: -6405px 0;}
.emoji-foggy { background-position: -6437px 0;}
.emoji-ocean { background-position: -6469px 0;}
.emoji-cat { background-position: -6501px 0;}
.emoji-dog { background-position: -6533px 0;}
.emoji-mouse { background-position: -6565px 0;}
.emoji-hamster { background-position: -6597px 0;}
.emoji-rabbit { background-position: -6629px 0;}
.emoji-wolf { background-position: -6661px 0;}
.emoji-frog { background-position: -6693px 0;}
.emoji-tiger { background-position: -6725px 0;}
.emoji-koala { background-position: -6757px 0;}
.emoji-bear { background-position: -6789px 0;}
.emoji-pig { background-position: -6821px 0;}
.emoji-pig-nose { background-position: -6853px 0;}
.emoji-cow { background-position: -6885px 0;}
.emoji-boar { background-position: -6917px 0;}
.emoji-monkey-face { background-position: -6949px 0;}
.emoji-monkey { background-position: -6981px 0;}
.emoji-horse { background-position: -7013px 0;}
.emoji-racehorse { background-position: -7045px 0;}
.emoji-camel { background-position: -7077px 0;}
.emoji-sheep { background-position: -7109px 0;}
.emoji-elephant { background-position: -7141px 0;}
.emoji-panda-face { background-position: -7173px 0;}
.emoji-snake { background-position: -7205px 0;}
.emoji-bird { background-position: -7237px 0;}
.emoji-baby-chick { background-position: -7269px 0;}
.emoji-hatched-chick { background-position: -7301px 0;}
.emoji-hatching-chick { background-position: -7333px 0;}
.emoji-chicken { background-position: -7365px 0;}
.emoji-penguin { background-position: -7397px 0;}
.emoji-turtle { background-position: -7429px 0;}
.emoji-bug { background-position: -7461px 0;}
.emoji-honeybee { background-position: -7493px 0;}
.emoji-ant { background-position: -7525px 0;}
.emoji-beetle { background-position: -7557px 0;}
.emoji-snail { background-position: -7589px 0;}
.emoji-octopus { background-position: -7621px 0;}
.emoji-tropical-fish { background-position: -7653px 0;}
.emoji-fish { background-position: -7685px 0;}
.emoji-whale { background-position: -7717px 0;}
.emoji-whale2 { background-position: -7749px 0;}
.emoji-dolphin { background-position: -7781px 0;}
.emoji-cow2 { background-position: -7813px 0;}
.emoji-ram { background-position: -7845px 0;}
.emoji-rat { background-position: -7877px 0;}
.emoji-water-buffalo { background-position: -7909px 0;}
.emoji-tiger2 { background-position: -7941px 0;}
.emoji-rabbit2 { background-position: -7973px 0;}
.emoji-dragon { background-position: -8005px 0;}
.emoji-goat { background-position: -8037px 0;}
.emoji-rooster { background-position: -8069px 0;}
.emoji-dog2 { background-position: -8101px 0;}
.emoji-pig2 { background-position: -8133px 0;}
.emoji-mouse2 { background-position: -8165px 0;}
.emoji-ox { background-position: -8197px 0;}
.emoji-dragon-face { background-position: -8229px 0;}
.emoji-blowfish { background-position: -8261px 0;}
.emoji-crocodile { background-position: -8293px 0;}
.emoji-dromedary-camel { background-position: -8325px 0;}
.emoji-leopard { background-position: -8357px 0;}
.emoji-cat2 { background-position: -8389px 0;}
.emoji-poodle { background-position: -8421px 0;}
.emoji-paw-prints { background-position: -8453px 0;}
.emoji-bouquet { background-position: -8485px 0;}
.emoji-cherry-blossom { background-position: -8517px 0;}
.emoji-tulip { background-position: -8549px 0;}
.emoji-four-leaf-clover { background-position: -8581px 0;}
.emoji-rose { background-position: -8613px 0;}
.emoji-sunflower { background-position: -8645px 0;}
.emoji-hibiscus { background-position: -8677px 0;}
.emoji-maple-leaf { background-position: -8709px 0;}
.emoji-leaves { background-position: -8741px 0;}
.emoji-fallen-leaf { background-position: -8773px 0;}
.emoji-herb { background-position: -8805px 0;}
.emoji-mushroom { background-position: -8837px 0;}
.emoji-cactus { background-position: -8869px 0;}
.emoji-palm-tree { background-position: -8901px 0;}
.emoji-evergreen-tree { background-position: -8933px 0;}
.emoji-deciduous-tree { background-position: -8965px 0;}
.emoji-chestnut { background-position: -8997px 0;}
.emoji-seedling { background-position: -9029px 0;}
.emoji-blossom { background-position: -9061px 0;}
.emoji-ear-of-rice { background-position: -9093px 0;}
.emoji-shell { background-position: -9125px 0;}
.emoji-globe-with-meridians { background-position: -9157px 0;}
.emoji-sun-with-face { background-position: -9189px 0;}
.emoji-full-moon-with-face { background-position: -9221px 0;}
.emoji-new-moon-with-face { background-position: -9253px 0;}
.emoji-new-moon { background-position: -9285px 0;}
.emoji-waxing-crescent-moon { background-position: -9317px 0;}
.emoji-first-quarter-moon { background-position: -9349px 0;}
.emoji-waxing-gibbous-moon { background-position: -9381px 0;}
.emoji-full-moon { background-position: -9413px 0;}
.emoji-waning-gibbous-moon { background-position: -9445px 0;}
.emoji-last-quarter-moon { background-position: -9477px 0;}
.emoji-waning-crescent-moon { background-position: -9509px 0;}
.emoji-last-quarter-moon-with-face { background-position: -9541px 0;}
.emoji-first-quarter-moon-with-face { background-position: -9573px 0;}
.emoji-moon { background-position: -9605px 0;}
.emoji-earth-africa { background-position: -9637px 0;}
.emoji-earth-americas { background-position: -9669px 0;}
.emoji-earth-asia { background-position: -9701px 0;}
.emoji-volcano { background-position: -9733px 0;}
.emoji-milky-way { background-position: -9765px 0;}
.emoji-partly-sunny { background-position: -9797px 0;}
.emoji-octocat { background-position: -9829px 0;}
.emoji-squirrel { background-position: -9861px 0;}
.emoji-bamboo { background-position: -9893px 0;}
.emoji-gift-heart { background-position: -9925px 0;}
.emoji-dolls { background-position: -9957px 0;}
.emoji-school-satchel { background-position: -9989px 0;}
.emoji-mortar-board { background-position: -10021px 0;}
.emoji-flags { background-position: -10053px 0;}
.emoji-fireworks { background-position: -10085px 0;}
.emoji-sparkler { background-position: -10117px 0;}
.emoji-wind-chime { background-position: -10149px 0;}
.emoji-rice-scene { background-position: -10181px 0;}
.emoji-jack-o-lantern { background-position: -10213px 0;}
.emoji-ghost { background-position: -10245px 0;}
.emoji-santa { background-position: -10277px 0;}
.emoji-christmas-tree { background-position: -10309px 0;}
.emoji-gift { background-position: -10341px 0;}
.emoji-bell { background-position: -10373px 0;}
.emoji-no-bell { background-position: -10405px 0;}
.emoji-tanabata-tree { background-position: -10437px 0;}
.emoji-tada { background-position: -10469px 0;}
.emoji-confetti-ball { background-position: -10501px 0;}
.emoji-balloon { background-position: -10533px 0;}
.emoji-crystal-ball { background-position: -10565px 0;}
.emoji-cd { background-position: -10597px 0;}
.emoji-dvd { background-position: -10629px 0;}
.emoji-floppy-disk { background-position: -10661px 0;}
.emoji-camera { background-position: -10693px 0;}
.emoji-video-camera { background-position: -10725px 0;}
.emoji-movie-camera { background-position: -10757px 0;}
.emoji-computer { background-position: -10789px 0;}
.emoji-tv { background-position: -10821px 0;}
.emoji-iphone { background-position: -10853px 0;}
.emoji-phone { background-position: -10885px 0;}
.emoji-telephone { background-position: -10917px 0;}
.emoji-telephone-receiver { background-position: -10949px 0;}
.emoji-pager { background-position: -10981px 0;}
.emoji-fax { background-position: -11013px 0;}
.emoji-minidisc { background-position: -11045px 0;}
.emoji-vhs { background-position: -11077px 0;}
.emoji-sound { background-position: -11109px 0;}
.emoji-speaker { background-position: -11141px 0;}
.emoji-mute { background-position: -11173px 0;}
.emoji-loudspeaker { background-position: -11205px 0;}
.emoji-mega { background-position: -11237px 0;}
.emoji-hourglass { background-position: -11269px 0;}
.emoji-hourglass-flowing-sand { background-position: -11301px 0;}
.emoji-alarm-clock { background-position: -11333px 0;}
.emoji-watch { background-position: -11365px 0;}
.emoji-radio { background-position: -11397px 0;}
.emoji-satellite { background-position: -11429px 0;}
.emoji-loop { background-position: -11461px 0;}
.emoji-mag { background-position: -11493px 0;}
.emoji-mag-right { background-position: -11525px 0;}
.emoji-unlock { background-position: -11557px 0;}
.emoji-lock { background-position: -11589px 0;}
.emoji-lock-with-ink-pen { background-position: -11621px 0;}
.emoji-closed-lock-with-key { background-position: -11653px 0;}
.emoji-key { background-position: -11685px 0;}
.emoji-bulb { background-position: -11717px 0;}
.emoji-flashlight { background-position: -11749px 0;}
.emoji-high-brightness { background-position: -11781px 0;}
.emoji-low-brightness { background-position: -11813px 0;}
.emoji-electric-plug { background-position: -11845px 0;}
.emoji-battery { background-position: -11877px 0;}
.emoji-calling { background-position: -11909px 0;}
.emoji-email { background-position: -11941px 0;}
.emoji-mailbox { background-position: -11973px 0;}
.emoji-postbox { background-position: -12005px 0;}
.emoji-bath { background-position: -12037px 0;}
.emoji-bathtub { background-position: -12069px 0;}
.emoji-shower { background-position: -12101px 0;}
.emoji-toilet { background-position: -12133px 0;}
.emoji-wrench { background-position: -12165px 0;}
.emoji-nut-and-bolt { background-position: -12197px 0;}
.emoji-hammer { background-position: -12229px 0;}
.emoji-seat { background-position: -12261px 0;}
.emoji-moneybag { background-position: -12293px 0;}
.emoji-yen { background-position: -12325px 0;}
.emoji-dollar { background-position: -12357px 0;}
.emoji-pound { background-position: -12389px 0;}
.emoji-euro { background-position: -12421px 0;}
.emoji-credit-card { background-position: -12453px 0;}
.emoji-money-with-wings { background-position: -12485px 0;}
.emoji-e\-mail { background-position: -12517px 0;}
.emoji-inbox-tray { background-position: -12549px 0;}
.emoji-outbox-tray { background-position: -12581px 0;}
.emoji-envelope { background-position: -12613px 0;}
.emoji-incoming-envelope { background-position: -12645px 0;}
.emoji-postal-horn { background-position: -12677px 0;}
.emoji-mailbox-closed { background-position: -12709px 0;}
.emoji-mailbox-with-mail { background-position: -12741px 0;}
.emoji-mailbox-with-no-mail { background-position: -12773px 0;}
.emoji-door { background-position: -12805px 0;}
.emoji-smoking { background-position: -12837px 0;}
.emoji-bomb { background-position: -12869px 0;}
.emoji-gun { background-position: -12901px 0;}
.emoji-hocho { background-position: -12933px 0;}
.emoji-pill { background-position: -12965px 0;}
.emoji-syringe { background-position: -12997px 0;}
.emoji-page-facing-up { background-position: -13029px 0;}
.emoji-page-with-curl { background-position: -13061px 0;}
.emoji-bookmark-tabs { background-position: -13093px 0;}
.emoji-bar-chart { background-position: -13125px 0;}
.emoji-chart-with-upwards-trend { background-position: -13157px 0;}
.emoji-chart-with-downwards-trend { background-position: -13189px 0;}
.emoji-scroll { background-position: -13221px 0;}
.emoji-clipboard { background-position: -13253px 0;}
.emoji-calendar { background-position: -13285px 0;}
.emoji-date { background-position: -13317px 0;}
.emoji-card-index { background-position: -13349px 0;}
.emoji-file-folder { background-position: -13381px 0;}
.emoji-open-file-folder { background-position: -13413px 0;}
.emoji-scissors { background-position: -13445px 0;}
.emoji-pushpin { background-position: -13477px 0;}
.emoji-paperclip { background-position: -13509px 0;}
.emoji-black-nib { background-position: -13541px 0;}
.emoji-pencil2 { background-position: -13573px 0;}
.emoji-straight-ruler { background-position: -13605px 0;}
.emoji-triangular-ruler { background-position: -13637px 0;}
.emoji-closed-book { background-position: -13669px 0;}
.emoji-green-book { background-position: -13701px 0;}
.emoji-blue-book { background-position: -13733px 0;}
.emoji-orange-book { background-position: -13765px 0;}
.emoji-notebook { background-position: -13797px 0;}
.emoji-notebook-with-decorative-cover { background-position: -13829px 0;}
.emoji-ledger { background-position: -13861px 0;}
.emoji-books { background-position: -13893px 0;}
.emoji-bookmark { background-position: -13925px 0;}
.emoji-name-badge { background-position: -13957px 0;}
.emoji-microscope { background-position: -13989px 0;}
.emoji-telescope { background-position: -14021px 0;}
.emoji-newspaper { background-position: -14053px 0;}
.emoji-football { background-position: -14085px 0;}
.emoji-basketball { background-position: -14117px 0;}
.emoji-soccer { background-position: -14149px 0;}
.emoji-baseball { background-position: -14181px 0;}
.emoji-tennis { background-position: -14213px 0;}
.emoji-8ball { background-position: -14245px 0;}
.emoji-rugby-football { background-position: -14277px 0;}
.emoji-bowling { background-position: -14309px 0;}
.emoji-golf { background-position: -14341px 0;}
.emoji-mountain-bicyclist { background-position: -14373px 0;}
.emoji-bicyclist { background-position: -14405px 0;}
.emoji-horse-racing { background-position: -14437px 0;}
.emoji-snowboarder { background-position: -14469px 0;}
.emoji-swimmer { background-position: -14501px 0;}
.emoji-surfer { background-position: -14533px 0;}
.emoji-ski { background-position: -14565px 0;}
.emoji-spades { background-position: -14597px 0;}
.emoji-hearts { background-position: -14629px 0;}
.emoji-clubs { background-position: -14661px 0;}
.emoji-diamonds { background-position: -14693px 0;}
.emoji-gem { background-position: -14725px 0;}
.emoji-ring { background-position: -14757px 0;}
.emoji-trophy { background-position: -14789px 0;}
.emoji-musical-score { background-position: -14821px 0;}
.emoji-musical-keyboard { background-position: -14853px 0;}
.emoji-violin { background-position: -14885px 0;}
.emoji-space-invader { background-position: -14917px 0;}
.emoji-video-game { background-position: -14949px 0;}
.emoji-black-joker { background-position: -14981px 0;}
.emoji-flower-playing-cards { background-position: -15013px 0;}
.emoji-game-die { background-position: -15045px 0;}
.emoji-dart { background-position: -15077px 0;}
.emoji-mahjong { background-position: -15109px 0;}
.emoji-clapper { background-position: -15141px 0;}
.emoji-memo { background-position: -15173px 0;}
.emoji-pencil { background-position: -15205px 0;}
.emoji-book { background-position: -15237px 0;}
.emoji-art { background-position: -15269px 0;}
.emoji-microphone { background-position: -15301px 0;}
.emoji-headphones { background-position: -15333px 0;}
.emoji-trumpet { background-position: -15365px 0;}
.emoji-saxophone { background-position: -15397px 0;}
.emoji-guitar { background-position: -15429px 0;}
.emoji-shoe { background-position: -15461px 0;}
.emoji-sandal { background-position: -15493px 0;}
.emoji-high-heel { background-position: -15525px 0;}
.emoji-lipstick { background-position: -15557px 0;}
.emoji-boot { background-position: -15589px 0;}
.emoji-shirt { background-position: -15621px 0;}
.emoji-tshirt { background-position: -15653px 0;}
.emoji-necktie { background-position: -15685px 0;}
.emoji-womans-clothes { background-position: -15717px 0;}
.emoji-dress { background-position: -15749px 0;}
.emoji-running-shirt-with-sash { background-position: -15781px 0;}
.emoji-jeans { background-position: -15813px 0;}
.emoji-kimono { background-position: -15845px 0;}
.emoji-bikini { background-position: -15877px 0;}
.emoji-ribbon { background-position: -15909px 0;}
.emoji-tophat { background-position: -15941px 0;}
.emoji-crown { background-position: -15973px 0;}
.emoji-womans-hat { background-position: -16005px 0;}
.emoji-mans-shoe { background-position: -16037px 0;}
.emoji-closed-umbrella { background-position: -16069px 0;}
.emoji-briefcase { background-position: -16101px 0;}
.emoji-handbag { background-position: -16133px 0;}
.emoji-pouch { background-position: -16165px 0;}
.emoji-purse { background-position: -16197px 0;}
.emoji-eyeglasses { background-position: -16229px 0;}
.emoji-fishing-pole-and-fish { background-position: -16261px 0;}
.emoji-coffee { background-position: -16293px 0;}
.emoji-tea { background-position: -16325px 0;}
.emoji-sake { background-position: -16357px 0;}
.emoji-baby-bottle { background-position: -16389px 0;}
.emoji-beer { background-position: -16421px 0;}
.emoji-beers { background-position: -16453px 0;}
.emoji-cocktail { background-position: -16485px 0;}
.emoji-tropical-drink { background-position: -16517px 0;}
.emoji-wine-glass { background-position: -16549px 0;}
.emoji-fork-and-knife { background-position: -16581px 0;}
.emoji-pizza { background-position: -16613px 0;}
.emoji-hamburger { background-position: -16645px 0;}
.emoji-fries { background-position: -16677px 0;}
.emoji-poultry-leg { background-position: -16709px 0;}
.emoji-meat-on-bone { background-position: -16741px 0;}
.emoji-spaghetti { background-position: -16773px 0;}
.emoji-curry { background-position: -16805px 0;}
.emoji-fried-shrimp { background-position: -16837px 0;}
.emoji-bento { background-position: -16869px 0;}
.emoji-sushi { background-position: -16901px 0;}
.emoji-fish-cake { background-position: -16933px 0;}
.emoji-rice-ball { background-position: -16965px 0;}
.emoji-rice-cracker { background-position: -16997px 0;}
.emoji-rice { background-position: -17029px 0;}
.emoji-ramen { background-position: -17061px 0;}
.emoji-stew { background-position: -17093px 0;}
.emoji-oden { background-position: -17125px 0;}
.emoji-dango { background-position: -17157px 0;}
.emoji-egg { background-position: -17189px 0;}
.emoji-bread { background-position: -17221px 0;}
.emoji-doughnut { background-position: -17253px 0;}
.emoji-custard { background-position: -17285px 0;}
.emoji-icecream { background-position: -17317px 0;}
.emoji-ice-cream { background-position: -17349px 0;}
.emoji-shaved-ice { background-position: -17381px 0;}
.emoji-birthday { background-position: -17413px 0;}
.emoji-cake { background-position: -17445px 0;}
.emoji-cookie { background-position: -17477px 0;}
.emoji-chocolate-bar { background-position: -17509px 0;}
.emoji-candy { background-position: -17541px 0;}
.emoji-lollipop { background-position: -17573px 0;}
.emoji-honey-pot { background-position: -17605px 0;}
.emoji-apple { background-position: -17637px 0;}
.emoji-green-apple { background-position: -17669px 0;}
.emoji-tangerine { background-position: -17701px 0;}
.emoji-lemon { background-position: -17733px 0;}
.emoji-cherries { background-position: -17765px 0;}
.emoji-grapes { background-position: -17797px 0;}
.emoji-watermelon { background-position: -17829px 0;}
.emoji-strawberry { background-position: -17861px 0;}
.emoji-peach { background-position: -17893px 0;}
.emoji-melon { background-position: -17925px 0;}
.emoji-banana { background-position: -17957px 0;}
.emoji-pear { background-position: -17989px 0;}
.emoji-pineapple { background-position: -18021px 0;}
.emoji-sweet-potato { background-position: -18053px 0;}
.emoji-eggplant { background-position: -18085px 0;}
.emoji-tomato { background-position: -18117px 0;}
.emoji-corn { background-position: -18149px 0;}
.emoji-house { background-position: -18181px 0;}
.emoji-house-with-garden { background-position: -18213px 0;}
.emoji-school { background-position: -18245px 0;}
.emoji-office { background-position: -18277px 0;}
.emoji-post-office { background-position: -18309px 0;}
.emoji-hospital { background-position: -18341px 0;}
.emoji-bank { background-position: -18373px 0;}
.emoji-convenience-store { background-position: -18405px 0;}
.emoji-love-hotel { background-position: -18437px 0;}
.emoji-hotel { background-position: -18469px 0;}
.emoji-wedding { background-position: -18501px 0;}
.emoji-church { background-position: -18533px 0;}
.emoji-department-store { background-position: -18565px 0;}
.emoji-european-post-office { background-position: -18597px 0;}
.emoji-city-sunrise { background-position: -18629px 0;}
.emoji-city-sunset { background-position: -18661px 0;}
.emoji-japanese-castle { background-position: -18693px 0;}
.emoji-european-castle { background-position: -18725px 0;}
.emoji-tent { background-position: -18757px 0;}
.emoji-factory { background-position: -18789px 0;}
.emoji-tokyo-tower { background-position: -18821px 0;}
.emoji-japan { background-position: -18853px 0;}
.emoji-mount-fuji { background-position: -18885px 0;}
.emoji-sunrise-over-mountains { background-position: -18917px 0;}
.emoji-sunrise { background-position: -18949px 0;}
.emoji-stars { background-position: -18981px 0;}
.emoji-themoreyouknow { background-position: -18981px 0;}
.emoji-tmyk { background-position: -18981px 0;}
.emoji-statue-of-liberty { background-position: -19013px 0;}
.emoji-bridge-at-night { background-position: -19045px 0;}
.emoji-carousel-horse { background-position: -19077px 0;}
.emoji-rainbow { background-position: -19109px 0;}
.emoji-ferris-wheel { background-position: -19141px 0;}
.emoji-fountain { background-position: -19173px 0;}
.emoji-roller-coaster { background-position: -19205px 0;}
.emoji-ship { background-position: -19237px 0;}
.emoji-speedboat { background-position: -19269px 0;}
.emoji-boat { background-position: -19301px 0;}
.emoji-sailboat { background-position: -19333px 0;}
.emoji-rowboat { background-position: -19365px 0;}
.emoji-anchor { background-position: -19397px 0;}
.emoji-rocket { background-position: -19429px 0;}
.emoji-airplane { background-position: -19461px 0;}
.emoji-helicopter { background-position: -19493px 0;}
.emoji-steam-locomotive { background-position: -19525px 0;}
.emoji-tram { background-position: -19557px 0;}
.emoji-mountain-railway { background-position: -19589px 0;}
.emoji-bike { background-position: -19621px 0;}
.emoji-aerial-tramway { background-position: -19653px 0;}
.emoji-suspension-railway { background-position: -19685px 0;}
.emoji-mountain-cableway { background-position: -19717px 0;}
.emoji-tractor { background-position: -19749px 0;}
.emoji-blue-car { background-position: -19781px 0;}
.emoji-oncoming-automobile { background-position: -19813px 0;}
.emoji-car { background-position: -19845px 0;}
.emoji-red-car { background-position: -19877px 0;}
.emoji-taxi { background-position: -19909px 0;}
.emoji-oncoming-taxi { background-position: -19941px 0;}
.emoji-articulated-lorry { background-position: -19973px 0;}
.emoji-bus { background-position: -20005px 0;}
.emoji-oncoming-bus { background-position: -20037px 0;}
.emoji-rotating-light { background-position: -20069px 0;}
.emoji-police-car { background-position: -20101px 0;}
.emoji-oncoming-police-car { background-position: -20133px 0;}
.emoji-fire-engine { background-position: -20165px 0;}
.emoji-ambulance { background-position: -20197px 0;}
.emoji-minibus { background-position: -20229px 0;}
.emoji-truck { background-position: -20261px 0;}
.emoji-train { background-position: -20293px 0;}
.emoji-station { background-position: -20325px 0;}
.emoji-train2 { background-position: -20357px 0;}
.emoji-bullettrain-front { background-position: -20389px 0;}
.emoji-bullettrain-side { background-position: -20421px 0;}
.emoji-light-rail { background-position: -20453px 0;}
.emoji-monorail { background-position: -20485px 0;}
.emoji-railway-car { background-position: -20517px 0;}
.emoji-trolleybus { background-position: -20549px 0;}
.emoji-ticket { background-position: -20581px 0;}
.emoji-fuelpump { background-position: -20613px 0;}
.emoji-vertical-traffic-light { background-position: -20645px 0;}
.emoji-traffic-light { background-position: -20677px 0;}
.emoji-warning { background-position: -20709px 0;}
.emoji-construction { background-position: -20741px 0;}
.emoji-beginner { background-position: -20773px 0;}
.emoji-atm { background-position: -20805px 0;}
.emoji-slot-machine { background-position: -20837px 0;}
.emoji-busstop { background-position: -20869px 0;}
.emoji-barber { background-position: -20901px 0;}
.emoji-hotsprings { background-position: -20933px 0;}
.emoji-checkered-flag { background-position: -20965px 0;}
.emoji-crossed-flags { background-position: -20997px 0;}
.emoji-izakaya-lantern { background-position: -21029px 0;}
.emoji-moyai { background-position: -21061px 0;}
.emoji-circus-tent { background-position: -21093px 0;}
.emoji-performing-arts { background-position: -21125px 0;}
.emoji-round-pushpin { background-position: -21157px 0;}
.emoji-triangular-flag-on-post { background-position: -21189px 0;}
.emoji-jp { background-position: -21221px 0;}
.emoji-kr { background-position: -21253px 0;}
.emoji-cn { background-position: -21285px 0;}
.emoji-us { background-position: -21317px 0;}
.emoji-fr { background-position: -21349px 0;}
.emoji-es { background-position: -21381px 0;}
.emoji-it { background-position: -21413px 0;}
.emoji-ru { background-position: -21445px 0;}
.emoji-gb { background-position: -21477px 0;}
.emoji-uk { background-position: -21509px 0;}
.emoji-de { background-position: -21541px 0;}
.emoji-one { background-position: -21573px 0;}
.emoji-two { background-position: -21605px 0;}
.emoji-three { background-position: -21637px 0;}
.emoji-four { background-position: -21669px 0;}
.emoji-five { background-position: -21701px 0;}
.emoji-six { background-position: -21733px 0;}
.emoji-seven { background-position: -21765px 0;}
.emoji-eight { background-position: -21797px 0;}
.emoji-nine { background-position: -21829px 0;}
.emoji-keycap-ten { background-position: -21861px 0;}
.emoji-1234 { background-position: -21893px 0;}
.emoji-zero { background-position: -21925px 0;}
.emoji-hash { background-position: -21957px 0;}
.emoji-symbols { background-position: -21989px 0;}
.emoji-arrow-backward { background-position: -22021px 0;}
.emoji-arrow-down { background-position: -22053px 0;}
.emoji-arrow-forward { background-position: -22085px 0;}
.emoji-arrow-left { background-position: -22117px 0;}
.emoji-capital-abcd { background-position: -22149px 0;}
.emoji-abcd { background-position: -22181px 0;}
.emoji-abc { background-position: -22213px 0;}
.emoji-arrow-lower-left { background-position: -22245px 0;}
.emoji-arrow-lower-right { background-position: -22277px 0;}
.emoji-arrow-right { background-position: -22309px 0;}
.emoji-arrow-up { background-position: -22341px 0;}
.emoji-arrow-upper-left { background-position: -22373px 0;}
.emoji-arrow-upper-right { background-position: -22405px 0;}
.emoji-arrow-double-down { background-position: -22437px 0;}
.emoji-arrow-double-up { background-position: -22469px 0;}
.emoji-arrow-down-small { background-position: -22501px 0;}
.emoji-arrow-heading-down { background-position: -22533px 0;}
.emoji-arrow-heading-up { background-position: -22565px 0;}
.emoji-leftwards-arrow-with-hook { background-position: -22597px 0;}
.emoji-arrow-right-hook { background-position: -22629px 0;}
.emoji-left-right-arrow { background-position: -22661px 0;}
.emoji-arrow-up-down { background-position: -22693px 0;}
.emoji-arrow-up-small { background-position: -22725px 0;}
.emoji-arrows-clockwise { background-position: -22757px 0;}
.emoji-arrows-counterclockwise { background-position: -22789px 0;}
.emoji-rewind { background-position: -22821px 0;}
.emoji-fast-forward { background-position: -22853px 0;}
.emoji-information-source { background-position: -22885px 0;}
.emoji-ok { background-position: -22917px 0;}
.emoji-twisted-rightwards-arrows { background-position: -22949px 0;}
.emoji-repeat { background-position: -22981px 0;}
.emoji-repeat-one { background-position: -23013px 0;}
.emoji-new { background-position: -23045px 0;}
.emoji-top { background-position: -23077px 0;}
.emoji-up { background-position: -23109px 0;}
.emoji-cool { background-position: -23141px 0;}
.emoji-free { background-position: -23173px 0;}
.emoji-ng { background-position: -23205px 0;}
.emoji-cinema { background-position: -23237px 0;}
.emoji-koko { background-position: -23269px 0;}
.emoji-signal-strength { background-position: -23301px 0;}
.emoji-u5272 { background-position: -23333px 0;}
.emoji-u5408 { background-position: -23365px 0;}
.emoji-u55b6 { background-position: -23397px 0;}
.emoji-u6307 { background-position: -23429px 0;}
.emoji-u6708 { background-position: -23461px 0;}
.emoji-u6709 { background-position: -23493px 0;}
.emoji-u6e80 { background-position: -23525px 0;}
.emoji-u7121 { background-position: -23557px 0;}
.emoji-u7533 { background-position: -23589px 0;}
.emoji-u7a7a { background-position: -23621px 0;}
.emoji-u7981 { background-position: -23653px 0;}
.emoji-sa { background-position: -23685px 0;}
.emoji-restroom { background-position: -23717px 0;}
.emoji-mens { background-position: -23749px 0;}
.emoji-womens { background-position: -23781px 0;}
.emoji-baby-symbol { background-position: -23813px 0;}
.emoji-no-smoking { background-position: -23845px 0;}
.emoji-parking { background-position: -23877px 0;}
.emoji-wheelchair { background-position: -23909px 0;}
.emoji-metro { background-position: -23941px 0;}
.emoji-baggage-claim { background-position: -23973px 0;}
.emoji-accept { background-position: -24005px 0;}
.emoji-wc { background-position: -24037px 0;}
.emoji-potable-water { background-position: -24069px 0;}
.emoji-put-litter-in-its-place { background-position: -24101px 0;}
.emoji-secret { background-position: -24133px 0;}
.emoji-congratulations { background-position: -24165px 0;}
.emoji-m { background-position: -24197px 0;}
.emoji-passport-control { background-position: -24229px 0;}
.emoji-left-luggage { background-position: -24261px 0;}
.emoji-customs { background-position: -24293px 0;}
.emoji-ideograph-advantage { background-position: -24325px 0;}
.emoji-cl { background-position: -24357px 0;}
.emoji-sos { background-position: -24389px 0;}
.emoji-id { background-position: -24421px 0;}
.emoji-no-entry-sign { background-position: -24453px 0;}
.emoji-underage { background-position: -24485px 0;}
.emoji-no-mobile-phones { background-position: -24517px 0;}
.emoji-do-not-litter { background-position: -24549px 0;}
.emoji-non\-potable-water { background-position: -24581px 0;}
.emoji-no-bicycles { background-position: -24613px 0;}
.emoji-no-pedestrians { background-position: -24645px 0;}
.emoji-children-crossing { background-position: -24677px 0;}
.emoji-no-entry { background-position: -24709px 0;}
.emoji-eight-spoked-asterisk { background-position: -24741px 0;}
.emoji-eight-pointed-black-star { background-position: -24773px 0;}
.emoji-heart-decoration { background-position: -24805px 0;}
.emoji-vs { background-position: -24837px 0;}
.emoji-vibration-mode { background-position: -24869px 0;}
.emoji-mobile-phone-off { background-position: -24901px 0;}
.emoji-chart { background-position: -24933px 0;}
.emoji-currency-exchange { background-position: -24965px 0;}
.emoji-aries { background-position: -24997px 0;}
.emoji-taurus { background-position: -25029px 0;}
.emoji-gemini { background-position: -25061px 0;}
.emoji-cancer { background-position: -25093px 0;}
.emoji-leo { background-position: -25125px 0;}
.emoji-virgo { background-position: -25157px 0;}
.emoji-libra { background-position: -25189px 0;}
.emoji-scorpius { background-position: -25221px 0;}
.emoji-sagittarius { background-position: -25253px 0;}
.emoji-capricorn { background-position: -25285px 0;}
.emoji-aquarius { background-position: -25317px 0;}
.emoji-pisces { background-position: -25349px 0;}
.emoji-ophiuchus { background-position: -25381px 0;}
.emoji-six-pointed-star { background-position: -25413px 0;}
.emoji-negative-squared-cross-mark { background-position: -25445px 0;}
.emoji-a { background-position: -25477px 0;}
.emoji-b { background-position: -25509px 0;}
.emoji-ab { background-position: -25541px 0;}
.emoji-o2 { background-position: -25573px 0;}
.emoji-diamond-shape-with-a-dot-inside { background-position: -25605px 0;}
.emoji-recycle { background-position: -25637px 0;}
.emoji-end { background-position: -25669px 0;}
.emoji-on { background-position: -25701px 0;}
.emoji-soon { background-position: -25733px 0;}
.emoji-clock1 { background-position: -25765px 0;}
.emoji-clock130 { background-position: -25797px 0;}
.emoji-clock10 { background-position: -25829px 0;}
.emoji-clock1030 { background-position: -25861px 0;}
.emoji-clock11 { background-position: -25893px 0;}
.emoji-clock1130 { background-position: -25925px 0;}
.emoji-clock12 { background-position: -25957px 0;}
.emoji-clock1230 { background-position: -25989px 0;}
.emoji-clock2 { background-position: -26021px 0;}
.emoji-clock230 { background-position: -26053px 0;}
.emoji-clock3 { background-position: -26085px 0;}
.emoji-clock330 { background-position: -26117px 0;}
.emoji-clock4 { background-position: -26149px 0;}
.emoji-clock430 { background-position: -26181px 0;}
.emoji-clock5 { background-position: -26213px 0;}
.emoji-clock530 { background-position: -26245px 0;}
.emoji-clock6 { background-position: -26277px 0;}
.emoji-clock630 { background-position: -26309px 0;}
.emoji-clock7 { background-position: -26341px 0;}
.emoji-clock730 { background-position: -26373px 0;}
.emoji-clock8 { background-position: -26405px 0;}
.emoji-clock830 { background-position: -26437px 0;}
.emoji-clock9 { background-position: -26469px 0;}
.emoji-clock930 { background-position: -26501px 0;}
.emoji-heavy-dollar-sign { background-position: -26533px 0;}
.emoji-copyright { background-position: -26565px 0;}
.emoji-registered { background-position: -26597px 0;}
.emoji-tm { background-position: -26629px 0;}
.emoji-x { background-position: -26661px 0;}
.emoji-heavy-exclamation-mark { background-position: -26693px 0;}
.emoji-bangbang { background-position: -26725px 0;}
.emoji-interrobang { background-position: -26757px 0;}
.emoji-o { background-position: -26789px 0;}
.emoji-heavy-multiplication-x { background-position: -26821px 0;}
.emoji-heavy-plus-sign { background-position: -26853px 0;}
.emoji-heavy-minus-sign { background-position: -26885px 0;}
.emoji-heavy-division-sign { background-position: -26917px 0;}
.emoji-white-flower { background-position: -26949px 0;}
.emoji-100 { background-position: -26981px 0;}
.emoji-heavy-check-mark { background-position: -27013px 0;}
.emoji-ballot-box-with-check { background-position: -27045px 0;}
.emoji-radio-button { background-position: -27077px 0;}
.emoji-link { background-position: -27109px 0;}
.emoji-curly-loop { background-position: -27141px 0;}
.emoji-wavy-dash { background-position: -27173px 0;}
.emoji-part-alternation-mark { background-position: -27205px 0;}
.emoji-trident { background-position: -27237px 0;}
.emoji-black-square { background-position: -27269px 0;}
.emoji-white-square { background-position: -27301px 0;}
.emoji-white-check-mark { background-position: -27333px 0;}
.emoji-black-square-button { background-position: -27365px 0;}
.emoji-white-square-button { background-position: -27397px 0;}
.emoji-black-circle { background-position: -27429px 0;}
.emoji-white-circle { background-position: -27461px 0;}
.emoji-red-circle { background-position: -27493px 0;}
.emoji-large-blue-circle { background-position: -27525px 0;}
.emoji-large-blue-diamond { background-position: -27557px 0;}
.emoji-large-orange-diamond { background-position: -27589px 0;}
.emoji-small-blue-diamond { background-position: -27621px 0;}
.emoji-small-orange-diamond { background-position: -27653px 0;}
.emoji-small-red-triangle { background-position: -27685px 0;}
.emoji-small-red-triangle-down { background-position: -27717px 0;}
.emoji-shipit { background-position: -27749px 0;}

.emoji-groups .emoji-group {
  display: inline-block;
  width: 24px;
  height: 29px;
  background: url('/assets/components/angular-emoji-picker/distribution/img/emoji-groups.png') no-repeat;
  background-size: 42px 350px;
  cursor: pointer;
}
.emoji-groups .btn-backspace {
  color: #a8a8a8;
  cursor: pointer;
  float: right;
  font-size: 24px;
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
  .emoji-groups .btn-backspace:hover {
    color: #d7d7d7;
  }
.is-1x .emoji-groups .emoji-group {
  background-image: url('/assets/components/angular-emoji-picker/distribution/img/emoji-groups-1x.png');
}

.emoji-groups .icon-recent { background-position: -9px -306px; }
.emoji-groups .icon-recent-selected { background-position: -9px -277px; }
.emoji-groups .icon-smile { background-position: -9px -34px; }
.emoji-groups .icon-smile-selected { background-position: -9px -5px; }
.emoji-groups .icon-flower { background-position: -9px -145px; }
.emoji-groups .icon-flower-selected { background-position: -9px -118px; }
.emoji-groups .icon-bell { background-position: -9px -89px; }
.emoji-groups .icon-bell-selected { background-position: -9px -61px; }
.emoji-groups .icon-car { background-position: -9px -196px; }
.emoji-groups .icon-car-selected { background-position: -9px -170px; }
.emoji-groups .icon-grid { background-position: -9px -248px; }
.emoji-groups .icon-grid-selected { background-position: -9px -222px; }

.emoji-groups .icon-smile,
.emoji-groups .icon-flower,
.emoji-groups .icon-bell,
.emoji-groups .icon-car,
.emoji-groups .icon-grid {
  opacity: 0.7;
}
.emoji-groups .icon-smile:hover,
.emoji-groups .icon-flower:hover,
.emoji-groups .icon-bell:hover,
.emoji-groups .icon-car:hover,
.emoji-groups .icon-grid:hover {
  opacity: 1;
}
