.five-free-scans-cta {
	background-image: url("/assets/images/five-free-scans/white_screen_background.png");
	background-size: cover;
	background-position: center center;
	text-align: center;
}

.five-free-scans-cta .fa-qrcode {
	font-size: 80px;
	color: #68AA3B;
}

.five-free-scans-cta .title {
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 48px;
	color: #4a4a4a;
	text-transform: capitalize;
	margin-top: 42px;
}

.five-free-scans-cta .subtitle {
	font-size: 24px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-weight: 600;
	margin-top: 16px;
	line-height: 45px;
}

.five-free-scans-cta .separator {
	width: 50px;
	height: 4px;
	background-color: #26A7DE;
	margin: 0px auto;
	margin-top: 18px;
	margin-bottom: 18px;
}

.five-free-scans-cta .feature-explainer {
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Regular';
	font-weight: 600;
	color: #4a4a4a;
	padding: 0;
	margin-top: 8px;
}

.five-free-scans-cta .buttons-wrapper {
	height: 110px;
  margin-top: 28px;
  border-top: 1px solid #cdcdcd;
  background-color: rgba(255, 255, 255, 0.5);
  width: calc(100% + 34px + 34px);
  margin-left: -34px;
  margin-bottom: -34px;
	position: relative;
	line-height: 110px;
}

.five-free-scans-cta .buttons-wrapper .get-scans-button {
	font-size: 14px;
	font-family: "AvenirNextLTPro-Bold";
	color: white;
	text-transform: uppercase;
	height: 45px;
	line-height: 48px;
	background-color: #68AA3B;
	color: white;
	padding-left: 45px;
	padding-right: 45px;
	display: inline-block;
	border-radius: 30px;
	position: relative;
	transform: scale(1);
	transition: transform .2s ease;
	cursor: pointer;
}

.five-free-scans-cta .buttons-wrapper .get-scans-button:hover {
	transform: scale(1.1);
}


.five-free-scans-cta .buttons-wrapper .get-scans-button .fa {
	position: absolute;
	right: 10px;
	font-size: 18px;
	top: 50%;
	transform: translateY(-50%);
}

.five-free-scans-cta .buttons-wrapper .close-button {
	position: absolute;
	left: 34px;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 14px;
}
