<div class="custom-modal-wrapper five-free-scans-cta">
	<i class="fa fa-qrcode" aria-hidden="true"></i>
	<div class="title">get 5 free event leads</div>
	<div class="subtitle">When you try Expo's Lead Retrieval</div>
	<div class="separator"></div>
	<div class="feature-explainer">Instant Access to your List</div>
	<div class="feature-explainer">Easily Collect Qualifier Information</div>
	<div class="feature-explainer">5 Free Users - Engage Your Team</div>
	<div class="buttons-wrapper">
		<div class="close-button" ng-click="closeDialog()">No thanks</div>
		<div class="get-scans-button" ng-click="openInitialPaymentModal()">
			get 5 free scans
			<i class="fa fa-arrow-right"></i>
		</div>
	</div>
</div>
