
// COLORS
$white-color: #FFF;
$black-color: #000;
$main-bg-color: #eee;
$main-bg-color-text: #666;
$main-header-color: #fff;
$main-side-left-bgcolor: #131920;
$text-color: #a7a7a7;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;
$global-pink-color: rgb(231,87,83);
$global-hover-pink-color: rgb(53,173,228);

// VARIABLES
$shadow: rgba(0,0%,0%,0.26);
$left-sidenav-width: 150px;
$widget-height: 310px;
$header-height: 100px;
$sidenav-button-height: 80px;
$font-family-open-sans: 'Open Sans';
$font-family-medium: 'AvenirNextLTPro-Regular';
$font-family-demi: 'AvenirNextLTPro-Demi';
$font-family-bold: 'AvenirNextLTPro-Bold';
$font-weight-bold: 600;
$font-size-sm: 12px;
$font-size-md: 15px;
$font-size-lg: 22px;
$font-size-xl: 28px;

// LAYOUT
body {
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  color: $text-color;
  font-family: $font-family-bold !important;
  overflow-y: hidden;
  overflow-x: hidden;
}
.grayed-out{
  pointer-events: none;
}

ui-view{
  color: #4a4a4a;
  font-size: 14px;
  font-family: $font-family-demi;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #9b9b9b;
}

.small-field{
  width: calc(16% - 11px);
  height: 40px;
}
.medium-field{
  height: 40px;
  width: 19% !important;
}
.text-align-center{
  text-align: center;
}
*:not(input){
  outline: none !important;
}
input, textarea{
  border: 1px solid #cdcdcd;
}
textarea {
  resize: none;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.upload-link{
  color: #26a7de;
  font-size: 14px;
  font-family: $font-family-medium;
  margin-top: 10px;
  margin-bottom: 10px;
}
.selectable-text{
  user-select: text !important;
 -moz-user-select: text !important;
 -webkit-user-select: text !important;
 -ms-user-select: text !important;
}
.field-autocomplete{
  background-color: #f0f9ff;
  border: 1px solid #cdcdcd;
}
.margin-bottom{
  margin-bottom: 20px;
}
.cursor{
  cursor: pointer !important;
}
.italic{
  font-style: italic;
}
.ellipsis{
  white-space: nowrap;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroll-exhibiting-hours{
  //overflow-y: scroll;
  //height: calc(100vh - 450px);
  min-height: calc(100vh - 300px);

}
.uneditable{
  opacity: .6;
  pointer-events: none;
}
.italic{
  font-style: italic;
}
.ellipsis-material{
  white-space: nowrap;
  width: 17em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overflow-scroll{
  overflow-y: scroll;
  height: 93vh;
  overflow-x: hidden;
}

.overflow-scroll::-webkit-scrollbar {
    width: 0;
}

.overflow-scrollbar-active::-webkit-scrollbar {
  width: 8px !important;
}

.selected-travel-type{
  border-bottom: 1px solid #fff;
  height: 69px;
  background-color: #fff;
}
.required{
  border: 1px solid #EC3840 !important;
  &::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #EC3840 !important;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #EC3840 !important;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #EC3840 !important;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #EC3840 !important;
  }
}
.no-border-bottom{
  border-bottom-style: none !important;
}
.valid{
  border: 1px solid #26a7de;
}
.opacity{
  opacity: 0;
}
.rtl {
  direction: rtl;
}
.bold{
  font-family: $font-family-bold !important;
}
.demi{
  font-family: $font-family-demi !important;
}
.medium{
  font-family: $font-family-medium !important;
  font-weight: normal;
}
.medium-bolder{
  font-family: $font-family-medium !important;
  font-weight: 600;
}
.unclickable{
  pointer-events: none;
}
.unclickable-type{
  pointer-events: none !important;
  cursor: default !important;
}

.page-content{
   min-height:100%;
   padding: 0;
   position:relative;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
    /*text-decoration: none;*/
  }
}

tbody{
  overflow-y: scroll;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.ui-grid-column-menu-button{
  display: none;
}
.md-button.md-raised{
  box-shadow: none; //need resolved
}
.required-field{
  &::after{
    content: '*';
    color: #f58a1c;
    font-size: 14px;
    font-family: $font-family-demi;
  }
}
md-button{
  margin: auto;
}
.md-shadow-bottom-z-1, .md-button.md-raised:not([disabled]), .md-button.md-fab, .md-button.md-raised.md-focused:not([disabled]), .md-button.md-fab.md-focused:not([disabled]){
  box-shadow: none;
}
md-content{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  color: #fff !important;
  background-color: inherit !important;
}
.md-ripple-container{
  background-color: none !important;
}
.active-row, .active{
    background-color: #fffde6;
}
.scroller {
    height: 100vh;
    //overflow: hidden;
    //overflow-y: scroll;
}
.ngdialog-overlay{
  background: none;
  z-index: -1;
}
.ngdialog-content{
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  background: #fff !important;
}

.main-div-container {
  filter: blur(5px);
  /* Firefox */
  filter: url("/assets/blur.svg#gaussian_blur");

  /* Webkit */
  -webkit-filter: blur(5px);

  /* Opera */
  -o-filter: blur(5px);
}
.border-bottom{
  border-bottom: 1px solid #cdcdcd;
}
.checked-box-true{
    background-image: url('/assets/images/checkbox-custom-checked.png');
    background-repeat: no-repeat;
    background-position-x : -4px;
    background-position-y : -4px;
    border-style: none !important;
}
.not-clickable{
  opacity: 0.5 !important;
  pointer-events: none !important;
}
.no-top-border{
  border-top-style: none !important;
}
.more-height{
  height: 81vh;
}
.medium-height{
  height: 65vh;
}
.less-height{
  height: 61vh;
}
.align-title-top{
  display: inline-flex;
  margin-top: 14px;
}
.no-paragraph-margins{
  & p{
    margin: 0;
    color: #4a4a4a;
  }
}
.margin-left-auto-button{
  margin-left: auto;
}

.conference-contacts-header{
  height: 103px !important;
}

.margin-bottom-0{
  margin-bottom: 0 !important;
}

select {
  -webkit-appearance:none;
}

.ngdialog-close{
  display: none;
}
