@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('../../assets/fonts/AvenirNextLTPro-Demi.eot');
  src: local('AvenirNextLTPro-Demi'), url('../../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('../../assets/fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.eot');
  src: local('AvenirNextLTPro-Regular'), url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../../assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.eot');
  src: local('AvenirNextLTPro-Bold'), url('../../assets/fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../../assets/fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/open-sans-fontface/fonts/Light/OpenSans-Light.eot?#iefix');
  src: local('Open Sans'), url('../../assets/fonts/open-sans-fontface/fonts/Light/OpenSans-Light.woff') format('woff'), url('../../assets/fonts/open-sans-fontface/fonts/Light/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?4xxyls');
  src:  url('/assets/fonts/icomoon.eot?4xxyls#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?4xxyls') format('truetype'),
    url('/assets/fonts/icomoon.woff?4xxyls') format('woff'),
    url('/assets/fonts/icomoon.svg?4xxyls#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
