// MIXINS
@mixin shape($width, $height, $bradius){
  width: $width;
  height: $height;
  border-radius: $bradius !important;
}
@mixin flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@mixin arrow-base-shape{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: relative;
}
@mixin modal{
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 63px;
  box-shadow: 0 2px 4px $shadow, 0 -2px 4px $shadow !important;
}
@mixin open-sans-regular{
  font-family: $font-family-open-sans;
  font-weight: 400;
}
@mixin open-sans-italic{
  font-family: $font-family-open-sans;
  font-style: italic;
}
@mixin open-sans-semibold{
  font-family: $font-family-open-sans;
  font-weight: 600;
}
@mixin open-sans-bold{
  font-family: $font-family-open-sans;
  font-weight: 700;
}
