.attendee-search-box{
	width: 620px;
	height: 895px;
	@include modal;
	background-color: #fff;
	display: block;
	padding-top: 30px;
	& input{
		width: 536px;
		height: 41px;
		margin-left: 41px;
		margin-bottom: 20px;
	}
	& p{
		font-family: $font-family-demi;
		font-size: 20px;
		color: #4a4a4a;
		margin-left: 34px;
	}
	& md-content{
		padding-top: 34px;
		display: flex;
		justify-content: space-between;
		width: 540px;
		margin-left: 38px;
		& .btnCancel{
			@include shape(148px, 40px, 20px);
			font-size: 14px;
			font-family: $font-family-medium;
			color: #4a4a4a !important;
			background-color: #fff !important;
			border: 1px solid #9b9b9b;
			text-transform: none;
		}
		& .btnNewAdd{
			@include shape(190px, 40px, 20px);
			font-size: 14px;
			font-family: $font-family-medium;
			color: #4a4a4a !important;
			background-color: #fff !important;
			border: 1px solid #9b9b9b;
		}
		& .btnAdd{
			@include shape(148px, 40px, 20px);
			font-size: 14px;
			font-family: $font-family-bold;
			color: #fff !important;
			background-color: #68aa3b !important;
		}
	}
}
.users-list{
	display: block;
	height: 630px;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
	width: 536px;
	& .attendee-searched{
		width: 518px;
		height: 70px;
		padding-left: 16px;
		border-bottom: 1px solid #cdcdcd;
		padding-top: 14px;
		display: flex;
		background-color: #fafafa;
		&:first-child{
			border-top: 1px solid #cdcdcd;
		}
		& .attendee-info{
			@include flex;
			flex-direction: row;
			& div:nth-child(2){
				width: 36px;
				margin-right: 10px;
				margin-left: 10px;
				& img{
					@include shape(36px, 36px, 50px);
				}
			}
			& div {
				& p{
					font-size: 14px;
					color: #4a4a4a;
				}
				&:nth-child(3){
					& p{
						font-family: $font-family-demi;
						margin: 0;
					}
					width: 116px;
				}
				&:last-child{
					& p{
						font-family: $font-family-medium;
					}
				}
				&:first-child{
					margin-right: 0;
				}
			}
		}
	}
}