.browser-popup{
	@include modal;
	@include shape(620px, 200px, 0);
	margin-top: 40vh;
	background-color: #fff !important;
	padding-top: 50px;
	& > p{
		font-size: 14px;
		margin-left: 100px;
		color: #4a4a4a;
	}
	& > div{
		@include shape(150px, 40px, 20px);
		margin-right: auto;
		margin-left: auto;
		background-color: #3ebef4;
		text-align: center;
		line-height: 40px;
		color: #fff;
	}
}