.conference-social-tags{
    padding-top: 15px;
    padding-left: 42px;
    & p{
        margin: 0;
    }
    & > div{
        &:first-child{
            font-size: 20px;
            font-family: $font-family-medium;
            line-height: 36px;
            margin-bottom: 17px;
        }
        &:nth-child(2){
            font-size: 14px;
            font-family: $font-family-medium;
            line-height: 22px;
            margin-bottom: 27px;
        }
        &:nth-child(3){
            background-color: #edf0f2;
            width: 40vw;
            & > div{
                &:first-child{
                    padding-left: 18px;
                    padding-top: 16px;
                    padding-bottom: 18px;
                    border-bottom: 2px solid #cdcdcd;
                    & > div{
                        margin-bottom: 10px;
                        align-items: center;
                        & > input{
                            width: 307px;
                            height: 33px;
                            padding-left: 7px;
                            font-family: $font-family-medium;
                            &::-webkit-input-placeholder{
                                font-family: $font-family-medium;
                                color: #cdcdcd;
                            }
                        }
                        & > p{
                            font-size: 14px;
                            font-family: $font-family-demi;
                            width: 28%;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                &:last-child{
                    padding-right: 16px;
                    padding-top: 14px;
                    padding-bottom: 18px;
                    & > div{
                        margin-left: auto;
                        @include shape(150px, 40px, 20px);
                        background-color: #68aa3b;
                        color: #fff;
                        line-height: 40px;
                        font-size: 14px;
                        text-align: center;
                        font-family: $font-family-demi;
                    }            
                }
            }
        }
    }
}