
table-responsive.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.conference-title {
    font-family: 'AvenirNextLTPro-Bold';
    color: #4A4A4A;
    font-size: 28px;
    &.cont-inp {
        height: 40px;
    }
}

.default-icon-circle{
  @include shape(30px !important, 30px !important, 50%);
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 34px;
  font-size: 17px;
  cursor: pointer;
}

.active-color-icon{
    color: #fff !important;
}

.conference-title-block {
    float: left;
    margin-top: 26px;
    margin-left: 20px;
}

.conference-subtitle {
    font-family: $font-family-medium;
    color: #4A4A4A;
    font-size: 16px;
    line-height:18px;
    margin-top:5px;
    & > p{
        margin-right: 20px;
        margin-left: 20px;
        display: inline;
    }
}
.conference-session-details-material-name{
    white-space: nowrap;
    width: 17em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.conference-logo-img {
    max-width: 92px;
    height: 65px;
}

.user-panel-change-image{
    cursor: pointer;
    font-family: $font-family-medium;
    font-size: 14px;
    margin-top: 20px;
}

.conference-icon {
    background-repeat: no-repeat;
    width: 65px;
    height: 55px;
    margin-top: 25px;
    margin-left: 44px;
    margin-right: 15px;
}

.conference-head-left {
    float:left;
}

.session-uploaded-materials-file-ico{
    background-image: url('/assets/images/file-ico-black.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
    position: relative;
    bottom: 3px;
}

.conference-head {
    min-height: 84px;
    border-bottom: 2px solid #cdcdcd;
    float:left;
    width:100%;
    padding-bottom:26px;
    background-color: #fff;
}

.conference-body {
    clear:both;
}

.conference-sidebar-left {
    width: 198px;
    background-color: #f0f9ff;
    height: 100vh;
    border-right: 2px solid #cdcdcd;
    float:left;
    position: relative;
    z-index: 2;
}

.conference-sidebar-buttons {
    font-family: 'AvenirNextLTPro-Demi';
    color: #4A4A4A;
    font-size: 14px;
}

.conference-edit-icon {
    background-image: url("/assets/images/conference-edit-icon.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    outline: none;
}

.conference-left-button {
    color: #26A7DE;
    font-family: 'AvenirNextLTPro-Regular';
    font-size:14px;
    margin-left: 54px;
    margin-top:14px;
}

.conf-inp {
    color: #26A7DE;
    padding: 8px;
    padding-bottom: 4px;
    width: 50vw;
    font-size: 18px;
    font-family: $font-family-bold;
    margin-left: 25px;
}

.conference-table-actions {
    font-family: $font-family-medium;
    font-size: 14px;
    font-size:14px;
    color: #26A7DE;
    outline: none;
    cursor: pointer;
}

.conf-imp-fixed {
    color: #26A7DE;
    padding: 8px;
    border-radius: 5px;
    padding-bottom: 4px;
    width: calc(100% - 35px);
    font-size: 14px;
    font-family: $font-family-medium;
    height: 19px;
    margin-bottom: 5px;
}

.conference-sidebar-button {
    min-height: 65px;
    line-height:20px;
    vertical-align: center;
    outline: none;
    height: 20px;
    overflow: hidden
}

.table-responsive {
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-top: 20px;
    & td, & span, & div, & a{
        user-select: text !important;
       -moz-user-select: text !important;
       -webkit-user-select: text !important;
       -ms-user-select: text !important;
    }
}

.table-responsive-right-border {
    //border-right: 2px solid #cdcdcd;
    margin-top: 0;
    //width: calc(100vw - 830px);
}

.conference-body-right-unbordered {
    border-left: 0px solid #cdcdcd;
    float:right;
}

.conference-support-contacts-large {
    //max-height: calc(100vh - 628px);
}
.conference-support-contacts-small {
    //max-height: calc(100vh - 700px);
}

.conference-details-parent {
    width: 100%;
    float: left;
    height: inherit;
}


.conference-body-right {
    float: right;
    border-left: 2px solid #cdcdcd;
    min-height: 105%;
    width: 582px;
}

.table-responsive > table {
    width: 100%;
}

.conference-details {
    float:left;
    background-color: white;
    width: calc(100% - 200px);
    font-family: 'AvenirNextLTPro-Demi';
    color: #4A4A4A;
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
}

.conference-sidebar-button:hover {
    background-color: #8bd0ef;
}

.conference-sidebar-button-selected {
    background-color: #8bd0ef;
    height: auto;
}

.conference-sidebar-button:hover .conference-edit-icon {
    opacity: 1;
}

.conference-sidebar-button-text {
    margin-left: 40px;
    padding-top:27px;
    cursor: pointer;
}

.conference-checked-icon{
    background-image: url('/assets/images/check-mark.png');
    width: 20px;
    height: 17px;
    position: absolute;
    background-repeat: no-repeat;
}

.table-responsive > table > tbody > tr {
    height: 38px !important;
    max-height: 38px !important;
}

.table-responsive > table > tbody > tr > td {
    height: 30px;
    width: 50%;
    padding: 0 !important;
    &:nth-child(2){
        font-family: $font-family-medium;
    }
    &:nth-child(2) div:first-child{
        font-family: $font-family-medium;
    }
}

.table-responsive > table > tfoot {
    border-bottom: 1px solid black;
}
.conference-contacts-table{
    width: 100%;
    & > div{
        &:first-child{
            align-items: center;
            justify-content: space-between;
            padding-left: 27px;
            padding-right: 38px;
            height: 52px;
            border-top: 2px solid #cdcdcd;
            border-bottom: 2px solid #cdcdcd;
            & > div{
                @include shape(167px, 28px, 20px);
                font-size: 12px;
                font-family: $font-family-demi;
                border: 1px solid #cdcdcd;
                line-height: 32px;
                align-items: baseline;
            }
        }
        &:nth-child(2){
            width: 100%;
            & > div{
                align-items: center;
                padding: 0 23px 0 24px;
                border-bottom: 2px solid #cdcdcd;
                min-height: 67px;
                & > p{
                    font-size: 14px;
                    width: 23%;
                    padding-left: 15px;
                    box-sizing: border-box;
                    text-overflow: ellipsis;
                }
                & > div:last-child{
                    margin-left: auto;
                    & > div{
                        &:first-child{
                            margin-right: 15px;
                        }
                    }
                }
                & > div:first-child{
                    align-items: center;
                    width: 15vw;
                    & .user_avatar_holder{
                        margin-top: 12px;
                    }
                    & > p{
                        margin-left: 10px;
                        align-self: center;
                        font-size: 14px;
                        margin: 0px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        &:nth-child(3){
            align-items: center;
            width: 96%;
            justify-content: space-between;
            padding-left: 25px;
            padding-right: 38px;
            padding-top: 11px;
        }
    }
}

.table-users > table > tbody > tr {
    height: 65px;
    width:100%;
    border-bottom:1pt solid #cdcdcd;
}

.table-users {
    width: 100%;
}

table {
  border-collapse: collapse;
}


.conference-stat {
    width: 50%;
    float:left;

    margin-top:30px;
}

.conference-field-required {
    margin-left: -2px;
    color: #f58a1c;
}

.conference-field-required-status {
    color: #f58a1c;
    font-family: $font-family-medium;
    font-size: 12px;
}

.conference-stat-holder {
    border: 1px solid #cdcdcd;
    width:182px;
    height:182px;
    border-radius: 50% 50%;
    text-align: center;
    margin-left: calc(50% - 91px);
    cursor: pointer;
    margin-bottom: 42px;
}


.conference-stat-title {
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 48px;
    color: #68AA3B;
    height: 50px;
    margin-top: 60px;

}

.conference-stat-subtitle {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 5px;
    line-height: 28px;
}

.conference-button-holder {
    float: left;
}

.conference-button-cancel {
    @include shape(146px, 38px, 20px);
    background-color: white;
    font-family: 'AvenirNextLTPro-Regular';
    color: black;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    line-height: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.conference-button-save {
    @include shape(148px, 40px, 20px);
    background-color: #26A7DE;
    font-family: $font-family-bold !important;
    color: white;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.conference-users-body {
    width: calc(100% - 10px);
    height: calc(100vh - 76px);
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;

}

.conference-users-head {
    height: 65px;
    width:100%;
    border-bottom:1pt solid #cdcdcd;
}

.conference-users-search {
    width: 338px;
    margin-top: 12px;
    margin-left:12px;
    padding: 10px;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;
    border: 1px solid #cdcdcd;
    float:left;
}

.conference-users-permissions-btn {
    float:left;
    margin-left:12px;
    width:178px;
    height: 30px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #9b9b9b;
    margin-top:16px;
    line-height: 32px;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.conference-users-permissions-btn.active {
    color: #fff !important;
    background-color: #727272;
    border: 1px solid #727272;
    opacity: 1;
    pointer-events: visible !important;
}

.conference-users-add-btn {
    width: 111px;
    height: 30px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    text-align: center;
    background-color: #26A7DE;
    color: white;
    float: left;
    line-height: 30px;
    opacity: 0.3;
    font-size: 12px;
    font-family: $font-family-bold;
    margin-top:16px;
    margin-left: 22px;
    outline: none;
    &.active{
        opacity: 1;
        pointer-events: visible !important;
    }
}

.conference-users-permissions-pane {
    width: 533px;
    height: 257px;
    background-color: #fafafa;
    position: absolute;
    margin-left: 12px;
    margin-top: 53px;
    box-shadow: 0px 0px 10px -2px black;
    border-radius:4px;
}

input[type='checkbox'].permission-item {
    width: 17px;
    height: 17px;
    padding: 10px;
    outline: none;
    float: left;
}

.permission-text {
    margin-top:2px;
    font-size: 14px;
    font-family: $font-family-medium;
    color: #4a4a4a;
    float: left;
    outline: none;
}

input[type='checkbox']:checked {
    color: white;
}

.checkbox-ico {
    background-color: white;
    border: 1px solid #979797;
    width: 17px;
    height: 17px;
    float:left;
    margin-right:10px;
    margin-top:-1px;
    outline: none;
}

.permission-option {
    outline: none;
    cursor: pointer;
}

.checkbox-ico.active {
    background-color: #26A7DE;
    border: 1px solid #26A7DE;
    background-image: url("/assets/images/checkbox-custom-checked.png");
    background-repeat: no-repeat;
    //background-position: -5px -3px;
    background-position: -1px -2px;
    background-size: 20px 20px;
}

.conference-users-table-head {
    height: 64px;
    background-color: #edf0f2;
    border-bottom:1pt solid #cdcdcd;
}

.conference-users-table-div {
    float: left;
}

.conference-user-check {
    margin-top: 22px;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
    height: 30px;
}

.img-circle {
    border-radius: 50%;
}

.user-img-small {
    width: 35px;
    height: 35px;
    float: left;
    margin-top: -9px;
    margin-left: 5px;
    margin-right: 5px;
}
.conference-img-small{
    width: 45px;
    height: 45px;
    float: left;
    margin-top: -9px;
    margin-left: 5px;
    margin-right: 5px;
}

.conference-table-order-icon {
    background-image: url("/assets/images/conference-table-order-ico-asc.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    float:left;
    margin-left:7px;
    margin-top:3px;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background-color: #edf0f2;
}

.conference-table-order-icon:hover,  .conference-table-order-icon.active{
    opacity: 1;
}

.attendee-field-item:hover .conference-table-order-icon{
    opacity: 1;
}

.conference-table-order-icon.ascending {
    background-image: url("/assets/images/conference-table-order-ico.png");
}

.conference-users-table-body {
    height: 64px;
    background-color: #fafafa;
    border-bottom:1pt solid #cdcdcd;
    vertical-align: center;
    outline: none;
    clear: both;
    float: left;
    width: 100%;
    cursor: pointer;
    &:hover{
       background-color: #8bd0ef;
    }
}

.conference-users-more-options-btn {
    float:left;
    margin-left:12px;
    width:178px;
    background-color: #fffde6;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
}

.conference-users-more-options-btn:hover,  .conference-users-more-options-btn.active{
    opacity: 1;
}

.conference-trash-icon {
    background-image: url("/assets/images/conference-trash-ico.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    margin-left: 9px;
    margin-top: 7px;
}

.conference-trash-button {
    background-color: #fffde6;
    border-radius: 50%;
    outline: none;
    width: 30px;
    height: 30px;
    float:left;
    border: 1px solid #cdcdcd;
    margin-top: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.conference-user-actions {
    border-left: 1px solid #cecece;
    height: 100%;
    float: left;
    margin-left: 20px;
    padding-left: 7px;
    border-radius:4px;
}

.conference-sidebar-button-text-subtitles {
    padding-top: 15px;
}

.conference-sidebar-button-text-subtitle {
    padding: 8px 0;
    padding-left: 40px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 12px;
    font-family: 'AvenirNextLTPro-Regular';
    color: #4a4a4a;
    outline: none;
}

.conference-users-table-body.active {
    background-color: #fffde6;
}

.conference-users-table-body2 {
    height: 64px;
    background-color: #fafafa;
    border-bottom: 1pt solid #cdcdcd;
    vertical-align: center;
    outline: none;
    clear: both;
    float: left;
    width: 100%;
}

.conference-add-attendees-btn.pull-right {
    float: right;
    margin-right:30px;
}

.conference-add-attendees-btn {
    float:left;
    margin-left:12px;
    width:167px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    line-height: 32px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
}

.conference-add-attendees-btn-more {
    float:left;
    margin-left:12px;
    width:167px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
}

.conference-add-attendees-btn-ico {
    background-image: url("/assets/images/conference-add-button-ico.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 17px;
    margin-top: -3px;
}

.conference-attendees-more-btn {
    float:left;
    margin-left:12px;
    width:167px;
    height: 30px;
    line-height: 32px;
    background-color: #fffde6;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
}

.conference-attendees-more-btn:hover, .conference-attendees-more-btn.active {
    float:left;
    margin-left:12px;
    width:167px;
    height: 30px;
    line-height: 32px;
    background-color: #727272;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #fff;
    & i{
        color: #fff !important;
    }
    margin-top:16px;
    cursor: pointer;
    outline: none;
}


.conference-attendees-more-btn:hover .rights-select-icon, .conference-attendees-more-btn.active .rights-select-icon{
    background-image: url("/assets/images/rights-ico-white.png");
}

.conference-attendees-more-options {
    position: absolute;
    width: 166px;
    box-shadow: 0px 0px 10px -2px black;

    background-color: #fafafa;
    margin-top: 56px;
    margin-left: 14px;
}

.conference-attendees-more-option:hover {
    background-color: #c4c4c4;
}

.conference-attendees-more-option {
    padding: 15px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.conference-label-ico {
    background-image: url("/assets/images/label-ico.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    position: absolute;
}

.conference-grid-ico {
    background-image: url("/assets/images/grid-ico.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
    position: absolute;
    margin-top: -3px;
}

.conference-doc-ico {
    background-image: url("/assets/images/doc-ico.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 19px;
    position: absolute;
    margin-top: -5px;
}

.conference-option-type {
    font-size: 12px;
    font-family: $font-family-demi;
}

.conference-attendees-view-options-btn {
    float:right;
    margin-left:12px;
    width:167px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    line-height: 32px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
    margin-right: 25px;
}

.conference-attendees-view-options-btn:hover{
    background-color: #727272;
    border: 1px solid #727272;
    font-size: 12px;
    color: #fff !important;
    & i{
        color: #fff !important;
    }
}

.conference-attendees-view-options-btn.active {
    background-color: #727272;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    color: #fff !important;
    & i{
        color: #fff !important;
    }
}

.attendees-view-options-pane {
    width: 533px;
    //height: 326px;
    background-color: #fafafa;
    right: 26px;
    position: absolute;
    //margin-left: -364px;
    margin-top: 60px;
    box-shadow: 0px 0px 10px -2px black;
    border-radius:4px;
}

.conference-upload-attendees-csv {
    width: 100%;
    min-height: 100vh;
}



.conference-upload-body {
    width: 100%;
    text-align: center;
}


.conference-attendees-choose-file {
    width:167px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:36px;
    cursor: pointer;
    outline: none;

    margin-left:auto;
    margin-right:auto;
}

.conference-attendees-upload-file {
    @include shape(150px, 40px, 20px);
    line-height: 40px;
    background-color: #68AA3B;
    border: 1px solid #68AA3B;
    text-align: center;
    font-family: $font-family-bold;
    font-size: 14px;
    color: #ffffff;
    margin-top:36px;
    cursor: pointer;
    outline: none;
    margin-left:auto;
    margin-right:auto;
}

.conference-attendees-upload-file-holder {
    border-top: 1px solid #cdcdcd;
    margin-top: 36px;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

.conference-upload-attendees-csv-instructions {
    width: 100%;
    height: 225px;
    border-bottom: 1px solid #cdcdcd;
    background-color: #fafafa;
    text-align: center;
}


.conference-upload-attendees-field{
    width:166px;
    height: 61px;
    line-height: 61px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    color: #4a4a4a;
    margin-top:36px;
    cursor: pointer;
    outline: none;
    position: absolute;
    box-shadow: 0px 0px 6px -2px black;
}

.conference-upload-attendees-field.field-dotted {
    margin-left: 251px; margin-top: 45px;
    border: 3px dashed #b6e0f3;
    box-shadow: 0px 0px 0px 0px black;
    border-radius: 8px;
}

.instructions-holder {
    width: 420px;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}

.conference-upload-actions-bar {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #cdcdcd;
    background-color: #ffffff;
}

.conference-upload-bar-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 18px;
    color: #4a4a4a;
    margin-left:30px;
    line-height: 65px;
    float:left;
}

.conference-attendees-choose-another-file {
    width:210px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    cursor: pointer;
    outline: none;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

.conference-attendees-cancel-upload {
    width:170px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    cursor: pointer;
    outline: none;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.conference-attendees-upload-save {
    width:167px;
    background-color: #68AA3B;
    border: 1px solid #68AA3B;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 12px;
    color: #ffffff;
    margin-top:36px;
    cursor: pointer;
    outline: none;

    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.conference-attendees-fields-mapping {
    width: 100%;
}

.conference-attendees-fields-side {
    width: calc(50% - 20px);
    min-height: calc(100vh - 490px);
    float: left;
}

.conference-attendees-fields-side-large {
    width: calc(50% - 20px);
    min-height: calc(100vh - 191px);
    float: left;
}

.fields-mobile {

   position: relative;
   float: left;
   margin:  40px 0 30px 30px;
}

.conference-attendees-fields-holder {
    width: 447px;
    clear: both;
    margin-left:auto;
    margin-right:auto;
}

.conference-upload-attendees-field.field-dotted.fields-mobile {
    margin:  40px 0 30px 36px;
    border: 3px dashed #b6e0f3;
    box-shadow: 0px 0px 0px 0px black;
    border-radius: 8px;
    &:hover{
        background-color: #b6e0f3;
    }
}

.is_mapped.conference-upload-attendees-field.field-dotted.fields-mobile {
    background-color: #59bbe7;
    border: 3px solid #59bbe7;
    color: white;
}

.field_is_mapped {
    opacity: 0;
    //position: absolute;
    pointer-events:none;
    display: none;
}

.is_hovered.conference-upload-attendees-field.field-dotted.fields-mobile {
   background-color: #def1fa;
   border: 3px dashed #59bbe7;
   color: white;
}

.drop-right-custom.is_hovered {
    background-color: #def1fa;
   border: 3px dashed #59bbe7;
   color: white;

}

.field_mapping_info {
    color: white;
    line-height: 10px;
}

.conference-add-custom-fields {
    width: 70%;
    float: left;
    min-height: calc(100vh - 180px);
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 20px;
    color: #4a4a4a;
    border-right: 2px solid #cdcdcd;
}

.conference-add-custom-fields-title {
    padding-top: 24px;
    padding-left: 45px;
    & img{
        float: right;
        position: relative;
        bottom: 10px;
        right: 73px;
    }
}

.conference-custom-fields-holder {
    min-height: calc(100vh - 180px);
    width: calc(30% - 2px);
    float: right;
    background-color: #fafafa;
    overflow-y: auto;
}

.conference-add-custom-fields-form {
    width: calc(100% - 90px);
    margin-left: 45px;
    margin-top: 22px;
    background-color: #edf0f2;
    border-radius: 3px;
    float: left;
    padding-bottom: 18px;
    max-height: calc(100vh - 300px);
}

.conference-custom-field-head {
    width: calc(100% - 150px);
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 10px;
}

.conference-custom-field-name {
    width: 50%;
    float: left;
    padding: 10px 0;
}

.conference-custom-field-text {
    width: calc(100% - 45px);
    height: 14px;
    padding: 10px;

    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;
}

.conference-custom-field-text-custom {
    width: calc(100% - 45px);
    height: 34px;
    padding-left: 10px;
    padding-right: 14px;
    line-height: 36px;
    font-family: $font-family-medium;
    font-size: 14px;
    color: #4a4a4a;
    background-color: white;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.conference-custom-field-text-custom > .rights-select-icon {
    margin-right: 0px;
}

.conference-custom-field-text-custom:hover, .conference-custom-field-text-custom.active {
    color: white;
    & i{
        color: #fff !important;
    }
    background-color: #727272;
}


.custom-field-options-div {
    width: calc(18% - 2px);
    background-color: #fafafa;
    border-radius:4px;
    box-shadow: 0px 0px 10px -2px black;
    background-color: #fafafa;
    margin-top:10px;
    padding-right: 20px;
    outline: none;
    position: absolute;
    font-size: 14px;
    font-family: $font-family-medium;
}

.custom-field-option {
    padding: 15px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    width: calc(100% - 10px);
}

.custom-field-option:hover {
    color: white;
    background-color: #727272;
}

.conference-custom-field-head {
    width: calc(100% - 150px);
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    margin-top: 15px;
    padding-top: 0;
}

.conference-custom-field-option {
    float:left;
    width: 50%;
    margin-top: 25px
}

.conference-custom-field-options > .conference-custom-field-head {
    float: left;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
}

.conference-custom-field-remove-btn {
    float: left;
}

.conference-custom-field-remove-btn {
    @include shape(21px, 24px, 50px);
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}

.conference-sidebar-button-text-subtitle.active {
    background-color: #59bbe7;
    color: white;
}


.conference-custom-fields-head {
    margin-left: 22px;
    margin-top: 30px;
    margin-bottom: 21px;
}

.conference-saved-custom-field {
    margin-left: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    &:first-child{
        margin-top: 0;
    }
}

.conference-upload-template {
    margin-left:22px;
    margin-top:30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #68aa3b;
}

.conference-manage-templates {
    min-height: calc(100vh - 190px);
}

.conference-add-custom-fields-subtitle {
    font-size: 14px;
    line-height: 20px;
    padding-top: 24px;
    padding-left: 45px;
    padding-right:35px;
}

.conference-templates-tips {
    font-size: 14px;
    padding-top: 14px;
    padding-left: 45px;
    & img{
        position: relative;
        top: 2px;
    }
}

.conference-upload-template-btn {
    width: 150px;
    height: 40px;
    background-color: #68aa3b;
    font-family: $font-family-bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: inline-block;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    line-height: 40px;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-right: 16px;
    margin-top: 18px;
}

.conference-custom-fields-save-btn {
    @include shape(150px, 27px, 20px);
    background-color: #68aa3b;
    color: white;
    text-align: center;
    display: inline-block;
    border: 1px solid #9b9b9b;
    padding-top: 13px;
    outline: none;
    cursor: pointer;
    float: right;
    font-family: $font-family-demi;
    font-size:14px;
    margin-right: 16px;
    margin-top:18px;
    text-transform: uppercase;
}

.conference-template-head {
    clear: both;
    width: calc(100% - 150px);
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 10px;
    font-size:14px;
    font-family: $font-family-medium;
}

.conference-template-upload-btn {
    float: left;
    margin-left: 21px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 30px;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

.conference-template-upload-btn:hover, .conference-template-upload-btn.active {
    color: white;
    background-color: #727272;
    opacity: 1;
}

.conference-template-badge-btn {
    float:left;
    margin-left: 21px;
    @include shape(150px, 30px, 20px);
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    line-height: 32px;
    margin-top:16px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    &:hover i{
        color: #fff !important;
    }
}

.conference-template-label-btn {
    float:left;
    margin-left: 21px;
    @include shape(150px, 30px, 20px);
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:16px;
    cursor: pointer;
    outline: none;
    line-height: 32px;
    margin-bottom: 20px;
    &:hover i{
        color: #fff !important;
    }
}

.conference-template-label-btn.active, .conference-template-label-btn:hover, .conference-template-badge-btn.active,
.conference-template-badge-btn:hover{
    background-color: #727272;
    border: 1px solid #727272;
    color: white;
    & i{
        color: #fff !important;
    }
}

.conference-template-btn-middle {
    float: left;
    font-size: 14px;
    line-height: 56px;
    height: 54px;
    margin-left: 10px;
}

.conference-template-button-group {
    margin-bottom: 20px;
    float: left;
}

.conference-template-uploaded-name {
    float: left;
    font-size: 14px;
    margin-top: 24px;
    margin-left: 10px;
}

.conference-badge-icon {
    background-image: url("/assets/images/label-ico.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 17px;
    position: absolute;
}

.conference-label-icon {
    background-image: url("/assets/images/grid-ico.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
    position: absolute;
    margin-top: 0px;
}

.conference-item-name {
    float:left;
    margin-left: 8px;
    max-width: 300px;
    overflow-wrap: break-word;
}

.conference-sessions-daily-listing {
    min-height: calc(100vh - 190px);
}

.conference-sessions-tab {
    display: inline-block;
    font-size: 16px;
    width: 168px;
    text-align: center;
    line-height: 68px;
    border-right: 1px solid #cecece;
    background-color: #fafafa;
    cursor: pointer;
    outline: none;
}

.conference-sessions-tab2 {
    display: inline-block;
    font-size: 16px;
    width: 168px;
    text-align: center;
    line-height: 68px;
    border-right: 0px solid #cecece;
    background-color: #fafafa;
    cursor: pointer;
    outline: none;
}

.conference-sessions-tab:last-child {
    border-right: 0px solid #cecece;
}
// need to adjust the width
.border-applied{
    width: calc(100% - 1182px);
    height: 1px;
    position: relative;
    bottom: 1px;
    float: right;
    background: #cecece;
}

.conference-sessions-tabs{
    width: 100%;
    background-color: #fafafa;
    height: 69px;
}

.is_hidden {
    opacity: 0;
    pointer-events:none;
}

.conference-sessions-tab.active{
    border-bottom-style: none;
    background-color: white;
    cursor: default;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.conference-sessions-table {
    clear: both;
    &  > table > thead{
        width: 100%;
        & tr{
            display: flex;
            border-bottom: 2px solid #cecece;
            border-collapse: collapse;
            align-items: center;
        }
        & > tr > th{
            width: 14vw;
            font-family: $font-family-medium !important;
        }
    }
    & > table > tbody{
        width: 100%;
        overflow-y:  scroll;
        display: block;
        & tr{
            display: flex;
            width: 100%;
            align-items: center;
            border-bottom: 2px solid #cecece;
            border-collapse: collapse;
        }
        & > tr > td{
            width: 10.5vw;
        }
    }
}

.conference-sessions-table > table > tbody > tr > td, .conference-sessions-table > table > thead > tr > th {
    text-align: left;
    padding: 26px 24px 25px 33px;
    vertical-align: text-top;
    font-size: 14px;
}
.conference-sessions-table > table > thead > tr > th {
    font-family: $font-family-medium !important;
}

.conference-sessions-table > table > tbody > tr{
    background-color: #fafafa;
}

.conference-sessions-table > table {
    border-collapse: collapse;
}

.conference-table-speaker {
    padding: 5px 0;
    margin-bottom: 20px;
}

.conference-table-speaker:last-child {
    margin-bottom: 0px;
}

.conference-sessions-none {
    width: 615px;
    height: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid #cecece;
    padding: 44px 0;
    font-size: 16px;
    font-family: $font-family-medium;
}

.conference-template-add-session-btn {
    width: 237px;
    height: 42px;
    line-height: 45px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    background-color: #68aa3b;
    text-align: center;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 14px;
    color: white;
    margin-top:16px;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
}

.conference-session-table-row {
    cursor: pointer;
    outline: none;

}
.session-registrants-grid-row{
    cursor: pointer;
    &:hover{
        background-color: #8bd0ef;
    }
}
.conference-session-table-row:hover {
    background-color: #fff;
}

.conference-sessions-table > table > tbody > tr:hover {
    background-color: #fff;
}

.conference-session-details {
    //height: calc(100vh - 190px);
    height: calc(100vh - 74px);
    overflow-y: auto;
}

.conference-session-details-holder{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
}

.conference-session-details-head {
    font-size: 16px;
    font-family: 'AvenirNextLTPro-Demi';
    border-bottom: 1px solid #cecece;
    outline: none;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.conference-session-details-title {
    padding: 40px 0;
    padding-top: 6px;
    font-size: 20px;
    font-family: 'AvenirNextLTPro-Demi';
}

.conference-session-details-title-text {
    float: left;
}

.conference-session-details-title-buttons {
    float: right;
}

.conference-template-session-edit-btn {
    width: 150px;
    height: 30px;
    line-height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    text-align: center;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 12px;
    color: black;
    margin-top:-6px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: left;
}

.conference-template-session-edit-btn:hover {
    color: white;
    background-color: #727272;
    font-family: 'AvenirNextLTPro-Demi';
}

.conference-session-details-box {
    width: 89px;
    height: 76px;
    border-radius: 5px;
    background-color: #26a7de;
    color: white;
    text-align: center;
    float: left;
    margin-right:15px;
    margin-top: 10px;
}

.conference-session-details-info-item {
    margin-top: 10px;
    // font-family: $font-family-medium;
    font-weight: bolder;
    & img{
        margin-right: 20px;
    }
}

.conference-session-details-info-block {
    float:left;
    margin-right: 40px;
    margin-left: 8px;
    font-family: $font-family-demi !important;
    font-size: 14px;
}

.conference-session-details-box.orange {
    background-color: #f68c1c;
}

.conference-session-details-box-big {
    padding-top: 15px;
    font-size: 24px;
}

.conference-session-details-box-small {
    font-size: 12px;
}

.conference-session-details-description-text {
    clear: both;
    line-height: 22px;
    padding-top: 15px;
    font-size: 16px;
    text-align: justify;
    font-family: $font-family-medium;
}
.conference-session-details-description{
    padding-bottom: 28px;
}
.user-img-big {
    width: 92px;
    height: 92px;
    float: left;
    margin-right: 5px;
    border: 1px solid #cecece;
}

.conference-session-details-speaker-details {
    margin-top: 45px;
    width: 50%;
    float: left;
}

.conference-session-details-speaker-details-inner {
    padding-right: 20px;
    & .user_avatar_holder{
        position: relative;
        top: 16px;
    }
}

.conference-session-speaker-name {
    font-size: 18px;
}

.conference-session-details-speakers-holder {
    clear: both;
}

.conference-session-details-speakers {
    padding-bottom: 28px;
    border-bottom: 1px solid #cecece;
    float: left;
    width: 85vw;
    padding-top: 28px;
    border-top: 1px solid #cecece;
}

.conference-session-details-materials {
    width: 100%;
    float: left;
    margin-bottom: 46px;
    padding-top: 28px;
}

.conference-session-details-material {
    float: left;
    width: 20%;
    outline: none;
}
.conference-session-feedback-details{
    & p{
        margin: 0;
    }
    & > div{
        &:first-child{
            margin-bottom: 25px;
            align-items: center;
            justify-content: space-between;
            & > div{
                border: 1px solid #cdcdcd;
                @include shape(181px, 30px, 20px);
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                & > img{
                    position: relative;
                    top: 5px;
                    right: 7px;
                }
            }
        }
        &:nth-child(2){
            & > div{
                margin-bottom: 45px;
                & > div > div:nth-child(2) > p:not(:first-child){
                    margin-top: 15px;
                }
            }
        }
    }
}

.conference-session-details-materials-holder {
    width: 100%;
    float: left;
}

.conference-session-details-material-icon {
    height: 64px;
    margin-top: 10px;
}

.conference-session-form {
    clear: both;
    padding: 20px 42px;
    & p{
        margin: 0;
    }
}

.session-form-holder {
    width: 100%;
}

.session-form-holder-block {
    width: calc(50% - 35px);
    float: left;
}

.session-form-holder-block:first-child {
    margin-right: 32px;
}

.session-form-holder-block:last-child {
    margin-left: 18px;
}

.session-form-input {
   width: 60%;
   height: 40px;
   padding-left:10px;
   color: #4a4a4a;
}
.moderator-btn-no, .moderator-btn-yes{
    @include shape(60px, 22px, 20px);
    color: #4a4a4a;
    font-family: "AvenirNextLTPro-Regular";
    border: 1px solid #cdcdcd;
    text-align: end;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 30px;
    cursor: -webkit-grab;
    font-size: 12px;
    &:hover{
        color: white;
        background-color: #727272;
        font-family: 'AvenirNextLTPro-Demi';
    }
}
.active-btn-moderator{
    color: white;
    cursor: -webkit-grab;
    background-color: #727272;
    font-family: 'AvenirNextLTPro-Demi';
}

.btns-for-moderator{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 214px;
}
.session-form-input-big {
    width: calc(100% - 2px);
    color: black;
    text-align: left;
}

.session-form-input-small {
    width: calc(30% - 21px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:5px;
    text-align: center;
}
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.session-form-small-block {
    width: 60%;
    display: inline-block;
}

.session-form-label {
    width: calc(40% - 17px);
    display: inline-block;
}

.session-form-holder-block-item {
    margin-bottom: 10px;
    & select{
        background-color: #fff !important;
        padding-left: 0;
        & option{
            height: 27px;
            padding-left: 10px;
            padding-top: 11px;
        }
    }
}
.display-flex-custom-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & select{
        width: 62%;
    }
}

.session-drag-drop-materials {
    margin-top:18px;
    background-color: #edf0f2;
    height: 118px;
    border: 2px dashed black;
    text-align: center;
    width: calc(100% - 12px);
}

.session-drag-drop-materials-text {
    margin-top: 20px;
}

.conference-session-details-title-text-right {
    float: right;
    font-size: 12px;
    color: #f8b26a;
    margin-right: 5px;
}

.session-uploaded-materials {
    margin-top:18px;
    background-color: #edf0f2;
    height: 135px;
    border: 2px solid #edf0f2;
    text-align: center;
    width: calc(100% - 2px);
}

.session-uploaded-materials-title {
    margin-left: 22px;
    margin-top: 18px;
    text-align: left;
}

.session-uploaded-materials-file {
    text-align: left;
    margin-left: 22px;
    float:left;
    margin-top: 10px;
    display: inline-flex;
}

.dragover {
    opacity: .6;
}

.conference-session-form-holder {
    padding-bottom: 20px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #cecece;
}

.session-drag-drop-headshot {
    margin-top:18px;
    background-color: #edf0f2;
    height: 118px;
    border: 2px dashed black;
    text-align: center;
    width: calc(100% - 4px);
}

.conference-session-save-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
}

.conference-session-add-speaker-btn {
    width: 223px;
    height: 42px;
    line-height: 44px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    text-align: center;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    margin-top:-6px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: left;
}

.conference-add-attendees-btn-ico2 {
    background-image: url("/assets/images/conference-add-button-ico.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 17px;
    margin-left: 14px;
    margin-top: 13px;
    position: absolute;
}

.conference-session-cancel-btn {
    width: 144px;
    height: 40px;
    line-height: 42px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    text-align: center;
    font-family: $font-family-medium;
    font-size: 14px;
    color: #4a4a4a;
    margin-top:-6px;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: left;
}

.conference-session-save-btn {
    width: 144px;
    height: 40px;
    line-height: 42px;
    border: 1px solid #9b9b9b;
    border-radius: 25px 25px 25px 25px;
    background-color: #68aa3b;
    text-align: center;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 14px;
    color: white;
    margin-top:-6px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: right;
}

.custom_select {
    float: right;
    margin-right: 1px;
    height: 42px;
    margin-bottom: 10px;
    width: 306px;
    background-color: white;
    margin-left: 7px;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
}

.custom_select option {
    padding:10px 10px;
}

.add_attendee_upload_link {
    width: 357px;
    color: #61bfe7;
    font-size: 14px;
    outline: noe;
    cursor: pointer;
}

.infinite-loading-animation {
    background-image: url("/assets/images/ellipsis.gif");
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
}

.doc-ico {
    background-image: url("/assets/images/doc-ico.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 19px;
    /* position: absolute; */
    margin-top: 20px;
    margin-left: -5px;
    margin-right: 5px;
    float: left;
}

.mapping-x-btn {
    position: absolute; color:white; font-size:14px; outline: none; cursor:pointer; right: 10px;
    top: 11px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
}

.mapping-x-btn:hover {
    color: black;
}

.payment-modal-type {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-shadow: 0 2px 4px #424242, 0 -2px 4px #424242;
    width: 620px;
    border-radius: 0 !important;
    margin-top: calc((100vh - 100%)/2);
    color: #4a4a4a;
}

.payment-transactions-table {
    font-family: 'AvenirNextLTPro-Regular';
    font-size:14px;
    outline: none;
    cursor: pointer;
}

.payment-transactions-table  > tbody > tr > td, .payment-transactions-table > thead > tr > th {
    text-align: left;
    padding: 24px 42px;
    padding-bottom: 0px;
    vertical-align: text-top;
}

.session-attendees-table > tbody > tr > td, .session-attendees-table > thead > tr > th {
    text-align: left;
    padding: 24px 42px;
    padding-bottom: 0px;
    vertical-align: text-top;
}

.payment-transactions-table  > tbody > tr:last-child > td{
    padding-bottom: 20px;
}

.session-attendees-table  > tbody > tr:last-child > td{
    padding-bottom: 20px;
}

.payment-transactions-table > thead > tr > th {
    color: #4a4a4a;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
}

.session-attendees-table > thead > tr > th {
    color: #4a4a4a;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
}

.payment-transactions-table  > tbody > tr > td {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
    color: #4a4a4a;
}

.session-attendees-table  > tbody > tr > td {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
    color: #4a4a4a;
}

.payment-transactions-data {
    color: #6a6a6a;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 14px;
}

.payment-transactions-head {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 16px;
    padding: 20px; color: black; font-size:18px; border-bottom:1px solid #cdcdcd;
    background-color: white;
}

.payment-transactions-body {
    background-color: #fafafa; max-height:calc(100vh - 500px); border-bottom: 1px solid #cdcdcd;
}

.attendee-view-option-inactive {
    opacity: .4;
    pointer-events: none;
}
.payment-form-buttons{
    & .btnC:first-child > img{
        position: relative;
        right: 13px;
        top: 5px;
    }
    & .btnC:last-child > img{
        width: 19px;
        height: 20px;
        position: relative;
        right: 35px;
        top: 5px;
    }
}

.session_add_button {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    height: 30px;
    line-height: 32px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 12px;
    color: #4a4a4a;
    cursor: pointer;
}

.horizontal-scroll-button {
    opacity: .6;
}

.horizontal-scroll-button:hover {
    opacity: 1;
}

.with-border{
    border-right: 1px solid #cecece;
    width: 150px;
    padding: 18px 10px;
}
.no-border{
    border-right: 1px solid #cecece;
    width: 150px;
    padding: 18px 10px;
    padding-top: 48px;
}

.add-session-holder {
    //height: calc(100vh - 266px);
    height: calc(100vh - 74px);
    width: 100%; overflow-y: scroll;
}

.add-session-holder-new {
    height: calc(100vh - 145px);
    width: 100%; overflow-y: scroll;
}


// new code for icon-text-module used in sessions view

.icon-data-display-detail-module-wrapper {
    display: block;
    margin-bottom: 10px;

    color: #4A4A4A;

    position: relative;
}

.icon-data-display-detail-module-wrapper .fa {
    position: absolute;
    left: 0;

    font-size: 18px;

    width: 18px;
    height: 18px;
}

.icon-data-display-detail-module-wrapper .text {
    white-space: nowrap;
    line-height: 18px;

    margin-left: 26px;
}

.session-data-modules-holder {
    display: inline-block;
    vertical-align: top;

    margin-right: 40px;
    margin-top: 10px;

    max-height: 84px;
}

.conference-csv-actions-wrapper {

}


.session-upload-file-example-field {
    width: 166px;
    height: 61px;
    line-height: 61px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    text-align: center;
    padding: 8px 0;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
    box-shadow: 0px 0px 6px -2px black;
    display: inline-block;
    vertical-align: top;

    z-index: 3;
    position: relative;

}

.session-upload-file-example-field.field-dotted {
    border: 3px dashed #b6e0f3;
    box-shadow: 0px 0px 0px 0px black;
    border-radius: 8px;

    margin-left: 90px;

    position: relative;
    z-index: 1;

    margin-top: 14px;
}

.instructions-holder.sessions-example {
    width: 100%;
    position: relative;
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;

    top: 20px;
}

.conference-detail-date-input {
    margin-right: 0px;
    width: calc(50% - 38px);
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 10px;
    color: #26A7DE;
    height: 12px;
}

.session-date-input {
    border-radius: 5px;
    width: 60%;
    height: 40px;
    padding: 0;
    padding-left: 10px;
    text-align: left;
}
.conference-table-row-last{
    margin-bottom: 180px;
}

.conference-table-row-last-small{
    margin-bottom: 100px;
}

.conference-table-row-last-medium{
    margin-bottom: 120px;
}

.conference-detail-field {
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 400px;
}

.conference-list-search {
    width: 200px;
    margin-left: 12px;
    padding: 10px;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;
    border: 1px solid #cdcdcd;
    float: left;
    margin-right: 20px;
}
