.create-registration-form-header{
	display: flex;
	flex-direction: column;
	padding-top: 26px;
	padding-left: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #cdcdcd;
	width: 100vw;
	& p{
		margin: 0;
	}
	& .create-registration-form > p{
		margin-left: 5px;
		font-size: 20px;
		font-family: $font-family-demi; 
	}
	& .form-overview{
		& > p{
			font-family: $font-family-demi;
			font-size: 20px;
			margin-top: 22px;
		}
		& > div{
			display: flex;
			flex-direction: row;
			align-items: center;
			& > p{
				font-family: $font-family-medium;
				font-size: 16px;
				margin-left: 8px;
			}
			& > img{
				position: relative;
    			bottom: 2px;
			}
		}
	}
	.steps-for-registration{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		& > div{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: 80px;
			& div{
				margin-right: 10px;
				@include shape(25px, 25px, 50%);
				border: 1px solid #cdcdcd;
				font-family: $font-family-medium;
				font-size: 14px;
				line-height: 26px;
				text-align: center;
			}
			& > p{
				font-family: $font-family-demi;
				font-size: 14px;
			}
		}
	}
}
.create-registration-form-content{
	padding-top: 40px;
	padding-bottom: 50px;
	overflow-y: scroll;
	height: calc(100vh - 289px);
}
.registration-step-active{
	background-color: #59bbe7;
	color: #fff;
	border-style: none !important;
	font-family: $font-family-bold !important;
}