.avery-modal{
	width: 620px;
	height: 440px;
	@include flex;
	background-color: #fff !important;
	margin-top: 27vh;
	box-shadow: 0 2px 4px rgb(66,66,66), 0 -2px 4px rgb(66,66,66);
	& img{
		margin-top: 100px;
		margin-bottom: 35px;
	}
	& div{
		font-size: 20px;
		font-family: $font-family-medium;
		color: #4a4a4a;
	}
	& .avery-text{
		margin-bottom: 20px;
	}
	& .avery-text2{
		padding-bottom: 35px;
		border-bottom: 1px solid #cdcdcd;
		margin-bottom: 35px;
		width: 410px;
   		text-align: center;
	}
	& .goBtn{
		@include shape(150px, 30px, 20px);
		background-color: #68aa3b !important;
		color: #fff;
	}
}

.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 244px;
}

.create-label-modal{
	width: 620px;
	height: 440px;
	margin-top: 20vh;
	position: relative;
	@include flex;
	box-shadow: 0 2px 4px rgb(66,66,66), 0 -2px 4px rgb(66,66,66);
	& img{
		margin-top: 100px;
		margin-bottom: 35px;
	}
	& .avery-text{
		margin-bottom: 25px;
		color: #4a4a4a;
		font-family: $font-family-medium;
		font-size: 20px;
	}
	& input{
		@include shape(280px, 41px, 0);
		padding-left: 10px;
		margin-bottom: 35px;
		font-family: $font-family-medium;
		font-size: 14px;
	}
	& .nextBtn{
		@include shape(150px, 30px, 20px);
		border: 1px solid #cdcdcd;
		background-color: #fff !important;
		color: #4a4a4a !important;
		font-family: $font-family-demi;
		font-size: 12px;
	}
	& .select-arrows{
		position: relative;
		margin: 0;
		right: 30px;
    	top: 2px;
	}
}