.dash-cr{
	height: calc(100vh - 78px);
	background: linear-gradient(180deg,#DAF4FF 10%, #fff);
	display: flex;
	align-items: center;
  	flex-direction: column;
	overflow-y: auto;
	padding: 20px;
	box-sizing: border-box;
}
.dash-cr > p{
	margin-top: 40px;
	margin-bottom: 40px;
	color: #4a4a4a;
	font-size: 16px;
	font-family: $font-family-demi;
}
.dash > p{
	font-size: 16px;
	font-family: $font-family-bold; 
	color: #4a4a4a;
	margin-top: 29px;
	margin-bottom: 34px;
}
.sheet{
	width: 635px;
	margin-bottom: 12px;
	background-color: white;
	border: 1px solid #cdcdcd;
}
.sheet div, .sheet p{
	margin-left: 32px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sheet div label{
	color: #4a4a4a;
	font-size: 14px;
	font-family: $font-family-demi;
}
@for $i from 1 through 2{
	.sheet div:nth-child(#{$i}) label:after{
		content: "*";
		color: #f58a1c;
		font-size: 14px;
	}
}
@for $i from 4 through 4{
	.sheet div:nth-child(#{$i}) label:after{
		content: "*";
		color: #f58a1c;
		font-size: 14px;
	}
}
@for $i from 6 through 10{
	.sheet div:nth-child(#{$i}) label:after{
		content: "*";
		color: #f58a1c;
		font-size: 14px;
	}
}
.sheet div:first-child{
	margin-top: 39px;
}
.sheet div > input, .sheet div > select{
	margin-right: 50px;
	font-size: 14px;
	font-family: $font-family-medium;
	width: 306.77px;
	padding: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #cdcdcd;
	outline: none;
	&:focus{
		border: 1px solid #26a7de;
	}
}
.sheet div:nth-child(2) input{
	width: 120px;
	//height: 40px;
	//margin-right: -1.5px;
}
.sheet div:nth-child(2) div{
	display: inline-block;
	margin-left: 0;
}
.arrow1_date, .arrow2_date{
	@include arrow-base-shape;
}
.sheet div:nth-child(2) div > div{
	margin-top: 0;
	position: relative;
	right: 50.5px;
}
.sheet div:nth-child(2) div div:last-child{
	margin-right: 19px;
}
.sheet div:nth-child(2) div > span{
    padding: 0px 12px;
}
.arrow2_date{
	border-top: 6px solid #818181;
	top: 4px;
}
.arrow1_date{
	bottom: 5px;
	left: -35px;
	border-bottom: 6px solid #818181;
}
.sheet{
	& .predef{
		display: flex;
		align-items: baseline;
		margin-bottom: 25px;
		font-size: 14px;
		font-family: $font-family-medium;

		&:last-child{
			margin-bottom: 23px;
		}
		& div > a{
			width: 365px;
			color: #26a7de !important;
		}
	}
	& div > span{
		color: #4a4a4a;
		font-size: 14px;
		width: 365px;
		font-family: $font-family-medium;
	}
	& div:nth-child(7) input{
		//margin-right: 90px;
		& input{
			width: 65px;
		}
	}
	&  div:nth-child(6) div{
		width: 65px;
		margin-right: 292px;
	}
	& p{
		margin: 0 50px 0 32px ;
		font-size: 12px;
		font-family: $font-family-medium;
		color: #f58a1c; 
	    padding-bottom: 24px;
	    border-bottom: 1px solid #cdcdcd;
	}
	& div:nth-child(10){
		//margin-bottom: 12px;
	}
	& div:nth-child(8) input{
		position: relative;
		//left: 125px;
	}
	& .btn-cancel, .btn-save{
		float: right;
		box-shadow: none !important;
		width: 148px;
		height: 40px;
		border-radius: 50px;
		margin-top: 34px;
		font-size: 14px;
		margin-bottom: 36px;
	}
	& .btn-cancel{
		font-family: $font-family-medium;
		background-color: white !important;
		border: 1px solid #cdcdcd !important;
		margin-right: 10px;
		outline: none !important;
		text-transform: none;
		color : #4a4a4a !important;
	}
	& .btn-save{
		font-family: $font-family-bold;
		margin-right: 50px;
		background-color: #68aa3b !important;
		outline: none !important;
		& span{
			color: #fff;
		}
	}
}
.arrow1_state, .arrow2_state{
	@include arrow-base-shape;
}
.arrow1_state{
	border-bottom: 6px solid #818181;
	bottom: 10px;
	right: 22px;
}
.arrow2_state{
	border-top: 6px solid #818181;
	right: 124px;
	bottom: 1px;
}
.arrow1_country, .arrow2_country{
	@include arrow-base-shape;
}
.arrow1_country{
	border-bottom: 6px solid #818181;
	left: 0;
	bottom: 9px;
}
.arrow2_country{
	border-top: 6px solid #818181;
	right: 63px;
}

#conference_create_add_date_from, #conference_create_add_date_to {
	height: 22px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.button-attendee-functionality{
	@include shape(156px, 30px, 20px);
	border: 1px solid #cdcdcd;
	background-color: #fff;
	text-align: center;
	line-height: 30px;
	color: #4a4a4a;
	font-family: $font-family-medium;
	font-size: 14px;
}
.button-attendee-selected{
	border-style: none;
	background-color: #727272;
	color: #fff;
}