.dash{
	background: linear-gradient(180deg,#DAF4FF 20%, #fff);
	height: 740px;
	border-bottom: 2px solid #cdcdcd;
	@include flex;
	//width: 1366px;
	overflow: normal;
	border-bottom: 3px solid #cdcdcd;
}
.center-tab{
	width: calc(100vw - 7vw);
	@include flex;
	margin-top: 160px;
	border: 1px solid #cdcdcd;
	background: linear-gradient(180deg,#DAF4FF 5%, #fff);
}
.tab{
	@include flex;
}
.tab p:not(.join-intructions){
	margin-bottom: 42px;
	color: #4a4a4a;
	font-size: 20px;
	font-family: $font-family-medium;
}
.tab button:not(.join-conference-btn){
	width: 460px;
	height: 80px;
	background-color: #68aa3b;
	border-radius: 100px;
	outline: none !important;
	color : #fff;
	font-size: 28px;
	font-family: $font-family-bold;
	border-style: none;
}
.exhibitor-pass-key{
	margin-bottom: 50px;
	& > input{
		@include shape(30px, 40px, 0);
		margin-right: 19px;
		text-align: center;
	}
}
.join-conference-btn{
	@include shape(148px, 40px, 20px);
	font-size: 14px;
	font-family: $font-family-bold;
	background-color: #68aa3b;
	outline: none !important;
	color : #fff;
	border-style: none;
	margin-bottom: 80px;
}
.join-intructions{
	margin-bottom: 40px;
	margin-top: 66px;
	color: #4a4a4a;
	font-size: 20px;
	font-family: $font-family-medium;
}

