.input-icon {
	position: absolute;
    margin-left: 120px;
    margin-top: 12px;
    pointer-events: none;
}

.input-icon-conference-details {
    position: absolute;
    margin-left: calc(50% - 38px);
    margin-top: 10px;
    pointer-events: none;
}

.input-icon-add-session {
	position: absolute;
    margin-left: calc(60% - 15px);
    margin-top: 12px;
    pointer-events: none;
    font-size: 20px;
}

.input-icon-exhibitor-detail {
	position: absolute;
    margin-left: 170px;
    margin-top: 1px;
    pointer-events: none;
    font-size: 20px;
}

.input-icon-exhibitor-detail2 {
	position: absolute;
    margin-left: 414px;
    margin-top: 1px;
    pointer-events: none;
    font-size: 20px;
}

.input-icon-level-pricing {
	position: relative;
    margin-left: -30px;
    pointer-events: none;
    font-size: 20px;
    margin-right: 10px;

}

.input-icon-promo-pricing {
	position: relative;
    margin-left: -30px;
    pointer-events: none;
    font-size: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.input-icon-push-notifications {
	position: relative;
    margin-left: -46px;
    margin-top: 12px;
    pointer-events: none;
    font-size: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.header-view th {
    background:#727272;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    color: white;
}

.header-view th:hover {
    background:#727272;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    color: white;
}


.moment-picker .moment-picker-container {
    padding: 0;
    border: 3px solid #727272;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.moment-picker .moment-picker-container:after {
    color: #727272;
    display:none;

}

.moment-picker .moment-picker-container:before {
    border-bottom-color: #727272;
    display:none;
}

.moment-picker th.disabled {
    background-color: #727272;
}

.moment-picker th.disabled:hover {
    background-color: #727272;
}

.moment-picker td.selected {
    background-color: #727272;
    border-color: #727272;
    background-image: linear-gradient(#727272, #727272);
}

.moment-picker th {
    //font-size: 16px;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.9);
}