.company-profile-popup{
	@include modal;
	width: 33vw;
	margin-bottom: 50px;
	& p{
		margin : 0;
		color: #4a4a4a;
	}
	& div{
		color: #4a4a4a;
	}
	& > p{
		font-size: 20px;
		margin-top: 33px;
		margin-left: 34px;
	}
	& > div:nth-child(2){
		padding: 30px 50.2px 25px 34px;
		border-bottom: 1px solid #cdcdcd;
		& > div{
			align-items: center;
			margin-bottom: 10px;
			& > p{
				width: calc(12vw - 4px);
				font-size: 14px;
			}
			& > input, select{
				@include shape(calc(29vw - 43%), 40px, 0);
				font-size: 14px;
				padding-left: 10px;
			}
			& > textarea{
				@include shape(calc(29vw - 43%), 90px, 0);
				font-size: 14px;
				padding: 12px;
			}
			&:nth-child(11){
				& > p{
					margin-top: 15px;
					align-self: flex-start;
					width: calc(12vw + 36px);
				}
			}
			&:nth-child(7){
				& > p{
					//width: calc(12vw - 4px);
				}
				& > input{
					//width: calc((33vw - 43%)/3.4)
				}
			}
			&:nth-child(6){
				& > p{
					//width: calc(12vw - 4px);
				}
				& > input{
					//width: calc((33vw - 43%)/5.1)
				}
			}
			&:nth-child(12){
				margin-bottom: 0;
				& > p{
					width: 51%;
				}
			}
		}
		& > p{
			font-size: 12px;
			margin-top: 9px;
			color: #f58a1c;
		}
	}
	& > div:last-child{
		padding-top: 34px;
		padding-left: 34px;
		padding-right: 34px;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		& > div{
			@include shape(148px, 40px, 20px);
			text-align: center;
			line-height: 40px;
			border: 1px solid #cdcdcd;
			&:last-child{
				color: #fff;
				border-style: none;
				background-color: #68aa3b;
			}
		}
	}
}

.exhibitor-dash-cr{
	height: 92vh;
	& .company-profile-popup{
		@include modal;
		height: calc(100vh - 64px);

		margin-top: 33px;
		margin-bottom: 100px;
		//width: 33vw;
		& p{
			margin : 0;
			color: #4a4a4a;
		}
		& div{
			color: #4a4a4a;
		}
		& > p:first-child{
			font-size: 20px;
			margin-top: 33px;
			margin-left: 34px;
		}
		& > p:nth-child(2){
			font-size: 14px;
			margin-bottom: 10px;
			margin-top: 8px;
			margin-left: 34px;
		}
		& > div:nth-child(3){
			margin: 30px 34px 0 34px;
			padding-bottom: 25px;
			border-bottom: 1px solid #cdcdcd;
			& > div{
				align-items: center;
				margin-bottom: 10px;
				& > p{
					font-size: 14px;
					width: 250px;
				}
				& > input{
					@include shape(350px, 36px, 0);
					font-size: 14px;
					padding-left: 10px;
				}
				& > textarea{
					height: 80px;
					width: 336px;
					font-size: 14px;
					padding: 12px;
				}
				& > select{
					@include shape(350px, 36px, 0);
					font-size: 14px;
					padding-left: 10px;
				}
				&:nth-child(11){
					& > p{
						margin-top: 5px;
						align-self: flex-start;
						//width: 57%;
					}
				}
				&:nth-child(7){
					& > p{
						//width: 42%;
					}
					& > input{
						//width: calc((33vw - 43%)/3.4)
					}
				}
				&:nth-child(6){
					& > p{
						//width: 42%;
					}
					& > input{
						//width: calc((33vw - 43%)/5.1)
					}
				}
				&:nth-child(12){
					margin-bottom: 0;
					margin-top: 15px;
					& > p{
						//width: 51%;
					}
				}
				&:nth-child(9){
					margin-bottom: 0;
				}
			}
			& > p{
				font-size: 12px;
				margin-top: 9px;
				color: #f58a1c;
			}
		}
		& > div:last-child{
			padding-top: 34px;
			padding-left: 34px;
			//padding-right: 52px;
			align-items: center;
			font-size: 14px;
			& > div{
				@include shape(148px, 40px, 20px);
				text-align: center;
				line-height: 40px;
				border: 1px solid #cdcdcd;
				margin-left: auto;
				&:last-child{
					color: #fff;
					border-style: none;
					background-color: #68aa3b;
					margin-left: 10px;
				}
			}
		}
	}
}
