.exhibitor-conference-profile-edit{
    @include modal;
    padding-top: 35px;
    & p{
        margin: 0;
        color: #4a4a4a;
    }
    & > p{
        margin-left: 34px;
        margin-bottom: 34px;
        font-size: 20px;
        font-family: $font-family-demi;
    }
    & > div:nth-child(2){
        padding: 0 50px 40px 34px;
        & > div{
            align-items: center;
            margin-bottom: 10px;
            min-height: 40px;
            & > p:first-child{ 
                font-family: $font-family-demi;
                font-size: 14px;
                margin-right: auto;
            }
            & > p:not(:first-child){ 
                font-family: $font-family-medium;
                font-size: 14px;
                min-width: 285.88px;
            }
            & > input{
                @include shape(297.88px, 40px, 0);
                border: 1px solid #cdcdcd;
                padding-left: 10px;
            }
        }
    }
    & > div:last-child{
        align-items: center;
        justify-content: space-around;
        padding: 34px 50px 40px 34px;
        border-top: 1px solid #cdcdcd;
        & > div:first-child{
            @include shape(148px, 40px, 20px);
            border: 1px solid #cdcdcd;
            font-size: 14px;
            font-family: $font-family-medium;
            text-align: center;
            line-height: 40px;
            margin-right: auto;
            color: #4a4a4a;
        }
        & > div:nth-child(2){
            @include shape(148px, 40px, 20px);
            font-size: 14px;
            font-family: $font-family-bold;
            color: #fff;
            text-align: center;
            background-color: #68aa3b;
            line-height: 40px;
        }
    }
}