.exhibitors-details{
	//padding-left: 20px;
	color: #4a4a4a;
	& > p{
		font-family: $font-family-medium;
		font-size: 20px;
		&:nth-child(2){
			font-size: 14px;
		}
	}
	& .conference-sessions-tabs{
		border-top: 1px solid #cecece;
		border-left: 1px solid #cecece;
		& .conference-sessions-tab:last-child{
			border-right: 1px solid #cecece;
		}
		& .checked-current-exhibiting-day{
			display: flex;
		    position: absolute;
		    width: inherit;
		    & div{
		    	width: 15%;
		    }
		}
	}
	& .exhibiting-hours{
		margin-left: 20px;
		margin-top: 30px;
		& > p{
			font-size: 14px;
			font-family: $font-family-demi;
		}
		& .exhibiting-manage{
			@include flex;
			flex-direction: row;
			padding-bottom: 20px;
			outline: none;
		}
		& .exhibiting-div{
			padding-bottom: 0;
		}
		& .move-hours{
			@include flex;
			flex-direction: row;
			margin-bottom: 20px;
		}
	}
	& md-content{
		width: calc(100vw - 250px);
		border-top: 1px solid #cecece;
		& .exhibiting-btn{
			margin-top: 14px;
			@include shape(150px, 40px, 20px);
			font-size: 14px;
		}
		& .save-details{
			float: right;
			font-family: $font-family-demi;
			color: #fff;
			background-color: #68aa3b !important;
		}
		& .cancel-details{
			text-transform: none;
			font-family: $font-family-medium;
			color: #4a4a4a !important;
			background-color: #fff !important;
			border: 1px solid #cecece;
		}
	}
}

.plus-minus-btn {
	cursor:pointer;
}

.plus-minus-btn:hover {
	opacity: 0.5;
}

.exhibiting-hour-input {
	padding: 8px;
    width: 180px;
    font-size: 14px;
    height: 24px;
}

.exhibiting-hour-title {
	padding: 8px;
    width: 180px;
    font-size: 14px;
    margin-left: 20px;
    height: 24px;
}

.exhibiting-hour-room {
	padding-left: 10px;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    height: 24px;
    margin-left: 10px;
    height: 24px;
}

.exhibitor-details-separator {
	margin: 0 15px;
}