.exhibitor-toolkit-company-profile{
	& p{
		margin: 0;
	}
	& > div{
		&:first-child{
			border-bottom: 1px solid #cdcdcd;
			padding: 25px 80px 20px 42px;
			align-items: center;
			& > div:first-child{
				@include shape(90px, 98px, 50%);
				margin-right: 16px;
			}
			& > div{
				&:nth-child(2){
					& > p{
						font-size: 14px;
						&:first-child{
							font-size: 20px;
							margin-bottom: 14px;
						}
					}
				}
				&:last-child{
					@include shape(115px, 40px, 20px);
					border: 1px solid #9b9b9b;
					text-align: center;
					line-height: 40px;
					font-size: 14px;
					margin-left: auto;
				}
			}
		}
		&:nth-child(2){
			padding-top: 20px;
			padding-left: 42px;
			padding-right: 159px;
			& p{
				font-size: 14px;
			}
			& > div{
				width: 50%;
				&:first-child{
					& > div{
						margin-bottom: 26px;
						& > p:first-child{
							min-width: 120px;
						}
						&:last-child{
							margin-bottom: 43px;
						}
					}
				}
				&:last-child{
					margin-left: auto;
					& > p:last-child{
						margin-top: 8px;
						line-height: 20px;
					}
				}
			}
		}
		&:nth-child(3){
			padding-top: 25px;
			padding-left: 42px;
			border-top: 1px solid #cdcdcd;
			& > p{
				&:first-child{
					font-family: $font-family-demi;
					font-size: 20px;
					margin-bottom: 21px;
				}
				&:nth-child(2){
					font-family: $font-family-medium;
					font-size: 14px;
					margin-bottom: 25px;
				}
				&:nth-child(4){
					font-family: $font-family-demi;
					font-size: 14px;
				}
			}
			& > div{
				&:nth-child(3){
					background-color: #edf0f2;
  					border: 2px dashed #979797;
  					@include shape(505px, 120px, 0);
  					margin-bottom: 44px;
  					display: flex;
  					flex-direction: column;
  					align-items: center;
  					& > p{
  						font-family: $font-family-demi;
						font-size: 14px;
  						margin-top: 21px;
  						margin-bottom: 24px;

  					}
  					& > div{
  						border: 1px solid #cdcdcd;
  						text-align: center;
  						line-height: 30px;
  						background-color: #fff;
  						@include shape(150px, 30px, 20px);
  						margin-bottom: 31px;
  						font-family: $font-family-demi;
						font-size: 12px;
  					}
				}
				&:nth-child(5){
					margin-top: 19px;
					& > div{
						align-items: center;
						border-bottom: 1px solid #cdcdcd;
						min-height: 69px;
						&:last-child{
							border-bottom-style: none;
							margin-bottom: 26px;
						}
						& > img:first-child{
							@include shape(26px, 30px, 0);
							margin-right: 8px;
						}
						& > img:last-child{
							margin-right: 47.4px;
						}
						& > p{
							&:nth-child(2){
								font-family: $font-family-medium;
								font-weight: bold;
								font-size: 14px;
							}
							&:nth-child(3){
								font-size: 14px;
								margin-right: auto;
								margin-left: auto;
								font-family: $font-family-medium
							}
						}
					}
				}
			}
		}
		&:nth-child(4){
			border-top: 1px solid #cdcdcd;
			padding-top: 41px;
			& > div{
				&:first-child{
					& > div{
						&:first-child{
							& > p{
								margin-left: 42px;
								&:first-child{
									font-family: $font-family-demi;
									font-size: 20px;
								}
								&:nth-child(2){
									font-family: $font-family-medium;
									font-size: 14px;
									padding-bottom: 25px;
									padding-top: 22px;
									margin-right: 47.4px; 
								}
							}
						}
						&:nth-child(2){
							margin-right: 79px;
							align-self: center;
						}
					}
				}
				&:nth-child(2){
					& > div{
						min-height: 70px;
						align-items: center;
						padding-left: 16px;
						border-top: 1px solid #cdcdcd;
						background-color: #fafafa;
						& > div{
							width: 25vw;
							align-items: center;
						}
						& p{
							font-size: 14px;
							font-family: $font-family-medium;
						}
						&:first-child{
							height: 69px !important;
							background-color: #edf0f2;
						}
						&:not(:first-child){
							& > div{
								& > p{
									font-family: $font-family-demi;
								}
							}
						}
						& .contact-profile-photo{
							@include shape(36px, 36px, 50%);
							margin-right: 10px;
							margin-left: 10px;
							& .default-avatar, & .user-img-small{
			                    margin-left: 0 !important;
			                    margin-top: 0 !important;
			                }
						}
					}
				}
			}
		}
	}
}
.opacity-on{
	opacity: 0.5;
	pointer-events: none;
}
.selected-contact{
	background-color: #fffde6 !important;
}

.five-free-scans-header {
	background-color: #F68426;
    height: 80px;
    border-bottom: 1px solid #CDCDCD;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.five-free-scans-warning {
	display: inline-block;
	font-size: 24px;
}

.five-free-scans-icon {
	display: inline-block;
    margin-top: 26px;
    height: 55px;
    vertical-align: middle;
}

.five-free-scans-text {
	display: inline-block;
    margin-top: 22px;
}

.active-text {
	cursor: pointer;
}