.exhibitors-support-contacts{
	//padding-left: 40px;
    padding-top: 25px;
    //padding-right: 40px;
    & p{
    	margin: 0;
    }
    & .support-contacts-top{
		& > div{
			   display: flex;
    		   justify-content: space-between;
               align-items: center;
               margin-bottom: 30px;
			& .support-contacts-add{
				@include shape(167px, 20px, 20px);
				border: 1px solid #cdcdcd;
				text-align: center;
				padding-top: 10px;
				color: #4a4a4a;
				font-family: $font-family-demi;
				font-size: 12px;
				text-transform: uppercase;
				cursor: pointer;
				& img{
					float: left;
					position: relative;
				    left: 6px;
				    bottom: 3px;
				}
			}
			& .support-contacts-title{
				font-size: 20px;
				font-family: $font-family-medium;
			}
		}
		& > p{
			margin-top: 20px;
			margin-bottom: 30px;
			font-size: 14px;
			font-family: $font-family-medium;
		}
    }
    & .support-contacts-grid{
    	& .support-contacts-grid-header{
    		background-color: #edf0f2;
    		height: 70px;
    		padding-left: 20px;
    		@include flex;
    		flex-direction: row;
    		border-top: 1px solid #cdcdcd;
            border-bottom: 1px solid #cdcdcd;
    		& div{
    			color: #4a4a4a;
    			font-family: $font-family-medium;
    			font-size: 14px;
    			width: 20%;
    		}
    	}
    	& .support-contacts-grid-rows{
    		overflow-y: auto;
            height: calc(100vh - 286px);
            & .default-icon-circle:hover{
                background-color: #fffde6 !important;
            }
    		& .support-contacts-grid-row{
    			padding-left: 20px;
    			height: 70px;
    			border-top: 1px solid #cdcdcd;
    			display: flex;
    			align-items: baseline;
    			flex-direction: row;
    			cursor: pointer;
    			&:hover{
    				background-color: #edf0f2; 
    			}
                & div:first-child img{
                    @include shape(36px, 36px, 50px);
                }
    			& div:not(:last-child){
    				width: 20%;
    			}
    			& div:last-child{
    				position: absolute;
    				right: 50px;
    				cursor: pointer;
    			}
    			& img{
    				@include shape(36px, 36px, 50px);
    				position: relative;
    				top: 14px;
    				margin-right: 10px;
    			}
    		}
    	}
    }
}
.btnTrash{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-color: #fffde6;
    &:hover{
        background-color: #fffde6 !important;
    }
}

.exhibitor-add-contact-btn {
    width: 167px;
    height: 30px;
    border-radius: 20px!important;
    font-size: 12px;
    font-family: "AvenirNextLTPro-Demi";
    border: 1px solid #cdcdcd;
    line-height: 35px;
    align-items: baseline;
    justify-content: center;
}