.exhibitor-profile{
	@include shape(620px, 85vh, 0);
	@include modal;
	overflow-y: hidden;
	margin-top: 8vh;
	color: #4a4a4a;
	background-color: #fafafa;
	& p{
		margin: 0 !important;
		word-break: break-all;
	}
	& .exhibitor-main-profile{
		@include flex;	
		flex-direction: row;
		padding-bottom: 20px;
		background-color: #fff;
		& div:first-child{
			margin-left: 50px;
			margin-right: 28px;
			margin-top: 35px;

		}
		& div:last-child{
			margin-top: 33px;
			font-size: 14px;
			font-family: $font-family-medium;
			& p{
				font-size: 20px;
				margin-bottom: 14px;
				font-family: $font-family-demi;
			}
		}
		& .exhibitor-profile-modal-edit-button{
			@include shape(90px, 40px, 20px);
			min-width: 90px;
			margin-left: auto;
			border: 1px solid #cdcdcd;
			font-size: 14px;
			text-align: center;
			line-height: 38px;
			margin-right: 50px;
		}
	}
	& .exhibitor-profile-tabs{
		background-color: #EFEEEE;
		height: 60px;
		padding-left: 30px;
		padding-right: 80px;
		border-top: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		& > div{
			@include shape(170px, 59px, 0);
			text-align: center;
			line-height: 60px;
			border-left: 1px solid #cdcdcd;
			font-family: $font-family-medium;
			cursor: pointer;
			&:last-child{
				border-right: 1px solid #cdcdcd;
			}
			& > p {
				color: #4a4a4a;
				font-size: 14px;
			}
		}
		& .exhibitor-profile-tab-active{
			background-color: #fafafa;
			line-height: 61px;
			font-family: $font-family-medium;
			font-weight: 600;
			cursor: default;
		}
	}
	& .exhibitor-regular-profile{
		margin-top: 21px;
		@include flex;
		flex-direction: row;
		color: #4a4a4a;
		font-size: 14px;
		& .exhibitor-labels {
			@include flex;
			align-items: flex-start;
			margin-left: 40px;
			margin-right: 14px;
			font-family: $font-family-demi;
			& div{
				margin-bottom: 20px;
				&:first-child{
					margin-bottom: 16px;
				}
			}
		}
		& .exhibitor-info{
			@include flex;
			align-items: flex-start;
			font-family: $font-family-medium;
			& div:first-child img{
				@include shape(36px, 36px, 50px);
				position: absolute;
				top: 145px;
			}
			& div:not(:first-child){
				margin-bottom: 20px;
			}
			& div:nth-child(2){
				margin-left: 46px;
			    margin-bottom: 16px;
			}
		}
	}
	& .exhibitor-regular-profile-users{
		margin-top: 25px;
		margin-left: 34px;
		margin-right: 9px;
		& > div{
			&:first-child{
				margin-bottom: 19px;
				align-items: center;
				justify-content: space-between;
				margin-right: 20px;
				& > form > input{
					@include shape(213px, 40px, 0);
					padding-left: 14px;
					font-family: $font-family-medium;
					font-weight: 600;
					color: #9b9b9b;
					font-size: 14px;
				}
				& > div{
					&.exhibitor-user-valid-email{
						opacity: 1 !important;
					}
					&:nth-child(2){
						@include shape(182px, 30px, 20px);
						line-height: 32px;
						text-align: center;
						font-family: $font-family-demi;
						font-size: 12px;
						color: #4a4a4a;
						border: 1px solid #cdcdcd;
						opacity: 0.5;
						& > div{
							right: 0;
						}
						&.exhibitor-user-edit-permissions-button-active{
							background-color: #727272;
							color: #fff;
							opacity: 1;
							& > i{
								color: #fff !important;
							}
						}
					}
					&:nth-child(3){
						@include shape(111px, 30px, 20px);
						line-height: 32px;
						text-align: center;
						font-family: $font-family-bold;
						font-size: 12px;
						color: #fff;
						background-color: #26a7de;
						opacity: 0.5;
					}
				}
			}
			&:nth-child(2){
				height: 56vh;
				overflow-y: auto;
				& .exhibitor-user-profile-tab{
					min-height: 79px;
					border-top: 1px solid #cdcdcd;
					display: flex;
					align-items: center;
					margin-right: 20px;
					& > div{
						font-size: 14px;
						color: #4a4a4a;
						height: 15px;
						&.exhibitor-user-email{
							margin-left: 50px;
							padding-right: 22px;
						}
						&.exhibitor-user-edit-permissions-button{
							border: 1px solid #cdcdcd;
							@include shape(95px, 30px, 20px);
							text-align: center;
							line-height: 32px;
							margin-right: 12px;
							font-size: 12px;
							margin-left: auto;
							&.exhibitor-user-edit-permissions-button-active{
								background-color: #727272;
								color: #fff;
								& > i{
									color: #fff !important;
								}
							}
						}
					}
				}
			}
		}
	}
	& .exhibitor-regular-profile-qualifiers{
		color: #4a4a4a;
		padding: 25px 29px 25px 34px;
		height: 77%;
		overflow-y: auto;
		& .exhibitor-qualifiers-buttons{
			align-items: center;
			justify-content: space-between;
		}
		& .add-exhibitor-qualifier-model-button{
			@include shape(150px, 30px, 20px);
			border: 1px solid #9b9b9b;
			font-size: 12px;
			font-family: $font-family-demi;
			line-height: 32px;
			text-align: center;
		}
		& .save-exhibitor-qualifiers-modification-button{
			@include shape(150px, 30px, 20px);
			border: 1px solid #9b9b9b;
			font-size: 12px;
			font-family: $font-family-demi;
			line-height: 32px;
			text-align: center;
		}
		& .exhibitor-qualifier-tab{
			padding-bottom: 20px;
			margin-bottom: 21px;
			border-bottom: 1px solid #cdcdcd;
			& .exhibitor-qualifier-details{
				align-items: center;
				& p{
					font-size: 14px;
					min-width: 19%;
				}
				& input{
					@include shape(70%, 40px, 0);
					border: 1px solid #cdcdcd;
					font-size: 14px;
					padding-left: 15px;
				}
			}
			& .exhibitor-qualifier-options{
				& > div{
					align-items: center;
					& input, & select{
						@include shape(70%, 40px, 0);
						margin-left: 19%;
						margin-top: 11px;
						background-color: #fff;
						border: 1px solid #cdcdcd;
						font-size: 14px;
						padding-left: 15px;
						margin-right: 10px;
					}
					& .fa{
						font-size: 24px;
						color: #9b9b9b;
						position: relative;
						top: 3px;
						cursor: pointer;
					}
					& .fa-minus-circle{
						margin-right: auto;
					}
				}
			}
		}
	}
}
.exhibitor-user-edit-permissions-panel{
	@include shape(183px, 217px, 5px);
	background-color: #fff;
	border: 1px solid #cdcdcd;
	font-size: 12px;
	font-family: $font-family-demi;
	color: #4a4a4a;
	position: relative;
	z-index: 99999;
	right: 90px;
	padding: 0 19px 0 17px;
	justify-content: space-around;
	& > div{
		align-items: center;
		& > div:not(:last-child){
			margin-right: 10px;
		}
	}
}