.exhibitors-page {
    height: calc(100vh - 75px);
    overflow: hidden;
}

.exhibitors-option-bar{
	display: flex;
	& p{
		margin: 0;
	}
	& > div{
		height: inherit;
		&:first-child{
			border-right: 1px solid #cdcdcd;
			& input{
				@include shape(337px, 33px, 0);
				padding-left: 10px;
				margin: 12px;
				font-size: 16px;
				font-family: $font-family-medium;
				margin-right: 24px;
			}
		}
		&:last-child{
			& .md-button{
				margin: 20px;
				color: #4a4a4a;
				border: 1px solid #979797;
				font-size: 12px;
				font-family: $font-family-demi;
				@include shape(167px, 30px, 20px);
                align-items: baseline;
                justify-content: space-around;
                & > img{
                    top: 4px;
                    position: relative;
                }
			}
		}
	}
}
.exhibitors-grid{
	border-top: 1px solid #CECECE;
    height: calc(100vh - 65px - 75px);
    overflow: hidden;
	& .exhibitors-grid-header{
		height: 64px;
		color: #4a4a4a;
		background-color: #edf0f2;
		font-family: $font-family-medium;
		font-size: 14px;
		border-bottom: 1px solid #cecece;
		padding-left: 15px;
        padding-right: 15px;

        box-sizing: border-box;
		& .checkbox-ico {
			margin-right: 0;
            margin-top: 22px;
		}
        & .exhibitor-grid-item-wrapper {
            width: calc(100% - 19px);
            margin-left: 19px;
            font-size: 0;
        }
            & .exhibitor-grid-item {
                display: inline-block;
                vertical-align: middle;
                height: 63px;

                overflow: hidden;
            }
                & .text {
                    height: 63px;
                    line-height: 66px; //not 63 because fucked up font
                    font-size: 14px;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    
                    display: inline-block;
                    vertical-align: middle;

                    max-width: calc(100% - 46px);
                }
            & .exhibitor-grid-item.company {
                width: 20.5%;
                padding-left: 10px;
                box-sizing: border-box;
            }
            
            & .exhibitor-grid-item.admin {
                width: 23%;
            }
                & .avatar-wrapper {
                    display: inline-block;
                    vertical-align: middle;
                    width: 36px;
                    height: 36px;
                    background-color: #d8d8d8;
                    border-radius: 100%;
                    text-align: center;
                    position: relative;
                    margin-right: 10px;
                }
                    & .admin-text-icon {
                        font-size: 14px;
                        height: 36px;
                        line-height: 39px;
        				font-family: "AvenirNextLTPro-Demi";
                        color: #4a4a4a;
                    }
            & .exhibitor-grid-item.email {
                width: 20.7%;
            }

            & .exhibitor-grid-item.booth {
                width: 12.7%;
                text-align: center;
            }

            & .exhibitor-grid-item.users {
                width: 8.8%;
                text-align: center;
            }

            & .exhibitor-grid-item.attendees {
                width: 14.2%;
                text-align: center;
            }
	}
	& .window-grid-exhibitors{
		height: calc(100vh - 205px); //205 px = height of header + height of options bar + height of table head
    	overflow-y: scroll;
		& .exhibitors-grid-row{
			height: 64px;
			display: flex;
			align-items: center;
			outline: none;
			border-bottom: 1px solid #cecece;
			padding-left: 15px;
			& .checkbox-ico{
				margin-right: 0;
			}
			& div{
				color: #4a4a4a;
				font-family: $font-family-medium;
				font-size: 14px;
				&:nth-child(3){
					width: 36px;
					margin-right: 10px;
					& img{
						@include shape(36px, 36px, 50px);
					}
				}
				&:last-child{
					width: 10%;
					text-align: center;
				}
			}
			&.active{
				background-color: #fffde6;
				&:hover{
					background-color: #fffde6;
				}
			}
			&:hover{
				background-color: #8bd0ef;
			}
		}
	}
}

.exhibitor-image {
	width: 93px;
	height: 93px;

}

.revoke-btn{
	background-color: #fff !important;
	font-size: 12px;
	color: #4a4a4a;
	font-family: $font-family-demi;
}

.exhibitor-button-yellow {
    background-color: #fffde6 !important;
}

.payments-head {
	font-size: 20px;
	font-family: $font-family-medium;
	color: #4a4a4a;
	padding: 20px 0;
}

.payments-subtitle {
	font-size: 14px;
	font-family: $font-family-medium;
	color: #4a4a4a;
	padding-bottom: 20px;
}

.payment-type {
    padding: 30px;
    width: 50%;
    min-width: 610px;
    border: 1px solid #444444;
    cursor: pointer;
    outline: none;
}

.next-btn-holder {
    padding: 30px;
    width: 50%;
    min-width: 610px;
    border: 1px solid #444444;
    outline: none;
}

.lead-retrieval-holder {
    padding: 30px;
    width: 50%;
    background-color: #edf0f2;
    //border: 1px solid #444444;
    cursor: pointer;
    outline: none;
}

.lead-retrieval-title {
    font-family: $font-family-demi;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    color: #4a4a4a;
}

.lead-retrieval-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #727272;
    float: right;
    margin-top: -8px;
    color: white;
    text-align:center;
    line-height:40px;
    font-size: 14px;
}

.lead-retrieval-inactive-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    float: right;
    margin-top: -8px;
    text-align:center;
    line-height:40px;
    font-size: 14px;
    border: solid 1px #cdcdcd;
}

.next-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin-top: -8px;
    text-align:center;
    line-height:40px;
    cursor: pointer;
    background-color: #68aa3b; 
    border: solid 1px #68aa3b; 
    color: #ffffff; 
    font-size: 14px; 
    font-weight: bold;
}

.lead-retrieval-payment-spinner {
    color: #9b9b9b;
    font-size: 47px;
    margin-top: -235px;
    margin-left: 300px;
    position: absolute;
}

.exhibitor-user-payment-markup-input {
    padding: 10px;
    width: 40px;
    margin-top: -11px;
    margin-left: 20px;
}

.payment-type-holder {
    margin-bottom: 10px;
    outline: none;
}

.payment-type-title {
    font-family: $font-family-demi;
    color: #4a4a4a;
    font-size: 18px;
    padding-bottom: 10px;
}

.payment-type-subtitle {
    font-family: $font-family-medium;
    color: #4a4a4a;
    font-size: 14px;
}

.payment-type:hover {
    background-color: #fafafa;
}

.payment-type.active {
    border: 3px groove #26a7de;
    background-color: #fafafa;
    //margin:-2px;
}

.payment-type-subtitle-bold {
    font-family: $font-family-demi;
    color: #4a4a4a;
    font-size: 14px;
    padding-bottom: 20px;
}

.payment-markup-input {
    padding: 10px;
    width: 60px;
    margin-top: -11px;
    margin-left: 20px;
}

.payment-continue-button {
    margin-top: -11px;
    margin-left: 25px;
    padding: 9px 47px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #555555;
    background-color: white;
    cursor:pointer;
}

.payment-continue-button:hover {
    background-color: #cecece;
}

.payments-promo-codes {
    padding: 30px;
    width: 50%;
    background-color: #edf0f2;
    outline: none;
}

.payment-promo-title {
    font-family: $font-family-demi;
    color: #4a4a4a;
    font-size: 14px;
    padding-bottom: 10px;
}

.payment-promo-subtitle {
    font-family: $font-family-medium;
    color: #4a4a4a;
    font-size: 14px;
}

.payment-form-buttons {
    background: inherit;
    border-top: 1px solid #cdcdcd;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 20px;
	width: 618px;
}

.payment-method-code-btn-holder {
	clear:both; border-top: 1px solid #c3c3c3; margin-top:15px; padding-top:15px;
}

.payment-promo-subtitle-link {
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-family: $font-family-medium;
    color: #26A7DE;
}

.payment-action-txt {
	color: #27a7de;
	cursor: pointer;
}

.payment-action-txt:hover {
	color: #0084ce;
}

.table-custom-no-items {
    color: #4a4a4a;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    padding: 20px;
}
.width-field{
	width: 400px;
}

#promo-code-input:valid { text-transform: uppercase; }

.exhibitor-users-permissions-pane {
    width: 205px;
    height: 204px;
    background-color: #fafafa;
    position: absolute;
    margin-left: 372px;
    margin-top: 53px;
    box-shadow: 0px 0px 10px -2px black;
    border-radius: 4px;
}

.lead-retrieval-upgrade-holder {
    padding-left: 35px; 
    margin-top:20px; 
    padding-bottom: 20px; 
    font-family: $font-family-demi; 
    color: #4a4a4a; 
    font-size: 14px;    
}

.payment_type_inactive {
    opacity: .6;
    pointer-events: none;
}

.payment_form_hashed {
    opacity: .8;
}

.form_inactive {
    opacity: .6;
    pointer-events: none;
}

.exhibitorCompanySearch {
    width: calc(100% - 106px);
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: 34px;
    padding: 10px;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;
    border: 1px solid #cdcdcd;
    float: left;
}

.exhibitor-dash-cr .company-profile-popup p.exhibitorCreateLink {
    clear: both;
    margin-left: 34px;
    color: #26a7de;
    font-size: 14px;
    font-size: 14px;
    font-weight: 500;

    padding-bottom:20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
    margin-right: 40px;
}

.companyHolder {
    margin: 30px;
    color: #4a4a4a;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #cdcdcd;
}

.exhibitors-grid .exhibitors-grid-header.cursor {
    background-color: white;

    transition: background-color .3s ease;
}

.exhibitors-grid .exhibitors-grid-header.cursor:hover {
    background-color: #8bd0ef;
}

.exhibitors-grid .exhibitors-grid-header.cursor.active {
    background-color: #fffde6;

}
.exhibitors-grid .exhibitors-grid-header.cursor.active:hover {
    background-color: #fffde6;
}

.exhibitor-admin-text {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 46px);
}