.five-free-scans-bg {
	background-image: url('/assets/images/five-free-scans/blue_screen_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   	background-size: 620px auto;
   	text-align: center;
   	@include modal;
   	align-items: center;
   	-ms-flex-align: center;
}

.five-free-scans-bg-green {
	background-image: url('/assets/images/five-free-scans/green_screen_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   	background-size: 628px auto;
   	text-align: left;
   	@include modal;
   	align-items: flex-start;
   	-ms-flex-align: flex-start;
}

.five-free-scans-bg-white {
	background-image: url('/assets/images/five-free-scans/white_screen_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
   	background-size: 628px auto;
   	@include modal;
   	text-align: center;
   	align-items: center;
   	-ms-flex-align: center;
}


.five-free-scans-holder {
	width: 620px;
    height: 540px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff !important;
    margin-top: calc(50vh - 270px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 -2px 4px rgba(0, 0, 0, 0.26) !important;
    cursor: pointer;
}

.five-free-scans-payment-terms-holder {
	width: 620px;
    height: 160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff !important;
    margin-top: calc(50vh - 270px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 -2px 4px rgba(0, 0, 0, 0.26) !important;
}

.five-free-scans-exhibitor-promo-holder {
	width: 620px;
    height: 340px;
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff !important;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 -2px 4px rgba(0, 0, 0, 0.26) !important;
    text-align: center;
    @include modal;
    margin-top: calc(50vh - 170px);
    padding: 10px;
}

.five-free-scans-exhibitor-promo-lead-retrieval {
    height: 240px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff !important;
    padding: 30px;

    border: 1px solid #cdcdcd;
    cursor: default;
    width: 50%;
    min-width: 610px;
    margin-bottom: 20px;
}

.exhibitor-promo-title {
	font-size: 36px;
	color: #4A4A4A;
	margin-top: 40px;
	font-weight: 800;
	font-family: "AvenirNextLTPro-Regular";
}

.exhibitor-promo-subtitle {
	font-size: 18px;
	color: #4A4A4A;
	margin-top: 40px;
	font-family: "AvenirNextLTPro-Regular";
}

.exhibitor-promo-title-small {
	font-size: 18px;
	color: #4A4A4A;
	margin-top: 40px;
	font-weight: 800;
	font-family: "AvenirNextLTPro-Regular";
}

.exhibitor-promo-title-small-head {
	font-size: 18px;
	color: #4A4A4A;
	margin-top: 40px;
	font-weight: 800;
	font-family: "AvenirNextLTPro-Demi";
}

.exhibitor-promo-subtitle-small {
	font-size: 14px;
	color: #4A4A4A;
	margin-top: 40px;
	font-family: "AvenirNextLTPro-Regular";
}

.exhibitor-promo-badges{
	font-size: 18px;
	color: #4A4A4A;
	margin-top: 10px;
	font-family: "AvenirNextLTPro-Regular";
}

.exhibitor-promo-google-play {
	margin-top: 20px;
	background: url(/assets/images/five-free-scans/google_play.png) 200px 80px no-repeat;
    height: 63px;
    float:left;
}

.exhibitor-promo-ios-app-store {
	margin-top: 20px;
	background: url(/assets/images/five-free-scans/ios_app_store.png) 30px 50px no-repeat;
    background-repeat: no-repeat;
    height: 63px;
    -ms-flex-align: center;
}

.five-free-scans-title {
	font-size: 36px;
	color: white;
	margin-top: 50px;
	font-weight: 800;
}


.five-free-scans-payment-terms {
	font-size: 14px;
	color: black;
	margin-top: 80px;
	font-weight: 800;
	padding:20px
}

.five-free-scans-title-green {
	font-size: 80px;
	color: white;
	margin-top: 45px;
	margin-left: 45px;
	font-weight: 800;
}

.five-free-scans-title-white {
	margin-top: 42px;
	height: 45px;
	width: 536px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Bold";
	font-size: 48px;
	font-weight: 800;
	line-height: 45px;
}

.five-free-scans-subtitle {
	font-family: "AvenirNextLTPro-Regular";
	margin-top: 12px;
	color: white;
	font-weight: 600;
	font-size: 20px;
}

.five-free-scans-subtitle-green {
	margin-top: 20px;
	font-family: "AvenirNextLTPro-Regular";
	color: white;
	font-weight: 600;
	margin-left: 48px;
	font-size: 30px;
	padding-bottom:8px;
	border-bottom: 1px solid white;
	width: calc(620px - 96px);
}

.five-free-scans-subtitle-white {
	margin-top: 15px;
	height: 45px;
	width: 536px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 24px;
	font-weight: 600;
	line-height: 45px;
}

.five-free-scans-user {
	margin-top: 60px;
	background-repeat: no-repeat;
    background-position: center; 
   	background-size: 40px 40px;
   	height: 40px;
    width: 40px;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.five-free-scans-users-holder {
	margin-top: 28px;
}

.five-free-scans-inactive-user {
	background-image: url('/assets/images/five-free-scans/user_icon_disabled.png');
}

.five-free-scans-active-user {
	background-image: url('/assets/images/five-free-scans/user_icon_enabled.png');
}

.five-free-scans-active-user-bordered {
	margin-top: 0px;
	height: 160px;
    width: 160px;
    background-size: 160px 160px;
	background-image: url('/assets/images/five-free-scans/user_icon_bordered_enabled.png');
}

.five-free-scans-benefits {
	font-size: 14px;
	font-family: "AvenirNextLTPro-Regular";
	color: white;
	font-weight: 600;
	margin:8px;
}

.five-free-scans-benefits-green {
	font-size: 18px;
	font-family: "AvenirNextLTPro-Regular";
	color: white;
	font-weight: 600;
	margin:8px;
	margin-top: 4px;
}

.five-free-scans-benefits-white {
	margin:8px;
	width: 446px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 16px;
	font-weight: 600;
	//line-height: 28px;
}

.five-free-scans-benefits-holder {
	margin-top:14px;
}

.five-free-scans-benefits-holder-green {
	margin-left: 40px;
	margin-top:12px;
}

.five-free-scans-signup {
	margin-top: 42px;
	color: #4A4A4A;
	font-size: 14px;
	background-color: #FFFFFF;
	width: 244px;
	height: 45px;
	border-radius: 30px;
	line-height: 45px;
	cursor: pointer;
}

.five-free-scans-signup-green {
	margin-top: 20px;
	color: #4A4A4A;
	font-size: 14px;
	float: right;
	background-color: #FFFFFF;
	width: 244px;
	height: 45px;
	border-radius: 30px;
	line-height: 45px;
	cursor: pointer;
	text-align: center;
}

.five-free-scans-signup-white {
	color: white;
	font-size: 14px;
	width: 244px;
	height: 45px;
	background-color: #68AA3B;
	border-radius: 30px;
	line-height: 45px;
	cursor: pointer;
	font-family: "AvenirNextLTPro-Bold";
	font-weight: 800;
	margin-left: calc(310px - 122px);
    margin-top: calc(55px - 22px);
}

.input-error::-webkit-input-placeholder { /* Chrome */
  	color: red;
}
.input-error:-ms-input-placeholder { /* IE 10+ */
  	color: red;
}
.input-error::-moz-placeholder { /* Firefox 19+ */
  	color: red;
  	opacity: 1;
}
.input-error:-moz-placeholder { /* Firefox 4 - 18 */
  	color: red;
  	opacity: 1;
}


.five-free-scans-cancel {
	margin-left: -450px;
    margin-top: -26px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "AvenirNextLTPro-Regular";
    cursor: pointer;
}

.five-free-scans-cancel-green {
	margin-top: 37px;
    color: white;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 500;
    cursor: pointer;
    float: left;
    margin-left: 52px;
    height: 30px;
}

.five-free-scans-cancel-white {
	margin-top: -29px;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 500;
    cursor: pointer;
    float: left;
    margin-left: 52px;
    height: 30px;
    color: #4A4A4A;	
}

.five-free-scans-buttons-green {
	width: 580px;
	margin-top: 17px;
}

.five-free-scans-buttons-white {
	width: 620px;
    height: 110px;
    margin-top: 27px;
    background-color: rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 628px auto;
    text-align: center;
    align-items: center;
    border-top: 1px solid #9B9B9B;
}



.five-free-scans-qrcode {
	height: 80px;
	width: 63px;
	color: #68AA3B;
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 50px;
}

.five-free-scans-blue-line {
	margin-top: 18px;
	height: 2px;
	width: 50px;
	border: 2px solid #26A7DE;
}

.five-free-scans-payment {
	height: 677px;
	width: 620px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
	@include modal;
	margin-top:calc(50vh - 310px);
	margin-bottom: 10px;
}

.five-free-scans-spinner {
	color: #9b9b9b; 
	font-size: 47px; 
	margin-top: -320px; 
	margin-left:300px;
	position: absolute;
}

.five-free-scans-payment-title {
	height: 18px;
	width: 528px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 20px;
	font-weight: 600;
	line-height: 18px;
	margin-top: 37px;
	margin-left: 34px;
}

.five-free-scans-payment-subtitle {
	height: 48px;
	width: 534px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 34px;
}

.five-free-scans-payment-label {
	//height: 340px;
	width: 132px;
	color: #4A4A4A;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	float: left;
}

.five-free-scans-payment-number-holder {
	margin-top: 22px;
	margin-left: 34px;
	clear: both;
}

.payment-card-carrier-icon {
	height: 21px;
}

.payment-icon-holder {
 	width: 40px;
    height: 28px;
    padding-left: 2px;
    padding-top: 3px;
    border: 1px solid #cdcdcd;
    margin-right: 13px;
    border-radius: 3px;
    float: left;
 }

.payment-icons-holder {
	margin-left: 226px;
    float: left;
    margin-top: 5px;
}

.five-free-scans-payment-input {
	height: 40px;
	width: 306px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	padding: 10px;
}

.five-free-scans-expiration-input {
	width: 93px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	float: left;
    margin-left: 94px;
	height: 40px;
	padding:8px;
}

.five-free-scans-payment-number-holder-expiration {
	margin-top: 60px;
}

.five-free-scans-cvv-input {
	height: 40px;
	width: 49px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	float: left;
    margin-left: 94px;
    padding:8px;
}

.five-free-scans-zip-input {
	height: 40px;
	width: 132px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	float: left;
    margin-left: 94px;
    padding:8px;
}

.five-free-scans-name-input {
	height: 40px;
	width: 306px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	float: left;
    margin-left: 94px;
    padding:8px;
}

.five-free-scans-payment-number-holder-cvv {
	padding-top: 15px;
}

.five-free-scans-promo-code-input {
	height: 40px;
	width: 251px;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	float: left;
    margin-left: 94px;
    padding:8px;
}

.five-free-scans-apply-promo-code {
	height: 40px;
	width: 68px;
	color: #26A7DE;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	float: left;
	cursor: pointer;
}

.five-free-scans-payment-disclaimer-footer {
	height: 75px;
	width: 620px;
	border: 1px solid #CDCDCD;
	background-color: #FAFAFA;
	margin-top: 60px;
}

.five-free-scans-payment-number-holder-status {
	padding-top: 0px;
}

.five-free-scans-payment-status {
    color: #4A4A4A;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    float: left;
}

.five-free-scans-payment-disclaimer {
    color: #4A4A4A;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    float: left;
}

.five-free-scans-payment-status-text {
	float: right;
	color: #4A4A4A;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin-right: 50px;
}

.five-free-scans-payment-status-tos {
	color: #26A7DE;
	cursor: pointer;
}


.five-free-scans-payment-status-holder {
	margin-top: 15px;
	margin-left: 34px;
	clear: both;
}

.five-free-scans-delimiter {
	box-sizing: border-box;
	height: 2px;
	width: 536px;
	border-bottom: 1px solid #CDCDCD;
	clear: both;
	padding-top: 10px;
	margin-left: calc(310px - 278px);
}

.five-free-scans-payment-submit {
	height: 40px;
    width: 188px;
    border-radius: 20px;
    background-color: #68AA3B;
    color: #FFFFFF;
    font-family: "AvenirNextLTPro-Regular";
    line-height: 42px;
    text-align: center;
    margin-top: 17px;
    float: right;
    margin-right: 21px;
    cursor: pointer;
}

.five-free-scans-payment-cancel {
	height: 40px;
	width: 148px;
	border: 1px solid #9B9B9B;
	border-radius: 20px;
    color: #FFFFFF;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin-top: 21px;
    float: left;
    margin-left: 21px;
	color: #4A4A4A;
	cursor: pointer;
}

.inactive-loading {
	opacity: .4;
	pointer-events: none;
}

.five-free-scans-subtitle-new {
	height: 48px;	
	width: 534px;	
	color: #4A4A4A;	
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;	
	font-weight: 500;	
	line-height: 24px;
    float: left;
}

.start-trial-button {
	color: #FFFFFF;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
}