@for $i from 1 through 2{
	.edit-form-attendee-info tr:nth-child(#{$i}) .label:after{
		content: '*';
		color: #f58a1c;
	}
}
.attendee-session-info-panel, .edit-attendee-session-info-panel{
	width: 620px;
	//height: calc(100vh - 200px);
	background-color: #fff;
	margin-top: 100px;
	margin-bottom: 40px;
	@include modal;
	border: 1px solid #9b9b9b;

	& .overflow-window{
		margin-bottom: 35px;
		//overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		//height: calc(100vh - 373px);
	}
	& > p{
		color: #4a4a4a;
		margin-left: 35px;
		font-size: 20px;
		font-family: $font-family-demi;
	}
	& .btnSave{
		@include shape(148px, 40px, 20px);
		background-color: #68aa3b !important;
		outline: none !important;
		border: 1px solid #9b9b9b;
		margin-right: 32px;
		float: right;
		font-family: $font-family-bold;
		font-size: 14px;
		cursor: pointer;
	}
	& .btnCancel{
		@include shape(148px, 40px, 20px);
		text-transform: none;
		color: #4a4a4a !important;
		border: 1px solid #9b9b9b;
		font-family: $font-family-medium;
		outline: none !important;
		background-color: #fff !important;
		margin-left: 35px;
		font-size: 14px;
		cursor: pointer;
	}
}
.photo-circle{
	& img{
		@include shape(90px, 90px, 50px);
		margin-left: 0;
		margin-right: 0;
	}
}
.main-attendee-info{
	display: flex;
	color: #4a4a4a;
	justify-content: space-around;
    padding-left: 30px;
    padding-right: 50px;
	& div{
		&:not(:last-child){
			margin-top: 35px;
		}
		&:nth-child(2){
			margin-left: 20px;
			& p{
				font-family: $font-family-medium;
				font-size: 14px;
				font-style: italic;
				margin-bottom: 10px;
				margin-top: 0;
				word-wrap: break-word;
				&:first-child{
					margin-top: 15px;
					font-size: 20px;
					font-family: $font-family-demi;
				}
			}
		}
	}
}
.other-info{
    padding-left: 40px;
    color: #4a4a4a;
    padding-top: 20px;
    display: flex;
	& .label{
		font-family: $font-family-demi;
		margin-right: 20px;
		font-size: 14px;
		& div{
			margin-bottom: 10px;
		}
	}
	& .info-attendee-tabel{
		@include flex;
		flex-direction: row;
		margin-bottom: 26px;
		&:last-child{
			margin-bottom: 0;
		}
		& .info-label{
			font-size: 14px;
			font-family: $font-family-medium;
		}
	}
}

.session-info-header-none {
	width: 100%;
	text-align: center;
}

.footer-info-attendee-panel{
	padding-top: 40px;
    display: inline-block;
    padding-bottom: 40px;
    width: 100%;
    //max-height: 24vh !important;
    //min-height: 24vh;
    //overflow-y: auto;
    & > div{
    	&:first-child{
	    	overflow-x: hidden;
    	}
    	&:last-child{
    		padding-top: 15px !important;
    		border-bottom-style: none;
    		overflow-y: hidden;
    	}
    }
	& .session-info-header{
		display: inline-flex;
		color: #4a4a4a;
		font-size: 12px;
		font-family: $font-family-medium;
		width: 521px;
		border-bottom: 1px solid #cdcdcd;
		& > p:first-child{
			margin-left: 380px;
		}
		& > p:last-child{
			margin-left: 25px;
		}
	}
	& .session-info{
	   display: inline-flex;
	   align-items: center;
 	   border-bottom: 1px solid #cdcdcd;
 	   padding-bottom: 15px;
 	   padding-top: 15px;
 	   width: 521px;
 	   color: #4a4a4a;
 	   & > img{
 	   	height: 18px;
 	   }
 	   & > input{
 	   	@include shape(17px, 17px, 0);
 	   	background-color: #26A7DE;
 	   	&:checked{
 	   		background: url("../assets/images/checkbox-costum-checked.png");
 	   	}
 	   }
 	   & div:first-child{
		@include shape(90px, 40px, 3px);
		border: 1px solid #9b9b9b;
		text-align: center;
		font-family: $font-family-medium;
		padding-top: 8px;
		font-size: 24px;
 	   }
 	   & .session-title{
			height: 40px;
			font-size: 14px;
			margin-left: 30px;
			margin-right: 35px;
			width: 250px;
			& p{
				margin: 0;
				font-family: $font-family-medium;
				&:first-child{
				 	margin-bottom: 6px;
				 	font-family: $font-family-demi;
				}
				&:last-child{
					font-style: italic;
				}
			}
 	    }
	}
}
.edit-attendee-session-info-panel .footer-info-attendee-panel .session-info div{
	color: #4a4a4a;
}
.edit-form-attendee-info{
	display: flex;
	align-items: baseline;
	font-size: 14px;
	width: 536px;
	//height: 690px;
	margin-left: 35px;
	margin-bottom: 15px;

	& div:first-child {
		& div{
			font-family: $font-family-demi;
		    //width: 125px;
		    margin-bottom: 15px;
		    color: #4a4a4a;
		    //margin-right: 105px;
		}
		& .photo-label{
			margin-bottom: 20px;
		}
		& p{
			color: #f58a1c;
			font-size: 12px;
			font-family: $font-family-medium;
		}
	}
	& div:last-child {
		font-family: $font-family-medium;
		&.photo-attendee-circle{
			margin-left: 5px;
			display: inline-flex;
			& img{
				@include shape(45px,45px,50px);
				margin-right: 15px;
			}
			& p{
				color: #4a4a4a;
			}
		}
		& input{
		    width: 306.77px;
		    height: 40px;
		    margin-bottom: 10px;
		    padding-left: 10px;
		}
	}
	& .info-label input{
		font-size: 14px;
		font-family: $font-family-medium;
		margin-left: 116px;
	}
	& .info-label img{
		font-size: 14px;
		font-family: $font-family-medium;
		//margin: 5px 15px 0 116px;
	}
	& .info-label p{
		margin-top: 12px;
		font-size: 14px;
		font-family: $font-family-demi !important;
		color: #4a4a4a !important;
	}
	& .label{
		color: #4a4a4a;
		font-family: $font-family-demi;
		font-size: 14px;
	}
}

.attendeeMainEditButton {
	font-size: 14px;
	font-family: $font-family-medium;
	margin-top: 60px;
	@include shape(97px, 40px, 20px);
	border: 1px solid #9b9b9b;
	padding-top: 10px;
	text-align: center;
	outline: none !important;
	cursor: pointer;
}
.info-tabs-per-attendee{
	height: 50px;
	background-color: #efeeee;
	border-top: 1px solid #cdcdcd;
	margin-top: 40px;
	color: #4a4a4a;
	font-size: 14px;
	@include flex;
	flex-direction: row;
	& .tab-for-border{
		@include shape(245px, inherit, 0);
		background-color: inherit;
		border-bottom: 2px solid #cdcdcd;
	}
	& .sessions-info-tab-per-attendee{
		@include shape(170px, inherit, 0);
		background-color: #f9f9f9;
		border: 1px solid #cdcdcd;
		font-family: $font-family-demi;
		border-top-style: none;
		text-align: center;
		padding-top: 15px;
	}
}
.session-info-header-edit{
	margin-top: 0;
	& > p:first-child{
		margin-left: 0 !important;
		font-family: $font-family-demi;
		font-size: 14px;
		margin-right: 335px;
	}
}
.unselected-info-payment-panel{
	border-bottom: 2px solid #cdcdcd !important;
	background-color: #efeeee !important;
	font-family: $font-family-medium !important;
}
.unselected-info-sessions-panel{
	border-bottom: 1px solid #cdcdcd !important;
	background-color: #efeeee !important;
	font-family: $font-family-medium !important;
}

.border-less{
	border-bottom-width: 1px !important;
	width: 40%;
}

.border-ness{
  border-bottom-width: 2px !important;
  width: 67% !important;
}

.payment-attendee-panel{
	background-color: #f9f9f9;
	padding-left: 40px;
	padding-bottom: 40px;
	//min-height: 24vh !important;
	//max-height: 24vh !important;
	& p{
		margin: 0;
		color: #4a4a4a;
	}
	& > div{
		& > div{
			&:first-child{
				padding-top: 15px;
				padding-bottom: 12px;
				padding-right: 136px;
				margin-right: 50px;
				border-bottom: 1px solid #cdcdcd;
			}
			&:nth-child(2){
				& > div{
					min-height: 70px;
					border-bottom: 1px solid #cdcdcd;
					align-items: center;
					margin-right: 50px;
					& .payment-refund-button{
						@include shape(95px, 30px, 20px);
						color: #4a4a4a;
						text-align: center;
						line-height: 30px;
						border: 1px solid #cdcdcd;
					}
				}
			}
		}
	}
}
/*.attendee-refund-payment{
	@include modal;
	margin-top: 30vh;
	padding: 32px 50px 45px 35px;
	color: #4a4a4a;
	font-size: 14px;
	& p{
		margin: 0;
	}
	& > p{
		font-size: 20px;
	}
	& > div{
		&:nth-child(2){
			margin-bottom: 9px;
			margin-top: 35px;
			align-items: center;
			& > p{
				margin-left: 10px;
			}
			& .default-avatar{
				margin: 0 !important;
			}
			& .user-img-small{
				margin: 0 !important;
			}
		}
		&:nth-child(3){
			align-items: center;
			justify-content: space-between;
			margin-bottom: 22px;
			& > input{
				@include shape(73.8px, 40px, 0);
				padding-left: 22px;
				border: 1px solid #cdcdcd;
			}
		}
		&:nth-child(4){
			align-items: center;
			margin-bottom: 28px;
			& > div{
				@include shape(17px, 17px, 0);
				border: 1px solid #979797;
				margin-right: 9px;
			}
		}
		&:nth-child(5){
			padding-top: 34px;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #cdcdcd;
			& > div{
				height: 40px;
				border-radius: 20px;
				border: solid 1px #9b9b9b;
				line-height: 40px;
				text-align: center;
				&:first-child{
					width: 148px;
				}
				&:nth-child(2){
					width: 190px;
				}
			}
		}
	}
}
.check-refund-notification{
	background-color : #26a7de;
	border-style: none !important;
}
*/
.select-country-holder {
	width: 307px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-right: 50px;
    color: black;
}

.select-country-holder-edit-attendee {
	width: 307px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-left: 116px;
    color: black;
    margin-bottom: 10px;
}
