.lead-retrieval{
	padding-top: 15px;
	padding-left: 42px;
	& p{
		margin: 0;
	}
	& > p{
		font-size: 14px;
		line-height: 18px;
		text-align: left;
		margin-top: 20px;
		margin-bottom: 19px;
		&:first-child{
			font-size: 20px;
			line-height: 36px;
			margin: 0;
		}
	}
	& > div{
		&:nth-child(3){
		    width: 42%;
		  	background-color: #edf0f2;
		  	padding: 18px 29px 22px 19px;
		  	align-items: center;
		  	justify-content: space-between;
		  	margin-bottom: 28px;
		  	& > p{
		  		font-size: 14px;
		  		line-height: 22px;
		  	}
		  	& > div{
		  		width: 150px;
				height: 40px;
				border-radius: 20px;
				background-color: #727272;
				align-items: center;
				& > p{
					font-size: 14px;
					text-align: center;
					color: #fff;
				}
				& > img{
					margin-left: 11px;
					margin-right: 22.5px;
					width: 14px;
				}
		  	}
		}
		&:nth-child(4){
			width: 41.3%;
			margin-bottom: 35px;
		    background-color: #ffffff;
		    border: solid 1px #cdcdcd;
		    padding: 29px 29px 37px 30px;
		    & > p{
		    	font-size: 14px;
		    	&:nth-child(2){
					font-size: 14px;
					line-height: 18px;
					margin-top: 14px;
					margin-bottom: 12px;
		    	}
		    }
		    & > div{
		    	align-items: center;
		    	justify-content: space-between;
			    & > div:first-child{
			    	align-items: center;
			    	& > p{
			    		font-size: 14px;
			    	}
			    	& > input{
			    		@include shape(40px, 40px, 0);
			    		margin-right: 10px;
			    		margin-left: 10px;
			    		text-align: center;
			    	}
			    }
			    & > div:last-child{
			    	@include shape(150px, 40px, 20px);
			    	text-align: center;
			    	line-height: 40px;
			    	font-size: 14px;
			    	border: 1px solid #cdcdcd;
			    }
			}
		}
		&:last-child{
			@include shape(150px, 40px, 20px);
			background-color: #68aa3b;
			text-align: center;
			line-height: 40px;
			font-size: 14px;
			color: #fff;
			margin-left: 34%;
		}
	}
}