a{
	text-decoration: none;
}
.log-center{
	width: 100vw;
	height: 100vh;
	background-image: url(https://s3.amazonaws.com/expo-static/resources/login_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
}
.inp{
	text-align: center;
	display: block;
	width: 308px;
	height: 40px;
	font-size: 14px;
	font-family: $font-family-medium;
	color: #26a7de;
	line-height: 40px;
}
.inp:focus{
	outline: none;
	border:1px solid #26a7de;
}
.log{
	margin: 0 auto;
	width: 633px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pass{
	margin-top: 15px;
	margin-bottom: 42px;
}
.btn{
	width: 230px;
	height: 40px;
	border-radius: 50px !important;
	font-size: 14px;
}
.container-center{
	background-color: #F0F9FF;
	width: 633px;
	& .forgot-pass{
		height: inherit;
		@include flex;
		& p{
			margin-top: 40px;
			margin-bottom: 25px;
			font-family: $font-family-medium;
			color: #4a4a4a;
			font-size: 14px;
			text-align: center;
		}
		& input{
			@include shape(308px, 40px, 0);
			font-family: $font-family-medium;
			color: #4a4a4a;
			font-size: 14px; 
			text-align: center;
			&:focus{
				border: 1px solid #26a7de;
			}
		}
		& .submit{
			background-color: #26a7de !important;
			margin-top: 40px;
			@include shape(230px, 40px, 20px);
			margin-bottom: 25px;
		}
	}
	& .sent-email-screen{
		@include flex;
		text-align: center;
		& p{
			font-family: $font-family-medium;
			color: #4a4a4a;
			font-size: 14px;
			&:first-child{
				font-family: $font-family-demi;
				margin-top: 55px;
				margin-bottom: 15px;
			}
			&:nth-child(2){
				margin-bottom: 50px;
			}
		}
		& .ok{
			@include shape(230px, 40px, 20px);
			margin-bottom: 25px;
			background-color: #26a7de !important;
		}
	}
	& .new-password{
		@include flex;
		text-align: center;
		& p{
			margin-top: 40px;
			margin-bottom: 18px;
			font-family: $font-family-medium;
			color: #4a4a4a;
			font-size: 14px;
		}
		& .new-pass-form{
			@include flex;
			& input {
				@include shape (308px, 40px, 0);
				font-family: $font-family-medium;
				color: #4a4a4a;
				margin-bottom: 10px;
				font-size: 14px;
				text-align: center;
				&:focus{
					border: 1px solid #26a7de;
				}
				&:last-child{
					margin-bottom: 25px;
				}
			}
		}
		& .submit-new-pass{
			@include shape(230px, 40px, 20px);
			background-color: #26a7de !important;
			margin-bottom: 25px;
		}
	}
}
.top, .bottom{
	width: inherit;
	@include flex;
}
.top{
	justify-content: center;
	border-bottom: 1px solid #D0D1D1;
}
.top > img{
	width: 223px;
	margin-top: 38px;
	margin-bottom: 40px;
}
.bottom{
	border-top: 1px solid #D0D1D1;
	& > a{
		margin-top: 42px;
	    color: #26a7de !important;
		font-size: 12px;
		font-family: $font-family-medium;
	}
}
.mid{
	@include flex;
	padding-top: 35px;
	padding-bottom: 16px;
	& md-content{
		background-color: inherit !important;
	}

}
.mid > a{
	color: #26A7DE !important;
	font-size: 12px;
	padding-top: 35px;
	font-family: $font-family-medium;
}
.md-button{
	margin: 0;
}
.bottom md-content a{
	font-size: 14px;
}
.login{
	background-color: #26a7de !important;
}
.btn-cr{
	margin-top:30px;
	margin-bottom: 30px;
	line-height: 40px;
	background-color: #68aa3b !important;
	color: #fff !important;
}