.manage-notifications-wrapper {
    height: calc(100vh - 75px);
    box-sizing: border-box;
    font-size: 0;
}

.notifications-main-view {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    width: 70%;
    height: 100%;

    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px;
    box-sizing: border-box;

}
.scheduled-list {
    display: inline-block;
    vertical-align: middle;

    width: 30%;
    height: calc(100vh - 75px);

    overflow: hidden;
    overflow-y: auto;

    background-color: #fafafa;
    border-left: 1px solid #cdcdcd;
    box-sizing: border-box;
}

.scheduled-list .title {
    font-size: 14px;
    margin-top: 30px;
    margin-left: 22px;
    font-family: $font-family-demi;
}

.scheduled-list .list-wrapper {
    margin-top: 30px;
    text-align: right;

}

.scheduled-list .list-wrapper .list-item {
    padding-bottom: 10px;
    width: calc(100% - 20px);

    border-bottom: 1px solid #cdcdcd;
    text-align: left;

    margin-top: 10px;
    margin-right: 0;
    margin-left: 20px;
}

.scheduled-list .list-wrapper .list-item .item-options-container{
  @include shape(30px, 30px, 50%);
  border: 1px solid #cdcdcd;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.scheduled-list .list-wrapper .list-item .fa {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    width: 18px;
}


.scheduled-list .list-wrapper .list-item .content {
    font-size: 14px;
    font-family: 'AvenirNextLTPro-Regular';
    width: 85%;

    display: inline-block;
    vertical-align: top;

    margin-left: 10px;
}

.scheduled-list .list-wrapper .list-item .content .time {
    font-style: italic;
}

.scheduled-list .list-wrapper .list-item .content .text .notification-text {
  width: 63%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10%;
}

.notifications-main-view .title {
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.8;
}

.notifications-main-view .notification-creator {
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: #edf0f2;
    margin-top: 10px;

    padding-left: 18px;
    padding-right: 24px;

    box-sizing: border-box;

    text-align: right;
}

.notifications-main-view .notification-creator .text-area-wrapper {
    position: relative;
    text-align: right;

    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
}

.notifications-main-view .notification-creator .text-area-wrapper textarea {
    height: 90px;
    width: 100%;
    border: 1px solid #cdcdcd;

    box-sizing: border-box;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;

    color: #39393a;

    padding-left: 12px;
    padding-top: 12px;
}

.notifications-main-view .notification-creator .text-area-wrapper textarea.error {
    border: 1px solid red;
}

.notifications-main-view .notification-creator .text-area-wrapper span {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;

    transition: color .3s ease;
}

.notifications-main-view .notification-creator .text-area-wrapper span.warning {
    color: #F05C3F;
}

.notifications-main-view .notification-creator .text-area-wrapper .link-to-button {
    font-size: 14px;
    text-align: left;

    font-family: 'AvenirNextLTPro-Regular';

    position: absolute;
    bottom: 23px;

    cursor: pointer;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper {
    padding-top: 14px;
    padding-bottom: 14px;

    border-bottom: 1px solid #cdcdcd;

    margin-bottom: 14px;
    text-align: left;
}
.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item {
    margin-bottom: 10px;

    position: relative;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .name {
    font-size: 14px;
    color: #39393a;
    font-family: 'AvenirNextLTPro-Regular';

    display: inline-block;
    vertical-align: middle;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .selector {
    font-size: 14px;
    border-radius: 0;

    width: 290px;
    padding-top: 10px;
    padding-bottom: 8px;

    border: 1px solid #cdcdcd;

    box-sizing: border-box;

    display: inline-block;
    vertical-align: middle;

    padding-left: 14px;
    padding-right: 14px;

    margin-left: 9px;
    background-color: #fff;
    & > option{
        width: 200%;
    }
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .target-selector-wrapper {
    display: inline-block;
    vertical-align: middle;

    width: 70%;

    margin-left: 10px;
    margin-top: 0px;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item > .target-selector-wrapper ~ .target-selector-wrapper {
    margin-left: 64px;
    margin-top: 10px;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .target-selector-wrapper .selector {
    margin-left: 0px;
    margin-top: 0px;
    @include shape(246px, 40px, 0);
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .add-new-target-button {
    width: 24px;
    height: 24px;

    //background-color: #9B9B9B;

    display: inline-block;

    vertical-align: middle;
    margin-left: 20px;

    border-radius: 100%;

    font-size: 24px;
    font-family: 'AvenirNextLTPro-Demi';
    color: #9B9B9B;
    text-align: center;

    line-height: 22px;

    cursor: pointer;

    //opacity: 0.8;

    transition: opacity .3s ease;

}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .add-new-target-button.plus {
    line-height: 26px;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .add-new-target-button.plus .fa {
    font-size: 24px;
    color: #9B9B9B;
    position: static;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .add-new-target-button:hover {
    opacity: 1;
}
.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .selector.date {
    width: 159px;
    margin-left: 7px;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .selector.time {
    width: 122px;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .selector.date.error {
    border: 1px solid red;
}

.notifications-main-view .notification-creator .scheduling-area-wrapper .scheduling-item .selector.time.error {
    border: 1px solid red;
}

.notifications-main-view .notification-creator .schedule-button {
    height: 40px;
    width: 20%;
    background-color: #68aa3b;

    display: inline-block;
    vertical-align: middle;

    font-size: 14px;
    color: white;
    line-height: 42px;
    border-radius: 20px;

    padding-left: 38px;
    padding-right: 38px;

    text-transform: uppercase;

    cursor: pointer;


    transform: none;
    opacity: 0.8;

    transition: transform .3s ease, opacity .3s ease;

    text-align: center;
    box-sizing: border-box;
}
.schedule-button > span{
  font-size: 14px;
  font-family: $font-family-demi;
}

.notifications-main-view .notification-creator .schedule-button:hover {
    transform: translateY(-2px);
    opacity: 1;
}

.notifications-main-view .notification-creator .credits-counter {
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 80%;
}


.notifications-main-view .notification-creator .credits-counter .credits-bar {
    width: 70%;
    float: left;
    height: 27px;
    background-color: white;

    border: 1px solid #cdcdcd;

    box-sizing: border-box;

    position: relative;

    display: inline-block;
    vertical-align: middle;

    padding-left: 2px;
    padding-right: 2px;

    overflow: hidden;
}

.notifications-main-view .notification-creator .credits-counter .inner-credits-bar {
    height: 21px;
    background-color: #68AA3B;

    position: absolute;
    top: 2px;

    width: 0px;

    transition: width .5s ease, background-color .3s ease;

    max-width: calc(100% - 4px);
}

.notifications-main-view .notification-creator .credits-counter .inner-credits-bar.error {
    background-color: #e91d26;
    text-align: center;
}

.notifications-main-view .notification-creator .credits-counter .inner-credits-bar.error p {
    color: white;
    line-height: 22px;

    font-size: 12px;
    margin: 0;
}


.notifications-main-view .notification-creator .credits-counter .credits-number {
    font-size: 12px;
    font-family: $font-family-demi;
    display: inline-block;
    vertical-align: middle;

    width: 30%;
    overflow: hidden;

    text-align: left;

    padding-left: 12px;
    padding-top:8px;
    box-sizing: border-box;
}

.notifications-main-view .notification-creator .audience-counter {
    font-size: 12px;
    color: #39393a;
    text-align: left;

    font-family: 'AvenirNextLTPro-Regular';
    margin-top: 4px;
}

.notifications-main-view .notification-creator .linking-area {
    text-align: left;
    margin-top: 16px;

    border-bottom: 1px solid #cdcdcd;

    padding-bottom: 22px;
}

.notifications-main-view .notification-creator .linking-area .half {
    font-size: 14px;

    display: inline-block;
    vertical-align: top;

    width: 48%
}


.notifications-main-view .notification-creator .linking-area .half.category-selection {
    margin-right: 4%;
}

.notifications-main-view .notification-creator .linking-area .half .title {
    font-size: 14px;
    color: #39393a;
}

.notifications-main-view .notification-creator .linking-area .half .category-selector {
    width: 100%;
    font-size: 14px;
    border-radius: 0;

    height: 42px;

    border: 1px solid #cdcdcd;

    box-sizing: border-box;


    padding-left: 14px;
    padding-right: 14px;

    margin-top: 6px;
}

.notifications-main-view .notification-creator .linking-area .half.category-details .items-box {
    width: 100%;
    height: 202px;

    border: 1px solid #cdcdcd;

    box-sizing: border-box;
    background-color: white;

    margin-top: 6px;

    overflow: hidden;

    overflow-y: scroll;
}

.notifications-main-view .notification-creator .linking-area .half.category-details .items-box .list-item {
    width: calc(100% - 10px);
    height: 40px;
    line-height: 40px;

    background-color: white;
    transition: background-color .3s ease;
    cursor: pointer;

    padding-left: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notifications-main-view .notification-creator .linking-area .half.category-details .items-box .list-item:hover {
    background-color: rgba(89, 187, 231, 0.2);
}

.notifications-main-view .notification-creator .linking-area .half.category-details .items-box .list-item.active {
    background-color: rgba(89, 187, 231, 0.2);
}


.sent-notifications-wrapper .list-head {
    height: 60px;
    width: 100%;

    background-color: #edf0f2;

    margin-top: 44px;

    border-bottom: 2px solid #cdcdcd;

    padding-left: 20px;
    padding-right: 16px;

    box-sizing: border-box;

    line-height: 60px;
}

.sent-notifications-wrapper .list-head .list-head-item {
    display: inline-block;
    vertical-align: middle;

    font-size: 12px;

    font-family: $font-family-medium;
}

.sent-notifications-wrapper .list-head .list-head-item.content {
    width: 70%
}

.sent-notifications-wrapper .list-head .list-head-item.delivered {
    width: 15%;
    text-align: center;
}

.sent-notifications-wrapper .list-head .list-head-item.opened {
    width: 15%;
    text-align: center;
}

.sent-notifications-wrapper .list-head.list-item {
    height: 80px;
    line-height: 80px;
    background-color: white;
    box-sizing: border-box;

    margin-top: 0;
}

.sent-notifications-wrapper .list-head.list-item .list-head-item {
    font-size: 12px;
    line-height: 20px;
}

.notifications-main-view .credits-buyer-wrapper {
    width: 100%;
    font-size: 14px;
    padding-left: 20px;

    margin-top: 20px;

    box-sizing: border-box;
}

.notifications-main-view .credits-buyer-wrapper .receipts-button {
    float: right;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    color: #2395d6;
    cursor: pointer;
    margin-top: 10px;
}

.notifications-main-view .credits-buyer-wrapper .receipts-button .fa{
    color: #39393a;
    margin-right: 4px;
    font-size: 14px;
}

.notifications-main-view .credits-buyer-wrapper .buy-zone {
    display: inline-block;
}
.notifications-main-view .credits-buyer-wrapper .buy-zone .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: $font-family-medium;
}


.notifications-main-view .credits-buyer-wrapper .buy-zone .purchase {
    display: inline-block;
    vertical-align: middle;

    height: 30px;
    padding-left: 18px;
    padding-right: 18px;

    border: 1px solid #cdcdcd;
    border-radius: 20px;

    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-family-demi;

    line-height: 30px;

    margin-left: 10px;

    cursor: pointer;

    opacity: 0.8;
    transform: translateY(0);

    transition: opacity .3s ease, transform .3s ease;
}

.notifications-main-view .credits-buyer-wrapper .buy-zone .purchase:hover {
    opacity: 1;
    transform: translateY(-2px);
}

#text_wrapper {
  margin: 40px;
  border: 1px solid #ccc;
}
#text {
  outline: none;
  margin: 10px;
  min-height:200px;
}
#text img {
  width: 20px;
}

.emoji-picker-icon{
    font-size:20px;
    right: 86px;
    top: 17px;
}

.list-item-highlight {
    font-weight: 900;
}

.cancel-edit-button {
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

.item-inactive {
    pointer-events: none;
    opacity: .6;
}

.check-send-notif-to-all {
    float: right;
    margin-left:10px;
    cursor: pointer;
}

.push-notifications-hour-input {
    padding: 8px;
    width: 170px;
    margin-right: 20px;
    font-size: 14px;
    margin-left:6px;
    padding-top: 10px;
}
.cancel-edit-button{
  font-family: $font-family-demi;
  font-size: 14px;
  color: #4a4a4a;
}

.notification-content {
    text-overflow: ellipsis;
    overflow: hidden;
}
