.merchant-agreement-popup{
    @include modal;
    & p, & div{
        margin: 0;
        color: #4a4a4a;
    }
    & .merchant-agreement-steps-table{
        padding: 24px 43px 21px 34px;
        border-bottom: 2px solid #cdcdcd;
        align-items: center;
        justify-content: space-between;
        & > div{
            align-items: center;
            & .ma-step-circle{
                @include shape(25px, 25px, 50%);
                margin-right: 8px;
                font-size: 14px;
                font-family: $font-family-medium;
                border: 1px solid #cdcdcd;
                text-align: center;
                line-height: 26px;
            }
            & > p{
                font-size: 14px;
                font-family: $font-family-demi;
            }
            & .ma-current-step{
                background-color: #59bbe7;
                color: #fff !important;
                border-style: none;
                font-family: $font-family-bold;
            }
        }
    }
    & .merchant-agreement-buttons{
        align-items: center;
        justify-content: space-between;
        padding: 20px 52px 41px 34px;
/*        border-top: 2px solid #cdcdcd;
*/        & > div{
            @include shape(148px, 40px, 20px);
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            &:first-child{
                background-color: #fff;
                border: 1px solid #9b9b9b;
                font-family: $font-family-medium;
            }
            &:last-child{
                background-color: #68aa3b;
                color: #fff;
                font-family: $font-family-bold;
            }
        }
    }
    & .merchant-agreement-popup-step1{
        padding: 25px 51px 6px 34px;
        height: 67vh;
        overflow-y: scroll;
        & > p{
            &:first-child{
                font-size: 20px;
                font-family: $font-family-demi;
                margin-bottom: 27px;
            }
            &:nth-child(2){
                font-size: 14px;
                font-family: $font-family-medium;
                line-height: 20px;
                text-align: left;
                max-height: 660px;
                overflow-y: auto;
            }
        }
    }
    & .merchant-agreement-popup-step2{
        padding: 25px 36px 6px 34px;
        max-height: 70vh;
        overflow-y: auto;
        & > p{
            font-size: 20px;
            font-family: $font-family-demi;
            margin-bottom: 36px;
        }
        & .merchant-agreement-form{
            & .merchant-agreement-profile{
                align-items: baseline;
                & p{
                    font-size: 14px;
                    font-family: $font-family-demi;
                    width: 230px;
                }
                & > div{
                    align-items: center;
                    margin-bottom: 14px;
                    & > div{
                        @include shape(148px, 30px, 20px);
                        background-color : #fff;
                        font-family: $font-family-medium;
                        font-size: 14px;
                        border: 1px solid #cdcdcd;
                        line-height: 30px;
                        text-align: center;
                        cursor: pointer;
                        &:first-child{
                            margin-right: 11px;
                        }
                    }
                    & .selected-merchant-profile{
                        background-color : #727272;
                        color: #fff;
                        border-style: none;
                    }
                }
            }
            & .merchant-agreement-form-fields{
                & > div{
                    min-height: 40px;
                    align-items: center;
                    margin-bottom: 10px;
                    & > p{
                        font-size: 14px;
                        font-family: $font-family-demi;
                        width: 230px;
                    }
                    & > input{
                        @include shape(295.8px, 40px, 0);
                        border: 1px solid #cdcdcd;
                        padding-left: 10px;
                    }
                    & > div{
                        align-items: center;
                        justify-content: space-between;
                        margin-right: auto;
                        & > input{
                            height: 40px;
                            border: 1px solid #cdcdcd;
                            margin-right: 20px;
                            padding-left: 10px;
                        }
                    }
                    &:last-child{
                        margin-bottom: 13px;
                    }
                }
                & .merchant-identification{
                    height: 40px;
                    align-items: center;
                    & > p:first-child{
                        font-size: 14px;
                        font-family: $font-family-demi;
                        width: 230px;
                    }
                    & > p:not(:first-child){
                        cursor: pointer;
                        color: #26a7de !important;
                        font-family: $font-family-medium;
                        font-size: 14px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    & .merchant-agreement-popup-step3{
        padding: 25px 36px 34px 34px;
        & > p{
            font-size: 20px;
            font-family: $font-family-demi;
            margin-bottom: 30px;
        }
        & > form > div{
            & > div{
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                min-height: 40px;
                & > p{
                    font-size: 14px;
                    font-family: $font-family-demi;
                }
                & > input{
                    @include shape(295.8px, 40px, 0);
                    padding-left: 10px;
                    border: 1px solid #cdcdcd;
                }
            }
        }
    }
}
.lower-popup-modal{
    margin-top: 190px;
}

.loading-verification {
    height:300px; 
    margin-top:300px;
}

.fa-card-icon{
    background-image: url("/assets/images/fa-card.png");
    background-repeat: no-repeat;
    background-size: 41px 41px;
    display: inline-block;
}
.agreement-button{
    z-index: 99999;
    background: #fff;
    align-items: center;
    margin-bottom: 24px;
    height: 30px;
    padding-top: 20px;
    border-top: 2px solid #cdcdcd;
    & > div{
        margin-right: 7px;
        border: 1px solid #cdcdcd;
        @include shape(18px, 18px, 0); 
        margin-left: 34px;
    }
    & .merchant-agreed{
        background-color: #59bbe7;
        border-style: none;
        @include shape(18px, 18px, 0);
    }
    & > p{
        font-size: 14px;
        font-family: $font-family-medium;
        line-height: 20px;
        font-style: italic;
    }
}