.add-conference-exhibitor-model{
    @include modal;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    padding: 35px 50px 33px 34px;
    & p{
        margin: 0;
        color: #4a4a4a;
    }
    & > p{
        font-size: 20px;
        font-family: $font-family-demi;
        margin-bottom: 30px;
    }
    & > div:nth-child(2){
        & > div{
            margin-bottom: 10px;
            align-items: center;
            & > p{
                font-family: $font-family-demi;
                font-size: 14px;
                width: 230px;
            }
            & > input{
                @include shape(306.77px, 40px, 0);
                padding-left: 10px;
            }
        }
    }
    & > p:nth-child(3){
        font-family: $font-family-medium;
        font-size: 12px;
        color: #f58a1c;
        margin-top: 30px;
    }
    & > div:last-child{
        align-items: center;
        padding-top: 30px;
        border-top: 1px solid #cdcdcd;
        & > div:first-child{
            @include shape(148px, 40px, 20px);
            border: 1px solid #cdcdcd;
            font-size: 14px;
            font-family: $font-family-medium;
            text-align: center;
            line-height: 40px;
            margin-right: auto;
            color: #4a4a4a;
        }
        & > div:nth-child(2){
            @include shape(148px, 40px, 20px);
            font-size: 14px;
            font-family: $font-family-bold;
            color: #fff;
            text-align: center;
            background-color: #68aa3b;
            line-height: 40px;
        }
        & > div:last-child{
            @include shape(190px, 40px, 20px);
            font-size: 14px;
            font-family: $font-family-bold;
            color: #fff;
            text-align: center;
            background-color: #68aa3b;
            line-height: 40px;
            margin-left: 10px; 
        }
    }
}