.add-speaker-modal{
    @include modal;
    padding: 33px 50.2px 41px 34px;
    & p{
        margin: 0;
        color: #4a4a4a;
    }
    & > p{
        margin-bottom: 31px;
    }
    & > div{
        & > div{
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            & > input{
                @include shape(295.8px, 40px, 0);
                border: 1px solid #cdcdcd;
                padding-left: 11px;
            }
            & > textarea{
                @include shape(296px, 130px, 0);
                border: 1px solid #cdcdcd;
                padding-left: 11px;
                padding-top: 11px;
            }
            & img{
                margin-right: 15px;
                margin-left: 3px;
                @include shape(45px, 45px, 50%);
                & + p{
                    
                }
            }
            &:last-child{
                margin-bottom: 1px;
                margin-top: 9px !important;
            }
        }
        & > p{
            margin-bottom: 24px;
        }
        & + div{
            align-items: center;
            justify-content: space-between;
            padding-top: 34px;
            border-top: 1px solid #cdcdcd;
            & > div{
                @include shape(148px, 40px, 20px);
                text-align: center;
                line-height: 40px;
                &:first-child{
                    border: 1px solid #cdcdcd;
                    color: #4a4a4a;
                }
                &:last-child{
                    background-color: #68aa3b;
                    font-family: $font-family-bold;
                    color: #fff;
                }
            }
        }
    }
}
.speaker-biography-field{
    align-self: flex-start;
    margin-top: 15px !important;
}