.bkground-blur{
	background-color: #fff;
	width: 620px;
	@include modal;
	margin-top:  calc((75vh - 100%)/2);
	margin-bottom:  calc((75vh - 100%)/2);
	padding-bottom: 20px;
	border: 1px solid #9b9b9b;
}
@for $i from 1 through 2{
	.bkground-blur .modal-add-attendee form div:nth-child(#{$i}) label:after{
		content: "*";
		color: #f58a1c;
		font-size: 14px;
	}
}
.attendee-upload-image div:last-child{
	margin-right: auto;
	font-size: 14px;
	font-family: $font-family-medium;
	color: #26a7de;
}
.attendee-upload-image div:first-child{
	margin-right: 10px;
	margin-top: 10px;
	font-family: $font-family-medium;
	& img{
		margin-top: 0;
		@include shape(45px, 45px, 50px);
	}
}
.modal-attendee{
	width: 587px;
	margin-left: 31px;
	& md-content{
		padding-top: 25px;
	    margin-top: 34px;
	    border-top: 1px solid #e6e6e6;
	    margin-right: 43px;
	}
	& form{
		& div{
			margin-bottom: 10px;
            margin-top: 4px;
			@include flex;
			flex-direction: row;
			justify-content: space-between;
			& label{
				color: #4a4a4a;
				font-size: 14px;
				font-family: $font-family-demi !important;
			}
			& input{
				margin-right: 50px;
				border: 1px solid #cdcdcd;
				font-size: 14px;
				font-family: $font-family-medium;
				width: 306.77px;
				height: 40px;
				padding-left: 10px; 
			}
			&:nth-child(6){
				& input{
					width: 160px;
					margin-right: 197px;
				}
			}
			&:nth-child(10) input{
				width: 160px;
				margin-right: 197px;
			}
			&:nth-child(9) input{
				width: 65px;
				margin-right: 292px;
			}
			&:last-child{
				margin-bottom: 0;
    			height: 50px;
			}
		}
		& p{
			color: #f58a1c;
			font-size: 12px;
			font-family: $font-family-medium;
			width: 543px;
		    margin: 0;
		}
		& .custom_select{
		    margin-right: 50px;
		    height: 76px;
		    margin-bottom: 10px;
		    width: 306px;
		    background-color: white;
		    margin-left: 7px;
		    font-size: 14px;
		    font-family: "AvenirNextLTPro-Regular";
		}
	}
	& .review-and-purchase{
		font-size: 20px;
		font-family: $font-family-demi;
		color: #4a4a4a;
	    padding-bottom: 40px;
	    border-bottom: 1px solid #cdcdcd;
	    margin-top: 40px;
	    padding-left: 40px;
	    width: 618px;
	    margin-bottom: 31px;
	}
	& h3{
		padding-bottom: 10px;
	    border-bottom-style: none;
	    padding-left: 0;
	    font-size: 20px;
	    margin-top: 35px;
		font-family: $font-family-demi;
		color: #4a4a4a;
	}
	& .btnC, .btnS, .btnSA{
		color: #fff;
		overflow: none !important;
		outline: none !important;
		width: 148px;
		height: 40px;
		font-size: 14px;
		border-radius: 20px;
		background-color: #68aa3b !important;
		text-transform: uppercase;
		font-family: $font-family-bold;
	}
	& .btnC{
		border: 1px solid #9b9b9b;
		color: #4a4a4a !important;
		text-transform: none;
		background-color: #fff !important;
		font-family: $font-family-medium;
	}
	& .btnS{
		margin-left: 40px;
		margin-right: 10px;
	}
	& .btnSA{
		width: 190px;
	}

}
.ngdialog-close:before{
	content: none;
}
.ngdialog-content{
	background: transparent;
}

.promo_code_form > thead > tr > th {
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	font-family: $font-family-medium;
	color: #4a4a4a;
	text-align: left;

}

.promo_code_form > tbody > tr > td {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-family: $font-family-medium;
    color: #4a4a4a;
    text-align: left;
}

.promo-codes-header {
	font-family: $font-family-medium;
	font-size: 14px;
	color: #4a4a4a;
}

.option-style{ 
	background-color: white;
    margin-right: 50px;
    border: 1px solid #cdcdcd;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    width: 306.77px;
    height: 40px;
    padding-left: 10px;
}
.payments-modals{
	margin-top: calc(50vh - 270px) !important;
	background-color: #fff;
	width: 620px;
	@include modal;
	margin-bottom:  calc((75vh - 100%)/2);
	padding-bottom: 20px;
	border: 1px solid #9b9b9b;
	 & #payment-form div:first-child > div > div > img{
	 		height: 21px;
	 }
	 & #payment-form div:first-child > div > div{
	 	width: 39px;
	    height: 28px;
	    padding-left: 2px;
	    border: 1px solid #cdcdcd;
	    margin-right: 10px;
	    border-radius: 3px;
	 }
}
.promo-codes-status{
	margin-top: calc(100vh/7) !important;
}
.payment-information > p{
	font-size: 14px;
	font-family: $font-family-medium;
	color: #4a4a4a;
}