// continuing education part
.continuing-education-session-edit{
	padding-bottom: 40px;
	& p {
		margin: 0;
	}
	& > p{
		&:first-child{
			font-size: 20px;
			font-family: $font-family-demi;
		}
		&:nth-child(2){
			margin-top: 20px;
			margin-bottom: 25px;
			font-size: 16px;
			font-family: $font-family-medium;
		}
	}
	& .ce-type-tabel, .sessions-for-this-level{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		& > div{
			&:first-child, &:last-child{
				height: 279px;
				width: 40vw;
				border: 1px solid #cdcdcd;
				overflow-y: scroll;
			}
			&:nth-child(2){
				& > div{
					border: 1px solid #cdcdcd;
					text-align: center;
					@include shape(150px, 30px, 20px);
					margin-bottom: 20px;
					margin-right: 20px;
					margin-left: 20px; 
					font-family: $font-family-demi;
					font-size: 12px;
					display: flex;
					align-items: center;
					&:first-child{
						& > span:last-child{
							font-size: 20px;
							font-family: $font-family-medium;
						}
						& > span:first-child{
							margin-right: 40px;
							margin-left: 60px;
						}
					}
					&:last-child{
						& > span:first-child{
							font-size: 20px;
							font-family: $font-family-medium;
							margin-left: 15px;
							margin-right: 19px; 
						}
					}
				}
			}
		}
	}
	& .ce-type-tabel{
		& > div:first-child, & > div:last-child{
			overflow-y: auto;
			& > div{
				height: 39px;
				cursor: pointer;
				background-color: #fff;
				&:hover{
					background-color: rgba(88, 186, 231, 0.2);
				}
				& > p{
					margin-left: 10px;
					text-align: left;
					line-height: 39px;
					font-family: $font-family-medium;
					font-size: 14px;
				}
			}
		}
	}
	& .create-ce-types{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 20px;
		& > div{
			display: flex;
			align-items: center;
			flex-direction: row;
			&:first-child {
				& input{
					@include shape(286px, 40px, 0);
					padding-left: 10px;
					margin-right: 10px;
					font-family: $font-family-medium;
					font-size: 14px;
				}
				& > div{
					border: 1px solid #cdcdcd;
					text-align: center;
					@include shape(150px, 30px, 20px);
					font-family: $font-family-demi;
					font-size: 12px;
					line-height: 33px;
				}
			}
			&:last-child{
				& input{
					@include shape(193px, 40px, 0);
					padding-left: 10px;
					margin-left: 67px;
				}
				& > p{
					font-size: 14px;
					font-family: $font-family-demi;
				}
				& > span{
					color: #f58a1c;
				}
			}
		}
	}
}
.ce-checked{
	background-color: rgba(88, 186, 231, 0.2) !important;
}
.conference-table-speaker{
	display: flex;
	.user_avatar_holder{
		align-self: flex-end;
	}
}
.speakers-drag-and-drop-panels{
	justify-content: space-between;
	margin-bottom: 23px;
	align-items: center;
	& p{
		margin: 0;
	}
	& .conference-speakers-drag-panel{
		width: 44%;
	    height: 288px;
	    background-color: #ffffff;
	    border: solid 2px #cdcdcd;
	    overflow-y: auto;
	    padding: 7.5px 0 23px 1px;
	    & > div{
	    	align-items: center;
	    	min-height: 51px;
	    	& .default-avatar, & .user-img-small{
                margin-left: 0 !important;
                margin-top: 0 !important;
                margin-right: 0 !important;
            }
	    	& > div{
				margin-left: 10px;
	    	}
	    }
	}
	& .session-speakers-drop-panel{
		width: 40%;
  	 	height: 279px;
  		background-color: #edf0f2;
  		border: dashed 2px #979797;
  		padding: 19px 23px 19px 24px;
  		& .default-avatar, & .user-img-small{
            margin-left: 0 !important;
            margin-top: 0 !important;
            margin-right: 0 !important;
        }
  		& > p{
  			&:first-child{
  				font-family: $font-family-demi;
  				font-size: 14px;
  				margin-bottom: 12px;
  			}
  			&:nth-child(2){
				margin-left: auto;
				font-family: $font-family-medium;
				font-size: 12px;
				margin-bottom: 5px;
  			}
  		}
  		& > div{
  			overflow-y: auto;
			height: 24vh;
			& > div > div{
				&:nth-child(2){
					margin-left: 9px;
				}
  				&:last-child{
  					@include shape(30px, 30px, 50%);
					border: 1px solid #cdcdcd;
					margin-right: 13px;
					margin-left: auto;
  				}
  			}
  			&:first-child{
  				padding-top: 0;
  			}
  		}
	}
	& + div{
		margin-bottom: 23px;
		align-items: center;
		justify-content: space-between;
		& > div{
			@include shape(203px, 30px, 20px);
			font-family: $font-family-demi;
			font-size: 12px;
			line-height: 30px;
			border: 1px solid #cdcdcd;
			& > img{
				margin-left: 12px;
				margin-right: 10px;
				position: relative;
    			top: 4px;
			}
		}
	}
}
.moderator-speaker-checked{
	background-color: #727272;
	border-style: none;
}
.validate-registrants-buttons{
	margin-bottom: 33px;
	& > div{
		@include shape(100px, 30px, 20px);
		text-align: center;
		line-height: 33px;
		font-size: 12px;
		font-family: $font-family-medium;
		border: 1px solid #cdcdcd;
	}
	& .validate-registrants-status{
		background-color: #727272;
		border-style: none;
		color: #fff;
		font-family: $font-family-bold;
	}
}
.session-feedback-part{
	& > div{
		&:nth-child(3){
			& > div{
				margin-bottom: 30px;
				align-items: flex-start;
				& > p{
					margin-right: 15px;
					position: relative;
					top: 12px;
					min-width: 95px;
				}
				& > input{
					@include shape(40vw, 40px, 0);
					margin-right: 16px;
					padding-left: 11px;
				}
				& > div{
					align-items: baseline;
					& > div > div:first-child > select{
						&:first-child{
							border: 1px solid #cdcdcd; 
							@include shape(31vw, 44px, 0);
							margin-right: 14px;
							padding: 10px 13px 13px 15px;
							margin-bottom: 10px;
							align-items: center;
							justify-content: space-between;
							background-color: #fff;
							& > .question-option-type-selected{
								border-bottom: 1px solid #cdcdcd; 
								@include shape(31vw, 40px, 0);
								padding: 10px 13px 13px 15px;
								font-family: $font-family-medium;
								font-size: 14px;
								background-color: #fff;
								&:last-child{
									border-bottom-style: none;
								}
								&:hover{
									background-color: #c4c4c4;
								}
							}
						}
					}
					& > div{
						& .options-for-questions{
							& > div{
								align-items: center;
								margin-bottom: 10px;
								& > input{
									border: 1px solid #cdcdcd; 
									@include shape(calc(32vw - 35px), 40px, 0);
									padding-left: 15px;
									font-family: $font-family-medium;
									font-size: 14px;
								}
								& > div{
									& > img:first-child{
										margin-left: 14px;
										margin-right: 14px;
									}
								}
							}
						}
						& .question-types-panel{
							position: absolute;
							border: 1px solid #cdcdcd;
							top: 742px;
							& > div{
								border-bottom: 1px solid #cdcdcd; 
								@include shape(31vw, 19px !important, 0);
								padding: 10px 13px 13px 15px;
								font-family: $font-family-medium;
								font-size: 14px;
								background-color: #fff;
								&:last-child{
									border-bottom-style: none;
								}
								&:hover{
									background-color: #c4c4c4;
								}
							}
						}
					}
				}
				&:last-child{
					margin-bottom: 12px;
				}
			}
		}
		&:nth-child(4){
			@include shape(150px, 30px, 20px);
			line-height: 31px;
			text-align: center;
			border: 1px solid #cdcdcd;
			& > img{
				position: relative;
				top: 4px;
    			right: 7px;		
			}
		}
	}
}


.speaker-item-holder:hover{
	background-color: rgba(88, 186, 231, 0.2);
}