@for $i from 1 through 3 {
	.standard-attendee-fields{
		& > div:nth-child(#{$i}){
			height: 17px;
			margin-bottom: 37px;
		}
		& > div:nth-child(#{$i}) > p{
			&:last-child{
				font-family: $font-family-medium;
				font-size: 14px;
				font-style: italic;
				margin-left: 11px;
			}
			&:first-child{
				font-family: $font-family-demi;
				font-size: 14px;
			}
		}
		& > div:nth-child(#{$i + 3}){
			margin-bottom: 10px;
			& > div:not(.drop-down-type-for-field){
				@include shape(113px, 40px, 0);
				background-color: #fff;
				border: 1px solid #cdcdcd;
				padding-left: 11px;
				font-family: $font-family-medium;
				font-size: 14px;
				font-weight: bold;
			}
		}
		& > div:nth-child(#{$i + 6}){
			margin-bottom: 10px;
			position: relative;
			bottom: 11px;
			& > div:not(.drop-down-type-for-field){
				@include shape(113px, 40px, 0);
				background-color: #fff;
				border: 1px solid #cdcdcd;
				padding-left: 11px;
				font-family: $font-family-medium;
				font-size: 14px;
				font-weight: bold;
			}
		}
		& > div:nth-child(#{$i + 9}){
			margin-bottom: 10px;
			position: relative;
			bottom: 11px;
			& > div:not(.drop-down-type-for-field){
				@include shape(113px, 40px, 0);
				background-color: #fff;
				border: 1px solid #cdcdcd;
				padding-left: 11px;
				font-family: $font-family-medium;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

.attendee-fields-entry{
	display: flex;
	flex-direction: column;
	padding-right: 35px;
	padding-left: 40px;
	& .rights-select-icon{
		margin-right: 15px;
    	margin-top: 13px;
    	background-image: url('/assets/images/select-arrows-ico.png');
	}
	& .custom-field-options-div{
		bottom: 210px;
	    z-index: 999;
	    left: 636px;
	    padding-right: 0;
	    margin-top: 0;
	    & > div{
	    	border-bottom: 1px solid #cdcdcd;
	    	text-align: center;
	    	cursor: pointer;
	    	&:hover{
	    		background-color: #c4c4c4;
	    	}
	    	&:last-child{
	    		border-bottom-style: none;
	    	}
	    }
	}
	& p{
		margin: 0;
	}
	& .select-standard-attendee-fields{
		padding-bottom: 30px;
		border-bottom: 2px solid #cdcdcd;
		& > p{
			font-size: 16px;
			font-family: $font-family-demi;
			margin-bottom: 40px;
		}
		& .standard-attendee-fields{
			    display: flex;
			    flex-direction: column;
			    flex-wrap: wrap;
			    max-height: 312px;
			& > div{
				display: flex;
				flex-direction: row;
				align-items: center;
				max-height: 40px;
				& > p:first-child{
					width: 25%;
				}
				&:nth-child(3){
					margin-bottom: 20px;
				}
				& > div{
					display: flex;
					flex-direction: row;
					align-items: center;
					& > img{
						margin-left: auto;
    					margin-right: 11px;
					}
				}
				& > .drop-down-type-for-field{
					display: flex;
				    flex-direction: column !important;
				    align-items: initial !important;
				    width: 124px;
				    z-index: 9999;
				    height: 120px;
				    background-color: #fff;
				    position: relative;
				    right: 126px;
				    top: 87px;
				    border: 1px solid #cdcdcd;
				    visibility: hidden;
				    & > div{
				    	border-bottom: 1px solid #cdcdcd;
				    	text-align: left;
				    	line-height: 40px;
				    	padding-left: 11px;
				    	cursor: pointer;
				    	&:hover{
				    		background-color: #c4c4c4;
				    	}
				    	&:last-child{
				    		border-bottom-style: none;
				    	}
				    }
				}
			}
		}
	}
	& .create-additional-attendee-fields{
		display: flex;
		flex-direction: row;
		height: 393px;
		margin-bottom: 30px;
		border-bottom: 2px solid #cdcdcd;
		& > div > p{
			font-size: 16px;
			font-family: $font-family-demi;
			margin-bottom: 30px;
		}
		& > div{
			width: 50%;
			padding-top: 40px;
			&:first-child{
				border-right: 2px solid #cdcdcd;
				& .create-additional-attendee-fields-panel{
					padding-top: 16px;
					padding-bottom: 15px;
					width: 97%;
					background-color: #edf0f2;
					& > div:first-child{
						padding-right: 12px;
						padding-left: 16px;
						border-bottom: 1px solid #cdcdcd;
						& > div:not(.conference-custom-field-options){
							font-family: $font-family-medium;
							font-size: 14px;
							& > input{
								height: 41px;
								padding-left: 10px;
								width: 50%;
							}
							& > div:not(.drop-down){
								border: 1px solid #cdcdcd;
								height: 45px;
								line-height: 47px;
								padding-left: 10px;
								margin-left: 10px;
								margin-bottom: auto;
								width: 45%;
								background-color: #fff;
							}
							& .custom-fields-option-name-for-registration-form{
								border-style: none;
							}
							&:first-child{
								margin-bottom: 20px;
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: space-between;
								& > div > img{
									position: relative;
								    left: 55%;
								    top: 7%;
								}
							}
							&:last-child > input{
								margin-bottom: 20px;
								margin-right: 10px;
							}
							&:last-child{
								display: flex;
								margin-bottom: 15px;
								align-items: center;
								flex-direction: row;
							}
						}
					}
					& > div:last-child{
						padding-top: 15px;
						display: flex;
						justify-content: flex-end;
						& > div:not(.custom-fields-option-name-for-registration-form){
							border: 1px solid #cdcdcd;
							background-color: #fff;
							font-size: 14px;
							font-family: $font-family-demi;
							@include shape(150px, 40px, 20px);
							text-align: center;
							line-height: 40px;
							margin-right: 12px;
						}
					}
				}
			}
			&:last-child{
				margin-left: 45px;
				& .additional-custom-fields{
					display: flex;
					flex-direction: column;
					overflow-y: auto;
					height: 280px;
					padding-top: 4px;
					& .additional-custom-fields-item{
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-bottom: 12px;
						min-height: 42px;
						& img{
							margin-right: 10px;
						}
						& > p{
							width: 25%;
						}
						& > div:nth-child(2){
							@include shape(124px, 40px, 0);
							border: 1px solid #cdcdcd;
							font-family: $font-family-medium;
							font-size: 14px;
							padding-left: 10px;
							font-weight: bold;
							line-height: 40px;
							margin-right: 22px;
							& img{
							    position: relative;
							    left: 32px;
							    top: 2px;
							}
						}
						& .drop-down-type-for-field{
							position: relative;
							display: inline-table;
							visibility: hidden;
						    z-index: 999999 !important;
						    right: 158px !important;
						    top: 88px;
						    background-color: #fff;
						    padding-left: 0 !important;
						    width: 134px !important;
						    border: 1px solid #cdcdcd;
						    & > div{
								padding-left: 10px;
								border-bottom: 1px solid #cdcdcd;
								cursor: pointer;
								width: 124px;
								height: 40px;
								line-height: 43px;
								&:hover{
									background-color: #c4c4c4;
								}
								&:last-child{
									border-bottom-style: none;
								}
						    }
						}
					}
				}
			}
		}
	}
	& .custom-fields-option-name-for-registration-form{
		width: 60%;
		display: flex;
		align-items: center;
	}
	& .conference-custom-field-options{
		height: 10vh;
		overflow-y: auto;
	}
	& .conference-custom-field-name{
		width: 56%;
		&:first-child{
			padding-top: 0;
		}
	}
}
