.continuing-education-for-iframe{
	& p{
		margin: 0;
		color: #4a4a4a;
	}
	& > p{
		font-size: 16px;
		@include open-sans-semibold;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-top: 27px;
		margin-bottom: 38px;
	}
	& > div{
		min-height: 293px;
		display: flex;
		flex-direction: column;
		border-top: 1px solid #4a4a4a;
		overflow-y: auto;
		& > div{
			display: flex;
			flex-direction: row;
			padding-left: 38px;
			align-items: center;
			height: 60px;
			border-bottom: 1px solid #cdcdcd;
			& > p{
				margin-left: 10px;
				font-size: 14px;
				@include open-sans-semibold;
				text-align: left;
			}
		}
	}
}
.ce-check-circle{
	@include shape(25px, 25px, 50%);
    border: 1px solid #979797;
}
.item-checked-circle{
	background-color: #68aa3b;
}

@media only screen and (max-width: 768px){
	.iframe-cancel-button{
		display: none;
	}
	.continuing-education-for-iframe > p{
		font-size: 15px;
		height: 87px;
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 22px;
		background-color: #f0f9ff;
	}
	.continuing-education-for-iframe > div > div{
		padding-left: 15px;
		height: 80px;
		& > p{
			font-size: 16px;
			margin-left: 16px;
		}
	}
}