@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #level_slider {
        overflow: hidden;
        margin-bottom: -11px;
    }
    select::-ms-expand {
        display: none;
    }
}

@media screen and (-ms-accelerator:true) {
    #level_slider {
        overflow: hidden;
        margin-bottom: -11px;
    }
}

.registration-iframe-step2-header{
    background-color: #edf0f2;
    overflow-x: hidden;
    border-bottom: 1px solid #4a4a4a;
    position: relative;
    & p{
        margin: 0;
    }
    & > p{
        @include open-sans-semibold;
        font-size: 14px;
        color: #4a4a4a;
        margin-top: 13px;
        margin-bottom: 19px;
    }
    & .registration-iframe-step2-header-levels-container{
        align-items: center;
        overflow: hidden;
        max-width: 100%;
    }
    & .registration-iframe-step2-header-levels-container-mobile{
        display: none;
    }
    & .fa:not(.fa-star-o) {
        z-index: 99999;
        position: absolute;
        font-size: 20px;
    }
    & .fa-arrow-left{
        left:20px;
    }
    & .fa-arrow-right{
        right: 20px;
    }
    & .step2-choose-level-panel{
        -ms-overflow-style: none;
        overflow: auto;
        align-items: center;
        justify-content: space-between;
        max-height: 132px;
        min-height: 91px;
        position: relative;
        &::-webkit-scrollbar{
            height: 0;
        }
        & .step2-level-tab {
            @include shape('auto', 65px, 0);
            max-width: 200px;
            position: relative;
            margin-right: 20px;
            background-color: #fff;
            min-width: 110px;
            text-align: center;
            line-height: 67px;
            @include open-sans-regular;
            color: #4a4a4a;
            border: 1px solid #cdcdcd;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 10px;
            font-size: 0px;
            &:last-child{
                margin-right: 0;
            }
            &:before {
              content: "";
              height: 65px;
              width: 0px;
              display: inline-block;
              vertical-align: middle;
            }
            & .fa-star-o{
                position: absolute;
                bottom: 6px;
                right: 6px;
                font-size: 14px;
                color: #4a4a4a;
            }
        }



    }
}
.registration-iframe-step2-footer{
    align-items: center;
    & p{
        margin: 0;
        color: #4a4a4a;
    }
    & .registration-iframe-recommended_level{
        color: #589d2d;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 16px;
        @include open-sans-semibold;
        font-style: italic;
    }
    & .registration-iframe-step2-footer-title{
        @include open-sans-bold;
        font-size: 28px;
        width: 80%;
        margin: 0px auto;
        margin-top: 32px;
        text-align: center;
    }
    & .registration-iframe-step2-footer-price{
        @include open-sans-semibold;
        font-size: 14px;
    }
    & .step2-level-details{
        padding-top: 36px;
        padding-bottom: 64px;
        min-width: 71%;
        max-width: 71%;
        align-items: flex-start;
        font-size: 12px;
        border-top: 1px solid #cdcdcd;
        @include open-sans-semibold;
        line-height: 20px;
        & .step2-level-details-description{
            margin-bottom: 35px;
        }
        & .step2-level-details-benefits{
            display: list-item;
            margin-left: 16px;
        }
    }
}
.circle-checked{
    @include shape(26px, 26px, 50%);
    border: 2px solid #fff;
    background-color: #68aa3b;
    line-height: 24px;
    position: relative;
    top: 13px;
    & > img{
        position: relative;
        bottom: 2px;
        left: 3px;
    }
}
.slider-item-gray{
    opacity: 0.3;
    background-color: #fff !important;
    color: #4a4a4a !important;
    pointer-events: none;
}
.arrow-opacity{
    opacity: 0.3;
    pointer-events: none;
}
.down-arrow-for-selection{
    width: 0;
    height: 0;
    border: 20px solid #cdcdcd;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #cdcdcd;
    border-bottom: none;
    position: relative;
    bottom: 3px;
    left: 41px;
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 18px dashed #26a7de;
        left: -18px;
        top: -19px;
        border-top-style: solid;
        border-bottom: none;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
.level-active{
    margin-bottom: 0 !important;
    border-style: none !important;
    background-color: #26a7de !important;
    color: #fff !important;
    font-family: "Open Sans" !important;
    font-weight: 700 !important;
    & .fa-star-o{
        color: #fff !important;
    }
}

@media screen and (max-width: 768px){
    .registration-iframe-step2-footer{
        display: none;
    }
    .registration-form-bottom .iframe-next-button{
        display: none;
    }
    .registration-form-bottom .iframe-cancel-button{
        display: none !important;
    }
    .registration-form-bottom .previous-step{
       font-size: 16px;
       margin-left: auto;
       color: #39393a;
    }
    .registration-iframe-step2-header{
        background-color: #f0f9ff;
        & > p{
            font-size: 15px;
            margin: 21px auto 26px auto;
        }
        & .registration-iframe-step2-header-levels-container{
            display: none;
        }
        & .registration-iframe-step2-header-levels-container-mobile{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        & .mobile-level-tab{
            width: 100%;
            min-height: 55px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-left: 25px;
            padding-right: 20px;
            background-color: #edf0f2;
            border-bottom: 1px solid #cdcdcd;
            &:first-child{
                border-top: 1px solid #cdcdcd;
            }
            & > div{
                width: inherit;
                &:first-child{
                    display: flex;
                    align-items: center;
                    & > .mobile-level-title{
                        font-size: 16px;
                        color: #4a4a4a;
                        margin-right: auto;
                        margin-left: auto;
                        @include open-sans-semibold;
                    }
                    & .fa{
                        color: #39393a;
                        font-size: 20px;
                    }
                    & .fa-star-o{
                        position: absolute;
                        right: 29px;
                    }
                }
            }
        }
        & .mobile-level-tab-active{
            background-color: #fff;
            padding-top: 20px;
            & > div .mobile-level-title{
                @include open-sans-bold;
            }
            & .level-details-container{
                padding-bottom: 26px;
                & > p{
                    text-align: center;
                }
                & .registration-iframe-recommended_level{
                    font-size: 14px;
                    color: #589d2d;
                    @include open-sans-semibold;
                    font-style: italic;
                    margin-top: 28px;
                }
                & .level-swipe-description-first-tab .step2-level-details-description{
                    font-size: 16px;
                    @include open-sans-regular;
                    color: #4a4a4a;
                    margin-top: 32px;
                    margin-bottom: 35px;
                    text-align: justify;
                    line-height: 28px;
                }
                & .level-swipe-description-first-tab .level-price-container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include open-sans-bold;
                    font-size: 16px;
                    color: #4a4a4a;
                    margin-bottom: 40px;
                    & > div{
                        height: 1px;
                        width: 30%;
                        background-color: #c3c3c3;
                    }
                }
                & .level-description-swipe-dots{
                    display: flex;
                    align-items: center;
                    margin-bottom: 33px;
                    width: 28px;
                    margin-right: auto;
                    margin-left: auto;
                    & .fa{
                        font-size: 9px;
                        color: #9b9b9b;
                        position: relative;
                    }
                    & .fa-circle{
                        color: #26a7de;
                    }
                }
                & .select-level-button{
                    @include shape(100%, 45px, 4px);
                    background-color: #26a7de;
                    text-align: center;
                    line-height: 45px;
                    font-size: 16px;
                    @include open-sans-bold;
                    color: #fff;
                }
                & .level-swipe-description-second-tab{
                    margin-bottom: 32px;
                    & .step2-level-details-benefits{
                        display: list-item;
                        margin-bottom: 16px;
                        margin-left: 24px;
                        @include open-sans-regular;
                        font-size: 16px;
                        &:first-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.level-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  max-width: 200px;
  width: 100%;
}

.level-name .text-inside-level {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  line-height: 14px;
  max-height: 28px;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 200px;
  text-align: center;
}
