//.ngdialog-content:has(> .session-profile-for-iframe){
//	width: 600px !important;
//}
.session-profile-for-iframe{
	& p, & img{
		margin: 0;
	}
	@include modal;
	border: 3px solid #26a7de;
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 50px;
	& > img{
		margin-top: 20px;
	    position: absolute;
	    right: 20px;
	}
	& > div{
		&:nth-child(2){
			margin-left: 38px;
			margin-right: 39px;
			& > div{
				margin-top: 46px;
				margin-bottom: 21px;
				align-items: center;
				justify-content: center;
				& > p{
					font-size: 14px;
					@include open-sans-semibold;
					line-height: 28px;
					&:first-child{
						font-size: 20px;
						@include open-sans-bold;
					}
				}
			}
			& > p{
				font-size: 12px;
				line-height: 20px;
				@include open-sans-regular;
				margin-bottom: 10px;
				&:nth-child(3){
					margin-top: 20px;
				}
				&:last-child{
					margin-bottom: 20px;
				}
			}
		}
		&:last-child{
			border-top: 2px solid #cdcdcd;
			& > div{
				margin-top: 21px;
				margin-bottom: 37px;
				@include shape(148px, 40px, 4px);
				background-color: #26a7de;
				line-height: 40px;
				color: #fff;
				text-align: center;
				@include open-sans-bold;
				font-size: 14px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	& .session-profile-iframe-speaker{
		margin-left: 38px;
		margin-right: 39px;
		padding-top: 24px;
		border-top: 1px solid #cdcdcd;
		& > p{	
			&:first-child{
				@include open-sans-bold;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}
		& > div > p{
			font-size: 12px;
			line-height: 20px;
			@include open-sans-regular;
			margin-bottom: 21px;
			margin-top: 19px;
			overflow-wrap: break-word;
		}
		& > div > div{
			& .session-profile-speaker-image{
				margin-right: 15px;
				@include shape(60px, 60px, 50%);
				& > img{
					@include shape(60px, 60px, 50%);
				}
				& .default-avatar{
					margin-top: 0 !important;
				}
			}
			& .session-profile-speaker-details{
				& > p{
					font-size: 12px;
					@include open-sans-regular;
					line-height: 20px;
					&:first-child{
						@include open-sans-bold;
					}
				}
				& > div{
					min-width: 114px;
					margin-top: 4px;
					& > img{
						height: 16px;
						margin-right: 20px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.ngdialog-content{
		width: 90%;
		border-radius: 10px;
	}
	.session-profile-iframe-speaker{
		border-top: none !important;
	}
	.session-profile-for-iframe{
		border-radius: 10px;
		border-style: none;
		& > div:last-child{
			padding: 26px 55px 33px 55px;
			& .session-popup-preview-select-button{
				width: 100%;
				height: 45px;
				margin: 0 !important;
			}
		}
		& .session-profile-iframe-header{
			& > p{
				font-family: "Open Sans";
				font-weight: 400 !important;
				&:first-child{
					font-family: $font-family-demi !important;
					font-size: 17px !important;
					font-weight: 600 !important;
					letter-spacing: -0.4px;
					max-width: 15em;
					text-align: center;
				}
			}
		}
		& .session-popup-preview-details{
			font-size: 14px !important;
		}
		& .session-profile-iframe-speaker{
			& > p{
				font-family: "Open Sans";
				font-weight: 700;
				font-size: 14px !important;
			}
			& .session-profile-speaker-details{
				& > p:first-child{
					font-family: "Open Sans";
					font-weight: 700 !important;
					font-size: 14px !important;
				}
				& > p:nth-child(2){
					font-family: "Open Sans";
					font-weight: 400 !important;
					font-size: 14px !important;
				}
			}
			& .session-profile-speaker-biography{
				font-size: 14px !important;
			}
		}
	}
	.session-profile-for-iframe > div:last-child > div{
		margin-bottom: 0;
		margin-top: 0;
		width: auto;
	}
}