.registration-review{
	padding-left: 42px;
	padding-right: 42px;
	& p{
		margin: 0;
	}
	& i{
		width: 12px;
	}
	& > p:first-child{
		font-family: $font-family-medium;
		font-size: 16px;
		margin-bottom: 28px;
	}
	& .main-registration-review{
		height: 56px;
		background-color: #edf0f2;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 16px;
		padding-right: 16px;
		border: 1px solid #cdcdcd;
		cursor: -webkit-grab;
		& > p{
			font-size: 16px;
			font-family: $font-family-demi;
			margin-left: 17px;
		}
		& > div{
			@include shape(100px, 30px, 20px);
			font-family: $font-family-medium;
			font-size: 12px;
			text-align: center;
			line-height: 30px;
			background-color: #fff;
			border: 1px solid #cdcdcd;
			margin-left: auto;
		}
	}
	& .drop-down-registration-review{
		border: 1px solid #cdcdcd;
		border-top-style: none;
		border-bottom-style: none;
		display: none;
		flex-direction: row;
		padding-left: 20px;
		padding-right: 44px;
		padding-top: 28px;
		padding-bottom: 37px;
	}
	& .legal-review{
		display: none;
		flex-direction: row;
		& > div{
			display: flex;
			flex-direction: column;
			width: 30%;
			margin-right: auto;
			margin-left: auto;
			& > p{
				margin-bottom: 10px;
				font-family: $font-family-demi;
				font-size: 14px;
			}
			& > div{
				display: flex;
				flex-direction: row;
				align-items: center;
				& > p{
					font-family: $font-family-medium;
					font-size: 12px;
					&:nth-child(2){
						margin-right: 10px;
						margin-left: 10px;
					}
					&:nth-child(3){
						color: #59bbe7;
					}
				}
			}
		}
	}
	& .attendee-fields-review{
		display: none;
		flex-wrap: wrap;
		flex-direction: column;
		height: 135px;
		& > div{
			width: 30%;
			margin-bottom: 10px;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			flex-direction: row;
			& > p{
				font-size: 12px;
				font-family: $font-family-medium;
			}
			& > p:first-child{
				width: 27%;
				font-style: none;
			}
		}
	}
	& .drop-down-registration-review-level{
		border: 1px solid #cdcdcd;
		border-top-style: none;
		display: none;
		flex-direction: column;
		& .drop-down-registration-review-level-details-header{
			height: 56px;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 44px;
			cursor: -webkit-grab;
			border-bottom: 1px solid #cdcdcd;
			& > p{
				font-family : $font-family-demi;
				font-size: 14px;
				margin-left: 6px;
			}
			& > div{
				@include shape(100px, 30px, 20px);
				font-family: $font-family-medium;
				font-size: 12px;
				text-align: center;
				line-height: 30px;
				background-color: #fff;
				border: 1px solid #cdcdcd;
				margin-left: auto;
				margin-right: 16px;
			}
		}
		& .drop-down-registration-review-level-emails-list{
			border-bottom-style: none;
		}
		& .drop-down-registration-review-level-emails-list-tab{
			border-top: 1px solid #cdcdcd;
		}
		& .drop-down-registration-review-level-details{
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid #cdcdcd;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-left: 44px;
    		padding-left: 19px;
    		&:nth-child(4){
    			flex-wrap: wrap;
					max-height: 50vh;
					overflow: scroll;
				& > p{
	    			font-family: $font-family-medium;
					font-size: 12px;
					margin-bottom: 12px;
					text-overflow: ellipsis;
					width: 20%;
					display: inline-block;
					vertical-align: top;
					overflow: hidden;
	    		}
    		}
			&:nth-child(2){
				& > div{
					width: 45%;
					&:first-child{
						margin-right: auto;
						& > p{
							font-family : $font-family-demi;
							font-size: 14px;
							margin-bottom: 12px;
							&:last-child{
								font-family : $font-family-medium;
								font-size: 12px;
								overflow: hidden;
						    text-overflow: ellipsis;
						    height: calc(100% - 30px);
							}
						}
					}
					&:last-child{
						display: flex;
						flex-direction: column;
						& > div{
							& > p{
								font-family: $font-family-demi;
								font-size: 14px;
								margin-bottom: 12px;
							}
							& > div{
								display: flex;
								flex-direction: row;
								& > p{
									font-family: $font-family-medium;
									font-size: 12px;
									margin-bottom: 10px;
									&:first-child{
										width: 110px;
									}
								}
							}
							&:first-child{
								margin-bottom: 33px;
							}
						}
					}
				}
			}
			&:nth-child(6){
				display: flex;
				flex-direction: row;
				& > div{
					width: 30%;
					margin-right: auto;
					margin-left: auto;
					& > p{
						font-family: $font-family-demi;
						font-size: 14px;
						margin-bottom: 12px;
					}
					&:first-child{
						& > div{
							display: flex;
							flex-direction: column;
							& > p{
								font-family: $font-family-medium;
								font-size: 12px;
								margin-bottom: 10px;
								&:last-child{
									margin-bottom: 0;
								}
							}
						}
					}
					&:nth-child(2){
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						& > div{
							& > p{
								&:first-child{
									font-family: $font-family-demi;
									font-size: 14px;
									margin-bottom: 12px;
								}
								&:last-child{
									font-family: $font-family-medium;
									font-size: 12px;
									margin-bottom: 30px;
								}
							}
							&:last-child > p:last-child{
								margin-bottom: 0;
							}
						}
					}
					&:last-child{
						& > div{
							display: flex;
							flex-direction: row;
							& > p{
								font-family: $font-family-medium;
								font-size: 12px;
								margin-bottom: 10px;
								&:first-child{
									width: 110px;
								}
							}
						}
					}
				}
			}
			&:nth-child(8){
				display: flex;
				flex-direction: row;
				border-bottom-style: none;
				& > p{
					font-family: $font-family-medium;
					font-size: 12px;
					&:last-child{
						color: #59bbe7;
						margin-left: 5px;
					}
				}
			}
		}
	}
	& .create-registration-form-footer{
		padding-top: 37px;
		border-top: 1px solid #cdcdcd;
		margin-bottom: 40px;
	}
}
.benefit-bullet{
	display: list-item;
}

#registration-preview-button {
	border-style: none;
    width: 175px;
    color: #fff;
    background-color: #68aa3b;
    font-family: "AvenirNextLTPro-Bold";
    margin-left: 15px;
}
.registration-form-level-members{
	@include modal;
	padding: 25px 51px 6px 34px;
	height: 75vh;
	overflow-y: scroll;
	& p{
		margin: 0;
		color: #4a4a4a;
		font-size: 14px;
	}
	& > div{
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
}
