.registration-form-ifrm{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.registration-form-top{
	@include open-sans-regular;
	font-size: 24px;
	border-bottom: 1px solid #cdcdcd;
	& p{
		margin: 0;
	}
	& span{
		@include open-sans-bold;
	}
	& > p{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 34px;
		padding-top: 32px;
	}
}
.guest-info{
	position: relative;
	text-align: center;
	margin: 0 0 40px 0;
	& p{
		font-family:"Open Sans";
		font-size: 18px;
    display: inline-block;
    margin-right: 10px;
	}
	& div{
		@include open-sans-bold;
		color: #fff;
		text-align: center;
		line-height: 34px;
		@include shape(148px, 34px, 4px);
		background-color: #26a7de;
		display: inline-block;
	}
}

.registration-form-bottom{
	padding: 34px 31px 43px 37px;
	justify-content: space-between;
	border-top: 1px solid #cdcdcd;
	& > div{
		font-size: 14px;
		&:first-child{
			@include open-sans-semibold;
			color: #26a7de;
			display: flex;
			align-items: center;
		}
		&:last-child{
			@include open-sans-bold;
			color: #fff;
			text-align: center;
			line-height: 40px;
			@include shape(148px, 40px, 4px);
			background-color: #26a7de;
		}
	}
}
.registration-form-ifrm-content{
	//width:700px;
	//margin-left: calc(50vw - 350px);
	//margin-top: 100px;
	//border-radius: 4px;
	//box-shadow: 0 2px 10px $shadow, 0 -2px 10px $shadow !important;
	//min-height: 600px;
	//margin-bottom: 177px;
	& .registration-form-top-secound{
		padding: 27px 90px 40px 90px;
		justify-content: space-between;
		& > p{
			&:first-child{
				font-size: 16px;
				@include open-sans-semibold;
			}
			&:last-child{
				color: #f58a1c;
				@include open-sans-regular;
				font-size: 12px;
				&::before{
					content: '*';
					@include open-sans-bold;
					font-size: 14px;
				}
			}
		}
	}
	& .registration-form-fields{
		padding-left: 90px;
		padding-right: 90px;
		& .fa{
			position: absolute;
			right: 12px;
			bottom: 43px;
			color: #818181;
			font-size: 16px;
		}
		& .small-registration-field-container{
			position: relative;
		}
		& .registration-form-field, & .registration-form-custom-field{
			& > p{
				margin-bottom: 12px;
				& label{
					@include open-sans-regular;
					font-size: 16px;
				}
			}
			& > input, .custom-field-drop-down-container, & > div > select{
				-moz-appearance:none;
				width: 100%;
				font-size: 16px;
				height: 45px;
				border: 1px solid #cdcdcd;
				padding-left: 12px;
				margin-bottom: 30px;
				background-color: #fff;
				@include open-sans-regular;
				&::-webkit-input-placeholder{
					@include open-sans-italic;
					color: #9b9b9b;
				}
			}
			& > div{
				position: relative;
			}
			& > .custom-field-drop-down-container{
				position: relative;
				padding-left: 0;
				& .fa{
					position:absolute;
					right: 12px;
					bottom: 12px !important;
					color: #818181;
				}
			}
		}
	}
	& .agree-terms-checkbox{
		    display: inline-flex;
				font-family: "AvenirNextLTPro-Regular";
        font-size: 14px;
        color: #4a4a4a;
				cursor:pointer;
				& .checkbox-ico{
					width:23px;
					height:19px;
				}
	}
}
.small-registration-field{
  width: 17% !important;
  height: 45px;
}
.medium-registration-field{
  height: 45px;
  width: 28% !important;
}
.registration_level_benefit_item {
	width: 239px;
	height: 40px;
	border-radius: 0 !important;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
}
.previous-step{
	@include shape(148px, 40px, 4px);
	border: 1px solid #26a7de;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	@include open-sans-semibold;
	margin-left: auto;
	margin-right: 20px;

}
.registration-form-top-edit{
	padding-top: 32px;
	padding-bottom: 34px;
	border-bottom: 2px solid #cdcdcd;
	& > p{
		@include open-sans-bold;
		font-size: 24px;
		text-align: center;
	}
}
.registration-form-bottom-edit{
	padding: 34px 31px 40px 37px;
	border-top: 2px solid #cdcdcd;
	& > div{
		&:first-child, &:nth-child(2){
			@include shape(148px, 40px, 4px);
			border: 1px solid #26a7de;
			font-size: 14px;
			@include open-sans-semibold;
			text-align: center;
			line-height: 40px;
		}
		&:nth-child(2){
			margin-left: 18px;
			margin-right: auto;
		}
		&:last-child{
			@include shape(148px, 40px, 4px);
			background-color: #26a7de;
			font-size: 14px;
			@include open-sans-bold;
			text-align: center;
			line-height: 40px;
			color: #fff;
		}
	}
}
.grayed-out-tab{
	opacity: 0.5 !important;
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.registration-form-top{
		height: 44px;
		font-size: 17px;
		& > p{
			margin-bottom: 11px;
			margin-top: 10px;
			padding-top: 0;
		}
	}
	.registration-form-top-secound{
		position: relative;
		height: 69px;
		padding: 0 !important;
		background-color: #f0f9ff;
		& > p{
			&:first-child{
				font-size: 15px !important;
				margin: 21px auto 26px auto;
			}
			&:last-child{
				position: absolute;
				bottom: -50px;
				right: 29px;
			}
		}
	}
	.registration-form-fields{
		padding-left: 25px !important;
		padding-right: 29px !important;
		padding-top: 18px;
		border-top: 1px solid #cdcdcd;
	}
	.medium-registration-field{
		width: 46% !important;
	}
	.small-registration-field{
		width: 29% !important;
	}
	.guest-info{

		& div{
			width: 100% !important;
			line-height: 40px;
    	height: 40px;
		}
	}
	.registration-form-bottom{
		padding: 32px 29px 18px 30px;
		flex-direction: column-reverse;
		& > div{
			width: 100% !important;
			text-align: center !important;
			font-size: 16px !important;
			height: 45px !important;
			line-height: 45px !important;
			&:last-child{
				margin-bottom: 23px;
			}
			&:first-child{
				width: auto !important;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.validation-errors-container > div{
		margin-left: 26px !important;
	}
}

.select-icon-for-field {
	pointer-events: none;
}

.iframe-error-messages-wrapper {
	height: 80px;
	background-color: #E91D26;
	text-align: center;
	padding-left: 12%;
	padding-right: 12%;
	box-sizing: border-box;
}

.iframe-error-messages-wrapper .message {
	color: white;
	font-family: 'AvenirNextLTPro-Demi';
	line-height: 80px;
}

.iframe-error-messages-wrapper .message .fa {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
}

.iframe-error-messages-wrapper .message span {
	line-height: 24px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}
