.registration-form-ifrm-content{
    & .registration-iframe-complete-header{
        height: 100px;
        background-color: #26a7de;
        & > p{
            font-size: 24px;
            color: #fff;
            @include open-sans-bold;
            padding-top: 32px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }
}

.registration-iframe-complete{
    & p{
        color: #4a4a4a;
        margin: 0;
    }
    & .registration-complete-conference-details{
        margin-top: 28px;
        padding-bottom: 36px;
        border-bottom: 2px solid #cdcdcd;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > img{
            width: auto;
            height: auto;
            max-width: 142px;
            max-height: 115px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
        & > p{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            line-height: 24px;
            @include open-sans-regular;
            &:nth-child(2), &:nth-child(3){
                font-size: 16px;
                @include open-sans-semibold;
            }
            &:nth-child(3){
                margin-bottom: 17px;
            }
        }
    }
    & .registration-complete-id-details{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        margin-right: 90px;
        padding-bottom: 34px;
        border-bottom: 2px solid #cdcdcd;
        & > p{
            margin-top: 27px;
            margin-bottom: 27px;
            text-align: center;
            font-size: 16px;
            @include open-sans-semibold;
        }
        & > qr{
            margin-right: auto;
            margin-left: auto;
            width: 125px;
        }
    }
    & .registration-complete-register-details{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-right: 90px;
        margin-left: 90px;
        padding-top: 31px;
        padding-bottom: 23px;
        border-bottom: 2px solid #cdcdcd;
        & > div{
            display: flex;
            flex-direction: column;
            width: 50%;
            & > p{
                @include open-sans-regular;
                font-size: 12px;
                line-height: 20px;
                &:first-child{
                    @include open-sans-bold;
                }
            }
        }
    }
    & .registration-complete-level-details{
        margin-right: 90px;
        margin-left: 90px;
        padding-top: 26px;
        padding-bottom: 43px;
        & > div{
            display: flex;
            flex-direction: column;
            &:first-child{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 30px;
                & > p{
                    @include open-sans-bold;
                    font-size: 12px;
                }
            }
            &:nth-child(2){
                & > p{
                    @include open-sans-semibold;
                    font-size: 12px;
                }
                & > div{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    &:last-child{
                        margin-bottom: 30px;
                    }
                     & > p{
                        @include open-sans-regular;
                        font-size: 12px;
                        &:first-child{
                            display: list-item;
                            margin-left: 17px;
                        }
                    }
                }
            }
            &:nth-child(3){
                width: 50%;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                & > div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    @include open-sans-regular;
                    font-size: 12px;
                }
                & > div:last-child > p{
                    margin-top: 30px;
                    @include open-sans-bold;
                    font-size: 12px;
                }
            }
            &:last-child{
                margin-top: 51px;
               & > p{
                    line-height: 18px;
                    font-size: 12px;
                    @include open-sans-regular;
               }
            }
        }
    }
}
.registration-iframe-complete-email-confirmation{
    display: none;
}
.registration-form-bottom-edit{
    & > div:not(:last-child){
        width: 108px;
    }
    & > p{
        margin-right: 30px;
        font-style: 14px;
        @include open-sans-semibold;
        color: #26a7de;
        line-height: 40px;
    }
}

@media only screen and (max-width: 768px){
    .registration-iframe-complete-header{
        & > p{
            font-size: 17px !important;
            margin: 0;
            padding: 0;
            padding-top: 29px;
        }
    }
    .registration-iframe-complete-email-confirmation{
        display: flex;
        flex-direction: column;
        padding: 27px 20px 25px 24px;
        border: 1px solid #cdcdcd;
        & .fa{
            font-size: 77px;
            margin-bottom: 30px;
            width: auto;
            text-align: center;
            color: #68aa3b;
        }
        & > p{
            font-size: 16px;
            color: #4a4a4a;
            text-align: center;
            line-height: 28px;
            @include open-sans-semibold;
        }
    }
    .registration-iframe-complete{
        & p{
            font-size: 14px !important;
        }
        & > div{
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 24px !important;
            padding-right: 20px !important;
        }
        & .registration-complete-register-details{
            & > div:first-child{
                margin-bottom: 35px;
            }
        }
        & .registration-complete-level-details{
            & > div > p{
                font-size: 12px !important;
            }
        }
    }
    .registration-form-bottom-edit{
        flex-direction: column !important;
        & > div{
            width: auto !important;
            height: 45px !important;
            font-size: 16px;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 50px;
            }
            &:nth-child(2){
                margin: 0 !important;
                margin-bottom: 31px !important;
            }
        }
        & > p{
            margin-right: 0;
            text-align: center;
            font-size: 16px;
            margin-bottom: 31px;
        }
    }
}

.registration-complete-guest-details {
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #cdcdcd;
}
