// .registration-legal{
// 	padding: 0 42px;
// 	display: flex;
// 	flex-direction: column;
// 	margin-bottom: 55px;
// 	& p{
// 		margin: 0;
// 	}
// 	& > p{
// 		font-family: $font-family-demi;
// 		font-size: 16px;
// 		&:nth-child(2){
// 			font-family: $font-family-medium;
// 			margin-top: 25px;
// 			margin-bottom: 55px;
// 		}
// 	}
// 	& > div{
// 		display: flex;
// 		flex-direction: row;
// 		& > div{
// 			width: 40vw;
// 			&:first-child{
// 				margin-right: auto;
// 			}
// 			& .registration-legal-titles{
// 				margin-bottom: 24px;
// 				font-family: $font-family-demi;
// 				font-size: 16px;
// 			}
// 			& > div{
// 				&:nth-child(2){
// 					height: 56px;
// 					display: flex;
// 					flex-direction: row;
// 					align-items: center;
// 					border: 2px dashed #979797;
// 					background-color: #edf0f2;
// 					margin-bottom: 26px;
// 					& > div{
// 						&:first-child{
// 							@include shape(150px, 30px, 20px);
// 							background-color: #fff;
// 							font-family: $font-family-demi;
// 							font-size: 12px;
// 							text-align: center;
// 							line-height: 30px;
// 							border: 1px solid #cdcdcd;
// 							margin-right: 15px;
// 							margin-left: 14px;
// 						}
// 						&:last-child{
// 							display: flex;
// 							flex-direction: row;
// 							align-items: center;
// 							& > p{
// 								font-family: $font-family-medium;
// 								font-style: italic;
// 								font-size: 14px;
// 								margin-left: 10px;
// 							}
// 						}
// 					}
// 				}
// 				&:nth-child(3){
// 					border: 1px solid #cdcdcd;
// 					padding: 10px 30px 10px 10px;
// 					height: 300px;
// 					font-family: $font-family-medium;
// 					font-size: 14px;
// 				}
// 			}
// 		}
// 		& > div:first-child{
// 			& > .bottom-title{
// 				margin-top: 55px;
// 				margin-bottom: 28px;
// 			}
// 			& > .legal-agreements-files{
// 				height: 72px;
// 				border: 2px dashed #979797;
// 				background-color: #edf0f2;
// 				padding-top: 21px;
// 				padding-bottom: 27px;
// 				display: flex;
// 				flex-direction: column;
// 				align-items: center;
// 				& > div{
// 					background-color: #fff;
// 					font-family: $font-family-demi;
// 					font-size: 12px;
// 					border: 1px solid #cdcdcd;
// 					@include shape(150px, 30px, 20px);
// 					text-align: center;
// 					line-height: 30px;
// 					margin-top: 24px;
// 				}
// 				& > p{
// 					font-family: $font-family-demi;
// 					font-size: 14px;
// 				}
// 			}
// 		}
// 		& > div:last-child > .registration-uploaded-files{
// 			margin-top: 102px;
// 			display: flex;
// 			flex-direction: column;
// 			height: 83px;
// 			background-color: #edf0f2;
// 			padding-left: 24px;
// 			padding-top: 21px;
// 			padding-bottom: 21px;
// 			& > p{
// 				font-family: $font-family-demi;
// 				font-size: 14px;
// 				margin-bottom: 14px;
// 			}
// 			& > div{
// 				display: flex;
// 				flex-direction: row;
// 				& > p{
// 					font-family: $font-family-medium;
// 					font-style: italic;
// 					font-size: 14px;
// 					margin-left: 10px;
// 				}
// 				& > img{
// 					position: relative;
//     				bottom: 3px;
// 				}
// 			}
// 		}
// 	}
// 	& + .create-registration-form-footer{
// 		border-top: 2px solid #cdcdcd;
// 		padding-top: 40px;
// 	}
// }
