.payment-for-iframe{
	padding-left: 90px;
	padding-right: 90px;
	& p{
		margin: 0;
		color: #4a4a4a;
	}
	& input{
		height: 45px;
		padding-left: 12px;
		font-size: 16px;
		@include open-sans-regular;
	}
	& > div{
		&:first-child{
			justify-content: space-between;
			margin-top: 27px;
			margin-bottom: 40px;
			& > p{
				color: #f58a1c;
				font-size: 12px;
				@include open-sans-regular;
				& > span{
					color: #f58a1c;
					font-size: 14px;
					@include open-sans-bold;
				}
				&:first-child{
					@include open-sans-semibold;
					font-size: 16px;
					color: #4a4a4a;
				}
			}
		}
	}
	& > form > div:not(.validation-error-for-mobile){
		margin-bottom: 27px;
		&:last-child{
			margin-bottom: 33px;
		}
		& p{
			font-size: 16px;
			@include open-sans-regular;
			margin-bottom: 15px;
		}
		&:nth-child(1) > div{
			align-items: center;
			justify-content: space-between;
			& > input{
				width: 39.5%; 
			}
		}
		&:nth-child(2){
			& > div{
				width: 41%;
			}
			& input{
				width: 50.7%;
			}
		}
		&:nth-child(3){
			& > div{
				width: 41%;
			}
			& input{
				width: 50.7%;
			}
		}
	}
}
.validation-error-for-web{
	margin-left: 25px;
	& > div{
		font-size: 16px;
		@include open-sans-regular;
		color: #c30016;
	}
}
.type-of-card-for-iframe{
	border: 1px solid #cdcdcd;
	@include shape(42px, 26px, 0);
}
.valid-CCN-input{
	background-color: #f0f9ff !important;
}

.loading-animation-small {
    background-image: url("/assets/images/rolling.gif");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.required-text-mobile{
	display: none;
}
.credit-card-field-container-logos{
	display: none;
}
.billing-zip-and-name-card-container-mobile{
	display: none;
}

@media only screen and (max-width: 768px){
	.iframe-cancel-button{
		display: none;
	}
	.payment-for-iframe > form > div:nth-child(2) input{
		min-width: 89px !important;
	}
	.payment-for-iframe > form > div:nth-child(2){
		justify-content: space-between;
		& > div{
			width: 47% !important;
		}
	}
	.payment-for-iframe{
		padding: 0 !important;
		& > div:first-child{
			background-color: #f0f9ff;
			border-bottom: 1px solid #cdcdcd;
			height: 69px;
			width: 100%;
			margin: 0 !important;
			& > p:first-child{
				font-size: 15px !important;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 21px;
			}
			& > p:nth-child(2){
				display: none;
			}
		}
	}
	#register_payment_for_iframe{
		padding: 18px 29.3px 26px 25px;
		& .billing-zip-container, & .name-card-container{
			display: none;
		}
		& .billing-zip-and-name-card-container-mobile{
			display: flex;
			align-items: center;
			& > div{
				&:first-child{
					width: 53%;
					& input{
						width: 89px;
					}
				}
				&:nth-child(2){
					width: 47%;
				}
			}
		}
		& > div:last-child{
			margin-bottom: 0;
		}
		& input{
			height: 45px !important;
		}
		& .credit-card-field-container{
			display: block;
			& > input{
				width: 100%;
			}
			& > div:not(.credit-card-field-container-logos){
				display: none;
			}
			& .credit-card-field-container-logos{
				display: inline-flex;
				margin-top: 21px;
				& > div {
					margin-right: 13px;
				}
			}
			& > p{
				& .required-text-mobile{
					position: absolute;
					right: 29.3px;
					color: #f58a1c;
					display: inline-flex !important;
					@include open-sans-semibold;
					font-size: 12px;
					&:first-letter{
						font-size: 14px;
					}
				}
			}
		}
	}
}
