.registration-levels-setup{
	overflow-x: hidden;
	& p{
		margin: 0;
	}
	& > p{
		font-family: $font-family-demi;
		font-size: 16px;
		margin-bottom: 25px;
		padding-left: 40px;
	}
	& .registration-levels-setup-header{
		height: 70px;
		border-bottom: 1px solid #cdcdcd;
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
		& > div{
			border: 1px solid #cdcdcd;
			border-right-style: none;
			text-align: center;
			border-bottom-style: none;
			border-top-width: 1px;
			cursor: pointer;
			display: flex;
			&:first-child{
				position: relative;
				background-color: #fff;
				border-right: 1px solid #cdcdcd;
				border-top-style: none;
			}
			&:nth-child(2){
				border-left-style: none;
				width: calc(100vw - 300px);
    		overflow: hidden;
				background: #fafafa;


			& .registration-header-level{
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 69px;
				border-right: 1px solid #cdcdcd;
				width: 166px;
				font-weight: bold;
				background-color: #fafafa;
				font-family: $font-family-medium;
				font-size: 16px;
				& > p{
					margin-left: 14px;
				}
				& > img{
					position: relative;
    				margin-right: 14px;
					bottom: 2px;
				}
			}
			& .registration-header-level-not-selected{
				& > p{
					margin-left: auto;
					margin-right: auto;
					max-width: 100px;
				}
			}
			& .registration-header-levels{
				display: flex;
				flex-direction: row;
				align-items: center;
				transition-duration: 1s;
				& .type-account-active{
					height:69px !important;
				}
			}
			& .add-level{
				padding-left: 15px;
				display: flex;
				flex-direction: row;
				align-items: center;
				border-left-style: none;
				border-right-style: none;
				background-color: #fafafa;
				transition-duration: 1s;
				& > input{
					@include shape(150px, 41px, 0);
					padding-left: 10px;
					margin-right: 15px;
					font-family: $font-family-medium;
					font-size: 16px;
				}
				& > div{
					@include shape(111px, 30px, 20px);
					font-family: $font-family-bold;
					font-size: 12px;
					cursor: pointer;
					color: #fff;
					background-color: #26a7de;
					line-height: 30px;
				}
			}
		}
	}
	}
	& .description-level{
		display: flex;
		flex-direction: row;
		margin-left: 40px;
		margin-right: 40px;
		padding-bottom: 40px;
		border-bottom: 2px solid #cdcdcd;
		& div{
			& > p{
				margin-bottom: 25px;
				font-family: $font-family-demi;
				font-size: 16px;
			}
			&:first-child {
				width: 45vw;
				margin-right: 5vw;
				& textarea{
					height: 279px;
					font-family: $font-family-medium;
					font-size: 14px;
					width: 100%;
					padding: 20px;
				}
			}
			&:last-child{
				& > input{
					@include shape(239px, 40px, 0);
					margin-right: 15px;
					padding-left: 10px;
					font-family: $font-family-medium;
					font-size: 14px;
				}
				& > img{
					position: relative;
					top: 8px;
					margin-right: 15px;
				}
			}
		}
	}
	& .pricing-level{
		margin-left: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-right: 40px;
		margin-bottom: 40px;
		border-bottom: 2px solid #cdcdcd;
		width: calc(100vw - 250px);
		overflow-x: scroll;
		& > p{
			color: #4a4a4a;
			margin-bottom: 25px;
			font-family: $font-family-demi;
			font-size: 16px;
		}
		& .standard-price, & .early-bird-price{
			& > input{
				font-family: $font-family-medium;
				padding-left: 10px;
				font-size: 14px;
				color: #4a4a4a;
			}
			& > input:first-child{
				//@include shape(146px, 40px, 0);
				//margin-right: 10px;
			}
			& > input:nth-child(3){
				@include shape(67px, 40px, 0);
			}
		}
		& .early-bird-price{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 20px;
			& > p{
				margin-right: 13px;
				margin-left: 13px;
			}
			& > input[placeholder="MM/DD/YYYY"]{
				@include shape(137px, 40px, 0);
			}
		}
	}
	& .continuing-education-session-edit{
		margin-right: 40px;
		margin-left: 40px;
		border-bottom-width: 2px;
		width: 95%;
		margin-bottom: 40px;
		& .sessions-for-this-level{
			margin-right: 0;
			margin-left: 0;
			width: 84vw;
			& > div > p{
				height: 25px;
				font-size: 14px;
				font-family: $font-family-medium;
				text-align: left;
				padding-left: 10px;
				padding-bottom: 10px;
				padding-top: 10px;
				display: flex;
			    cursor: pointer;
			    align-items: center;
				&:hover{
					background-color: #def1fa;
				}
			}
			& > div:nth-child(2) div{
				&:first-child > span:first-child{
					margin-left: 50px;
					margin-right: 26px;
				}
				&:last-child > span:first-child{
					margin-left: 14px;
					margin-right: 35px;
				}
			}
		}
	}
}
.registration-input-date{
	width: 135px;
	height: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.session-selected{
	background-color: #def1fa;
}

.standard-price {
	align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.form-inactive {
	opacity: .3;
	pointer-events: none;
}

.wizzard-form-warning {
	border-color: red;
}

.level-pricing-name {
	width: 135px;
	height: 40px;
}

.level-pricing-line {
	position: relative;
	min-width: 780px;
}

.registration-level-addon-session-title-text {
	width:110px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.registration-add-on-plus-btn {
	font-size: 24px;
	color: #9b9b9b;
	margin-right: 39px;
	margin-left: 10px;
}
