.registration-page{
	height: 81vh;
	overflow-y: scroll;
	& p{
		margin: 0;
	}
	& .merchant-agreement-status{
		height: 70px;
		background-color: #edf0f2;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #cdcdcd;
		& > div:first-child{
			display: flex;
			padding-left: 25px;
			& p{
				font-family: $font-family-demi;
				font-size: 14px;
				&:last-child{
					margin-left: 10px;
					font-style: italic;
				}
			}
		}
		& > div:last-child{
			margin-right: 40px;
			@include shape(218px, 30px, 20px);
			line-height: 35px;
			text-align: center;
			background-color: #fff;
			color: #4a4a4a;
			font-family: $font-family-demi;
			font-size: 12px;
			border: 1px solid #cdcdcd;
			cursor: pointer;
		}
	}
	& .registration-graphic-content{
		& .registration-graphic-header{
			padding: 45px 40px 20px 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& .btn-for-registration-days{
				@include shape(120px, 41px, 0);
				border: 1px solid #cdcdcd;
				padding-left: 11px;
				font-family: $font-family-medium;
				font-size: 14px;
				line-height: 40px;
				cursor: pointer;
				& .rights-select-icon{
					background-image : url('/assets/images/select-arrows-ico.png');
					position: relative;
					top: -26px;
    				right: -6px;
				}
			}
		}
		& .registration-graphic{
			padding-left: 3px;
			& #registration-chart{
				height: 470px;
				margin-bottom: 45px;
			}
			& .nv-legendWrap{
				display: none;
			}
			& .nv-x{
				& .tick line{
					display: none;
				}
			}
		}
		& .registration-page-bottom{
			height: 310px;
			border-top: 1px solid #cdcdcd;
			display: flex;
			flex-direction: row;
			& .registration-page-bottom-left{
				padding-left: 25px;
				width: 50%;
				height: inherit;
				padding-top: 40px;
				border-right: 1px solid #cdcdcd;
				& > div{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					padding-right: 30px;
					margin-bottom: 25px;
					& > p{
						font-size: 14px;
						color: #4a4a4a;
						&:first-child{
							font-family: $font-family-demi;
						}
						&:last-child{
							font-family: $font-family-medium;
						}
					}
				}
			}
			& .registration-page-bottom-right{
				padding-top: 40px;
				padding-left: 75px;
				display: flex;
				flex-direction: row;
				& > div{
					@include shape(178px, 178px, 50%);
					border: 1px solid #cdcdcd;
					display: flex;
					flex-direction: column;
					&:first-child{
						margin-right: 80px;
						& > p:first-child{
							color: #26a7de;
							padding-top: 40px;
						}
					}
					&:last-child{
						& > p:first-child{
							color: #68aa3b;
							padding-top: 40px;
						}
					}
					& > p{
						text-align: center;
						&:first-child{
							font-size: 48px;
							font-family: $font-family-bold;
						}
						&:nth-child(2){
							margin-top: 10px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}
.create-registration-form-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	& > div{
		@include shape(148px, 40px, 20px);
		font-size: 14px;
		font-family: $font-family-medium;
		background-color: #fff;
		border: 1px solid #cdcdcd;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
		&:last-child{
			border-style: none;
			width: 175px;
			color: #fff;
			background-color: #68aa3b;
			font-family: $font-family-bold;
		}
	}
}
.type-account-active{
	height: 71px !important;
	background-color: #fff !important;
}
.nv-point {
    stroke-opacity: 1!important;
    stroke-width: 7px!important;
    fill-opacity: 1!important;
    z-index:9999 !important;
    cursor: pointer;
}
.nvd3 text, .nvd3 .nv-axisMaxMin text{
	color: #707070 !important;
	font-size: 12px !important;
	font-family: $font-family-medium !important;
	font-weight: 100 !important;
}
.nvd3 .nv-axis path{
	stroke: #cdcdcd;
}
.not-started{
	color: #d0021b !important;
}
.in-progress{
	color: #EE6723 !important;
}

.completed{
	color: #68aa3b !important;
}

.table-with-options-for-graphic{
	position: absolute;
    right: 48px;
    top: 244px;
    border: 1px solid #cdcdcd;
    & > p{
    	padding-left: 11px;
	    padding-top: 13px;
	    border-bottom: 1px solid #cdcdcd;
	    width: 120px;
	    height: 28px;
	    background-color: #fff;
	    font-family: $font-family-medium;
		font-size: 14px;
		cursor: pointer;
		&:hover{
			background-color: #9b9b9b;
			color: #fff;
		}
	    &:last-child{
	    	border-bottom-style: none;
	    }
    }
}
.panel-height{
	height: 83vh !important;
}
.legal-popup{
	@include modal;
	overflow-y: auto;
	padding: 25px 34px 6px 34px;
    height: 85vh;
    color: #4a4a4a;
	font-size: 14px;
    font-family: $font-family-medium;
    line-height: 20px;
    text-align: left;
}