.add-on-iframe{
	& p{
		margin: 0;
	}
	& .add-on-days-list-mobile{
		display: none;
	}
	& .add-on-iframe-header{
		background-color: #edf0f2;
		& > p{
			@include open-sans-semibold;
			font-size: 16px;
			text-align: center;
			margin-left : auto;
			margin-right: auto;
			margin-bottom: 18px;
			padding-top: 20px;
		}
		& .add-on-days-list{
			justify-content: center;
			align-items: center;
			position: relative;
			& .selected-sessions-day{
				& > p:first-child{
					margin-top: 0 !important;
				}
			}
			& .down-arrow-for-selection{
				bottom: -19px;
				position: absolute;
			}
			& > .fa{
				font-size: 20px;
			}
			& .fa-arrow-left{
				position: absolute;
				left: 20px;
			}
			& .fa-arrow-right{
				position: absolute;
				right: 20px;
			}
			& .add-on-day {
              width: 110px;
              height: 65px;
              background-color: #fff;
              border: solid 1px #cdcdcd;
              margin-right: 20px;
              position: relative;
              &:last-child {
                margin-right: 0;
              }
              & > p {
                @include open-sans-regular;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                &:first-child {
                  margin-top: 11px;
                }
              }
              & .fa-check-circle {
                font-size: 12px;
                position: absolute;
                bottom: 5px;
                right: 5px;
              }
            }
		}
	}
	& > .add-on-available-sessions-container{
		border-top: 1px solid #4a4a4a;
		display: block;
		height: 504px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0;
		}
		& .adds-on-per-hour{
			& .add-on-hour{
				height: 40px;
				background-color: rgba(237, 240, 242, 0.5);
				border-bottom: 1px solid #cdcdcd;
				& > p{
					margin-right: auto;
					margin-left: auto;
					@include open-sans-regular;
					font-size: 14px;
					text-align: center;
					line-height: 40px;
				}
			}
			& .add-on-session-for-iframe{
				align-items: center;
				padding-right: 29px;
				padding-left: 38px;
				height: 60px;
				border-bottom: 1px solid #cdcdcd;
				& > div{
					align-items: center;
					& > p{
						color: #26a7de;
						@include open-sans-semibold;
						font-size: 14px;
						border-bottom: 1px solid #26a7de;
					}
					& .add-on-check-circle{
						@include shape(25px, 25px, 50%);
                        border: 1px solid #979797;
                        margin-right: 10px;
                        & > img{
                            position: relative;
                            top: 1px;
                            left: 3px;
                        }
					}
				}
				& > p{
					@include open-sans-regular;
					font-size: 14px;
					&:last-child{
						text-align: right;
						margin-left: 13%;
					}
					&:nth-child(2){
						margin-left: auto;
					}
				}
			}
		}
	}
	& .total-price-container{
		align-items: center;
		justify-content: space-between;
		height: 50px;
		padding-left: 37px;
		padding-right: 28px;
		border-top: 1px solid #4a4a4a;
		& p{
			font-size: 14px;
			color: #4a4a4a;
		}
		& > p{
			@include open-sans-semibold;
		}
		& > div{
			@include open-sans-bold;
			justify-content: space-between;
			& > p:last-child{
				width: 100px;
				text-align: right;
			}
		}
	}
}

.add-on-checked-circle{
	background-color: #68aa3b !important;
}
.add-on-checked{
	background-color: #f0f9ff !important;
}
#adds_on_slider{
	-ms-overflow-style: none;
	overflow: auto;
	&::-webkit-scrollbar{
		height: 0;
	}
}
#pre_register_sessions_slider{
	-ms-overflow-style: none;
	overflow: auto;
	overflow-y: hidden;
	&::-webkit-scrollbar{
		height: 0;
	}
}
.add-on-sessions-checked-day{
	background-color: #26a7de !important;
	color: #fff !important;
	& > p{
		color: #fff !important;
		font-family: "Open Sans" !important;
		font-weight: 700 !important;
	}
}

@media only screen and (max-width: 768px){ //768
	.add-on-iframe > .add-on-available-sessions-container{
		display: none;
	}
	.add-on-days-list{
		display: none;
	}
	.iframe-cancel-button{
		display: none !important;
	}
	.add-on-iframe-header{
		background-color: #f0f9ff !important;
		height: 69px;
		& > p{
			font-size: 15px;
			margin-top: 0 !important;
			margin-bottom: 26px !important;
			padding-top: 21px !important;
		}
	}
	.add-on-iframe .total-price-container{
		padding-top: 29px;
		height: auto;
		padding-bottom: 35px;
		flex-direction: column;
		display: flex;
		& > p{
			font-size: 16px;
			margin-bottom: 16px;
			@include open-sans-semibold;
		}
		& > div{
			margin-top: 24px;
			& > p{
				font-size: 16px;
				@include open-sans-bold;
				&:last-child{
					width: 65px;
				}
			}
		}
	}
	.add-on-days-list-mobile{
		display: flex !important;
		flex-direction: column;
		& .add-on-day-tab{
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			min-height: 55px;
			border-bottom: 1px solid #cdcdcd;
			&:first-child{
				border-top: 1px solid #cdcdcd;
			}
			& .add-on-day-tab-details-container {
				display: flex;
				align-items: center;
				width: 100%;
				height: 55px;
				background-color: #edf0f2;
				padding-right: 19.6px;
				padding-left: 27px;
				& > p {
					color: #4a4a4a;
					font-size: 16px;
					text-align: center;
					margin-right: auto;
					margin-left: auto;
					@include open-sans-semibold;
				}
				& .fa {
					font-size: 20px;
					color: #39393a;
					position: absolute;
				}
				& .fa-caret-down, .fa-caret-right{
					left: 27px;
				}
				& .fa-check-circle {
					font-size: 15.4px;
					color: #4a4a4a;
					right: 19.6px;
				}
			}
			& .hours-list-container-mobile{
				display: flex;
				flex-direction: column;
				width: 100%;
				& .hours-list-mobile{
					& > div{
						display: flex;
						align-items: center;
						&:first-child{
							width: inherit;
							height: 55px;
							border-bottom: 1px solid #cdcdcd;
							border-top: 1px solid #cdcdcd;
							padding-right: 19.6px;
							padding-left: 27px;
							& > p{
								margin-left: auto;
								@include open-sans-semibold;
								font-size: 16px;
							}
							& .fa{
								margin-right: auto;
								margin-left: 8px;
								font-size: 15px;
								color: #9b9b9b;
							}
						}
					}
					& .add-on-session-for-iframe{
						display: flex;
						align-items: center;
						padding-left: 15px;
						padding-right: 19.3px;
						height: 80px;
						width: inherit;
						border-bottom: 1px solid #cdcdcd;
						&:last-child{
							border-bottom: none;
						}
						& > div{
							&:first-child{
								margin-right: 16px;
								& .add-on-check-circle {
									@include shape(25px, 25px, 50%);
									border: 1px solid #979797;
									margin-right: 10px;
									& > img {
										position: relative;
										top: 1px;
										left: 3px;
									}
								}
							}
							&:last-child{
								display: flex;
								flex-direction: column;
								& > div {
									display: flex;
									align-items: center;
									& > p{
										font-size: 16px;
									}
									&:first-child{
										margin-bottom: 5px;
									}
									&:first-child > p{
										@include open-sans-semibold;
										text-decoration: underline;
										color: #2395d6;
										width: auto;
										max-width: 18em !important;
									}
									& .add-on-sessions-price{
										@include open-sans-regular;
										display: inline-flex;
									}
								}
							}
						}
					}
				}
			}
		}
		& .add-on-day-tab-active{
			background-color: #fff !important;
			flex-direction: column;
			& .add-on-day-tab-details-container{
				flex-direction: row;
				background-color: #fff !important;
				& > p{
					@include open-sans-bold;
				}
			}
		}
	}
}