.registration-level-options{
	overflow-x: hidden;
	& p{
		margin: 0;
	}
	& > p{
		margin-left: 40px;
		font-family: $font-family-demi;
		font-size: 16px;
		margin-bottom: 25px;
	}
	& .registration-level-options-header{
		height: 70px;
		border-bottom: 1px solid #cdcdcd;
		display: flex;
		flex-direction: row;
		border-top: 1px solid #cdcdcd;
		width: 90vw;
		margin-bottom: 40px;
		background-color: #fafafa;
		& > div{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			border-right: 1px solid #cdcdcd;
			text-align: center;
			border-bottom-style: none;
			cursor: pointer;
			width: 10%;
			font-weight: bold;
			background-color: #fafafa;
			font-family: $font-family-medium;
			font-size: 16px;
			line-height: 68px;
			overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    padding: 20px;
	    box-sizing: border-box;
	    padding-top: 0;
			&:first-child{
				width: 43px;
				border-style: none;
				background-color: #fff;
			    position: relative;
			    bottom: 1px;
			}
			&:nth-child(2){
				border-left: 1px solid #cdcdcd;
			}
		}
	}
	& .registration-level-options-content{
		padding-left: 40px;
		padding-right: 40px;
		& .registration-level-options-content-one{
			margin-bottom: 35px;
			& > p{
				font-size: 16px;
				font-family: $font-family-medium;
				margin-bottom: 25px;
				&:first-child{
					font-family: $font-family-demi;
					margin-bottom: 20px;
				}
			}
			& .registration-level-options-content-one-sessions-list{
				min-width: calc(100vw - 250px);
				overflow-x: scroll;
				& .registration-level-options-content-one-session{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					border-bottom: 2px solid #cdcdcd;
					padding: 9px 0 9px 18px;
					background-color: #fafafa;
					align-items: baseline;
					& .registration-level-options-content-session-title {
						display: flex;
						flex-direction: row;
						align-items: center;
						& > p {
							font-family: $font-family-demi;
							font-size: 14px;
						}
					}
					& .registration-level-options-content-session-prices {
						display: flex;
						flex-direction: column;
						align-self: baseline;
						& > div {
							align-items: center;
							min-width: 35vw;
							& > p {
								font-family: $font-family-medium;
								font-size: 14px;
								margin-right: 13px;
								margin-left: 13px;
								font-weight: bold;
							}
							& > input , & .session-add-on-price{
								@include shape(68px, 40px, 0);
								padding-left: 19px;
								font-size: 14px;
								font-family: $font-family-medium;
								&:first-child {
									@include shape(89px, 40px, 0);
								}
							}
						}
					}
				}
			}
		}
		& .registration-level-options-content-two{
			& > p{
				font-size: 16px;
				font-family: $font-family-demi;
				margin-bottom: 15px;
			}
			& > div{
				height: 56px;
				background-color: #edf0f2;
				margin-bottom: 40px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding-left: 15px;
				padding-right: 15px;
				& > p{
					font-size: 14px;
					font-family: $font-family-demi;
				}
				&:last-child{
					margin-bottom: 45px;
				}
				& > div{
					display: flex;
					& > div{
						@include shape(100px, 30px, 20px);
						border: 1px solid #cdcdcd;
						text-align: center;
						line-height: 30px;
						font-size: 12px;
						font-family: $font-family-medium;
						background-color: #fff;
						&:first-child{
							margin-right: 10px;
						}
					}
				}
			}
		}
		& .registration-level-options-content-three{
			margin-bottom: 47px;
			& > p{
				font-size: 16px;
				font-family: $font-family-medium;
				margin-bottom: 15px;
				margin-top: 20px;
				&:first-child{
					font-family: $font-family-demi;
					font-weight: bold;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			& > div:nth-child(3){
				background-color: #edf0f2;
				display: flex;
				flex-direction: column;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 15px;
				padding-bottom: 20px;
				margin-bottom: 24px;
				& > div{
					display: flex;
					flex-direction: row;
					align-items: center;
					&:first-child{
						margin-bottom: 20px;
						& > p{
							font-size: 14px;
							font-family: $font-family-medium;
							font-weight: bold;
							color: #4a4a4a;
							&:last-child{
								font-weight: 100;
								color: #26a7de;
							}
						}
						& > input{
							@include shape(440px, 40px, 0);
							padding-left: 10px;
							margin-right: 40px;
							margin-left: 15px;
						}
					}
					&:last-child{
						& > p{
							font-size: 14px;
							font-family: $font-family-medium;
							font-weight: bold;
							&:nth-child(4){
								margin-left: 27px;
							}
							&:nth-child(6){
								margin-left: 15px;
							}
						}
						& > input{
							padding-left: 10px;
							font-family: $font-family-medium;
							font-size: 14px;
							margin-left: 10px;
							&:nth-child(2){
								@include shape(56px, 40px, 0);
								margin-left: 35px;
							}
							&[placeholder="MM/DD/YYYY"]{
								@include shape(137px, 24px, 0);
								margin-left: 15px;
							}
						}
						& .dollar-input{
							@include shape(50px, 40px, 0);
							padding-left: 37px;
						}
						& .pct-input{
							@include shape(50px, 40px, 0);
							padding-left: 0;
							padding-right: 37px;
							text-align: right;
						}
						& .dollar-sign{
							width: 14px;
							position: relative;
							left: 37px;
							min-width: 14px;
							text-align: end;
						}
						& .pct-sign{
							left: 64px;
							position: relative;
							min-width: 14px;
							text-align: end;
						}
						& > div:last-child{
							margin-left: auto;
							@include shape(150px, 40px, 20px);
							color: #4a4a4a;
							background-color: #fff;
							text-align: center;
							line-height: 40px;
							font-family: $font-family-demi;
							font-size: 14px;
							border:1px solid #cdcdcd;
							cursor: pointer;
						}
					}
				}
			}
			& > div:last-child{
				& > div:first-child{
					margin-bottom: 21px;
					display: flex;
					& > p{
						font-family: $font-family-demi;
						font-size: 14px;
					}
					& > img{
						margin-right: 9px;
						margin-left: 16px;
					}
				}
				& > div:last-child{
					background-color: #fafafa;
					display: flex;
					flex-direction: column;
					& > div{
						padding: 10px 16px;
						border-bottom: 2px solid #cdcdcd;
						display: flex;
						flex-direction: row;
						align-items: center;
						& > p{
							font-family: $font-family-medium;
							font-size: 14px;
							font-weight: bold;
							&:first-child{
								font-family: $font-family-demi;
								font-style: italic;
								width: 100px;
								margin-right: auto;
							}
						}
						& > input{
							font-family: $font-family-medium;
							font-size: 14px;
							margin-left: 10px;
							//margin-right: 10px;
							@include shape(50px, 40px, 0);
							padding-left: 23px;
							&:nth-child(3){
								margin-right: 71px;
								@include shape(80px, 40px, 0);
								text-align: center;
							}
							&:nth-child(7){
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
		& .registration-level-options-content-four{
			padding-bottom:20px;
			border-bottom: 1px solid #cdcdcd;
			& > p{
				font-family: $font-family-demi;
				font-size: 16px;
				&:nth-child(2){
					font-family: $font-family-medium;
					margin-top: 20px;
					margin-bottom: 22px;
				}
			}
			& > div{
				padding: 13px 15px;
				background-color: #edf0f2;
				border: 2px dashed #979797;
				display: flex;
				flex-direction: row;
				align-items: center;
				& > div:first-child{
					@include shape(150px, 30px, 20px);
					background-color: #fff;
					font-family: $font-family-demi;
					font-size: 12px;
					margin-right: 15px;
					text-align: center;
					line-height: 30px;
					border: 1px solid #cdcdcd;
				}
				& > div:last-child{
					display: flex;
					flex-direction: row;
					& > p{
						font-family: $font-family-medium;
						font-style: italic;
						font-size: 14px;
						margin-left: 10px;
					}
					& > img{
						position: relative;
						bottom: 2px;
					}
				}
			}
		}
		& .registration-level-options-list-members{
			padding-bottom: 50px;
			border-bottom: 2px solid #cdcdcd;
			margin-bottom: 46px;
			& > div:first-child{
				display: flex;
				flex-direction: row;
				& > div{
					display: flex;
					flex-direction: row;
					padding-top: 10px;
					padding-bottom: 10px;
					&:first-child{
						border-right: 1px solid #cdcdcd;
						width: 74vw;
						& > input{
							height: 40px;
							width: 26%;
							margin-left: 36px;
							padding-left: 10px;
							font-family: $font-family-medium;
							font-size: 16px;
							&:first-child{
								margin-left: 0;
							}
						}
						& > div{
							margin-right: 26px;
							@include shape(111px, 30px, 20px);
							background-color: #26a7de;
							color: #fff;
							text-align: center;
							line-height: 30px;
							font-family: $font-family-bold;
							font-size: 12px;
							margin-right: auto;
							margin-left: auto;
							margin-top: 7px;
						}
					}
					&:last-child{
						& > div{
							@include shape(146px, 30px, 20px);
							background-color: #fff;
							font-family: $font-family-demi;
							font-size: 12px;
							border: 1px solid #cdcdcd;
							text-align: center;
							line-height: 30px;
							margin-left: 26px;
							margin-top: 6px;
						}
					}
				}
			}
			& > div:last-child{
				border: 1px solid #cdcdcd;
				height: 300px;
				overflow-y: auto;
				& > div{
					display: flex;
					height: 20px;
					flex-direction: row;
					align-items: center;
					padding: 20px 16px;
					border-bottom: 1px solid #cdcdcd;
					& > p{
						font-family: $font-family-medium;
						font-size: 14px;
					}
					& > div{
						display: flex;
						align-items: center;
						width: 50.5%;
						& > p{
							font-family: $font-family-demi;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
.add-on-selected{
	background-color: #fefde5 !important;
}
.answer-checked{
	background-color : #727272 !important;
	color: #fff;
	font-family: $font-family-bold;
	font-weight: bold;
	& > img{
		width: 12px;
		position: relative;
		right: 10px;
	}
}
.select-registration-effective-dates-input{
	width: 125px;
	height: 24px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.small-margin-right{
	margin-right: 10px !important;
}
.extra-price-added1{
	padding-bottom: 9px;
    border-bottom: 2px solid #cdcdcd;
    margin-bottom: 9px;
}
.add-on-selected-non{
	color: #9b9b9b !important;
	pointer-events: none;
}

.add-on-pricing:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
}

.add-on-pricing-new {
	margin-top: 5px;
    border-top: 1px solid #cdcdcd;
    padding-top: 5px;
}

.file-name-text {
	font-family: "AvenirNextLTPro-Regular";
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
}

.small_field {
    line-height: 47px;
}

.conference-upload-attendees-field.field-dotted.fields-mobile.small_field {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
    line-height: 47px;
	padding: 5px;
}

.field_mapping_info_small {
    color: #fff !important;
    line-height: 19px;
}
.remove-button-clickable{
	background-color: #fefde5 !important;
}

#promo-code-dicount-value, #promo-code-dicount-type{
	font-family: $font-family-medium;
	font-size: 14px;
  margin-right: -10px;
}
