.intermediary-step{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  & p{
    margin: 0;
    text-align: center;
  }
  & .intermediary-step-header{
    height: 100px;
    background-color: #26a7de;
    & > p{
      font-size: 24px;
      color: #fff;
      @include open-sans-bold;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 32px;
    }
  }
  & .intermediary-step-content{
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
    & > p{
      font-size: 12px;
      color: #4a4a4a;
      & .intermediary-step-question-mobile{
        display: none;
      }
    }
    & > .fa{
      font-size: 80px;
      color: #68aa3b;
      margin-bottom: 46px;
      text-align: center;
    }
    & .intermediary-step-email-confirmation{
      @include open-sans-semibold;
      margin-bottom: 33px;
    }
    & > p:last-child{
      @include open-sans-regular;
    }
  }
  & .intermediary-step-buttons{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    & > div{
      @include shape(239px, 40px, 4px);
      background-color: #26a7de;
      text-align: center;
      font-size: 14px;
      @include open-sans-bold;
      color: #fff;
      line-height: 40px;
      margin-bottom: 33px;
    }
    & > .register-another-button{
      color: #26a7de;
      @include open-sans-semibold;
      font-size: 14px;
    }
  }
}
.no-thanks-button{
  border: 1px solid #26a7de;
  color: #39393a !important;
  @include open-sans-semibold;
  background-color: #fff !important;
  margin-top: 21px;
}
@media only screen and (max-width: 768px){
  .intermediary-step{
    & .intermediary-step-header{
      height: 124px;
      & > p{
        font-size: 17px;
        line-height: 124px;
        margin-top: 0 !important;
      }
    }
    & .intermediary-step-content{
      padding: 35px 29px 37px 30px;
      & > p{
        font-size: 16px;
        @include open-sans-regular;
        & .intermediary-step-question-mobile{
          display: block;
        }
        & br{
          display: none;
        }
      }
      & > .fa{
        font-size: 77px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 21px;
      }
      & .intermediary-step-email-confirmation{
        @include open-sans-semibold;
        margin-bottom: 48px;
      }
    }
    & .intermediary-step-buttons{
      padding: 0 29px 42px 30px;
      margin: 0;
      & > p{
        display: none;
      }
      & > div{
        @include shape(100%, 45px, 4px);
        font-size: 16px;
        margin-bottom: 0 !important;
        line-height: 45px;
      }
    }
  }
}