.guests-container{
  padding: 34px 90px;
  & .guest-details-container{
    border-bottom: 2px solid #cdcdcd;
    margin-bottom: 34px;
    padding-bottom: 34px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & .guest-full-name, & .guest-email{
      align-items: center;
      justify-content: space-between;
      & > div{
        display: flex;
        flex-direction: column;
        width: 50%;
        &:first-child{
          margin-right: 30px;
        }
        & > p{
          font-size: 16px;
          @include open-sans-regular;
          color: #4a4a4a;
        }
        & > input{
          @include shape(100%, 45px, 0);
          padding-left: 12px;
          border: 1px solid #cdcdcd;
        }
      }
    }
    & .guest-email > div > input{
        width: 100%;
    }
    & .guest-email{
      & > div{
        width: 100%;
      }
      margin-top: 25px;
    }
  }
}

.required-guest-data{
  &:after{
    content: '*';
    color: #f58a1c;
    font-size: 16px;
    @include open-sans-regular;
  }
}
@media only screen and (max-width: 768px){
  .iframe-next-button-guest-step{
    display: block;
  }
  .guests-container{
    padding-right: 29.3px;
    padding-left: 25px;
  }
  .guest-details-container{
    border-color: #4d4d4d !important;
  }
  .guest-full-name{
    flex-direction: column;
    & > div{
      width: 100% !important;
      margin-right: 0 !important;
      &:first-child{
        margin-bottom: 20px;
      }
    }
  }
}