.review-step-for-iframe{
	padding-left: 90px;
	padding-right: 90px;
	& p{
		margin: 0;
		color: #4a4a4a;
	}
	& > p{
		font-size: 16px;
		@include open-sans-semibold;
		margin-top: 27px;
		margin-bottom: 33px;
	}
	& .review-details-for-iframe{
		display: flex;
		padding-bottom: 28px;
		border-bottom: 1px solid #cdcdcd;
		flex-wrap: wrap;
		& > div{
			display: flex;
			flex-direction: column;
			width: 45%;
			& > p{
				@include open-sans-regular;
				font-size: 12px;
				line-height: 20px;
				&:first-child{
					@include open-sans-bold;
				}
				& > span{
					cursor: pointer;
					color: #2395d6;
					@include open-sans-regular;
					font-size: 12px;
				}
			}
			//&:last-child > p:nth-child(2){
			//	@include open-sans-semibold;
			//}
		}
	}
	& .review-level-details-for-iframe{
		margin-top: 33px;
		display: flex;
		flex-direction: column;
		& .registered-level{
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			& > p{
				@include open-sans-bold;
				font-size: 12px;
				&:last-child{
					text-align: right;
				}
				& > span{
					cursor: pointer;
					color: #2395d6;
					@include open-sans-regular;
					font-size: 12px;
				}
			}
		}
		& .registered-adds-on{
			display: flex;
			flex-direction: column;
			& > div {
				display: flex;
				justify-content: space-between;
				& > p:first-child{
					display: list-item;
					margin-left: 15px;
				}
				& > p{
					font-size: 12px;
					@include open-sans-regular;
				}
			}
			& > p{
				font-size: 12px;
				@include open-sans-semibold;
				line-height: 20px;
				& > span{
					cursor: pointer;
					color: #2395d6;
					@include open-sans-regular;
					font-size: 12px;
				}
			}
		}
		& .prices-for-registration{
			padding-bottom: 32px;
			border-bottom: 1px solid #cdcdcd;
			margin-bottom: 32px;
			margin-top: 34px;
			display: flex;
			justify-content: space-between;
			& .promo-codes-panel{
				display: flex;
				align-items: center;
				flex-direction: column;
				width: 50%;
				margin-top: 10px;
				& > div {
					display: flex;
					align-items: center;
					align-self: flex-start;
					& > p {
						font-size: 12px;
						&:first-child {
							@include open-sans-semibold;
							color: #4a4a4a;
						}
					}
					& .promo-code-input {
						@include shape(78px, 30px, 0);
						font-size: 12px;
						@include open-sans-semibold;
						color: #4a4a4a;
						background-color: #fff;
						margin-left: 13px;
						margin-right: 10px;
						padding-left: 12px;
						border: 1px solid #cdcdcd;
					}
					& .promo-code-apply-button {
						@include shape(50px, 30px, 2.6px);
						margin-right: 10px;
						border: 1px solid #26a7de;
						font-size: 10px;
						@include open-sans-semibold;
						background-color: #fff;
						color: #4a4a4a;
						text-align: center;
						line-height: 30px;
					}
				}
				& .promo-code-applied{
					color: #f58a1c;
					@include open-sans-italic;
					margin-top: 15px;
					font-size: 12px;
					align-self: flex-start;
				}
			}
			& .prices-for-registration-calculated{
				display: flex;
				flex-direction: column;
				width: 35%;
				& > div{
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 12px;
					@include open-sans-regular;
					&:last-child{
						margin-top: 15px;
						@include open-sans-bold
					}
				}
			}
		}
	}
	& .review-legal-agreements-details-for-iframe{
		display: flex;
		padding-bottom: 42px;
		& > p{
			line-height: 25px;
			font-size: 14px;
			color: #4a4a4a;
			@include open-sans-regular;
			& > span{
				color: #2395d6 !important;
			}
		}
	}
}
.review-step-instructions{
	font-size: 16px;
	@include open-sans-semibold;
	line-height: 22px;
	margin: 0;
	padding-top: 18px;
	padding-bottom: 22px;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
}
.promo-code-input-filled {
	background-color: #f0f9ff;
}
.unchecked-legal-agreements{
	margin-right: 8px;
	@include shape(20px, 20px, 0);
	min-width: 20px;
	border: 1px solid #cdcdcd;
	background-color: #fff;
}
.conditions-agreed{
	background-color: #26a7de !important;
	border-style: none !important;
	& > img{
		position: relative;
	    bottom: 1px;
	    left: 2px;
	}
}
.no-promo-code-to-display{
	visibility: hidden;
}

.session-add-remove-btn {
	border: 1px solid #cdcdcd;
    text-align: center;
    width: 150px;
    line-height: 20px;
    height: 30px;
    border-radius: 20px !important;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.session-add-remove-btn-txt {
	margin-right: 40px;
    margin-left: 60px;
}

.legal-popup{
	@include modal;
	overflow-y: auto;
	padding: 25px 51px 6px 34px;
	height: 85vh;
	color: #4a4a4a;
	font-size: 14px;
	font-family: $font-family-medium;
	line-height: 20px;
	text-align: left;
}
.mobile-review-step-for-iframe{
	display: none;
}

@media only screen and (max-width: 768px){
	.review-step-instructions{
		display: none;
	}
	.review-step-for-iframe{
		display: none;
	}
	.iframe-cancel-button{
		display: none;
	}
	.fa{
		width: 20px;
	}
	.mobile-review-step-for-iframe{
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #4d4d4d;
		color: #4a4a4a;
		& p{
			margin: 0;
		}
		& .mobile-review-step-title{
			font-size: 15px;
			@include open-sans-semibold;
			line-height: 22px;
			margin: 18px auto 22px auto;
			text-align: center;
		}
		& .mobile-review-step-contact-info{
			border-top: 1px solid #4d4d4d;
			border-bottom: 1px solid #cdcdcd;
			& .gray-tab{
				background-color: #edf0f2;
			}
			& .mobile-review-step-contact-info-container-title{
				width: 100%;
				padding-left: 24px;
				padding-right: 20px;
				min-height: 55px;
				display: flex;
				align-items: center;
				& .fa{
					font-size: 20px;
					color: #39393a;
					position: absolute;
					left: 24px;
				}
				& > p{
					font-size: 16px;
					@include open-sans-semibold;
					margin-right: auto;
					margin-left: auto;
				}
			}
			& .mobile-review-step-contact-info-container-register-details, & .mobile-review-step-contact-info-container-conference-details,
			& .mobile-review-step-contact-info-container-guests-details{
				display: block;
				width: 100%;
				padding-left: 24px;
				padding-right: 20px;
				margin-bottom: 35px;
				& > p{
					font-size: 14px;
					line-height: 22px;
					@include open-sans-regular;
					&:first-child{
						@include open-sans-semibold;
					}
					& > span{
						cursor: pointer;
						color: #2395d6;
						@include open-sans-regular;
						font-size: 14px;
					}
				}
			}
			& .mobile-review-step-contact-info-container-guests-details{
				padding-left: 24px;
				& > p:not(:first-child){
					margin-left: 20px;
					display: list-item;
					& > span{
						cursor: pointer;
						color: #2395d6;
						@include open-sans-regular;
						font-size: 14px;
					}
				}
			}
		}
		& .mobile-review-step-details-container{
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 27px 20px 25px 24px;
			& .mobile-review-step-level-details{
				margin-bottom: 25px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				& > p{
					font-size: 14px;
					@include open-sans-semibold;
					& > span{
						cursor: pointer;
						color: #2395d6;
						@include open-sans-regular;
						font-size: 14px;
					}
				}
			}
			& .mobile-review-step-add-on-details{
				display: flex;
				flex-direction: column;
				margin-bottom: 16px;
				& > div{
					display: flex;
					&:first-child{
						align-items: center;
						& .fa{
							font-size: 20px;
							color: #39393a;
							margin-right: 6px;
						}
						& > p{
							font-size: 14px;
							@include open-sans-semibold;
							& > span{
								cursor: pointer;
								color: #2395d6;
								@include open-sans-regular;
								font-size: 14px;
							}
						}
					}
					&:last-child{
						flex-direction: column;
						& > div{
							display: flex;
							justify-content: space-between;
							align-items: center;
							& > p{
								@include open-sans-regular;
								font-size: 14px;
								&:first-child{
									text-overflow: ellipsis;
									width: 14em;
									display: list-item;
									margin-left: 33px;
								}
							}
						}
					}
				}
			}
			& .mobile-review-step-promo-code{
				display: flex;
				flex-direction: column;
				margin-bottom: 11px;
				& > div{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 15px;
					& .promo-code-input{
						margin-right: 19px;
						width: 55%;
						padding-left: 13px;
						height: 45px;
						border: 1px solid #cdcdcd;
						font-size: 16px;
						color: #4a4a4a;
						@include open-sans-semibold;
					}
					& .promo-code-apply-button{
						@include shape(125px, 45px, 4px);
						border: 1px solid #26a7de;
						text-align: center;
						line-height: 45px;
						font-size: 16px;
						@include open-sans-semibold;
						color: #39393a;
					}
					& > img{
						position: absolute;
						left: 38%;
					}
				}
				& .promo-code-applied{
					color: #f07617;
					@include open-sans-italic;
					font-size: 14px;
					align-self: flex-start;
				}
			}
			& .mobile-review-step-price-calculated{
				display: flex;
				flex-direction: column;
				width: 65%;
				margin-left: auto;
				margin-bottom: 33px;
				& > div{
					display: flex;
					align-items: center;
					justify-content: space-between;
					& > p{
						line-height: 22px;
						font-size: 14px;
						@include open-sans-regular;
					}
					&:last-child{
						& > p{
							@include open-sans-bold;
						}
					}
				}
			}
			& .mobile-review-step-legal-agreements{
				display: flex;
				& > p{
					@include open-sans-regular;
					font-size: 12px;
					& > span{
						color: #2395d6;
					}
				}
			}
		}
	}
}