// .registration-code{
// 	padding-left: 42px;
// 	padding-top: 20px;
//     padding-right: 42px;
// 	& p{
// 		margin: 0;
// 	}
// 	& > p:first-child{
// 		font-family: $font-family-demi;
// 		font-size: 20px;
// 	}
// 	& > p:nth-child(2){
// 		line-height: 25px;
// 		font-family: $font-family-medium;
// 		font-size: 16px;
// 		margin-top: 15px;
// 		margin-bottom: 22px;
// 	}
// 	& > div:nth-child(3){
// 		display: flex;
// 		flex-direction: row;
// 		align-items: center;
// 		& > input{
// 			@include shape(240px, 40px, 0);
// 			font-size: 14px;
// 			font-family: $font-family-medium;
// 			padding-left: 10px;
// 			margin-right: 24px;
// 		}
// 		& > div{
// 			@include shape(210px, 30px, 20px);
// 			font-family: $font-family-medium;
// 			font-size: 12px;
// 			text-align: center;
// 			line-height: 30px;
// 			border: 1px solid #cdcdcd;
// 		}
// 	}
// 	& > div:nth-child(5){
// 		padding-bottom: 58px;
// 		//border-bottom: 1px solid #cdcdcd;
// 		margin-bottom: 40px;
// 		margin-top: 24px;
// 		flex-direction: column;
// 		& > div:first-child{
// 			//height: 159px;
// 			font-family: $font-family-medium;
// 			font-size: 12px;
// 			margin-bottom: 20px;
// 			border: 1px solid #cdcdcd;
// 			padding: 8px 26px 5px 10px;
// 		}
// 		& > div:last-child{
// 			@include shape(150px, 40px, 20px);
// 			//align-self: flex-end;
// 			background-color: #68aa3b;
// 			color: #fff;
// 			text-align: center;
// 			line-height: 40px;
// 			font-family: $font-family-demi;
// 			font-size: 14px;
// 			float:right;
// 		}
// 	}
// 	& > div:nth-child(6){
// 		& > p{
// 			&:first-child{
// 				font-family: $font-family-demi;
// 				font-size: 16px;
// 			}
// 		}
// 		& > div{
// 			margin-top: 15px;
// 			display: flex;
// 			flex-direction: row;
// 			align-items: center;
// 			justify-content: space-between;
// 			& > p{
// 				font-family: $font-family-medium;
// 				font-size: 16px;
// 			}
// 			& > div{
// 				@include shape(150px, 40px, 20px);
// 				border: 1px solid #cdcdcd;
// 				font-family: $font-family-medium;
// 				font-size: 12px;
// 				text-align: center;
// 				line-height: 40px;
// 			}
// 		}
// 	}
// }
//
// .registrationCodeStyle {
//     -moz-user-select: text;
//     -khtml-user-select: text;
//     -webkit-user-select: text;
//     -ms-user-select: text;
//     user-select: text;
// }
//
// .registrationCodeButton {
// 	width: 150px;
//     height: 40px;
//     border-radius: 20px !important;
//     background-color: #68aa3b;
//     color: #fff;
//     text-align: center;
//     line-height: 40px;
//     font-family: "AvenirNextLTPro-Demi";
//     font-size: 14px;
//     margin-left: 10px;
//     float:right;
// }
//
.registrationTransferSearch {
	width: 338px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 6px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;
    border: 1px solid #cdcdcd;
    float: left;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
