.session-registrants{
	height: 65px;
	& p{
		margin: 0;
	}
	& .session-registrants-title{
		padding-top: 23px;
		display: flex;
		align-items: center;
		padding-left: 40px;
		margin-bottom: 25px;
		& p{
			font-size: 16px;
			color: #4a4a4a;
			font-family: $font-family-medium;
		}
		& img{
			margin-right: 10px;
			cursor: pointer; 
			margin-bottom: 4px;
		}
	}
	& .session-registrants-options-bar{
		border-top: 1px solid #cdcdcd;
		display: flex;
		align-items: center;
		& div{
			height: 70px;
			width: 20%;
			&:first-child{
				& p{
					color: #4a4a4a;
					font-family: $font-family-medium;
					font-size: 16px;
					line-height:82px;
					text-align:center;
				}
				& img{
				    margin-left: 5px;
				    width: 11px;
				    height: 15px;
				}
			}
			&:last-child{
				height: 70px;
				width: 100%;
				& md-content{
					display: flex;
					height: inherit;
					background-color: #fafafa !important;
					border-bottom: 1px solid #cdcdcd;
					& .btnAddReg{
						margin-left: 20px;
						min-width: 0;
						min-height: 0;
						outline: none;
						@include shape(167px, 30px, 20px);
						color: #4a4a4a;
						font-size: 12px;
						font-family: $font-family-demi;
						background-color: #fff;
						border: 1px solid #cdcdcd;
						margin-top: 18px;
						display: flex;
  					    align-items: center;
                        line-height: 32px;

						& img{
							margin-right: 8px;
							margin-bottom: 4px;
						}
					}
					& .btnAddReg:hover{
					    background-color: #fff;
					}
					& .btnAddReg.md-raised{
					    background-color: #fff;
					}
					& .btnDelete{
						@include shape(30px, 30px, 50px);
						min-width: 0;
						min-height: 0;
						background-color: #fffde6;
						border: 1px solid #cdcdcd;
						margin-top: auto;
						margin-bottom: auto;
						margin-left: 20px;
					}
					& .btnMoreOpt{
						background-color: #fffde6 !important;
						margin-top: auto;
						margin-bottom: auto;
						& img{
							position: absolute;
						    right: 0px;
						    top: 7px;
						}
						& > p{
							margin-left: auto;
						    margin-right: auto;
						    margin-top: -2px;
						}
						&:hover{
							background-color: rgb(117,117,117) !important;
						}
					}
					& .btnViewOpt{
						@include shape(167px, 30px, 20px);
						color: #4a4a4a;
						outline: none;
						font-size: 12px;
						font-family: $font-family-demi;
						background-color: #fff;
						border: 1px solid #cdcdcd;
						margin-top: 18px;
						margin-left: auto;
						margin-right: 22px;
					}
				}
			}
		}
		& .search-registrant{
			border: 1px solid #cdcdcd;
			border-top-style: none;
			width: 380px;
			background-color: #fafafa;
			height: 71px;
			& input{
				width: 337px;
				height: 41px;
				margin-top: 12px;
				margin-left: 15px;
				margin-right: 15px;
				padding-left: 10px;
				font-size: 16px;
			}
		}
	}
	& .session-registrants-grid{
		& .window-grid-registrants{
			overflow-y: scroll;
			height: 71vh;
		}
		& .session-registrants-grid-header{
			display: flex;
			align-items: center;
			height: 70px;
			padding-left: 17px;
			& div:not(:first-child){
				color: #4a4a4a;
				font-family: $font-family-medium;
				font-size: 14px;
				width: 20%;
			}
			& div:first-child{
				margin-right: 0;
				margin-right: 19px;
			}
			& div:nth-child(3){
				margin-left: 10px;
			} div:nth-child(2){
				width: 19%;
			}
			& .sort-registrants{
				position: relative;
				left: 90px;
			}
		}
		& .session-registrants-grid-row.active{
			background-color: #fffde6 !important;
		}
		& .session-registrants-grid-row.active:hover{
			background-color: #fffde6 !important;
		}
		& .session-registrants-grid-row{
			display: flex;
			align-items: center;
			height: 70px;
			border-bottom: 1px solid #cdcdcd;
			background-color: #fafafa !important;
			padding-left: 17px;
			&:hover{
				background-color: #8bd0ef !important;
			}
			&:first-child{
				border-top: 1px solid #cdcdcd;
			}
			& .checkbox-ico{
				margin-right: 0;
			}
			& div:nth-child(2){
				width: 36px;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 8px;
				& img {
					@include shape(36px, 36px, 50px);
				}
			}
			& div:nth-child(3){
				width: 17.2%;
			}
			& div:nth-child(6){
				width: 20.5%;
			}
			& div:nth-child(4){
				width: 19.7%;
			}
			& div:nth-child(5){
				width: 20%;
			}
		}
	}
}
.download-as-csv-option{
	margin: 0;
    width: 155px !important;
    height: 30px !important;
    border-radius: 10px;
    border-top-style: none;
    padding-top: 20px;
    padding-left: 15px;
    position: relative;
    top: -15px;
    left: 18px;
    &:hover{
    	background-color: rgb(117,117,117);
    	color: #fafafa;
    }
}
.download-as-csv-option-2{
	width: 170px;
    position: relative;
    top: -20px;
    height: 50px;
    left: -15px;
    padding-left: 20px;
    padding-top: 14px;
    margin-left: 0;
    &:hover{
    	& i{
    		color: #fff !important;
    	}
    }
}