.create-session-fields-panel{
	background-color: #edf0f2;
	margin-top: 20px;
	padding-bottom: 15px;
	& input{
		border: 1px solid #cdcdcd;
	}
	& > div:last-child{
		display: flex;
	    border-top: 1px solid #cdcdcd;
	    padding-top: 15px;
	    padding-right: 20px;
	    align-items: center;
	    justify-content: space-between;
	    padding-left: 20px;
	}
	& .session-custom-fields{
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-top: 20px;
		& .session-custom-field-name{
			width: 50%;
			height: 40px;
			margin-right: 20px;
			padding-left: 10px;
			font-size: 14px;
			font-family: $font-family-medium;
		}
		& > div > div:not(.custom-field-options-div){
			width: 280px;
			height: 42px;
			line-height: 44px;
			& .rights-select-icon{
				background-image: url("/assets/images/select-arrows-ico.png");
			    background-repeat: no-repeat;
			    width: 11px;
			    height: 15px;
			    float: right;
				margin-top: 4px;
			}
			&:hover{
				& .rights-select-icon{
					background-image: url("/assets/images/rights-ico-white.png");
				}
			}
		}
	}
	& .save-field-session{
		background-color: #68aa3b;
		@include shape(150px, 40px, 20px);
		color: #fff;
		text-align: center;
		align-self: flex-end;
		line-height: 40px;
		font-family: $font-family-demi;
		margin-left: auto;
		font-size: 14px;
	}
	& .cancel-field-session{
		@include shape(150px, 40px, 20px);
		text-align: center;
		line-height: 40px;
		font-family: $font-family-medium;
		font-size: 14px;
		border: 1px solid #cdcdcd;
	}
	& .session-custom-fields-options{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		margin-bottom: 20px;
		& > div{
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			& > input{
				width: 50%;
				height: 40px;
				padding-left: 10px;
				margin-right: 10px;
				font-size: 14px;
				font-family: $font-family-medium;
			}
		}
	}
}