.notifications-initial-purchase-wrapper {
    width: 100%;
    height: calc(100vh - 75px);
    font-size: 0;
    overflow-y: scroll;
}

.notifications-initial-purchase-wrapper:before {
    content: '';
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.push-notifications-information-holder {
    width: 90%;
    margin-left: 5%;
    min-height: 670px;
    display: inline-block;
    vertical-align: middle;
    height: 70%;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
}

.push-notifications-information-holder .informations-half {
    width: 100%;
    height: 50%;
}

.push-notifications-information-holder .informations-half:before {
    content: '';
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.push-notifications-information-holder .informations-half.description {
    background-color: #F0F9FF;
}

.push-notifications-information-holder .informations-half .feature-explainer {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    width: 100%;
    color: #4a4a4a;
}

.feature-explainer {
    padding: 20px;
}

.push-notifications-information-holder .informations-half .feature-explainer .feature-title {
    font-size: 20px;
}

.push-notifications-information-holder .informations-half .feature-explainer .feature-description {
    font-size: 16px;
    margin-top: 16px;
    line-height: 24px;
}

.push-notifications-information-holder .informations-half .feature-explainer .feature-pricing {
    font-size: 24px;
    margin-top: 20px;
}

.push-notifications-information-holder .informations-half .feature-explainer .feature-pricing span {
    font-size: 16px;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor {
    height: 96px;
    border: 1px solid #B3B3B3;
    margin: 0px auto;
    margin-top: 40px;
    display: inline-block;
    padding-left: 30px;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .incremented-value {
    font-size: 70px;
    line-height: 110px;
    height: 96px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -20px;
}

.credits-dropdown {
    font-size: 50px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -20px;
    background-color: white;
    padding: 10px;
}

.credits-dropdown-holder {
    font-size: 50px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -20px;
    background-color: white;
    padding: 10px;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .increment-actions-holder {
    float: right;
    margin-top: calc(48px - 5px - 5px - 2px);
    margin-right: 8px;
    margin-left: 30px;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .increment-actions-holder .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #818181;
    margin-top: 4px;
    cursor: pointer;
    transform: none;
    transition: transform .3s ease;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .increment-actions-holder .arrow-down:hover {
    transform: translateY(2px);
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .increment-actions-holder .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #818181;
    cursor: pointer;
    transform: none;
    transition: transform .3s ease;
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-incrementor .increment-actions-holder .arrow-up:hover {
    transform: translateY(-2px);
}

.push-notifications-information-holder .informations-half .feature-explainer .notifications-price-holder {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 27px;
    margin-top: 77px;
}

.push-notifications-information-holder .informations-half .feature-explainer .buy-notifications-button {
    width: 146px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: white;
    background-color: #68AA3B;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 60px;
    margin-bottom:20px;
    cursor: pointer;
    transition: transform .3s ease;
    transform: none;
}

.push-notifications-information-holder .informations-half .feature-explainer .buy-notifications-button:hover {
    transform: translateY(-4px);
}

.credits-dropdown-select {
    text-align: center;
    font-size: 60px;
    height: 100px;
    width: 300px;
    text-align-last: center;
    margin: 0;
    &>option {
        font-size: 60px;
        padding: 5px;
        line-height: 30px;
        text-align: center;
    }
}

.credits-dropdown-select .md-select-label {
    min-width: calc(100%);
    min-height: calc(100%);
    margin: -20px 0 0 0;
    padding: 25px 0 0 0;
    display: block;
    border: 1px solid black;
}

.credits-dropdown-select .md-select-label .md-select-icon {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.md-scroll-mask {
    &::-webkit-scrollbar {
        width: 0;
    }
}

md-content.payment-form-buttons  {
    background-color: white !important;
    overflow-y: scroll !important;
}

.md-select-value > span:not(.md-select-icon){
  overflow: visible;
}

.credits-dropdown-select{
  border: 1px solid #cdcdcd;
  position: relative;
  line-height: 100px;
  cursor: pointer;
}

.credits-dropdown-select .credits-dropdown-options-container{
  @include shape(300px, 200%, 0);
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -50px;
  background-color: #fff;
  z-index: 999999;
  &::-webkit-scrollbar {
      width: 0;
  }
}
.credits-dropdown-options-container .credits-dropdown-option{
  width: 300px;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  font-size: 30px;
  display: block;
  line-height: 50px;
  cursor: pointer;
  &:last-child{
    border-style: none;
  }
  &:hover{
    background-color: #cdcdcd;
  }
}

.credits-dropdown-select .md-select-label{
  border-style: none !important;
}

.credits-dropdown-select .md-text > span{
  font-size: 60px;
  color: #4a4a4a;
}
md-select-menu md-option span{
  font-size: 30px;
  color: #4a4a4a;
}

.credits-drop-down {
    background-color: white;
    box-sizing: border-box;
}
