.acc-center{
	background-image: url(../../assets/images/login_bg.png);
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	position: fixed;
}
.container-center-signup{
	background-color: #F0F9FF;
	width: 633px;
	height: inherit;
	& .confirm-account{
		@include flex;
		text-align: center;
		& p{
			font-family: $font-family-medium;
			color: #4a4a4a;
			font-size: 14px;
			margin-top: 38px;
		}
		& .digit-inputs{
			@include flex;
			flex-direction: row;
			margin-top: 14px;
			margin-bottom: 38px;
			& input{
				@include shape(35px, 40px, 0); 
				text-align: center;
				margin-right: 20px;
				&:focus{
					border: 1px solid #26a7de;
				}
			}
		}
		& .submit-digits-code{
			@include shape(230px, 40px, 20px);
			background-color: #26a7de !important;
			margin-bottom: 25px;
		}
	}
}
.mid-signup{
	@include flex;
}
.acc-bottom a{
	color: #26a7de !important;
	font-size: 12px;
	font-family: $font-family-medium;
}
.acc-bottom{
	@include flex;
	justify-content: center;
	width: inherit;
	border-top: 1px solid #d0d1d1;
	& a{
		margin-bottom: 30px;
		margin-top: 18px;
	}
}
.acc-inp{
	text-align: center;
	display: block;
	margin-bottom: 10px;
	width: 324px;
	height: 40px;
	font-size: 14px;
	font-family: $font-family-medium;
	position: relative;
}
.acc-inp:first-child{
	margin-top: 36px;
}
.acc-inp:last-child{
	margin-bottom: 21px;
}
.acc-inp:focus{
	outline: none !important;
	border: 1px solid #26a7de;
}
.acc{
	@include flex;
	justify-content: center;
	margin: auto auto;
	width: 633px;
	background-color: #fff;
    margin-top: calc((100vh - 557px)/2);
}
.acc-cr{
	margin-bottom: 27px;
	font-family: $font-family-bold;
	font-size: 14px;
	width: 241.95px ;
	height: 40px;
	background-color: #26a7de !important;
}
.acc-top{
	width: inherit;
	@include flex;
	justify-content: center;
	border-bottom: 1px solid #D0D1D1;
}

.acc-top img{
	width: 224px;
	margin-top: 35px;
	margin-bottom: 40px;
}
.bottom-height{
	height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    font-size: 12px;
    font-family: $font-family-medium;
    color: #4a4a4a; 
    & a{
    	margin: 0;
    }
}

.terms-holder {
	text-align: center;
	color: #4C4C4C;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	line-height: 10px;

	padding-top: 16px;
	padding-bottom: 30px;
}

.terms-holder a {
	color: #58A2D3 !important;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;

	transition: border-bottom .3s ease;
}

.terms-holder a:hover {
	border-bottom: 1px solid #58A2D3;
}