.start-registration-modal{
  @include modal;
  & p{
    margin: 0;
  }
  & .fa-flag{
    font-size: 80px;
    transform: rotate(20deg);
    margin-bottom: 14px;
  }
  & > div:not(:last-child){
    padding-left: 75px;
    padding-right: 75px;
  }
  & .start-registration-modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #59bbe7;
    color: #fff;
    & > p{
      text-align: center;
      line-height: 1.60;
    }
    & .modal-title{
      font-size: 36px;
      margin-bottom: 29px;
    }
    & .modal-subtitle{
      font-size: 18px;
      &:last-child{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 17px;
      }
    }
  }
  & .start-registration-modal-content{
    padding-top: 27px;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    & > div{
      display: flex;
      align-items: flex-start;
      margin-bottom: 12px;
      & .step-circle{
        color: #fff;
        @include shape(25px, 25px, 50%);
        min-width: 25px;
        background-color: #59bbe7;
        font-family: $font-family-bold;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        margin-right: 10px;
      }
      & > .modal-text{
        display: flex;
        flex-direction: column;
        & > p{
          font-family: $font-family-medium;
          font-size: 14px;
          line-height: 1.57;
          text-align: left;
          color: #4a4a4a;
          margin-bottom: 10px;
          & > span{
            color: #59bbe7;
          }
        }
      }
    }
  }
  & .start-registration-modal-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 34px 29px 34px;
    border-top: 1px solid #cdcdcd;
    & > div:first-child{
      color: #4a4a4a;
      @include shape(148px, 40px, 20px);
      border: 1px solid #9b9b9b;
      font-family: $font-family-medium;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
    }
    & > div:last-child{
      color: #fff;
      @include shape(148px, 40px, 20px);
      background-color: #68aa3b;
      font-family: $font-family-bold;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
    }
  }
}