.support-main-wrapper {
    height: calc(100vh - 75px);
}

.main-top-wrapper {
    height: 120px;
    background-color: #dbf4ff;
}
.main-top-wrapper:before {
    content: '';
    height: 100%;
    width: 0px;

    display: inline-block;
    vertical-align: middle;

}

.search-users-input {
    height: 40px;
    width: 50%;
    background-color: white;
    border: 1px solid #cdcdcd;

    display: inline-block;
    vertical-align: middle;
    margin-left: 70px;

    box-sizing: border-box;

    font-family: 'AvenirNextLTPro-Regular';
    font-size: 16px;
    color: #4a4a4a;

    padding-left: 10px;
}

.support-table-head {
    height: 72px;
    width: 100%;

    background-color: #edf0f2;

    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

    padding-left: 44px;
    padding-right: 44px;

    line-height: 70px;

    box-sizing: border-box;

    font-size: 0;
}

.table-item-value {
    display: inline-block;
    vertical-align: middle;

    font-size: 14px;
    color: #4a4a4a;

    font-family: 'AvenirNextLTPro-Regular';

    line-height: 70px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-item-value.user {
    width: 16%;
}

.table-item-value.email {
    width: 23%;
}

.table-item-value.phone {
    width: 12%;
}

.table-item-value.company {
    width: 15%;
}

.table-item-value.code {
    width: 10%;
    text-align: center;
}

.support-table-items-container {
    background: none;
    overflow-y: scroll;
    height: calc(100vh - 72px - 120px - 75px)
}

// email : 23%;
// phone: 12%
// company: 19%
// name: 16%
// code: 10%