.revenue-main-container{
  & p{
    margin: 0;
    padding: 0;
  }
  display: flex;
  flex-direction: column;
  padding: 39px 36px 116px 46px;
  background-color: #edf0f2;
  height: 77vh;
  overflow-y: auto;
  & > div{
    display: flex;
    justify-content: space-between;
  }
  & .top-containers > div, & .bottom-containers > div{
    height: auto;
    width: 41%;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 24px;
    padding-bottom: 20px;
    & .container-title{
      font-family: $font-family-demi;
      font-size: 18px;
    }
    & .revenue-container-data-circle {
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include shape(135px, 103px, 50%);
      border: 1px solid #cdcdcd;
      & > p{
        font-family: $font-family-medium;
        font-size: 13px;
        &:first-child {
          font-size: 36px;
          font-family: $font-family-demi;
        }
      }
    }
  }

  & .top-containers {
    max-height: 53%;
    min-height: 478px;
    margin-bottom: 33px;
    & .revenue-registration-container {
      & .container-top{
        & > p{
          font-size: 14px;
          font-family: $font-family-medium;
          margin-top: 25px;
        }
        & .registration-graph-container {
          margin-top: 18px;
          max-height: 240px;
          width: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          padding-right: 10px;
          &::-webkit-scrollbar {
              width: 4px;
          }
          & .registration-graph-container-list-content {
            padding-bottom: 24px;
            width: 100%;
            display: block;
            font-size: 0;
            & .registration-graph-container-content {
              align-items: center;
              width: 100%;
              & .graph-level-name {
                width: 30%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                font-family: $font-family-medium;
                font-style: italic;
                line-height: 30px;
                text-align: right;
                padding-right: 11px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              & .registration-graph-level-name-separator{
                width: 1px;
                background-color: #818181;
                height: 48px;
                display: inline-block;
                vertical-align: middle;
              }
              & .graph-details-wrapper {
                width: calc(70% - 2px);
                display: inline-block;
                vertical-align: middle;
                & .registration-graph-bar-container {
                  width: 70%;
                  display: inline-block;
                  vertical-align: middle;
                  & .registration-graph-bar {
                    background-color: #26a7de;
                    height: 19px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    max-width: calc(70% - 11px);
                  }
                  & .graph-nr-registrants {
                    width: 20%;
                    margin-left: 11px;
                    margin-right: auto;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 12px;
                    font-family: $font-family-medium;
                    line-height: 30px;
                  }
                }
              }
              & .graph-total-revenue {
                width: 30%;
                display: inline-block;
                vertical-align: middle;
                text-align: right;
                font-size: 14px;
                font-family: $font-family-medium;
                line-height: 30px;
              }
            }
          }
        }
      }
      & .container-bottom {
        display: block;
        & > .registration-revenue-container-bottom-details{
          margin-bottom: 10px;
          width: 100%;
          & > div{
              font-family: $font-family-medium;
              font-size: 14px;
              display: inline-block;
              &:last-child{
                float: right;
              }
          }
        }
      }
    }
    & .revenue-exhibitors-container{
      & .container-top {
        & p{
          font-family: $font-family-medium;
          font-size: 14px;
        }
        & > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:last-child {
            margin-top: 20px;
          }
        }
        & .exhibitors-container-circles {
          justify-content: space-between;
          align-items: center;
          margin: 26px 7px 24px 13px;
        }
      }
      & .container-bottom{
        & > p{
          font-family: $font-family-medium;
          font-size: 12px;
          margin-top: 10px;
          & > span{
            font-style: italic;
          }
        }
        & > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & > p {
            font-family: $font-family-demi;
            font-size: 14px;
          }
        }
      }
    }
  }
  & .bottom-containers{
    max-height: calc(47% - 33px);
    min-height: 332px;
    & .revenue-organizer-container{
      & .container-top{
        & .revenue-container-data-circle{
          margin-top: 14px;
          margin-bottom: 32px;
          margin-left: auto;
          margin-right: auto;
        }
        & .organizer-revenue-container-details{
          width: 100%;
          & > div{
            display: inline-block;
            font-family: $font-family-medium;
            font-size: 14px;
            &:last-child{
              float: right;
            }
          }
        }
      }
      & .container-bottom{
        & .organizer-revenue-container-details{
          width: 100%;
          & > div{
            display: inline-block;
            font-family: $font-family-demi;
            font-size: 14px;
            &:last-child{
              float: right;
              font-family: $font-family-bold;
              color: #68aa3b;
            }
          }
        }
      }
    }
    & .revenue-overall-conference-container{
      & .container-top{
        margin-bottom: 0;
        width: 100%;
        border-bottom-style: none;
        & > p{
          display: inline-block;
          font-size: 18px;
          &:last-child{
            float: right;
            font-family: $font-family-bold;
          }
        }
      }
      & .container-bottom{
        height: 85%;
        text-align: center;
        & #super-admin-overall-revenue-graph{
          height: 108%;
          width: 100%;
          display: inline-block;
          & path {
            stroke-opacity: 0;
          }
        }
      }
    }
  }
  & .container-top{
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  & .revenue-container-data-circle{
    margin-left: auto;
    margin-right: auto;
  }
  & .nv-label {
    font-family: $font-family-medium;
    font-size: 12px !important;
    color: #4a4a4a;
  }
  & .nv-pie{
    border: 1px solid #cdcdcd;
  }

  & .nv-legendWrap{
    transform: translate(300px, 70px);
  }
}

@media screen and (max-width: 1360px){
  .top-containers, .bottom-containers{
    all: unset;
    width: 70%;
    max-height: none !important;
    min-height: unset !important;
    margin-right: auto;
    margin-left: auto;
    height: auto !important;
    display: block !important;
    & > div{
      width: 100% !important;
      margin-bottom: 30px;
    }
  }
  .top-containers{
    margin-bottom: 0;
  }
  .revenue-main-container{
    overflow-y: auto;
  }
  .revenue-overall-conference-container{
    min-height: 300px;
  }
  #super-admin-overall-revenue-graph > svg{
    height: 260px;
  }
}
