.travel{
	height: 81vh;
    overflow-y: auto;
    overflow-x: hidden;
	& p{
		margin: 0;
	}
	& .travel-none{
		border: 1px solid #cdcdcd;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 109px;
		margin-left: auto;
		margin-right: auto;
		width: 45%;
		& > p{
			font-family: $font-family-medium;
			font-size: 16px;
			margin-top: 45px;
			margin-bottom: 33px;
		}
		& > div{
			@include shape(230px, 40px, 20px);
			background-color: #68aa3b;
			font-family: $font-family-bold;
			font-size: 14px;
			color: #fff;
			text-align: center;
			line-height: 40px;
			margin-bottom: 64px;
			cursor: pointer;
		}
	}
	& .travel-types{
		height: 69px;
		display: flex;
		flex-direction: row;
		background-color: #fafafa;
		width: 100vw;
		border-bottom: 1px solid #cdcdcd;
		& > div{
			text-align: center;
			border-right: 1px solid #cdcdcd;
			line-height: 69px;
			font-size: 16px;
			font-family: $font-family-medium;
			width: 167px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	& .travel-form{
		width: 97.6%;
	    margin-left: 42px;
	    padding-top: 33px;
	    margin-right: 38px;
	    padding-bottom: 5vh;
		& > div{
			width: inherit;
		}
		& > div:nth-child(2){
			margin-top: 13px;
			margin-bottom: 42px;
			& > div{
				width: 50%;
				&:first-child{
					& > div{
						margin-bottom: 16px;
						align-items: center;
						& > p{
							width: 35%;
						}
						& > input{
							height: 40px;
							padding-left: 10px;
							width: 40%;
						}
						&:last-child{
							margin-bottom: 0;
						}
						&:nth-child(7) > input{
							width: 7%;
						}
					}
				}
				&:last-child{
					& > div{
						border: 2px dashed #979797;
						background-color: #edf0f2;
						height: 120px;
						align-items: center;
						margin-bottom: 43px;
						& > p{
							margin-top: 21px;
							margin-bottom: 24px;
							font-size: 14px;
							font-family: $font-family-demi;
						}
						& > div{
							font-size: 12px;
							font-family: $font-family-demi;
							text-align: center;
							@include shape(150px, 30px, 20px);
							line-height: 30px;
							border: 1px solid #cdcdcd;
							background-color: #fff;
						}
					}
					& > textarea{
						height: 86px;
						padding: 13px;
						font-size: 14px;
						font-family: $font-family-medium;
					}
					& > img{
						width: auto;
						height: auto;
						max-width: 100%;
						max-height: 46%;
						margin-bottom: 22px;
					}
				}
			}
		}
		& > div:first-child{
			align-items: center;
			justify-content: space-between;
			& > p:first-child{
				font-size: 20px;
				font-family: $font-family-demi;
			}
			& > p:last-child{
				font-size: 12px;
				color: #f58a1c;
				font-family: $font-family-medium;
			}
		}
		& > div:last-child{
			padding-top: 14px;
			border-top: 1px solid #cdcdcd;
			margin-bottom: 60px;
			& > .remove-travel-item-btn{
				margin-right: auto;
				margin-left: 10px;
			}
			& > div:first-child, & .remove-travel-item-btn{
				@include shape(150px, 40px, 20px);
				border: 1px solid #cdcdcd;
				text-align: center;
				line-height: 40px;
				font-size: 14px;
				font-family: $font-family-medium;
			}
			& > .save-travel-item-button{
				@include shape(150px, 40px, 20px);
				text-align: center;
				line-height: 40px;
				font-size: 14px;
				color: #fff;
				background-color: #68aa3b;
				font-family: $font-family-demi;
				margin-right: 8px;
			}
			& > div:last-child{
				@include shape(230px, 40px, 20px);
				text-align: center;
				line-height: 40px;
				font-size: 14px;
				color: #fff;
				background-color: #68aa3b;
				font-family: $font-family-demi;
			}
		}
	}
}
.travel-list{
	& p{
		font-size: 14px;
		font-family: $font-family-medium;
	}
	& td{
		font-size: 14px;
		font-family: $font-family-medium;
	}
	& th{
		font-size: 14px;
		font-family: $font-family-medium;
	}
	& table{
		width: 90vw;
		& tr{
			padding-left: 43px;
		}
		& thead > tr{
			height: 68px;
			align-items: center;
			& > th{
				width: 33vw;
				text-align: left;
			}
		}
		& tbody {
			& > tr{
				height: 150px;
				border-top: 1px solid #cdcdcd;
				align-items: center;
				background-color: #fafafa;
				& > td{
					width: 33vw;
					margin-top: 23px;
					text-align: left;
					align-self: flex-start;
				}
			}
		}
	}
}
.add-travel-type-button{
	@include shape(167px, 30px, 20px);
	border: 1px solid #cdcdcd;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	margin-top: 26px;
	margin-right: 38px;
	margin-left: auto;
	margin-bottom: 86px;
}
.save-travel-item-button{
	margin-left: auto;
	background-color: #68aa3b !important;
	color: #fff;
	font-family: $font-family-demi;
}
.big-add-trans-button{
	width: 244px;
}
.big-add-car-button{
	width: 204px;
}
.select-travel-default-types{
	& > input, & > select{
		padding-left: 10px;
		height: 40px;
		width: 171.7%;
		&:first-child{
			background-color: #fff;
			padding-left: 6px;
			border: 1px solid #cdcdcd;
			margin-bottom: 12px;
			width: 177.7%;
		}
	}
}