.upload-sessions-first-page{
	padding-top: 157px;
	display: flex;
	flex-direction: column;
	align-items: center;
	& > p{
		margin-top: 36.3px;
		margin-bottom: 50px;
		font-family: $font-family-medium;
		font-size: 20px;
	}
	& > div{
		@include shape(190px, 30px, 20px);
		border: 1px solid #cdcdcd;
		font-family: $font-family-demi;
		font-size: 12px;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		&:nth-child(4){
			margin-top: 20px;
			margin-bottom: 32px;
		}
	}
}