@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//You can change the values of css style, but do not delete the "!important" css setting for good functionality!

#expo-form {
    font-family: "Open Sans" !important;
}

.iframe-background-color{
    background-color: #fff !important;
}

.iframe-next-and-register-button-color{
    background-color: #26a7de !important;
}

.iframe-next-and-register-button-text-color{
    color: #fff !important;
}

.iframe-next-and-register-button-font-size{
    font-size: 14px !important;
}

.iframe-next-and-register-button-font-family{
    font-family: "Open Sans" !important;
    font-weight: 700 !important;
}

.iframe-previous-button-border-color{
    border-color: #26a7de !important;
}

.iframe-previous-button-color{
    background-color: #fff !important;
}

.iframe-previous-button-text-color{
    color: #4a4a4a !important;
}

.iframe-previous-button-font-size{
    font-size: 14px !important;
}

.iframe-previous-button-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.iframe-cancel-button-color{
    color: #26a7de !important;
}

.iframe-cancel-button-font-size{
    font-size: 14px !important;
}

.iframe-cancel-button-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.registration-iframe-subtitles-font-size{
    font-size: 16px !important;
}

.registration-iframe-subtitles-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.registration-fields-font-size{
    font-size: 16px !important;
}

.registration-fields-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.registration-fields-text-font-size{
    font-size: 16px !important;
}

.registration-fields-text-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.reigstration-level-title-font-size{
    font-size: 20px !important;
}

.reigstration-level-title-font-family{
    font-family: "Open Sans" !important;
    font-weight: 700 !important;
}

.reigstration-level-price-font-size{
    font-size: 14px !important;
}

.reigstration-level-price-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.reigstration-level-description-font-size{
    font-size: 12px !important;
}

.reigstration-level-description-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.reigstration-level-benefits-font-size{
    font-size: 12px !important;
}

.reigstration-level-benefits-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.registration-level-unchecked-background-color{
    background-color: #f6f7f8 !important;
}

.registration-level-checked-background-color{
    background-color: #26a7de;
}

.registration-level-panel-background-color{
    background-color: #edf0f2 !important;
}

.check-mark-color{
    background-color: #68aa3b !important;
}

.pre-register-sessions-title-font-size{
    font-size: 14px !important;
}

.pre-register-sessions-title-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.pre-register-sessions-unchecked-background-color{
    background-color: #fff !important;
}

.pre-register-sessions-checked-background-color{
    background-color: #f0f9ff !important;
}

.pre-register-sessions-time-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.pre-register-sessions-time-font-size{
    font-size: 14px !important;
}

.pre-register-sessions-unchecked-day-background-color{
    background-color: #fff !important;
}

.pre-register-sessions-checked-day-background-color{
    background-color: #f0f9ff !important;
}

.pre-register-sessions-day-font-size{
    font-size: 14px !important;
}

.pre-register-sessions-hours-background-color{
    background-color: rgba(237, 240, 242, 0.5) !important;
}

.pre-register-sessions-hours-font-size{
    font-size: 14px !important;
}

.pre-register-sessions-hours-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.add-on-sessions-title-font-size{
    font-size: 14px !important;
}

.add-on-sessions-title-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.add-on-sessions-price-and-time-font-size{
    font-size: 14px !important;
}

.add-on-sessions-price-and-time-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.add-on-sessions-unchecked-background-color{
    background-color: #fff !important;
}

.add-on-sessions-checked-background-color{
    background-color: #f0f9ff !important;
}

.add-on-sessions-unchecked-day-background-color{
    background-color: #fff !important;
}

.add-on-sessions-day-font-size{
    font-size: 14px !important;
}

.add-on-sessions-hours-background-color{
    background-color: rgba(237, 240, 242, 0.5) !important;
}

.add-on-sessions-hours-font-size{
    font-size: 14px !important;
}

.add-on-sessions-hours-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.session-popup-preview-title-font-size{
    font-size: 20px !important;
}

.session-popup-preview-title-font-family{
    font-family: "Open Sans" !important;
    font-weight: 700 !important;
}

.session-popup-preview-subtitle-font-size{
    font-size: 14px;
}

.session-popup-preview-subtitle-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.session-popup-preview-details-font-size{
    font-size: 12px !important;
}

.session-popup-preview-details-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}

.session-popup-preview-select-button-color{
    background-color: #26a7de !important;
}

.continuing-educations-unchecked-background-color{
    background-color: #fff !important;
}

.continuing-educations-checked-background-color{
    background-color: #f0f9ff !important;
}

.continuing-educations-title-font-size{
    font-size: 14px !important;
}

.continuing-educations-title-font-family{
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
}

.payment-fields-font-size{
    font-size: 16px !important;
}

.payment-fields-font-family{
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
}
