.profile-modal{
	@include modal;
	@include shape(620px, 851px, 0);
	overflow-x: hidden;
	& .profile-modal-main-info{
		height: 147px;
		border-bottom: 1px solid #cdcdcd;
		@include flex; 
		flex-direction: row;
		align-items: center;
		& .profile-modal-image{
			margin-left: 36px;
			margin-right: 28px;
			@include shape(90px, 90px, 50px);
		}
		& .profile-modal-edit-btn, .log-out-button{
			@include shape(90px, 40px, 20px);
			border: 1px solid #9b9b9b;
			color: #4a4a4a;
			background-color: inherit;
			font-family: $font-family-medium;
			font-size: 14px;
			text-align: center;
			padding-top: 10px;
			margin-right: 25px;
			cursor: pointer;
		}
		& .profile-modal-top-info{
			margin-right: auto; 
			& p{
				margin: 0;
				margin-bottom: 6px;
				font-family: $font-family-medium;
				font-size: 14px;
				color: #4a4a4a;
				&:first-child{
					font-size: 20px;
					font-family: $font-family-demi;
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	& .profile-modal-tabs{
		@include flex;
		flex-direction: row;
		background-color: #fafafa;
		& div{
			border-right: 1px solid #cdcdcd;
			height: 63px;
			width: calc(100vw/3);
			text-align: center;
			padding-top: 26px;
			color: #4a4a4a;
			font-size: 16;
			font-family: $font-family-medium;
			border-bottom: 1px solid #cdcdcd;
			cursor: pointer;
		}
		& .tab-selected{
			border-bottom-style: none;
			background-color: #fff;
		}
	}
	& .profile-modal-other-info{
		color: #4a4a4a;
		font-family: $font-family-demi;
		font-size: 14px;
		margin-top: 30px;
		& .profile-modal-field{
			display: flex;
			margin-left: 33px;
			margin-bottom: 20px;
			& div:first-child{
				margin-right: 14px;
				width: 106px;
			}
			& div:last-child{
				font-family: $font-family-medium;
			}
		}
	}
	& .merchant-agreement{;
		font-family: $font-family-medium;
		font-size: 14px;
		color: #4a4a4a;
		padding: 25px 50px 0 33px;
	}
}
.profile-modal-edit{
	@include modal;
	@include shape(620px, 911px, 0);
	overflow-y: scroll;
	overflow-x: hidden;
	& .modal-attendee{
		width: inherit;
		margin: 0;
		& form, h3{
			margin-left: 32px;
		}
		& h3{
		    padding-bottom: 0;
		    border-bottom-style: none;
		    padding-left: 0;
		}
		& form p{
			border-bottom-style: none;
			margin: 0;
		}
	}
	& md-content{
		position: relative;
		height: 90px;
		border-top: 1px solid #cdcdcd;
		padding-top: 35px;
		& .btnS{
			float: right;
			margin-right: 50px;
		}
		& .btnC{
			margin-left: 32px;
		}
	}
}
.ngdialog-close:before{
 	content: none;
}
.labels-edit-your-profile:nth-child(1) > label:after, .labels-edit-your-profile:nth-child(2) > label:after{
	content: '*';
	color: #f58a1c;
	font-size: 12px;
	font-family : $font-family-medium;
}
.profile-merchant-status{
	align-items: center;
	& > i{
		font-size: 64px;
		color: #26a7de;
		margin-bottom: 39px;
	}
	& > p{
		margin: 0;
		font-size: 20px;
		text-align: center;
		margin-bottom: 35px;
		line-height: 34px;
	}
	& > div{
		padding-top: 35px;
		border-top: 1px solid #cdcdcd;
		width: 22vw;
		& > div{
			background-color: #68aa3b;
			margin-right: auto;
			margin-left: auto;
			@include shape(150px, 40px, 20px);
			text-align: center;
			line-height: 40px;
			color: #fff;
			font-size: 14px;
			font-family: $font-family-bold;
		}
	}
}