<div class="profile-modal" ng-hide="$parent.editProfile">
	<div class="profile-modal-main-info">
        <div class="profile-modal-image" style="margin-right: 0px; margin-left: 76px; margin-top: 15px;">
            <useravatar style="margin-left: -45px;" image="$parent.userProfile.profile_url"
                firstname="$parent.userProfile.first_name"
                lastname="$parent.userProfile.last_name"
                size="90px"
                fontsize="26px">
            </useravatar>
        </div>
		<div class="profile-modal-top-info">
			<p>{{$parent.userProfile.first_name + ' ' + $parent.userProfile.last_name}}</p>
			<p ng-hide="{{$parent.userProfile.job_title !== undefined}}">Title</p>
			<p ng-show="{{$parent.userProfile.job_title !== undefined}}">{{$parent.userProfile.job_title}}</p>
			<p>{{$parent.userProfile.email}}</p>
		</div>
		<div class="profile-modal-edit-btn" ng-click="$parent.editProfile = true">Edit</div>
		<div class="log-out-button" ng-click="$parent.LogOut(); closeThisDialog();">Log Out</div>
	</div>
	<div class="profile-modal-tabs">
		<div ng-click="$parent.profileTab = true;" ng-class="$parent.profileTab ? 'tab-selected' : ''">Company Profile</div>
		<div ng-click="$parent.profileTab = false;" ng-class="!$parent.profileTab ? 'tab-selected' : ''"
            style="width: 154%;">Merchant Agreement Status</div>
		<div style="cursor: auto; width: 89%;" ></div>
	</div>
	<div ng-if="$parent.profileTab" class="profile-modal-other-info">
		<div class="profile-modal-field" ng-repeat="info in $parent.details">
			<div>{{info.label}}</div>
			<div ng-hide="{{$parent.userProfile[info.code] !== undefined}}">---</div>
			<div ng-show="{{$parent.userProfile[info.code] !== undefined}}">{{$parent.userProfile[info.code]}}</div>
		</div>
	</div>
	<div ng-if="!$parent.profileTab" class="merchant-agreement">
        <div ng-if="$parent.status == 'unverified'" class="flex-column profile-merchant-status">
            <img src="/assets/images/warning-sign.png">
            <p>Your Merchant Agreement<br>has been unverified.</p>

            <div>
                <div class="cursor" ng-click="$parent.openMerchantAgreementForm()">UPDATE</div>
            </div>
        </div>
		<div ng-if="!$parent.status || $parent.status == 'not_started'" class="flex-column profile-merchant-status">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<p>Your Merchant Agreement<br>has not been completed. Please enter<br>the necessary information to continue.</p>
			<div>
				<div class="cursor" ng-click="$parent.openMerchantAgreementForm()">BEGIN</div>
			</div>
		</div>
        <div ng-if="$parent.status == 'incomplete'" class="flex-column profile-merchant-status">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <p>We noticed that your Merchant Agreement<br>is still in progress. Please finish and submit<br>your information to continue.</p>
            <div>
                <div class="cursor" ng-click="$parent.openMerchantAgreementForm()">RETURN TO WHERE I LEFT OFF</div>
            </div>
        </div>
        <div ng-if="$parent.status == 'pending'" class="flex-column profile-merchant-status">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <p>Your Merchant Agreement<br>is currently in review.<br>Thank you for your patience.</p>
        </div>
        <div ng-if="$parent.status == 'verified'" class="flex-column profile-merchant-status">
            <i class="fa fa-check" aria-hidden="true"></i>
            <p>Your Merchant Agreement<br>has been approved.</p>
            <div>
                <div class="cursor" ng-click="$parent.openMerchantAgreementForm()"
                    style="background-color: #fff; color: #4a4a4a; border: solid 1px #cdcdcd;">
                    VIEW OR EDIT
                </div>
            </div>
        </div>
        <div ng-if="$parent.status == 'rejected'" class="flex-column profile-merchant-status">
            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #e91d26;"></i>
            <p>An error has occured with your<br>Merchant Agreement submission.<br>Please review and resubmit.</p>
            <div>
                <div class="cursor" ng-click="$parent.openMerchantAgreementForm()">GO</div>
            </div>
        </div>
	</div>
</div>
<div ng-show="$parent.editProfile" class="bkground-blur profile-modal-edit">
	<div class="modal-attendee">
		<h3>Edit Your Profile</h3>
		<form name='profile-form'>
			<div ng-repeat="inp in $parent.editDetails" class="labels-edit-your-profile"
					ng-if="!((inp.code == 'state') && $parent.userProfile.country.trim() != 'United States')">
				<label>{{inp.label}}</label>
				<input class="inp-data" name='{{inp.code}}' type="{{inp.type}}"
						ng-if="inp.code != 'country' && inp.code != 'state'"
						ng-model='$parent.userProfile[inp.code]' ng-class="inp.code == 'email' ? 'uneditable' : ''" ng-readonly="{{inp.code == 'email' ? 'true' : 'false'}}"
						placeholder="{{ inp.valid === 'true' && ((profile-form.first_name.$touched && profile-form.first_name.$invalid) ||
						(profile-form.last_name.$touched && profile-form.last_name.$invalid)) ? 'Required' : inp.placeH}}"
						required>

				<!-- <input ng-if="(inp.code == 'state') && $parent.userProfile.country.trim() != 'United States'"
					class="inp-data"
					ng-model="$parent.userProfile.state"> -->

				<select class="select-country-holder"
                    ng-model="$parent.userProfile.state"
                    ng-if="(inp.code == 'state') && $parent.userProfile.country.trim() == 'United States'">
                    <option ng-repeat="option in $parent.united_states" ng-value="option.abbreviation">
                    	{{option.abbreviation}}
                    </option>
                </select>

				<select class="select-country-holder"
					ng-if="(inp.code == 'country')"
					ng-model="$parent.userProfile.country">
	                <option 
                    	ng-repeat="option in $parent.all_countries track by $index" ng-value="option.name">{{option.name}}
                    </option>
            	</select>

			</div>
			<div>
				<label>Profile Photo</label>
				<span ngf-select="$parent.uploadYourPhoto($files)" class="add_attendee_upload_link"
					 ngf-pattern="'image/*'"
					 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
					 ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<div class="attendee-upload-image">
                        <div ng-if="$parent.userProfile.profile_url">
                            <img ng-src="{{$parent.userProfile.profile_url || '/assets/images/default-profile-img.png'}}"
                                 err-src="/assets/images/default-profile-img.png"
								 class="img-circle user-img-small">
                        </div>
                        <div>
                            Upload from computer
                        </div>
                    </div>
				</span>
				<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
			</div>
			<p>*Required</p>
			<div>
				<label>Password</label>
				<input type="password" class="inp-data" ng-model="$parent.userProfile['password']">
			</div>
		</form>

		<md-content style="background: inherit; margin-right: 0;" class="buttons-profile">
			<md-button class="md-raised md-primary btnC" ng-click="$parent.editProfile = false">Cancel</md-button>
			<md-button class="md-raised md-primary btnS" ng-click="$parent.saveUserData() && closeThisDialog('')">Save</md-button>
		</md-content>
	</div>
</div>
