.delete-warning-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 440px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #cdcdcd;
  display: block;
  padding-left: 105px;
  padding-right: 105px;
}

.delete-warning-screen .warning-screen-icon-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 66px;
  margin-bottom: 39px;
}

.warning-screen-icon-container .fa-exclamation-triangle{
  font-size: 64px;
  color: #26a7de;
}

.delete-warning-screen .warning-screen-text-container {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  text-align: center;
  padding-left: 18.5px;
  padding-right: 18.5px;
  color: #4a4a4a;
  font-size: 20px;
  font-family: 'AvenirNextLTPro-Regular';
  margin-bottom: 35px;
}

.delete-warning-screen .warning-screen-buttons-container {
  display: inline-block;
  width: 100%;
  padding-top: 35px;
  border-top: 1px solid #cdcdcd;
}

.warning-screen-buttons-container .warning-screen-button {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cdcdcd;
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
  font-family: 'AvenirNextLTPro-Regular';
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;

  transition: background-color .2s ease, color .2s ease;
}

.warning-screen-buttons-container .warning-screen-button.delete-button {
  float: right;
}

.warning-screen-buttons-container .warning-screen-button.success-button {
  border: 1px solid #68aa3b;
}

.warning-screen-buttons-container .warning-screen-button.success-button:hover {
  background-color: #68AA3B;
  color: white;
}

.warning-screen-buttons-container .warning-screen-button:hover {
  background-color: #4a4a4a;
  color: white;
}
