<div class="delete-warning-screen">
	<div class="warning-screen-icon-container">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </div>
  <div class="warning-screen-text-container">
    Are you sure that you want to delete this badge? This will permanently remove it from your conference.
  </div>
  <div class="warning-screen-buttons-container">
    <div class="warning-screen-button cancel-button" ng-click="closeThisDialog()">CANCEL</div>
    <div class="warning-screen-button delete-button" ng-click="ngDialogData.deleteThisBadge(ngDialogData.badgeId, ngDialogData.indexOfBadge, ngDialogData.ngDialogId)">DELETE</div>
  </div>
</div>
