.refund-requirements{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 63px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 -2px 4px rgba(0, 0, 0, 0.26) !important;
    overflow-y: auto;
    height: 85vh;
    color: #4a4a4a;
    text-align: left;
    padding-top: 33px;
}
.refund-requirements p{
    margin: 0;
}
.close-refund-requirements-popup{
    width: 148px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #9b9b9b;
    margin-left: auto;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: normal;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 620px;
    padding: 0;
}
.ngdialog.ngdialog-theme-default{
    padding: 0;
}
