<div class="upload-attendees-wrapper"  ng-if="!uploadedCSVFile">
    <div class="conference-upload-body">
        <div class="upload-csv-custom-icon"></div>
        <div class="upload-csv-instructions">
            Upload an Exhibitors list using a CSV file.
        </div>
        <div class="conference-attendees-choose-file-wrapper">
          <div class="file-upload-button" ngf-select="uploadCSVFile($files)" ngf-max-size="10MB" ngf-multiple="false"
               ngf-accept="'.csv'">CHOOSE A FILE...</div>
            <!-- <div ngf-drop="uploadCSVFile($files)" class="drop-box drag-class" style="z-index:99999"
                  ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" >
            </div> -->
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
</div>
<div class="field-mapping-wrapper" ng-if="uploadedCSVFile">
  <div class="top-part" ng-class="{'active': activeView}">
    <div class="instructions-wrapper" ng-if="!instructionsDismissed">
      <div class="example-holder">
          <div class="arrow">
              <img src="/assets/images/curbed-arrow.png">
          </div>
          <div class="session-upload-file-example-field">
              Your Title
          </div>
          <div class="field-dotted session-upload-file-example-field">
              Expo Title
          </div>
      </div>
      <div class="instructions-text">
          Map your Exhibitors information by dragging your titles to the corresponding Expo titles.
      </div>
      <div class="csv-dismiss-button" ng-click="toggleInstructions(false)">
          -
      </div>
    </div>
    <div class="instructions-wrapper smaller" ng-if="instructionsDismissed">
      <div class="csv-dismiss-button" ng-click="toggleInstructions(true)">
          +
      </div>
    </div>
    <div class="buttons-container">
      <div class="file-details action-buttons-wrapper">
        <div class="file-name-wrapper">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <div class="file-name">{{uploadedCSVFile.name}}</div>
        </div>
        <div class="button" ngf-select="uploadAnotherCSVFile($files)" ngf-max-size="10MB" ngf-multiple="false"
             ngf-accept="'.csv'">Choose a different file...</div>
      </div>
      <div class="action-buttons-wrapper">
        <div class="button" ng-click='removeUploadedFile()'>cancel upload</div>
        <div class="button save" ng-click="bulkUploadExhibitors()">save</div>
      </div>
    </div>
  </div>

  <div class="mapping-actions-wrapper bottom-part" ng-class="{'active': activeView}">
    <div class="half computed-fields">
      <div class="field source" ng-repeat="field in exhibitorCSVKeys"
      data-drag="true" jqyoui-draggable="{
      placeholder:true,
      index:field}" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo: 'body'}"
      style="{{field.style}}"
      ng-class="field.mapping!=null ? 'field_is_mapped' : ''">
        <div class="field-values-wrapper">
          <div class="field-name">{{field.code}}</div>
          <div class="field-name">{{field.mappedValue}}</div>
        </div>
      </div>
    </div>
    <div class="half available-fields">
      <div class="field destination" ng-repeat="field in exhibitorMappingFields"  data-drop="true" data-jqyoui-options data-drag="true" ng-class="{'active': field.mapping}"
      jqyoui-droppable="{multiple:false, onDrop:'fieldDropped(field)'}">
        <div class="field-values-wrapper">
          <div class="field-name">{{field.name}}</div>
          <div class="field-name" ng-if="field.mapping">({{field.mapping}})</div>
        </div>
        <div class="undo-mapping" ng-if="field.mapping" ng-click="undoMapping(field)"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
  </div>
</div>
