<div class="profile-modal">
	<div class="profile-modal-main-info">
        <div class="profile-modal-image" style="margin-right: 0px; margin-left: 76px; margin-top: 15px;">
            <useravatar style="margin-left: -45px;" image="currentUser.profile_url"
                firstname="currentUser.first_name"
                lastname="currentUser.last_name"
                size="90px"
                fontsize="26px">
            </useravatar>
        </div>
		<div class="profile-modal-top-info">
			<p>{{currentUser.first_name + ' ' + currentUser.last_name}}</p>
			<p ng-hide="{{currentUser.job_title === undefined}}">Title</p>
			<p ng-hide="{{currentUser.job_title !== undefined}}">{{currentUser.job_title}}</p>
			<p>{{currentUser.email}}</p>
		</div>
		<div class="profile-modal-edit-btn" ng-click="editProfileHandler()">Edit</div>
		<div class="log-out-button" ng-click="logOut();">Log Out</div>
	</div>
	<div class="profile-modal-tabs">
		<div ng-click="switchTabs('profile')" ng-class="profileTabOpened ? 'tab-selected' : ''">Company Profile</div>
		<div ng-click="switchTabs('merchant')" ng-class="!profileTabOpened ? 'tab-selected' : ''" style="width: 154%;">Merchant Agreement Status</div>
		<div style="cursor: auto; width: 89%;" ></div>
	</div>
	<div ng-if="profileTabOpened" class="profile-modal-other-info">
		<div class="profile-modal-field" ng-repeat="info in profileTabDetails">
			<div>{{info.label}}</div>
			<div ng-hide="{{currentUser[info.code] !== undefined}}">---</div>
			<div ng-show="{{currentUser[info.code] !== undefined}}">{{currentUser[info.code]}}</div>
		</div>
	</div>
	<div ng-if="!profileTabOpened" class="merchant-agreement">
    <div ng-if="merchantAgreementStatus == 'unverified' && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
        <img src="/assets/images/warning-sign.png">
        <p>Your Merchant Agreement<br>has been unverified.</p>

        <div>
            <div class="cursor" ng-click="openMerchantAgreementForm()">UPDATE</div>
        </div>
    </div>
		<div ng-if="(!merchantAgreementStatus || merchantAgreementStatus == 'not_started') && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<p>Your Merchant Agreement<br>has not been completed. Please enter<br>the necessary information to continue.</p>
			<div>
				<div class="cursor" ng-click="openMerchantAgreementForm()">BEGIN</div>
			</div>
		</div>
    <div ng-if="merchantAgreementStatus == 'incomplete' && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <p>We noticed that your Merchant Agreement<br>is still in progress. Please finish and submit<br>your information to continue.</p>
        <div>
            <div class="cursor" ng-click="openMerchantAgreementForm()">RETURN TO WHERE I LEFT OFF</div>
        </div>
    </div>
    <div ng-if="merchantAgreementStatus == 'pending' && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <p>Your Merchant Agreement<br>is currently in review.<br>Thank you for your patience.</p>
    </div>
    <div ng-if="merchantAgreementStatus == 'verified' && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
        <i class="fa fa-check" aria-hidden="true"></i>
        <p>Your Merchant Agreement<br>has been approved.</p>
        <div>
            <div class="cursor" ng-click="openMerchantAgreementForm()"
                style="background-color: #fff; color: #4a4a4a; border: solid 1px #cdcdcd;">
                VIEW OR EDIT
            </div>
        </div>
    </div>
    <div ng-if="merchantAgreementStatus == 'rejected' && currentUser.merchant_account.merchant_account_type !== 'standard'" class="flex-column profile-merchant-status">
        <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #e91d26;"></i>
        <p>An error has occured with your<br>Merchant Agreement submission.<br>Please review and resubmit.</p>
        <div>
            <div class="cursor" ng-click="openMerchantAgreementForm()">GO</div>
        </div>
    </div>

		<div class="stripe-connect-wrapper" ng-if="currentUser.merchant_account.merchant_account_type === 'standard'">
			<a class="connect-button" ng-click="openStripeConnectInfoModal()">
				<i class="fa fa-cc-stripe"></i>
				<span>View your Stripe Account Info</span>
			</a>
		</div>
	</div>
</div>
