<div class="attendees-table-head" ng-class="{'active': attendeeSelected}" ng-click="openAttendeeDetails(attendee)">
	<div ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees || $root.userPermissions.downloadAttendeesAsCsv" class="table-head-select-icon checkbox-ico" ng-click="toggleAttendeeSelection($event, attendee, attendeeSelected)" ng-class="{'active': attendeeSelected}">
	</div>
	<div class="attendees-table-head-items-wrapper">
			<div class="attendees-table-head-item profile bold">
					<div class="avatar-wrapper">
							<div class="admin-text-icon" style="background-image: url({{attendee.attendee_photo}})">
								<aside ng-if="!attendee.attendee_photo">{{attendee.first_name[0]}}{{ attendee.last_name[0] }}</aside>
							</div>
					</div>
					<div class="text">{{attendee.first_name}} {{attendee.last_name}}</div>
			</div>
			<div class="attendees-table-head-item" ng-repeat="field in selectedFields" style="width:{{69/selectedFields.length}}%;">
					<div class="text">
							{{attendee[field.code]||attendee.custom_fields[field.id].value.toString()}}
					</div>
			</div>
			<div class="attendees-table-head-item qr" ng-click="openAttendeeQR(attendee); $event.stopPropagation()">
				<i class="fa fa-qrcode" aria-hidden="true" style="font-size:34px; line-height: 72px;"></i>
			</div>
	</div>
</div>
<!-- <div ng-if="isProcessing" style="padding-left:30px; margin-bottom:30px;">
		&nbsp;
		<div class="infinite-loading-animation"></div>
</div> -->
