.exhibiting-details-wrapper {
	height: calc(100vh - 75px);
	overflow: hidden;
}

.exhibiting-details-wrapper .session-days-slider-rail {
	width: calc(100vw - 200px - 80px);
}

.exhibiting-details-wrapper .hours-details-wrapper {
	height: calc(100vh - 75px - 69px);
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 40px;
	padding-bottom: 30px;
	box-sizing: border-box;
}
