.sheet div .intl-tel-input{
  margin-right: 50px;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Regular";
  width: 328.77px;
  margin-bottom: 10px;
  outline: none;
  margin-left: 0px;
}
.sheet div .intl-tel-input input {
  width: 100%;
  height: 39px;
}
.sheet div .intl-tel-input .flag-container {
    margin:0;
}
.sheet div .intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 46px;
    height: 100%;
    padding: 0 0 0 8px;
    right:0;
    margin:0 !important;
  }
.sheet div .intl-tel-input .selected-flag .iti-flag{
  left:10px;
  margin: 12px 0 0 0;
}
.sheet div .intl-tel-input .selected-flag .arrow{
  left:40px;
}
.sheet div .intl-tel-input .country-list .flag{
    margin: 0 10px 0 0;
}
.sheet div .intl-tel-input .country-list .flag .iti-flag{
    right:0;

}
