<static-header></static-header>
<div class="dash-cr">
	<p>Enter Your Event Information</p>
	<form name="form" class="sheet">
		<div>
			<label>Event Name</label>
			<input type="text" ng-model="conference.name" name="conf_name" style=" border-radius: 5px;">
		</div>
		<div>
			<label>Dates</label>

			<div style="margin-right: 50px; position: relative;">
				<i class="fa fa-calendar input-icon" aria-hidden="true"></i>
				<input
							style="margin-right: 0; border-radius: 5px;"
				   		id="conference_start_date"
			   			name="date_from"
           		placeholder="Starts At"
           		ng-model="conference.date_from"
           		ng-readonly="true"
							moment-picker="conference.date_from"
					   	max-date="conference.date_to"
					   	min-date="currentDate"
							format="M/D/YYYY"
					   	change="presetDate()">
				<span>to</span>
				<i class="fa fa-calendar input-icon" aria-hidden="true"></i>
				<input
							style="margin-right:0; border-radius: 5px;" id="conference_end_date"
             	name="date_to"
             	ng-readonly="true"
							placeholder="Ends At"
							ng-model="conference.date_to"
					   	moment-picker="conference.date_to"
							min-date="conference.date_from !== undefined && conference.date_from !== true ? conference.date_from : currentDate"
							start-view="day"
					   	format="M/D/YYYY">
			</div>
		</div>
        <div>
            <label>Event Website</label>
            <input style=" border-radius: 5px;" type="text" ng-model="conference.website" name="website">
        </div>
		<div>
			<label>Venue</label>
			<input style=" border-radius: 5px;" type="text" ng-model="conference.venue" name="venue"
			ng-class="form.venue.$touched && form.venue.$invalid ? 'required' : ''"
			placeholder="{{form.venue.$touched && form.venue.$invalid ? 'Venue Required' : ''}}">
		</div>
        <div>
            <label>Venue Phone Number</label>
            <input style=" border-radius: 5px;" type="text" ng-model="conference.venue_phone_number" name="venue_phone_number" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input>
        </div>
		<div>
			<label>Street Address</label>
			<input style=" border-radius: 5px;" type="text" ng-model="conference.street" name="street_address"
			ng-class="form.street_address.$touched && form.street_address.$invalid ? 'required' : ''"
			placeholder="{{form.street_address.$touched && form.street_address.$invalid ? 'Street Address Required' : ''}}">
		</div>
		<div>
			<label>City</label>
			<input style=" border-radius: 5px;" type="text" ng-model="conference.city" name="city" ng-class="form.city.$touched && form.city.$invalid ? 'required' : ''"
			placeholder="{{form.city.$touched && form.city.$invalid ? 'City Required' : ''}}" ng-blur="getConferenceTimezone()">
		</div>
		<div ng-if="conference.country.code == 'US'">
			<label>State</label>
			<div>
				<select style="width: 329px; height: 42px; background-color: #fff; -webkit-appearance:none;"
                    ng-model="conference.state"
                    ng-blur="getConferenceTimezone()"
                    ng-options="option.name for option in united_states track by option.abbreviation ">
                </select>
			</div>
		</div>
		<div>
			<label>Zip Code</label>
			<input type="text" ng-model="conference.zip_code" name="zip_code" style=" border-radius: 5px;"
			   ng-class="form.zip_code.$touched && form.zip_code.$invalid ? 'required' : ''"
               ng-blur="getConferenceTimezone()"
			   placeholder="{{form.zip_code.$touched && form.zip_code.$invalid ? 'Zip Code Required' : ''}}">
		</div>
		<div>
			<label>Country</label>
			<select
				style="width: 329px; height: 42px; background-color: #fff; -webkit-appearance:none;"
			 	ng-class="form.country.$touched && form.country.$invalid ? 'required' : ''"
                ng-model="conference.country"
                ng-blur="getConferenceTimezone()"
                ng-options="option.name for option in countries track by option.code" ng-blur="getConferenceTimezone()" ng-change="updateCountryForPhoneInput(conference.country)">
            </select>
		</div>

		<div ng-if="userInvalidTimeZone">
			<label>Timezone</label>
			<select style="width: 329px; height: 42px; background-color: #fff; -webkit-appearance:none;" ng-class="form.country.$touched && form.country.$invalid ? 'required' : ''" ng-model="conference.timezone_name">
				<option ng-repeat="timezone in defaultTimezones" value="{{timezone.utc[0]}}">{{timezone.value}}</option>
			</select>
		</div>
		<div style="margin-bottom: 12px;">
			<label>Venue Website</label>
			<input type="text" ng-model="conference.venue_url" name="venue_url" style=" border-radius: 5px;">
		</div>
        <div style="margin-bottom: 30px;">
            <label>Enable Attendee App</label>
            <div class="flex-row" style="align-items: center; margin-left: 0; margin-right: 50px;">
                <div class="button-attendee-functionality cursor"
                    ng-class="conference.exhibitor_only == false ? 'button-attendee-selected' : ''"
                    ng-click="conference.exhibitor_only = false;" style="margin-top: 0;">On</div>
                <div class="button-attendee-functionality cursor" style="margin-left: 10px;"
                    ng-class="conference.exhibitor_only == true ? 'button-attendee-selected' : ''"
                    ng-click="conference.exhibitor_only = true;">Off</div>
            </div>
        </div>
		<div class="predef">
			<label>Event Logo</label>
            <div class="drop-box drag-class" id="my-upload-button"
                 ngf-select="changeConferenceLogo($files);"
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <a>
                    <img style="position: relative; right: 15px;" ng-src="{{conference.logo ? conference.logo : '/assets/images/conference-default-logo.png'}}" err-src="/assets/images/user.svg" class="img-circle conference-img-small">
                    Upload from computer
                </a>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
		</div>
		<p>*Required</p>
		<md-content class="bottom-btns">
	     	<md-button ng-click="createConference()" class="md-raised md-primary btn-save" ng-class="createConferenceButtonClickable ? '' : 'unclickable'">Create</md-button>
	     	<md-button ui-sref="conferences.overview" class="md-raised md-primary btn-cancel">Cancel</md-button>
		</md-content>
	</form>
</div>
