<static-header></static-header>
<div class="dash-cr exhibitor-dash-cr join-conference-form-holder">
    <div class="company-profile-popup flex-column" style="background-color: #fff; display: inline-table;">
        <p class="demi">Select Your Company</p>
        <input type="text" placeholder="Search by company name" class="exhibitorCompanySearch" ng-model="companyQuery" />
        <p class="exhibitorCreateLink medium cursor" ui-sref="conferences.join.create({conference_id: conferenceId})">Don't see your company name?</p>
        <div class="companyHolder" style="overflow-y: auto; height: calc(100vh - 471px);">
            <div ng-repeat="exhibitorCompany in exhibitorsList | filter: companyQuery" style="clear:both; margin-bottom: 30px; margin-top:10px;"
                ng-click="checkExhibitorCompany(exhibitorCompany)">
                <div style="float:left; cursor: pointer;">
                    <div class="checkbox-ico" ng-class="exhibitorCompany.checked ? 'active':''">
                    </div>
                </div>
                <div class="demi">
                    {{exhibitorCompany.name || 'anonymous'}}
                </div>
            </div>
        </div>
        <div class="flex-row" style="padding-top: 0; padding-bottom: 40px;">
            <div class="medium cursor" style="border-color: #9b9b9b;" ui-sref="conferences.overview">Cancel</div>
            <div class="bold cursor save-exhibitor-company-on-join" style="text-transform: uppercase;" ng-click="joinAsCompany(checkedExhibitorCompanyId)"
                ng-class=" {'inactive': !checkedExhibitorCompanyId} ">Next</div>
        </div>
    </div>
</div>
