.join-conference-form-holder {
    height: calc(100vh - 75px);
    padding: 40px;
    box-sizing: border-box;
}

.join-conference-form-holder .company-profile-popup {
    margin: 0;
    height: 100%;
}

.join-conference-form-holder .company-profile-popup {
    width: 45vw;
}

.join-conference-form-holder .form {
    height: calc(100vh - 75px - 80px - 76px - 17px - 10px - 8px - 24px - 33px);
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;

    padding: 30px 50.2px 0 34px;
    margin: 0 !important;
}