<div class="modal-wrapper attendee-details-legacy">
  <div class="top-part" ng-class="{'active': activeTable}" style="{{!($root.userPermissions.admin || $root.userPermissions.manageAttendees)?'height:100%':''}}">
    <div class="attendee-details-legacy-overview" ng-class="{'invisible': editModeActive}">
      <div class="general-details">
        <div class="profile-picture-container" style="background-image: url({{attendee.attendee_photo || ''}})">
         <div class="profile-name-initials-holder" ng-if="!attendee.attendee_photo">{{attendee.first_name[0] + attendee.last_name[0]}}</div>
       </div>
        <div class="informations-holder">
          <div class="text-field name">{{attendee.first_name + ' ' +  attendee.last_name}}</div>
          <div class="text-field position">{{attendee.job_title}}</div>
          <div class="text-field company">{{attendee.company_name}}</div>
        </div>
      </div>
      <!-- attendee.noEdit came from transactionController-->
      <div class="edit-button" ng-click="activateEditMode()" ng-if="($root.userPermissions.admin || $root.userPermissions.manageAttendees) && !attendee.noEdit">Edit</div>
    </div>
    <div class="title" ng-if="editModeActive">Edit Attendee</div>
    <div class="details-list-wrapper" ng-class="{'in-edit': editModeActive}">
      <div class="details-list-item" ng-repeat="field in fieldsForView" ng-if="!editModeActive">
        <div ng-if="field.key != 'state' && field.key != 'guest_of'">
          <div class="type">{{field.nameToDisplay}}</div>
          <div class="value">{{attendee[field.key]}}</div>
        </div>
        <div ng-if="field.key == 'guest_of' && attendee[field.key].first_name">
          <div class="type">{{field.nameToDisplay}}</div>
          <div class="value underlined" ng-click="openAttendeeModalForInvitee(attendee[field.key].id)">{{attendee[field.key].first_name||''}} {{attendee[field.key].last_name||'-'}}</div>
        </div>
        <div ng-if="field.key == 'state' && attendee['country'] == 'United States'">
          <div class="type">{{field.nameToDisplay}}</div>
          <div class="value">{{attendee[field.key]}}</div>
        </div>
      </div>
      <div class="details-list-item" ng-repeat="field in customFieldsWithAnswers" ng-if="!editModeActive">
        <div class="type">{{field.name}}</div>
        <div class="value">{{field.value}}{{ (!field.validOption && field.value!= '')  ? " (not found in custom field’s options)" : ""}}</div>
      </div>
      <div class="details-list-item" ng-repeat="field in fieldsForEdit" ng-if="editModeActive">
        <div class="type" ng-hide="(field.key === 'state' && fieldsForEdit[11].value != 'United States') || (field.key == 'guest_of' && field.value == '')">{{field.nameToDisplay}}<span style="color: orange" ng-if="field.mandatory == true">*</span></div>
        <input type="text" ng-model="field.value" ng-hide="field.key == 'guest_of' && field.value == ''" ng-readonly="field.key === 'attendee_id'|| field.key === 'guest_of' " ng-if="field.key != 'country' && field.key != 'state' && field.key != 'phone_number'" ng-class="{'error': field.error}"></input>
        <input type="text" ng-model="field.value" ng-if="field.key == 'phone_number'" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>
        <select ng-if=" field.key === 'country' " ng-model="field.value" ng-change="updateCountryForPhoneInput(field)" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
          <option ng-repeat="option in field.countries" value="{{option.name}}" ng-selected="field.value.indexOf(option.name) > -1">{{option.name}}</option>
        </select>

  			<select ng-if=" field.key === 'state' && fieldsForEdit[11].value === 'United States'" ng-model="field.value" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
          <option ng-repeat="option in field.states" value="{{option.abbreviation}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
        </select>
      </div>
      <div class="details-list-item" ng-repeat="field in customFieldsWithAnswers" ng-if="editModeActive">
        <div class="type">{{field.name}}</div>
        <select ng-if="field.type === 3" multiple ng-model="field.value">
          <option ng-repeat="option in field.options" value="{{option.value}}">{{option.value}}</option>
        </select>
        <select ng-if="field.type === 2" ng-model="field.value" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
          <option ng-repeat="option in field.options" value="{{option.value}}">{{option.value}} </option>
        </select>
        <input type="text" ng-model="field.value" ng-if="field.type === 1"></input>
      </div>
      <div class="details-list-item" ng-if="editModeActive">
        <div class="type">Attendee Photo</div>
        <div class="attendee-upload-image" ngf-select="uploadAttendeePhoto($files)" class="add_attendee_upload_link"
           ngf-pattern="'image/*'"
           ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
           ngf-drag-over-class="'dragover'" ngf-multiple="false">
          <div style="background-image: url({{attendee.attendee_photo || '/assets/images/default-profile-img.png'}})"></div>
          <div>Upload from computer</div>
      </div>
      <span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
    </div>
    </div>
  </div>
  <div class="table-view" ng-class="{'active': activeTable}" ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees">
    <div class="table-head">
      <div class="table-head-item" ng-click="switchTab('payments')" ng-class="{'active': paymentsTabActive}">Payment Details</div>
      <div class="table-head-item" ng-click="switchTab('sessions')" ng-class="{'active': sessionsTabActive}">Sessions</div>
    </div>
    <div class="tables-contents-wrapper" ng-class="{'translated': sessionsTabActive}">
      <div class="table-content payments">
        <div ng-if="paymentForCurrentAttendee.created_at != null">
          <div class="table-content-head">
            <div class="item date">Date/Time</div>
            <div class="item amount">Amount</div>
          </div>
          <div class="table-content-item" ng-if="paymentForCurrentAttendee.created_at != null">
            <div class="details">
              <div class="first-row" ng-if="!paymentForCurrentAttendee.status">Paid with cc (...{{paymentForCurrentAttendee.last4}})</div>
              <div class="first-row" ng-if="paymentForCurrentAttendee.status">Payment failed</div>
              <div class="second-row">{{paymentForCurrentAttendee.created_at | date : 'M/d/yyyy'}} at {{paymentForCurrentAttendee.created_at | date : 'hh:mm a'}}</div>
            </div>
            <div class="amount">
              <div class="first-row">{{paymentForCurrentAttendee.amount| currency}}</div>
              <div class="second-row" ng-if="paymentForCurrentAttendee.promo_code != null">with promo code</div>
            </div>

            <div ng-click="openAttendeeRefundModal($event,attendee)" ng-if="paymentForCurrentAttendee.amountToRefund > 0 && !paymentForCurrentAttendee.status && ($root.userPermissions.admin || $root.userPermissions.canRefund)" class="refund-button">refund</div>
            <div class="retry" ng-if="paymentForCurrentAttendee.status && $root.isSuperAdmin">
              <div ng-click="retryPayWithFIS(attendee.id)" class="refund-button">retry</div>
              <div ng-click="paymentWithOtherCard(attendee.id)" class="refund-button">other card</div>
          </div>
          </div>
          <div class="table-content-item" ng-if="paymentForCurrentAttendee" ng-repeat="refund in paymentForCurrentAttendee.refunds">
            <div class="details">
              <div class="first-row">Refunded to cc(...{{paymentForCurrentAttendee.last4}})</div>
              <div class="second-row">{{refund.created_at | date : 'M/d/yyyy'}} at {{refund.created_at | date : 'hh:mm a'}}</div>
            </div>
            <div class="amount">({{refund.amount| currency}})</div>
          </div>
        </div>
        <div ng-if="!paymentForCurrentAttendee || paymentForCurrentAttendee.created_at == null" style="margin-top: 40px; height: 25px; background-color: inherit;">
          <div class="session-info-header-none">
            No payments made by this attendee.
          </div>
        </div>
      </div>
      <div class="table-content sessions" ng-if="sessionsForCurrentAttendee.length >0">
        <div class="table-content-head">
          <div class="item empty-space"></div>
          <div class="item registered-column">Registered</div>
          <div class="item attended-column">Attended</div>
        </div>
        <div class="table-content-item" ng-repeat="session in sessionsForCurrentAttendee | orderBy : '+session.starts_at' track by session.id">
          <div class="date">{{session.session.starts_at | date:'M/d':conference.time_zone}}</div>
          <div class="details">
            <div class="title">{{session.session.title}}</div>
            <div class="scanned-details" ng-if="session.scanned_at">Scanned - {{session.scanned_at | date : 'h:mm a':conference.time_zone}}</div>>
            <div class="scanned-details" ng-if="!session.scanned_at">Not scanned yet</div>
          </div>
          <div class="registered">
            <i class="fa fa-check" style="font-size: 18px; color: #26a7de;" ng-show="session.hasRegistered" ng-if="!editModeActive"></i>
            <div class="checkbox-ico" ng-class="{'active': session.hasRegistered}" ng-if="editModeActive" ng-click="toggleRegistrationForSession(session)"></div>
          </div>
          <div class="attended">
            <i class="fa fa-check" aria-hidden="true" ng-show="session.hasAttendeed"
                style="font-size: 18px; color: #f68c1c;" ng-if="!editModeActive"></i>
            <div class="checkbox-ico" ng-class="{'active': session.hasAttendeed}" ng-if="editModeActive" ng-click="toggleAttendeedStatusForSessions(session)"></div>
          </div>
        </div>
      </div>
      <div class="table-content sessions" ng-if="sessionsForCurrentAttendee.length <= 0" style="margin-top: 40px; height: 25px; background-color: inherit;">
          <div class="session-info-header-none">
              No sessions attended or registered to yet.
          </div>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper edit-attendee" ng-class="{'active': editModeActive}">
    <div class="button" ng-click="cancelEditMode()">Cancel</div>
    <div class="button save" ng-click="updateAttendee(fieldsForEdit, customFieldsWithAnswers, sessionsForCurrentAttendee)">update</div>
  </div>
  <!-- <div class="loader visible" ng-class="{'visible':  !attendee}"></div> -->
</div>
