<div class="conference-body">
    <dynamic-header conference-details="conference"></dynamic-header>
    <side-menu></side-menu>
    <div ui-view="conference-details" style="display: inline-block; width: calc(100% - 200px); position: relative; z-index: 0"></div>
</div>
