<div class="session-registrants">
    <div class="session-registrants-title">
    	<i class="fa fa-arrow-circle-o-left cursor" aria-hidden="true"
            style="color: #26a7de; font-size: 18px; position: relative; bottom: 2px; right: 7.6px;"
            ui-sref="conferences.dashboard.sessions.details({'session_id' : session.id})"></i>
    	<p class="ellipsis" style="width: 90em;" title="{{session.title}}">{{session.title}}</p>
    </div>
    <div class="session-registrants-options-bar">
    	<div>
        	<p ng-if="isRegistrantAttendeesView">Registrants({{sessionAttendeesTotal}})
                <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; margin-left: 6.5px;"></i>
            </p>
        	<p ng-if="isScannedAttendeesView">Attendees({{sessionAttendeesTotal}})
                <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; margin-left: 6.5px;"></i>
            </p>
    	</div>
    	<div class="search-registrant">
        <input type="text" placeholder="Search by last name, company, or email" ng-disabled="isProcessing"
        ng-change="searchSessionAttendees()" ng-model-options="{debounce:750}" ng-init="attendee_info = ''"
        ng-model="queryModel" />
      </div>
    	<div>
    		<md-content>
    			<md-button class="md-raised md-primary btnAddReg" aria-label="Close"
                    ng-click="openAddAttendeeModal()"
                    ng-if="(permissions.admin || permissions.manage_sessions) && !isSomethingChecked">
	    			<i class="fa fa-plus-circle"
                        style="font-size: 18px; color: #26a7de; margin-right: 16px; position: relative; bottom: 4px; left:10px; top:-2px;" aria-hidden="true"></i>
	    			<span ng-show="isRegistrantAttendeesView" style="margin: 0;">Add Registrants</span>
	    			<span ng-show="isScannedAttendeesView" style="margin: 0;">Add Attendees</span>
    			</md-button>
                <md-button class="md-raised md-primary btnAddReg btnMoreOpt" aria-label="Close"
                    ng-if="(permissions.admin || permissions.download_attendees) && isSomethingChecked"
                    ng-click="openMoreOptions()">
                    <p>More</p>
                    <i class="fa fa-sort" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; right: 6px; bottom: 1px;"></i>
                </md-button>
                <div class="default-icon-circle"
                    ng-if="(permissions.admin || permissions.manage_sessions) && isSomethingChecked"
                    ng-click='deleteAttendeesFromSession()'
                    style="margin-top: 20px; float:left; margin-left: 16px; background-color: #fffde6;">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
                </div>
    		</md-content>
            <div class="conference-attendees-more-options download-as-csv-option cursor" ng-if="showMoreOptions">
                <div class="conference-option-type download-as-csv-option-2" style="width: initial; height: 20px;"
                    click-outside="closeMoreOptions()" ng-click="downloadSessionAttendeesAsCsv()">
                    <i class="fa fa-file-o" aria-hidden="true"
                        style="margin-right: 13px; color: #4a4a4a; position: relative; font-size: 18px; top: 2px;"></i>Download as .csv
                </div>
            </div>
        </div>
    </div>
    <!-- REGISTRANTS FOR SESSION-->
    <div class="session-registrants-grid">
    	<div class="session-registrants-grid-header">
    		<div class="checkbox-ico cursor" ng-class="areAllChecked ? 'active':''" ng-click="checkAllAttendees()"
                ng-show="((permissions.admin || permissions.download_attendees || permissions.manage_sessions) && (sessionAttendeesCount > 0))"></div>
    		<div ng-repeat="field in attendeeFields track by $index" class="cursor"
             ng-click="orderAtendeesByField(field)">
             {{field.title}}
             <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down' " style="position: relative; top: 2px; left: 5px;"
                ng-if="sessionAttendees.length > 1 && fieldCodeOrder == field.orderCode"></span>
        </div>
    	</div>
    	<div class="window-grid-registrants" scrolly="sessionAttendeesCount < sessionAttendeesTotal ? getMoreSessionAttendees() : ''">
            <div class="session-registrants-grid-row"
                 ng-repeat="attendee in sessionAttendees | orderBy : 'attendee.' + fieldCodeOrder : sortReverse"
                 ng-click="openAttendeeInfoModal(attendee.attendee)"
                 ng-class="attendee.attendee.checked ? 'active' : ''">
                <div class="checkbox-ico"
                    ng-click="checkOne(attendee); $event.stopPropagation();"
                    ng-class="attendee.attendee.checked ? 'active' : '' "
                    ng-show="(permissions.admin || permissions.download_attendees || permissions.manage_sessions)">
                </div>
                <div>
                    <useravatar
                           image="attendee.attendee.attendee_photo"
                           firstname="attendee.attendee.first_name"
                           lastname="attendee.attendee.last_name">
                    </useravatar>
                </div>
                <div>
                    {{attendee.attendee.first_name + ' ' + attendee.attendee.last_name}}
                </div>
                <div class="medium">{{attendee.attendee.email_address}}</div>
                <div class="medium">{{attendee.attendee.phone_number}}</div>
                <div class="medium ellipsis">{{attendee.attendee.company_name}}</div>
                <div ng-click="openQrCodeModal(attendee.attendee); $event.stopPropagation();">
                    <qr
                       size="34"
                       text="getAttendeeQrCode(attendee.attendee)">
                    </qr>
                </div>
            </div>
            <div ng-if="isProcessing" style="padding-left:30px; margin-bottom:30px;">
                &nbsp;
                <div class="infinite-loading-animation"></div>
            </div>
            <div ng-if="isRegistrantAttendeesView && sessionAttendeesTotal == 0 && !isProcessing" class="table-custom-no-items">
                There are no registrants at this session
            </div>
            <div ng-if="isScannedAttendeesView && sessionAttendeesTotal == 0 && !isProcessing" class="table-custom-no-items">
                There are no scanned attendees at this session
            </div>
        </div>
    </div>
</div>
