<static-header></static-header>
<div class="dash">
	<div class="center-tab">
		<div class="tab">
			<p class="join-intructions" style="text-align: center; line-height: 28px">To join an event as an exhibitor, please type in the unique<br>
			 Pass Key that was given to you by the event host<br>
			 and tap the JOIN button.</p>
			 <div class="exhibitor-pass-key flex-row">
			 	<input type="text" id="passkey1" autofocus
			 		ng-change="focus(2); conferencePassKey[0] = conferencePassKey[0].toUpperCase();" ng-model="conferencePassKey[0]" maxlength="1">
			 	<input type="text" id="passkey2"
			 		ng-change="focus(3); conferencePassKey[1] = conferencePassKey[1].toUpperCase();" ng-model="conferencePassKey[1]" maxlength="1">
			 	<input type="text" id="passkey3"
			 		ng-change="focus(4); conferencePassKey[2] = conferencePassKey[2].toUpperCase();" ng-model="conferencePassKey[2]" maxlength="1">
			 	<input type="text" id="passkey4"
			 		ng-change="focus(5); conferencePassKey[3] = conferencePassKey[3].toUpperCase();" ng-model="conferencePassKey[3]" maxlength="1">
			 	<input type="text" id="passkey5"
			 		ng-change="focus(6); conferencePassKey[4] = conferencePassKey[4].toUpperCase();" ng-model="conferencePassKey[4]" maxlength="1">
			 	<input type="text" id="passkey6"
			 		ng-change="focus(0); conferencePassKey[5] = conferencePassKey[5].toUpperCase();" ng-keypress="joinConferenceEnter($event)"
			 		ng-model="conferencePassKey[5]" maxlength="1">
			 </div>
			<button class="join-conference-btn" type="button" ng-click="joinConference()">JOIN</button>
		</div>
	</div>
</div>
<static-footer></static-footer>
