.expo-badges-container {
  display: block;
  box-sizing: border-box;
  height: 93vh;
  font-size: 0;
  overflow-x: hidden;
}

.expo-badges-container .manager-expo-badges-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.expo-badges-container .manager-expo-badges-container .manager-expo-badges-top-container {
  width: 100%;
  display: block;
  padding-top: 20px;
  font-size: 0;
  padding-left: 41px;
  padding-right: 22px;
  box-sizing: border-box;
}

.manager-expo-badges-container .manager-expo-badges-top-container .manager-expo-badges-top-container-title {
  line-height: 40px;
  font-family: $font-family-medium;
  font-size: 20px;
  color: #4a4a4a;
  display: inline-block;
}

.manager-expo-badges-container .expo-badges-notification {
  width: 100%;
  line-height: 40px;
  display: inline-block;
  background-color: #F68C1C;
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 41px;
}

.manager-expo-badges-top-container .manager-expo-badges-top-buttons-container {
  display: inline-block;
  float: right;
  font-size: 0;
}

.manager-expo-badges-top-container .manager-expo-badges-top-buttons-container .manager-expo-badges-top-container-your-cart-button,
.manager-expo-badges-top-container .manager-expo-badges-top-buttons-container .manager-expo-badges-top-container-create-badges-button {
  display: inline-block;
  width: 150px;
  border-radius: 20px;
  background-color: #727272;
  line-height: 40px;
  color: white;
  font-size: 14px;
  font-family: $font-family-demi;
  text-align: center;
  cursor: pointer;
}

.manager-expo-badges-top-container .manager-expo-badges-top-buttons-container .manager-expo-badges-top-container-your-cart-button {
  display: none;
}

.manager-expo-badges-container .manager-expo-badges-top-container .manager-expo-badges-top-container-create-badges-button {
  background-color: #68aa3b;
  font-family: $font-family-bold;
  margin-right: 20px;
}

.manager-expo-badges-top-container-your-cart-button .fa-shopping-cart {
  font-size: 20px;
  color: white;
  margin-right: 8.5px;
  vertical-align: sub;
}

.manager-expo-badges-top-container .manager-expo-badges-history-list-container {
  display: block;
  font-size: 0;
}

.manager-expo-badges-container .manager-expo-badges-history-list-container .manager-expo-badges-history-list-title {
  font-size: 14px;
  line-height: 40px;
  font-family: $font-family-demi;
  color: #4a4a4a;
  margin-bottom: 7px;
  margin-top: 39px;
  display: block;
}

.manager-expo-badges-container .manager-expo-badges-history-list-container .manager-expo-badges-history-list-table {
  display: block;
  width: 91%;
}

.manager-expo-badges-history-list-container .manager-expo-badges-history-list-table .manager-expo-badges-history-list-table-top {
  background-color: #edf0f2;
  border-top: 1px solid #cdcdcd;
  display: block;
  font-size: 0;
  padding-left: 23px;
  box-sizing: border-box;
}

.manager-expo-badges-history-list-table-top .badges-history-list-table-column-title {
  font-family: $font-family-medium;
  font-size: 14px;
  color: #4a4a4a;
  vertical-align: middle;
  display: inline-block;
  line-height: 69px;
  width: 46%;
}

.manager-expo-badges-history-list-table-top .badges-history-list-table-column-details {
  display: inline-block;
  line-height: 69px;
  vertical-align: middle;
  font-family: $font-family-medium;
  font-size: 14px;
  color: #4a4a4a;
  width: 54%;
}

.manager-expo-badges-history-list-table-top .badges-history-list-table-column-details .badges-history-list-table-column-order-placed {
  text-align: left;
  width: 37%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-top .badges-history-list-table-column-details .badges-history-list-table-column-total {
  text-align: left;
  width: 36%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-top .badges-history-list-table-column-details .badges-history-list-table-column-status {
  text-align: left;
  width: 25%;
  display: inline-block;
}

.manager-expo-badges-history-list-container .manager-expo-badges-history-list-table .manager-expo-badges-history-list-table-item {
  background-color: #fafafa;
  border-top: 1px solid #cdcdcd;
  display: block;
  font-size: 0;
  padding-left: 23px;
  box-sizing: border-box;
  cursor: pointer;
  color: #4a4a4a;
}

.manager-expo-badges-history-list-container .manager-expo-badges-history-list-table .manager-expo-badges-history-list-table-item:hover {
  background-color: white;
}

.manager-expo-badges-history-list-table .manager-expo-badges-history-list-table-item .manager-expo-badges-history-list-table-item-title {
  font-size: 14px;
  font-family: $font-family-bold;
  text-align: left;
  width: 46%;
  line-height: 69px;
  display: inline-block;
}

.manager-expo-badges-history-list-table .manager-expo-badges-history-list-table-item .manager-expo-badges-history-list-table-item-details {
  font-size: 14px;
  font-family: $font-family-medium;
  line-height: 69px;
  width: 54%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-item .manager-expo-badges-history-list-table-item-details .manager-expo-badges-history-list-table-item-order-placed {
  text-align: left;
  width: 37%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-item .manager-expo-badges-history-list-table-item-details .manager-expo-badges-history-list-table-item-total {
  text-align: left;
  width: 36%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-item .manager-expo-badges-history-list-table-item-details .manager-expo-badges-history-list-table-item-status {
  text-align: left;
  width: 25%;
  display: inline-block;
}

.manager-expo-badges-history-list-table-item-title .fa-id-badge {
  font-size: 18px;
  margin-right: 8px;
}

// your saved expo badges


.expo-badges-container .saved-expo-badges-list-container {
  display: block;
  width: 100%;
  padding-top: 22px;
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 41px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}

.saved-expo-badges-list-container .saved-expo-badges-list-title {
  display: inline-block;
  width: 100%;
  line-height: 28px;
  font-size: 14px;
  font-family: $font-family-demi;
  font-weight: 600;
  text-align: left;
  margin-bottom: 22px;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item  {
  width: 17%;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  color: #4a4a4a;
  margin-right: 8%;
  margin-bottom: 46.5px;
  box-sizing: border-box;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image {
  width: 100%;
  min-height: 140px;
  display: inline-block;
  visibility: hidden;
  margin-bottom: 12px;
  border: 0.99px solid #9b9b9b;
  box-sizing: border-box;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  transform: scale(0.6);
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image.display-and-grow {
  visibility: visible;
  transform: scale(1);
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image.animate-duplicated-badge {
  border: 2px solid #F68C1C;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image .badge-item-warning-container {
  position: absolute;
  display: inline-block;
  font-size: 0;
  right: -14px;
  bottom: -14px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  border: 1px solid #cdcdcd ;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.badge-item-warning-container .fa-exclamation-circle {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 23px;
  color: #E91D26 ;
  padding: 4px;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image .warning-message {
  display: none;
  position: absolute;
  right: -38%;
  bottom: 8px;
  width: 194px;
  background-color: #fff;
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #cdcdcd;
  padding: 10px 9px 9px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  font-size: 12px;
  font-weight: "Avenir Next";
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;
  z-index: 9999;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image .badge-item-warning-container:hover + .warning-message {
    display: block;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-preview-image .badge-item-no-preview {
  display: inline-block;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 500;
  width: 100%;
  text-align: center;
  line-height: 140px;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-title {
  display: inline-block;
  width: 100%;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  font-family: "Avenir Next";
  font-weight: 500;
  color: #4a4a4a;
  margin-bottom: 3.5px;
  padding-left: calc(15% / 2);
  padding-right: calc(15% / 2);
  box-sizing: border-box;
  word-break: break-all;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-options-button-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: auto;
}

.saved-expo-badges-list-container .saved-expo-badges-list-item .badge-item-options-button-container .badge-item-options-button {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  text-align: center;
  display: inline-block;
  line-height: 28px;
  position: relative;
  cursor: pointer;
}

.saved-expo-badges-list-item .badge-item-options-button-container .badge-item-options-button.active {
  background-color: #818181;
}

.saved-expo-badges-list-item .badge-item-options-button-container .badge-item-options-button.active .fa-ellipsis-h {
  color: white;
}

.badge-item-options-button-container .badge-item-options-button .fa-ellipsis-h{
  font-size: 17px;
  color: #9B9B9B;
  line-height: 32px;
}

.saved-expo-badges-list-item .badge-item-options-button-container .badge-item-options-button .saved-expo-badges-list-item-options {
  display: none;
  width: 90px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #cdcdcd;
  position: absolute;
  left: -31px;
  top: 32.5px;
  z-index: 9999;
}

.saved-expo-badges-list-item .badge-item-options-button-container .badge-item-options-button .saved-expo-badges-list-item-options.active {
  display: block;
}

.badge-item-options-button-container .badge-item-options-button .saved-expo-badges-list-item-options .saved-expo-badges-list-item-option {
  font-size: 12px;
  font-family: $font-family-demi;
  color: #4a4a4a;
  text-align: left;
  line-height: 47.5px;
  display: block;
  border-bottom: 1px solid #cdcdcd;
  padding-left: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.badge-item-options-button-container .badge-item-options-button .saved-expo-badges-list-item-options .saved-expo-badges-list-item-option:last-child {
  border-style: none;
}

//expo badges landing page

.expo-badges-landing-page-container {
  width: 100%;
  height: 86vh;
  position: relative;
}

.expo-badges-landing-page {
  display: block;
  text-align: center;
  font-size: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.expo-badges-landing-page .expo-badges-landing-page-create-badges-text {
  font-size: 20px;
  font-family: $font-family-medium;
  line-height: 36px;
  color: #4a4a4a;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.expo-badges-landing-page .fa-id-badge {
  font-size: 145px;
  color: #31A8DC;
}

.expo-badges-landing-page .expo-badges-landing-page-create-badges-button {
  width: 150px;
  background-color: #68aa3b;
  font-size: 14px;
  font-family: $font-family-bold;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
}
