<div class="expo-badges-landing-page-container">
  <div class="expo-badges-landing-page">
    <i class="fa fa-id-badge" aria-hidden="true"></i>
    <div class="expo-badges-landing-page-create-badges-text">Create your own custom Expo badges with our Badge Design Tool.</div>
    <div class="expo-badges-landing-page-create-badges-button" ui-sref='template_editor.define'>CREATE BADGES</div>
  </div>
</div>
