.share-wrapper .share-modal {
  width: 380px;
  padding: 14px;
}

.share-wrapper .share-modal.opened {
    top: calc(100% + 9px);
}

.share-wrapper .share-modal:before, .share-wrapper .share-modal:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  right: 0;
}

.share-wrapper .share-modal:before {
  right: 0px;
  border: 11px solid transparent;
  border-bottom-color: #ddd;
}

.share-wrapper .share-modal:after {
  right: 1px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

.share-wrapper .button.active {
	background-color: #26A7DE;
	color: white;
}

.share-wrapper .button.inactive {
  opacity: 0.5;
  cursor: not-allowed;
  transition: opacity .2s ease;
}

.share-wrapper .copy-link {
  color: #4A4A4A;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
}

.share-wrapper .copy-link input {
  height: 40px;
  width: 275px;
  border: 1px solid #CDCDCD;
  color: #26A7DE;
  padding: 0 10px;
}

.share-wrapper .share-modal .link-was-copied {
  background-color: #26A7DE;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease;
}

.share-wrapper .share-modal .link-was-copied.visible {
  opacity: 1;
  visibility: visible;
}

.share-wrapper .share-modal .link-was-copied:before {
  content: "\f0c1";
  font: normal normal normal 14px/1 FontAwesome;
  padding: 0 20px;
}

.share-wrapper .share-modal .link-was-copied .close {
  position: absolute;
  right: 20px;
  width: 17px;
  height: 17px;
  color: #fff;
  top: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
