<div class="share-wrapper generic-settings-tool-wrapper">
	<div class="button" ng-click="getShareLink($event)" ng-class="{'active': shareModalOpened,'inactive':!shareLinkIsAvailable}" id="share-button">
		<i class="fa fa-link"></i>
	</div>
	<div class="share-modal settings-modal-wrapper" ng-class="{'opened': shareModalOpened}" click-outside='hideDropdown()' outside-if-not="share-button">
		<div class="copy-link">copy link:	<input type="text" value="{{response}}" id="share_link" ng-click="copyShareLink()"></div>
		<div class="link-was-copied" ng-class="{'visible':linkWasCopied}">
			Link has been copied to the clipboard.
			<div class="close" ng-click="closeMessage()">X</div>
		</div>
	</div>
</div>
