<div class="stripe-connect-info-modal">
	<div class="connect-line" ng-repeat="line in info">
		<span class="name">{{line.name}}</span>
		<span class="value" ng-if="line.value !== null">{{line.value}}</span>
		<span class="value" ng-if="line.value === null">-</span>
	</div>
</div>
