.stripe-connect-info-modal {
	max-height: 70vh;
  width: 620px;
  overflow: scroll;
  margin-top: 20vh;
  border: 1px solid #cdcdcd;
  padding: 20px;
}

.stripe-connect-info-modal .connect-line {
	width: 100%;
	color: #4a4a4a;
	width: 80%;
	margin: 0px auto;
	font-size: 0;
	padding-bottom: 10px;
}

.stripe-connect-info-modal .connect-line .name {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	font-family: 'AvenirNextLTPro-Regular';

	font-size: 14px;
}

.stripe-connect-info-modal .connect-line .value {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
}
