<div class="custom-modal-wrapper attendee-refund-payment add-exhibitor">
  <div class="top-part">
	<div class="title">Refund Payment</div>
  <div class="attendee-refund-payment-overview">
    <div class="general-details">
      <div class="profile-picture-container">
        <div class="profile-name-initials-holder">{{attendee.first_name[0] + attendee.last_name[0]}}</div>
      </div>
      <div class="informations-holder">
        <div class="text-field name">{{attendee.last_name + ' ' +  attendee.first_name}}</div>
      </div>
    </div>
  </div>
</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" >
			<div class="name">Refund to credit card (...{{attendeePayments.last4}})</div>
			<input type="number" ng-model="refundAmount" ng-blur="forceMaxRefundAmount()">
		</div>
    <div class="label-wrapper">
    <div class="check-notification" ng-class="sendNotificationForRefund ? 'check-refund-notification' : ''" ng-click="sendNotificationForRefund = !sendNotificationForRefund">
        <img ng-if="sendNotificationForRefund" src="/assets/images/checked-ico.png" style=" width: 12px; position: relative; left: 3px; top: 1px;">
    </div>
    <p class="medium cursor" ng-click="sendNotificationForRefund = !sendNotificationForRefund">Send notification for refund (optional)</p>
	</div>
</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeThisDialog()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="refundPayment()">
        REFUND {{refundAmount | currency}} <i class="fa fa-spinner fa-spin" ng-if="lockRefundButton"></i>
      </div>
		</div>
	</div>
</div>
