.custom-modal-wrapper {
	width: 620px !important;
	min-height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

	border: solid 1px #cdcdcd;
	overflow: hidden;
}

.custom-modal-wrapper.attendee-refund-payment {
	padding:40px;
}
.custom-modal-wrapper.attendee-refund-payment .title {
	padding-bottom: 5px;
	height: 30px;
	box-sizing: border-box;
}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview {
	font-size: 0;
	position: relative;
	z-index: 1;
	background-color: white;
	width: calc(100% + 80px);
	margin-left: -40px;
	padding-bottom: 10px;
	padding-top: 30px;
}

.custom-modal-wrapper.attendee-refund-payment .top-part .title {
	width: calc(100% + 80px);
  margin-left: -40px;
  padding-left: 40px;
  color: #4a4a4a;
  font-size: 20px;
  font-family: 'AvenirNextLTPro-Demi';
  background-color: white;
  padding-top: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  height: 70px;
}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview .general-details {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 90px - 40px);
		padding-left: 40px;
		font-size: 14px;
		font-family: "AvenirNextLTPro-Demi";
}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview .general-details .profile-picture-container {
	width: 35px;
	height: 35px;

	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;

	background-color: #d8d8d8;
	margin-right: 6px;

	position: relative;
}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview .profile-picture-container .profile-name-initials-holder {

	line-height: 34px;

	color: #4a4a4a;
	text-align: center;


	text-transform: uppercase;
}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview .informations-holder {
	display: inline-block;
	vertical-align: middle;

}

.custom-modal-wrapper.attendee-refund-payment .attendee-refund-payment-overview .informations-holder .text-field {
	color: #4a4a4a;
}
.custom-modal-wrapper.attendee-refund-payment .label-wrapper{
	font-size:14px;
	display: flex;
	padding: 15px 0px;
}
.custom-modal-wrapper.attendee-refund-payment .label-wrapper p{
	padding:0;
	margin:2px;
	color: #4a4a4a;
}
.custom-modal-wrapper.attendee-refund-payment .check-notification{
		width: 17px;
    height: 17px;
    border-radius: 0!important;
    border: 1px solid #979797;
    margin-right: 9px;
		cursor:pointer;
}
.custom-modal-wrapper.attendee-refund-payment .check-refund-notification{
	background-color : #26a7de;
	border-style: none !important;
}
.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button.save .fa{
	margin-left:8px;
}
