<div class="password-changer-modal-wrapper modal-wrapper">
    <div ng-if="!successUpdate">
        <div class="user-profile-photo-initials" ng-if="!profilePictureUrl">
            <p>{{ userInitials }}</p>
        </div>
        <img class="profile-photo" src="{{ profilePictureUrl }} " ng-if="profilePictureUrl"></img>

        <div class="before-password-message">Enter a new password for {{ userName }}:</div>

        <input type="password" placeholder="Enter a new password" ng-model="password"></input>
        <input type="password" placeholder="Re-enter password" ng-model="confirmedPassword"></input>

        <div class="password-change-submit-button" ng-click="submitNewPassword(password, confirmedPassword)">submit</div>
    </div>
    <div ng-if="successUpdate">
        <div class="user-profile-photo-initials" ng-if="!profilePictureUrl">
            <p>{{ userInitials }}</p>
        </div>
        <img class="profile-photo" src="{{ profilePictureUrl }} " ng-if="profilePictureUrl"></img>

        <div class="before-password-message">The password for {{ userName }} has been changed to:</div>

        <div class="before-password-message" style="font-family: 'AvenirNextLTPro-Bold'">{{ password }}</div>

        <div class="password-change-submit-button" ng-click="closeModal()">done</div>

    </div>
</div>
