.password-changer-modal-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;

}

.password-changer-modal-wrapper .profile-photo {
    width: 64px;
    height: 64px;
    border-radius: 100%;

    margin: 0px auto;
}

.password-changer-modal-wrapper .before-password-message {
    font-size: 20px;
    color: #4a4a4a;
    font-family: 'AvenirNextLTPro-Regular';
    
    
    margin-top: 25px;
    margin-bottom: 25px;
}

.password-changer-modal-wrapper input {
    font-family: 'AvenirNextLTPro-Regular';
    
    display: block;
    width: 80%;
    margin: 0px auto;

    height: 42px;
    border: 1px solid #cdcdcd;

    box-sizing: border-box;

    line-height: 40px;

    margin-bottom: 14px;

    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
}

.password-changer-modal-wrapper .password-change-submit-button {
    font-family: 'AvenirNextLTPro-Demi';
    line-height: 45px; //should've been 40, as the height of the element but for some reason it doesn't center properly
    text-transform: uppercase;

    height: 42px;
    color: #4a4a4a;

    border: 1px solid #cdcdcd;
    border-radius: 20px;
    box-sizing: border-box;

    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 10px;

    cursor: pointer;
    background-color: transparent;

    transition: background-color .3s ease, color .3s ease;
}

.password-changer-modal-wrapper .password-change-submit-button:hover {
    background-color: #cdcdcd;
    color: #ffffff;
}

.password-changer-modal-wrapper .user-profile-photo-initials {
    width: 64px;
    height: 64px;

    background-color: #cdcdcd;

    text-align: center;
    border-radius: 100%;

    margin: 0px auto;
    position: relative;
}

.password-changer-modal-wrapper .user-profile-photo-initials p {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    
}