<div class="stripe-connect-wrapper">
	<static-header></static-header>
	<a class="connect-button" ng-href="{{currentUserMerchantDetails.stripe_connect_button}}">
		<i class="fa fa-cc-stripe"></i>
		<span> | Connect with Stripe</span>
	</a>
</div>
