.stripe-connect-wrapper {
	width: 100%;
	text-align: center;
}

.connect-button {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 1px;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#28a0e5),to(#015e94));
	background-image: linear-gradient(#28a0e5,#015e94);
	-webkit-font-smoothing: antialiased;
	border: 0;
	padding: 1px;
	height: 40px;
	text-decoration: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none!important;
}

.connect-button span {
	display: block;
	position: relative;
	padding: 0 12px;
	height: 40px;
	background: #1275ff;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#7dc5ee),color-stop(85%,#008cdd),to(#30a2e4));
	background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
	font-size: 15px;
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25);
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25);
	border-radius: 3px;
	padding-left: 44px;
}

.connect-button .fa {
	position: absolute;
	top: 50%;
	left: 10px;
	color: white;
	z-index: 1;
	font-size: 18px;
	transform: translateY(-50%);
}
