<div class="attendee-search-box" tabindex="1" style="height: calc(100vh - 150px);">
	<p ng-if="isScannedAttendeesView">Add Attendee</p>
	<p ng-if="isRegistrantAttendeesView">Add Registrant</p>
	<input type="text" name="attendee_search" ng-change="searchSessionAttendees()" ng-model-options="{debounce:750}" ng-init="attendee_firstName = ''"
		ng-model="queryModel" placeholder="Search by first name" style="padding-left: 10px;"/>
	<div class="users-list" scrolly="getMoreAttendees()" style="height: calc(100vh - 400px);">
		<div class="attendee-searched" ng-repeat="attendee in sessionAttendees" ng-click="checkOne(attendee)">
            <div class="attendee-info">
	            <div class="checkbox-ico"
								style="background-position: -2px -4px;"
	             	ng-class="attendee.checked ? 'active': '' "></div>
	            <div>
					<useravatar
					   image="attendee.attendee_photo"
                       firstname="attendee.first_name"
                       lastname="attendee.last_name">
                   </useravatar>
	            </div>
	            <div><p>{{attendee.first_name + ' ' + attendee.last_name}}</p></div>
	            <div><p>{{attendee.company_name}}</p></div>
	        </div>
		</div>
		<div ng-if="isProcessing" style="padding-left:30px; margin-top:20px; margin-bottom:20px;">
              <img src="assets/images/rolling.gif">
        </div>
        <div ng-if="sessionAttendees.length <= 0 && queryModel === ''" class="table-custom-no-items">
            There are no attendees at this time
        </div>
	</div>
	<md-content>
		<md-button class="md-raised md-primary btnCancel" ng-click="closeThisDialog();">Cancel</md-button>
		<md-button class="md-raised md-primary btnNewAdd" ng-click="addManualSessionAttendee()">New Attendee</md-button>
		<md-button ng-if="isRegistrantAttendeesView" class="md-raised md-primary btnAdd" ng-click="addSessionAttendees(checkedAttendees)">Add</md-button>
		<md-button ng-if="isScannedAttendeesView" class="md-raised md-primary btnAdd" ng-click="addScannedSessionAttendees(checkedAttendees)">Add</md-button>
	</md-content>
</div>
