<div class="conference-details-overview">
  <div style="float: left; height:auto; overflow:hidden; width: 100%;">
      <div class="table-responsive table-responsive-right-border">
          <table class="table">
              <tr>
                  <td>
                      Date
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode==false">
                          {{conference.date_from}} - {{conference.date_to}}
                      </div>
                      <div style="margin-right: 18px; position: relative;" ng-if="editMode==true">
                          <i class="fa fa-calendar input-icon-conference-details" aria-hidden="true"></i>
                          <input
                                 class="conference-detail-date-input"
                                 name="date_from"
                                 moment-picker="conference.date_from_editable"
                                 start-date="conference.date_from_editable"
                                 ng-model="conference.date_from_editable"
                                 format="M/D/YYYY"
                                 ng-readonly="true"
                                 start-view="day">
                          <span style="color: #26A7DE; margin-right: 10px; margin-left: 10px;">-</span>
                          <i class="fa fa-calendar input-icon-conference-details" aria-hidden="true"></i>
                          <input
                                  class="conference-detail-date-input"
                                  moment-picker="conference.date_to_editable"
                                  name="date_to"
                                  start-date="conference.date_to_editable"
                                  ng-model="conference.date_to_editable"
                                  min-date="conference.date_from_editable"
                                  format="M/D/YYYY"
                                  ng-readonly="true"
                                  start-view="day">
                      </div>
                  </td>
                  <td ng-if="!editMode" style="margin-right: 20px;">
                      <div ng-if="hasEditButton()" class="default-icon-circle" ng-click="action('details')" style="border-color: #9b9b9b">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Venue
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.venue}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <input class="conf-imp-fixed" name="venue" type="text" ng-model="conference.venue" aria-reuqired='true'  ng-class="form.venue.$touched &&
                           form.venue.$invalid ? 'required' : ''"
                          placeholder="{{form.venue.$invalid && form.venue.$touched ? 'Venue Required' : ''}}"/>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Venue Phone Number
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.venue_phone_number}}
                      </div>
                      <div ng-if="editMode==true">
                          <input class="conf-imp-fixed" type="text" ng-model="conference.venue_phone_number" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input/>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Street Address
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.street}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <input class="conf-imp-fixed" name="street_address" type="text" ng-model="conference.street" aria-reuqired='true'  ng-class="form.street_address.$touched &&
                           form.street_address.$invalid ? 'required' : ''"
                          placeholder="{{form.street_address.$invalid && form.street_address.$touched ? 'Street Address Required' : ''}}"/>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      City
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.city}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <input class="conf-imp-fixed" name="city" type="text" ng-model="conference.city" aria-required="true" ng-class="form.city.$touched &&
                           form.city.$invalid ? 'required' : ''"
                          placeholder="{{form.city.$invalid && form.city.$touched ? 'City Required' : ''}}" ng-blur="getConferenceTimezone()"/>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr ng-if="conference.country == 'United States'">
                  <td>
                      State
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.state.abbreviation || conference.state}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <input
                              class="conf-imp-fixed" name="state" type="text" ng-model="conference.state" aria-reuqired='true'
                              ng-class="form.state.$touched && form.state.$invalid ? 'required' : ''"
                              placeholder="{{form.state.$invalid && form.state.$touched ? 'State Required' : ''}}"
                              ng-if="conference.country != 'United States'">
                              <select style="background-color: #fff; width: calc(97% - 5px); height: 34px;"
                              class="conf-imp-fixed"
                              ng-if="conference.country == 'United States'"
                              ng-model="conference.state"
                              ng-blur="getConferenceTimezone()">
                                <option  ng-repeat="option in united_states" value="{{option.abbreviation}}" ng-selected="{{conference.state==option.abbreviation}}">
                                  {{option.name}}
                                </option>
                              </select>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Zip Code
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.zip_code}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <input class="conf-imp-fixed" name="zip_code" type="text" ng-model="conference.zip_code" aria-reuqired='true'  ng-class="form.zip_code.$touched &&
                           form.zip_code.$invalid ? 'required' : ''"
                          placeholder="{{form.zip_code.$invalid && form.zip_code.$touched ? 'Zip Code Required' : ''}}" ng-blur="getConferenceTimezone()"/>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Country
                      <span ng-if="editMode==true" class="conference-field-required">
                          *
                      </span>
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.country.name || conference.country}}
                      </div>
                      <div ng-if="editMode==true">
                      <form name="form">
                          <select
                              style="background-color: #fff; width: calc(97% - 5px); height: 34px;"
                              ng-change="changeCountry()"
                              class="conf-imp-fixed"
                              ng-model="conference.country"
                              ng-blur="getConferenceTimezone()">
                              <option  ng-repeat="option in countriesArray" value="{{option.name}}" ng-selected="{{conference.country==option.name}}">
                                {{option.name}}
                              </option>
                          </select>
                      </form>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Time Zone
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{(conference.timezone_name ? conference.timezone_name : '') + ' [ ' + conference.time_zone + ' ]' }}
                      </div>
                      <div ng-if="editMode==true">
                          <input class="conf-imp-fixed" type="text" ng-model="conference.timezone_name" ng-readonly="true" ng-if="!userInvalidTimeZone"/>
                          <select ng-if="userInvalidTimeZone" style="width: calc(97% - 5px); height: 34px; background-color: rgb(255, 255, 255); -webkit-appearance: none; margin-bottom: 5px;padding: 8px; padding-bottom: 4px; color: #26A7DE; font-family: 'AvenirNextLTPro-Regular';" ng-class="form.country.$touched && form.country.$invalid ? 'required' : ''" ng-model="conference.timezone_name">
                    				<option ng-repeat="timezone in defaultTimezones" value="{{timezone.utc[0]}}">{{timezone.value}}</option>
                    			</select>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Venue Website
                  </td>
                  <td>
                      <div ng-if="editMode!=true" class="conference-detail-field">
                          <a ng-href="{{sanitizeUrl(conference.venue_url)}}" ng-if="conference.venue_url" target="_blank">
                              {{unSanitizeUrl(conference.venue_url)}}
                          </a>
                      </div>
                      <div ng-if="editMode==true">
                          <input class="conf-imp-fixed" type="text" ng-model="conference.venue_url"/>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Event Website
                  </td>
                  <td>
                      <div ng-if="editMode!=true" class="conference-detail-field">
                          <a ng-href="{{sanitizeUrl(conference.website)}}" ng-if="conference.website" target="_blank">
                              {{unSanitizeUrl(conference.website)}}
                          </a>
                      </div>
                      <div ng-if="editMode==true">
                          <input class="conf-imp-fixed" type="text" ng-model="conference.website"/>
                      </div>
                  </td>
              </tr>
              <tr style="max-height: 38px;">
                  <td>
                      Attendee App
                  </td>
                  <td>
                      <div ng-if="editMode!=true">
                          {{conference.exhibitor_only == false ? 'Active' : 'Not active'}}
                      </div>
                      <div  ng-if="editMode==true" class="flex-row" style="align-items: center; margin-left: 0; margin-right: 50px;">
                      <div class="button-attendee-functionality cursor"
                          ng-class="conference.exhibitor_only == false ? 'button-attendee-selected' : ''"
                          ng-click="conference.exhibitor_only = false;" style="margin-top: 0;">
                          On
                      </div>
                      <div class="button-attendee-functionality cursor" style="margin-left: 10px;"
                          ng-class="conference.exhibitor_only == true ? 'button-attendee-selected' : ''"
                          ng-click="conference.exhibitor_only = true;">
                          Off
                      </div>
              </div>
                  </td>
              </tr>
              <tr>
                  <td>Event Owner's Name</td>
                  <td>
                      {{conferenceOwner.first_name}} {{conferenceOwner.last_name}}
                  </td>
              </tr>
              <tr>
                  <td>Event Owner's Email</td>
                  <td>
                      {{conferenceOwner.email}}
                  </td>
              </tr>
              <tr>
                  <td>Event Code</td>
                  <td>
                      {{conference.code}}
                  </td>
              </tr>
              <tr ng-if="editMode==true">
                  <td>
                      <div class="conference-field-required-status">
                          * Required
                      </div>
                  </td>
                  <td>
              </tr>
          </table>
      </div>
      <div class="conference-body-right-unbordered"
          style="max-width: 40%; float: right; border-left: 2px solid #cdcdcd;padding-bottom: 1500px;margin-bottom: -1500px;">
          <div class="conference-map" style="width:582px; height:256px;">
              <a href="{{googleMap}}" target="_blank">
                  <img ng-src="{{googleStaticMap}}">
              </a>
          </div>
          <div class="conference-stats">
              <div class="conference-stat">
                  <div class="conference-stat-holder" ui-sref="conferences.dashboard.attendees.overview">
                      <div class="conference-stat-title">
                          {{conference.business_data.attendee_count || 0}}
                      </div>
                      <div class="conference-stat-subtitle">
                          Attendees
                      </div>
                  </div>
              </div>
              <div class="conference-stat">
                  <div class="conference-stat-holder" ui-sref="conferences.dashboard.exhibitors.overview">
                      <div class="conference-stat-title">
                          {{(conference.exhibitors_count || 0)}}
                      </div>
                      <div class="conference-stat-subtitle">
                          Exhibitors
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="conference-contacts-table flex-column"
      style="margin-bottom: 100px;"
      ng-class="(editMode) ? 'conference-support-contacts-small':'conference-support-contacts-large'">
      <div class="flex-row" style="height: 66px;" ng-class="conference-contacts-header">
          <p>Event Contacts</p>
          <div ng-if="permissionsForManageExhibitors()"
              class="flex-row cursor" ng-click="openSupportContactForm()" style="line-height: 33px;">
              <i class="fa fa-plus-circle"
                  style="font-size: 17px; color: #26a7de; margin-right: 18.5px; margin-left: 8px; position: relative; top: 1px;"
                  aria-hidden="true"></i>
              ADD CONTACTS
          </div>
      </div>
      <div class="flex-column">

          <div class="flex-row" ng-repeat="conf_contact in supportContacts">
              <div>
                  <useravatar image="conf_contact.photo"
                              firstname="conf_contact.first_name"
                              lastname="conf_contact.last_name"
                              size="36px">
                  </useravatar>
                  <p class="demi contact-info">{{conf_contact.first_name + ' ' + conf_contact.last_name}}</p>
              </div>
              <p class="medium contact-info">{{conf_contact.area_of_support}}</p>
              <p class="medium contact-info">{{conf_contact.phone_number}}</p>
              <p class="medium contact-info">{{conf_contact.email}}</p>
              <div class="flex-row" ng-if="permissionsForManageExhibitors()">
                  <!-- <div ng-click="openSupportContactProfile(conf_contact);" class="cursor"> -->
                      <div ng-click="openSupportContactForm(conf_contact);" class="cursor">
                      <div class="default-icon-circle">
                          <i class="fa fa-pencil" aria-hidden="true" style="color: #26a7de"></i>
                      </div>
                  </div>
                  <div ng-click="deleteSupportContact(conf_contact.id)" class="cursor">
                      <div class="default-icon-circle">
                          <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="flex-row" ng-if="editMode==true" style="margin-bottom: 30px; padding-top: 30px; align-items: center;">
          <div class="conference-table-actions" ng-click="deleteConference()" ng-if="verifyConferenceOwnerPermissions()">
              Delete Event
          </div>
          <div>
              <div class="conference-button-holder" style="line-height: 42px;" ng-click="cancelEditConference()">
                  <div class="conference-button-cancel">
                      Cancel
                  </div>
              </div>
              <div class="conference-button-holder">
                  <div class="conference-button-save" style="line-height: 42px;" ng-click="updateConference()">
                      Save
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
