.conference-details-overview {
	height: calc(100vh - 75px);
	overflow: hidden;
}

.contact-info {
	overflow: hidden;
}
.intl-tel-input{
	width: calc(100% + 18px);

}
.intl-tel-input input{
	padding: 8px;
	height:33px;
}
