<div class="sessions-speakers-panel flex-row">
    <div style="overflow-y: scroll; height: calc(100vh - 148px); overflow-x: hidden;
            border-right: 2px solid #cdcdcd;">
        <p>Add Speakers</p>
        <div>
            <div class="flex-column">
                <div class="flex-row" ng-repeat="field in conferenceSpeakerFields">
                    <p>{{field.label}}<span style="color: #f58a1c;" ng-if="field.code == 'first_name' || field.code == 'last_name'">*</span></p>
                    <input ng-if="field.code != 'biography' && field.code != 'phone_number'" type="text" ng-model="conferenceSpeakerModel[field.code]">
                    <input ng-if="field.code == 'phone_number'" type="text" ng-model="conferenceSpeakerModel[field.code]" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input>
                    <p ng-if="field.code == 'first_name'" style="margin-right: 17px; color: #f58a1c; font-size: 12px;" class="medium required-paragraph">*Required</p>
                    <textarea ng-model="conferenceSpeakerModel.biography" ng-if="field.code == 'biography'"></textarea>
                </div>
                <div class="sessions-speaker-photo-upload flex-row">
                    <p>Speaker Photo</p>
                    <div class="flex-row" style="align-items: center;">
                        <img style="width: 45px; height: 45px; border-radius: 50%;" ng-if="!editSpeakerProfileMode"
                            ng-src="{{conferenceSpeakerModel.headshot_url ? conferenceSpeakerModel.headshot_url : '/assets/images/default-profile-img.png'}}">
                        <useravatar image="conferenceSpeakerModel.headshot_url" ng-if="editSpeakerProfileMode"
                            firstname="conferenceSpeakerModel.first_name"
                            lastname="conferenceSpeakerModel.last_name"
                            size="45px">
                        </useravatar>
                        <p class="cursor upload-image-speaker-link drop-box drag-class" ngf-drop="uploadSpeakerProfilePhoto($files)"
                            ngf-select="uploadSpeakerProfilePhoto($files)"
                            ngf-max-size="10MB" ngf-min-height="50"
                            ngf-drag-over-class="'dragover'" ngf-multiple="false">Upload from computer</p>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="cursor" ng-show="editSpeakerProfileMode" ng-click="resetFields()">Cancel</div>
                    <div class="cursor" ng-class="!editSpeakerProfileMode ? 'margin-left-auto-button' : ''" ng-click="createOrUpdateSpeaker(conferenceSpeakerModel)">SAVE</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Saved Speaker Profiles</p>
        <div style="overflow-y: scroll; height: calc(100vh - 220px); overflow-x: hidden;">
            <div ng-repeat="speaker in conferenceSpeakersList.speakers | orderBy : 'first_name'" class="flex-row conference-speaker-item" style="overflow-x: hidden;">
                <useravatar image="speaker.headshot_url"
                    firstname="speaker.first_name"
                    lastname="speaker.last_name"
                    size="36px">
                </useravatar>
                <div class="flex-column" style="width: 50%">
                    <p class="ellipsis" style="width: 95%;">{{speaker.first_name + ' ' + speaker.last_name}}</p>
                    <p class="ellipsis" style="width: 95%;">{{speaker.company}}</p>
                </div>
                <div class="default-icon-circle" ng-click="editSpeakerProfile(speaker)"
                    style="margin-left: auto; margin-right: 10px; min-width: 30px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
                </div>
                <div class="default-icon-circle" ng-click="removeConferenceSpeaker(speaker)"
                    style="min-width: 30px; margin-right: 20px;">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
