.sessions-speakers-panel{
    justify-content: space-between;
    & p{
        margin: 0;
        color: #4a4a4a;
    }
    & > div{
        &:first-child{
            padding: 15px 28px 57px 42px;
            width: 58vw;
            & > p{
                font-size: 20px;
                font-family: $font-family-medium;
                margin-bottom: 18px;
            }
            & > div > div{
                background-color:  #edf0f2;
                padding-top : 16px;
                & > div{
                    align-items: center;
                    margin-bottom: 10px;
                    & > p:not(.required-paragraph){
                        font-family: $font-family-demi;
                        font-size: 14px;
                        margin-left: 17px;
                        width: 22%;
                    }
                    & > input{
                        @include shape(296px, 40px, 0);
                        border-color: #cdcdcd;
                        margin-right: auto;
                        padding-left: 11px;
                    }
                    & > textarea{
                        @include shape(285px, 121px, 0);
                        border-color: #cdcdcd;
                        padding-left: 11px;
                        padding-top: 11px;
                        padding-right: 11px;
                        margin-bottom: 14px;
                        margin-right: auto;
                    }
                    &:last-child{
                        justify-content: space-between;
                        padding: 23px 16px 36px 17px;
                        border-top: 1px solid #cdcdcd;
                        margin: 0;
                        & > div{
                            font-size: 14px;
                            @include shape(148px, 40px, 20px);
                            text-align: center;
                            line-height: 40px;
                            &:first-child{
                                border: 1px solid #9b9b9b;
                                font-family: $font-family-medium;
                            }
                            &:nth-child(2){
                                font-family: $font-family-demi;
                                color: #fff;
                                background-color: #68aa3b;
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(2){
            width: 25vw;
            padding-left: 22px;
            background-color: #fafafa;
            overflow-y: auto;
            height: calc(100vh - 75px);
            &::-webkit-scrollbar {
                width: 0;
            }
            & > p{
                font-family: $font-family-demi;
                font-size: 14px;
                margin: 21px auto 17px 0;
            }
            & > div{
                align-items: center;
                overflow-y: auto;
                & .conference-speaker-item {
                    align-items: center;
                    border-bottom: 1px solid #cdcdcd;
                    min-height: 68px;
                    & > div{
                        & > p{
                            margin-left: 10px;
                            &:first-child{
                                font-size: 14px;
                                font-family: $font-family-medium;
                                font-weight: bold;
                            }
                            &:last-child{
                                font-family: $font-family-medium;
                                font-size: 12px;
                            }
                        }
                        &:nth-child(2){
                            margin-right: auto;
                        }
                    }
                }
                & .default-avatar, & .user-img-small{
                    margin-left: 0 !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}
.sessions-speakers-panel .intl-tel-input{
  width: 310px;

}
.sessions-speakers-panel .intl-tel-input input{
	width:100%;
	padding-left: 50px;
  height: 44px;
}
.sessions-speakers-panel .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
.sessions-speaker-photo-upload{
    margin-bottom: 32px !important;
}

.upload-image-speaker-link{
    margin-left: 15px !important;
    color: #26a7de !important;
    font-size: 14px;
    font-family: $font-family-medium;
}
