<div class="layers-menu-wrapper" style="font-size: 12px">
	<div class="layers-section-wrapper" ng-class="{'open': imprintTabActive, 'hidden': hideImprintMenu}">
		<div class="layers-title-wrapper" ng-class="{'active': imprintTabActive}" ng-click = "changeTab('imprint')">
			<i class="fa fa-caret-right" aria-hidden="true"></i>IMPRINT
		</div>
		<div class="layers-list-wrapper" style="height: {{componentsList.imprint.length * 40}}px">
			<div class="list-item" ng-repeat="component in componentsList['imprint']" drag-to-reorder="imprint" style="height: 40px" ng-click="makeActiveLayer($event, component)" ng-class="{'active': component.active}">
				<i class="fa fa-font" aria-hidden="true" ng-if="component.type === 'TEXT'"></i>
				<div class="text" ng-if="component.type === 'TEXT'">{{component.props.innerText | escape_caracters}}</div>

				<i class="fa fa-picture-o" aria-hidden="true" ng-if="component.type === 'IMAGE'"></i>
				<div class="text" ng-if="component.type === 'IMAGE'">Image</div>

				<i class="fa fa-qrcode" aria-hidden="true" ng-if="component.type === 'CODE'"></i>
				<div class="text" ng-if="component.type === 'CODE'">QR Code</div>

				<div class="layer-shape-svg-container" ng-if="component.type === 'SHAPE'">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" ng-if="component.props.shapeType === 'square' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-96.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Rectangle" points="1 1 26 1 26 26 1 26"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 27 27" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'circle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -222.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M53.5,27 C46.0441559,27 40,20.9558441 40,13.5 C40,6.04415588 46.0441559,0 53.5,0 C60.9558441,0 67,6.04415588 67,13.5 C67,20.9558441 60.9558441,27 53.5,27 Z" id="Circle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType ==='rounded-square' " >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M81,7.00402343 C81,3.68809285 83.6873039,1 87.0040234,1 L99.9959766,1 C103.311907,1 106,3.6873039 106,7.00402343 L106,19.9959766 C106,23.3119071 103.312696,26 99.9959766,26 L87.0040234,26 C83.6880929,26 81,23.3126961 81,19.9959766 L81,7.00402343 Z" id="Rounded-rectangle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 26 26" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'star' ">
							<g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -270.000000)" fill="#979797">
											<g id="tools-panel" transform="translate(-2.000000, 141.000000)">
													<g id="Group-6" transform="translate(97.000000, 81.000000)">
															<path d="M26.000031,58.1093584 C26.000031,58.3906088 25.7969058,58.6562341 25.5937805,58.8593593 L19.9218987,64.3906159 L21.2656504,72.2031252 C21.2812754,72.3125004 21.2812754,72.4062505 21.2812754,72.5156256 C21.2812754,72.9375011 21.0937751,73.2968765 20.6406496,73.2968765 C20.4218993,73.2968765 20.2031491,73.2187515 20.0156489,73.1093763 L13.0000155,69.4218719 L5.98438213,73.1093763 C5.78125689,73.2187515 5.57813165,73.2968765 5.35938139,73.2968765 C4.90625585,73.2968765 4.70313061,72.9218761 4.70313061,72.5156256 C4.70313061,72.4062505 4.71875563,72.3125004 4.73438064,72.2031252 L6.07813225,64.3906159 L0.390625466,58.8593593 C0.203125242,58.6562341 0,58.3906088 0,58.1093584 C0,57.6406079 0.484375577,57.4531077 0.875001043,57.3906076 L8.71876039,56.2499812 L12.2343896,49.1405977 C12.3750148,48.8437224 12.6406401,48.499972 13.0000155,48.499972 C13.3593909,48.499972 13.6250162,48.8437224 13.7656414,49.1405977 L17.2812706,56.2499812 L25.12503,57.3906076 C25.5000304,57.4531077 26.000031,57.6406079 26.000031,58.1093584 Z" id="Star"></path>
													</g>
											</g>
									</g>
							</g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 27 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'pentagon' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -271.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Pentagon" points="53.5 49 66.339263 58.3282706 61.4351009 73.4217294 45.5648991 73.4217294 40.660737 58.3282706"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'triangle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -272.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Triangle" points="93 50 105 74 81 74"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if=" component.props.shapeType === 'moon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -319.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M23.3906523,114.031244 C21.437525,118.265624 17.1562699,121.000002 12.5000143,121.000002 C5.89063143,121.000002 0.5,115.609371 0.5,108.999988 C0.5,102.515605 5.57813105,97.2499741 12.0468888,97.0155988 C12.4843893,96.9999738 12.8437647,97.2499741 13.0000149,97.6249745 C13.1718901,98.0156 13.062515,98.4687255 12.7656396,98.7499759 C10.9843875,100.374978 10.0000113,102.59373 10.0000113,104.999983 C10.0000113,109.687489 13.8125159,113.499993 18.5000215,113.499993 C19.7343979,113.499993 20.9218993,113.234368 22.0625257,112.703117 C22.4531512,112.531242 22.8906517,112.609367 23.187527,112.906243 C23.4844024,113.203118 23.5625275,113.656244 23.3906523,114.031244 Z" id="Crescent"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 26 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'hexagon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -319.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Hexagon" points="65.660737 108.539536 59.8861619 97 46.4353122 97 40.660737 108.539536 46.4353122 119.999512 59.9571208 119.999512"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 21 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'diamond'" >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-178.000000, -318.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Diamond" points="83 108.217514 93.2175144 96 103.435029 108.217514 93.2175144 120.435029"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 23 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'line'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-98.000000, -365.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Line" points="4.5 165.914214 25.2144726 145.199741 23.8002591 143.785527 3.08578644 164.5"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'arrow'">
						<polygon class="st0" points="23.4,0.6 9.7,8.3 10.7,10.1 14.9,7.7 0.1,22.5 1.5,23.9 16.3,9.1 13.9,13.3 15.7,14.3 "/>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'smiley'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-174.000000, -365.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M97.2187711,157.796866 C96.4375202,160.312494 94.1406425,161.999996 91.5000143,161.999996 C88.8593862,161.999996 86.5625084,160.312494 85.7812575,157.796866 C85.6093823,157.265616 85.9062576,156.71874 86.4375083,156.546865 C86.9531339,156.37499 87.5156346,156.671865 87.6875098,157.203116 C88.2031354,158.874993 89.7500122,159.999994 91.5000143,159.999994 C93.2500164,159.999994 94.7968932,158.874993 95.3125188,157.203116 C95.4843941,156.671865 96.0468947,156.37499 96.5781454,156.546865 C97.093771,156.71874 97.3906463,157.265616 97.2187711,157.796866 Z M89.5000119,150.999983 C89.5000119,152.10936 88.6093859,152.999986 87.5000095,152.999986 C86.3906332,152.999986 85.5000072,152.10936 85.5000072,150.999983 C85.5000072,149.890607 86.3906332,148.999981 87.5000095,148.999981 C88.6093859,148.999981 89.5000119,149.890607 89.5000119,150.999983 Z M97.5000215,150.999983 C97.5000215,152.10936 96.6093954,152.999986 95.5000191,152.999986 C94.3906428,152.999986 93.5000167,152.10936 93.5000167,150.999983 C93.5000167,149.890607 94.3906428,148.999981 95.5000191,148.999981 C96.6093954,148.999981 97.5000215,149.890607 97.5000215,150.999983 Z M101.500026,154.999988 C101.500026,149.484357 97.0156459,144.999976 91.5000143,144.999976 C85.9843827,144.999976 81.5000024,149.484357 81.5000024,154.999988 C81.5000024,160.51562 85.9843827,165 91.5000143,165 C97.0156459,165 101.500026,160.51562 101.500026,154.999988 Z M103.500029,154.999988 C103.500029,161.624996 98.1250222,167.000002 91.5000143,167.000002 C84.8750064,167.000002 79.5,161.624996 79.5,154.999988 C79.5,148.37498 84.8750064,142.999974 91.5000143,142.999974 C98.1250222,142.999974 103.500029,148.37498 103.500029,154.999988 Z" id="Happy"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
				</div>
				<div class="text" ng-if="component.type === 'SHAPE'" style="text-transform: capitalize;">{{component.props.shapeType}}</div>

				<i class="fa fa-bars form-control-feedback" style="float: right;" ng-click="openContextualMenu($event, component, $root.componentsList['imprint'])"></i>

				<div class="contextual-menu" ng-class="{ 'open': component.visibleContextualMenu }">
					<div class="contextual-menu-item" ng-click="moveLayerToADifferentFolder($event, component, 'shell')" ng-if="!component.props.mailMergeField && component.type !== 'CODE'">Move to shell</div>
					<div class="contextual-menu-item" ng-click="deleteLayer($event, component, 'imprint')">Delete layer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layers-section-wrapper" ng-class="{'open': shellTabActive, 'hidden': hideImprintMenu}">
		<div class="layers-title-wrapper" ng-class="{'active': shellTabActive}" ng-click="changeTab('shell')" >
			<i class="fa fa-caret-right" aria-hidden="true"></i>SHELL
		</div>
		<div class="layers-list-wrapper" style="height: {{(componentsList.shell.length ) * 40}}px">
			<div class="list-item" ng-repeat="component in componentsList['shell']" drag-to-reorder="shell" style="height: 40px" ng-click="makeActiveLayer($event, component)" ng-class="{'active': component.active}">
				<i class="fa fa-font" aria-hidden="true" ng-if="component.type === 'TEXT'"></i>
				<div class="text" ng-if="component.type === 'TEXT'">{{component.props.innerText | escape_caracters}}</div>

				<i class="fa fa-picture-o" aria-hidden="true" ng-if="component.type === 'IMAGE'"></i>
				<div class="text" ng-if="component.type === 'IMAGE'">Image</div>

				<div class="layer-shape-svg-container" ng-if="component.type === 'SHAPE'">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" ng-if="component.props.shapeType === 'square' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-96.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Rectangle" points="1 1 26 1 26 26 1 26"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 27 27" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'circle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -222.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M53.5,27 C46.0441559,27 40,20.9558441 40,13.5 C40,6.04415588 46.0441559,0 53.5,0 C60.9558441,0 67,6.04415588 67,13.5 C67,20.9558441 60.9558441,27 53.5,27 Z" id="Circle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType ==='rounded-square' " >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M81,7.00402343 C81,3.68809285 83.6873039,1 87.0040234,1 L99.9959766,1 C103.311907,1 106,3.6873039 106,7.00402343 L106,19.9959766 C106,23.3119071 103.312696,26 99.9959766,26 L87.0040234,26 C83.6880929,26 81,23.3126961 81,19.9959766 L81,7.00402343 Z" id="Rounded-rectangle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 26 26" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'star' ">
							<g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -270.000000)" fill="#979797">
											<g id="tools-panel" transform="translate(-2.000000, 141.000000)">
													<g id="Group-6" transform="translate(97.000000, 81.000000)">
															<path d="M26.000031,58.1093584 C26.000031,58.3906088 25.7969058,58.6562341 25.5937805,58.8593593 L19.9218987,64.3906159 L21.2656504,72.2031252 C21.2812754,72.3125004 21.2812754,72.4062505 21.2812754,72.5156256 C21.2812754,72.9375011 21.0937751,73.2968765 20.6406496,73.2968765 C20.4218993,73.2968765 20.2031491,73.2187515 20.0156489,73.1093763 L13.0000155,69.4218719 L5.98438213,73.1093763 C5.78125689,73.2187515 5.57813165,73.2968765 5.35938139,73.2968765 C4.90625585,73.2968765 4.70313061,72.9218761 4.70313061,72.5156256 C4.70313061,72.4062505 4.71875563,72.3125004 4.73438064,72.2031252 L6.07813225,64.3906159 L0.390625466,58.8593593 C0.203125242,58.6562341 0,58.3906088 0,58.1093584 C0,57.6406079 0.484375577,57.4531077 0.875001043,57.3906076 L8.71876039,56.2499812 L12.2343896,49.1405977 C12.3750148,48.8437224 12.6406401,48.499972 13.0000155,48.499972 C13.3593909,48.499972 13.6250162,48.8437224 13.7656414,49.1405977 L17.2812706,56.2499812 L25.12503,57.3906076 C25.5000304,57.4531077 26.000031,57.6406079 26.000031,58.1093584 Z" id="Star"></path>
													</g>
											</g>
									</g>
							</g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 27 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'pentagon' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -271.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Pentagon" points="53.5 49 66.339263 58.3282706 61.4351009 73.4217294 45.5648991 73.4217294 40.660737 58.3282706"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'triangle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -272.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Triangle" points="93 50 105 74 81 74"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if=" component.props.shapeType === 'moon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -319.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M23.3906523,114.031244 C21.437525,118.265624 17.1562699,121.000002 12.5000143,121.000002 C5.89063143,121.000002 0.5,115.609371 0.5,108.999988 C0.5,102.515605 5.57813105,97.2499741 12.0468888,97.0155988 C12.4843893,96.9999738 12.8437647,97.2499741 13.0000149,97.6249745 C13.1718901,98.0156 13.062515,98.4687255 12.7656396,98.7499759 C10.9843875,100.374978 10.0000113,102.59373 10.0000113,104.999983 C10.0000113,109.687489 13.8125159,113.499993 18.5000215,113.499993 C19.7343979,113.499993 20.9218993,113.234368 22.0625257,112.703117 C22.4531512,112.531242 22.8906517,112.609367 23.187527,112.906243 C23.4844024,113.203118 23.5625275,113.656244 23.3906523,114.031244 Z" id="Crescent"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 26 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'hexagon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -319.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Hexagon" points="65.660737 108.539536 59.8861619 97 46.4353122 97 40.660737 108.539536 46.4353122 119.999512 59.9571208 119.999512"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 21 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'diamond'" >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-178.000000, -318.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon	id="Diamond" points="83 108.217514 93.2175144 96 103.435029 108.217514 93.2175144 120.435029"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 23 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'line'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-98.000000, -365.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Line" points="4.5 165.914214 25.2144726 145.199741 23.8002591 143.785527 3.08578644 164.5"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'arrow'">
						<polygon class="st0" points="23.4,0.6 9.7,8.3 10.7,10.1 14.9,7.7 0.1,22.5 1.5,23.9 16.3,9.1 13.9,13.3 15.7,14.3 "/>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'smiley'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-174.000000, -365.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M97.2187711,157.796866 C96.4375202,160.312494 94.1406425,161.999996 91.5000143,161.999996 C88.8593862,161.999996 86.5625084,160.312494 85.7812575,157.796866 C85.6093823,157.265616 85.9062576,156.71874 86.4375083,156.546865 C86.9531339,156.37499 87.5156346,156.671865 87.6875098,157.203116 C88.2031354,158.874993 89.7500122,159.999994 91.5000143,159.999994 C93.2500164,159.999994 94.7968932,158.874993 95.3125188,157.203116 C95.4843941,156.671865 96.0468947,156.37499 96.5781454,156.546865 C97.093771,156.71874 97.3906463,157.265616 97.2187711,157.796866 Z M89.5000119,150.999983 C89.5000119,152.10936 88.6093859,152.999986 87.5000095,152.999986 C86.3906332,152.999986 85.5000072,152.10936 85.5000072,150.999983 C85.5000072,149.890607 86.3906332,148.999981 87.5000095,148.999981 C88.6093859,148.999981 89.5000119,149.890607 89.5000119,150.999983 Z M97.5000215,150.999983 C97.5000215,152.10936 96.6093954,152.999986 95.5000191,152.999986 C94.3906428,152.999986 93.5000167,152.10936 93.5000167,150.999983 C93.5000167,149.890607 94.3906428,148.999981 95.5000191,148.999981 C96.6093954,148.999981 97.5000215,149.890607 97.5000215,150.999983 Z M101.500026,154.999988 C101.500026,149.484357 97.0156459,144.999976 91.5000143,144.999976 C85.9843827,144.999976 81.5000024,149.484357 81.5000024,154.999988 C81.5000024,160.51562 85.9843827,165 91.5000143,165 C97.0156459,165 101.500026,160.51562 101.500026,154.999988 Z M103.500029,154.999988 C103.500029,161.624996 98.1250222,167.000002 91.5000143,167.000002 C84.8750064,167.000002 79.5,161.624996 79.5,154.999988 C79.5,148.37498 84.8750064,142.999974 91.5000143,142.999974 C98.1250222,142.999974 103.500029,148.37498 103.500029,154.999988 Z" id="Happy"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
				</div>
				<div class="text" ng-if="component.type === 'SHAPE'" style="text-transform: capitalize;">{{component.props.shapeType}}</div>

				<i class="fa fa-bars form-control-feedback" style="float: right;" ng-click="openContextualMenu($event, component, $root.componentsList['shell'])"></i>

				<div class="contextual-menu" ng-class="{ 'open': component.visibleContextualMenu }">
					<div class="contextual-menu-item" ng-click="moveLayerToADifferentFolder($event, component, 'imprint')">Move to imprint</div>
					<div class="contextual-menu-item" ng-click="deleteLayer($event, component, 'shell')">Delete layer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layers-section-wrapper open" ng-if="$root.badgeRotationDegree === 180">
		<div class="layers-title-wrapper active">
			<i class="fa fa-caret-right" aria-hidden="true"></i>SHELL
		</div>
		<div class="layers-list-wrapper" style="height: {{(backSideComponents.length ) * 40}}px">
			<div class="list-item" ng-repeat="component in backSideComponents" drag-to-reorder="shell" style="height: 40px" ng-click="makeActiveLayer($event, component)" ng-class="{'active': component.active}">
				<i class="fa fa-font" aria-hidden="true" ng-if="component.type === 'TEXT'"></i>
				<div class="text" ng-if="component.type === 'TEXT'">{{component.props.innerText | escape_caracters}}</div>

				<i class="fa fa-picture-o" aria-hidden="true" ng-if="component.type === 'IMAGE'"></i>
				<div class="text" ng-if="component.type === 'IMAGE'">Image</div>

				<div class="layer-shape-svg-container" ng-if="component.type === 'SHAPE'">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" ng-if="component.props.shapeType === 'square' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-96.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Rectangle" points="1 1 26 1 26 26 1 26"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 27 27" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'circle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -222.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M53.5,27 C46.0441559,27 40,20.9558441 40,13.5 C40,6.04415588 46.0441559,0 53.5,0 C60.9558441,0 67,6.04415588 67,13.5 C67,20.9558441 60.9558441,27 53.5,27 Z" id="Circle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType ==='rounded-square' " >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -223.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M81,7.00402343 C81,3.68809285 83.6873039,1 87.0040234,1 L99.9959766,1 C103.311907,1 106,3.6873039 106,7.00402343 L106,19.9959766 C106,23.3119071 103.312696,26 99.9959766,26 L87.0040234,26 C83.6880929,26 81,23.3126961 81,19.9959766 L81,7.00402343 Z" id="Rounded-rectangle"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 26 26" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'star' ">
							<g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -270.000000)" fill="#979797">
											<g id="tools-panel" transform="translate(-2.000000, 141.000000)">
													<g id="Group-6" transform="translate(97.000000, 81.000000)">
															<path d="M26.000031,58.1093584 C26.000031,58.3906088 25.7969058,58.6562341 25.5937805,58.8593593 L19.9218987,64.3906159 L21.2656504,72.2031252 C21.2812754,72.3125004 21.2812754,72.4062505 21.2812754,72.5156256 C21.2812754,72.9375011 21.0937751,73.2968765 20.6406496,73.2968765 C20.4218993,73.2968765 20.2031491,73.2187515 20.0156489,73.1093763 L13.0000155,69.4218719 L5.98438213,73.1093763 C5.78125689,73.2187515 5.57813165,73.2968765 5.35938139,73.2968765 C4.90625585,73.2968765 4.70313061,72.9218761 4.70313061,72.5156256 C4.70313061,72.4062505 4.71875563,72.3125004 4.73438064,72.2031252 L6.07813225,64.3906159 L0.390625466,58.8593593 C0.203125242,58.6562341 0,58.3906088 0,58.1093584 C0,57.6406079 0.484375577,57.4531077 0.875001043,57.3906076 L8.71876039,56.2499812 L12.2343896,49.1405977 C12.3750148,48.8437224 12.6406401,48.499972 13.0000155,48.499972 C13.3593909,48.499972 13.6250162,48.8437224 13.7656414,49.1405977 L17.2812706,56.2499812 L25.12503,57.3906076 C25.5000304,57.4531077 26.000031,57.6406079 26.000031,58.1093584 Z" id="Star"></path>
													</g>
											</g>
									</g>
							</g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 27 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'pentagon' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -271.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Pentagon" points="53.5 49 66.339263 58.3282706 61.4351009 73.4217294 45.5648991 73.4217294 40.660737 58.3282706"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'triangle' ">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-176.000000, -272.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Triangle" points="93 50 105 74 81 74"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if=" component.props.shapeType === 'moon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-95.000000, -319.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M23.3906523,114.031244 C21.437525,118.265624 17.1562699,121.000002 12.5000143,121.000002 C5.89063143,121.000002 0.5,115.609371 0.5,108.999988 C0.5,102.515605 5.57813105,97.2499741 12.0468888,97.0155988 C12.4843893,96.9999738 12.8437647,97.2499741 13.0000149,97.6249745 C13.1718901,98.0156 13.062515,98.4687255 12.7656396,98.7499759 C10.9843875,100.374978 10.0000113,102.59373 10.0000113,104.999983 C10.0000113,109.687489 13.8125159,113.499993 18.5000215,113.499993 C19.7343979,113.499993 20.9218993,113.234368 22.0625257,112.703117 C22.4531512,112.531242 22.8906517,112.609367 23.187527,112.906243 C23.4844024,113.203118 23.5625275,113.656244 23.3906523,114.031244 Z" id="Crescent"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 26 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'hexagon'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-135.000000, -319.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Hexagon" points="65.660737 108.539536 59.8861619 97 46.4353122 97 40.660737 108.539536 46.4353122 119.999512 59.9571208 119.999512"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 21 25" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'diamond'" >
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-178.000000, -318.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon	id="Diamond" points="83 108.217514 93.2175144 96 103.435029 108.217514 93.2175144 120.435029"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 23 23" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'line'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-98.000000, -365.000000)" fill-rule="nonzero" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <polygon id="Line" points="4.5 165.914214 25.2144726 145.199741 23.8002591 143.785527 3.08578644 164.5"></polygon>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 24 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'arrow'">
						<polygon class="st0" points="23.4,0.6 9.7,8.3 10.7,10.1 14.9,7.7 0.1,22.5 1.5,23.9 16.3,9.1 13.9,13.3 15.7,14.3 "/>
					</svg>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 25 24" preserveAspectRatio="none" xml:space="preserve" ng-if="component.props.shapeType === 'smiley'">
						 <g id="Expo-Template-Design-Tool" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								 <g id="Conference-Attendees-Create-Expo-Badge-2d" transform="translate(-174.000000, -365.000000)" fill="#979797">
										 <g id="tools-panel" transform="translate(-2.000000, 141.000000)">
												 <g id="Group-6" transform="translate(97.000000, 81.000000)">
														 <path d="M97.2187711,157.796866 C96.4375202,160.312494 94.1406425,161.999996 91.5000143,161.999996 C88.8593862,161.999996 86.5625084,160.312494 85.7812575,157.796866 C85.6093823,157.265616 85.9062576,156.71874 86.4375083,156.546865 C86.9531339,156.37499 87.5156346,156.671865 87.6875098,157.203116 C88.2031354,158.874993 89.7500122,159.999994 91.5000143,159.999994 C93.2500164,159.999994 94.7968932,158.874993 95.3125188,157.203116 C95.4843941,156.671865 96.0468947,156.37499 96.5781454,156.546865 C97.093771,156.71874 97.3906463,157.265616 97.2187711,157.796866 Z M89.5000119,150.999983 C89.5000119,152.10936 88.6093859,152.999986 87.5000095,152.999986 C86.3906332,152.999986 85.5000072,152.10936 85.5000072,150.999983 C85.5000072,149.890607 86.3906332,148.999981 87.5000095,148.999981 C88.6093859,148.999981 89.5000119,149.890607 89.5000119,150.999983 Z M97.5000215,150.999983 C97.5000215,152.10936 96.6093954,152.999986 95.5000191,152.999986 C94.3906428,152.999986 93.5000167,152.10936 93.5000167,150.999983 C93.5000167,149.890607 94.3906428,148.999981 95.5000191,148.999981 C96.6093954,148.999981 97.5000215,149.890607 97.5000215,150.999983 Z M101.500026,154.999988 C101.500026,149.484357 97.0156459,144.999976 91.5000143,144.999976 C85.9843827,144.999976 81.5000024,149.484357 81.5000024,154.999988 C81.5000024,160.51562 85.9843827,165 91.5000143,165 C97.0156459,165 101.500026,160.51562 101.500026,154.999988 Z M103.500029,154.999988 C103.500029,161.624996 98.1250222,167.000002 91.5000143,167.000002 C84.8750064,167.000002 79.5,161.624996 79.5,154.999988 C79.5,148.37498 84.8750064,142.999974 91.5000143,142.999974 C98.1250222,142.999974 103.500029,148.37498 103.500029,154.999988 Z" id="Happy"></path>
												 </g>
										 </g>
								 </g>
						 </g>
					</svg>
				</div>
				<div class="text" ng-if="component.type === 'SHAPE'" style="text-transform: capitalize;">{{component.props.shapeType}}</div>

				<i class="fa fa-bars form-control-feedback" style="float: right;" ng-click="openContextualMenu($event, component, $root.componentsList['shell'])"></i>

				<div class="contextual-menu" ng-class="{ 'open': component.visibleContextualMenu }">
					<div class="contextual-menu-item" ng-hide="hideImprintMenu" ng-click="moveLayerToADifferentFolder($event, component, 'imprint')">Move to imprint</div>
					<div class="contextual-menu-item" ng-click="deleteLayer($event, component, 'shell')">Delete layer</div>
				</div>
			</div>
		</div>
	</div>
</div>
