.layers-menu-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 175px;
	border: 1px solid #aaaaaa;
	background-color: #e4e7e9;

	box-sizing: border-box;
}

.layers-menu-wrapper .layers-section-wrapper {
	height: 50px;
	overflow: hidden;
}

.layers-menu-wrapper .layers-section-wrapper.open {
	height: auto;
	overflow: visible;
}

.layers-menu-wrapper .layers-section-wrapper.hidden {
	display: none;
}


.layers-menu-wrapper .layers-section-wrapper .layers-title-wrapper {
	height: 50px;
    border-bottom: 1px solid #cdcdcd;
    line-height: 52px;
    color: #4a4a4a;
    background-color: transparent;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;

		transition: background-color .2s ease;
}

.layers-menu-wrapper .layers-section-wrapper .layers-title-wrapper.active {
	background-color: white;
}

.layers-menu-wrapper .layers-section-wrapper .layers-title-wrapper i {
	font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 52px;
    margin-bottom: 4px;
    vertical-align: middle;
    max-height: 50px;

    transform: rotate(0deg);
    transition: transform .2s ease;
}

.layers-menu-wrapper .layers-section-wrapper .layers-title-wrapper.active i {
	transform: rotate(90deg);
}


.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper {
	transtion: height .3s ease;
	height: 0px;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item {
	border-bottom: 1px solid #cdcdcd;

	background-color: #e8ecee;
	box-sizing: border-box;

  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 100%;

  cursor: pointer;

	position: relative;

	transition: background-color .2s ease;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .layer-shape-svg-container {
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
  color: #4a4a4a;
  margin-left: 10px;
  margin-right: 10px;
}

.layer-shape-svg-container path, .layer-shape-svg-container polygon {
	fill: black;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item.active {
	background: white;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .fa {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: #4a4a4a;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .text {
		display: inline-block;
    color: #4a4a4a;
    font-size: 12px;
    font-family: 'AvenirNextLTPro-Regular';
		width: 57%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		line-height: 40px;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .contextual-menu {
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	left: -50%;
	top: 40%;
	font-size: 14px;
	text-align: left;
	min-width: 200px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-sizing: border-box;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s cubic-bezier(0.4, 0, 0.6, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.6, 1);
	overflow: hidden;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .contextual-menu.open {
	opacity: 1;
	visibility: visible;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .contextual-menu .contextual-menu-item {
	line-height: normal;
  height: 36px;
  line-height: 36px;
  font-family: 'AvenirNextLTPro-Regular';
  color: #4a4a4a;
  background-color: transparent;
  transition: background-color .3s ease;
  padding-left: 10px;
  padding-right: 10px;
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item .contextual-menu .contextual-menu-item:hover {
  background-color: #e4e7e9;
}
.dragging {
  opacity: 0.3;
  transform: scale(1.2);
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item.dropping {
  background-color: rgba(231, 237, 242, 0.63);
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item.dropping-above {
  margin-top: 20px
}

.layers-menu-wrapper .layers-section-wrapper .layers-list-wrapper .list-item.dropping-below {
  margin-bottom: 20px;
}
