<div class="fields-wrapper shape">
		<div class="add-custom-component-button" ng-click="notifyBadgeToAddTextComponent($event)">
			<i class="fa fa-plus-circle" aria-hidden="true"></i>
			<div class="text">Text Field</div>
		</div>
		<select class="font-family-selector" ng-change="changeFontFamily()" ng-model="currentProperties.fontFamily">
			<option ng-repeat="font in fonts" value={{font.family}}>{{font.family}}</option>
		</select>

		<div class="stroke-styles-wrapper" style="margin-top: 0px; padding: 0">
			<div class="inputs-container">
				<input type="number" ng-model="currentProperties.fontSize" class="font-size-input" min="12" ng-change="changeFontSize(currentProperties.fontSize)">
				<div md-color-picker="colorPickerOptions" md-color-hsl="false"  ng-model="currentProperties.color" ng-change="changeFontColor()" style="display: inline-block; vertical-align: middle; height: 30px;"></div>
			</div>
		</div>

		<div class="styles-holder">
			<div class="style-type-button" ng-click="changeFontWeight(isBold)" ng-class="{'active': isBold}">
				<i class="fa fa-bold" aria-hidden="true"></i>
			</div>
			<div class="style-type-button" ng-click="changeFontStyle(isItalic)" ng-class="{'active': isItalic}">
				<i class="fa fa-italic" aria-hidden="true"></i>
			</div>
			<div class="style-type-button" ng-click="changeTextDecoration(isUnderlined)" ng-class="{'active': isUnderlined}">
				<i class="fa fa-underline" aria-hidden="true"></i>
			</div>
		</div>

		<div class="styles-holder">
			<div class="style-type-button" ng-click="changeTextAlign('left')" ng-class="{'active': currentProperties.textAlign === 'left'}">
				<i class="fa fa-align-left" aria-hidden="true"></i>
			</div>
			<div class="style-type-button" ng-click="changeTextAlign('center')" ng-class="{'active': currentProperties.textAlign === 'center'}">
				<i class="fa fa-align-center" aria-hidden="true"></i>
			</div>
			<div class="style-type-button" ng-click="changeTextAlign('right')" ng-class="{'active': currentProperties.textAlign === 'right'}">
				<i class="fa fa-align-right" aria-hidden="true"></i>
			</div>
		</div>

		<div class="styles-holder">
			<div class="value-holder">Opacity: {{currentProperties.opacity}}%</div>
			<input type="range" name="points" min="0" max="100" class="slider" ng-model="currentProperties.opacity" ng-change="changeOpacity(currentProperties.opacity, '{{currentProperties.opacity}}')" ng-model-options='{ debounce: 700 }'>
		</div>
		<div class="mail-merge-area" id="form-container" ng-if="$root.badgeRotationDegree !== 180" style="padding-bottom: 30px;">
			<div class="title-area">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<div class="text">Mail Merge</div>
				<div class="description">Drag and drop any of the categories below to automatically populate the target text fields.</div>
			</div>
			<!-- <div class="category-button drag-drop drag-element-source" data-drag-value="first_name">First Name</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="last_name">Last Name</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="company_name">Company Name</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="email_address">Email Address</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="phone_number">Phone Number</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="street_address">Street Address</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="attendee_registration_level_name">Registration Level</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="city">City</div>
			<div class="category-button drag-drop drag-element-source" data-drag-value="state">State</div> -->
			<div class="category-button drag-drop drag-element-source" ng-repeat="field in attendeeFields" data-drag-value="{{field.key}}">{{field.nameToDisplay}}</div>
			<div class="category-button drag-drop drag-element-source" ng-repeat="field in customFields" data-drag-value="{{field.dataDragValue}}" data-is-custom-field="true">{{field.shownValue}}</div>
		</div>
	</div>
