.fields-wrapper {
	margin-top: 20px;

	text-align: center;

	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular';

	color: #4a4a4a;

	padding-left: 10px;
	padding-right: 10px;

	box-sizing: border-box;

	opacity: 0;
	visibility: hidden;

	transform: translateY(10px);

	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .2s cubic-bezier(0.4, 0.0, 0.6, 1), transform .15s cubic-bezier(0.4, 0.0, 0.6, 1);
    transition-delay: .3s;
}

.fields-wrapper .add-custom-component-button {
	width: 100%;
	height: 30px;

	border: 1px solid #aaaaaa;
	border-radius: 20px;

	padding-left: 8px;
	padding-right: 8px;

	box-sizing: border-box;
	text-align: center;

	position: relative;

	transition: color .3s ease, background-color .3s ease;
}

.fields-wrapper .add-custom-component-button:hover {
	color: white;
	background-color: #aaaaaa
}

.fields-wrapper .add-custom-component-button:hover .fa {
	color: white;
}

.fields-wrapper .add-custom-component-button .fa {
	font-size: 18px;
	color: #26a7de;
	position: absolute;
	left: 8px;
	margin-top: 6px;

	transition: color .3s ease;
}

.fields-wrapper .add-custom-component-button .text {
	line-height: 30px;
}

.fields-wrapper .font-family-selector {
	width: 100%;
	height: 30px;

	margin-top: 15px;
	border-radius: 20px;

	border: 1px solid #cdcdcd;
	cursor: pointer;

	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;

	padding-left: 12px;
	line-height: 32px;
}

.fields-wrapper .styles-holder {
	margin-top: 15px;
	width: 100%;
}

.fields-wrapper .styles-holder .style-type-button {
	display: inline-block;
	width: 40px;
	height: 30px;

	text-align: center;

	font-size: 16px;
	color: #4a4a4a;
	line-height: 32px;

	border: 1px solid transparent;
	border-radius: 20px;
	background-color: transparent;

	transition: border .2s ease, background-color .2s ease;

	box-sizing: border-box;
}

.fields-wrapper .styles-holder .style-type-button.active {
	background-color: white;

	border: 1px solid #cdcdcd;
}

.fields-wrapper .styles-holder .style-type-button:hover {
	background-color: white;
	border-radius: 20px;

	border: 1px solid #cdcdcd;
}

.fields-wrapper .styles-holder .slider {
	width: 95px;
	-webkit-appearance: none;
	border: 0px;
}

.fields-wrapper .styles-holder .slider:focus {
	outline: none;
}

.fields-wrapper .styles-holder .slider::-webkit-slider-runnable-track {
	height: 3px;
	background-color: #cdcdcd;
}

.fields-wrapper .styles-holder .slider::-webkit-slider-thumb {
	margin-top: -5px;
	background-color: white;
	border: 1px solid #818181;

	-webkit-appearance: none;
	width: 13px;
	height: 13px;

	border-radius: 100%;
	cursor: pointer;
}

.fields-wrapper .styles-holder .value-holder {
	font-size: 12px;

	color: #4a4a4a;
	width: 100%;
	text-align: center;

	margin-bottom: 6px;
}

.fields-wrapper .mail-merge-area {
	margin-top: 35px;
	position: relative;
}

.fields-wrapper .mail-merge-area .title-area {
	width: 100%;
	text-align: left;
}

.fields-wrapper .mail-merge-area .title-area .fa {
	font-size: 16px;
	color: #4a4a4a;
	vertical-align: middle;
}

.fields-wrapper .mail-merge-area .title-area .text {
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
	color: #4a4a4a;
	margin-left: 6px;

    height: 16px;
    line-height: 20px;
}

.fields-wrapper .mail-merge-area .title-area .description {
	margin-top: 8px;
	line-height: 16px;

}

.fields-wrapper .mail-merge-area .category-button {
	width: 100%;
	min-height: 40px;
	max-height: 70px;
	min-width: 100%;
	max-width: 100%;

	border: 1px solid #cdcdcd;
	border-radius: 4px;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
	background-color: #edf0f2;

	margin-top: 10px;

	line-height: 26px;

	font-size: 12px;
	padding: 7px;

	box-sizing: border-box;

	cursor: pointer;

	transform: scale(1);
	opacity: 0.7;

	transition: transform .2s ease, opacity .2s ease;
}

.fields-wrapper .mail-merge-area .category-button.drag-drop {
	transition: none;
}

.fields-wrapper .font-size-input {
	width: calc(100% - 30px - 10px);
	height: 30px;
	margin-right: 9px;
	background-color: white;
	border: 1px solid #cdcdcd;
	border-radius: 20px;

	box-sizing: border-box;

	padding-left: 12px;
	padding-right: 12px;

	margin-top: 15px;
}

.fields-wrapper .font-size-input:focus {
	outline: none;
}

.md-color-picker-input {
	display: none !important;
}

.md-color-picker-input-container.layout-row {
	height: 30px;
}

[md-color-picker] .md-color-picker-input-container .md-color-picker-preview, md-color-picker .md-color-picker-input-container .md-color-picker-preview {
	top: 0;
}

[md-color-picker] .md-color-picker-input-container .md-color-picker-clear, md-color-picker .md-color-picker-input-container .md-color-picker-clear {
	display: none;
}

.fields-wrapper .layout-row > .flex {
	display: none;
}

.drag-drop {
	transtion: none;
}
