<div class="modal-wrapper attendee-details add-exhibitor">
    <div class="attendee-details-overview" ng-class="{'active': activeTable && attendee}">
      <div class="general-details" ng-class="{'edit-mode': editModeActive}">
        <div class="profile-picture-container" style="background-image: url({{attendee.attendee_photo || ''}})" ng-if="!editModeActive">
         <div class="profile-name-initials-holder" ng-if="!attendee.attendee_photo">{{attendee.first_name[0] + attendee.last_name[0]}}</div>
       </div>
       <div class="profile-picture-container upload" ngf-select="uploadAttendeePhoto($files)" ng-if="editModeActive"
          ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
          ngf-drag-over-class="'dragover'" ngf-multiple="false">
          <div style="background-image: url({{attendee.attendee_photo || '/assets/images/default-profile-img.png'}})" class="profile-name-initials-holder"></div>
          <div class="linked">Upload from computer</div>
        </div>
        <div class="informations-holder" ng-if="!editModeActive">
          <div class="text-field name">{{attendee.first_name + ' ' +  attendee.last_name}}</div>
          <div class="text-field position">{{attendee.job_title}}</div>
          <div class="text-field">{{attendee.company_name}}</div>
          <div class="text-field" ng-if="attendee.registration_level">Registration Type: {{attendee.registration_level}}</div>
        </div>
        <div class="informations-holder edit-mode" ng-if="editModeActive">
          <div class="attendee" ng-repeat="field in headerFields" ng-class="{'half': field.name == 'first_name' || field.name == 'last_name'}">
            <input type="text" ng-model="attendee[field.name]" placeholder="{{field.label}}" ng-if="field.field_type != 'enum'" ng-class="{'error': field.error}"/>
            <select ng-if="field.field_type === 'enum'" ng-model="attendee[field.name]">
              <option value="" hidden><i>Choose a {{field.label}}</i></option>
              <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
            </select>
          </div>

        </div>
      </div>
      <div class="generic-actions-selector-wrapper actions visible" ng-if="($root.userPermissions.admin || $root.userPermissions.manageAttendees) && !editModeActive && !removedItem">
  			<div class="generic-actions-selector-button" ng-click="toggleActionsList($event, listIsOpened)" click-outside='hideDropdown()'>
  				ACTIONS
  				<div class="dropdown-arrow"></div>
  			</div>
  			<div class="generic-actions-selector" ng-class="{'visible': listIsOpened}">
  				<div class="action" ng-click="editMode(true)">Edit</div>
  			</div>
  		</div>

    </div>
  <div class="table-view" ng-class="{'active': activeTable && attendee}" ng-if="$root.userPermissions.admin || $root.userPermissions.manageAttendees">
    <div class="table-head">
      <div class="table-head-item" ng-click="switchTab('details')" ng-class="{'active': detailsTabActive}">Details</div>
      <div class="table-head-item" ng-click="switchTab('sessions')" ng-class="{'active': sessionsTabActive}">Sessions</div>
    </div>
    <div class="tables-contents-wrapper" ng-class="{'translated': sessionsTabActive}">
      <div class="table-content details">
        <div class="details-list-wrapper">
          <div class="details-list-item" ng-repeat="field in fieldsForView | orderBy : 'order' track by $index" ng-if="!editModeActive">
            <div ng-if="field.name != 'job_title' && field.name != 'state' && field.name != 'first_name' && field.name != 'last_name' && field.name != 'guest_of' && field.name != 'attendee_photo' && field.name != 'company_name' && field.name != 'registration_level'">
              <div class="type">{{field.label}}</div>
              <div class="value" ng-if="field.field_type === 'string' || field.field_type === 'enum' || field.field_type === 'integer'" ng-class="{'underlined':field.further_action}" ng-click="handleItemClick(field.further_action)">{{attendee[field.name]}}</div>
              <div class="value" ng-if="field.field_type === 'currency'">{{attendee[field.name] | currency:"$":2}} <div class="button" ng-if="field.name === 'registration_cost' && attendee.registration_transaction_id" ng-click="resendReceipt()">Send Receipt</div></div>
              <div class="value underlined" ng-if="field.field_type === 'file_link'"><a href="{{attendee[field.name]}}" target="_blank">{{attendee[field.name]}}</a></div>
              <div class="value" ng-if="field.field_type === 'datetime'">{{attendee[field.name] | date : 'MMM dd, yyyy h:mm a' : conference.time_zone}}</div>
            </div>
            <div ng-if="field.name == 'guest_of' && attendee[field.name].first_name">
              <div class="type">{{field.label}}</div>
              <div class="value underlined" ng-click="openAttendeeModalForInvitee(attendee[field.name].id)">{{attendee[field.name].first_name||''}} {{attendee[field.name].last_name||'-'}}</div>
            </div>
            <div ng-if="field.name == 'state' && attendee['country'] == 'United States'">
              <div class="type">{{field.label}}</div>
              <div class="value">{{attendee[field.name]}}</div>
            </div>
          </div>
          <div class="details-list-item" ng-repeat="field in fieldsForView | orderBy : 'order' track by $index" ng-if="editModeActive">
            <div ng-if="field.name != 'job_title' && field.name != 'first_name' && field.name != 'last_name' && field.name != 'guest_of' && field.name != 'attendee_photo' && field.name != 'company_name' && field.name != 'registration_level' && field.is_editable">
              <div class="type" ng-if="field.name != 'state' || (field.name === 'state' && attendee['country'] == 'United States')">{{field.label}} <span style="color: orange" ng-if="field.is_required == true">*</span></div>
              <input type="text" ng-model="attendee[field.name]" ng-hide="field.name == 'guest_of' && field.value == ''" ng-readonly="!field.is_editable" ng-if="field.name != 'country' && field.name != 'state' && field.name != 'phone_number' && field.field_type != 'enum'" ng-class="{'error': field.error}"></input>
              <input type="text" ng-model="attendee[field.name]" ng-if="field.name == 'phone_number'" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>

              <select ng-if=" field.name === 'country' " ng-model="attendee[field.name]" ng-change="updateCountryForPhoneInput(field)" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
                <option ng-repeat="option in countries" value="{{option.name}}" ng-selected="field.value.indexOf(option.name) > -1">{{option.name}}</option>
              </select>

        			<select ng-if=" field.name === 'state' && attendee['country'] == 'United States'" ng-model="attendee[field.name]" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
                <option ng-repeat="option in states" value="{{option.abbreviation}}" ng-selected="attendee[field.name].indexOf(option.value) > -1">{{option.name}}</option>
              </select>

              <select ng-if="field.field_type === 'enum' && field.is_multi_select" multiple ng-model="attendee[field.name]">
                <option ng-repeat="option in field.options" value="{{option}}" ng-selected="attendee[field.name].indexOf(option) > -1">{{option}}</option>
              </select>
              <select ng-if="field.field_type  === 'enum' && !field.is_multi_select" ng-model="attendee[field.name]" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
                <option ng-repeat="option in field.options" value="{{option}}">{{option}} </option>
              </select>
            </div>

          </div>
      </div>
      </div>
      <div class="table-content sessions" ng-if="sessionsForCurrentAttendee.items.length >0">
        <div class="table-content-head">
          <div class="item empty-space"></div>
          <div class="item registered-column">Registered</div>
          <div class="item attended-column">Attended</div>
        </div>
        <div class="table-content-item" ng-repeat="session in sessionsForCurrentAttendee.items | orderBy : '+session.starts_at' track by session.id">
          <div class="date">{{session.starts_at | date:'M/d':conference.time_zone}}</div>
          <div class="details">
            <div class="title">{{session.title}}</div>
            <div class="scanned-details" ng-if="session.was_scanned && session.scans[0]">Scanned - {{session.scans[0] | date : 'h:mm a':conference.time_zone}}</div>>
            <div class="scanned-details" ng-if="!session.was_scanned">Not scanned yet</div>
          </div>
          <div class="registered">
            <i class="fa fa-check" style="font-size: 18px; color: #26a7de;" ng-show="session.is_registered" ng-if="!editModeActive"></i>
            <div class="checkbox-ico" ng-class="{'active': session.is_registered}" ng-if="editModeActive" ng-click="toggleRegistrationForSession(session)"></div>
          </div>
          <div class="attended">
            <i class="fa fa-check" aria-hidden="true" ng-show="session.was_scanned" style="font-size: 18px; color: #f68c1c;" ng-if="!editModeActive"></i>
            <div class="checkbox-ico" ng-class="{'active': session.was_scanned}" ng-if="editModeActive" ng-click="toggleAttendeedStatusForSessions(session)"></div>
          </div>
        </div>
      </div>
      <div class="table-content sessions" ng-if="sessionsForCurrentAttendee.items.length <= 0" style="margin-top: 40px; height: 25px; background-color: inherit;">
          <div class="session-info-header-none">
              No sessions attended or registered to yet.
          </div>
      </div>

    </div>
  </div>
  <div class="buttons-wrapper edit-footer" ng-if="editModeActive">
    <div class="button" ng-click="editMode(false)">Cancel</div>
    <div class="right-part">
      <div class="button save" ng-click="updateAttendee(attendee, fieldsForView, sessionsForCurrentAttendee.items)">
        Update
      </div>
    </div>
  </div>
  <div class="loader visible" ng-class="{'visible':  !attendee || !activeTable}"></div>
</div>
