.modal-wrapper {
	width: 660px;
	min-height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

	border: solid 1px #cdcdcd;
	overflow: hidden;
}

.modal-wrapper.attendee-details {
	height: calc(100vh - 86px);
}

.modal-wrapper.attendee-details .attendee-details-overview {
	font-size: 0;
	position: relative;
	z-index: 1;
	background-color: white;
	box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.3);
	padding: 30px 0;

	opacity: 0;
}

.modal-wrapper.attendee-details .attendee-details-overview.active {

	opacity: 1;
}

.modal-wrapper.attendee-details .attendee-details-overview.invisible {
	display: none;
}

.modal-wrapper.attendee-details .attendee-details-overview .generic-actions-selector-wrapper {
	font-family: "AvenirNextLTPro-Demi";
}

.modal-wrapper.attendee-details .attendee-details-overview .generic-actions-selector-wrapper.actions {
 	margin-right:0;
}

.modal-wrapper.attendee-details .attendee-details-overview .generic-actions-selector-wrapper.disable{
	opacity: 0.5;
  cursor: not-allowed;
  transition: opacity .2s ease;
}

.modal-wrapper.attendee-details .attendee-details-overview .actions .generic-actions-selector-button {
 	width: 146px;
}

.modal-wrapper.attendee-details .attendee-details-overview .generic-actions-selector-wrapper.actions .action {
	height: 54px;
	line-height: 54px;
	text-align: left;
  padding: 0 20px;
}

.modal-wrapper.attendee-details .top-part {
	height: 130px;
	opacity: 0;
	visibility: hidden;

	transition: opacity .2s ease, visibility .2s ease;
}

.modal-wrapper.attendee-details .top-part.active {
	opacity: 1;
	visibility: visible;
}

.modal-wrapper.attendee-details .top-part.in-edit {
	height: calc(100% - 100px);
  transform: translateY(0);
  opacity: 1;
  background-color: transparent;
}
.modal-wrapper.attendee-details .top-part .title {
	width: calc(100% + 80px);
  margin-left: -40px;
  padding-left: 40px;
  color: #4a4a4a;
  font-size: 20px;
  font-family: 'AvenirNextLTPro-Demi';
  background-color: white;
  padding-top: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  height: 70px;
}

.modal-wrapper.attendee-details .attendee-details-overview .general-details {
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 170px - 40px);
		padding-left: 40px;
}

.modal-wrapper.attendee-details .attendee-details-overview .general-details.edit-mode {
		width: calc(100% - 40px);
}

.modal-wrapper.attendee-details .attendee-details-overview .general-details .profile-picture-container {
	width: 90px;
	height: 90px;

	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;

	background-color: #d8d8d8;
	margin-right: 26px;

	position: relative;
	background-size: 100%;
   background-position: center center;
}

.modal-wrapper.attendee-details .attendee-details-overview .general-details .profile-picture-container.upload {
	cursor: pointer;
}

.modal-wrapper.attendee-details .attendee-details-overview .general-details .profile-picture-container.upload .linked {
	margin-right: auto;
	font-size: 14px;
	font-family: "AvenirNextLTPro-Regular";
	color: #26a7de;
	text-align: center;
}

.modal-wrapper.attendee-details .attendee-details-overview .profile-picture-container .profile-name-initials-holder {
	font-size: 26px;
	line-height: 94px;

	color: #4a4a4a;
	text-align: center;
	font-family: "AvenirNextLTPro-Demi";

	text-transform: uppercase;
	width: 100%;
	height: 100%;
	background-size: contain;
	border-radius: 50%;
}

.modal-wrapper.attendee-details .attendee-details-overview .edit-button {
	display: inline-block;
	vertical-align: middle;

	height: 40px;
	max-width: 90px;
	padding-left: 32px;
	padding-right: 32px;
	margin-right: 40px;

	border: 1px solid #9b9b9b;
	border-radius: 20px;
	box-sizing: border-box;

	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	line-height: 40px;
	color: #4a4a4a;

	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
}

.modal-wrapper.attendee-details .attendee-details-overview .edit-button:hover {
	background-color: #4a4a4a;
	color: white;
}
.modal-wrapper.attendee-details .attendee-details-overview .informations-holder {
	display: inline-block;
	vertical-align: middle;

}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .text-field {
	font-family: "AvenirNextLTPro-Regular";
	color: #4a4a4a;
	font-size: 14px;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .text-field.name {
	font-size: 20px;
	font-family: "AvenirNextLTPro-Demi";
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .text-field.position {
	font-style: italic;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder.edit-mode {
	display: inline-block;
	width: calc(100% - 90px - 40px);
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee.half {
	width: 47%;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee.half:nth-child(2) {
	float: right;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee input,
.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee select {
	width: 100%;
	font-size: 14px;
	height: 30px;
	font-family: 'AvenirNextLTPro-Regular';
	padding: 5px;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee input.error,
.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee select.error {
	border: 1px solid red;
}

.modal-wrapper.attendee-details .attendee-details-overview .informations-holder .attendee select {
	border-radius: 0px;
	background-color: white;
	box-sizing: border-box;
}

.modal-wrapper.attendee-details .details-list-wrapper {
	width: 100%;
	padding-top: 18px;
	padding-bottom: 28px;
	height: calc(100% - 60px);
	position: relative;
	z-index: 0;
	padding: 10px 30px 40px 30px;
  overflow: hidden !important;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item {
	font-size: 0;
	line-height: 14px;
	margin-bottom: 26px;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item:last-child {
	margin-bottom: 0px;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .type {
	width: 30%;
	display: inline-block;
	vertical-align: middle;

	color: #4a4a4a;
	font-family: "AvenirNextLTPro-Demi";
	font-size: 14px;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .value {
	width: 70%;
	display: inline-block;
	vertical-align: middle;

	color: #4a4a4a;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .value .button {
		display: inline-block;
    height: 30px;
    width: 118px;
    border: 1px solid #CDCDCD;
    border-radius: 20px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #4A4A4A;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Demi";
		margin-left: 30px;
		cursor: pointer;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .value.underlined {
	color: #26A7DE;
	cursor: pointer;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .value.underlined:hover {
	text-decoration: underline;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .attendee-upload-image {
	width: 70%;
	height: 80px;
	display: inline-flex;
	vertical-align: middle;
	color: #4a4a4a;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	cursor: pointer;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .attendee-upload-image>div:first-child{
	width: 45px;
  height: 45px;
  margin: 10px 10px 0 0;
  border-radius:50%;
    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item .attendee-upload-image>div:last-child {
	padding:24px 0;
}

.modal-wrapper.attendee-details .table-view {
	width: calc(100% + 80px);
	margin-left: -40px;
	height: 95%;

	overflow: hidden;
	transform: translateY(calc(100% + 60px));
	opacity: 0;
	transition: opacity .2s ease, transform .2s ease;
	padding-bottom: 60px;
  box-sizing: unset;
}

.modal-wrapper.attendee-details .table-view.active {
	transform: translateY(0);
	opacity: 1;
}

.modal-wrapper.attendee-details .table-view .table-head {
	width: 100%;
	height: 50px;
	font-size: 0px;
	box-sizing: border-box;

	border-top: 1px solid #CDCDCD;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.modal-wrapper.attendee-details .table-view .table-head .table-head-item {
	width: 50%;
	display: inline-block;
	vertical-align: middle;

	line-height: 48px;
	text-align: center;
	font-family: "AvenirNextLTPro-Regular";
	font-size: 14px;
	color: #4a4a4a;

	box-sizing: border-box;
	border-bottom: 1px solid #CDCDCD;
	background-color: transparent;

	transition: background-color .2s cubic-bezier(0.4, 0.0, 0.2, 1), border-bottom .2s cubic-bezier(0.4, 0.0, 0.2, 1);

	cursor: pointer;
	background-color: #EFEEEE;
}

.modal-wrapper.attendee-details .table-view .table-head .table-head-item:hover {
	font-family: "AvenirNextLTPro-Demi";
}

.modal-wrapper.attendee-details .table-view .table-head .table-head-item:last-child {
	border-left: 1px solid #CDCDCD;
}

.modal-wrapper.attendee-details .table-view .table-head .table-head-item.active {
	background-color: #FAFAFA;
	border-bottom: 1px solid transparent;
	font-family: "AvenirNextLTPro-Demi";
	line-height: 49px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper {
	height: calc(100% - 50px);
	width: 200%;
	font-size: 0;

	transform: translateX(0);
	transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);

	position: relative;
	z-index: 0;
	background-color: #FAFAFA;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper.translated {
	transform: translateX(-50%);
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content {
	width: 50%;
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	padding-left: 40px;
	padding-right: 40px;

	box-sizing: border-box;
	height: calc(100% - 200px);
	overflow: hidden;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content .table-content-head {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cdcdcd;
	line-height: 40px;
	box-sizing: border-box;
	font-size: 0;
	padding: 0 30px 0 30px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content .table-content-head .item {
	font-family: "AvenirNextLTPro-Regular";
	color: #4a4a4a;
	font-size: 12px;

	display: inline-block;
	vertical-align: middle;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-head .item.date {
	width: 55%;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-head .item.amount {
	width: 45%;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item {
	font-size: 0;
	font-family: "AvenirNextLTPro-Regular";
	border-bottom: 1px solid #cdcdcd;
	color: #4a4a4a;

	height: 70px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item:before {
	content: '';
	height: 100%;
	width: 0px;

	display: inline-block;
	vertical-align: middle;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .details {
	width: 55%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 28px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .details .second-row {
	font-style: italic;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .amount {
	width: calc(45% - 95px);
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 28px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .amount .second-row {
	font-style: italic;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .refund-button {
	width: 95px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;

	color: #4a4a4a;
	font-family: "AvenirNextLTPro-Demi";
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;

	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;

	font-size: 12px;
	cursor:pointer;
}
.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .retry {
	width: 95px;
	height: 30px;
	display: inline-block;
}
.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.details .table-content-item .retry .refund-button {
	margin: 1px 0;
}
.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-head .item.empty-space {
	width: 70%;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-head .item.registered-column {
	width: 15%;
	text-align: center;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-head .item.attended-column {
	width: 15%;
	text-align: right;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item {
	width: 100%;
	height: 70px;
	display: block;
	font-size: 0;
	border-bottom: 1px solid #cdcdcd;
	padding: 0 30px 0 30px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item::before {
	content: '';
	height: 100%;
	width: 0px;

	display: inline-block;
	vertical-align: middle;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .date {
	width: 90px;
	height: 40px;

	display: inline-block;
	vertical-align: middle;

	border: 1px solid #9B9B9B;
	border-radius: 3px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 42px;
	box-sizing: border-box;

	font-size: 24px;
	color: #4a4a4a;

	font-family: "AvenirNextLTPro-Regular";
	margin-right: 30px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .details {
	width: calc(100% - 15% - 15% - 90px - 30px);
	display: inline-block;
	vertical-align: middle;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .details .title {
	font-size: 14px;
  font-family: "AvenirNextLTPro-Demi";
  color: #4a4a4a;

	margin-bottom: 4px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .details .scanned-details {
	font-size: 14px;
	font-family: "AvenirNextLTPro-Regular";
	color: #4a4a4a;

	font-style: italic;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions {
		padding :10px 30px;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .registered {
	width: 15%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .checkbox-ico {
	position: relative;
  left: 50%;
}

.modal-wrapper.attendee-details .table-view .tables-contents-wrapper .table-content.sessions .table-content-item .attended {
	width: 15%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding-left: 20px;
	box-sizing: border-box;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item input {
	width: 65%;
	font-size: 14px;
	height: 40px;
	font-family: 'AvenirNextLTPro-Regular';
	padding: 10px;
}


.modal-wrapper.attendee-details .details-list-wrapper .details-list-item input:read-only {
	opacity: 0.5;
	cursor: not-allowed;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item input.error {
	border: 1px solid #e91d26;
}

.modal-wrapper.attendee-details .details-list-wrapper.in-edit {
	height: 100%;
	overflow: hidden !important;
}

.modal-wrapper.attendee-details .edit-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px;
    border: none;
}

.modal-wrapper.attendee-details .edit-footer .button {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    color: #4a4a4a;
    font-size: 14px;
    font-family: 'AvenirNextLTPro-Regular';
    line-height: 40px;
    padding-left: 54px;
    padding-right: 54px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 150px;
    transition: color .2s ease, background-color .2s ease;
}

.modal-wrapper.attendee-details .buttons-wrapper .right-part {
    width: calc(100% - 156px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.modal-wrapper.attendee-details .buttons-wrapper .button.save {
    background-color: #68aa3b;
    border: 1px solid #68aa3b;
    color: white;
    font-family: 'AvenirNextLTPro-Bold';
    text-transform: uppercase;
    max-width: none;
}

.modal-wrapper.attendee-details .buttons-wrapper .button.save:hover {
    background-color: white;
    color: #68aa3b;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee {
	height: 60px;
	border-top: 1px solid #cdcdcd;
	transform: translateY(0);
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
	line-height: 60px;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee.active {
	transform: translateY(100px);
	opacity: 1;
	visibility: visible;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee .button {
	width: 160px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	color: #4a4a4a;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	text-transform: uppercase;
	border: 1px solid #4a4a4a;
	display: inline-block;
	cursor: pointer;

	transition: color .2s ease, background-color .2s ease;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee .button.save {
	float: right;
	position: relative;
	top: 50%;
	background-color: #68aa3b;
	color: white;
  transform: translateY(-50%);
	border: 1px solid #68aa3b;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee .button:hover {
	background-color: #4a4a4a;
	color: white;
}

.modal-wrapper.attendee-details .buttons-wrapper.edit-attendee .button.save:hover {
	background-color: white;
	color: #68aa3b;
}

.modal-wrapper.attendee-details .details-list-wrapper .details-list-item select {
	width: 65%;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item select option {
	height: 40px;
	border-bottom: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	padding: 10px;
	box-sizing: border-box;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item  .intl-tel-input{
 width: 65%;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item  .intl-tel-input input{
	width:100%;
	padding-left: 50px;
}
.modal-wrapper.attendee-details .details-list-wrapper .details-list-item  .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
input.ng-invalid-ng-intl-tel-input{
	border:1px solid red !important;
}
input.ng-invalid-phone-number{
	border:1px solid red !important;
}


.modal-wrapper.attendee-details .loader,
.modal-wrapper.attendee-details .loader {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.modal-wrapper.attendee-details .loader.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.modal-wrapper.attendee-details .loader::after, .modal-wrapper.attendee-details .loader::before,
.modal-wrapper.attendee-details .loader::after,
.modal-wrapper.attendee-details .loader::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}
.modal-wrapper.attendee-details .loader::before,
.modal-wrapper.attendee-details .loader::before {
  border-top-color: #28A4DA;
  border-bottom-color: #9DC731;
}
.modal-wrapper.attendee-details .loader::after,
.modal-wrapper.attendee-details .loader::after {
  border-left-color: #FFB92A;
  border-right-color: #ED492F;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
