.printer-status-for-rent {
  width: 100%;
  display: block;
  font-size: 0;
  background-color: #fafafa;
  padding-left: 23px;
  border-top: 1px solid #cdcdcd;
  height: 69px;
  box-sizing: border-box;
}

.printer-status-for-rent:hover {
  background-color: white;
}

.printer-status-for-rent > div {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  display: inline-block;
  text-align: left;
  line-height: 69px;
}

.printer-status-for-rent .printer-rental-number-container {
  font-family: "Avenir Next";
  font-weight: 600;
  width: 17%;
}

.printer-status-for-rent .printer-rental-number-container .fa-print {
  font-size: 18px;
  margin-right: 9px;
}

.printer-status-for-rent .printer-order-placed-container {
  width: 15.7%;
}

.printer-status-for-rent .printer-total-container {
  width: 14%;
}

.printer-status-for-rent .printer-status-container {
  width: 22%;
}

.printer-status-for-rent .printer-action-button-container {
  width: calc(100% - 17% - 15.7% - 14% - 22%);
  text-align: center;
}

.printer-action-button-container .printer-action-button {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
  color: #4a4a4a;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
