<div class="printer-status-for-rent">
  <div class="printer-rental-number-container">
    <i class="fa fa-print" aria-hidden="true"></i>
    123567675
  </div>
  <div class="printer-order-placed-container">{{order_placed_date | date : 'MMM d, yyyy'}}</div>
  <div class="printer-total-container">{{12342 | currency : '$' : 2}}</div>
  <div class="printer-status-container">fdss</div>
  <div class="printer-action-button-container">
    <div class="printer-action-button">TRACK</div>
  </div>
</div>
