<div class="delete-warning-screen long-running-modal">
	<div class="warning-screen-icon-container">
    <i class="fa fa-info" aria-hidden="true"></i>
  </div>
  <div class="warning-screen-text-container">
    {{messageToPrompt}}
  </div>
  <div class="warning-screen-buttons-container">
		<div class="warning-screen-button cancel-button" ng-click="closeThisDialog()">Close</div>
		<div class="warning-screen-button delete-button success-button" ng-click="callAction(modalData)">{{confirmButtonText}}</div>
  </div>
</div>
