<div class="attendee-fields-wrapper">
	<div class="half action">
		<div class="title">Add custom attendee fields</div>
		<div class="add-action-wrapper">
			<div class="field-configuration-wrapper">
					<input type="text" class="custom-attendee-field-input" style="margin-right: 4%" placeholder="Custom Field Name (unique)" ng-model="fieldName" ng-class="{'error': fieldNameError}"></input>
					<div class="custom-attendee-field-input" ng-class="{'active': visibleSelector}" ng-click="toggleTypeSelector()">
						<div class="selected-type">{{types[selectedType]}}</div>
						<div class="arrow-selector-wrapper">
							<i class="fa fa-sort" aria-hidden="true"></i>
						</div>
						<div class="types-wrapper">
							<div class="type" ng-click="selectType('text')">Text</div>
							<div class="type" ng-click="selectType('multipleChoice')">Multiple Choice</div>
							<div class="type" ng-click="selectType('singleChoice')">Single Choice</div>
						</div>
					</div>
					<div class="add-options-wrapper" ng-if="selectedType === 'multipleChoice' || selectedType === 'singleChoice'">
						<div ng-repeat="option in choiceOptions" style="margin-top: 22px;">
							<input  ng-model="option.value" class="custom-attendee-field-input" placeholder="Enter possible value for field (required)" ng-class="{'error': option.error}"></input>
							<i class="fa fa-minus-circle" ng-if="choiceOptions.length > 1" ng-click="removeOption($index)"></i>
							<i class="fa fa-plus-circle" ng-if="$last" ng-click="addAnotherOption(option)"></i>
						</div>
					</div>
			</div>
			<div class="save-wrapper">
				<div class="save-button" ng-click="saveCustomField(fieldName, choiceOptions, selectedType)">save field</div>
			</div>
		</div>
	</div>
	<div class="half list">
		<div class="semi-title">Saved Custom Fields</div>
		<div class="list-wrapper">
			<div class="list-item" ng-repeat="field in customAttendeeFields" ng-click="selectField(field)">
				<i class="fa fa-check"></i>
				<div class="name">{{field.name}}</div>
				<div class="icons-wrapper">
					<i class="fa fa-pencil-square-o"></i>
					<i class="fa fa-trash-o" ng-click="deleteField($event, field.id)"></i>
				</div>
			</div>
		</div>
	</div>
</div>
