.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper {
	height: calc(100vh - 34px - 34px - 54px - 71px - 200px);
	border-top: 1px solid #cdcdcd;
	background-color: #fafafa;
	font-size: 0;
	margin-left: -34px;
	width: calc(100% + 34px + 34px);
	padding-left: 34px;
	padding-right: 34px;
	overflow: hidden;
}
.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper .header {
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
	background-color: inherit;
	padding-top: 20px;
}

.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper .item {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	overflow: hidden;
	height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper .checkbox-ico {
	outline: none;
	margin-top: 6px;
}

.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper .list .list-item {
	margin-bottom: 10px;
}
.custom-modal-wrapper.add-exhibitor.promo-codes .promo-codes-list-wrapper .list {
	height: calc(100% - 48px);
	overflow: hidden;
	position: relative;
	z-index: 0;
}


.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper {
	margin-top: 0;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .button {
	position: relative;
	max-width: auto;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .button:hover .fa {
	color: white;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .button .fa {
	position: absolute;
	left: 24px;
	font-size: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: #26A7DE;
	transition: color .2s ease;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .right-part {
	float: right;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .right-part .button .fa {
	color: white;
}

.custom-modal-wrapper.add-exhibitor.promo-codes.codes-status .buttons-wrapper .right-part .button:hover .fa {
	color: #68aa3b;
}
