<div class="custom-modal-wrapper add-exhibitor promo-codes codes-status">
		<div class="title">{{promoCodes.length}} Exhibitor Promo Codes</div>
		<div class="promo-codes-list-wrapper">
			<div class="header">
				<div class="item">
					<div class="checkbox-ico" ng-click="checkAllPromoCodes()" ng-class="{'active': promoCodes.length === checkedPromoCodes.length}"></div>
				</div>
				<div class="item">Code</div>
				<div class="item">Amount</div>
				<div class="item">Redeemed by</div>
			</div>
			<div class="list">
				<div class="list-item" ng-repeat="code in promoCodes">
					<div class="item">
						<div class="checkbox-ico" ng-class="{'active': code.checked}" ng-click="checkCode(code)"></div>
					</div>
					<div class="item">{{code.code}}</div>
					<div class="item">${{code.value}}</div>
					<div class="item">{{code.exhibitor.name || "Not redeemed yet"}}</div>
				</div>
			</div>
		</div>
		<div class="buttons-wrapper">
			<div class="button" ng-click="downloadPromoCodes(checkedPromoCodes)">
				<i class="fa fa-file-o"></i>
				Download
			</div>
			<div class="right-part">
				<div class="button save" ng-click="printPromoCodes(checkedPromoCodes)">
					<i class="fa fa-print"></i>
					print
				</div>
			</div>
		</div>
</div>
