.custom-modal-wrapper.transaction-details {
	background-color: #fafafa;
	overflow: hidden;
	height: calc(70vh + 150px);
	padding: 0px;

	transform: translate(-50%, -50%);
}

.custom-modal-wrapper.transaction-details .header {
	height: 88px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	line-height: 88px;
	padding-left: 38px;
	padding-right: 38px;
	position: relative;
	background-color: white;

	opacity: 0;
	visibility: hidden;

	transition: opacity .2s ease, visibility .2s ease;

	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.custom-modal-wrapper.transaction-details .header.visible {
	opacity: 1;
	visibility: visible;
}

.custom-modal-wrapper.transaction-details .header .title {
	font-size: 20px;
	display: inline-block;
  margin-right: 210px;
}

.custom-modal-wrapper.transaction-details .header .generic-actions-selector-wrapper.actions {
 	margin-right:0;
}

.custom-modal-wrapper.transaction-details .header .generic-actions-selector-wrapper.disable{
	opacity: 0.5;
  cursor: not-allowed;
  transition: opacity .2s ease;
}

.custom-modal-wrapper.transaction-details .header .actions .generic-actions-selector-button {
 	width: 146px;
}

.custom-modal-wrapper.transaction-details .header .generic-actions-selector-wrapper.actions .action {
	height: 54px;
	line-height: 54px;
	text-align: left;
  padding: 0 20px;
}

.custom-modal-wrapper.transaction-details .content {
	padding-top: 15px;
	padding-left: 34px;
	padding-right: 34px;
	box-sizing: border-box;
	height: 60vh;
  overflow: hidden !important;
	opacity: 0;
	visibility: hidden;

	transition: opacity .2s ease, visibility .2s ease;
}

.custom-modal-wrapper.transaction-details .content.visible {
	opacity: 1;
	visibility: visible;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper {
	margin-bottom: 30px;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .title {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4A4A4A;
	margin-bottom: 26px;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details {
	font-size: 14px;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Regular';
	font-style: italic;
	margin-bottom: 6px;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details .attendee-link {
	color: #26A7DE;
	font-family: 'AvenirNextLTPro-Demi';
	font-style: normal;
	cursor: pointer;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;

	transition: border-bottom .2s ease;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details .attendee-link.guest {
	font-family: 'AvenirNextLTPro-Regular';
	font-style: italic;
}
.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details .attendee-link.guest::after {
	content: ", ";
	color: #4a4a4a;
}

.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details .attendee-link:last-child::after {
	content: "";
}


.custom-modal-wrapper.transaction-details .content .attendee-guests-wrapper .registrant-row-details .attendee-link:hover {
	border-bottom: 1px solid #26A7DE;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper {
	font-size: 0px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-bottom: 30px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper.contact {
	height: 40px;
	line-height: 40px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper.not-spaced {
	margin-bottom: 6px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper.normal-font {
	font-family: 'AvenirNextLTPro-Regular';
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper.total-wrapper {
	margin-top: 14px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .title {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	font-family: 'AvenirNextLTPro-Regular';
	padding-left: 10px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value span {
	float: right;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value.clickable {
	color: #26A7DE;
	font-family: 'AvenirNextLTPro-Demi';
	cursor: pointer;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value.clickable:hover {
	text-decoration: underline;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value.bolded-value {
	border-top: 1px solid #cdcdcd;
	padding-top: 20px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value.bolded-value span {
	font-family: 'AvenirNextLTPro-Demi';
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value input {
		height: 40px;
    width: 100%;
    line-height: 40px;
    font-family: 'AvenirNextLTPro-Regular';
    color: #4A4A4A;
    font-size: 14px;
    padding: 0 10px;
}

.custom-modal-wrapper.transaction-details .content .billing-wrapper.transaction-generic-spaced-wrapper .value.edit-contact {
		padding-left: 0px;
}

.custom-modal-wrapper.transaction-details .edit-footer {
	position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px;
	border: none;
}

.custom-modal-wrapper.transaction-details .loader,
.custom-modal-wrapper.transaction-details .loader {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.custom-modal-wrapper.transaction-details .loader.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.custom-modal-wrapper.transaction-details .loader::after, .custom-modal-wrapper.transaction-details .loader::before,
.custom-modal-wrapper.transaction-details .loader::after,
.custom-modal-wrapper.transaction-details .loader::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}
.custom-modal-wrapper.transaction-details .loader::before,
.custom-modal-wrapper.transaction-details .loader::before {
  border-top-color: #28A4DA;
  border-bottom-color: #9DC731;
}
.custom-modal-wrapper.transaction-details .loader::after,
.custom-modal-wrapper.transaction-details .loader::after {
  border-left-color: #FFB92A;
  border-right-color: #ED492F;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
