<div class="custom-modal-wrapper transaction-details add-exhibitor">
	<div class="header"  ng-class="{'visible' : transaction}">
		<div class="title">
			Transaction {{transaction.id}}
		</div>
		<div class="generic-actions-selector-wrapper actions visible" ng-class="{'disable':isEditable}">
			<div class="generic-actions-selector-button" ng-click="toggleActionsList($event, listIsOpened)" click-outside='hideDropdown()'>
				ACTIONS
				<div class="dropdown-arrow"></div>
			</div>
			<div class="generic-actions-selector" ng-class="{'visible': listIsOpened}">
				<div class="action" ng-click="editMode(true)">Edit</div>
				<div class="action" ng-click="openReceiptUrl(transaction.receipt_url)" ng-class="{'disable':!transaction.receipt_url}">View Receipt</div>
				<div class="action" ng-click="resendReceipt()" ng-class="{'disable':!transaction.billing_contact || !transaction.receipt_url}">Resend Receipt</div>
				<div class="action" ng-click="openRefundModal($event, transaction.registrants[0], transaction)" ng-class="{'disable':transaction.total <= 0}">Refund</div>
			</div>
		</div>

	</div>
	<div class="content"  ng-class="{'visible' : transaction}">
		<div class="attendee-guests-wrapper">
			<div class="title">Registered Attendees and Guests:</div>
			<div class="registrant-row-details" ng-repeat="registrant in transaction.registrants">
				<span ng-class="{'attendee-link': registrant.is_active}" ng-click="openAttendee(registrant.id, registrant.is_active)">{{registrant.first_name}}  {{registrant.last_name}}</span>
				<span class="separator">
					<ng-pluralize count="registrant.guests.length"
                 when="{'0': ' - No guests',
                     'one': ' - Guest: ',
                     'other': '- Guests: '}">
									 </ng-pluralize>
				</span>
				<span class="guest" ng-class="{'attendee-link': guest.is_active}" ng-repeat="guest in registrant.guests" ng-click="openAttendee(guest.id, guest.is_active)">{{guest.first_name}} {{guest.last_name}}</span>
			</div>
		</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper contact">
			<div class="title">Billing Contact:</div>
			<a href="mailto:{{transaction.billing_contact}}" class="value clickable" ng-if="!isEditable">{{transaction.billing_contact}}</a>
			<div class="value" ng-if="isEditable" ng-class="{'edit-contact':isEditable}"><input type="text" ng-model="transaction.billing_contact"/></div>
		</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper">
			<div class="title">Transaction Amount:</div>
			<div class="value">
				{{transaction.createdAtFormatted}} <span>{{transaction.amount | currency : "$" : 2}}</span>
			</div>
		</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper not-spaced">
			<div class="title">Subsequent Transactions:</div>
		</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper not-spaced normal-font" ng-if="transaction.refunds.length > 0" ng-repeat="refund in transaction.refunds">
			<div class="title normal-font">Refund</div>
			<div class="value">
				{{refund.formattedTransferDate}} <span>({{refund.amount | currency : "$" : 2}})</span>
			</div>
		</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper not-spaced normal-font">
			<div class="title normal-font">Payout Date</div>
			<div class="value">
				{{transaction.formattedTransferDate}}
			</div>
		<div class="billing-wrapper transaction-generic-spaced-wrapper total-wrapper">
			<div class="title"></div>
			<div class="value bolded-value">
				TOTAL <span>{{transaction.total | currency : "$" : 2}}</span>
			</div>
		</div>
		</div>
	</div>
	<div class="buttons-wrapper edit-footer" ng-if="isEditable">
		<div class="button" ng-click="editMode(false)">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="saveBillingEmail()">
				Update
      </div>
		</div>
	</div>
	<div class="loader visible" ng-class="{'visible':  !transaction}"></div>
</div>
