<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div>Are you sure that you want to delete<br/>this event? This will permanently remove it!<br/></div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="confirmDeleteConference(); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>
