<div class="create-registration-form-header" ng-show="$state.current.name != 'conferences.dashboard.registration.review'">
	<div class="create-registration-form" ng-show="inEdit == false">
		<p>Create Registration Form</p>
		<div class="steps-for-registration">
			<div>
				<div ng-class="$state.current.name == 'conferences.dashboard.registration.fields' ? 'registration-step-active': ''">1</div>
				<p>Attendee Fields Entry</p>
			</div>
			<div>
				<div ng-class="$state.current.name == 'conferences.dashboard.registration.levels' ? 'registration-step-active': ''">2</div>
				<p>Registration Levels Setup</p>
			</div>
			<div>
				<div ng-class="$state.current.name == 'conferences.dashboard.registration.level-options' ? 'registration-step-active': ''">3</div>
				<p>Registration Level Options</p>
			</div>
			<div>
				<div ng-class="$state.current.name == 'conferences.dashboard.registration.legal' ? 'registration-step-active': ''">4</div>
				<p>Legal</p>
			</div>
			<div>
				<div ng-class="$state.current.name == 'conferences.dashboard.registration.review' ? 'registration-step-active': ''">5</div>
				<p>Review</p>
			</div>
		</div>
	</div>

	<div class="form-overview create-registration-form" ng-show="inEdit == true">
		<div class="cursor" ui-sref="conferences.dashboard.registration.review">
			<i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; bottom: 2px;"></i>
			<p>{{isFormCompleted ? 'Form Overview' : 'Review'}}</p>
		</div>
		<p ng-if="$state.current.name == 'conferences.dashboard.registration.fields'">Edit Attendee Fields Entry</p>
		<p ng-if="$state.current.name == 'conferences.dashboard.registration.levels'">Edit Registration Levels Setup</p>
		<p ng-if="$state.current.name == 'conferences.dashboard.registration.level-options'">Edit Registration Level Options</p>
		<p ng-if="$state.current.name == 'conferences.dashboard.registration.legal'">Edit Legal</p>
	</div>

</div>
