.steps-for-registration {
  width: calc(100vw - 200px);
}

.steps-for-registration > div {
  width: 20%;
}

.create-registration-form-header {
  height: 130px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
}

.steps-for-registration > div > div {
  min-width: 25px;
  min-height: 25px;
}

.steps-for-registration > div {
  margin-right: 0 !important;
  width: 20%;
}
