<div class="registration-form-ifrm-content iframe-background-color intermediary-step">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="intermediary-step-header">
        <p>Your registration has been submitted.</p>
    </div>
    <div class="intermediary-step-content">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <p class="intermediary-step-email-confirmation selectable-text">A confirmation email has been sent to {{registeredAttendeeEmail}}</p>
        <p class="selectable-text">You can now pre-register for your desired sessions. Simply select from an available list of<br/>
            sessions per day. If you do not wish to pre-register now, you can always return by clicking the<br/>
            link in your confirmation email.
            <br class="intermediary-step-question-mobile selectable-text"/><br class="intermediary-step-question-mobile selectable-text"/> Do you wish to pre-register for sessions now?
        </p>
    </div>
    <div class="intermediary-step-buttons">
        <div class="cursor" ng-click="goToPreRegisterStep1()">YES, PRE-REGISTER NOW</div>
        <div class="cursor no-thanks-button" ng-click="skipPreRegister()">No Thanks</div>
        <p class="cursor register-another-button" ng-if="verifyIfExistsItemsForDuplication()" ng-click="registerAnother()">REGISTER ANOTHER</p>
    </div>
</div>
