<div style="position: fixed; top: 30%; left: 50%;" ng-if="loadingRegistration">
    <div class="loading-verification" style="width: 40px; margin: 0 auto;">
        <img src="assets/images/rolling.gif" style="margin-top:120px">
    </div>
</div>