<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="registrationLoader || blurred ? 'form_inactive':''">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Pre-Register</span>
            - Step 1
        </p>
    </div>
    <div class="add-on-iframe">
        <div class="add-on-iframe-header" id="pre_register_sessions_slider_container" >
            <p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">Pre-Register for Sessions below:</p>
            <div class="add-on-days-list flex-row">
                <i class="fa fa-arrow-left" aria-hidden="true" ng-click="scrollPreRegistersRight()" ng-if="right_arrow" style="z-index: 9999999;"></i>
                <div class="flex-row step2-choose-level-panel" id="pre_register_sessions_slider" style="align-items: center; max-height: 132px; min-height: 101px;" onscroll="scrollAddsOn()">
                    <div class="flex-row"
                         style="padding-left: 130px; padding-right: 130px;">
                        <div class="add-on-day flex-column" style="z-index: 99;"
                             ng-repeat="day in preRegisterCollection track by $index"
                             ng-click="selectPreRegisterDay(day, $index)"
                             ng-class="(indexForPreRegisterSelectedDay == $index && ($index <= leftGrayedOut || $index >= rightGrayedOut)
							  ? ['add-on-sessions-checked-day', 'grayed-out-tab'] :
							  (indexForPreRegisterSelectedDay == $index && !($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'add-on-sessions-checked-day' :
							  ($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'grayed-out-tab' : ''))">
                            <p class="pre-register-sessions-day-font-size pre-register-sessions-day-font-family">{{displayPreRegisterSessionDay(day)}}</p>
                            <p class="pre-register-sessions-day-font-size pre-register-sessions-day-font-family">{{displayPreRegisterSessionDate(day)}}</p>
                            <i class="fa fa-check-circle" aria-hidden="true" ng-if="daysAreSelected[$index]"></i>
                            <div class="down-arrow-for-selection" ng-if="indexForPreRegisterSelectedDay == $index"></div>
                        </div>
                    </div>
                </div>
                <i class="fa fa-arrow-right" aria-hidden="true" ng-click="scrollPreRegistersLeft()" ng-if="left_arrow" style="z-index: 9999999;"></i>
            </div>
        </div>

        <!--mobile design-->
        <div class="add-on-days-list-mobile">
            <div class="add-on-day-tab" ng-repeat="day in preRegisterCollection track by $index" ng-click="selectPreRegisterDay(day, $index)"
                 ng-class="indexForPreRegisterSelectedDay === $index ? 'add-on-day-tab-active' : ''">
                <div class="add-on-day-tab-details-container">
                    <i class="fa fa-caret-right" aria-hidden="true" ng-if="indexForPreRegisterSelectedDay !== $index"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" ng-if="indexForPreRegisterSelectedDay === $index"></i>
                    <p>
                        {{displayPreRegisterSessionDay(day) + ' ' + displayPreRegisterSessionDate(day)}}
                    </p>
                    <i class="fa fa-check-circle" aria-hidden="true" ng-if="daysAreSelected[$index]"></i>
                </div>
                <div class="hours-list-container-mobile" ng-if="indexForPreRegisterSelectedDay === $index">
                    <div class="hours-list-mobile" ng-repeat="hour in preRegisterSelectedDay track by $index">
                        <div style="padding-right: 19.6px; padding-left: 27px;">
                            <p>{{hour[0].starts_at | date : 'h:mm a' : conference_time_zone}}</p>
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </div>
                        <div class="add-on-session-for-iframe flex-row add-on-sessions-unchecked-background-color"
                             style="padding-right: 19.6px; padding-left: 27px;"
                             ng-repeat="pre_register in hour | orderBy:'starts_at' track by pre_register.id"
                             ng-click="selectPreRegisterSession(pre_register, hour)"
                             ng-class="pre_register.checked ? 'add-on-sessions-checked-background-color' : ''">
                            <div class="flex-row">
                                <div class="add-on-check-circle" ng-class="pre_register.checked ? ['add-on-checked-circle', 'check-mark-color'] : ''">
                                    <img ng-if="pre_register.checked" src="/assets/images/checked-ico.png">
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="selectable-text add-on-sessions-title-font-family add-on-sessions-title-font-size ellipsis" style="max-width: 25em; width: auto;"
                                       ng-click="openPreRegisterSessionProfile(pre_register, hour); $event.stopPropagation();">{{pre_register.title}}</p>
                                </div>
                                <div>
                                    <p class="selectable-text add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family">
                                        {{pre_register.starts_at | date : "h:mm a" : conference_time_zone}} - {{pre_register.ends_at | date : "h:mm a" : conference_time_zone}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--mobile design end-->

        <div class="add-on-available-sessions-container">
            <div class="adds-on-per-hour flex-column" ng-repeat="hour in preRegisterSelectedDay track by $index">
                <div class="add-on-hour" style="min-height: 44px;">
                    <p class="add-on-sessions-hours-font-size add-on-sessions-hours-font-family
                        add-on-sessions-hours-background-color">
                        {{hour[0].starts_at | date : 'h:mm a' : conference_time_zone}}
                    </p>
                </div>
                <div class="add-on-session-for-iframe flex-row add-on-sessions-unchecked-background-color"
                     ng-repeat="pre_register in hour | orderBy:'starts_at' track by pre_register.id"
                     ng-click="selectPreRegisterSession(pre_register, hour)"
                     ng-class="pre_register.checked ? 'add-on-sessions-checked-background-color' : ''">
                    <div class="flex-row">
                        <div class="add-on-check-circle" ng-class="pre_register.checked ? ['add-on-checked-circle', 'check-mark-color'] : ''">
                            <img ng-if="pre_register.checked" src="/assets/images/checked-ico.png">
                        </div>
                        <p class="selectable-text add-on-sessions-title-font-family add-on-sessions-title-font-size ellipsis" style="max-width: 25em; width: auto;"
                           ng-click="openPreRegisterSessionProfile(pre_register, hour); $event.stopPropagation();">{{pre_register.title}}</p>
                    </div>
                    <p class="selectable-text add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family">
                        {{pre_register.starts_at | date : "h:mm a" : conference_time_zone}} - {{pre_register.ends_at | date : "h:mm a" : conference_time_zone}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="cursor iframe-next-button-color" ng-click="goToPreRegisterStep2()">NEXT</div>
    </div>
</div>
