<div class="registration-form-ifrm-content iframe-background-color">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Pre-Register</span>
            {{'- Step' + stepCounter}}
        </p>
    </div>
    <div class="continuing-education-for-iframe">
        <p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">Select the Continuing Education Options that Apply to You</p>
        <div>
            <div ng-repeat="ce in continuingEducations" class="continuing-educations-unchecked-background-color" ng-click="selectRegisterContinuingEducation(ce)"
                 ng-class="ce.checked ? 'continuing-educations-checked-background-color' : ''">
                <div class="ce-check-circle" ng-class="ce.checked ? 'add-on-checked-circle' : ''">
                    <img style="position: relative; left: 4px; top: 1px;" ng-if="ce.checked"
                         src="/assets/images/checked-ico.png">
                </div>
                <p class="selectable-text continuing-educations-title-font-family continuing-educations-title-font-size">{{ce.name}}</p>
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()"
             ng-show="stepCounter === 2">PREVIOUS</div>
        <div class="cursor iframe-next-button-color iframe-next-button" ng-click="goToLastStepRegister()">NEXT</div>
    </div>
</div>
