<div class="session-profile-for-iframe">
    <img src="/assets/images/popup-x-btn.png" ng-click="closeThisDialog();">
    <div class="flex-column">
        <div class="session-profile-iframe-header flex-column">
            <p class="selectable-text session-popup-preview-title-font-family session-popup-preview-title-font-size">{{ngDialogData.preRegisterSessionProfile.session.title}}</p>
            <p class="selectable-text session-popup-preview-subtitle-font-size session-popup-preview-subtitle-font-family">
                {{ngDialogData.preRegisterSessionProfile.session.starts_at | date : 'EEEE, M/d; h:mm' :  ngDialogData.preRegisterSessionProfile.conference_time_zone}} -
                {{ngDialogData.preRegisterSessionProfile.session.ends_at | date : 'h:mm a' : ngDialogData.preRegisterSessionProfile.conference_time_zone}}
            </p>
            <p class="selectable-text session-popup-preview-subtitle-font-size session-popup-preview-subtitle-font-family">
                {{ngDialogData.preRegisterSessionProfile.session_price | currency : '$'}}
            </p>
        </div>
        <p class="selectable-text session-popup-preview-details-font-size session-popup-preview-details-font-family" ng-if="ngDialogData.preRegisterSessionProfile.session.description != null"
           style="word-wrap: break-word;">
            {{ngDialogData.preRegisterSessionProfile.session.description}}
        </p>
        <p class="selectable-text session-popup-preview-details-font-size session-popup-preview-details-font-family"
           ng-repeat="ce in ngDialogData.preRegisterSessionProfile.session.sessioncontinuingeducation_set">Continuing Education: {{ce.continuing_education.name}}</p>
    </div>
    <div class="session-profile-iframe-speaker" ng-if="ngDialogData.preRegisterSessionProfile.session.sessionspeaker_set.length > 0">
        <p ng-if="(ngDialogData.preRegisterSessionProfile.session.sessionspeaker_set.length <= 1)">
            Speaker
        </p>
        <p ng-if="(ngDialogData.preRegisterSessionProfile.session.sessionspeaker_set.length > 1)">
            Speakers
        </p>
        <div ng-repeat="speaker in ngDialogData.preRegisterSessionProfile.session.sessionspeaker_set" style="margin-bottom: 20px;">
            <div class="flex-row">
                <div class="session-profile-speaker-image">
                    <useravatar image="speaker.speaker.headshot_url"
                                firstname="speaker.speaker.first_name"
                                lastname="speaker.speaker.last_name"
                                size="60px"
                                fontsize="20px">
                    </useravatar>
                </div>
                <div class="flex-column session-profile-speaker-details">
                    <p class="selectable-text">{{speaker.speaker.first_name + ' ' + speaker.speaker.last_name}}</p>
                    <p class="selectable-text">{{speaker.speaker.job_title}}{{(speaker.speaker.job_title == null || speaker.speaker.company == null) ? '' : ', '}}
                        {{speaker.speaker.company ==null ? ' ' : speaker.speaker.company}}</p>
                    <div class="flex-row">
                        <a href="{{ngDialogData.preRegisterSessionProfile.sanitizeSpeakerUrl(speaker.speaker.linkedin_url)}}" target="_blank" ng-if="speaker.speaker.linkedin_url != null">
                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: #4a4a4a; font-size: 16px;
                            margin-right: 20px;"></i>
                        </a>
                        <a href="{{ngDialogData.preRegisterSessionProfile.sanitizeSpeakerUrl(speaker.speaker.facebook_url)}}" target="_blank" ng-if="speaker.speaker.facebook_url != null">
                            <i class="fa fa-facebook" aria-hidden="true" style="color: #4a4a4a; font-size: 16px;
                            margin-right: 20px;"></i>
                        </a>
                        <a href="{{ngDialogData.preRegisterSessionProfile.sanitizeSpeakerUrl(speaker.speaker.twitter_url)}}" target="_blank" ng-if="speaker.speaker.twitter_url != null">
                            <i class="fa fa-twitter" aria-hidden="true" style="color: #4a4a4a; font-size: 16px;
                            margin-right: 20px;"></i>
                        </a>
                        <a href="{{ngDialogData.preRegisterSessionProfile.sanitizeSpeakerUrl(speaker.speaker.youtube_url)}}" target="_blank" ng-if="speaker.speaker.youtube_url != null">
                            <i class="fa fa-youtube-play" aria-hidden="true" style="color: #4a4a4a; font-size: 16px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="selectable-text" ng-if="speaker.speaker.biography != null">{{speaker.speaker.biography}}</p>
        </div>
    </div>
    <div>
        <div class="session-popup-preview-select-button-color" ng-if="!ngDialogData.preRegisterSessionProfile.session.checked"
             ng-click="$emit('SELECT_PRE_REGISTER_SESSION', {'pre_register': ngDialogData.preRegisterSessionProfile.session, 'hour': ngDialogData.preRegisterSessionProfile.hour}); closeThisDialog();">SELECT</div>
        <div class="session-popup-preview-select-button-color" ng-if="ngDialogData.preRegisterSessionProfile.session.checked"
             ng-click="$emit('SELECT_PRE_REGISTER_SESSION', {'pre_register': ngDialogData.preRegisterSessionProfile.session, 'hour': ngDialogData.preRegisterSessionProfile.hour}); closeThisDialog();">UNSELECT</div>
    </div>
</div>