<div class="registration-form-ifrm-content iframe-background-color">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Registration</span>
        </p>
    </div>
    <div class="continuing-education-for-iframe">
        <p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">
            Select the sections in which you wish to duplicate from your </br> previous registration:
        </p>
        <div>
            <div ng-repeat="item in itemsToDuplicate track by $index" class="continuing-educations-unchecked-background-color" ng-click="item.checked = !item.checked;"
                 ng-class="item.checked ? 'continuing-educations-checked-background-color' : ''">
                <div class="ce-check-circle" ng-class="item.checked ? 'item-checked-circle' : ''">
                    <img style="position: relative; left: 4px; top: 1px;" ng-if="item.checked"
                         src="/assets/images/checked-ico.png">
                </div>
                <p class="selectable-text continuing-educations-title-font-family continuing-educations-title-font-size">{{item.label}}</p>
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="cursor iframe-next-button-color iframe-next-button" ng-click="saveDuplicatedSections()">NEXT</div>
    </div>
</div>
