<div class="registration-form-ifrm-content iframe-background-color" ng-class="registrationLoader ? 'form_inactive':''">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="registration-iframe-complete-header registration-form-top">
        <p>Your registration is complete!</p>
    </div>
    <!-- mobile design -->
    <div class="registration-iframe-complete-email-confirmation">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <p class="selectable-text">Your receipt has been sent to</br>{{registeredAttendee.email_address}}</p>
    </div>
    <!-- mobile design end -->
    <div class="registration-iframe-complete">
        <div class="registration-complete-conference-details">
            <img ng-src="{{conference.logo}}">
            <p class="selectable-text">{{conference.name}}</p>
            <p class="selectable-text">{{conference.date_from | date : 'M/d/yyyy': conference.time_zone}} - {{conference.date_to | date : 'M/d/yyyy': conference.time_zone}}</p>
            <p class="selectable-text">{{conference.venue}}</p>
            <p class="selectable-text">{{conference.street + ', ' + conference.city + ', ' + conference.state + ' ' + conference.zip_code}}</p>
            <p class="selectable-text">{{conference.website}}</p>
            <p class="selectable-text">{{conference.code}}</p>
        </div>
        <div class="registration-complete-id-details">
            <p class="selectable-text">Your Confirmation ID #{{attendee_registered_id}}</p>
            <qr
               size="125"
               text="getUserQrCode()">
            </qr>
        </div>
        <div class="registration-complete-register-details">
            <div>
                <p class="selectable-text">{{registeredAttendee.first_name + ' ' + registeredAttendee.last_name}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.company_name">{{registeredAttendee.company_name}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.street_address">{{registeredAttendee.street_address}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.city || registeredAttendee.state || registeredAttendee.zip_code">
                    {{registeredAttendee.city + ', ' + registeredAttendee.state + ' ' + registeredAttendee.zip_code}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.country">{{registeredAttendee.country}}</p>
                <p class="selectable-text">{{registeredAttendee.email_address}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.phone_number">{{registeredAttendee.phone_number}}</p>
                <p class="selectable-text" ng-repeat="custom_field_item in custom_fields">{{custom_field_item.name + ': ' + custom_field_item.value}}</p>
            </div>
            <div ng-hide="!registeredAttendee.street_address && !(registeredAttendee.city || registeredAttendee.state || registeredAttendee.zip_code)
             && !registeredAttendee.phone_number && !registeredAttendee.country">
                <p class="selectable-text">Billing Address</p>
                <p class="selectable-text" ng-if="registeredAttendee.street_address">{{registeredAttendee.street_address}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.city || registeredAttendee.state || registeredAttendee.zip_code">
                    {{registeredAttendee.city + ', ' + registeredAttendee.state + ' ' + registeredAttendee.zip_code}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.country">{{registeredAttendee.country}}</p>
                <p class="selectable-text" ng-if="registeredAttendee.phone_number">{{registeredAttendee.phone_number}}</p>
            </div>
        </div>
        <div class="registration-complete-guest-details">
          <div style="margin-bottom: 6px; font-family: 'AvenirNextLTPro-Demi';">
            Guests
          </div>
          <div ng-repeat="guest in registeredAttendee.attendee_guest_set">
            <p style="display: inline-block; vertical-align: middle">{{guest.first_name + ' ' + guest.last_name + ' - ' + guest.email_address}}</p>
  					<p style="float: right;">${{selectedLevel.guest_fee}}.00</p>
          </div>
        </div>
        <div class="registration-complete-level-details">
            <div>
                <p class="selectable-text">{{selectedLevel.name + ' Level'}}</p>
                <p class="selectable-text">{{levelPrice | currency : '$'}}</p>
            </div>
            <div>
                <p class="selectable-text" ng-if="adds_on_selected.length > 0">Add-On Sessions</p>
                <div ng-repeat="add_on in adds_on_selected">
                    <p class="selectable-text">{{add_on.session.title}}</p>
                    <p class="selectable-text">{{add_on.registrationleveladdonsessionpricing_set[0].price | currency : '$'}}</p>
                </div>
            </div>
            <div>
                <div>
                    <p class="selectable-text">Subtotal:</p>
                    <p class="selectable-text">{{totalPrice | currency : '$'}}</p>
                </div>
                <div>
                    <p class="selectable-text">Discount:</p>
                    <p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'usd'">({{promoCode.value | currency : '$'}})</p>
                    <p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'pct'">(%{{promoCode.value}})</p>
                </div>
                <div>
                    <p class="selectable-text">Total:</p>
                    <p class="selectable-text">{{totalPriceWithDiscount | currency : '$'}}</p>
                </div>
            </div>
            <div>
                <p class="selectable-text">{{selectedLevel.description}}</p>
            </div>
        </div>
    </div>
    <div class="validation-errors-container" ng-if="validationErrors.length > 0">
        <div ng-repeat="validationError in validationErrors"
             class="registration-fields-text-font-family registration-fields-text-font-size selectable-text"
             style="margin-left:90px; margin-bottom:10px; color: red">
            {{validationError}}
        </div>
    </div>
    <div class="flex-row registration-form-bottom-edit">
        <div class="cursor" ng-click="printReceipt()">PRINT</div>
        <div class="cursor download-registration-ticket-button" ng-click="downloadReceipt()">DOWNLOAD</div>
        <p ng-if="verifyIfExistsItemsForDuplication()" ng-click="registrationFormComplete(true)">REGISTER ANOTHER</p>
        <div class="cursor" ng-click="registrationFormComplete()">DONE</div>
    </div>
    <div style="position: fixed; top: 30%; left: 50%;"
         ng-if="registrationLoader">
        <div class="loading-verification" style="width: 40px; margin: 0 auto;">
            <img src="assets/images/rolling.gif" style="margin-top:120px">
        </div>
    </div>
</div>

<!-- <script type="text/javascript">
    var pass_data = {
        'func':'analytics',
        'tracking_code':'UA-89935824-1'
    };
    parent.postMessage(JSON.stringify(pass_data), "*");
</script> -->
