<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="registrationLoader || blurred ? 'form_inactive':''">
	<div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
	<div class="flex-row registration-form-top">
		<p>
			<span>Registration</span>
			 - Review Step
		</p>
	</div>

	<!-- web structure -->
	<p class="review-step-instructions">Almost finished. To complete your registration please check the checkbox below and click submit.</p>
	<div class="review-step-for-iframe">
		<p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">Review Details</p>
		<div class="review-details-for-iframe">
			<div class="registrant-details-for-iframe">
				<p class="selectable-text">{{registeredAttendee.first_name + ' ' + registeredAttendee.last_name}} <span ng-click="editThisStep('step1')">[ Edit ]</span></p>
				<p class="selectable-text" ng-if="registeredAttendee.company_name">{{registeredAttendee.company_name}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.street_address">{{registeredAttendee.street_address}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.city || registeredAttendee.state || registeredAttendee.zip_code">
					{{registeredAttendee.city + ', ' + registeredAttendee.state + ' ' + registeredAttendee.zip_code}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.country">{{registeredAttendee.country}}</p>
				<p class="selectable-text">{{registeredAttendee.email_address}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.phone_number">{{registeredAttendee.phone_number}}</p>
				<p class="selectable-text" ng-repeat="custom_field_item in custom_fields">{{custom_field_item.name + ': ' + custom_field_item.value}}</p>
			</div>
			<div class="conference-details-for-iframe">
				<p class="selectable-text">{{conference.name}}</p>
				<p class="selectable-text">{{conference.date_from | date : 'M/d/yyyy' : conference.time_zone}} - {{conference.date_to | date : 'M/d/yyyy' : conference.time_zone}}</p>
				<p class="selectable-text">{{conference.venue}}</p>
				<p class="selectable-text">{{conference.street}}</p>
				<p class="selectable-text">{{conference.city + ', ' + conference.state + ' ' + conference.zip_code}}</p>
				<p class="selectable-text">{{conference.country}}</p>
				<p class="selectable-text">{{conference.website}}</p>
				<p class="selectable-text">{{conference.code}}</p>
			</div>
			<div class="guests-details-for-iframe" style="margin-top: 28px; width: 100%;" ng-if="selectedLevel.nr_attendee_guests > 0">
				<p>Guests <span ng-click="editThisStep('step_guests')">[ Edit ]</span></p>
				<div ng-repeat="guest in attendeeGuestList track by $index" style="width: 100%">
					<p style="display: inline-block; vertical-align: middle">{{guest.first_name + ' ' + guest.last_name + ' - ' + guest.email_address}}</p>
					<p style="float: right;">${{selectedLevel.guest_fee}}.00</p>
				</div>

			</div>
		</div>
		<div class="review-level-details-for-iframe">
			<div class="registered-level">
				<p class="selectable-text">{{selectedLevel.name}} <span ng-click="editThisStep('step2')">[ Edit ]</span></p>
				<p class="selectable-text">{{levelPrice | currency : '$'}}</p>
			</div>
			<div class="registered-adds-on" ng-if="register_add_on_sessions.length > 0">
				<p class="selectable-text">Add-On Sessions <span ng-click="editThisStep('step3')">[ Edit ]</span></p>
				<div ng-repeat="add_on in register_add_on_sessions track by $index">
					<p class="selectable-text">{{add_on.session.title}}</p>
					<p class="selectable-text">{{add_on.registrationleveladdonsessionpricing_set[0].price | currency : '$'}}</p>
				</div>
			</div>
			<div class="prices-for-registration">
				<div class="promo-codes-panel">
					<div ng-if="totalPrice != 0">
						<p class="selectable-text">Promo Code</p>
						<input class="promo-code-input" type="text" ng-model="promoCodeModel" ng-blur="processPromoCode(promoCodeModel)"
							   ng-class="promoCodeModel != '' ? 'promo-code-input-filled' : ''"/>
						<div class="promo-code-apply-button cursor" ng-click="applyDiscount()" ng-readonly="promoCode == null">APPLY</div>
						<img src="assets/images/rolling.gif" ng-if="promoCodeLoading">
					</div>
					<p class="promo-code-applied" ng-if="discountApplied">Discount applied</p>
					<p class="selectable-text" style="margin-right: auto; margin-top: 10px; color: red;" ng-if="promoCode == null">{{promoCodeResult}}</p>
				</div>
				<div class="prices-for-registration-calculated">
					<div>
						<p class="selectable-text">Subtotal:</p>
						<p class="selectable-text">{{subtotalPriceForThisRegister | currency : '$'}}</p>
					</div>
					<div>
						<p class="selectable-text">Discount:</p>
						<p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'usd'">({{promoCodeResult | currency : '$'}})</p>
						<p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'pct'">(%{{promoCodeResult}})</p>
					</div>
					<div>
						<p class="selectable-text">Total:</p>
						<p class="selectable-text">{{temporaryTotalPrice | currency : '$'}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="review-legal-agreements-details-for-iframe">
			<div class="unchecked-legal-agreements cursor" ng-click="variables.conditions_agreed = !variables.conditions_agreed;"
				ng-class="variables.conditions_agreed ? 'conditions-agreed' : ''">
				<img src="/assets/images/checked-ico.png" ng-if="variables.conditions_agreed">
			</div>
			<p class="cursor selectable-text">
				I agree to the <span class="cursor selectable-text" ng-click="openTermsAndConditionsPopup();">Terms and Conditions</span> and <span class="cursor selectable-text" ng-click="openRefundPolicyPopup();">Refund Policy</span> <span ng-if="totalPrice != 0" style="color: #4a4a4a !important;">, and I authorize</br> payment to be billed to my credit card.</span>
			</p>
		</div>
	</div>
	<!-- web structure end -->

	<!-- mobile structure -->
	<div class="mobile-review-step-for-iframe" ng-init="showContactInfo = true;">
		<p class="mobile-review-step-title">Review your details and tap the SUBMIT</br> button to complete your registration.</p>
		<div class="mobile-review-step-contact-info">
			<div class="mobile-review-step-contact-info-container-title" ng-click="showContactInfo = !showContactInfo" ng-class="!showContactInfo ? 'gray-tab' : ''">
				<i class="fa fa-caret-right" aria-hidden="true" ng-if="!showContactInfo"></i>
				<p ng-if="selectedLevel.nr_attendee_guests > 0">Contact & Guest Information</p>
				<p ng-if="selectedLevel.nr_attendee_guests === 0 ">Contact Information</p>
			</div>
			<div class="mobile-review-step-contact-info-container-register-details" ng-show="showContactInfo">
				<p class="selectable-text">{{registeredAttendee.first_name + ' ' + registeredAttendee.last_name}} <span ng-click="editThisStep('step1')">[ Edit ]</span></p>
				<p class="selectable-text" ng-if="registeredAttendee.company_name">{{registeredAttendee.company_name}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.street_address">{{registeredAttendee.street_address}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.city || registeredAttendee.state || registeredAttendee.zip_code">
					{{registeredAttendee.city + ', ' + registeredAttendee.state + ' ' + registeredAttendee.zip_code}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.country">{{registeredAttendee.country}}</p>
				<p class="selectable-text">{{registeredAttendee.email_address}}</p>
				<p class="selectable-text" ng-if="registeredAttendee.phone_number">{{registeredAttendee.phone_number}}</p>
				<p class="selectable-text" ng-repeat="custom_field_item in custom_fields">{{custom_field_item.name + ': ' + custom_field_item.value}}</p>
			</div>
			<div class="mobile-review-step-contact-info-container-conference-details" ng-show="showContactInfo">
				<p class="selectable-text">{{conference.name}}</p>
				<p class="selectable-text">{{conference.date_from | date : 'M/d/yyyy' : conference.time_zone}} - {{conference.date_to | date : 'M/d/yyyy' : conference.time_zone}}</p>
				<p class="selectable-text">{{conference.venue}}</p>
				<p class="selectable-text">{{conference.street}}</p>
				<p class="selectable-text">{{conference.city + ', ' + conference.state + ' ' + conference.zip_code}}</p>
				<p class="selectable-text">{{conference.country}}</p>
				<p class="selectable-text">{{conference.website}}</p>
				<p class="selectable-text">{{conference.code}}</p>
			</div>
			<div class="mobile-review-step-contact-info-container-guests-details" ng-show="showContactInfo" ng-if="selectedLevel.nr_attendee_guests > 0">
				<p>Guests <span ng-click="editThisStep('step_guests')">[ Edit ]</span></p>
				<p ng-repeat="guest in attendeeGuestList">{{guest.first_name + ' ' + guest.last_name + ' - ' + guest.email_address}}</p>
			</div>
		</div>
		<div class="mobile-review-step-details-container">
			<div class="mobile-review-step-level-details">
				<p class="selectable-text">{{selectedLevel.name}} <span ng-click="editThisStep('step2')">[ Edit ]</span></p>
				<p class="selectable-text">{{levelPrice | currency : '$'}}</p>
			</div>
			<div class="mobile-review-step-add-on-details">
				<div ng-if="register_add_on_sessions.length > 0" ng-click="toggleCarret(showAddsOnList)">
					<i class="fa fa-caret-down" aria-hidden="true" ng-if="showAddsOnList"></i>
					<i class="fa fa-caret-right" aria-hidden="true" ng-if="!showAddsOnList"></i>
					<p class="selectable-text">Add-On Sessions <span ng-click="editThisStep('step3')">[ Edit ]</span></p>
				</div>
				<div ng-show="showAddsOnList">
					<div ng-repeat="add_on in register_add_on_sessions track by $index">
						<p class="selectable-text">{{add_on.session.title}}</p>
						<p class="selectable-text">{{add_on.registrationleveladdonsessionpricing_set[0].price | currency : '$'}}</p>
					</div>
				</div>
			</div>
			<div class="mobile-review-step-promo-code">
				<div>
					<input class="promo-code-input" type="text" ng-model="promoCodeModel" ng-blur="processPromoCode(promoCodeModel)" placeholder="Promo Code"
						   ng-class="promoCodeModel != '' ? 'promo-code-input-filled' : ''"/>
					<img src="/assets/images/rolling.gif" ng-if="promoCodeLoading">
					<div class="cursor promo-code-apply-button" ng-click="applyDiscount()">APPLY</div>
				</div>
				<p class="promo-code-applied" ng-if="discountApplied">Discount applied</p>
				<p class="selectable-text" style="color: red;" ng-if="promoCode == null">{{promoCodeResult}}</p>
			</div>
			<div class="mobile-review-step-price-calculated">
				<div>
					<p class="selectable-text">Subtotal:</p>
					<p class="selectable-text">{{subtotalPriceForThisRegister | currency : '$'}}</p>
				</div>
				<div>
					<p class="selectable-text">Discount:</p>
					<p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'usd'">({{promoCodeResult | currency : '$'}})</p>
					<p class="selectable-text" ng-if="promoCode != null && promoCode.discount_type == 'pct'">(%{{promoCodeResult}})</p>
				</div>
				<div>
					<p class="selectable-text">Total:</p>
					<p class="selectable-text">{{temporaryTotalPrice | currency : '$'}}</p>
				</div>
			</div>
			<div class="mobile-review-step-legal-agreements">
				<div class="unchecked-legal-agreements cursor" ng-click="variables.conditions_agreed = !variables.conditions_agreed;"
					 ng-class="variables.conditions_agreed ? 'conditions-agreed' : ''">
					<img src="/assets/images/checked-ico.png" ng-if="variables.conditions_agreed">
				</div>
				<p class="cursor selectable-text">
					I agree to the <span class="cursor selectable-text" ng-click="openTermsAndConditionsPopup();">Terms and Conditions</span> and <span class="cursor selectable-text" ng-click="openRefundPolicyPopup();">Refund Policy</span> <span ng-if="totalPrice != 0" style="color: #4a4a4a !important;">, and I authorize</br> payment to be billed to my credit card.</span>
				</p>
			</div>
		</div>
	</div>
	<!-- mobile structure end -->

	<div ng-if="validationErrors.length > 0">
		<div ng-repeat="validationError in validationErrors"
			 class="registration-fields-text-font-family registration-fields-text-font-size selectable-text"
			 style="margin: 20px; color: red">
			{{validationError}}
		</div>
	</div>
	<div class="flex-row registration-form-bottom">
		<div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
		<div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()">PREVIOUS</div>
		<div class="cursor iframe-next-button-color" ng-click="registerAttendee()">SUBMIT</div>
	</div>
	<div style="position: fixed; top: 30%; left: 50%;"
		 ng-if="registrationLoader">
		<div class="loading-verification" style="width: 40px; margin: 0 auto;">
			<img src="assets/images/rolling.gif" style="margin-top:120px">
		</div>
	</div>
</div>
