<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="(registrationLoader) ? 'form_inactive':''">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Registration</span>
            {{" - Step " + stepCounter}}
        </p>
    </div>
    <div class="flex-column registration-form-step-1-container">
        <div class="flex-row registration-form-top-secound">
            <p class="registration-iframe-subtitles-font-family">Please enter your information</p>
            <p>Required</p>
        </div>
        <div class="flex-column registration-form-fields">
            <div class="flex-column registration-form-field" ng-repeat="item in standard_fields" ng-hide="item.type == 'hidden' || (item.name == 'state' && registeredAttendee['country'] != 'United States')">
                <p>
                    <label class="registration-fields-font-size registration-fields-font-family">{{item.name | formatLabel}}
                        <span style="color: #f58a1c;" ng-if="item.type == 'required'">*</span>
                    </label>
                </p>
                <input class="registration-fields-text-font-family registration-fields-text-font-size"
                       type="text" ng-model="registeredAttendee[item.name]" name="item.name" ng-if="item.name != 'state' && item.name != 'country'"
                       ng-class="(item.name == 'zip_code' || item.name == 'phone_number') ? 'medium-registration-field': ''">
                <div ng-if="item.name == 'state' && registeredAttendee['country'] === 'United States'" class="small-registration-field-container" style="width: 17%;">
                    <select style="padding-left: 10px; width: 100%;"
                            class=" registration-fields-text-font-family registration-fields-text-font-size"
                            ng-model="registeredAttendee[item.name]">
                        <option ng-repeat="state in united_states" value="{{state.abbreviation}}">{{state.abbreviation}}</option>
                    </select>
                    <i class="fa fa-arrow-circle-down select-icon-for-field" aria-hidden="true"></i>
                </div>
                <div ng-if="item.name == 'country'">
                    <select style="padding-left: 10px;"
                            class="registration-fields-text-font-family registration-fields-text-font-size"
                            ng-model="registeredAttendee[item.name]">
                        <option ng-repeat="country in all_countries" value="{{country.name}}"> {{country.name}} </option>
                    </select>
                    <i class="fa fa-arrow-circle-down select-icon-for-field" aria-hidden="true"></i>
                </div>
            </div>
            <div ng-repeat="custom_field_item in custom_fields track by $index" ng-if="custom_field_item.type != 'hidden'" class="registration-form-custom-field">
                <p class="registration-fields-font-size registration-fields-font-family">
                    <label class="registration-fields-font-size registration-fields-font-family">
                        {{custom_field_item.custom_field.name}}<span style="color: #f58a1c;" ng-if="custom_field_item.type == 'required'">*</span></label></p>
                <input class="registration-fields-text-font-family registration-fields-text-font-size"
                       type="text" name="custom_field_item.custom_field.name" ng-if="custom_field_item.custom_field.type == 1"
                       ng-model="registeredAttendee.customValues[custom_field_item.custom_field.id]">
                <div style="position: relative;" ng-if="custom_field_item.custom_field.type == 3"
                     ng-click="$broadcast('TOGGLE_THIS_DROP_DOWN')">
                     <div style="padding:10px;" class="custom-field-drop-down-container">
                        {{registeredAttendee.customValues[custom_field_item.custom_field.id]}}
                         <i class="fa fa-arrow-circle-down select-icon-for-field" style="bottom: 14px;" aria-hidden="true"></i>
                     </div>
                    <custom-field-drop-down custom-field="custom_field_item">
                    </custom-field-drop-down>
                </div>
                <div ng-if="custom_field_item.custom_field.type == 2" >
                     <select style="padding-left: 12px;"
                        class="selectable-input-iframe registration-fields-text-font-family registration-fields-text-font-size"
                        ng-model="registeredAttendee.customValues[custom_field_item.custom_field.id]"
                        id="custom_field_item.id"
                        ng-options="option.value for option in custom_field_item.custom_field.customattendeefieldoption_set">
                    </select>
                    <i class="fa fa-arrow-circle-down select-icon-for-field" aria-hidden="true"></i>
                </div>
            </div>
            <!-- this will be enabled when the GDPR will be released -->
            <!-- <div class="agree-terms-checkbox">
          		<div class="checkbox-ico" ng-click="agreeTos()" ng-class="{'active': agreeChecked}"></div>
          		<p ng-click="agreeTos()">{{registration_form.registration_p1_policy}}</p>
        	</div> -->
        </div>
        <div class="validation-errors-container" ng-if="validationErrors.length > 0">
            <div ng-repeat="validationError in validationErrors track by $index"
                 class="registration-fields-text-font-family registration-fields-text-font-size selectable-text"
                 style="margin-left:90px; margin-bottom:10px; color: red">
                {{validationError}}
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="cursor iframe-next-button-color" ng-click="goToStep2()" ng-if="!editMode">NEXT</div>
        <div class="cursor iframe-next-button-color" ng-click="goToStep2()" ng-if="editMode">EDIT</div>
    </div>
</div>
<div style="position: fixed; top: 30%; left: 50%;"
     ng-if="registrationLoader || loadingRegistration">
    <div class="loading-verification" style="width: 40px; margin: 0 auto;">
        <img src="assets/images/rolling.gif" style="margin-top:120px">
    </div>
</div>
