<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="(registrationLoader) ? 'form_inactive':''">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Registration </span> {{" - Step " + stepCounter}}
        </p>
    </div>

    <div class="payment-for-iframe">
        <div class="flex-row">
            <p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">Please enter your payment information:</p>
            <p><span>*</span>Required</p>
        </div>
        <form id="register_payment_for_iframe" class="flex-column" autocomplete="on">
            <div class="flex-column">
                <p class="payment-fields-font-family payment-fields-font-size">Credit Card Number
                    <span style="color: #f58a1c;">*</span>
                    <span class="required-text-mobile">*Required</span>
                </p>
                <div class="flex-row credit-card-field-container">
                    <input type="text" id="CCN_iframe" ng-class="CCNType != '' ? 'valid-CCN-input' : ''" class="required-payment-field" ng-required="true" data-stripe="number" autocomplete="cc-number" maxlength="16" pattern="[0-9]" max="9999999999999999" ng-blur="checkTypeOfCard()"
                        ng-focus="checkTypeOfCard()" onkeydown="return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey===false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode===8) || (event.keyCode===9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode===46) )">
                    <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
                    <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
                    <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
                    <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
                    <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
                    <div style="margin-right: 0;"><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}"></div>

                    <!-- structure for mobile -->
                    <div class="credit-card-field-container-logos">
                        <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
                        <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
                        <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
                        <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
                        <div><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
                        <div style="margin-right: 0;"><img class="type-of-card-for-iframe" ng-src="{{CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}"></div>
                    </div>
                    <!-- structure for mobile -->
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-column">
                    <p class="payment-fields-font-family payment-fields-font-size">Expiration Date<span style="color: #f58a1c;">*</span></p>
                    <input type="text" data-stripe="exp" placeholder="MM/YY" ng-model="expirationDate" class="required-payment-field" autocomplete="cc-exp" id="expiration_date" ng-keypress="insert_slash($event)" maxlength="5" ng-required="true">
                </div>
                <div class="flex-column">
                    <p>CVV Number<span style="color: #f58a1c;">*</span></p>
                    <input type="text" data-stripe="cvc" pattern="[0-9]" onkeydown="return ( event.ctrlKey || event.altKey
						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey===false)
						|| (95<event.keyCode && event.keyCode<106)
						|| (event.keyCode===8) || (event.keyCode===9)
						|| (event.keyCode>34 && event.keyCode<40)
						|| (event.keyCode===46) )" autocomplete="cc-csc" ng-required="true" class="required-payment-field">
                </div>
            </div>
            <div class="flex-column billing-zip-container">
                <div class="flex-column">
                    <p class="payment-fields-font-family payment-fields-font-size">Billing Zip Code<span style="color: #f58a1c;">*</span></p>
                    <input type="text" data-stripe="address_zip" ng-model="card_zipcode" class="required-payment-field" ng-required="true">
                </div>
            </div>
            <div class="flex-column name-card-container">
                <div class="flex-column">
                    <p class="payment-fields-font-family payment-fields-font-size">Name on Card<span style="color: #f58a1c;">*</span></p>
                    <input type="text" data-stripe="name" class="required-payment-field" autocomplete="cc-name" ng-model="card_hold_name" ng-required="true">
                </div>
            </div>
            <!-- structure for mobile -->
            <div class="billing-zip-and-name-card-container-mobile">
                <div class="flex-column">
                    <div class="flex-column">
                        <p class="payment-fields-font-family payment-fields-font-size">Billing Zip Code<span style="color: #f58a1c;">*</span></p>
                        <input type="text" data-stripe="address_zip" ng-required="true" ng-model="card_zipcode" class="required-payment-field">
                    </div>
                </div>
                <div class="flex-column">
                    <div class="flex-column">
                        <p class="payment-fields-font-family payment-fields-font-size">Name on Card<span style="color: #f58a1c;">*</span></p>
                        <input type="text" data-stripe="name" autocomplete="cc-name" ng-model="card_hold_name" ng-required="true" class="required-payment-field">
                    </div>
                </div>
            </div>
            <!-- structure for mobile end -->
        </form>
        <div ng-if="validationErrors.length > 0" class="validation-error-for-web selectable-text">
            <div ng-repeat="validationError in validationErrors" style="margin-bottom:10px; color: #c30016">
                {{validationError}}
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()">PREVIOUS</div>
        <div class="cursor iframe-next-button-color" ng-click="goToSubmitStep()">NEXT</div>
    </div>
    <div style="position: fixed; top: 30%; left: 50%;" ng-if="registrationLoader">
        <div class="loading-verification" style="width: 40px; margin: 0 auto;">
            <img src="assets/images/rolling.gif" style="margin-top:120px">
        </div>
    </div>
</div>
