<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="registrationLoader || blurred ? 'form_inactive':''">
	<div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
	<div class="flex-row registration-form-top">
		<p>
			<span>Registration</span>
			{{" - Step " + stepCounter}}
		</p>
	</div>
	<div class="add-on-iframe">
		<div class="add-on-iframe-header" id="adds_on_slider_container">
			<p class="registration-iframe-subtitles-font-size registration-iframe-subtitles-font-family">Register for Add-on Sessions</p>
			<div class="add-on-days-list flex-row">
				<i class="fa fa-arrow-left" aria-hidden="true" ng-click="scrollAddsOnRight()" ng-if="right_arrow" style="z-index: 9999999;"></i>
				<div class="flex-row step2-choose-level-panel" id="adds_on_slider" style="align-items: center; max-height: 132px; min-height: 101px;"
                     onscroll="scrollAddsOn()" onresize="getSliderItemsNumber()">
					<div class="flex-row" style="padding-left: 130px; padding-right: 130px;">
						<div class="add-on-day flex-column"
							 ng-repeat="day in addsOnCollection track by $index"
							 ng-click="selectAddOnDay(day, $index)"
							 ng-class="(indexForAddOnSelectedDay == $index && ($index <= leftGrayedOut || $index >= rightGrayedOut)
							  ? ['add-on-sessions-checked-day', 'grayed-out-tab'] :
							  (indexForAddOnSelectedDay == $index && !($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'add-on-sessions-checked-day' :
							  ($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'grayed-out-tab' : ''))">
							<p class="pre-register-sessions-day-font-size pre-register-sessions-day-font-family">{{displayAddOnSessionDay(day)}}</p>
							<p class="pre-register-sessions-day-font-size pre-register-sessions-day-font-family">{{displayAddOnSessionDate(day)}}</p>
							<i class="fa fa-check-circle" aria-hidden="true" ng-if="daysAreSelected[$index]"></i>
							<div class="down-arrow-for-selection" ng-if="indexForAddOnSelectedDay == $index"></div>
						</div>
					</div>
				</div>
				<i class="fa fa-arrow-right" aria-hidden="true" ng-click="scrollAddsOnLeft()" ng-if="left_arrow"
				   style="z-index: 9999999;"></i>
			</div>
		</div>

		<!--mobile design-->
		<div class="add-on-days-list-mobile">
			<div class="add-on-day-tab" ng-repeat="day in addsOnCollection track by $index" ng-click="selectAddOnDay(day, $index)"
				ng-class="indexForAddOnSelectedDay === $index ? 'add-on-day-tab-active' : ''">
				<div class="add-on-day-tab-details-container">
					<i class="fa fa-caret-right" aria-hidden="true" ng-if="indexForAddOnSelectedDay !== $index"></i>
					<i class="fa fa-caret-down" aria-hidden="true" ng-if="indexForAddOnSelectedDay === $index"></i>
					<p>
						{{displayAddOnSessionDay(day) + ' ' + displayAddOnSessionDate(day)}}
					</p>
					<i class="fa fa-check-circle" aria-hidden="true" ng-if="daysAreSelected[$index]"></i>
				</div>
				<div class="hours-list-container-mobile" ng-if="indexForAddOnSelectedDay === $index">
					<div class="hours-list-mobile" ng-repeat="hour in addOnSelectedDay track by $index">
						<div style="padding-right: 19.6px; padding-left: 27px;">
							<p>{{hour[0].session.starts_at | date : 'h:mm a' : conference_time_zone}}</p>
							<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
						</div>
						<div class="add-on-session-for-iframe flex-row add-on-sessions-unchecked-background-color"
							 style="padding-right: 19.6px; padding-left: 27px;"
							 ng-repeat="add_on in hour | orderObjectBy:'session':'starts_at':false"
							 	track by add_on.session.id"
							 ng-click="selectRegisterAddOnSession(add_on, hour)"
							 ng-class="add_on.checked ? 'add-on-sessions-checked-background-color' : ''">
							<div class="flex-row">
								<div class="add-on-check-circle" ng-class="add_on.checked ? ['add-on-checked-circle', 'check-mark-color'] : ''">
									<img ng-if="add_on.checked" src="/assets/images/checked-ico.png">
								</div>
							</div>
							<div>
								<div>
									<p class="add-on-sessions-title-font-family add-on-sessions-title-font-size ellipsis selectable-text" style="max-width: 25em; width: auto;"
									   ng-click="openAddOnSessionProfile(add_on, hour); $event.stopPropagation();">{{add_on.session.title}}</p>
								</div>
								<div>
									<p class="add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family selectable-text">
										{{add_on.session.starts_at | date : "h:mm a" : conference_time_zone}} - {{add_on.session.ends_at | date : "h:mm a" : conference_time_zone}}
									</p>
									<span style="width: 18px; text-align: center;">•</span>
									<p class="add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family add-on-sessions-price selectable-text">
										{{add_on.registrationleveladdonsessionpricing_set[0].price | currency : '$'}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--mobile design end-->
		<div class="add-on-available-sessions-container">
			<div class="adds-on-per-hour flex-column" ng-repeat="hour in addOnSelectedDay track by $index">
				<div class="add-on-hour" style="min-height: 44px;">
					<p class="add-on-sessions-hours-font-size add-on-sessions-hours-font-family
                        add-on-sessions-hours-background-color">
						{{hour[0].session.starts_at | date : 'h:mm a' : conference_time_zone}}
					</p>
				</div>
				<div class="add-on-session-for-iframe flex-row add-on-sessions-unchecked-background-color selectable-text"
					 ng-repeat="add_on in hour | orderObjectBy:'session':'starts_at':false
					 	track by add_on.session.id"
					 ng-click="selectRegisterAddOnSession(add_on, hour)"
					 ng-class="add_on.checked ? 'add-on-sessions-checked-background-color' : ''">
					<div class="flex-row">
						<div class="add-on-check-circle" ng-class="add_on.checked ? ['add-on-checked-circle', 'check-mark-color'] : ''">
							<img ng-if="add_on.checked" src="/assets/images/checked-ico.png">
						</div>
						<p class="add-on-sessions-title-font-family add-on-sessions-title-font-size ellipsis selectable-text" style="max-width: 25em; width: auto;"
						   ng-click="openAddOnSessionProfile(add_on, hour); $event.stopPropagation();">{{add_on.session.title}}</p>
					</div>
					<p class="add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family selectable-text">
						{{add_on.session.starts_at | date : "h:mm a" : conference_time_zone}} - {{add_on.session.ends_at | date : "h:mm a" : conference_time_zone}}
					</p>
					<p class="add-on-sessions-price-and-time-font-size add-on-sessions-price-and-time-font-family selectable-text">
						{{add_on.registrationleveladdonsessionpricing_set[0].price | currency : '$'}}
					</p>
				</div>
			</div>
		</div>
		<div class="flex-row total-price-container">
			<p class="selectable-text">{{selectedLevel.name | uppercase}} Level: {{levelPrice | currency : '$'}}</p>
			<p class="selectable-text">Add-on Sessions: {{addsOnTotalPrice | currency : '$'}}</p>
			<div class="flex-row">
				<p class="selectable-text">TOTAL:</p>
				<p class="selectable-text">{{totalPrice | currency : '$'}}</p>
			</div>
		</div>
	</div>
	<div class="flex-row registration-form-bottom">
		<div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
		<div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()" ng-if="!individualEdit">PREVIOUS</div>
		<div class="cursor iframe-next-button-color" ng-click="goToStep4()" ng-if="!editMode">NEXT</div>
		<div class="cursor iframe-next-button-color" ng-click="goToStep4()" ng-if="editMode">EDIT</div>
	</div>
</div>
