<div class="registration-form-ifrm-content iframe-background-color">
  <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
    <div class="message" ng-repeat="message in registration_form.error_messages">
      <i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
    </div>
  </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Registration</span>
            {{" - Step " + stepCounter}}
        </p>
    </div>
    <div class="flex-column guests-container">
      <div class="guest-info">
        <p>You can add a guest for <b>${{selectedLevel.guest_fee}}</b> per person or click next to continue.</p>
        <div class="cursor " ng-click="goToPaymentStep()">NEXT</div>
      </div>
        <div class="flex-column guest-details-container" ng-repeat="guest in attendeeGuests track by $index">
            <div class="flex-row guest-full-name">
                <div>
                    <p ng-class="guest.first_name.length > 0 || guest.last_name.length > 0 || guest.email_address.length > 0 ?'required-guest-data' : ''">Guest {{$index+1}}: First Name</p>
                    <input type="text" ng-model="guest.first_name">
                </div>
                <div>
                    <p ng-class="guest.first_name.length > 0 || guest.last_name.length > 0 || guest.email_address.length > 0 ?'required-guest-data' : ''">Guest {{$index+1}}: Last Name</p>
                    <input type="text" ng-model="guest.last_name">
                </div>
            </div>
            <div class="guest-email">
                <div>
                    <p ng-class="guest.first_name.length > 0 || guest.last_name.length > 0 || guest.email_address.length > 0 ?'required-guest-data' : ''">Guest {{$index+1}}: Email</p>
                    <input type="email" ng-model="guest.email_address">
                </div>
            </div>
        </div>
        <div ng-if="validationErrors.length > 0">
            <div ng-repeat="validationError in validationErrors"
                 class="registration-fields-text-font-family registration-fields-text-font-size"
                 style="margin-left:90px; margin-bottom:10px; color: red">
                {{validationError}}
            </div>
        </div>
    </div>
    <div class="flex-row registration-form-bottom registration-form-bottom">
        <div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()" ng-if="!individualEdit">PREVIOUS</div>
        <div class="cursor iframe-next-button-color" ng-click="goToPaymentStep()">NEXT</div>
    </div>
</div>
