<div class="registration-form-ifrm-content iframe-background-color" ng-if="!loadingRegistration" ng-class="(registrationLoader) ? 'form_inactive':''"
ng-init="showSwipedTab = true;">
    <div class="iframe-error-messages-wrapper" ng-if="registration_form.error_messages.length > 0">
      <div class="message" ng-repeat="message in registration_form.error_messages">
        <i class="fa fa-exclamation-triangle"></i>
        <span>{{message}}</span>
      </div>
    </div>
    <div class="flex-row registration-form-top">
        <p>
            <span>Registration</span>
            {{" - Step " + stepCounter}}
        </p>
    </div>
    <div class="flex-column registration-iframe-step2-header" style="align-items: center;" id="level_slider_container">
        <p>Select a Registration Level</p>
        <div class="flex-row registration-iframe-step2-header-levels-container">
            <i class="fa fa-arrow-left" aria-hidden="true" ng-click="scrollLevelsRight()" ng-if="right_arrow"></i>

            <div class="flex-row step2-choose-level-panel" id="level_slider" style="align-items: center;" onscroll="scrollLevels()">
                <div class="flex-row" ng-class="nr_slider_items <= registration_levels.length ? 'step2-levels-panel' : ''"
                     style="padding-left: 130px; padding-right: 130px;">
                    <div class="step2-level-tab" ng-repeat="level in registration_levels track by $index"
                         ng-class="(currentLevel === $index && ($index <= leftGrayedOut || $index >= rightGrayedOut)
							  ? ['level-active', 'grayed-out-tab'] :
							  (currentLevel === $index && !($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'level-active' :
							  ($index <= leftGrayedOut || $index >= rightGrayedOut) ? 'grayed-out-tab' : ''))"
                         ng-click="selectThisLevel($index)">
                         <div class="level-name">
                           <div class="text-inside-level" style="display: -webkit-box; display: -moz-box;">{{level.name | uppercase}}</div>
                         </div>
                        <i class="fa fa-star-o" aria-hidden="true" ng-if="registration_form.recommended_level === level.id"></i>
                    </div>
                </div>
            </div>

            <i class="fa fa-arrow-right" aria-hidden="true" ng-click="scrollLevelsLeft()" ng-if="left_arrow"></i>
        </div>
        <div class="registration-iframe-step2-header-levels-container-mobile">
            <div class="mobile-level-tab" ng-repeat="level in registration_levels track by $index" ng-click="selectThisLevel($index)"
                ng-class="level === selectedLevel ? 'mobile-level-tab-active' : ''">
                <div>
                    <i class="fa fa-caret-right" aria-hidden="true" ng-if="level !== selectedLevel"></i>
                    <i class="fa fa-caret-down" aria-hidden="true" ng-if="level === selectedLevel"></i>
                    <p class="mobile-level-title selectable-text">{{level.name | uppercase}}</p>
                    <i class="fa fa-star-o" aria-hidden="true" ng-if="registration_form.recommended_level === level.id"></i>
                </div>
                <div class="level-details-container" ng-if="level === selectedLevel">
                    <p class="registration-iframe-recommended_level selectable-text"
                       ng-if="registration_form.recommended_level==selectedLevel.id">
                        {{registration_form.recommandation_reason}}
                    </p>
                    <div class="level-swipe-description-first-tab" ng-show="showSwipedTab"
                         ng-swipe-left="selectedLevel.registrationlevelbenefit_set.length > 0 ? (showSwipedTab = false) : ''">
                        <p class="step2-level-details-description selectable-text">
                            {{selectedLevel.description}}
                        </p>
                        <div class="level-price-container">
                            <div></div>
                            <p class="registration-iframe-step2-footer-price selectable-text">{{standardPrices(selectedLevel) | currency : '$'}}</p>
                            <div></div>
                        </div>
                    </div>
                    <div class="level-swipe-description-second-tab"  ng-show="!showSwipedTab" ng-swipe-right="showSwipedTab = true;">
                        <p class="step2-level-details-benefits selectable-text" ng-if="selectedLevel.registrationlevelbenefit_set.length > 0"
                           ng-repeat="benefit in selectedLevel.registrationlevelbenefit_set">{{benefit.name}}</p>
                    </div>
                    <div class="level-description-swipe-dots" ng-if="selectedLevel.registrationlevelbenefit_set.length >= 1">
                        <i class="fa fa-circle" aria-hidden="true" style=" margin-right: 10px;" ng-show="showSwipedTab"></i>
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <i class="fa fa-circle" aria-hidden="true" style=" margin-left: 10px;" ng-show="!showSwipedTab"></i>
                    </div>
                    <div class="select-level-button" ng-click="goToStep3()">SELECT</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column registration-iframe-step2-footer">
        <p class="registration-iframe-step2-footer-title selectable-text">{{selectedLevel.name | uppercase}}</p>
        <p class="registration-iframe-recommended_level selectable-text" ng-if="registration_form.recommended_level==selectedLevel.id">{{registration_form.recommandation_reason}}</p>
        <p class="registration-iframe-step2-footer-price selectable-text">{{standardPrices(selectedLevel) | currency : '$'}}</p>
        <div class="circle-checked check-mark-color">
            <img src="/assets/images/checked-ico.png">
        </div>
        <div class="flex-column step2-level-details">
            <p class="step2-level-details-description selectable-text">{{selectedLevel.description}}</p>
            <p class="step2-level-details-benefits selectable-text" ng-if="selectedLevel.registrationlevelbenefit_set.length > 0"
               ng-repeat="benefit in selectedLevel.registrationlevelbenefit_set">{{benefit.name}}</p>
        </div>
    </div>
    <div class="flex-row registration-form-bottom">
        <div class="cursor iframe-cancel-button-color iframe-cancel-button" ng-click="resetIframe()">Delete and Start Over</div>
        <div class="previous-step cursor iframe-previous-button-border-color iframe-previous-button-color" ng-click="stepBack()" ng-if="!editMode">PREVIOUS</div>
        <div class="cursor iframe-next-button-color iframe-next-button" ng-click="goToStep3()" ng-if="!editMode">NEXT</div>
        <div class="cursor iframe-next-button-color iframe-next-button" ng-click="goToStep3()" ng-if="editMode">EDIT</div>
    </div>
</div>
