<div class="conference-sidebar-left">
    <div class="conference-sidebar-buttons">
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.exhibitor_toolkit.details.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.exhibitor_toolkit.details">
                Details
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.exhibitor_toolkit.users.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.exhibitor_toolkit.users">
                Users
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.exhibitor_toolkit.company_profile.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.exhibitor_toolkit.company_profile">
                Company Profile
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.exhibitor_toolkit.lead_retrieval.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.exhibitor_toolkit.lead_retrieval" >
                Lead Retrieval
            </div>
        </div>
    </div>
</div>
