.custom-modal-wrapper.add-exhibitor.exhibitor-details {
	background-color: #fafafa;
	overflow: hidden;
	height: calc(70vh + 150px);
}

.custom-modal-wrapper.add-exhibitor .top-part {
	background-color: white;
	color: #4a4a4a;
	font-size: 0;
	width: calc(100% + 34px + 34px);
	margin-left: -34px;
	padding-left: 34px;
	padding-right: 34px;
	padding-top: 34px;
	margin-top: -34px;
	padding-bottom: 20px;
	box-sizing: border-box;

	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	height: 150px;

	transition: transform .2s cubic-bezier(0.4, 0.0, 1, 1), opacity .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s cubic-bezier(0.4, 0.0, 1, 1);
	transition-delay: .2s;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #cdcdcd;
}

.custom-modal-wrapper.add-exhibitor .top-part.hidden {
	transform: translateY(-150px);
	opacity: 0;
	visibility: hidden;

}

.custom-modal-wrapper.add-exhibitor .top-part .logo-wrapper {
	width: 90px;
	height: 90px;
	display: inline-block;
	vertical-align: top;
	font-size: 5em;
}

.custom-modal-wrapper.add-exhibitor .top-part .logo-wrapper .fa {
	font-size: 90px;
}

.custom-modal-wrapper.add-exhibitor .top-part .main-details {
	width: calc(100% - 90px - 90px);
	display: inline-block;
	vertical-align: top;

	padding-left: 26px;
	padding-right: 26px;
	box-sizing: border-box;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.custom-modal-wrapper.add-exhibitor .top-part .main-details .name {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.custom-modal-wrapper.add-exhibitor .top-part .main-details .website {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
}

.custom-modal-wrapper.add-exhibitor .top-part .edit-button {
	width: 90px;
	height: 40px;
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;
	text-transform: capitalize;
	cursor: pointer;
	transition: color .2s ease, background-color .2s ease;
}

.custom-modal-wrapper.add-exhibitor .top-part .edit-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details .bottom-part {
	background-color: #fafafa;
	padding-top: 20px;
	transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1);
	transition-delay: .2s;
	height: calc(70vh - 35px);
	opacity: 1;
	transform: translate(0);
}

.custom-modal-wrapper.add-exhibitor .bottom-part .exhibitor-details-line {
	font-size: 0px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

.custom-modal-wrapper.add-exhibitor .bottom-part .exhibitor-details-line .attribute-name {
	display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #4a4a4a;
  width: 45%;
	line-height: 40px;
}


.custom-modal-wrapper.add-exhibitor .bottom-part .exhibitor-details-line .attribute-value {
	display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 55%;
  font-family: 'AvenirNextLTPro-Regular';
  color: #4a4a4a;
	line-height: 40px;
}

.custom-modal-wrapper.add-exhibitor .bottom-part .exhibitor-details-line input.attribute-value {
	padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 40px;
}

.custom-modal-wrapper.add-exhibitor .edit-modal-title {
	font-size: 20px;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	opacity: 0;
	visibility: hidden;
	transform: translateY(-150px);

	transition: transform .2s cubic-bezier(0.4, 0.0, 1, 1), opacity .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s cubic-bezier(0.4, 0.0, 1, 1), height .2s cubic-bezier(0.4, 0.0, 1, 1);
	transition-delay: .2s;
	height: 0px;
}

.custom-modal-wrapper.add-exhibitor .edit-modal-title.visible {
	height: 24px;
	opacity: 1;
	visibility: visible;
	transform: translateY(calc(-150px + 34px));
	padding-bottom: 30px;
}

.custom-modal-wrapper.add-exhibitor .bottom-part.translated {
	transform: translateY(calc(-150px + 34px));
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details .buttons-wrapper.exhibitor-details {
	height: 150px;
	text-align: left;
	visibility: hidden;
	transform: translateY(100%);
	opacity: 0;

	transition: transform .2s cubic-bezier(0.4, 0.0, 1, 1), opacity .2s cubic-bezier(0.4, 0.0, 1, 1), visibility .2s cubic-bezier(0.4, 0.0, 1, 1), height .2s cubic-bezier(0.4, 0.0, 1, 1);
	transition-delay: .2s;
	height: 0px;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details .buttons-wrapper.exhibitor-details .button.save {
	float: right;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details .buttons-wrapper.exhibitor-details.visible {
	height: 71px;
	opacity: 1;
	visibility: visible;
	transform: translateY(-125px)
}
