<div class="custom-modal-wrapper add-exhibitor exhibitor-details">
	<div class="top-part" ng-class="{'hidden': inEdit}">
		<div class="logo-wrapper">
			<div ng-if="!exhibitor.logo">
				<i class="fa fa-building fa-5x"></i>
			</div>
		</div>
		<div class="main-details">
			<div class="name">{{exhibitor.name}}</div>
			<div class="website">{{ exhibitor.website }}</div>
		</div>
		<div class="edit-button" ng-click="activateEditMode()">edit</div>
	</div>
	<div class="top-part edit-modal-title" ng-class="{'visible': inEdit}">Edit exhibitor</div>
	<div class="bottom-part" ng-class="{'translated': inEdit}">
		<div class="exhibitor-details-line" ng-repeat="field in modelForView" ng-if="!inEdit">
			<div class="attribute-name">{{field.shownValue}}</div>
			<div class="attribute-value">{{field.value}}</div>
		</div>
		<div class="exhibitor-details-line" ng-repeat="field in modelForEdit" ng-if="inEdit">
			<div class="attribute-name">{{field.shownValue}}</div>
			<div class="attribute-value" ng-if="!field.key">{{field.value}}</div>
			<input class="attribute-value" type="text" ng-if="field.key" ng-model="field.value"></input>
		</div>
	</div>
	<div class="buttons-wrapper exhibitor-details" ng-class="{'visible': inEdit}">
		<div class="button" ng-click="exitEditMode()">Cancel</div>
		<div class="button save" ng-click="updateExhibitor(modelForEdit)">Save</div>
	</div>
</div>
