.avery-redirect-modal {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
}

.avery-redirect-modal .fa {
	font-size: 70px;
	color: #6BB2DF;
	margin-bottom: 35px;
}
.avery-redirect-modal .text-line {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 20px;
	color: #4a4a4a;
	margin-bottom: 20px;
}

.avery-redirect-modal .separator {
	width: 80%;
	height: 1px;
	margin: 0px auto;
	background-color: #cdcdcd;
	margin-bottom: 35px;
}

.avery-redirect-modal .go-button {
	width: 168px;
	height: 40px;
	border: 1px solid #68aa3b;
	box-sizing: border-box;
	background-color: #68aa3b;
	color: white;
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Bold';
	line-height: 40px;
	border-radius: 20px;
	transform: scale(1);
	transition: transform .2s ease, color .2s ease, background-color .2s ease;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
}

.avery-redirect-modal .go-button:hover {
	color: #68aa3b;
	background-color: white;
	transform: scale(1.1);
}

.avery-redirect-modal select {
	display: block;
	height: 40px;
	width: 58%;
	margin: 0px auto;
	margin-bottom: 24px;
	font-family: 'AvenirNextLTPro-Regular';
	background-color: white;
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #cdcdcd;
}
