<div class="modal-wrapper avery-redirect-modal">
	<div ng-if="!modalData.displayTemplateSelector">
		<i class="fa fa-print" aria-hidden="true"></i>
		<div class="text-line">Your selected attendees are ready.</div>
		<div class="text-line">Go to the Avery wizard to print.</div>
		<div class="separator"></div>
		<div class="go-button" ng-click="goToAvery()">go</div>
	</div>
	<div ng-if="modalData.displayTemplateSelector">
			<i class="fa fa-th"></i>
			<div class="text-line">Which template do you want to use?</div>
			<select ng-options="template.name for template in modalData.templatesToRender track by template.id" ng-model="modalData.selectedTemplate"></select>
			<div class="go-button" ng-click="goToAvery(modalData.selectedTemplate)">Next</div>
	</div>
</div>
