<div class="conference-session-details">
    <div class="conference-session-details-head medium" style="font-size: 16px;" ui-sref="conferences.dashboard.sessions.overview">
        <div class="medium" style="margin-right: 10px; display: inline; position: relative; top: 4px;">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color: #26a7de; font-size: 18px; position: relative; bottom: 4px;"></i>
        </div>
            {{session.starts_at | date:'EEEE M/d':timezone}} Sessions
    </div>
    <div class="conference-session-details-holder" ng-if="!isLoading">
        <div style="margin-right: -40px;">
            <div class="conference-session-details-title" style="display: flex; align-items: center; padding: 2px 0;">
                <div class="conference-session-details-title-text ellipsis" title="{{session.title}}"
                    style="width: calc(100% - 438px); align-self: stretch; line-height: 43px;">
                    {{session.title}}
                </div>
                <div class="conference-session-details-title-buttons" style="margin-right: 40px; height: 21px; margin-left: auto;">
                    <div class="conference-template-session-edit-btn demi" ng-if="hasPermission" ui-sref="conferences.dashboard.sessions.upload-attendees({'session_id' : session.id})">
                        UPLOAD REGISTRANT LIST
                    </div>
                    <div class="conference-template-session-edit-btn demi"  ng-if="hasPermission" ui-sref="conferences.dashboard.sessions.edit({'session_id' : session.id})">
                        EDIT
                    </div>
                    <div class="default-icon-circle" ng-click="deleteSession()" ng-if="hasPermission"
                        style="float: right; position: relative; bottom: 6px;">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color: #4a4a4a; font-size: 17px;"></i>
                    </div>
                </div>
            </div>
            <div class="conference-session-details-description">
                <div class="conference-session-details-stats" style="display: flex;">
                    <div class="conference-session-details-box cursor"
                        ui-sref="conferences.dashboard.sessions.attendees({
                          'session_id'    : session.id,
                          'attendees_type': 'registered'})">
                        <div class="conference-session-details-box-big">
                            {{session.sessionattendee_count || 0}}
                        </div>
                        <div class="conference-session-details-box-small">
                            Registrants
                        </div>
                    </div>
                    <div class="conference-session-details-box orange cursor"
                        ui-sref="conferences.dashboard.sessions.attendees({
                           'session_id'    : session.id,
                           'attendees_type': 'scanned'})">
                        <div class="conference-session-details-box-big">
                            {{session.scannedattendee_count || 0}}
                        </div>
                        <div class="conference-session-details-box-small">
                            Attendees
                        </div>
                    </div>
                    <div class="session-data-modules-holder">
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <div class="text"> {{ session.starts_at | date:'EEEE M/d':timezone }} </div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <div class="text"> {{ session.starts_at_time }} - {{ session.ends_at_time }}</div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="text"> {{ session.location }} </div>
                        </div>
                    </div>
                    <div class="session-data-modules-holder">
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <div class="text"> {{ session.ce_hours }} Hours </div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <i class="fa {{session.session_type | sessionClassFilter}}"   aria-hidden="true"></i>

                            <div class="text">{{session.session_type | sessionTypeFilter}}</div>
                        </div>
                        <div class="icon-data-display-detail-module-wrapper">
                            <div class="text">
                                Maximum Capacity: {{session.max_capacity || 'Not Set'}}
                            </div>
                        </div>
                    </div>
                    <div class="conference-session-details-info">
                        <div style="display: flex; height: 81px;">
                            <div style="flex-wrap: wrap; display: flex; flex-direction: column;">
                                <div ng-repeat="continuingEducation in session.sessioncontinuingeducation_set"
                                    style="margin-right: 40px;"
                                    class="conference-session-details-info-item">
                                    {{continuingEducation.continuing_education.name}}
                                </div>

                                <div ng-repeat="customField in session.customsessionfieldvalue_set"
                                    style="margin-right: 40px"
                                    class="conference-session-details-info-item">
                                    {{customField.custom_session_field.name}}
                                    <span>
                                      : {{customField.value}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conference-session-details-description-text" style="width: 84vw;">
                    {{session.description}}
                </div>
            </div>
            <div class="conference-session-details-speakers" ng-if="session.sessionspeaker_set.length > 0">
                <div class="conference-session-details-title">
                    <div class="conference-session-details-title-text">
                        Speakers
                    </div>
                    <div class="conference-session-details-speakers-holder" ng-repeat="speaker in session.sessionspeaker_set">
                        <div class="conference-session-details-speaker-details">
                            <div class="conference-session-details-speaker-details-inner">
                                <useravatar image="speaker.speaker.headshot_url"
                                           firstname="speaker.speaker.first_name"
                                           lastname="speaker.speaker.last_name"
                                           size="90px"
                                           fontsize="28px"></useravatar>
                                <div class="conference-session-details-info-block">
                                    <div class="conference-session-details-info-item conference-session-speaker-name demi">
                                        {{speaker.speaker.first_name + ' ' + speaker.speaker.last_name}}
                                    </div>
                                    <div class="conference-session-details-info-item medium" style="margin-top: 7px;">
                                        {{speaker.speaker.job_title}}
                                    </div>
                                    <div class="conference-session-details-info-item medium" style="margin-top: 7px;">
                                        {{speaker.speaker.company}}
                                    </div>
                                    <div style="display: flex;">
                                        <div class="flex-column" style="position: relative; top: 8px;">
                                            <div class="icon-data-display-detail-module-wrapper" ng-if="speaker.speaker.phone_number">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <div class="text">{{ speaker.speaker.phone_number }}</div>
                                            </div>
                                            <div class="icon-data-display-detail-module-wrapper" ng-if="speaker.speaker.email">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <div class="text">{{ speaker.speaker.email }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conference-session-details-info-item">
                                        <a ng-if="speaker.speaker.linkedin_url" href="{{sanitizeUrl(speaker.speaker.linkedin_url)}}" target="_blank">
                                            <i class="fa fa-linkedin-square" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-if="speaker.speaker.facebook_url" href="{{sanitizeUrl(speaker.speaker.facebook_url)}}" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-if="speaker.speaker.twitter_url" href="{{sanitizeUrl(speaker.speaker.twitter_url)}}" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;
                                             margin-right: 20px;"></i>
                                        </a>
                                        <a ng-if="speaker.speaker.youtube_url" href="{{sanitizeUrl(speaker.speaker.youtube_url)}}" target="_blank">
                                            <i class="fa fa-youtube-play" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="conference-session-details-description-text" style="padding-top: 30px;">
                                    {{speaker.speaker.biography}}
                                </div>
                            </div>
                        </div>
                        <div ng-if="session.sessionspeaker_set.length == 0">
                            There are no speakers for this session.
                        </div>
                    </div>
                </div>
            </div>
            <div class="conference-session-details-materials" ng-if="session.sessionfile_set.length > 0">
                <div class="conference-session-details-title">
                    <div class="conference-session-details-title-text">
                        Materials
                    </div>
                </div>
                <div class="conference-session-details-materials-holder">
                    <div ng-if="session.sessionfile_set.length == 0">
                        There are no materials for this session.
                    </div>
                    <div class="conference-session-details-material"
                         ng-repeat="file in session.sessionfile_set">
                        <div class="conference-session-details-material-icon">
                            <i class="fa fa-file-o" aria-hidden="true"
                                style="color: #68aa3b; font-size: 48px;">
                            </i>
                        </div>
                        <div title="{{file.name}}"
                            class="conference-session-details-material-name cursor"
                            ng-click="openSessionFile(file)">
                            {{file.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="session.sessionquestion_set.length > 0"
                class="conference-session-details-materials flex-column conference-session-feedback-details" style="border-top: 1px solid #cdcdcd; width: 98%;">
                <div class="flex-row">
                    <p class="demi" style="font-size: 20px;">Session Feedback</p>
                    <div class="demi" style="font-size: 12px; line-height: 32px;" ng-click="downloadSessionFeedback(session)">
                        <i class="fa fa-file-o" aria-hidden="true"
                            style="color: #4a4a4a; font-size: 18px; position: relative; right: 7.5px; top: 2px;">
                        </i>
                            DOWNLOAD RESULTS
                    </div>
                </div>
                <div class="flex-column">
                    <div ng-repeat="question in session.sessionquestion_set">
                        <div class="flex-row" style="margin-bottom: 15px; align-items: center;">
                            <p class="medium" style="font-size: 14px; width: 117px">Question {{$index + 1}}:</p>
                            <p class="demi" style="font-size: 14px;">{{question.text}}</p>
                        </div>
                        <div class="flex-row">
                            <p class="medium" style="font-size: 14px; width: 117px;">Answer type:</p>
                            <div class="flex-column">
                                <p class="medium" style="font-size: 14px;">
                                    {{question.type == 1 ? 'Freeform text' : (question.type == 3 ? 'Multi-select' : 'Single-select')}}
                                </p>
                                <p  ng-repeat="option in question.sessionquestionoption_set" class="medium" style="font-size: 14px;">{{'- ' + option.value}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
