.conference-template-session-edit-btn {
    width: auto;
    min-width: 130px;
    height: 30px;
    line-height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    text-align: center;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 12px;
    color: black;
    margin-top:-6px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    text-align: center;
    float: left;
    padding: 0 10px;
}

.conference-session-details-description-text {
  overflow-wrap: break-word;
  white-space: pre-line;
}
