.account-features-wrapper .center-box .container-center .account-form.digits-form input {
	width: 35px;
	height: 40px;
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #cdcdcd;
	margin-bottom: 0px;
}

.account-features-wrapper .center-box .container-center .account-form.digits-form input:last-of-type {
	margin-right: 0px;
}
