<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="container-center">
        <p class="general-confirmation-message">Please verify your account by entering the 4 digit<br>passcode that we sent to your email address.</p>
        <div class="digit-inputs">
        <form class="account-form digits-form" name="digits">
            <input type="text" name="1" id='digit1' maxlength="1" ng-model="vm.verificationCodeModel[0]" required ng-change="vm.focusInput(2)" autofocus/>
            <input type="text" name="2" id="digit2" maxlength="1" ng-model="vm.verificationCodeModel[1]" aria-required='true' ng-change="vm.focusInput(3)" />
            <input type="text" name="3" id="digit3" maxlength="1" ng-model="vm.verificationCodeModel[2]" aria-required='true' ng-change="vm.focusInput(4)" />
            <input type="text" name="4" id="digit4" maxlength="1" ng-model="vm.verificationCodeModel[3]" aria-required='true' ng-change="vm.focusInput(0)" />
            <div class="action-button primary spaced" ng-click="vm.verifyAccount(vm.verificationCodeModel)">
              submit
            </div>
        </form>

    </div>
</div>
<div class="bottom spaced">
  <span class="question">Can't find your passcode?</span>
  <br>
  <span class="bottom-action-link" ng-click="vm.resendVerificationEmail()">Resend now</span>
</div>
