<div class="exhibitor-qualifier-tab flex-column">
    <div class="flex-row exhibitor-qualifier-details">
        <p class="medium-bolder">Qualifier {{exhibitorQualifierIndex + 1}}:</p>
        <input type="text" placeholder="Enter question..." ng-model="exhibitorQualifierData.text">
    </div>
    <div class="flex-column exhibitor-qualifier-options">
        <div class="flex-row">
            <select ng-model="exhibitorQualifierData.type" class="medium flex-row cursor"
                    ng-class="exhibitorQualifierData.id ? 'unclickable-type' : ''"
                    ng-change="setQualifierType(exhibitorQualifierData)">
                <option ng-repeat="option in exhibitorQualifiersOptionType track by $index" ng-selected="$index + 1 == exhibitorQualifierData.type"
                        ng-value="option.id">
                    {{option.name}}
                </option>
            </select>
            <i class="fa fa-minus-circle" aria-hidden="true"
               ng-click="removeQualifier()"
               ng-if="exhibitorQualifierData.id"></i>
        </div>
        <div class="flex-row" ng-repeat="questionOption in exhibitorQualifierData.exhibitorquestionoption_set track by $index">
            <input ng-if="exhibitorQualifierData.type != 1" placeholder="{{'Option ' + ($index + 1) + ': Enter answer option...'}}" ng-model="questionOption.value">
            <i class="fa fa-minus-circle" aria-hidden="true"
               ng-click="removeQualifierOption($index)"></i>
            <i class="fa fa-plus-circle" aria-hidden="true"
               ng-click="addQualifierOption(exhibitorQualifierData)"
               ng-if="$index == exhibitorQualifierData.exhibitorquestionoption_set.length - 1"></i>
        </div>
    </div>
</div>