<div class="contextual-menu-wrapper">
	<div class="item" ng-repeat="menuItem in menu" ng-click="dispatchEvent($event, menuItem.event, menuItem.activeComponentId)"
		ng-class="{'inactive' : (!activeComponent && menuItem.name != 'Full Screen')}">
		<i class="fa {{ menuItem.icon }}" aria-hidden="true"></i>
		<span class="{{ menuItem.icon }}" ng-if="menuItem.icon.indexOf('icon') == 0">
			<span class="path1"></span>
			<span class="path2"></span>
			<span class="path3"></span>
			<span class="path4"></span>
			<span class="path5"></span>
			<span class="path6"></span>
		</span>
		<div class="options-button-icon" ng-if="menuItem.icon.indexOf('option-icon') > 0">
			<img ng-src="{{'/assets/images/' + menuItem.icon}}">
		</div>
		<div class="menu-item-name">{{ menuItem.name }}</div>
	</div>
</div>
