.contextual-menu-wrapper {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50%;
	top: 90%;
	font-size: 14px;

	text-align: left;

	min-width: 200px;

	border: 1px solid #cdcdcd;
	border-radius: 5px;

	box-sizing: border-box;

	z-index: 2;

	opacity: 0;
	visibility: hidden;

	transition: opacity .3s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .3s cubic-bezier(0.4, 0.0, 0.6, 1);

	overflow: hidden;

	transform: translateX(-50%);
}

.contextual-menu-wrapper .item {
	line-height: normal;

	height: 36px;
	line-height: 36px;

	font-family: 'AvenirNextLTPro-Regular';

	color: #4a4a4a;

	background-color: transparent;

	transition: background-color .3s ease;
	padding-left: 14px;
	padding-right: 10px;
}

.contextual-menu-wrapper .item .menu-item-name {
	display: inline-block;
	vertical-align: middle;

	margin-left: 12px;
}

.contextual-menu-wrapper .item .fa {
	color: #979797;
}

.action-bar-button-with-menu.visible .contextual-menu-wrapper {
	opacity: 1;
	visibility: visible;
}

.contextual-menu-wrapper .item .options-button-icon {
	display: inline-block;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}

.contextual-menu-wrapper .item .options-button-icon > img {
	vertical-align: middle;
}

.contextual-menu-wrapper .item:hover {
	background-color: #e4e7e9;
}

.contextual-menu-wrapper .item.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}


//svg to font

@font-face {
  font-family: 'icomoon';
  src:  url('src/assets/fonts/icomoon.eot');
  src:  url('src/assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('src/assets/fonts/icomoon.ttf') format('truetype'),
    url('src/assets/fonts/icomoon.woff') format('woff'),
    url('src/assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-send"], [class*=" icon-send"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	font-size: 23px;
	vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send-to-front .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-send-to-front .path2:before {
  content: "\e901";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-to-front .path3:before {
  content: "\e902";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-send-to-front .path4:before {
  content: "\e903";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-to-front .path5:before {
  content: "\e904";
  margin-left: -1.5em;
  color: rgb(0, 176, 231);
}
.icon-send-to-front .path6:before {
  content: "\e905";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back .path1:before {
  content: "\e906";
  color: rgb(0, 176, 231);
}
.icon-send-to-back .path2:before {
  content: "\e907";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back .path3:before {
  content: "\e908";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-send-to-back .path4:before {
  content: "\e909";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-to-back .path5:before {
  content: "\e90a";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-send-to-back .path6:before {
  content: "\e90b";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-forward .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-send-forward .path2:before {
  content: "\e90d";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-forward .path3:before {
  content: "\e90e";
  margin-left: -1.5em;
  color: rgb(0, 176, 231);
}
.icon-send-forward .path4:before {
  content: "\e90f";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-backward .path1:before {
  content: "\e910";
  color: rgb(0, 176, 231);
}
.icon-send-backward .path2:before {
  content: "\e911";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
.icon-send-backward .path3:before {
  content: "\e912";
  margin-left: -1.5em;
  color: rgb(255, 255, 255);
}
.icon-send-backward .path4:before {
  content: "\e913";
  margin-left: -1.5em;
  color: rgb(151, 151, 151);
}
