// .template-wrapper {
//     font-size: 14px;
// }

// .template-slider-button {
//     width: 50px;
//     height: 50px;
//     border-radius: 100%;
//     border: solid 1px #9b9b9b;

//     display: inline-block;
//     vertical-align: middle;

//     text-align: center;
//     cursor: pointer;
//     box-shadow: 0px 0px 0px #9b9b9b;

//     transition: box-shadow .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

//     opacity: 0;
// }

// .template-slider-button.visible {
//     opacity: 1;
// }

// .template-slider-button.not-visible {
//     opacity: 0;
// }

// .template-slider-button:hover {
//     box-shadow: 6px 3px 14px #dadada;
// }

// .template-slider-button p {
//     border: solid #9b9b9b;
//     border-width: 0 2px 2px 0;
//     display: inline-block;
//     padding: 7px;
//     transform: rotate(135deg);
//     margin-top: 16px;
//     margin-left: 6px;
// }

// .template-slider-button.next p {
//     transform: rotate(-45deg);
//     margin-right: 6px;
//     margin-left: 0;
// }

// .mobile-template-holder {
//     height: 662px;
//     width: 375px;

//     display: inline-block;
//     vertical-align: middle;

//     margin-left: 30px;
//     margin-right: 30px;

//     background-color: #e6e9ea;
// }

// .mobile-template-holder .top-bar {
//     height: 64px;
//     background-color: #26A7DE;

//     text-align: center;
//     color: white;
//     font-size: 12px;
//     padding-top: 4px;
//     padding-left: 10px;
//     padding-right: 10px;

//     box-sizing: border-box;
// }

// .toolbar {
//     height: 14px;
//     position: relative;
// }

// .hour {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }

// .network {
//     float: left;
// }

// .network .signal-dot {
//     width: 6px;
//     height: 6px;
//     border-radius: 100%;
//     background-color: white;

//     display: inline-block;
//     vertical-align: middle;
// }

// .network .network-name {
//     font-size: 12px;
//     color: white;
//     display: inline-block;
//     vertical-align: middle;

//     margin-top: 2px; //to be vertical aligned [font was not well rendered]
// }

// .battery {
//     float: right;
// }

// .battery .percentage {
//     color: white;
//     font-size: 12px;
// }

// .title-wrapper {
//     clear: both;
//     margin-top: 18px;
// }

// .burger-menu {
//     float: left;
// }

// .burger-menu div {
//     height: 3px;
//     width: 21px;
//     background-color: white;
//     margin-bottom: 3px;
// }

// .mobile-page-title {
//     text-transform: uppercase;
//     font-size: 16px;
// }

// .main-view-holder {
//     height: calc(100% - 64px);
//     position: relative;

//     overflow: hidden;
// }

// .overlay-holder {
//     height: 100px;
//     position: relative;

//     opacity: 0.8;
//     z-index: 1;

//     transition: background-color .3s ease;
// }

// .overlay-holder-logo {
//     height: 78px;
//     max-width: 90%;
//     width: auto;
//     position: absolute;
//     left: 50%;
//     top: 11px;
//     transform: translateX(-50%);
//     z-index: 1;
// }

// .overlay-holder.light {
//     background-color: white;
// }

// .overlay-holder.dark {
//     background-color: black;
// }

// .conference-data-holder {
//     text-align: center;
//     position: absolute;
//     bottom: 70px;
//     width: 100%;
//     z-index: 2;

//     transition: color .6s ease;
// }

// .conference-data-holder.light {
//     color: white;
// }

// .conference-data-holder.dark {
//     color: #4a4a4a;
// }

// .conference-data-holder .title {
//     font-size: 22px;
// }

// .conference-data-holder .dates {
//     font-size: 14px;
// }

// .conference-data-holder .enter-button {
//     font-size: 14px;
//     font-weight: bold;
//     text-transform: uppercase;
//     margin-top: 10px; 
// }

// .gradient-bottom-overlay {
//     position: absolute;
//     bottom: 0;
//     height: 50%;
//     width: 100%;
//     z-index: 1;
// }

// .gradient-bottom-overlay.light {
//     background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.8));
// }

// .gradient-bottom-overlay.dark {
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
// }

// .slider-track {
//     position: absolute;
//     width: 100%;
//     height: 100%;

//     z-index: 0;

//     top: 0;

//     overflow: hidden;

//     transition: transform .3s ease;
// }

// .slider-track .slide {
//     width: 375px;
//     height: 100%;

//     background-color: grey;
//     display: inline-block;
    
//     vertical-align: top;

//     background-size: cover;
//     background-position: center;
// }

// .option-counter {
//     text-align: center;
//     margin-top: 20px;

//     color: #9b9b9b;
//     font-size: 12px;
// }