.options-menu {
	position: relative;
	z-index: 60;
	background-color: white;

	box-shadow: -5px 9px 17px -10px #a5a5a5;
}
.options-menu-holder {
	height: 71px;
	width: 100%;
	border-bottom: 1px solid #aaaaaa;

	box-sizing: border-box;

	padding-left: 21px;
	padding-right: 21px;

	box-sizing: border-box;

	font-size: 0;

	z-index: 10;
	position: relative;

}

.options-menu-holder .inline-action {
	display: inline-block;
	vertical-align: middle;

	height: 70px;
}

.options-menu-holder .options-action-button {
	width: 140px;
	height: 32px;

	line-height: 32px;

	border: 1px solid #cdcdcd;
	text-align: center;

	border-radius: 20px;

  	font-family: 'AvenirNextLTPro-Demi';

  	text-transform: uppercase;

  	font-size: 12px;
  	color: #4a4a4a;

  	cursor: pointer;

  	box-sizing: border-box;
}

.options-menu-holder .options-action-button.next-step {
	background-color: #00ade4;
	color: white;

	border: 1px solid #00ade4;
}

.options-menu-holder .actions-wrapper {
	width: calc(100% - 240px - 42px);

	text-align: center;
	line-height: 70px;
}
