<div class="template-editor-wrapper" ng-click="hideAllOpenMenus($event)">
	<div class="navigation-menu">
		<div class="title-holder">
			<!-- <img src="/assets/images/tool-logo.svg"/> -->
			<i class="fa fa-id-badge" aria-hidden="true"></i>
			<p>Expo Badge Designer</p>
		</div>
		<div class="navigation-buttons-wrapper">
			<div class="button" ng-class="{'active-step' : (badgeEditorStep == 'template_editor.define' || badgeEditorStep == 'template_editor.define_badge')}">
				<div class="step">1</div>
				<div class="name">Define</div>
			</div>
			<div class="button" ng-class="{'active-step' : badgeEditorStep == 'template_editor.customize'}">
				<div class="step">2</div>
				<div class="name">Customize</div>
			</div>
			<div class="button" ng-class="{'active-step' : badgeEditorStep == 'template_editor.review'}">
				<div class="step">3</div>
				<div class="name">Review & Save</div>
			</div>
			<!-- <div class="button" ng-class="{'active-step' : badgeEditorStep == 'template_editor.order'}">
				<div class="step">4</div>
				<div class="name">Order Prints</div>
			</div> -->
		</div>
		<div class="your-cart-button" ng-style="badgeEditorStep != 'template_editor.define' && badgeEditorStep != 'template_editor.define_badge' ? {'visibility': 'visible'} : {'visibility': 'hidden'}" ng-click="backToPreviousStep()">
			<div class="text">Back</div>
		</div>
	</div>
	<div class="options-menu" ui-view="options-menu"></div>
	<div class="editor-scene">
		<div ui-view="components-menu" style="width: 75px"></div>
    <div ng-include="'app/views/template_editor/_badge/badgeEditorView.html'" class="badge-editor-work-area" ng-if="showBadge" style="width: {{badgeWidth * 96 + 18}}px; height: {{badgeHeight * 96 + 18}}px;"></div>
		<div class="layers-menu" ui-view="layers-menu"></div>
		<div class="order-container-view" ui-view="order-container-view"></div>
	</div>

    <script type="text/javascript" src="/assets/scripts/interactjs/dist/interact.js" charset="utf-8"></script>
</div>
