.template-editor-wrapper {
  height: 100vh;
  width: 100vw;
}

.template-editor-wrapper .navigation-menu {
  height: 70px;
  width: 100%;

  background-color: #727272;

  padding-left: 22px;
  padding-right: 22px;

  color: white;

  box-sizing: border-box;

  text-align: center;

  position: relative;
  z-index: 200;
}


.template-editor-wrapper .navigation-menu .title-holder {
  display: inline-block;
  vertical-align: middle;

  font-size: 18px;

  float: left;
  line-height: 70px;

  font-family: 'AvenirNextLTPro-Demi';

  height: 70px;
  overflow: hidden;
}

.template-editor-wrapper .navigation-menu .title-holder img {
  width: 40px;
  height: 33px;

  display: inline-block;
  vertical-align: middle;
}

.template-editor-wrapper .navigation-menu .title-holder .fa-id-badge {
  font-size: 37px;

  display: inline-block;
  vertical-align: middle;
}

.template-editor-wrapper .navigation-menu .title-holder p {
  display: inline-block;
  vertical-align: middle;

  margin: 0;
  margin-left: 14px;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
}

.template-editor-wrapper .navigation-menu .your-cart-button {
  float: right;
  font-size: 12px;

  font-family: 'AvenirNextLTPro-Demi';
  text-transform: uppercase;

  width: 140px;
  height: 30px;

  border: 1px solid white;
  border-radius: 20px;

  box-sizing: border-box;
  line-height: 30px;

  text-align: center;
  margin-top: 20px;

  cursor: pointer;

  transition: background-color .3s ease, color .3s ease, border .3s ease;
}

.template-editor-wrapper .navigation-menu .your-cart-button .fa {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 5px;
}
.template-editor-wrapper .navigation-menu .your-cart-button .text {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  line-height: 32px;
}

.template-editor-wrapper .navigation-menu .your-cart-button:hover {
  background-color: white;
  color: #727272;
  border: 1px solid #727272;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button {
  display: inline-block;
  vertical-align: middle;

  margin-right: 40px;
  font-family: 'AvenirNextLTPro-Demi';

  cursor: pointer;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button.active-step .step{
  background-color: #59bbe7;
  border: 1px solid #59bbe7;
  color: white;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button.active-step .name {
  color: white;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button.active {
  background-color: transparent;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .step, .name {
  display: inline-block;
  vertical-align: middle;

  color: #d4d4d4;
}


.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .step {
  width: 25px;
  height: 25px;

  line-height: 26px;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 100%;

  margin-right: 8px;

  transition: background-color .3s ease, border .3s ease, color .3s ease;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .name {
  line-height: 70px;

  transition: color .3s ease;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button.active .step {
  background-color: #59bbe7;
  border: 1px solid #59bbe7;
  color: white;
}

.template-editor-wrapper .navigation-menu .navigation-buttons-wrapper .button.active .name {
  color: white;
}

.template-editor-wrapper .editor-scene {
  height: calc(100vh - 140px);
  width: 100%;

  background-color: #e4e7e9;

  position: relative;

  z-index: 0;
}

.template-editor-wrapper .editor-scene .badge-editor-work-area {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  z-index: -1;
}
