<div class="options-menu-holder">
	<div class="options-action-button inline-action" ng-click="goToManageTemplates()">cancel</div>
	<div class="actions-wrapper inline-action customize" ng-class="{'visible': showCustomizeMenu, 'contain-switch': showBadgeSidesSwitch}">
		<action-bar-switch ng-hide="showBadgeSidesSwitch === false"></action-bar-switch>
		<div class="actions-area left">
			<action-bar-button name="Undo" icon="fa-reply-all" event="{{ undoEvent }}"></action-bar-button>
			<action-bar-button name="Redo" icon="fa-reply-all inversed" event="{{ redoEvent }}"></action-bar-button>
		</div>
		<div class="actions-area center">
			<action-bar-button-with-contextual-menu name="Align" icon="fa-align-left" contextual-menu-data={{alignContextualMenuData}}></action-bar-button-with-contextual-menu>
			<action-bar-button-with-contextual-menu name="Arrange" icon="fa-clone" contextual-menu-data={{arrangeContextualMenuData}}></action-bar-button-with-contextual-menu>
			<background-action-bar-button name="Background" icon="fa-square"></background-action-bar-button>
		</div>
		<div class="actions-area right">
			<zoom-button></zoom-button>
			<action-bar-button-with-contextual-menu name="Options" icon="fa-eye" contextual-menu-data={{optionsContextualMenuData}}></action-bar-button-with-contextual-menu>
		</div>
	</div>
	<div class="options-action-button inline-action next-step" ng-click="saveComponentsAndNextStep()">next</div>
</div>
