.actions-wrapper.inline-action.customize {
	padding-left: 7%;
	padding-right: 7%;

	box-sizing: border-box;
}

.actions-wrapper.inline-action.customize .actions-area {
	display: inline-block;
	vertical-align: middle;

	height: 70px;
	width: 90px;

	margin-right: 10%;
}

.actions-wrapper.inline-action.customize .actions-area:last-child {
	margin-right: 0;
}

.actions-wrapper.inline-action.customize .actions-area.left {
	width: 15%;
	text-align: left;
}

.actions-wrapper.inline-action.customize .actions-area.center {
	text-align: center;
	width: 40%;
}

.actions-wrapper.inline-action.customize .actions-area.right {
	text-align: right;
	width: 25%;
}

.actions-wrapper.inline-action {
	opacity: 0;
	visibility: hidden;

	transform: translateY(-75px);

	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .2s cubic-bezier(0.4, 0.0, 0.6, 1), transform .2s cubic-bezier(0.4, 0.0, 0.6, 1);
}

.actions-wrapper.inline-action.visible {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.actions-wrapper.inline-action.customize.contain-switch {
	padding-left: 10%;
	padding-right: 10%;
}

.actions-wrapper.inline-action.customize.contain-switch .actions-area {
	margin-right: 0;
}

.actions-wrapper.inline-action.customize.contain-switch .actions-area {
	margin-right: 0;
	width: auto;
}

.actions-wrapper.inline-action.customize.contain-switch .actions-area .action-bar-button {
	width: 90px;
	margin-right: 0px;
}

.actions-wrapper.inline-action.customize.contain-switch .actions-area .action-bar-button-with-menu {
	margin-right: 0px;
}

.actions-wrapper.inline-action.customize.contain-switch .action-bar-switch {
	margin-right: 10%;
}
