.registration-levels-setup{
  height: calc(100vh - 75px - 130px); //app header & form header
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
}

.registration-levels-setup-description{
  font-family: "AvenirNextLTPro-Demi";
  font-size: 16px;
  padding: 25px 0 25px 40px;
}

.registration-levels-setup-header > div:first-child {
  border-left-style: none;
}
// SCROLL

.registration-levels-setup-header .session-scroll-tab{
  display: inline-block;
  vertical-align: middle;
  box-shadow: -3px -2px 10px 0px #88888866;
}

.registration-levels-setup-header .session-scroll-button{
  border-left: 1px solid #cecece;
  cursor: pointer;
  width: 80px;
  font-family: "AvenirNextLTPro-Regular";
  text-align: center;
  background: #fafafa;
}

.description-level .character-counter-wrapper span {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    transition: color .3s ease;
}

.description-level .character-counter-wrapper span.warning {
    color: #F05C3F;
}
