
<div>
	<create-form-header></create-form-header>
	<div class="registration-levels-setup">
		<p class="registration-levels-setup-description">Create multiple registration levels and then customize the details for each level below.</p>

		<div class="registration-levels-setup-header">
			<div style="width: 42px;"></div>
			<div class="registration-slider-rail">
			<div ng-if="registrationLevels.length > 0" class="registration-header-levels">
				<div ng-click="selectLevel($index)" ng-repeat="level in registrationLevels track by $index" class="registration-header-level flex-row"
					style="justify-content: space-around;" ng-class="selectedLevel.id == level.id ? 'type-account-active' : 'registration-header-level-not-selected'">
					<p style="white-space: nowrap; width: 50%; min-width: 40px; height: 22px; overflow: hidden;text-overflow: ellipsis;"
							ng-click="selectedLevel.id == level.id ? editLevel(level, $index) : ''" ng-if="(!level.inEdit || level.inEdit == false) && level.name != ''">
						{{level.name}}
					</p>
					<input id="input{{$index}}" type="text" style="float:left; width: 80px; padding: 10px;" placeholder="Enter title..."
						ng-if="level.inEdit == true || level.name == ''"
						ng-model="level.newName" ng-blur="updateLevelName(level)">
					<div class="default-icon-circle" ng-click="deleteLevel(level, $index)" ng-if="selectedLevel.id == level.id">
            <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
          </div>
				</div>
			</div>
			<div class="add-level">
				<div ng-click="addNewLevel()">ADD</div>
				<span style="margin-left:20px;">
					<img src="assets/images/rolling.gif" ng-if="isLoading">
				</span>
			</div>
		</div>
			<div class="session-scroll-tab">
	        <div class="session-scroll-button tab-item" ng-click="scrollLeft()">
	          <
	        </div>
	        <div class="session-scroll-button tab-item" ng-click="scrollRight()">
	          >
	        </div>
	    </div>
		</div>

		<div>

				<div class="description-level">
					<div>
						<p>{{selectedLevel.name}} Level Description</p>
						<textarea ng-model="selectedLevel.description" ng-blur='updateLevel(selectedLevel)' ng-change="checkCharacterCounter(selectedLevel, 2000)"></textarea>
						<div class="character-counter-wrapper">
								<span ng-class="{'warning': lessThanTenCharactersLeft}">{{ characterCount || 0}} of 2000 characters used</span>
						</div>
						<div class="recommended-level flex-column" style="margin-top:20px;">
							<div style="margin-bottom: 12px;">
								<div class="checkbox-ico" ng-class="registrationForm.recommended_level == selectedLevel.id ? 'active' : ''" style="width:17px; margin-right:17px;"
									 ng-click="setRecommendedRegistrationLevel(selectedLevel)">
								</div>
								<div class="medium">Set this as the recommended registration type</div>
							</div>
							<div class="flex-row" style="align-items: center" ng-if="registrationForm.recommended_level == selectedLevel.id">
								<div class="medium" style="float:left; padding-left: 36px; margin-right: 13px; width: inherit;">
									Recommandation Label (ex: Recommended, Best Value, Most Popular)
								</div>
								<input style="float:left; margin-bottom: 0;" type="text" placeholder="Enter Label..." ng-model="registrationForm.recommandation_reason"
									   class="registration_level_benefit_item medium-bolder"
									   ng-blur='setRecommendedRegistrationReason(registrationForm.recommandation_reason)'>
							</div>
						</div>
					</div>
					<div>
						<p>List of Benefits</p>
						<div ng-if="selectedLevel.registrationlevelbenefit_set.length == 0">
							<input style="float:left;" type="text" placeholder="Enter Benefit..." class="registration_level_benefit_item"
							 ng-model="newBenefit.name" ng-blur='createNewBenefit(newBenefit)'>
							<div style="float:left;">
								<i class="fa fa-plus-circle cursor"
									style="font-size: 24px; color: #9b9b9b; margin-top: 9px;" aria-hidden="true"
									ng-click=""></i>
								<img src="assets/images/rolling.gif" ng-if="newBenefit.loading">
							</div>
						</div>

						<div ng-repeat="benefit in selectedLevel.registrationlevelbenefit_set" class="level-benefit-list">
							<input style="float:left;" type="text" placeholder="Enter Benefit..." ng-model="benefit.name" class="registration_level_benefit_item"
							ng-blur='createOrUpdateBenefit(benefit)'>
							<div style="float:left;">
								<i class="fa fa-minus-circle cursor"
									style="font-size: 24px; color: #9b9b9b; margin-top: 9px; margin-right: 14px;"
									aria-hidden="true" ng-click="removeBenefit(benefit)"></i>
								<i class="fa fa-plus-circle cursor"
									style="font-size: 24px; color: #9b9b9b; margin-top: 9px;" aria-hidden="true"
									ng-click="benefit.name != '' ? addNewBenefitOption() : ''" ng-if="$last"></i>
								<img src="assets/images/rolling.gif" ng-if="benefit.loading">
							</div>
						</div>

					</div>
				</div>

				<div style="height:30px">
					&nbsp;
				</div>

				<div class="pricing-level">
					<p>{{levelName}} Level Pricing</p>
					<div class="standard-price" ng-if="selectedLevel.registrationlevelpricing_set.length == 0">
						<input
							class="level-pricing-name"
							type="text"
							placeholder="Price Name"
							style="margin-right: 10px;"
							ng-model="standardPricing.name"
							ng-blur="setStandardPrice(standardPricing, selectedIndex)">
						<span style="position: relative; left: 20px; top: 1px">$</span><input type="text" style="padding-left: 20px;"
						ng-model="standardPricing.price"
						ng-change="securePricing(standardPricing)"
						placeholder="Value"
						ng-blur="setStandardPrice(standardPricing, selectedIndex)">
						<i class="fa fa-plus-circle cursor"
							style="font-size: 24px; color: #9b9b9b; margin-left: 12px;" aria-hidden="true"
							ng-click="addCustomPrice()" ng-if="!selectedLevel.hasCustomPrice"></i>
					</div>

					<div ng-repeat="pricing in selectedLevel.registrationlevelpricing_set">
						<div class="standard-price" ng-if="!pricing.starts_at && !pricing.ends_at">
							<input
								class="level-pricing-name"
								type="text"
								ng-model="pricing.name"
								ng-blur="setStandardPrice(pricing, selectedIndex)">
							<span style="position: relative; left: 20px; top: 1px;">$</span>
							<input type="text" style="padding-left: 20px;"
							 	ng-model="pricing.price"
							 	ng-change="securePricing(pricing)"
							 	ng-blur="setStandardPrice(pricing, selectedIndex)">
							 <i class="fa fa-plus-circle cursor"
								style="font-size: 24px; color: #9b9b9b; margin-left: 12px;" aria-hidden="true"
								ng-click="addCustomPrice()"
								ng-if="selectedLevel.registrationlevelpricing_set.length==1 && !selectedLevel.hasCustomPrice"></i>
						</div>
					</div>

					<div ng-repeat="pricing in selectedLevel.registrationlevelpricing_set"
						class="level-pricing-line">
						<div class="early-bird-price" ng-if="pricing.starts_at || pricing.ends_at">

							<input
								class="level-pricing-name"
								type="text"
								ng-model="pricing.name"
								ng-blur="updatePricing(pricing)">

							<span style="position: relative; left: 20px; top: 0">$</span><input type="text" style="padding-left: 20px;" ng-model="pricing.price"
							ng-change="securePricing(pricing)"
							ng-blur="updatePricing(pricing)">
							<p>Effective Dates</p>
							<input ng-model="pricing.starts_at_editable" class="registration-input-date" ng-blur="updatePricing(pricing);"
								   moment-picker="pricing.starts_at_editable"
								   format="M/D/YYYY"
								   start-view="day"
								   min-date="findIndexOfThisDate(pricing.starts_at_editable, 'start', sortedDatesForLevelPrices)"
								   max-date="pricing.ends_at_editable"
								   ng-readonly="true"
								   change="updateChangesOnPricing(newValue, oldValue, pricing)">
							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

							<p> to</p>
							<input
								   ng-model="pricing.ends_at_editable"
								   class="registration-input-date"
								   ng-blur="updatePricing(pricing);"
								   moment-picker="pricing.ends_at_editable"
								   format="M/D/YYYY"
								   start-view="day"
								   min-date="pricing.starts_at_editable"
								   disable="pricing.starts_at_editable == true || !pricing.starts_at_editable"
								   max-date="findIndexOfThisDate(pricing.ends_at_editable, 'end', sortedDatesForLevelPrices)"
								   change="updateChangesOnPricing(newValue, oldValue, pricing)"
								   ng-readonly="true">

							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

							<span style="width:10px"></span>

							<i class="fa fa-minus-circle cursor"
								style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
								aria-hidden="true" ng-click="removePricing(pricing.id)"></i>
							<i class="fa fa-plus-circle cursor"
								style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"
								ng-click="addCustomPrice()"
								ng-if="!selectedLevel.hasCustomPrice && isLastCustomPrice(pricing)"></i>
						</div>
					</div>
					<div class="early-bird-price" id="new-model-price-for-level" ng-if="selectedLevel.hasCustomPrice">
						<input
							class="level-pricing-name"
							type="text"
							placeholder="Price Name"
							ng-model="pricing.name"
							ng-blur="setCustomPrice(selectedIndex)">

						<span style="position: relative; left: 20px; top: 0">$</span><input type="text" style="padding-left: 20px;" ng-model="pricing.price" placeholder="Value"
							ng-change="securePricing(pricing)"
							ng-blur="setCustomPrice(selectedIndex)">
						<p>Effective Dates</p>

						<input placeholder="Starts At"
							   ng-model="pricing.starts_at_editable"
							   class="registration-input-date"
							   moment-picker="pricing.starts_at_editable"
							   format="M/D/YYYY"
							   start-view="day"
							   validate="true"
							   ng-readonly="true"
							   max-date="pricing.ends_at_editable" min-date="currentDate"
							   selectable="verifyIfDateIsAvailable(date, type, pricing, selectedLevel.registrationlevelpricing_set, 'start')" ng-readonly="true"
							ng-blur="setCustomPrice(selectedIndex)">
						<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>
						<p>to</p>

						<input placeholder="Ends At"
							   ng-model="pricing.ends_at_editable"
							   class="registration-input-date"
							   moment-picker="pricing.ends_at_editable"
							   format="M/D/YYYY"
							   start-view="day"
							   min-date="pricing.starts_at_editable"
							   disable="pricing.starts_at_editable == true || !pricing.starts_at_editable"
							   selectable="verifyIfDateIsAvailable(date, type, pricing, selectedLevel.registrationlevelpricing_set, 'end')"
							   ng-readonly="true"
							   ng-blur="setCustomPrice(selectedIndex);">
						<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

						<span style="width:10px"></span>

						<i class="fa fa-minus-circle cursor"
								style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
								aria-hidden="true" ng-click="removeCustomPrice()"></i>
					</div>
				</div>

				<div class="conference-session-form-holder continuing-education-session-edit">
	          <p style="font-size: 16px;">{{selectedLevel.name}} Level Sessions</p>
						<p>Remove any sessions that should not be included in the {{selectedLevel.name}} Level:</p>
	          <div class="sessions-for-this-level">
	              <div style="overflow-y: auto;" ng-if="!isLoadingSessions">
	            	<p ng-repeat="session in allSessionsRegistration"
									 ng-click="registrationSessionSelected(session, 'delete')"
									 ng-class="session.marked ? 'session-selected' : ''"
									 ng-if="canIncludeSession(session)">{{session.title}}</p>
	              </div>
	              <div style="overflow-y: auto" ng-if="isLoadingSessions">
	              		<div class="loading-verification" style="width: 40px; margin: 0 auto;">
				        				<img src="assets/images/rolling.gif" style="margin-top:120px">
				    				</div>
	              </div>
	              <div>
										<div class="cursor" ng-class="selectableRemove? '' : 'unclickable'" ng-click="removeSessionsFromLevel()">
												<span>REMOVE</span>
												<span><i class="fa fa-angle-right" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i></span>
										</div>
	              		<div class="cursor" ng-class="selectableAdd ? '' : 'unclickable'" ng-click="addSessionsToLevel()">
												<span><i class="fa fa-angle-left" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i></span>
												<span>ADD</span>
										</div>
	              </div>
	              <div style="overflow-y: auto;">
										<p ng-repeat="sessionOut in selectedLevel.registrationlevelsession_set"
											 ng-click="registrationSessionSelected(sessionOut.session, 'add')"
											 ng-class="sessionOut.session.marked ? 'session-selected' : ''">{{sessionOut.session.title}}</p>
								</div>
	          </div>
				</div>

		</div>
		<div class="create-registration-form-footer"
				style="width: 95.2%; margin-left: 40px; margin-bottom: 40px;">
			<div ui-sref="conferences.dashboard.registration.overview">Cancel</div>
			<div style="margin-left: 58vw;" ng-if="!inEdit" ui-sref="conferences.dashboard.registration.fields">Previous</div>
			<div ng-click="finishStep()" style="margin-left: 10px;" ng-class="isLoading ? 'grayed-out' : ''">NEXT</div>
		</div>
	</div>
</div>
