.head{
	background-color: #fff;
	height: 70px;
	border-bottom: 5px solid #26A7DE;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.head-logo {
    width: 140px;
    margin-left: 40px;
    float: left;
    margin-top: 20px;
}
.btn1, .btn2, .btnJoin{
	@include shape(170px, 30px, 20px);
	font-size: 12px;
	font-family: $font-family-demi !important;
	text-transform: none;
    line-height: 32px;
    text-align: center;
    border: 1px solid #cdcdcd;
    background-color: #fff !important;
    color: #4a4a4a;
}
.btn1{
    margin-right: 21px;
}
.btnJoin{
	margin-left: 25px;
	margin-right: 25px;
}
.btn2{
	font-family: $font-family-demi;
}

.user-img{
	@include shape(36px,36px,50%);
	background-color: #26A7DE;
}
.user-info{
	float: right;
    font-size: 14px;
    font-family: $font-family-medium;
    color: #4A4A4A;
    cursor: pointer;
    outline: none !important;
    margin-top: 25px;
	margin-right: 52px;
	& .user_avatar_holder div{
		position: relative;
		margin-top:-18px;
	    //bottom: 19px;
	    float: right;
	}
}

.user-info2 {
    align-items: center;
    font-size: 14px;
    font-family: $font-family-medium;
    color: #4A4A4A;
    cursor: pointer;
    outline: none !important;
}

.user-info[ng-click="displayInfo()"]:focus{
	border-style: none !important;
}
.user-info > p{
	padding-right: 23px;
}
.btn1.right-button-green{
    background-color: #fff !important;
    color: #68aa3b !important;
}

.superuser-support-button {
	background-color: #727272 !important;
	color: white;

	cursor: pointer;
	
}