<div class="head flex-row" style="align-items: center;">
	<div style="width: 74px; border-right: 1px solid #cdcdcd; height: inherit;">
		<img src="assets/images/expo_icon_svg.svg" class="head-logo" ui-sref="home.conference" 
			style="cursor: pointer; margin-left: 17px; margin-top: 17px; width: 38px;">
	</div>
	<div ng-if="display_conference && !display_join && !display_create" style="margin-right: auto;">
		<div style="display: flex; align-items: center; margin-left: 14px;" ng-if="!edit">
	        <img ng-src="{{coverScreenOptions.temporaryLogoUrl || conferenceDetails.logo || '/assets/images/conference-default-logo.png'}}"
	             err-src="/assets/images/conference-default-logo.png" class="conference-logo-img" style="margin-right: 11px; height: 43px;">
	        <p class="bold" style="font-size: 18px; color: #4a4a4a;">
                {{conferenceDetails.name}}
            </p>
	    </div>
		<div ng-if="edit" class="flex-row" style="align-items: center;">
			<img ng-src="{{conferenceDetails.logo || '/assets/images/conference-default-logo.png'}}"
	             err-src="/assets/images/conference-default-logo.png" class="conference-logo-img" style="margin-right: 21px; margin-left: 15px; height: 43px;">
	        <div class="drop-box drag-class" id="my-upload-button"
	             ngf-select="changeConferenceLogo($files, conferenceDetails);"
	             ngf-pattern="'image/*'"
	             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
	             ngf-min-width="50"
	             ngf-drag-over-class="'dragover'" ngf-multiple="false">
	            <div class="user-panel-change-image" style="color: #26A7DE; margin-top: 0;">Change<br>Logo</div>
	        </div>
	        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	        <div class="conference-title">
                <input class="conference-title conf-inp" type="text" ng-model="conferenceDetails.name"/>
            </div>
	    </div>
	</div>
    <div ng-if="display_create && display_join" style="margin-right: auto; margin-left: 14px;">
    	<span class="bold" style="font-size: 18px; color: #4a4a4a;">My Conferences</span>
    	<div ng-if="display_create && display_join && is_superuser" style="display: inline-flex;">
			<input 
				type="text" 
				placeholder="Search Conferences"
	           	ng-change="searchConferences(conferenceSearchQuery)" 
	           	ng-model-options="{debounce:750}"
	           	class="conference-list-search" 
	           	ng-model="conferenceSearchQuery"/>
		</div>
    </div>
    
    <div ng-if="display_conference && display_create" style="margin-right: auto; margin-left: 14px;">
    	<p class="bold" style="font-size: 18px; color: #4a4a4a;">Join a Conference</p>
    </div>
    <div ng-if="display_join && display_conference" style="margin-right: auto; margin-left: 14px;">
    	<p class="bold" style="font-size: 18px; color: #4a4a4a;">Create a Conference</p>
    </div>
	<div ng-if="is_superuser" class="btn1 superuser-support-button" ui-sref="home.support">SUPPORT</div>
	
	<div class="flex-row" style="align-items: center;">
		<div ng-if="display_join" class="btn1 cursor" ng-class="left_btn_style" ui-sref="home.exhibitor_join_conference" style="margin-right: 10px;">
			JOIN A CONFERENCE
		</div>
		<div ng-if="display_conference" class="btn1 cursor" ng-class="join_btn_style" ui-sref="home.conference">
			MY CONFERENCES
		</div>
		<div ng-if="display_create" class="btn1 cursor" ng-class="right_btn_style" ui-sref="home.create_conf">
			CREATE A CONFERENCE
		</div>
	</div>
	<div class="user-info" ng-click="openAccountProfile();">
		<useravatar image="user.profile_url"
					firstname="user.first_name"
					lastname="user.last_name">
		</useravatar>
	</div>
</div>