<div class="conf-tabs">
	<p style="margin-top: 40px; margin-bottom: 40px;">Upcoming Conferences</p>	
	<div>
		<div class="display-tab" ng-repeat="conference in vm.upcomingConferences" 
			ui-sref="{{(conference.conference_role == 'admin' || conference.conference_role == 'both') ? 
            'home.conference_details({conference_id: conference.conference_id })' : 'home.exhibitor_details({conference_id: conference.conference_id })'}}">
			<div class="conf-window">
				<span style="display: flex;
    height: 200px;
    text-align: center;
    align-items: center;">
					<img ng-src="{{conference.logo || '/assets/images/bloc.png'}}"
					 err-src="/assets/images/bloc.png">
				</span>
				
				<div>
					<p style="margin-top: 0; padding-right: 10px;">{{conference.name}}</p>
					<p>{{conference.date_from | date:'MM/dd/yyyy':conference.time_zone}} - {{conference.date_to | date:'MM/dd/yyyy':conference.time_zone}}</p>
					<p style="margin-bottom: 0;">{{conference.city}}, {{conference.state}}</p>
				</div>
				<div class="flex-row user-role" ng-class="vm.formatRole(conference.conference_role, conference.user_role, true) != 'Exhibitor' ?
					 	(vm.formatRole(conference.conference_role, conference.user_role, true) == 'Exhibitor & Conference Owner' ? 
					 	'background-width-conf-tab1' : 'background-color-conf-tab1') : 'background-color-conf-tab2'">
					<i class="fa fa-building" aria-hidden="true" 
						style="position: relative; font-size: 1.6em; left: 10px; top: 2px;" 
						ng-if="vm.formatRole(conference.conference_role, conference.user_role, true) != 'Exhibitor' || 
						vm.formatRole(conference.conference_role, conference.user_role, true) == 'Exhibitor & Conference Owner'"></i>
					<i class="fa fa-flag" aria-hidden="true" 
						style="color: #26a7de; position: relative; font-size: 1.6em; left: 10px; top: 2px;" 
						ng-if="vm.formatRole(conference.conference_role, conference.user_role, true) == 'Exhibitor' ||
						vm.formatRole(conference.conference_role, conference.user_role, true) == 'Exhibitor & Conference Owner'"></i>
					{{vm.formatRole(conference.conference_role, conference.user_role, true)}}
				</div>
			</div>
		</div>
	</div>
</div>