.conf-tabs{
	@include flex;
	& > div{
		@include flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	& p{
		font-size: 16px;
		font-family: $font-family-demi;
		color: #4a4a4a;
	}
}
.conf-window{
	@include flex;
	flex-direction: row;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	width: 620px;
	height: 200px;
	flex-wrap: wrap;
	cursor: pointer;
	& img{
		    max-width: 150px;
		    max-height: 150px;
		    margin-left: 20px;
		    margin-right: 16px;
		    margin-top: auto;
		    margin-bottom: auto;
		    align-items: center;
	}
	& div{
		color: #4a4a4a;
		width: 415px;
		margin-left: auto;
		& p{
			font-size: 16px;
			font-family: $font-family-demi;
			&:first-child{
				font-size: 18px !important;
				font-family: $font-family-bold !important;
				text-align: left;
				word-wrap: break-word;
    			width: 400px;
			}	
		}
	}
	& > .user-role{
		@include shape(150px, 30px, 0);
		font-size: 12px;
		font-family: $font-family-medium;
		font-weight: 600;
		line-height: 32px;
		position: relative;
	    bottom: 43px;
	    right: 10px;
	    align-items: baseline;
	    justify-content: space-around;
	    padding-right: 20px;
	}
}
.display-tab{
	margin: 10px 0 63px 0;
	padding-right: 25px;
    padding-left: 25px;
}
.background-color-conf-tab1{
	background-color:  #edf0f2;
}
.background-color-conf-tab2{
	background-color:  #e3f6ff;
}
.background-width-conf-tab1{
	background-color:  #edf0f2;
	width: 250px !important;
}
