<div class="attendee-refund-payment flex-column">
    <p class="demi">Refund Payment</p>
    <div class="flex-row">
        <useravatar image="attendee.attendee_photo"
                    firstname="attendee.first_name"
                    lastname="attendee.last_name"
                    size="35px"
                    fontsize="14px">
        </useravatar>
        <p class="demi">{{attendee.first_name + ' ' + attendee.last_name}}</p>
    </div>
    <div class="flex-row">
        <p class="medium">Refund to credit card (...{{attendeePayments.last4}})</p>
        <input type="number" ng-model="refundAmount" ng-blur="forceMaxRefundAmount()">
    </div>
    <div class="flex-row">
        <div ng-class="sendNotificationForRefund ? 'check-refund-notification' : ''" ng-click="sendNotificationForRefund = !sendNotificationForRefund">
            <img ng-if="sendNotificationForRefund" src="/assets/images/checked-ico.png" style=" width: 12px; position: relative; left: 3px; top: 1px;">
        </div>
        <p class="medium cursor">Send notification for refund (optional)</p>
    </div>
    <div class="flex-row">
        <div class="medium cursor" ng-click="closeThisDialog()">Cancel</div>
        <div class="demi cursor" ng-click="refundPayment()">REFUND ${{refundAmount}}</div>
    </div>
</div>
