.warning-screen{
	width: 620px;
	height: 440px;
	@include flex;
	background-color: #fff !important;
	margin-top: 27vh;
	text-align: center;
	box-shadow: 0 2px 4px $shadow, 0 -2px 4px $shadow !important;
	& i{
		margin-top: 62px;
		margin-bottom: 40px;
	}
	& .cancel-delete, & .delete-all{
		@include shape(150px, 40px, 20px);
		background-color: white !important;
		color: #4a4a4a !important;
		font-family: $font-family-demi;
		font-size: 14px;
		border: 1px solid #cdcdcd;
		margin-top: 35px;
	}
	& div:nth-child(2){
		font-family: $font-family-medium;
		font-size: 20px;
		margin-bottom: 30px;
		color: #4a4a4a;
		text-align: center;
	}
	& md-content{
		border-top: 1px solid #cdcdcd;
	}
}
.add-speaker-modal .intl-tel-input{
  width: 295.8px;

}
.add-speaker-modal .intl-tel-input input{
	width:100%;
	padding-left: 50px;
  height: 44px;
}
.add-speaker-modal .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
