<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div>
		Are you sure that you want to delete<br/>
			<ng-pluralize count="numberOfExhibitors"
			                when="{'-1': ' all exhibitors',
		                       '1': 'this exhibitor',
		                       'other': ' {{numberOfExhibitors}} exhibitors'}">
		  </ng-pluralize>
			?<br/> This will permanently remove<br/>them from your event.
</div>
</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="numberOfExhibitors == -1" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="deleteEvent(); closeThisDialog();">Delete All</md-button>
			<md-button ng-if="numberOfExhibitors > 0" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="deleteEvent(); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>
