<div class="modal-wrapper avery-redirect-modal">
	<i class="fa fa-print" aria-hidden="true"></i>
	<div class="text-line">Your selected attendees are ready.</div>
	<div class="separator"></div>
	<div class="go-button" ng-click="callAction(modalData)">Close</div>
</div>
