<div class="registration-code">
	<h6>Your Registration Form has been successfully created!</h6>
	<p>Got a Google or Facebook Tracking code? Just enter your code(s), click "Update Tracking Codes", then copy and paste the code into your website wherever you want the form to appear.
	</p>
	<div class="tracking-code">
		<div class="input-wrapper google-tracking">
		  <input type="text" placeholder="Your Google tracking code" ng-model="registrationForm.google_tracking_code">
		</div>
		<div class="input-wrapper facebook-tracking">
		  <input type="text" placeholder="Your Facebook tracking code" ng-model="registrationForm.facebook_tracking_code">
		</div>

			<button class="cursor" ng-click="updateTrackingCode();">UPDATE TRACKING CODES</button>
	</div>

	<div class="error-messages-wrapper" ng-click="openMerchantAgreementForm()">
		<div class="message" ng-repeat="message in registrationForm.error_messages">
			<i class="fa fa-exclamation-triangle"></i>
			<span>{{message}}</span>
		</div>
	</div>

	<div>
		<div style="overflow-y: auto;">
			<p ng-if="registrationForm.id && registrationForm.completed_at">
				<pre style="white-space: pre-line; margin: 0;">
      		<code id="registration_code" class="registration-code-style">&lt;div id="IframeDivId"&gt;&lt;/div&gt;
      			&lt;script&gt;
      		        &nbsp;&nbsp;(function(d, s, id){
      		        &nbsp;&nbsp;var js, fjs = d.getElementsByTagName(s)[0];
      		        &nbsp;&nbsp;if (d.getElementById(id)){ return; }
      		        &nbsp;&nbsp;js = d.createElement(s); js.id = id;
      		        &nbsp;&nbsp;js.onload = function(){
      		            &nbsp;&nbsp;&nbsp;&nbsp;showForm("IframeDivId", "{{getRegistrationFormHashedId(registrationForm.id)}}");
      		        &nbsp;&nbsp;};
      		        &nbsp;&nbsp;js.src = "{{getRegistrationJs()}}";
      		        &nbsp;&nbsp;fjs.parentNode.insertBefore(js, fjs);
      		        }(document, 'script', 'expo_js'));
      		    &lt;/script&gt;
      		</code>
        </pre>
			</p>
		</div>
		<div class="registration-code-button cursor" ng-click="copyCodeToClipboard()">Copy Code</div>
		<div class="cursor" ng-click="previewRegistrationForm(registrationForm)">Preview</div>
	</div>
</div>
