.registration-code {
	padding: 20px 42px 0;
	height: calc(100vh - 118px);
	width: 70%;
	background-color: white;

	& h6 {
		margin: 0;
	}

	& > h6 {
		font-family: $font-family-demi;
		font-size: 20px;
	}

	& > p {
		line-height: 25px;
		font-family: $font-family-medium;
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 22px;
	}

	& .tracking-code {
		display: block;
		position: relative;

		& > .input-wrapper {
			display: inline-block;
			position: relative;
			width: 40%;

			&.google-tracking:before {
				font-family: 'FontAwesome';
				position: absolute;
				height: 100%;
				left: 10px;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-pack: center;
				content: "\f1a0";
				color: #a7a7a7;
			}

			&.facebook-tracking:before {
				font-family: 'FontAwesome';
				position: absolute;
				height: 100%;
				left: 10px;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-pack: center;
				content: "\f09a";
				color: #a7a7a7;
			}

			&.facebook-tracking {
				position: absolute;
				right: 28px;
			}

			& > input {
				@include shape(100%, 40px, 0);
				font-size: 14px;
				font-family: $font-family-medium;
				padding-left: 25px;
				margin: 0 24px 0 0;
			}
		}

		& > button {
			@include shape(210px, 30px, 20px);
			font-family: $font-family-medium;
			font-size: 12px;
			text-align: center;
			line-height: 30px;
			border: 1px solid #cdcdcd;
			margin: 20px auto;
			display: block;
		}
	}

	& > div:nth-child(5) {
		padding-bottom: 58px;
		//border-bottom: 1px solid #cdcdcd;
		margin-bottom: 40px;
		margin-top: 24px;
		flex-direction: column;

		& > div:first-child {
			//height: 159px;
			font-family: $font-family-medium;
			font-size: 12px;
			margin-bottom: 20px;
			border: 1px solid #cdcdcd;
			padding: 8px 26px 5px 10px;
		}

		& > div:last-child {
			@include shape(150px, 40px, 20px);
			//align-self: flex-end;
			background-color: #68aa3b;
			color: #fff;
			text-align: center;
			line-height: 40px;
			font-family: $font-family-demi;
			font-size: 14px;
			float: right;
		}
	}

	& > div:nth-child(6) {
		& > p {
			&:first-child {
				font-family: $font-family-demi;
				font-size: 16px;
			}
		}

		& > div {
			margin-top: 15px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			& > p {
				font-family: $font-family-medium;
				font-size: 16px;
			}

			& > div {
				@include shape(150px, 40px, 20px);
				border: 1px solid #cdcdcd;
				font-family: $font-family-medium;
				font-size: 12px;
				text-align: center;
				line-height: 40px;
			}
		}
	}
}

.registration-code-style {
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.registration-code-button {
	width: 150px;
	height: 40px;
	border-radius: 20px !important;
	background-color: #68aa3b;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-family: "AvenirNextLTPro-Demi";
	font-size: 14px;
	margin-left: 10px;
	float: right;
}

.error-messages-wrapper {
	margin-top: 16px;
	margin-bottom: 16px;
	cursor: pointer;
}

.error-messages-wrapper .message {
	color: #E91D26;
	display: inline-flex;
}

.error-messages-wrapper .message .fa {
	font-size: 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

.error-messages-wrapper .message span {
	font-family: 'AvenirNextLTPro-Regular';
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	line-height: 24px;
}
