<div class="custom-modal-wrapper add-exhibitor warning">
		<i class="fa fa-exclamation-triangle"></i>
		<div class="warning-message">Are you sure that you want to delete this support contact? This will permanently remove the support contact!</div>
		<div class="warning-buttons">
			<div class="button cancel" ng-click="closeDialog()">cancel</div>
			<div class="empty-space"></div>
			<div class="button delete" ng-click="confirmDelete()">delete</div>
		</div>
</div>
