.custom-modal-wrapper.add-exhibitor.warning {
	text-align: center;
}

.custom-modal-wrapper.add-exhibitor.warning .fa {
	color: #26a7de;
	font-size: 64px;
}

.custom-modal-wrapper.add-exhibitor.warning .warning-message {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Regular';
	margin-bottom: 30px;
	margin-top: 40px;
	color: #4a4a4a;
}

.custom-modal-wrapper.add-exhibitor.warning .warning-buttons {
	border-top: 1px solid #cdcdcd;
	padding-top: 35px;
	text-align: left;
	height: 75px;
	box-sizing: border-box;
	font-size: 0;
}

.custom-modal-wrapper.add-exhibitor.warning .warning-buttons .button {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	height: 40px;
	border: 1px solid #cdcdcd;
	text-align: center;
	font-family: 'AvenirNextLTPro-Demi';
	line-height: 40px;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 14px;
	text-transform: uppercase;
	color: #4a4a4a;
	cursor: pointer;
	transition: color .2s ease, background-color .2s ease, border .2s ease;
}

.custom-modal-wrapper.add-exhibitor.warning .warning-buttons .empty-space {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: calc(100% - 300px);
}

.custom-modal-wrapper.add-exhibitor.warning .warning-buttons .button:hover {
	color: white;
	background-color: #4a4a4a;
}

.custom-modal-wrapper.add-exhibitor.warning .warning-buttons .button.delete:hover {
	background-color: #e91d26;
	border: 1px solid #e91d26;
}
