<div class="generic-actions-selector-wrapper" ng-class="{ 'visible': numberOfActionsAvailable > 0 }">
	<div class="generic-actions-selector-button" ng-click="toggleActionsList($event, listIsOpened)" click-outside='hideDropdown()'>
		ACTIONS
		<div class="dropdown-arrow"></div>
	</div>
	<div class="generic-actions-selector" ng-class="{'visible': listIsOpened}">
		<div class="action" ng-repeat="action in actions" ng-click="callAction(action)" ng-class="{'disable':!action.isAvailable}" ng-if="action.show_removed == showRemovedState || action.show_removed == null">{{action.label}}</div>
	</div>
</div>
