.generic-actions-selector-wrapper {
	width: 0px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	z-index: 5;
	overflow: hidden;
}

.generic-actions-selector-wrapper.visible {
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
	overflow: visible;
}

.generic-actions-selector-wrapper .generic-actions-selector-button {
	width: 170px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: white;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	transition: background-color .2s ease, color .2s ease;
	text-align: center;
}


.generic-actions-selector-wrapper .generic-actions-selector-button:hover {
	background-color: #727272;
	color: white;
}
.generic-actions-selector-wrapper .generic-actions-selector-button:hover .dropdown-arrow {
		background-color: #fff;

}

.generic-actions-selector-wrapper .generic-actions-selector-button:hover .dropdown-arrow:after {
	color: #727272;
}

.generic-actions-selector-wrapper .generic-actions-selector {
	position: absolute;
	width: 100%;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	top: calc(100% + 4px);
	z-index: 2;
	overflow: hidden;

	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;

	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
}

.generic-actions-selector-wrapper .generic-actions-selector .action {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	transition: background-color .2s ease, color .2s ease;
}

.generic-actions-selector-wrapper .generic-actions-selector .action:last-child {
	border-bottom: none;
}

.generic-actions-selector-wrapper .generic-actions-selector .action:hover {
	background-color: #4a4a4a;
	color: white;
}

.generic-actions-selector-wrapper .generic-actions-selector.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.generic-actions-selector-wrapper .generic-actions-selector .action.disable {
	background: #cdcdcd;
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
}

.generic-actions-selector-wrapper .generic-actions-selector .action.disable:hover {
	background-color: #cdcdcd;
	color: #4a4a4a;
}
