.badge-print-settings {
  width: 100%;
  display: block;
  font-size: 0;
  color: #4a4a4a;
  padding-top: 19px;
  padding-left: 42px;
  box-sizing: border-box;
}

.badge-print-settings .badge-print-settings-title {
  font-size: 20px;
  font-family: "Avenir Next";
  line-height: 36px;
  margin-bottom: 15px;
  display: block;
}

.badge-print-settings .badge-print-settings-loader {
  width: 100%;
  height: calc(93vh - 72px);
  display: block;
  font-size: 0;
  text-align: center;
  position: relative;
}

.badge-print-settings .badge-print-settings-loader .fa-spinner{
  display: inline-block;
  font-size: 64px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.badge-print-settings .badge-print-settings-allow-self-checkin-container {
  width: 63%;
  height: 66px;
  display: block;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  line-height: 66px;
  padding-right: 16px;
  box-sizing: border-box;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-text {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-buttons-container {
  display: inline-block;
  float: right;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-buttons-container .badge-print-settings-allow-self-checkin-button {
  width: 100px;
  line-height: 30px;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 500;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-buttons-container .badge-print-settings-allow-self-checkin-button:hover {
  background-color: #727272;
  font-weight: bold;
  color: white;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-buttons-container .badge-print-settings-allow-self-checkin-button.active {
	background-color: #727272;
  font-weight: bold;
  color: white;
}

.badge-print-settings-allow-self-checkin-container .badge-print-settings-allow-self-checkin-buttons-container
.badge-print-settings-allow-self-checkin-button:last-child {
  margin-left: 10px;
}

.badge-print-settings .badge-print-settings-upload-file-container{
  width: 63%;
  display: block;
  font-size: 0;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-text {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 19px;
  display: block;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-subtext {
  font-size: 14px;
  font-family: "Avenir Next";
  font-style: italic;
  line-height: 19px;
  display: block;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-buttons-container {
  width: 62%;
  margin-top: 19px;
  margin-bottom: 20px;
  display: block;
  font-size: 0;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-button {
  width: calc(50% - 15px - 2px);
  line-height: 28px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-button:hover {
  background-color: #727272;
  font-weight: bold;
  color: white;
}

.badge-print-settings-upload-file-container .badge-print-settings-upload-file-button:last-child {
  margin-left: 30px;
}

.badge-print-settings .badge-checkin-kiosk-container {
  width: 63%;
  display: block;
  font-size: 0;
  box-sizing: border-box;
}

.badge-checkin-kiosk-container .badge-checkin-kiosk-layout {
  width: 63%;
  height: 339px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  position: relative;
  background-image: url('/assets/images/cover-screen-default/conference_background_0.png');
  background-size: 100%;
}

.badge-checkin-kiosk-layout .badge-checkin-kiosk-button {
  width: 42%; // 190px
  line-height: 27px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  font-size: 9.6px;
  font-family: "Avenir Next";
  font-weight: 600;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.badge-checkin-kiosk-container .badge-checkin-kiosk-button-style-container {
  display: inline-block;
  width: calc(100% - 63% - 2px);
  padding-right: 21px;
  padding-left: 34px;
  padding-top: 15px;
  box-sizing: border-box;
  vertical-align: top;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container {
  display: block;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-title {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 19px;
  color: #4a4a4a;
  margin-bottom: 22px;
  text-align: center;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker {
  width: 100%;
  height: 23px;
  border: 1px solid #727272;
  margin-bottom: 14px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 3px;
  background-color: white;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker > div{
  height: 100%;
  overflow-y: hidden;
  background-size: cover;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker md-input-container{
  padding: 0;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker [md-color-picker] .md-color-picker-input-container .md-color-picker-preview,
.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-picker md-color-picker .md-color-picker-input-container .md-color-picker-preview{
  width: 100%;
  height: 100%;
  border-radius: 0;
  border-style: none;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-hex > input {
  width: 100%;
  height: 23px;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 19px;
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 9px;
  box-sizing: border-box;
}

.badge-checkin-kiosk-button-style-container .button-style-option-container .button-style-option-rgb-container {
  width: 100%;
  display: block;
  font-size: 0;
}

.button-style-option-container .button-style-option-rgb-container .button-style-rgb-tab {
  width: calc(100%/3);
  display: inline-block;
  color: #4a4a4a;
  line-height: 23px;
  position: relative;
  box-sizing: border-box;
}

.button-style-option-rgb-container .button-style-rgb-tab .button-style-rgb-tab-text {
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 27px;
  display: inline-block;
  padding-left: 8px;
}

.button-style-option-rgb-container .button-style-rgb-tab:first-child .button-style-rgb-tab-text {
  padding-left: 0;
}

.button-style-option-rgb-container .button-style-rgb-tab .button-style-rgb-tab-value {
  width: 74%;
  display: inline-block;
  position: absolute;
  left: 100%;
  transform: translate(-100%);
}

.button-style-option-rgb-container .button-style-rgb-tab .button-style-rgb-tab-value > input {
  width: 100%;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  border: 1px solid #cdcdcd;
  display: inline-block;
  box-sizing: border-box;
}

//save button container

.badge-print-settings .badge-checkin-save-button-container {
  margin-top: 35px;
  display: inline-block;
  width: 63%;
  text-align: right;
  line-height: 100px;
  border-top: 1px solid #cdcdcd;
}

.badge-checkin-save-button-container .save-checkin-settings-button{
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
	background-color: #68AA3B;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: bold;
  margin-right: 10%;
  cursor: pointer;
}
