<div class="badge-print-settings" ng-controller="badgePrintSettingsController">
  <div class="badge-print-settings-title">Expo Badge Print Settings</div>
  <!-- <div class="badge-print-settings-allow-self-checkin-container">
    <div class="badge-print-settings-allow-self-checkin-text">Allow attendees to Self Checkin via the mobile app:</div>
    <div class="badge-print-settings-allow-self-checkin-buttons-container">
      <div class="badge-print-settings-allow-self-checkin-button" ng-click="changeSelfCheckInOption(false)" ng-class="{'active': !selfCheckIn}">NO</div>
      <div class="badge-print-settings-allow-self-checkin-button" ng-click="changeSelfCheckInOption(true)" ng-class="{'active': selfCheckIn}">YES</div>
    </div>
  </div> -->
  <div class="badge-print-settings-loader" ng-show="displayLoader">
    <i class="fa fa-spinner fa-spin fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
  </div>
  <div class="badge-print-settings-upload-file-container" ng-show="!displayLoader">
    <div class="badge-print-settings-upload-file-text">Add Branding to your Checkin Kiosk</div>
    <div class="badge-print-settings-upload-file-subtext">(Acceptable file formats: .jpg, .png. Size to 2732 x 2048px)</div>
    <div class="badge-print-settings-upload-file-buttons-container">
      <div class="badge-print-settings-upload-file-button" ngf-select="uploadFiles($file, $invalidFiles)"
              accept="image/*" ngf-max-height="2048" ngf-max-width="2732" ngf-max-size="4MB">CHOOSE FILE...</div>
      <div class="badge-print-settings-upload-file-button" ng-click="clearCustomImage()">REMOVE</div>
    </div>
  </div>
  <div class="badge-checkin-kiosk-container"  ng-show="!displayLoader">
    <div class="badge-checkin-kiosk-layout" style="background-image: url({{customImage || '/assets/images/cover-screen-default/conference_background_0.png'}})">
      <div class="badge-checkin-kiosk-button" style="background-color: {{colorPickerButton}}; color: {{colorPickerText}}">CHECK IN</div>
    </div>
    <div class="badge-checkin-kiosk-button-style-container">
        <div class="button-style-option-container">
          <div class="button-style-option-title">Button color:</div>
          <div class="button-style-option-picker">
            <div md-color-picker md-color-hsl="false" default="white" style="height: 100%; overflow-y: hidden;" ng-model="colorPickerButton" ng-change="colorPickerButtonChanged(colorPickerButton)"></div>
          </div>
          <div class="button-style-option-hex">
            <input ng-model="colorPickerButton" ng-change="verifyHexColor(colorPickerButton)" maxlength="7">
          </div>
          <div class="button-style-option-rgb-container">
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">R</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="buttonColorRGB.red" min=0 max=255 ng-change="updateButtonColor(buttonColorRGB)">
              </div>
            </div>
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">G</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="buttonColorRGB.green" min=0 max=255 ng-change="updateButtonColor(buttonColorRGB)">
              </div>
            </div>
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">B</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="buttonColorRGB.blue" min=0 max=255 ng-change="updateButtonColor(buttonColorRGB)">
              </div>
            </div>
          </div>
        </div>
        <div class="button-style-option-container">
          <div class="button-style-option-title">Text color:</div>
          <div class="button-style-option-picker">
            <div md-color-picker md-color-hsl="false" default="black" style="height: 100%; overflow-y: hidden;" ng-model="colorPickerText" ng-change="colorPickerTextChanged(colorPickerText)"></div>
          </div>
          <div class="button-style-option-hex">
            <input ng-model="colorPickerText" ng-change="verifyHexColor(colorPickerText)" maxlength="7">
          </div>
          <div class="button-style-option-rgb-container">
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">R</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="textColorRGB.red" min=0 max=255 ng-change="updateTextColor(textColorRGB)">
              </div>
            </div>
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">G</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="textColorRGB.green" min=0 max=255 ng-change="updateTextColor(textColorRGB)">
              </div>
            </div>
            <div class="button-style-rgb-tab">
              <div class="button-style-rgb-tab-text">B</div>
              <div class="button-style-rgb-tab-value">
                <input type="number" ng-model="textColorRGB.blue" min=0 max=255 ng-change="updateTextColor(textColorRGB)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="badge-checkin-save-button-container"  ng-show="!displayLoader">
      <div class="save-checkin-settings-button" ng-click="saveBadgePrintSettings()">SAVE</div>
    </div>
  </div>
</div>
