.badge-item-wrapper{
  width: 100%;
  background-color: #e4e7e9;
  display: block;
  height: 138px;
  border-bottom: 1px solid #aaa;
  color: #4a4a4a;
  font-size: 0;
  line-height: 138px;
  position: relative;
}
.badge-item-wrapper .badge-item-details{
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.badge-item-details .badge-item-info{
  display: inline-block;
  vertical-align: middle;
  margin-left: 17.8px;
}
.badge-item-info .badge-item-title{
  font-family: $font-family-demi;
  font-size: 16px;
  line-height: 20px;
}
.badge-item-info .badge-item-dimensions, .badge-item-info .badge-item-print-type{
  font-family: $font-family-medium;
  font-size: 14px;
  line-height: 24px;
}
.badge-item-details .badge-item-layouts{
  display: inline-block;
  vertical-align: middle;
}
.badge-item-layouts > img{
  @include shape(101px, 71px, 0);
  border: 0.5px solid #9b9b9b;
  &:first-child{
    margin-right: 16.8px;
  }
}
.badge-item-wrapper .badge-item-order-details{
  display: inline-block;
  line-height: normal;
  width: 32%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -5%;
}
.badge-item-order-details .badge-item-quantity{
  display: inline-block;
  vertical-align: middle;
}
.badge-item-quantity .quantity-selector{
  display: inline-block;
  @include shape(103px, 30px, 20px);
  background-color: #fff;
  border: 1px solid #cdcdcd;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  vertical-align: middle;
  margin-left: 5.5px;
}
.badge-item-quantity .quantity-selector-text, .badge-item-order-details .badge-item-price{
  display: inline-block;
  font-size: 14px;
  font-family: $font-family-medium;
  vertical-align: middle;
  line-height: 40px;
}
.badge-item-order-details .badge-item-price{
  float: right;
  & > span{
    margin-left: 15.5px;
  }
}
