<div class="badge-item-wrapper">
  <div class="badge-item-details">
      <div class="badge-item-layouts">
        <img>
        <img>
      </div>
      <div class="badge-item-info">
        <div class="badge-item-title">Badge Title</div>
        <div class="badge-item-dimensions">Width: {{}}” Length: {{}}”</div>
        <div class="badge-item-print-type">Print: {{}}</div>
      </div>
  </div>
  <div class="badge-item-order-details">
      <div class="badge-item-quantity">
        <div class="quantity-selector-text">Quantity:</div>
        <div class="quantity-selector"></div>
      </div>
      <div class="badge-item-price">
        Price: <span>{{10 + 20 | currency : '$' : 2}}</span>
      </div>
  </div>
</div>
