// @for $i from 1 through 3 {
// 	.support-contact-info:nth-child(#{$i}) div:first-child:after{
// 		content: '*';
// 		color: #f58a1c;
// 	}
// }
//
// .add-support-contact-modal{
// 	@include modal;
// 	@include shape(620px, 610px, 0);
// 	margin-top: 200px;
// 	padding-top: 38px;
// 	padding-right: 50px;
// 	padding-bottom: 20px;
// 	padding-left: 30px;
// 	color: #4a4a4a;
// 	& p{
// 		margin-top: 0;
// 		margin-bottom: 0;
// 	}
// 	& > p{
// 		font-size: 20px;
// 		font-family: $font-family-demi;
// 		margin-bottom: 30px;
// 	}
// 	& .support-contact-info, & .exhibitor-contact-info{
// 		@include flex;
// 		flex-direction: row;
// 		margin-bottom: 10px;
// 		& div:first-child{
// 			font-family: $font-family-demi;
// 			font-size: 14px;
// 			width: 230px;
// 		}
// 		& div:last-child input{
// 			@include shape(306.77px, 40px, 0);
// 			padding-left: 10px;
// 		}
// 		&:nth-child(5) div:last-child input{
// 			width: 160px;
// 		}
// 	}
// 	& .support-contact-info:nth-child(6) div:first-child:after{
// 		content: '*';
// 		color: #f58a1c;
// 	}
// 	& .photo-field{
// 		@include flex;
// 		flex-direction: row;
// 		margin-bottom: 20px;
// 		padding-top: 13px;
// 		& div:first-child{
// 			font-family: $font-family-medium;
// 			font-size: 14px;
// 			width: 230px;
// 		}
// 		& div:last-child{
// 			//margin-left: 10px;
// 			& p{
// 				font-family: $font-family-medium;
// 				font-size: 14px;
// 				color: #26a7de;
// 			}
// 		}
// 	}
// 	& form > p{
// 		font-family: $font-family-medium;
// 		font-size: 12px;
// 		color: #f58a1c;
// 	}
// 	& form{
// 		margin-bottom: 22px;
// 	}
// 	& md-content{
// 		padding-top: 30px;
// 		border-top: 1px solid #cdcdcd;
// 	}
// 	& .btnCancel{
// 		@include shape(148px, 40px, 20px);
// 		background-color: #fff !important;
// 		border: 1px solid #cdcdcd;
// 		color: #4a4a4a !important;
// 		font-family: $font-family-medium;
// 		text-transform: none;
// 	}
// 	& .btnSave{
// 		@include shape(148px, 40px, 20px);
// 		background-color: #68aa3b !important;
// 		color: #fff !important;
// 		font-family: $font-family-bold;
// 		margin-left: 38px;
// 		margin-right: 8px;
// 	}
// 	& .btnSaveAndAdd{
// 		@include shape(190px, 40px, 20px);
// 		background-color: #68aa3b !important;
// 		color: #fff !important;
// 		font-family: $font-family-bold;
// 	}
// }
.add-support-contact-modal .support-contact-info div:last-child  .intl-tel-input{
 width: 306px;
}
.add-support-contact-modal .support-contact-info .intl-tel-input .flag-container{
  width: auto !important;
}
.add-support-contact-modal .support-contact-info div:last-child  .intl-tel-input .flag-container .selected-flag{
 width: 70px !important;
}
.add-support-contact-modal .support-contact-info div:first-child .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 .selected-flag{
  width: 70px;
}
.add-support-contact-modal .support-contact-info div:last-child .intl-tel-input .iti-flag {
    width: 20px;
  }
.add-support-contact-modal .support-contact-info .intl-tel-input .country-list .flag{
    width: auto !important;
  }
.add-support-contact-modal .support-contact-info div:last-child .intl-tel-input input{
	width:100%;
	padding-left: 70px !important;
}
.add-support-contact-modal .support-contact-info div:last-child .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
