<div class="add-support-contact-modal" style="margin-top: calc(50vh - 300px);">
	<p>{{title}}</p>
	<form name="support_contact">
		<div ng-repeat="field in contactLabels" class="support-contact-info">
			<div>{{field.label}}</div>
			<div>
				<input type="text" name="{{field.code}}" required ng-if="field.code != 'phone_number'"
				ng-class="({{field.code}} != company_name && support_contact.{{field.code}}.$touched && support_contact.{{field.code}}.$invalid) ? 'required' : ''"
				ng-model="newSupportContact[field.code]">
				<input type="text" name="{{field.code}}" required ng-if="field.code == 'phone_number'"
				ng-class="({{field.code}} != company_name && support_contact.{{field.code}}.$touched && support_contact.{{field.code}}.$invalid) ? 'required' : ''"
				ng-model="newSupportContact[field.code]" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input>
			</div>
		</div>
		<div class="photo-field" style="margin-top: -10px;">
			<div class="demi">Photo</div>
			<div>
				<span ngf-select="uploadSupportPhoto($files, newSupportContact);" class="add_attendee_upload_link"
					  style="margin-top: -10px;"
					  ngf-pattern="'image/*'"
					  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
					  ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<div class="attendee-upload-image">
						<div ng-if="newSupportContact.photo">
							<img ng-src="{{newSupportContact.photo}}" class="img-circle user-img-small">
							<div style="padding-top:10px;"> Upload from computer</div>
						</div>
						<div ng-if="!newSupportContact.photo" style="margin-bottom: 0; height: 50px; float: left; line-height: 50px;">
							<img style="float:left" ng-if='!newAttendeeInfo.attendee_photo'
								src="/assets/images/default-profile-img.png"/>
							<div style="float:left; margin-left: 15px;">Upload from computer</div>
						</div>
					</div>
				</span>
				<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
			</div>
		</div>
		<p>*Required</p>
	</form>
	<md-content>
		<md-button class="md-raised md-primary btnCancel" ng-click="closeThisDialog()">Cancel</md-button>
		<md-button class="md-raised md-primary btnSave" ng-if="newContact"  ng-click="createNewSupportContact(newSupportContact, true);"
		ng-class="canSaveSupportContacts(newSupportContact) ? '' : 'form_inactive'">Save</md-button>
		<md-button class="md-raised md-primary btnSaveAndAdd" ng-if="newContact" ng-click="createNewSupportContact(newSupportContact, false);"
		ng-class="canSaveSupportContacts(newSupportContact) ? '' : 'form_inactive'">Save & 	Add Another
		</md-button>
		<md-button class="md-raised md-primary btnSave" ng-if="!newContact" style="float: right;" ng-click="updateSupportContact(newSupportContact);"
		ng-class="canSaveSupportContacts(newSupportContact) ? '' : 'form_inactive'">Save</md-button>
	</md-content>
</div>
