.generic-settings-tool-wrapper {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.generic-settings-tool-wrapper .button {
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid #cdcdcd;
	border-radius: 100%;
	text-align: center;
	background-color: white;
	color: #727272;
	margin-left: 15px;
	line-height: 36px;
	font-size: 20px;
	cursor: pointer;

	transition: background-color .2s ease, color .2s ease;
}

.generic-settings-tool-wrapper .button:hover {
	background-color: #727272;
	color: white;
}

.generic-settings-tool-wrapper .settings-modal-wrapper {
	position: absolute;
	width: 550px;
	border: 1px solid #cdcdcd;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	background-color: white;
	border-radius: 5px;
	padding-left: 16px;
	padding-right: 16px;

	background-color: white;
	right: 0px;
	top: calc(100% + 4px);

	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;

	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
	overflow: hidden;
}

.generic-settings-tool-wrapper .settings-modal-wrapper.opened {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
	z-index: 5;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part {
	border-bottom: 1px solid #cdcdcd;
	width: calc(100% + 36px);
	margin-left: -18px;
	padding-left: 18px;
	padding-right: 18px;
	box-sizing: border-box;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper {
	padding-top: 18px;
	line-height: 28px;
	z-index: 1;
	position: relative;
	background-color: white;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .description {
	color: #4A4A4A;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 12px;
	display: inline-block;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions {
	float: right;
}
.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions .not-showing{
	display:none !important;
}
.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions .default {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 12px;
	display: inline-block;
	line-height: 12px;
  vertical-align: middle;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions .action {
	display: inline-block;
	vertical-align: middle;
	font-family: 'AvenirNextLTPro-Regular';
	color: #26A7DE;
	font-size: 12px;
	line-height: 12px;
	margin-right: 24px;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;

	transition: border-bottom .2s ease;

	cursor: pointer;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions .action:hover {
	border-bottom: 1px solid #26A7DE;
}


.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .fields-actions-wrapper .actions .action:last-child {
	margin-right: 0;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper {
	font-size: 0px;
	line-height: normal;
	margin-top: 10px;
	max-height: calc(100vh - 330px);
	overflow: hidden;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper .generic-field {
	line-height: normal;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	width: 33.3%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	margin-bottom: 22px;
	cursor: pointer;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper .generic-field .select-box {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	border: 1px solid #979797;
	background-color: white;
	color: white;
	box-sizing: border-box;
	font-size: 12px;
	transition: background-color .2s ease, color .2s ease, border .2s ease;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper .generic-field .select-box.selected {
	background-color: #26A7DE;
	color: white;
	border: 1px solid #26A7DE;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper .generic-field .select-box.selected .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
}

.generic-settings-tool-wrapper .settings-modal-wrapper .upper-part .generic-fields-wrapper .generic-field .label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: calc(100% - 25px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part {
	height: 62px;
	line-height: 62px;
	font-size: 0;
	z-index: 1;
	background-color: white;
	position: relative;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings {
	display: inline-block;
	vertical-align: middle;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings.table-settings {
	width: 60%;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings.view-settings {
	width: 40%
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings .description {
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;

}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings .value {
	width: 32px;
	height: 32px;
	border: 1px solid #cdcdcd;
	border-radius: 100%;
	color: #4A4A4A;
	margin-right: 16px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	background-color: white;
	transition: background-color .2s ease, color .2s ease, border .2s ease;
	cursor: pointer;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings .value:last-child {
	margin-right: 0px;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings .value .fa.inverted {
	transform: rotate(270deg);
	margin-left: 2px;
	line-height: 28px;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .down-part .settings .value.selected {
	background-color: #26A7DE;
	color: #FFFFFF;
	border: 1px solid #26A7DE;
	font-weight: bold;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .apply-settings {
	width: calc(100% + 32px);
	margin-left: -16px;
  padding-left: 18px;
  padding-right: 18px;
	padding-top: 18px;
	border-top: 1px solid #cdcdcd;
  box-sizing: border-box;
	display: none;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .apply-settings.active {
	display: block;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .apply-settings .button {
	width: 100px;
  height: 30px;
  border-radius: 25px;
  margin: 0px;
  margin-left: calc(100% - 100px);
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  background-color: #68aa3b;
  border: 1px solid #68aa3b;
  color: white;
  font-family: 'AvenirNextLTPro-Bold';
	transition: background-color .2s ease, color .2s ease;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .apply-settings .button:hover {
	background-color: white;
	color: #68aa3b;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .buttons-wrapper {
	width: calc(100% + 32px);
	height: 68px;
	margin-left: -16px;
  padding-left: 18px;
  padding-right: 18px;
	border-top: 1px solid #cdcdcd;
  box-sizing: border-box;
	line-height: 68px;
	z-index: 1;
	background-color: white;
	position: relative;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .buttons-wrapper .button {
  height: 30px;
  border-radius: 25px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 12px;
  color: white;
  font-family: 'AvenirNextLTPro-Bold';
	transition: background-color .2s ease, color .2s ease;
  user-select: none;
	cursor: pointer;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .buttons-wrapper .button.apply {
	width: 100px;
	background-color: #68aa3b;
	border: 1px solid #68aa3b;
	background-color: #68aa3b;
	text-transform: uppercase;
	float: right;
	top: 50%;
	transform: translateY(-50%);
}

.generic-settings-tool-wrapper .settings-modal-wrapper .buttons-wrapper .button.toggle-removed {
	width: auto;
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	border: 1px solid #26a7de;
	color: #26a7de;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 0px;
}

.generic-settings-tool-wrapper .settings-modal-wrapper .buttons-wrapper .button.toggle-removed.active {
	background-color: #26a7de;
	color: white;
}
