<div class="generic-settings-tool-wrapper">
	<div class="button" ng-click="openSettingsModal($event, settingsModalOpened)" id="settings-button">
		<i class="fa fa-sliders"></i>
	</div>
	<div class="settings-modal-wrapper" ng-class="{'opened': settingsModalOpened}" click-outside='hideDropdown()' outside-if-not="settings-button">
		<div class="upper-part">
			<div class="fields-actions-wrapper">
				<div class="description">Showing Fields:</div>
				<div class="actions">
					<div class="action" ng-click="toggleAllFieldsSelectionState($event, fields, true)" ng-if="!allFieldAreSelected">Select all</div>
					<div class="default" ng-class="{'not-showing':showDefaultFields }">No fields are currently selected. <div class="action" ng-click="showDefaultFieldsState($event)">Show Default</div></div>
					<div class="action" ng-class="{'not-showing':!showDefaultFields }" ng-click="toggleAllFieldsSelectionState($event, fields, false)">Deselect all</div>
				</div>
			</div>
			<div class="generic-fields-wrapper">
				<div class="generic-field" ng-repeat="field in fields" ng-click="toggleFieldSelectState($event, field)">
					<div class="select-box" ng-class="{'selected': field.selected}">
						<i class="fa fa-check"></i>
					</div>
					<div class="label">
						{{field.label}}
					</div>
				</div>
			</div>
		</div>
		<div class="down-part">
				<div class="table-settings settings">
					<div class="description">Results to Display:</div>
					<div class="density-value value" ng-repeat="density in tableDensitiesDefault" ng-class="{'selected': density.selected}" ng-click="selectTableDensity($event, density)">
						{{density.page_size}}
					</div>
				</div>
		</div>
		<div class="buttons-wrapper">
			<div class="button apply" ng-click="applySettings($event)">
				apply
			</div>
			<div class="button toggle-removed" ng-click="toggleRemovedItemsFlag($event, showRemovedState)" ng-class="{'active': showRemovedState}" ng-if="removedItemsMeta">
				{{removedItemsMeta.label}}
			</div>
		</div>
	</div>
</div>
