.fields-wrapper.image .add-custom-component-button {
	margin-bottom: 15px;
}

.fields-wrapper.image .add-custom-component-button.higher-margin {
	margin-top: 25px;
}

.fields-wrapper.image .add-custom-component-button.higher-margin.crop .fa {
	color: #727272
}

.fields-wrapper.image .add-custom-component-button.higher-margin.crop:hover .fa {
	color: white;
}

.fields-wrapper.image .constraining-wrapper .constrain-checker {
	width: 18px;
	height: 18px;

	border: 1px solid #aaaaaa;
	border-radius: 100%;

	text-align: center;
	line-height: 20px;

	display: inline-block;
	vertical-align: middle;

	cursor: pointer;
	
	transition: background-color .2s ease;
}

.fields-wrapper.image .constraining-wrapper .constrain-checker .fa {
	color: #edf0f2;
	margin-right: 1px;

	transition: color .2s ease;
}

.fields-wrapper.image .constraining-wrapper .name {
	color: #4a4a4a;
}

.fields-wrapper.image .constraining-wrapper .constrain-checker:hover {
	background-color: #727272; 
}

.fields-wrapper.image .constraining-wrapper .constrain-checker:hover .fa {
	color: white;
}

.fields-wrapper.image .constraining-wrapper.active {
	background-color: transparent;
}

.fields-wrapper.image .constraining-wrapper.active .constrain-checker {
	background-color: #727272;
}

.fields-wrapper.image .constraining-wrapper.active .constrain-checker .fa {
	color: white;
}