<div class="fields-wrapper image">
	<div class="add-custom-component-button" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" multiple="false">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
		<div class="text">Image</div>
	</div>
	<div class="constraining-wrapper" ng-click="toggleConstrain(isConstrained)" ng-class="{'active': isConstrained}">
		<div class="constrain-checker">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
		<div class="name"> Constrain Image </div>
	</div>
	<div class="styles-holder">
		<div class="value-holder">Opacity: {{transparencyLevel}}%</div>
		<input type="range" name="points" min="0" max="100" class="slider" ng-model="transparencyLevel" ng-change="notifyComponentToUpdateTransparencyLevel(transparencyLevel)">
	</div>
</div>
