<div class="manage-notifications-wrapper">
    <div class="notifications-main-view" id="notifications-main-view">
        <div class="title"> Push Notifications</div>

        <div class="notification-creator">
            <div class="text-area-wrapper">
                <textarea ng-change="checkCharacterCounter(notificationTextContent, 140)" ng-model="notificationTextContent" ng-trim="false" ng-class="{'error': errorOnText}"></textarea>

                <span emoji-picker="notificationTextContent"
                    style="margin-top: 60px; margin-left: -30px;"
                    placement="left"
                    on-change-func="calculateCharacterCounter(notificationTextContent, 140)"
                    title="Emoji" output-format="unicode"></span>
                <div class="character-counter-wrapper">
                    <span ng-class="{'warning': lessThanTenCharactersLeft}">{{ characterCount || 0}} of 140 characters used</span>
                </div>
                <div class="link-to-button" ng-click="checkLinkOption(linkOptionActive)">
                    <div class="checkbox-ico" ng-class="{'active': linkOptionActive}"></div>Link to
                </div>
            </div>

            <div class="linking-area" ng-if="linkOptionActive">
                <div class="category-selection half">
                    <div class="title">Link to:</div>
                    <select class="category-selector" ng-model="model.selectedTarget" ng-change="changeLinkType(model.selectedTarget)">
                        <option value="session">Sessions</option>
                        <option value="exhibitor">Exhibitors</option>
                        <option value="speaker">Speakers</option>
                    </select>
                </div>
                <div class="category-details half" ng-if="model.selectedTarget">
                    <div class="title">Select target {{ model.selectedTarget }}:</div>
                    <div class="items-box">
                        <div class="list-item" ng-repeat="session in sessions" ng-if="model.selectedTarget === 'session'"
                        ng-class="(selectedTargetItemId == session.id) ? 'active' : ''"
                        ng-click="checkSelectedTarget(session.id, $event)">{{session.title}}</div>
                        <div class="list-item" ng-repeat="exhibitor in exhibitors" ng-if="model.selectedTarget === 'exhibitor'"
                        ng-class="(selectedTargetItemId == exhibitor.id) ? 'active' : ''"
                        ng-click="checkSelectedTarget(exhibitor.id, $event)">{{exhibitor.name}}</div>
                        <div class="list-item" ng-repeat="speaker in speakers" ng-if="model.selectedTarget === 'speaker'"
                        ng-class="(selectedTargetItemId == speaker.id) ? 'active' : ''"
                        ng-click="checkSelectedTarget(speaker.id, $event)">{{speaker.first_name}} {{ speaker.last_name }}</div>
                    </div>
                </div>
            </div>
            <div class="scheduling-area-wrapper">
                <div class="scheduling-item">
                    <div class="name">Send to:</div>

                    <div ng-repeat="targetSelector in targetSelectors" class="target-selector-wrapper">
                        <select class="target-selector selector" ng-model="targetSelector.sendToType"
                                style="width: 187px;"
                                ng-change="selectSendTotType(targetSelector)">
                             <option value="send_to_everyone" ng-if="targetSelectors.length == 1">
                                Everyone
                            </option>
                            <option value="send_to_exhibitors" ng-if="showOtherNotificationOption(targetSelector,'send_to_exhibitors')">
                                All Exhibitors
                            </option>
                            <option value="send_to_organizers" ng-if="showOtherNotificationOption(targetSelector,'send_to_organizers')">
                                All Staff Users
                            </option>
                            <option value="send_to_attendees" ng-if="showOtherNotificationOption(targetSelector,'send_to_attendees')">
                                All Attendees
                            </option>
                            <!-- <option value="{{option.key}}" ng-repeat="option in sendOptions"
                                ng-if="showAllNotificationOption()">
                                {{option.label}}
                            </option> -->
                            <option value="registration_level" ng-if="showNotificationLevelOption(targetSelector)">Registration Level</option>
                            <option value="custom_{{custom_field.id}}" ng-repeat="custom_field in customFieldSendToList"
                                ng-if="showCustomFieldSendToOption(targetSelector, custom_field)">
                                {{custom_field.label}}
                            </option>

                        </select>
                        <select
                            ng-if="targetSelector.sendToType == 'registration_level'"
                            style="margin-left: 10px;"
                            class="target-selector selector" ng-model="targetSelector.selectedLevel"
                            ng-change="requestCostAll(targetSelectors)">
                            <option ng-repeat="level in createdRegistrationLevels" ng-value="{{level.id}}" ng-if="showNotificationLevel(targetSelector, level)"> {{ level.name || 'This level is not named!' }}</option>
                        </select>
                        <select
                            ng-if="customFieldKeys.indexOf(targetSelector.sendToType) > -1"
                            style="width: 120px; margin-left: 10px;"
                            class="target-selector selector" ng-model="targetSelector.selectedOption"
                            ng-change="requestCostAll(targetSelectors)">
                            <option ng-repeat="option in customFieldOptions[targetSelector.sendToType]"
                                    ng-if="showNotificationCustomOption(targetSelector, option)"
                                    ng-value="{{option.id}}">
                                {{ option.label}}
                            </option>
                        </select>

                        <div class="add-new-target-button plus" ng-click="addNewTargetSelector()"
                            ng-class="(canAddTargetSelectorNotification()) ? '':'item-inactive'"
                            style="left: {{plusBtnLeft}}">
                            <i class="fa fa-plus-circle" aria-hidden="true" style="display:inline-block"></i>
                        </div>

                        <div class="add-new-target-button" ng-click="removeNewTargetSelector(targetSelector)"
                            ng-class="(targetSelectors.length > 1) ? '':'item-inactive'"
                            ><i class="fa fa-minus-circle" aria-hidden="true" style="display:inline-block"></i>
                        </div>
                    </div>
                </div>
                 <div class="scheduling-item">
                    <div class="name">Send on:</div>
                    <input
                        placeholder="Select Time"
                        ng-model="sendDateEditable"
                        class="push-notifications-hour-input"
                        moment-picker="sendDateEditable"
                        ng-readonly="true"
                        min-date="notificationMinTimeMoment"
                        format="MMM D, YYYY LT"
                        start_view="day">
                    <i class="fa fa-clock-o input-icon-push-notifications" aria-hidden="true"></i>
                </div>
            </div>
            <div style="font-size: 0">
                <div class="credits-counter">
                    <div class="credits-bar">
                        <div class="inner-credits-bar" style="width: {{usedCreditsPercentage}}%" ng-class="{'error': moreCreditsAreNecessary}">
                            <p ng-if="moreCreditsAreNecessary">{{ necessaryCreditsToCompleteSchedule | number : 0}} additional credits required</p>
                        </div>
                    </div>
                    <div class="credits-number">{{ remainingCredits | number : 0}} credits remaining</div>
                </div>
                <div class="schedule-button" ng-click="scheduleNotification(notificationTextContent, sendDate, targetSelectors)">
                    <span ng-if="!editScheduledNotificationId">Schedule</span>
                    <span ng-if="editScheduledNotificationId">
                        Edit
                    </span>
                </div>
                <span ng-if="editScheduledNotificationId" class="cancel-edit-button"
                        ng-click="cancelEditNotification()">
                    Cancel
                </span>
                <div class="audience-counter"> Audience size: {{ audienceSize | number : 0}}</div>
            </div>
        </div>

        <div class="credits-buyer-wrapper">
            <div class="buy-zone">
                <div class="text">Need more credits?</div>
                <div class="purchase" ng-click="buyMoreCredits(necessaryCreditsToCompleteSchedule)">Purchase</div>
            </div>
            <div class="receipts-button" ng-click="loadPushNotificationPayments()">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>View Receipts
            </div>

        </div>

        <div class="sent-notifications-wrapper">
            <div class="list-head">
                <div class="content list-head-item">Sent Push Notifications</div>
                <div class="delivered list-head-item">Sent</div>
                <div class="opened list-head-item">Opened</div>
            </div>
            <div class="list-head list-item"
                    ng-repeat="notification in sentNotifications | orderBy:'send_at'">
                <div class="content list-head-item">
                    <div class="notification-content">{{ notification.text }}</div>
                    <div class="notification-date">{{ notification.send_at | date:'MMM d, yyyy ':conference.time_zone}} at {{ notification.send_at | date:'h:mm a':conference.time_zone | lowercase}}</div>
                </div>
                <div class="delivered list-head-item">{{notification.nr_sent}}</div>
                <div class="opened list-head-item">{{notification.nr_seen}}</div>
            </div>
        </div>

    </div>
    <div class="scheduled-list">
        <div class="title"> Scheduled Push Notifications {{editScheduledNotificationId}}</div>

        <div class="list-wrapper" style="
                height: calc(100vh - 240px);
                overflow-y: auto;
                overflow-x: hidden;">
            <div class="list-item" ng-repeat="notification in scheduledNotifications | orderBy:'send_at'">
                <i class="fa fa-hourglass-half icon" aria-hidden="true"></i>
                <div class="content"
                        ng-class="(editScheduledNotificationId == notification.id) ? 'list-item-highlight':''">
                    <div class="text"><span class="notification-content" style="width:85%; display: inline-block; ">{{ notification.text }} </span>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                        ng-click="editScheduledNotification(notification)"
                        ng-if="notification.was_processed"
                        style="color: #9b9b9b; font-size: 17px;
                        cursor: pointer;"></i>

                    <i class="fa fa-cog fa-spin" aria-hidden="true"
                        ng-if="!notification.was_processed"
                        style="color: #9b9b9b; font-size: 17px;
                        cursor: pointer;"></i>
                    <i class="fa fa-trash-o" aria-hidden="true"
                        ng-click="removeScheduledNotification(notification)"
                        style="color: #9b9b9b; font-size: 17px;
                        cursor: pointer;"></i></div>
                    <div class="time">{{ notification.send_at | date:'MMM d, yyyy '}} at {{ notification.send_at | date:'h:mm a' | lowercase}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
