.continuing-education-panel{
	display: flex;
	flex-direction: row;
	& .create-CE-types{
		width: 60vw;
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 20px;
		& > div:first-child{
			font-family: $font-family-medium;
			font-size: 20px;
		}
	}
	& .rule-types-text{
		margin-bottom: 25px;
		margin-top: 30px;
		font-family: $font-family-medium;
		font-size: 14px;
		color: #4a4a4a;
	}
	& .input-CE-type{
		height: 80px;
		@include flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #edf0f2;
		padding-left: 18px;
		padding-right: 18px;
		& > input{
			@include shape(490px, 40px, 0);
			padding-left: 10px;
			font-family: $font-family-medium;
			font-size: 14px;
		}
		& > div{
			background-color: #68aa3b;
			@include shape(150px, 40px, 20px);
			color: #fff;
			float: right;
			text-align: center;
			line-height: 40px;
			font-family: $font-family-demi;
			font-size: 14px;
		}
	}
  & .CE-type-list{
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
  }
	& .saved-CE-types{
		padding-top: 30px;
		padding-left: 20px;
		border-left: 2px solid #cdcdcd;
		background-color: #fafafa;
		width: 25vw;
		height: 100vh;
		& > div:first-child{
			font-family: $font-family-demi;
			font-size: 14px;
			margin-bottom: 30px;
		}
		& .CE-type-item{
			height: 70px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #cdcdcd;
			& > div > img:first-child{
				margin-right: 10px;
			}
			& > div > img:last-child{
				margin-right: 20px;
			}
		}
	}
}
