<div class="continuing-education-panel">
	<div class="create-CE-types">
		<div>Create Continuing Education Types</div>
		<div class="rule-types-text">Enter as many types of Continuing Education as needed.</div>
		<div class="input-CE-type">
			<input type="text" placeholder="Enter type of continuing education" ng-model="continuingEducationModel.name">
			<div class="cursor" ng-click="createOrUpdateContinuingEducation(continuingEducationModel)">SAVE</div>
		</div>
	</div>
	<div class="saved-CE-types">
		<div>Saved Continuing Education Types</div>
		<div class="CE-type-list">
			<div class="CE-type-item" ng-repeat="continuingEducationField in continuingEducationList">
				<div> <i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 18px; margin-right: 8px;"></i>{{continuingEducationField.name}}</div>
				<div class="flex-row" style="align-items: center;">
					<div class="default-icon-circle" ng-click="updateContinuingEducationModel(continuingEducationField)" style="margin-right: 15px;">
						<i class="fa fa-pencil-square-o" aria-hidden="true"
							style="color: #9b9b9b; font-size: 17px;"></i>
					</div>
					<div class="default-icon-circle" ng-click="deleteContinuingEducation(continuingEducationField)" style="margin-right: 20px;">
						<i class="fa fa-trash-o" aria-hidden="true"
							style="color: #9b9b9b; font-size: 17px;"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
