<div class="attendee-fields-wrapper attendee-materials">
	<div class="half action">
		<div class="title">Upload Materials</div>
		<div class="description">Provide your attendees with helpful guides and support documents for success.</div>
		<div class="add-action-wrapper">
			<div class="field-configuration-wrapper">
				<div class="description">Upload your pdf, doc, txt, xls, img documents</div>
				<div class="button" ngf-select="uploadLocally($files)" ngf-multiple="false">choose file ... </div>
				<div class="file-name">{{ uploadedFile.name }}</div>
			</div>
			<div class="save-wrapper">
				<div class="cancel-button" ng-click="removeLocalFile(uploadedFile)">cancel</div>
				<div class="save-button" ng-click="uploadToServer(uploadedFile)">upload</div>
			</div>
		</div>
	</div>
	<div class="half list materials">
		<div class="semi-title">Your Uploaded Materials</div>
		<div class="list-wrapper materials">
			<div class="list-item materials" ng-repeat="material in uploadedMaterials">
				<i class="fa fa-file-o" aria-hidden="true"></i>
				<div class="name">{{material.name}}</div>
				<div class="icons-wrapper">
					<i class="fa fa-trash-o" ng-click="removeMaterial($event, material.id)"></i>
				</div>
			</div>
		</div>
	</div>
</div>
