.attendee-fields-wrapper.attendee-materials .half.action .add-action-wrapper {
	padding-top: 22px;
}
.attendee-fields-wrapper.attendee-materials .half.action .add-action-wrapper .save-wrapper {
	margin-top: 130px;
}
.attendee-fields-wrapper.attendee-materials .half.action .add-action-wrapper .save-wrapper .cancel-button {
	display: block;
	font-size: 14px;
	float: left;
	text-transform: capitalize;
	font-family: 'AvenirNextLTPro-Regular';
	border: 1px solid #cdcdcd;
	height: 40px;
	line-height: 40px;
	padding-left: 53px;
	padding-right: 53px;
	border-radius: 20px;
	margin-left: 16px;
	margin-top: 10px;
	background-color: transparent;
	transition: background-color .2s ease, color .2s ease;
	box-sizing: border-box;
	cursor: pointer;
}

.attendee-fields-wrapper.attendee-materials .half.action .add-action-wrapper .save-wrapper .cancel-button:hover {
	background-color: #4a4a4a;
	color: white;
}
