<div class="expo-badges-manage-rent-printer">
  <div class="expo-badges-manage-rent-printer-top-container">
    <div class="expo-badges-manage-rent-printer-image">
      <img ng-src="/assets/images/badge-rent-printer.png">
    </div>
    <div class="expo-badges-manage-rent-printer-text-container">
      <div class="expo-badges-manage-rent-printer-top-text-container">
        We know on-site printing is important and we can</br>
        make it seamless. Rent the printers from us and receive</br>
        a plug-and-print setup with pre-paid return labels.
      </div>
      <div class="expo-badges-manage-rent-printer-middle-text-container">
        Badge Printing Kit includes:</br>
        1 iPad and 1 Zebra ZD500 Printer for $100/day</br>
        Additional iPads may be rented for $50/day
      </div>
      <div class="expo-badges-manage-rent-printer-bottom-text-container">
        For each day a device is late, Expo will charge an additional rental fee plus $15</br>
        Expo will authorize $500 per iPad to cover any loss or damage that will be released</br>
        upon return of the device in good working condition.
      </div>
    </div>
  </div>
  <div class="expo-badges-manage-rent-printer-details-container">

    <div class="badges-manage-rent-printer-details-top-container">
      <div class="badges-manage-rent-printer-details-component conference-details-component">
        <div class="badges-manage-rent-printer-details-component-text">Conference:</div>
        <div class="badges-manage-rent-printer-details-component-data-container">{{vm.conference.name}}</div>
      </div>
    </div>

    <div class="badges-manage-rent-printer-details-middle-container">
      <div class="badges-manage-rent-printer-details-component rental-dates-component">
        <div class="badges-manage-rent-printer-details-component-text">Rental Dates:</div>
        <div class="badges-manage-rent-printer-details-component-data-container">
          <input class="rental-dates-input">
        </div>
      </div>

      <div class="badges-manage-rent-printer-details-component printing-kits-component">
        <div class="badges-manage-rent-printer-details-component-text">Printing Kits</div>
        <div class="badges-manage-rent-printer-details-component-data-container">
          <input class="printing-kits-input">
          <div class="input-arrows-container">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="badges-manage-rent-printer-details-component shipping-zip-code-component">
        <div class="badges-manage-rent-printer-details-component-text">Shipping Zip Code</div>
        <div class="badges-manage-rent-printer-details-component-data-container">
          <input class="shipping-zip-code-input">
        </div>
      </div>

      <div class="badges-manage-rent-printer-details-component subtotal-component">Subtotal: <span>{{1234 | currency : '$' : 2}}</span></div>
    </div>

    <div class="badges-manage-rent-printer-details-bottom-container">
      <div class="badges-manage-rent-printer-details-component equipment-needed-component">
        <div class="badges-manage-rent-printer-details-component-text">Equipment Needed by:</div>
        <div class="badges-manage-rent-printer-details-component-data-container">
          <input class="equipment-needed-input">
        </div>
      </div>

      <div class="badges-manage-rent-printer-details-component additional-ipads-component">
        <div class="badges-manage-rent-printer-details-component-text">Additional iPads</div>
        <div class="badges-manage-rent-printer-details-component-data-container">
          <input class="additional-ipads-input">
          <div class="input-arrows-container">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="badges-manage-rent-printer-details-rent-button" ng-click="openRentForm()">RENT</div>
    </div>

  </div>
  <div class="expo-badges-manage-rent-printer-orders-status-container">
    <div class="expo-badges-manage-rent-printer-orders-status-top">
      <div class="expo-badges-manage-rent-printer-orders-status-top-title">Rental Status</div>
      <div class="expo-badges-manage-rent-printer-orders-status-top-instructions-container">
        <div class="expo-badges-manage-rent-printer-orders-status-top-instructions">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            Setup Instructions
        </div>
        <div class="expo-badges-manage-rent-printer-orders-status-top-instructions">
           <i class="fa fa-file-o" aria-hidden="true"></i>
           Return Equipment Instructions
         </div>
      </div>
    </div>
    <div class="expo-badges-manage-rent-printer-orders-status-table">
      <div class="expo-badges-manage-rent-printer-orders-status-table-header">
        <div class="expo-badges-manage-rent-printer-orders-status-table-rental-number-column">Rental Order Number</div>
        <div class="expo-badges-manage-rent-printer-orders-status-table-order-placed-column">Order Placed</div>
        <div class="expo-badges-manage-rent-printer-orders-status-table-total-column">Total</div>
        <div class="expo-badges-manage-rent-printer-orders-status-table-status-column">Status</div>
        <div class="expo-badges-manage-rent-printer-orders-status-table-actions-column">Actions</div>
      </div>
      <div class="expo-badges-manage-rent-printer-orders-status-table-body">
        <printer-rental-status></printer-rental-status>
        <printer-rental-status></printer-rental-status>
        <printer-rental-status></printer-rental-status>
      </div>
    </div>
  </div>
</div>
