.expo-badges-manage-rent-printer {
  width: 100%;
  display: block;
  font-size: 0;
  overflow-y: auto;
  height: 93vh;
}

.expo-badges-manage-rent-printer-top-container {
  display: block;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-image {
  width: 50%;
  display: inline-block;
  padding-left: 25px;
  box-sizing: border-box;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-image > img {
  width: 100%;
  height: auto;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-text-container {
  width: 50%;
  display: inline-block;
  padding: 54px 0 37px 13px;
  box-sizing: border-box;
  color: #4a4a4a;
  vertical-align: top;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-text-container .expo-badges-manage-rent-printer-top-text-container {
  font-size: 20px;
  font-family: $font-family-bold;
  line-height: 32px;
  display: block;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-text-container .expo-badges-manage-rent-printer-middle-text-container {
  font-size: 14px;
  font-family: $font-family-demi;
  line-height: 22px;
  margin-top: 21px;
  margin-bottom: 20px;
  display: block;
}

.expo-badges-manage-rent-printer-top-container .expo-badges-manage-rent-printer-text-container .expo-badges-manage-rent-printer-bottom-text-container {
  font-size: 12px;
  font-family: $font-family-medium;
  line-height: 18px;
  display: block;
}

.expo-badges-manage-rent-printer-details-container {
  width: 93%;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-top: 17px;
  padding-bottom: 34px;
  box-sizing: border-box;
  position: relative;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-top-container,
.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container,
.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-bottom-container {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 0;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-top-container {
  line-height: 40px;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container .rental-dates-component {
  width: 27%;
  margin-right: 7.5%;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container .printing-kits-component {
  width: 15%;
  margin-right: 5.3%;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container .shipping-zip-code-component {
  width: 19%;
  margin-right: 5%;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container .subtotal-component {
  width: calc(100% - 61% - 18% - 17.5px);
  text-align: right;
  font-size: 14px;
  font-family: $font-family-demi;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-middle-container .subtotal-component > span{
  font-family: $font-family-bold;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component {
  display: inline-block;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component .badges-manage-rent-printer-details-component-text {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  width: calc(100% - 150px);
  font-family: $font-family-demi;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component.printing-kits-component .badges-manage-rent-printer-details-component-text,
.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component.additional-ipads-component .badges-manage-rent-printer-details-component-text {
  width: calc(100% - 55px);
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component .badges-manage-rent-printer-details-component-data-container {
  display: inline-block;
  font-size: 14px;
  font-family: $font-family-demi;
  vertical-align: middle;
  position: relative;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component .badges-manage-rent-printer-details-component-data-container > input {
  line-height: 36px;
  font-size: 14px;
  font-family: "Avenir Next";
  vertical-align: middle;
  width: 150px;
  padding-left: 13px;
  box-sizing: border-box;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-component .badges-manage-rent-printer-details-component-data-container > .input-arrows-container {
  position: absolute;
  height: auto;
  display: block;
  right: 7px;
  top: 10px;
  font-size: 0;
}

.input-arrows-container .fa{
  font-size: 17px;
  display: block;
  line-height: 9px;
  color: #818181;
}

.badges-manage-rent-printer-details-middle-container .shipping-zip-code-component .shipping-zip-code-input{
  width: 93px;
}

.badges-manage-rent-printer-details-component.printing-kits-component .badges-manage-rent-printer-details-component-data-container .printing-kits-input,
.badges-manage-rent-printer-details-component.additional-ipads-component .badges-manage-rent-printer-details-component-data-container .additional-ipads-input {
  width: 55px;
  padding-left: 11px;
  box-sizing: border-box;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-bottom-container .equipment-needed-component {
  width: 27%;
  margin-right: 7.5%;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-bottom-container .additional-ipads-component {
  width: 15%;
  margin-right: 5.3%;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-top-container .conference-details-component .badges-manage-rent-printer-details-component-text {
  margin-right: 30px;
  width: auto;
}

.expo-badges-manage-rent-printer-details-container .badges-manage-rent-printer-details-bottom-container .badges-manage-rent-printer-details-rent-button {
  width: 150px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #68AA3B;
  font-family: $font-family-bold;
  font-size: 14px;
  margin-right: 12px;
  float: right;
  cursor: pointer;
}

.expo-badges-manage-rent-printer-orders-status-container {
  width: 93%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-top: 25px;
  padding-bottom: 45px;
  display: block;
  font-size: 0;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-top {
  display: block;
  font-size: 0;
  width: 100%;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-top .expo-badges-manage-rent-printer-orders-status-top-title,
.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-top .expo-badges-manage-rent-printer-orders-status-top-instructions-container {
  display: inline-block;
  width: 50%;
  line-height: 40px;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-top .expo-badges-manage-rent-printer-orders-status-top-title {
  text-align: left;
  font-size: 14px;
  font-family: $font-family-demi;
  color: #4a4a4a;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-top .expo-badges-manage-rent-printer-orders-status-top-instructions-container {
  padding-right: 14px;
  text-align: right;
  box-sizing: border-box;
}

.expo-badges-manage-rent-printer-orders-status-top .expo-badges-manage-rent-printer-orders-status-top-instructions-container .expo-badges-manage-rent-printer-orders-status-top-instructions {
  font-size: 14px;
  font-family: $font-family-medium;
  color: #26A7DE;
  display: inline-block;
  width: 50%;
}

.expo-badges-manage-rent-printer-orders-status-top-instructions-container .expo-badges-manage-rent-printer-orders-status-top-instructions .fa-file-o {
  font-size: 18px;
  margin-right: 8px;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-table {
  height: auto;
  width: 100%;
  display: block;
  font-size: 0;
  margin-top: 8px;
}

.expo-badges-manage-rent-printer-orders-status-container .expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header {
  display: inline-block;
  font-size: 0;
  width: 100%;
  height: 69px;
  background-color: #EDF0F2;
  border-top: 1px solid #cdcdcd;
  padding-left: 23px;
  overflow: hidden;
  box-sizing: border-box;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header > div {
  display: inline-block;
  text-align: left;
  color: #4a4a4a;
  font-size: 14px;
  font-family: $font-family-medium;
  line-height: 69px;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-body{
  display: block;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header .expo-badges-manage-rent-printer-orders-status-table-rental-number-column {
  width: 17%;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header .expo-badges-manage-rent-printer-orders-status-table-order-placed-column {
  width: 15.7%;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header .expo-badges-manage-rent-printer-orders-status-table-total-column {
  width: 14%;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header .expo-badges-manage-rent-printer-orders-status-table-status-column {
  width: 22%;
}

.expo-badges-manage-rent-printer-orders-status-table .expo-badges-manage-rent-printer-orders-status-table-header .expo-badges-manage-rent-printer-orders-status-table-actions-column {
  text-align: center;
  width: calc(100% - 17% - 15.7% - 14% - 22%);
}
