.fields-wrapper.shape .shapes-container {
	margin-top: 20px;
}

.fields-wrapper.shape .shapes-container .action-description {
	margin-bottom: 20px;
}

.fields-wrapper.shape .separator {
	width: 100%;
	height: 2px;
	background-color: #cdcdcd;
	margin-bottom: 20px;
}

.fields-wrapper.shape .fill-color-wrapper {
	text-align: left;
	font-size: 0;

	padding-left: 10px;
	padding-right: 10px;

	box-sizing: border-box;
}

.fields-wrapper.shape .fill-color-wrapper .name {
	display: inline-block;
	vertical-align: middle;

	color: #4a4a4a;
	width: calc(100% - 30px);
	font-size: 12px;
}

.fields-wrapper.shape .color-circle-selector {
	width: 30px;
	height: 30px;

	border: 1px solid #cdcdcd;
	border-radius: 100%;
	box-sizing: border-box;

	position: relative;
	background-color: white;

	display: inline-block;
	vertical-align: middle;
}

.fields-wrapper.shape .color-circle-selector .inner-circle {
	width: 20px;
	height: 20px;

	border: 1px solid #cdcdcd;
	border-radius: 100%;
	
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
}

.fields-wrapper.shape .fill-color-wrapper .color-circle-selector .inner-circle .no-color-bar {
	width: 100%;
	height: 2px;
	background-color: #cdcdcd;

	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.fields-wrapper.shape .stroke-styles-wrapper {
	margin-top: 20px;
	padding-right: 10px;
}

.fields-wrapper.shape .stroke-styles-wrapper .name {
	color: #4a4a4a;
	font-size: 12px;
	margin-bottom: 8px;
}

.fields-wrapper.shape .stroke-styles-wrapper .inputs-container input {
	width: calc(100% - 10px - 30px);
    height: 30px;

    border: 1px solid #cdcdcd;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;

    text-align: center;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;

    padding-left: 15px;
    padding-top: 3px;
}



.fields-wrapper.shape .stroke-styles-wrapper .inputs-container input:focus {
	outline: none;
}

.fields-wrapper.shape .shapes-container .shapes-holder svg {
	
	display: inline-block;
	vertical-align: middle;

	width: 25px;
	height: 25px;

	margin-right: 15px;
	margin-bottom: 24px;
	cursor: pointer;
	transform: none;
	opacity: 0.7;
	transition: transform .2s ease, opacity .2s ease;
}

.fields-wrapper.shape .shapes-container .shapes-holder svg:hover {
	transform: scale(1.2);
	opacity: 1;
}

.fields-wrapper.shape .shapes-container .shapes-holder svg:nth-child(3n) {
	margin-right: 0;
}

.fields-wrapper.shape .shapes-container .shapes-holder svg .st0 {
	fill:#979797;
}