.registration-level-options{
  height: calc(100vh - 75px - 130px); //app header & form header
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
}

.registration-level-options-description{
  font-family: "AvenirNextLTPro-Demi";
  font-size: 16px;
  padding: 25px 0 25px 40px;
}

.registration-level-options-header > div:first-child {
  border-left-style: none;
}
.registration-level-options .registration-level-options-content .registration-level-options-content-one .registration-level-options-content-one-sessions-list .registration-level-options-content-one-session .error{
  border:1px solid red !important;
}
.registration-level-options-content-three .registration-guests-selector {
  width: 80px;
  padding:10px;
  margin-left:10px;
  border-radius: 0px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  padding-left: 20px
}

.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder {
  display: inline-block !important;
  vertical-align: middle !important;
  background-color: white !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  margin-right: 5%;
}
.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder:last-child {
  margin-right: 0px;
}

.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder .check-button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #cdcdcd;
  background-color: white !important;
  display: inline-block !important;
  vertical-align: middle;
  border-radius: 20px;
  margin-bottom: 0px !important;
  line-height: 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder .check-button:last-child {
  margin-right: 0px;
  margin-left: 0px;
}

.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder .check-button .fa {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}


.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder .check-button.active {
  background-color: #727272 !important;
  color: white !important;
}

.registration-level-options .registration-level-options-content .registration-level-options-content-three .guest-information-holder .check-button.active .fa {
  display: inline;
}
