<div class="exhibitor-regular-profile-qualifiers">
    <super-admin-exhibitor-qualifier ng-repeat="exhibitorQualifier in clonedExhibitorQualifiers.exhibitor_questions track by $index"
                                     exhibitor-qualifier-data="exhibitorQualifier"
                                     exhibitor-qualifier-index="$index">
    </super-admin-exhibitor-qualifier>
    <div class="flex-row exhibitor-qualifiers-buttons">
        <div ng-click="addExhibitorQualifier()" class="add-exhibitor-qualifier-model-button cursor">
            <i class="fa fa-plus-circle" style="font-size: 18px; color: #26a7de; position: relative; right: 2px; top: 2px;" aria-hidden="true"></i>
            ADD A QUALIFIER
        </div>
        <div class="save-exhibitor-qualifiers-modification-button cursor" ng-click="saveAllModificationsOnExhibitorQualifiers()">SAVE QUALIFIERS</div>
    </div>
</div>