<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="welcome-screen-wrapper" ng-class="{'visible': appReady}">
	<div class="information-container" ng-class="{'visible': appReady}">
		<img src="../assets/images/expo_logo_svg.svg" class="logo"></img>
		<div class="expo-copy big-margin">Expo Pass is a self-service event technology platform for events of all sizes.</div>
		<div class="expo-copy small-margin">Build out an event for your next meeting, conference, or trade show and share with your attendees.</div>
		<div class="roles-wrapper">
			<div class="role-tab">
				<div class="role-name">Are you an Organizer?</div>
				<div class="role-description">Are you here to build an event and take advantage of Expo Pass's registration, mobile app, or other services? Create your first event.</div>
				<div class="role-action-button" style="margin-top: 43px;" ui-sref="conferences.create">create an event</div>
			</div>
			<div class="role-tab">
				<div class="role-name">Are you an Exhibitor?</div>
				<div class="role-description">Please enter the 6-digit code provided to you by the event planner/organizer.</div>
				<input class="conference-code-input" ng-model="model.code" type="text" maxlength="6" ng-class="{'error': codeError}"></input>
				<div class="role-action-button exhibitor" ng-click="joinConferenceButtonHandler(model.code)">next</div>
			</div>
			<div class="role-tab">
				<div class="role-name">Are you an Attendee?</div>
				<div class="role-description">Download Expo Pass on Google Play or the Apple App Store to access your event.</div>
				<img src="../assets/images/app_store.png" class="store-image" ng-click="openStore('apple')"></img>
				<img src="../assets/images/google_play.png" class="store-image" ng-click="openStore('google')"></img>
			</div>
		</div>
		<div class="logout-message">Did you log in with the wrong account? <span ng-click="logOut()">Log Out Now<span></div>
	</div>
</div>
