.welcome-screen-wrapper {
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	background-size: cover;
	background-position: center center;

	background-image: url("../assets/images/welcome_screen.png");
	position: relative;

	opacity: 0;
	transform: scale(0.9);
	transform-origin: center;

	transition: opacity .3s ease, transform .3s ease;
}

.welcome-screen-wrapper.visible {
	opacity: 1;
	transform: scale(1);
}
.welcome-screen-wrapper .information-container {
	width: 66%;
	height: 66%;

	max-width: 850px;
	height: 655px;

	background-color: rgba(255,255,255,0.9);
	border-radius: 10px;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%) scale(0.5);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

	padding-top: 46px;
	padding-bottom: 46px;
	padding-left: 27px;
	padding-right: 27px;

	box-sizing: border-box;

	font-size: 0px;
	opacity: 0.1;

	transition: opacity .3s ease, transform .3s ease;
}

.welcome-screen-wrapper .information-container.visible {
	opacity: 1;
	transform: translate(-50%, -50.1%) scale(1);
}

.information-container .logo {
	height: 42px;
}

.information-container .expo-copy {
	width: calc(100% - 68px - 68px);
	margin: 0px auto;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 20px;
	line-height: 27px;
}

.information-container .expo-copy.big-margin {
	margin-top: 45px;
}

.information-container .expo-copy.small-margin {
	margin-top: 27px;
}

.information-container .roles-wrapper {
	margin-top: 45px;
}


.information-container .roles-wrapper .role-tab {
	width: 33%;
	max-height: 249px;

	display: inline-block;
	vertical-align: top;

	border-right: 2px solid #cdcdcd;
	box-sizing: border-box;
	padding-top: 29px;
	padding-bottom: 26px;
}

.information-container .roles-wrapper .role-tab.bigger {
	width: 36%;
}

.information-container .roles-wrapper .role-tab:last-child {
	border-right: 0px;
}

.information-container .roles-wrapper .role-tab .role-name {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-bottom: 14px;
}

.information-container .roles-wrapper .role-tab .role-description {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	line-height: 19px;
	color: #4a4a4a;
	width: 84.5%;
	margin: 0px auto;
}

.information-container .roles-wrapper .role-tab .role-action-button {
	padding-left: 34px;
	padding-right: 34px;
	height: 40px;
	color: white;

	font-family: 'AvenirNextLTPro-Bold';
	font-size: 14px;
	text-transform: uppercase;
	line-height: 39px;

	background-color: #68AA3B;
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #68AA3B;
	box-sizing: border-box;
	cursor: pointer;

	transition: background-color .2s ease, color .2s ease, border .2s ease;
}

.information-container .roles-wrapper .role-tab .role-action-button:hover {
	background-color: white;
	color: #68AA3B;
}

.information-container .roles-wrapper .role-tab .role-action-button.exhibitor {
	background-color: #26A7DE;
	padding-left: 54px;
	padding-right: 54px;
	border: 2px solid #26A7DE;
}

.information-container .roles-wrapper .role-tab .role-action-button.exhibitor:hover {
	background-color: white;
	color: #26A7DE;
}

.information-container .roles-wrapper .role-tab .conference-code-input {
	width: 100px;
	height: 40px;
	background-color: white;
	border: 1px solid #9B9B9B;
	display: block;
	margin: 0px auto;
	margin-top: 11px;
	margin-bottom: 12px;
	text-align: center;
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Regular';
	text-transform: uppercase;
	transition: border .2s ease;
	box-sizing: border-box;
}

.information-container .roles-wrapper .role-tab .conference-code-input.error {
	border: 1px solid #e91d26;
}

.information-container .roles-wrapper .role-tab .store-image {
	width: 120px;
	display: block;
	margin: 0px auto;
	margin-top: 12px;
	cursor: pointer;
	transform: scale(1);
	transition: transform .2s ease;
}

.information-container .roles-wrapper .role-tab .store-image:hover {
	transform: scale(1.05);
}
.information-container .logout-message {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.information-container .logout-message span {
	font-family: 'AvenirNextLTPro-Demi';
	cursor: pointer;
}

.information-container .logout-message span:hover {
	text-decoration: underline;
}


@media (max-width: 1024px) {
	.welcome-screen-wrapper .information-container {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.welcome-screen-wrapper .information-container {
		height: 80vh;
	}
}
