.generic-days-selector-wrapper {
	position: relative;
	width: 168px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
	margin-right: 10px;
	font-family: "AvenirNextLTPro-Demi";
}

.generic-days-selector-wrapper.open {
		background-color: #727272;
		color: #fff;
}

.generic-days-selector-wrapper.active {
	background-color: #26A7DE;
	color: white;

}

.generic-days-selector-wrapper .current-period-selected {
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	height: 28px;
	line-height: 30px;
	cursor: pointer;
}

.generic-days-selector-wrapper.active .current-period-selected {
	color: white;
}

.generic-days-selector-wrapper.open .current-period-selected {
	color: white;
}

.generic-days-selector-wrapper.open .current-period-selected .dropdown-arrow {
		background-color: #fff;

}

.generic-days-selector-wrapper.open .current-period-selected .dropdown-arrow:after {
	color: #727272;
}

.generic-days-selector-wrapper.active .current-period-selected .dropdown-arrow {
		background-color: #fff;

}

.generic-days-selector-wrapper.active .current-period-selected .dropdown-arrow:after {
	color: #26A7DE;
}

 .dropdown-arrow {
	width: 16px;
	height: 16px;
	background-color: #818181;
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	border-radius: 100%;
	text-align: center;
}

 .dropdown-arrow:after {
	font-family: "FontAwesome";
	content: "\f107";
	vertical-align: top;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	line-height: 18px;
}


.generic-days-selector-wrapper .period-options-wrapper {
	position: absolute;
	width: 300px;
	background-color: white;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	top: calc(100% + 6px);

	box-sizing: border-box;
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: top;

	opacity: 0;
	visibility: hidden;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.generic-days-selector-wrapper .period-options-wrapper.open {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
	z-index: 5;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option {
	padding-left: 20px;
	padding-right: 12px;
	line-height: 46px;
	height: 44px;
	border-bottom: 1px solid #cdcdcd;
	font-size: 12px;
	color: #4a4a4a;
	box-sizing: border-box;
	opacity: 0;
	font-size: 0px;
	transition: opacity .2s ease, font-size .2s ease;
	cursor: pointer;

	transition: color .2s ease, background-color .2s ease;
}

.generic-days-selector-wrapper .period-options-wrapper.open .period-option {
	opacity: 1;
	font-size: 12px;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option:last-child {
	border-bottom: none;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option.selected::after {
	font-family: "FontAwesome";
	content: "\f00c";
	font-size: 14px;
	color: #26A7DE;
	position: absolute;
	right: 12px;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option:hover {
	color: white;
	background-color: #4a4a4a;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option span {
	margin-left: 4px;
	margin-right: 4px;
}

.generic-days-selector-wrapper .period-options-wrapper .period-option span:first-child {
	margin-left: 0;
	margin-right: 10px;
}


.generic-days-selector-wrapper .period-options-wrapper .period-option input {
	width: 80px;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
}
