<div class="generic-days-selector-wrapper" ng-class="{'open': filtersPanelOpen,'active': daySelectorWasClicked}" ng-click="filtersPanelOpen = openFiltersPanel($event, filtersPanelOpen)">
    <div class="current-period-selected" id="days-button">{{currentPeriodSelected.label}}
      <div class="dropdown-arrow"></div>
    </div>
    <div class="period-options-wrapper" ng-class="{'open': filtersPanelOpen}" click-outside='hideDropdown()' outside-if-not="days-button">
        <div class="period-option" ng-repeat="period in periodOptions" ng-class="{selected: currentPeriodSelected === period}" ng-click="changePeriod($event, period)">{{period.label}}</div>
        <div class="period-option" ng-if="configuration.has_date_range_option" ng-class="{'selected' : customPeriodSelected}" ng-click='updateCustomDate($event)'>
          <span class="label">Custom:</span>
          <input moment-picker="customPeriod.from" format="M/D/YYYY" ng-model="customPeriod.from" ng-click="preventClose($event)" is-open="$root.fromSelectorMomentPicker" change="updateFromDate(customPeriod.from)">
          <span class="label">to</span>
          <input moment-picker="customPeriod.to" format="M/D/YYYY" min-date="customPeriod.from" ng-click="preventClose($event)" ng-model="customPeriod.to" is-open="$root.toSelectorMomentPicker" change="updateToDate(customPeriod.to)">
        </div>
    </div>
</div>
