<div class="legal-popup">
    <img class="cancel-button" src="/assets/images/popup-x-btn.png" ng-click="closeThisDialog();">
    <pre style="white-space: pre-wrap; height: 97%;">{{legalAgreementText}}</pre>
</div>
