<div class="conference-cover-screen">
    <div class="conference-cover-screen-header">
        <p class="medium">Manage cover screen</p>
        <p class="medium">Change the appearance of your event's cover screen within the Expo mobile application.  Acceptable file formats: .png .jpg and .gif.</p>
    </div>
    <div class="conference-cover-screen-body">
        <div class="conference-cover-screen-actions">
            <div class="cover-screen-conference-logo">
                <p class="demi">Event Logo</p>
                <p class="medium">Maximum 1900px x 430px, 1MB Max</p>
                <div class="flex-row" ng-class="!displayOverlay ? 'unclickable' : ''">
                    <div class="demi cursor" ngf-drop="uploadLogo($files, $invalidFiles)"
                         ngf-select="uploadLogo($files, $invalidFiles)"
                         ngf-max-size="1MB" ngf-max-height="430" ngf-max-width="1900"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false">
                        UPLOAD
                    </div>
                    <p class="medium-bolder cursor" ng-if="temporaryLogoUrlExists" ng-click="revertTemporaryLogo()">Revert</p>
                </div>
            </div>
            <div class="cover-screen-wallpaper">
                <p class="demi">Wallpaper</p>
                <p class="medium">
                    Select one of our default images<br>
                    or upload one from your computer.<br>
                    Recommended: 2048px x 2732px, 2MB Max
                </p>
                <div class="flex-row">
                    <div  class="demi cursor" ngf-drop="uploadBackground($files, $invalidFiles)"
                          ngf-select="uploadBackground($files, $invalidFiles)"
                          ngf-max-size="2MB" ngf-max-width="2048" ngf-max-height="2732"
                          ngf-drag-over-class="'dragover'" ngf-multiple="false">
                        UPLOAD
                    </div>
                    <p class="medium-bolder cursor" ng-if="temporaryBackgroundUrlExists" ng-click="revertTemporaryBackground()">Revert</p>
                </div>
            </div>
            <div class="cover-screen-overlay-mode">
                <div>
                    <p>Overlay Mode</p>
                    <div style="margin-left: 20px;" class="checkbox-ico cursor" ng-class="displayOverlay ? 'active': ''"
                         ng-click="changeDisplayCoverOverlay(coverScreenOverlay)"></div>
                </div>
                <div class="flex-row" ng-if="displayOverlay">
                    <p class="medium">Dark</p>
                    <md-switch aria-label="true" ng-change="changeCoverOverlay(coverScreenOverlay)" ng-model="coverScreenOverlay"></md-switch>
                    <p class="medium">Light</p>
                </div>
            </div>
            <div class="cover-screen-overlay-mode" style="margin-top: 30px;">
                <div>
                    <p>Text Color</p>
                </div>
                <div class="flex-row">
                    <p class="medium">Dark</p>
                    <md-switch aria-label="true" ng-model="coverScreenTextColor"></md-switch>
                    <p class="medium">Light</p>
                </div>
            </div>
        </div>
        <div class="conference-cover-screen-mobile-layout">
            <div class="template-wrapper">
                <mobile-template overlay-mode="coverScreenOverlay" display-overlay="displayOverlay" text-color="coverScreenTextColor"
                                 background-default-number="defaultImageIndex" background-images="coverScreensImagesOptions"></mobile-template>
            </div>
        </div>
    </div>
    <div class="conference-cover-screen-footer">
        <div class="medium-bolder cursor" ui-sref="conferences.dashboard.details.overview({conference_id: encodedConferenceId})">Cancel</div>
        <div class="demi cursor" ng-click="setConferenceCoverScreen(SharedProperties.coverScreenOptions)"
             ng-class="{'unclickable': disableSaveCoverScreenButton}">SAVE</div>
    </div>
</div>
