.conference-cover-screen {
  background-color: #edf0f2;
  color: #4a4a4a;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  & p {
    margin: 0;
    font-size: 14px;
  }
  & .conference-cover-screen-header {
    background-color: #fff;
    padding: 20px 0 28px 42px;
    & > p {
      &:first-child {
        font-size: 20px;
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        font-size: 14px;
      }
    }
  }
  & .conference-cover-screen-body {
    background-color: inherit;
    font-size: 14px;
    margin-left: 42px;
    margin-right: 42px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 0;
		user-select: none;
    & .conference-cover-screen-actions {
      padding: 104px 55px 104px 0;
      width: 25%;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      & .cover-screen-conference-logo {
          margin-bottom: 126px;
        & > p {
          &:first-child {
            line-height: 2.86;
          }
          &:nth-child(2) {
            margin-bottom: 10px;
            line-height: 1.43;
          }
        }
        & > div {
          align-items: center;
          & > div {
            @include shape(167px, 30px, 20px);
            border: 1px solid #cdcdcd;
            line-height: 32px;
            text-align: center;
            margin-right: 21px;
            font-size: 12px;
          }
          & p {
            color: #26a7de;
          }
        }
      }
      & .cover-screen-wallpaper {
        margin-bottom: 114px;
        & > p {
          &:first-child {
            line-height: 2.86;
          }
          &:nth-child(2) {
            margin-bottom: 10px;
            line-height: 1.43;
          }
        }
        & > div {
          align-items: center;
          & > div {
            @include shape(167px, 30px, 20px);
            border: 1px solid #cdcdcd;
            line-height: 32px;
            text-align: center;
            margin-right: 21px;
            font-size: 12px;
          }
          & p {
            color: #26a7de;
          }
        }
      }
      & .cover-screen-overlay-mode  {
        & > p  {
          line-height: 2.86;
        }
        & > div {
          display: flex;
          align-items: center;
          max-height: 30px;
          & md-switch.md-checked .md-thumb {
            position: absolute;
            left: 44px;
          }
          & md-switch {
            width: 85px;
          }
          & .md-bar {
            width: 75px;
            height: 4px;
            margin-top: 4px;
            border-radius: 2px;
            background-color: #d8d8d8;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
          }
          & .md-thumb {
            width: 18px;
            height: 18px;
            background-color: #00c0ec;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            transition: 1s;
            transition-timing-function: ease;
          }
        }
      }
    }
    & .conference-cover-screen-mobile-layout {
      display: inline-block;
      vertical-align: middle;
      padding-top: 26px;
      padding-bottom: 15px;
      width: 75%;
      font-size: 0;
      &::before  {
        content: '';
        width: 0px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      & .template-wrapper  {
        display: inline-block;
        vertical-align: middle;

      }
      & .cover-screen-back-button {
        margin-right: 30px;
      }
      & .cover-screen-forward-button {
        margin-left: 30px;
      }
      & .cover-screen-back-button, & .cover-screen-forward-button {
        width: 50px;
        height: 50px;
        border: solid 1px #9b9b9b;
        border-radius: 50%;
        text-align: center;
      }
      & .cover-screen-back-button > p {
        border: solid #9b9b9b;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 7px;
        transform: rotate(135deg);
        margin-top: 16px;
        margin-left: 6px;
      }
      & .cover-screen-forward-button > p {
        border: solid #9b9b9b;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 7px;
        transform: rotate(-45deg);
        margin-top: 16px;
        margin-right: 6px;
      }
      & .cover-screen-mobile-layout-template {
        font-size: 14px;
      }
    }
  }
  & .conference-cover-screen-footer {
    background-color: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: top;
    align-items: top;
    padding-top: 14px;
    padding-bottom: 28px;
    height: 100px;
    & > div {
      @include shape(150px, 40px, 20px);
      font-size: 14px;
      line-height: 42px;
      text-align: center;
      &:first-child {
        border: 1px solid #9b9b9b;
        margin-left: auto;
      }
      &:nth-child(2) {
        color: #fff;
        background-color: #68aa3b;
        margin-left: 10px;
        margin-right: 42px;
      }
    }
  }
}
