<div class="options-menu-holder">
	<div class="options-action-button inline-action" ng-click="goToManageTemplates()">cancel</div>
	<div class="actions-wrapper inline-action define" ng-class="{'visible': showDefineMenu}">
		<div class="parameter-holder">
			<div class="parameter-action-name">Select Size:</div>
			<div class="selector size">
			{{ sizesOfPrint[sizesIndex].width }}" x {{ sizesOfPrint[sizesIndex].height }}"
				<div class="arrows-holder">
					<div>
						<div class="arrow-up" ng-click="nextSize($event)"></div>
					</div>
					<div class="arrow-down" ng-click="previousSize($event)"></div>
				</div>
			</div>
		</div>
		<div class="parameter-holder">
			<div class="parameter-action-name">Print:</div>
			<div class="selector type">
				{{ typesOfPrint[printIndex].name }}
				<div class="arrows-holder">
					<div class="arrow-up" ng-click="previousPrintType()"></div>
					<div class="arrow-down" ng-click="nextPrintType()"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="options-action-button inline-action next-step" ng-click="createBadge(sizesOfPrint[sizesIndex], typesOfPrint[printIndex], badgeName)">next</div>
</div>
