.actions-wrapper.define .parameter-holder {
	display: inline-block;
	vertical-align: middle;

	margin-right: 90px;
}

.actions-wrapper.define .parameter-holder .selector {
	height: 42px;
	border: 1px solid #cdcdcd;

	box-sizing: border-box;

	padding-left: 11px;
	padding-right: 11px;

	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;

	font-family: 'AvenirNextLTPro-Regular';
	line-height: 40px;

}


.actions-wrapper.define .parameter-holder .parameter-action-name {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';

	margin-right: 10px;
}

.actions-wrapper.define .selector .arrows-holder {
	float: right;
	margin-top: 12px;
	margin-left: 8px;
}

.actions-wrapper.define .selector .arrows-holder .arrow-up {
	width: 0; 
  	height: 0; 
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-bottom: 6px solid #818181;

  	margin-bottom: 3px;

  	cursor: pointer;
}

.actions-wrapper.define .selector .arrows-holder .arrow-down {
	width: 0; 
 	height: 0; 
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  
  	border-top: 6px solid #818181;

  	cursor: pointer;
}