.map-members-information{
	@include modal;
	height: 794px;
	& p{
		margin: 0;
	}
	& > div{
		&:first-child{
			padding: 33px 0 29px 34px;
			& > p{
				font-size: 20px;
				font-family: $font-family-demi;
				color: #4a4a4a;
			}
		}
	}
	& .instructions-tab{
		height: 220px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fafafa;
		border-top: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		& > p{
			font-size: 16px;
			line-height: 36px;
			font-family: $font-family-medium;
			color: #4a4a4a;
		}
		& .instructions-tab-header{
			display: flex;
			& > img{
				position: absolute;
				left: 185px;
				top: 117px;
			}
			& > div{
				@include shape(167px, 63px, 5px);
				margin: 89px 112px 14px 0;
				padding-top: 16px;
				background-color: #fff;
				border: 3px dashed #8bd0ef;
				& > p{
					text-align: center;
					line-height: 28px;
					font-size: 14px;
					font-family: $font-family-medium;
					color: #4a4a4a;
				}
				&:first-child{
					border-radius: 4px;
					margin: 73px 96px 30px 78px;
					border: 1px solid #cdcdcd;
					box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	& .map-members-tab{
		height: 362px;
		margin-left: 42px;
		margin-right: 42px;
		border-bottom: 1px solid #cdcdcd;
		display: flex;
		flex-direction: row;
		&:first-child > div:last-child{
			margin-bottom: 30px;
		}
		& > div{
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:first-child{
				border-right: 2px dashed #cdcdcd;
			}
			& .mapping-members-expo-titles{
				@include shape(167px, 63px, 5px);
				cursor: pointer;
				padding-top: 16px;
				background-color: #fff;
				border: 2px dashed #8bd0ef;
				& > p{
					text-align: center;
					line-height: 28px;
					font-size: 14px;
					font-family: $font-family-medium;
				}
			}
			& .mapping-members-titles{
				@include shape(167px, 63px, 5px);
				cursor: -webkit-grab;
				padding-top: 16px;
				background-color: #fff;
				border: 1px solid #cdcdcd;
				box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
				&:last-child{
					margin-bottom: 30px;
				}
				& > p{
					text-align: center;
					line-height: 28px;
					font-size: 14px;
					font-family: $font-family-medium;
				}
			}
		}
	}
	& .map-members-buttons{
		padding: 34px 42px 0 42px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > div{
			@include shape(148px, 40px, 20px);
			&:first-child{
				border: 1px solid #9b9b9b;
				line-height: 40px;
				text-align: center;
				font-size: 14px;
				color: #4a4a4a;
				background-color: #fff;
				font-family: $font-family-medium;
			}
			&:last-child{
				border: 1px solid #9b9b9b;
				line-height: 40px;
				text-align: center;
				background-color: #68aa3b;
				font-size: 14px;
				color: #fff;
				font-family: $font-family-bold;
			}
		}
	}
}
.field_mapping_info_small {
    color: #fff !important;
    line-height: 19px;
}
.field_for_mapping{
	margin: 0 !important;
	margin-top: 30px !important;
	&:last-child{
		margin-bottom: 30px !important;
	}
}
