<div class="flex-column conference-social-tags" ng-init="vm.getConferenceSocialTags()">
    <div>Manage social tags</div>
    <div>Automatically populate your event's social feed by entering a common hashtag for Twitter.<br>
    Note, any user who uses your specific hashtag in their Twitter posts will be displayed<br>
    within your event's social feed.
    </div>
    <div class="flex-column">
        <div class="flex-column">
            <div class="flex-row">
                <p>Social Tag</p>
                <input type="text" placeholder="Enter #hashtag or @username" ng-model="vm.social_tags['social_tag']">
            </div>
        </div>
        <div class="flex-row">
            <div ng-click="vm.updateConferenceSocialTags()" class="cursor">SAVE</div>
        </div>
    </div>
</div>
