<div class="custom-modal-wrapper modal-form">
	<div class="title">Edit Your Profile</div>
	<div class="form-wrapper">
		<div class="input-wrapper" ng-repeat="field in modelForEdit">
			<div ng-if="!field.visible">
			<div class="name" ng-if="!(field.key === 'state' && modelForEdit[10].value != 'US')">{{field.shownValue}} <span ng-if="field.mandatory">*</span></div>
			<input type="text" name="{{field.key}}" ng-model="field.value" ng-if="field.key != 'country' && field.key != 'state' && field.key != 'phone_number'" ng-class="{'error': field.error}"></input>
			<input type="text" name="{{field.key}}" ng-model="field.value" ng-if="field.key == 'phone_number'" ng-class="{'error': field.error}" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>
			<select ng-if=" field.key === 'country' " ng-model="field.value" ng-change="updateCountryForPhoneInput(field.value)">
				<option ng-repeat="option in field.countries" value="{{option.code}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
			</select>
			<select ng-if=" field.key === 'state' && modelForEdit[10].value === 'US'" ng-model="field.value">
				<option ng-repeat="option in field.states" value="{{option.abbreviation}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
			</select>
		</div>
		</div>
		<div class="input-wrapper">
			<div class="name">Profile Photo</div>
			<div class="attendee-upload-image" ngf-select="uploadProfilePhoto($files)" class="add_attendee_upload_link"
				 ngf-pattern="'image/*'"
				 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
				 ngf-drag-over-class="'dragover'" ngf-multiple="false">
				<div style="background-image: url({{currentUser.profile_url || '/assets/images/default-profile-img.png'}})"></div>
				<div>Upload from computer</div>
		</div>
		<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
		<div class="input-wrapper">
			<div class="name">Password</div>
			<input type="password" ng-model="modelForEdit[11].value" ng-class="{'error': modelForEdit[11].error}">
		</div>
		</div>
	</div>
	<div class="mandatory-notification">
		<span style="color: orange">* Required</span>
	</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeDialog()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="saveUserData(modelForEdit)">Save</div>
		</div>
	</div>
</div>
