<div class="custom-modal-wrapper add-exhibitor promo-codes">
		<div class="title">Review And Purchase Your Order</div>
		<div class="promo-codes-body">
			<input type="number" min="0" ng-model="numberOfPromoCodes"></input>
			<span>Exhibitor Promo Codes at</span>
			<input type="number" min="0" placeholder="$0.00" ng-model="costPerCode"></input>
			<span>each</span>
			<span style="float: right; line-height: 40px">${{numberOfPromoCodes * costPerCode}}</span>
		</div>
		<div class="buttons-wrapper">
			<div class="button" ng-click="closeModal()">Back</div>
			<div class="right-part">
				<div class="button save" ng-click="purchasePromoCodes(numberOfPromoCodes, costPerCode)">Purchase</div>
			</div>
		</div>
</div>
