.custom-modal-wrapper.add-exhibitor.promo-codes .title {
	padding-bottom: 30px;
}

.custom-modal-wrapper.add-exhibitor .promo-codes-body {
	font-size: 14px;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	border-top: 1px solid #cdcdcd;
	padding-top: 30px;
	padding-bottom: 300px;
}
.custom-modal-wrapper.add-exhibitor .promo-codes-body input {
	height: 40px;
	padding: 10px;
	width: 80px;
	margin-right: 20px;
}

.custom-modal-wrapper.add-exhibitor .promo-codes-body span {
	margin-right: 20px;
}
