<div class="options-menu-holder order-footer-holder">
	<div class="order-footer-holder-left">
		<div class="order-footer-button">CANCEL</div>
		<div class="order-footer-button">PREVIOUS</div>
	</div>
	<div class="order-footer-holder-right">
		<div class="order-footer-subtotal">Subtotal: <span>{{500 | currency : '$' : 2}}</span></div>
		<div class="order-footer-button">BEGIN CHECKOUT</div>
	</div>
</div>
