.registration-legal {
  height: calc(100vh - 75px - 130px);
  box-sizing: border-box;
  background-color: white;
  padding: 20px 42px 80px 42px;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  overflow: hidden;
}

.registration-legal h1 {
  margin: 0;
  font-family: $font-family-demi;
  font-size: 16px;
}

.registration-legal p {
  font-family: $font-family-medium;
  margin-top: 25px;
  margin-bottom: 55px;
  font-size: 16px;
}

.registration-legal .legal-box {
  width: 100%;
  position: relative;
  height: auto;
  margin: auto;
  text-align: justify;
  font-size: 0;
  margin-bottom: 40px;
}



.registration-legal .legal-box .box {
  width: 38vw;
  display: inline-block;
  vertical-align: top;
}

.registration-legal .legal-box .box h2 {
  margin: 0 0 24px;
  font-family: $font-family-demi;
  font-size: 16px;
}


.registration-legal .legal-box .box.with-margin {
  margin-right: calc(100% - 38vw - 38vw);
}

.registration-legal .legal-box .box .box-header {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px dashed #979797;
  background-color: #edf0f2;
  margin-bottom: 26px;
}

.registration-legal .legal-box .box .box-header > div:first-child {
  @include shape(150px, 30px, 20px);
  background-color: #fff;
  font-family: $font-family-demi;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  margin-left: 14px;
}

.registration-legal .legal-box .box .box-header > div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.registration-legal .legal-box .box .box-header > div:last-child > p {
  font-family: $font-family-medium;
  font-style: italic;
  font-size: 14px;
  margin: 0 10px;
}

.registration-legal .legal-box .box-text {
  border: 1px solid #cdcdcd;
  padding: 10px 30px 10px 10px;
  height: 300px;
  font-family: $font-family-medium;
  font-size: 14px;
}

.registration-legal > div > div:first-child > .bottom-title {
  margin-top: 55px;
  margin-bottom: 28px;
}

.registration-legal > div > div:first-child > .legal-agreements-files {
  height: 72px;
  border: 2px dashed #979797;
  background-color: #edf0f2;
  padding-top: 21px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-legal > div > div:first-child > .legal-agreements-files > div {
  @include shape(150px, 30px, 20px);
  background-color: #fff;
  font-family: $font-family-demi;
  font-size: 12px;
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 30px;
  margin-top: 24px;
}

.registration-legal > div > div:first-child > .legal-agreements-files > p {
  font-family: $font-family-demi;
  font-size: 14px;
}

.registration-legal > div > div:last-child > .registration-uploaded-files {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  height: 83px;
  background-color: #edf0f2;
  padding-left: 24px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.registration-legal > div > div:last-child > .registration-uploaded-files > p {
  font-family: $font-family-demi;
  font-size: 14px;
  margin-bottom: 14px;
}

.registration-legal > div > div:last-child > .registration-uploaded-files > div {
  display: flex;
  flex-direction: row;
}

.registration-legal > div > div:last-child > .registration-uploaded-files > div > p {
  font-family: $font-family-medium;
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}

.registration-legal > div > div:last-child > .registration-uploaded-files > div > img {
  position: relative;
  bottom: 3px;
}

.registration-legal .form-footer {
  border-top: 2px solid #cdcdcd;
  padding-top: 40px;
  margin-top: 40px;
  width: 100%;
  margin: auto;
  text-align: justify;
}

.registration-legal .form-footer:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin: 0 100% 0 0;
}

.registration-legal .form-footer .box {
  width: 49%;
  display: inline-block;
}

.registration-legal .form-footer .box > div {
  display: inline-block;
}

.registration-legal .form-footer .box.right {
  text-align: right;
}

.registration-legal .form-footer .gray-button,
.registration-legal .form-footer .green-button {
  @include shape(148px, 40px, 20px);
  font-size: 14px;
  font-family: $font-family-medium;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  text-align: center;
  line-height: 40px;
  display: block;
  cursor: pointer;
}

.registration-legal .form-footer .green-button {
  border-style: none;
  width: 175px;
  color: #fff;
  background-color: #68aa3b;
  font-family: $font-family-bold;
  margin-left: 10px;
  text-transform: uppercase;
}
