<div>
	<create-form-header></create-form-header>
	<div class="registration-legal">
		<h1>Legal Agreements</h1>
		<p style="line-height: 20px;">Expo Pass requires you to upload a Terms and Conditions and a Refund Policy for your event. It is very important to us that your Customers understand the purpose, amount, and conditions of Charges. You also agree to maintain a fair return, refund, cancellation,
			or adjustment policy, and clearly explain the process by which Customers can receive a Refund. For your convenience we have provided you with an example Refund Policy.</p>
		<div class="legal-box">

			<div class="box with-margin">
				<h2>Terms and Conditions</h2>
				<div class="box-header">
					<div ngf-drop="uploadLegalFiles($files, 'terms_and_conditions')" class="drop-box drag-class cursor upload-button" ngf-select="uploadLegalFiles($files, 'terms_and_conditions')" ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">CHOOSE A FILE...</div>
					<div ng-hide="!registrationFormModel.terms_of_service_file_name ">
						<i class="fa fa-file-o" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
						<p>{{registrationFormModel.terms_of_service_file_name}}</p>
					</div>
				</div>
				<div class="box-text" style="overflow-y: scroll;">
					<pre style="white-space: pre-wrap">{{registrationFormModel.termsOfServiceText}}</pre>
				</div>
			</div>

			<div class="box">
				<div class="flex-row" style="align-items: center; justify-content: space-between">
					<h2>Refund Policy</h2>
					<span class="cursor medium" style="font-size: 14px; color: #59bbe7; align-self: baseline;" ng-click="openRefundPolicyRequirements()">View requirements</span>
				</div>
				<div class="box-header">
					<div ngf-drop="uploadLegalFiles($files, 'refund_policy')" class="drop-box drag-class cursor upload-button" ngf-select="uploadLegalFiles($files, 'refund_policy')" ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">CHOOSE A FILE...</div>
					<div ng-hide="!registrationFormModel.refund_policy_file_name">
						<i class="fa fa-file-o" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
						<p>{{registrationFormModel.refund_policy_file_name}}</p>
					</div>
				</div>
				<div class="box-text" style="overflow-y: scroll;">
					<pre style="white-space: pre-wrap">{{registrationFormModel.refundPolicyText}}</pre>
				</div>
			</div>
		</div>
		<div class="form-footer">
			<div class="box">
				<div ui-sref="conferences.dashboard.registration.overview" class="gray-button">Cancel</div>
			</div>
			<div class="box right">
				<div ng-if="!isInEdit" ui-sref="conferences.dashboard.registration.level-options" class="gray-button">Previous</div>
				<div ng-click="finishStep()" ng-class="isLoading ? 'grayed-out' : ''" class="green-button">next</div>
			</div>
		</div>
	</div>
</div>
