.footer {
	background-color: #EDF0F2;
	color: #9b9b9b;
	font-family: $font-family-demi;
	font-size: 12px;
	height: 180px;
	position: relative;
}


.footer .content-wrapper-footer {
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .content-wrapper-footer p {
  margin-bottom: 0;
}

.footer .content-wrapper-footer img {
  width: 56px;
}
