.exhibitors-overview {
	width: 100%;
	height: calc(100vh - 75px);
}

.exhibitors-overview .search-actions-bar {
	height: 66px;
	width: 100%;
	font-size: 0;
	border-bottom: 1px solid #cdcdcd;
	line-height: 66px

}

.exhibitors-overview .search-actions-bar .search-action-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	height: 100%;
	border-right: 1px solid #cdcdcd;
	font-family: "AvenirNextLTPro-Regular";
	text-align: center;
	box-sizing: border-box;
	line-height: 74px;
}

.exhibitors-overview .search-actions-bar .search-action-wrapper input {
	width: 90%;

	height: 40px;
	border: 1px solid #cdcdcd;
	font-size: 16px;
	font-family: "AvenirNextLTPro-Regular";
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	line-height: 40px;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 68%;
  height: 100%;
}
.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .button {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 168px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 30px;
	transition: color .2s ease, background-color .2s ease;
	cursor: pointer;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .button:hover {
	background-color: #4a4a4a;
	color: white;
}
.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .fa.fa-trash-o {
	width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
	color: #26a7de;
	background-color: white;
	transition: color .2s ease, background-color .2s ease;
	cursor: pointer;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .fa.fa-trash-o:hover {
	color: white;
	background-color: red;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper:before {
	content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .add-exhibitor-button {
	width: 168px;
	border: 1px solid #cdcdcd;
	background-color: white;
	font-size: 14px;
	height: 30px;
	border-radius: 20px;
	line-height: 28px;
	display: inline-block;
  vertical-align: middle;
	margin-left: 18px;
	cursor: pointer;

	transition: color .2s ease, background-color .2s ease;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .add-exhibitor-button .fa {
	color: #26a7de;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin-left: 8px;
	font-size: 16px;
	position: static;
	transition: color .2s ease;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .add-exhibitor-button .text {
	display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
	line-height: 30px;
	margin-left: 16px;
}


.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .add-exhibitor-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.exhibitors-overview .search-actions-bar .add-exhibitor-wrapper .add-exhibitor-button:hover .fa {
	color: white;
}

.exhibitors-overview .exhibitors-list-wrapper {
  height: calc(100vh - 67px - 75px);
  overflow: hidden;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head {
	height: 64px;
	color: #4a4a4a;
	background-color: #edf0f2;
	font-family: "AvenirNextLTPro-Regular";
	border-bottom: 1px solid #cecece;
	padding-left: 40px;
	padding-right: 15px;
	box-sizing: border-box;
	font-size: 0;
	position: relative;
}
.exhibitors-overview .exhibitors-list-wrapper .list-head.with-shadow {
	box-shadow: -5px 9px 17px -10px #a5a5a5;
}


.exhibitors-overview .exhibitors-list-wrapper .list .list-head.active {
	background-color: #fffde6;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item {
	font-size: 14px;
	line-height: 63px;
	display: inline-block;
	vertical-align: top;
	height: 63px;
	padding-right: 10px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.company {
	width: 20.5%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.exhibitor-admin {
	width: 23%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.email {
	width: 20.7%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.booth {
	width: 12.7%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.users {
	width: 8.8%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item.attendees-scanned {
	width: 14.2%;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .list-head-item span {
	display: inline-block;
	vertical-align: middle;
	height: 63px;
	line-height: 63px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.exhibitors-overview .exhibitors-list-wrapper .list {
	height: calc(100vh - 66px - 75px - 65px);
}

.exhibitors-overview .exhibitors-list-wrapper .list .list-head {
	background-color: white;
	cursor: pointer;
}

.exhibitors-overview .exhibitors-list-wrapper .list .list-head .list-head-item.company span {
	font-family: 'AvenirNextLTPro-Demi';
}


.exhibitors-overview .exhibitors-list-wrapper .list .list-head:hover {
	background-color: #8bd0ef;
}

.exhibitors-overview .exhibitors-list-wrapper .list-head .checkbox-ico {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
