<div class="exhibitors-overview">
	<div class="search-actions-bar">
		<div class="search-action-wrapper">
			<input type="text" placeholder="Search by last name, company, or email" ng-disabled="isProcessing"
						 ng-change="searchExhibitors(exhibitorsSearchQuery)" ng-model-options="{debounce:750}"
						 ng-model="exhibitorsSearchQuery"/>
		</div>
		<div class="add-exhibitor-wrapper">
			<div class="add-exhibitor-button" ng-click="openExhibitorAddModal()" ng-if="checkedExhibitorIds.length === 0 && $root.userPermissions.manageExhibitors">
				<i class="fa fa-plus-circle"></i>
				<div class="text">add exhibitor</div>
			</div>
			<div class="button" ng-if="checkedExhibitorIds.length > 0 && $root.userPermissions.manageExhibitors" ng-click="revokeAccessToExhibitors($event, checkedExhibitorIds)">revoke acces</div>
			<i class="fa fa-trash-o" ng-if="checkedExhibitorIds.length > 0" ng-click="deleteExhibitorsModal()"></i>
		</div>
	</div>
	<div class="exhibitors-list-wrapper">
		<div class="list-head with-shadow" style="z-index: 1;">
			<div class="checkbox-ico cursor" ng-class="{'active': allExhibitorsAreChecked}" ng-click="toggleCheckAllExhibitors();" ng-if="$root.userPermissions.manageExhibitors"></div>
			<div class="list-head-item company">
				<span ng-click="orderExhibitorsBy('name')">Company</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'name'"></i>
			</div>
			<div class="list-head-item exhibitor-admin">
				<span ng-click="orderExhibitorsBy('admin_name')">Exhibitor Admin</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'admin_name'"></i>
			</div>
			<div class="list-head-item email">
				<span ng-click="orderExhibitorsBy('admin_email')">Email</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'admin_email'"></i>
			</div>
			<div class="list-head-item booth">
				<span ng-click="orderExhibitorsBy('booth')">Booth</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'booth'"></i>
			</div>
			<div class="list-head-item users">
				<span ng-click="orderExhibitorsBy('users')">Users</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'users'"></i>
			</div>
			<div class="list-head-item attendees-scanned">
				<span ng-click="orderExhibitorsBy('leads_count')">Attendees Scanned</span>
				<i ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'leads_count'"></i>
			</div>
		</div>
		<div class="list">
			<div class="list-head" ng-repeat="exhibitor in exhibitors | orderBy : sortType : sortReverse" ng-click="openExhibitorDetailsModal(exhibitor)" ng-class="{'active': exhibitor.checked}" >
				<div class="checkbox-ico cursor" ng-class="{'active': exhibitor.checked}" ng-click="toggleCheckedState($event, exhibitor)" ng-if="$root.userPermissions.manageExhibitors"></div>
				<div class="list-head-item company">
					<span>{{ exhibitor.name }}</span>
					<i class="fa fa-star ng-scope" ng-if="exhibitor.initial_payment > 0" style="color: #68aa3b;"></i>
				</div>
				<div class="list-head-item exhibitor-admin">
					<span>{{ exhibitor.admin ? (exhibitor.admin.first_name + " " + exhibitor.admin.last_name) : "Admin has not joined yet." }}</span>
				</div>
				<div class="list-head-item email">
					<span>{{ exhibitor.admin_email }}</span>
				</div>
				<div class="list-head-item booth">
					<span>{{ exhibitor.booth }}</span>
				</div>
				<div class="list-head-item users">
					<span>{{ exhibitor.users_count}}/{{ exhibitor.user_slots || 0 }}</span>
				</div>
				<div class="list-head-item attendees-scanned">
					<span>{{ exhibitor.leads_count }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
