<div class="custom-modal-wrapper five-free-scans-card-modal">
	<div class="title">Get your 5 free scans now</div>
	<div class="description">Make the most of your exhibiting experience by capturing new business through lead retrieval and badge scanning. Add qualifiers so your sales team can ask all the right questions to better understand how you may help a client.</div>
	<form class="five-free-scans-card-form" id="payment-form">
		<div class="input-holder credit-card">
			<div class="label">Credit Card Number</div>
			<input type="text" ng-blur="checkTypeOfCard()" data-stripe="number" maxlength="16" id="CCN" autocomplete="cc-number" onkeydown="return ( event.ctrlKey || event.altKey
					|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
					|| (95<event.keyCode && event.keyCode<106)
					|| (event.keyCode==8) || (event.keyCode==9)
					|| (event.keyCode>34 && event.keyCode<40)
					|| (event.keyCode==46) )"></input>
			<div class="credit-cards-holder">
				<img src="/assets/images/small_cards_types/rsz_visacolor.png" alt="Visa" ng-class="{'active': typeOfCard === 'visa'}">
				<img src="/assets/images/small_cards_types/rsz_mastercardcolor.png" alt="MasterCard" ng-class="{'active': typeOfCard === 'master'}">
				<img src="/assets/images/small_cards_types/rsz_discovercardcolor.png" alt="Discover" ng-class="{'active': typeOfCard === 'discover'}">
				<img src="/assets/images/small_cards_types/rsz_americanexpresscolor.png" alt="American Express" ng-class="{'active': typeOfCard === 'american_exp'}">
				<img src="/assets/images/small_cards_types/rsz_jcbcolor.png" alt="JCB" ng-class="{'active': typeOfCard === 'jcb'}">
				<img src="/assets/images/small_cards_types/rsz_dinerscardcolor.png" alt="Diner's Card" ng-class="{'active': typeOfCard === 'diners'}">
			</div>
		</div>
		<div class="input-holder">
			<div class="label">Expiration Date</div>
			<input type="text" placeholder="MM/YY" data-stripe="exp" autocomplete="cc-exp" ng-model="expirationDate" ng-change="formatExpirationDate(expirationDate)" placeholder="MM/YY"></input>
		</div>
		<div class="input-holder">
			<div class="label">CVV</div>
			<input type="text" placeholder="###" data-stripe="cvc" autocomplete="cc-csc" onkeydown="return ( event.ctrlKey || event.altKey
			|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
			|| (95<event.keyCode && event.keyCode<106)
			|| (event.keyCode==8) || (event.keyCode==9)
			|| (event.keyCode>34 && event.keyCode<40)
			|| (event.keyCode==46) )"></input>
		</div>
		<div class="input-holder">
			<div class="label">Billing Zip Code</div>
			<input type="text" data-stripe="address_zip"></input>
		</div>
		<div class="input-holder">
			<div class="label">Name on Card</div>
			<input type="text" data-stripe="name" autocomplete="cc-name" ></input>
		</div>
		<div class="input-holder">
			<div class="label">Promo Code</div>
			<input type="text" class="promo-code" ng-model="promoCode"></input>
			<div class="apply-promo-button" ng-click="applyPromoCode(promoCode)">Apply</div>
		</div>
	</form>
	<div class="terms-wrapper">
		Payment Terms: By starting your free trial, you understand that on your sixth scan, your credit card will be charged $250.00. No refunds for Expo Pass Lead Retrieval.
	</div>
	<div class="buttons-wrapper">
		<div class="cancel-button" ng-click="closeDialog()">cancel</div>
		<div class="start-button" ng-click="purchaseFiveFreeScans()">start trial</div>
	</div>
</div>
