.five-free-scans-card-modal .title {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.five-free-scans-card-modal .description {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	margin-top: 10px;
	line-height: 24px;
}

.five-free-scans-card-modal .five-free-scans-card-form {
	margin-top: 20px;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder {
	height: 40px;
	font-size: 0px;
	margin-bottom: 20px;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder.credit-card {
	height: auto;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .label {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder input {
	width: 60%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15%;
	height: 40px;
	border: 1px solid #cdcdcd;
	padding-left: 10px;
	box-sizing: border-box;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder input.promo-code {
	width: calc(50% - 60px);
	margin-right: 20px;
}
.five-free-scans-card-modal .five-free-scans-card-form .input-holder .apply-promo-button {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #26A7DE;
	text-align: right;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;

	transition: border-bottom .2s ease;
	cursor: pointer;
	height: 100%;
	line-height: 40px;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .apply-promo-button:hover {
	border-bottom: 1px solid #26A7DE;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .credit-cards-holder {
	width: 60%;
	margin-left: 40%;
	text-align: center;
	margin-top: 10px;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .credit-cards-holder img {
	padding: 3px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	margin-right: 8px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .credit-cards-holder img:last-child {
	margin-right: 0;
}

.five-free-scans-card-modal .five-free-scans-card-form .input-holder .credit-cards-holder img.active {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
	filter: none;
}

.five-free-scans-card-modal .terms-wrapper {
	background-color: #fafafa;
	color: #4a4a4a;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	height: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	width: calc(100% + 34px + 34px);
	margin-left: -34px;
	padding-left: 34px;
	padding-right: 34px;
}

.five-free-scans-card-modal .buttons-wrapper {
	text-align: left;
	margin-top: 20px
}

.five-free-scans-card-modal .buttons-wrapper .cancel-button {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	height: 40px;
	border: 1px solid #cdcdcd;
	border-radius: 30px;
	line-height: 40px;
	box-sizing: border-box;
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	text-transform: capitalize;
	transition: background-color .2s ease, color .2s ease;
	cursor: pointer;
}

.five-free-scans-card-modal .buttons-wrapper .cancel-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.five-free-scans-card-modal .buttons-wrapper .start-button {
	float: right;
	height: 40px;
	font-family: 'AvenirNextLTPro-Demi';
	color: white;
	background-color: #77A84B;
	line-height: 40px;
	border-radius: 30px;
	padding-left: 60px;
	padding-right: 60px;
	text-transform: capitalize;
	transition: background-color .2s ease, color .2s ease;
	border: 1px solid #77A84B;
	cursor: pointer;
	font-size: 14px;
}

.five-free-scans-card-modal .buttons-wrapper .start-button:hover {
	color: #77A84B;
	background-color: white;
}
