.attendee-fields-wrapper {
	height: calc(100vh - 75px);
	width: 100%;
	overflow: hidden;
	font-size: 0;
}

.attendee-fields-wrapper .half {
	display: inline-block;
	vertical-align: top;
}

.attendee-fields-wrapper .half.action {
	width: 70%;
	border-right: 2px solid #cdcdcd;
	box-sizing: border-box;
	height: calc(100vh - 75px);
	background-color: white;

	padding-left: 5%;
	padding-right: 3%;
	padding-top: 20px;
}

.attendee-fields-wrapper .half.list {
	width: 30%;
	height: calc(100vh - 75px);
	background-color: #fafafa;
	padding-top: 30px;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
}

.attendee-fields-wrapper .half.action .title {
	width: 100%;
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Regular';
	line-height: 36px;
}

.attendee-fields-wrapper .half.action .description {
	width: 100%;
	font-size: 14px;
	margin-top: 24px;
	font-family: 'AvenirNextLTPro-Regular';
}

.attendee-fields-wrapper .half.action .add-action-wrapper {
	width: 100%;
	background-color: #edf0f2;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	margin-top: 24px;
}


.attendee-fields-wrapper .half.action .add-action-wrapper .save-wrapper {
	width: calc(100% + 16px + 16px);
	height: 70px;
	border-top: 1px solid #cdcdcd;
	box-sizing: border-box;
	text-align: right;
	line-height: 70px;
	margin-top: 30px;
	margin-left: -16px;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .save-wrapper .save-button {
	font-family: 'AvenirNextLTPro-Demi';
	color: white;

	background-color: #68aa3b;
	border-radius: 20px;

	display: inline-block;
	height: 40px;
	padding-left: 34px;
	padding-right: 34px;
	line-height: 40px;
	text-transform: uppercase;
	margin-right: 16px;
	font-size: 14px;

	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
	border: 1px solid #68aa3b;
	box-sizing: border-box;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .save-wrapper .save-button:hover {
	background-color: transparent;
	color: #68aa3b;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper {
	font-size: 0;
}


.custom-attendee-field-input {
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	font-family: 'AvenirNextLTPro-Regular';

	background-color: white;
	height: 40px;
	line-height: 40px;

	border: 1px solid #cdcdcd;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;

	font-size: 14px;

	transition: background-color .2s ease, color .2s ease;
	cursor: pointer;
	position: relative;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input .selected-type {
	display: inline-block;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input .arrow-selector-wrapper {
	float: right;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input:hover {
	background-color: #727272;
	color: white;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input.active {
	background-color: #727272;
	color: white;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input .types-wrapper {
	width: 100%;
	height: 150px;
	border-radius: 3px;
	border: 1px solid #cdcdcd;
	background-color: white;
	box-shadow: 0 0 10px -2px #000;
	position: absolute;
	left: 0px;
	top: calc(100% + 10px);
	opacity: 0;
	box-sizing: border-box;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity .2s ease, transform .2s ease;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input.active .types-wrapper {
	opacity: 1;
	transform: scaleY(1)
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input .types-wrapper .type {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	color: #727272;
	padding-left: 15px;
	padding-right: 15px;

	transition: background-color .2s ease, color .2s ease;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input .types-wrapper .type:hover {
	color: white;
	background-color: #727272;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .add-options-wrapper .fa {
	vertical-align: middle;
	display: inline-block;

	font-size: 24px;
	color: #9b9b9b;
	margin-left: 4%;

	cursor: pointer;
	transition: color .2s ease;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .add-options-wrapper .fa:hover {
	color: #727272;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .add-options-wrapper .custom-attendee-field-input.error {
	border: 1px solid #e91d26;
}
.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .custom-attendee-field-input.error {
	border: 1px solid #e91d26;
}


.attendee-fields-wrapper .half.list .semi-title {
	font-size: 14px;
	color: #727272;
	font-family: 'AvenirNextLTPro-Demi';
	margin-bottom: 20px;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item {
	border-bottom: 1px solid #cdcdcd;
	font-size: 0;
	line-height: 68px;
	cursor: pointer;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item .name {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 30px - 10px - 30px);
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	line-height: 30px;
	color: #4a4a4a;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item .icons-wrapper {
	width: calc(30px + 10px + 30px);
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	box-sizing: border-box;
	padding-top: 6px;
	height: 68px;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item .icons-wrapper .fa {
	font-size: 17px;
	border: 1px solid #cdcdcd;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #cdcdcd;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	margin-right: 10px;
	cursor: pointer;

	transition: color .2s ease, background-color .2s ease;
}
.attendee-fields-wrapper .half.list .list-wrapper .list-item .icons-wrapper .fa:last-child {
	margin-right: 0;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item .icons-wrapper .fa:hover {
	color: white;
	background-color: #cdcdcd;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .button {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 168px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	background-color: white;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 32px;
	cursor: pointer;

	transition: background-color .2s ease, color .2s ease;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .button:hover {
	background-color: #4a4a4a;
	color: white;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .file-name {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
}

.attendee-fields-wrapper .half.action .add-action-wrapper .field-configuration-wrapper .description {
	margin-top: 0;
	margin-bottom: 20px;
}
.attendee-fields-wrapper .half.list .list-wrapper .list-item.materials .fa-file-o {
	font-size: 18px;
  vertical-align: middle;
  margin-right: 10px;
	color: #68aa3b;
}

.attendee-fields-wrapper .half.list .list-wrapper .list-item.materials .icons-wrapper {
	width: 30px;
}
.attendee-fields-wrapper .half.list .list-wrapper.materials {
	height:calc(100vh - 75px - 30px - 17px - 20px);
}
.attendee-fields-wrapper .half.list.materials .semi-title {
	position: relative;
	z-index: 1;
	background-color: inherit;
	padding-top: 30px;
	margin-top: -30px;
}
