<div class="container-center forgot-view">
  <p class="general-confirmation-message">Please create a new password.</p>
  <form class="account-form" name="new_pass" class="new-pass-form">
      <input type="password" name="password" aria-required="true" ng-model="vm.newPassword" ng-class="new_pass.password.$touched && new_pass.password.$invalid ? 'required' : ''" placeholder="{{new_pass.password.$touched && new_pass.password.$invalid ? 'Invalid Password' : 'Password'}}" </input>
      <input type="password" name="password2" aria-required="true" ng-model="vm.confirmedPassword" ng-class="new_pass.password2.$touched && new_pass.password2.$invalid ? 'required' : ''" placeholder="{{new_pass.password2.$touched && new_pass.password2.$invalid ? 'Incorrect Password' : 'Re-enter Password'}}" </input>
  </form>
  <div class="action-button primary spaced" ng-click="vm.resetPassword(vm.newPassword, vm.confirmedPassword)">
    submit
  </div>
</div>
