<div class="merchant-agreement-popup-step2 flex-column">
    <p>Merchant Identity Verification</p>
    <div class="merchant-agreement-form">
        <div class="merchant-agreement-profile flex-row">
            <p>Select</p>
            <div class="flex-row" ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''">
                <div ng-click="setFormType('company')"
                 ng-class="merchantCompanyForm ? 'selected-merchant-profile' : ''">
                    Company
                </div>
                <div ng-click="setFormType('individual')"
                 ng-class="merchantIndividualForm ? 'selected-merchant-profile' : ''">
                    Individual
                </div>
            </div>
        </div>
        <div class="merchant-agreement-form-fields flex-column" ng-if="merchantCompanyForm">
            <div ng-repeat="field in merchantCompanyFields track by $index" class="flex-row" ng-if="field.code!='legal_entity_type'">
                <p>{{field.label}}</p>
                <input ng-if="field.label != 'Your Date of Birth' && field.code != 'state' && field.code != 'postal_code' && field.code != 'ssn_last_4' && field.code!='business_tax_id' && field.code!='country' && field.code != 'business_name' && field.code != 'last_name' && field.code != 'first_name'"
                type="text" ng-model="merchantCompanyProfileModel[field.code]">
                <input ng-if="field.code=='business_name'"
                ng-model="merchantCompanyProfileModel.business_name"
                    ng-readonly="merchantIdentityVerified"
                    ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"/>

                <input ng-if="field.code=='first_name'"
                    ng-model="merchantCompanyProfileModel.first_name"
                    ng-readonly="merchantIdentityVerified"
                    ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"/>

                <input ng-if="field.code=='last_name'"
                    ng-model="merchantCompanyProfileModel.last_name"
                    ng-readonly="merchantIdentityVerified"
                    ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"/>
                <input ng-if="field.code=='business_tax_id'" ng-model="merchantCompanyProfileModel.business_tax_id"
                    ng-readonly="merchantCompanyProfileModel['business_tax_id'] == '*********'"
                    ng-class="(merchantCompanyProfileModel['business_tax_id'] == '*********') ? 'payment_type_inactive': ''"/>
                <select style="width:55px; padding-left: 10px; background-color: #fff; height: 40px;"
                    ng-if="field.code == 'state'"
                    ng-model="merchantCompanyProfileModel[field.code]">
                    <option ng-repeat="option in unitedStatesList track by $index"
                        ng-value="option.abbreviation">
                        {{option.abbreviation}}
                    </option>
                </select>
                <input ng-if="field.code == 'country'" type="text" ng-model="merchantCompanyProfileModel[field.code]" ng-readonly="true">
                <input style="width: 150px;" ng-if="field.code == 'postal_code'" type="text" ng-model="merchantCompanyProfileModel[field.code]">
                <div class="flex-row" ng-if="field.label == 'Your Date of Birth'">
                    <input style="width: 55px;" type="number" ng-model="merchantCompanyProfileModel[field.code[0]]" placeholder="dd"
                        ng-blur="validateDobDay(merchantCompanyProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="validateDate(merchantCompanyProfileModel)">
                    <input style="width: 55px;" type="number" ng-model="merchantCompanyProfileModel[field.code[1]]" placeholder="mm"
                        ng-blur="validateDobMonth(merchantCompanyProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="validateDate(merchantCompanyProfileModel)">
                    <input style="width: 75px;" type="number" ng-model="merchantCompanyProfileModel[field.code[2]]" placeholder="yyyy"
                        ng-blur="validateDobYear(merchantCompanyProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="merchantIdentityVerified.validateDate(merchantCompanyProfileModel)">
                </div>
                <input style="width: 77px;" ng-if="field.code == 'ssn_last_4'" type="text"
                    ng-class="(merchantCompanyProfileModel['ssn_last_4'] == '****') ? 'payment_type_inactive':''"
                    ng-change="validateSSNlast4()"
                    ng-readonly="merchantCompanyProfileModel['ssn_last_4'] == '****'"
                    ng-model="merchantCompanyProfileModel[field.code]">
            </div>
            <div class="flex-row merchant-identification" style="margin-bottom: 26px; margin-top: 13px;">
                <p>Identification</p>
                <img src="/assets/images/group-2.png"
                    ng-if="!merchantCompanyProfileModel.verification_document">
                <p ng-if="merchantCompanyProfileModel.has_verification_document" style="margin-left: 14px;">
                    <span>Verification image submitted</span>
                </p>
                <p ngf-select="uploadMerchantDocument($files, 'company')" style="margin-left: 14px;"
                    ng-if="!merchantCompanyProfileModel.verification_document && !merchantCompanyProfileModel.has_verification_document"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    <span>Upload image of drivers license<br> or identification card</span>
                </p>
                <img ngf-select="uploadMerchantDocument($files, 'company')"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-multiple="false"
                    style="margin-top: 40px;" ng-if="merchantCompanyProfileModel.verification_document && !merchantCompanyProfileModel.has_verification_document"
                    ng-src="{{merchantCompanyProfileModel.verification_document}}" width="100" height="100"/>
            </div>
        </div>
        <div class="merchant-agreement-form-fields flex-column" ng-if="merchantIndividualForm">
            <div ng-repeat="field in merchantIndividualFields track by $index" class="flex-row" ng-if="field.code!='legal_entity_type'">
                <p>{{field.label}}</p>
                <input ng-if="field.label != 'Date of Birth' && field.code != 'state' && field.code != 'postal_code' && field.code != 'ssn_last_4' && field.code != 'personal_id_number' && field.code != 'country'" type="text" ng-model="merchantIndividualProfileModel[field.code]">

                <input type="text" ng-if="field.code=='personal_id_number' && merchantIndividualProfileModel.personal_id_number_provided"
                    class="payment_type_inactive"
                    value="*********" readonly/>
                <input type="number" ng-if="field.code=='personal_id_number' && !merchantIndividualProfileModel.personal_id_number_provided" ng-model="merchantIndividualProfileModel[field.code]"/>

                <select style="width:55px; padding-left: 5px; background-color: #fff; height: 40px;"
                    ng-if="field.code == 'state'"
                    ng-model="merchantIndividualProfileModel[field.code]">
                    <option ng-repeat="option in unitedStatesList track by $index"
                        ng-value="option.abbreviation">
                        {{option.abbreviation}}
                    </option>
                </select>
                <input ng-if="field.code == 'country'" type="text" ng-model="merchantIndividualProfileModel[field.code]" ng-readonly="true">
                <input style="width: 150px;" ng-if="field.code == 'postal_code'" type="text" ng-model="merchantIndividualProfileModel[field.code]">
                <div class="flex-row" ng-if="field.label == 'Date of Birth'">
                    <input style="width: 55px;" type="number" ng-model="merchantIndividualProfileModel[field.code[0]]" placeholder="dd"
                        ng-blur="validateDobDay(merchantIndividualProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="validateDate(merchantIndividualProfileModel)">
                    <input style="width: 55px;" type="number" ng-model="merchantIndividualProfileModel[field.code[1]]" placeholder="mm"
                        ng-blur="validateDobMonth(merchantIndividualProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="validateDate(merchantIndividualProfileModel)">
                    <input style="width: 75px;" type="number" ng-model="merchantIndividualProfileModel[field.code[2]]" placeholder="yyyy"
                        ng-blur="validateDobYear(merchantIndividualProfileModel)"
                        ng-class="merchantIdentityVerified ? 'payment_type_inactive': ''"
                        ng-change="validateDate(merchantIndividualProfileModel)">
                </div>
                <input style="width: 77px;" ng-if="field.code == 'ssn_last_4'" type="text"
                    ng-class="(merchantIndividualProfileModel['ssn_last_4'] == '****') ? 'payment_type_inactive':''"
                    ng-readonly="merchantIndividualProfileModel['ssn_last_4'] == '****'"
                    ng-model="merchantIndividualProfileModel[field.code]">
            </div>
            <div class="flex-row merchant-identification" style="margin-bottom: 26px; margin-top: 13px;">
                <p>Identification</p>
                <img src="/assets/images/group-2.png"
                    ng-if="!merchantIndividualProfileModel.verification_document || merchantIndividualProfileModel.has_verification_document">
                <p ng-if="merchantIndividualProfileModel.has_verification_document" style="margin-left: 14px;">
                    Verification image submitted
                </p>
                <p ngf-select="uploadMerchantDocument($files, 'individual')" style="margin-left: 14px;"
                    ng-if="!merchantIndividualProfileModel.verification_document && !merchantIndividualProfileModel.has_verification_document"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    Upload image of drivers license<br> or identification card
                </p>
                <img ngf-select="uploadMerchantDocument($files, 'individual')"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    style="margin-top: 40px;" ng-if="merchantIndividualProfileModel.verification_document && !merchantIndividualProfileModel.has_verification_document"
                    ng-src="{{merchantIndividualProfileModel.verification_document}}" width="100" height="100"/>
            </div>
        </div>
    </div>
</div>
