<div class="conference-body">
    <dynamic-header conference-details="exhibitorConference.conference_info"></dynamic-header>
    <exhibitor-side-menu></exhibitor-side-menu>
    <div ui-view="conference-details" style="display: inline-block; width: calc(100% - 200px);"></div>
</div>
