<div class="container-center" ng-class="{'forgot-view': !vm.resetDone}">
    <div class="forgot-password-wrapper" ng-if="!vm.resetDone">
        <p class="general-confirmation-message">Enter your email address and we'll send you a <br/> temporary password.</p>
        <form name="email_address" class="account-form">
            <input style="margin-bottom: 30px;" type="email" name="valid_email" aria-required="true" ng-model="vm.emailAddress" ng-class="((email_address.valid_email.$touched && email_address.valid_email.$invalid) || (vm.invalid_email)) ? 'required' : ''" placeholder="{{(email_address.valid_email.$touched && email_address.valid_email.$invalid) ? (vm.invalid_email ? 'Invalid Email Address' : 'Email Address Required ') : 'Your email address'}}" </input>
        </form>

        <div class="action-button primary" ng-click="vm.forgotPassword(vm.emailAddress);">
          submit
        </div>
    </div>
    <div class="sent-email-screen" ng-if="vm.resetDone">
      <p class="general-confirmation-title">We sent you an Email.</p>
      <p class="general-confirmation-message">Please check your email for your temporary password. <br/> Please return here to log in.</p>
      <div class="action-button primary" ng-click="vm.returnToLogin()">
        ok
      </div>
    </div>
</div>
<div class="bottom spaced" ng-if="vm.resetDone">
  <span class="bottom-action-link" ui-sref="account.login">Log in</span>
</div>
