.download-results-modal .fa {
	margin-bottom: 20px;
}

.download-results-modal .download-link {
	font-family: 'AvenirNextLTPro-Regular';
	color: #26a7de;
	font-size: 22px;
	margin-bottom: 30px;
	cursor: pointer;
	margin-top: 20px;
}

.download-results-modal .download-link:hover {
	text-decoration: underline;
}

.custom-modal-wrapper.download-results-modal {
	font-family: 'AvenirNextLTPro-Regular';
	text-align: center;
	margin-top: 20px;

}

.custom-modal-wrapper.download-results-modal .button {
	display: inline-block;
  border: 1px solid #cdcdcd;
	color: #4a4a4a;
  background-color: white;
  height: 40px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
	cursor: pointer;

	transition: background-color .3s ease, color .3s ease;
}

.custom-modal-wrapper.download-results-modal .button:hover {
	background-color: #4a4a4a;
	color: white;
}
