<div class="custom-modal-wrapper add-exhibitor download-results-modal">
	<div><i class="fa fa-cloud-upload" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div style="font-size:22px; color: #4a4a4a" ng-if="ngDialogData.errors.length === 0">Your upload was successful, we uploaded {{ngDialogData.sent.length}} records. Please click the following link to download your results.</div>
	<div style="font-size:22px; color: #4a4a4a" ng-if="ngDialogData.errors.length > 0">Your upload has errors. We added {{ngDialogData.sent.length}} records and ignored {{ngDialogData.errors.length}} records with errors. Please click the following link to download and review the errors.</div>

	<div class="download-link" ng-click="downloadResults(ngDialogData.all)">Download the results</div>
	<div class="button" ng-click="closeThisDialog()">Close</div>
</div>
