// .ngdialog-content {
//   width: 45%;
//   max-width: 640px;
//   border: 1px solid #cdcdcd;
//   background-color: white;
//   box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.badge-rent-printer-form {
  width: 100%;
  max-height: 48%;
  display: block;
  font-size: 0;
}

.badge-rent-printer-form .badge-rent-printer-form-top {
  line-height: 71px;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  display: inline-block;
  padding-left: 34px;
}

.badge-rent-printer-form-top .badge-rent-printer-form-top-step-tab {
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  width: calc(100% / 4);
  text-align: center;
}

.badge-rent-printer-form-top .badge-rent-printer-form-top-step-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  color: #4a4a4a;
  margin-right: 8px;
  vertical-align: middle;
}

.badge-rent-printer-form-top .badge-rent-printer-form-top-step-number.active {
  font-weight: bold;
  color: white;
  background-color: #59bbe7;
  border-style: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.badge-rent-printer-form-top .badge-rent-printer-form-top-step-title {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 19px;
  color: #4a4a4a;
  vertical-align: middle;
}

.badge-rent-printer-form .badge-rent-printer-form-container {
  width: 100%;
}

.badge-rent-printer-form .badge-rent-printer-form-bottom {
  width: 100%;
  line-height: 114px;
  display: inline-block;
  padding-left: 34px;
  padding-right: 52px;
  box-sizing: border-box;
  border-top: 1px solid #cdcdcd;
}

.badge-rent-printer-form .badge-rent-printer-form-bottom-button-container {
  width: 50%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.badge-rent-printer-form .badge-rent-printer-form-bottom-button-container:last-child {
  text-align: right;
}

.badge-rent-printer-form .badge-rent-printer-form-bottom-button-container .badge-rent-printer-form-bottom-button {
  width: 148px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  color: #4a4a4a;
  vertical-align: middle;
  cursor: pointer;
}

.badge-rent-printer-form .badge-rent-printer-form-bottom-button-container .badge-rent-printer-form-bottom-button.next-button {
  background-color: #68AA3B;
  border-style: none;
  color: white;
  font-weight: bold;
}

.badge-rent-printer-form-container {
  height: 70vh;
}

.badge-rent-printer-form-container > div::before {
  width: 0;
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

//rental agreement

.badge-rent-printer-form-container .badge-rent-printer-form-rental-agreement-container {
  width: 100%;
  height: inherit;
  display: inline-block;
  vertical-align: middle;
  padding: 24px 50px 38px 34px;
  box-sizing: border-box;
}

.badge-rent-printer-form-container .badge-rent-printer-form-rental-agreement-container .form-container-title {
  width: 100%;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 27px;
  display: inline-block;
}

.badge-rent-printer-form-container .badge-rent-printer-form-rental-agreement-container .form-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.badge-rent-printer-form-container .badge-rent-printer-form-shipping-info-container .form-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.badge-rent-printer-form-container .badge-rent-printer-form-payment-info-container .form-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.badge-rent-printer-form-container .badge-rent-printer-form-review-container .form-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.badge-rent-printer-form-container .badge-rent-printer-form-rental-agreement-container .form-container .form-container-text {
  width: 100%;
  color: #4a4a4a;
  display: inline-block;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  overflow-y: auto;

}

.badge-rent-printer-form-container .badge-rent-printer-form-rental-agreement-container .form-container .form-container-check-agreement {
  width: 100%;
  display: block;
  font-size: 0;
  cursor: pointer;
}

.badge-rent-printer-form-rental-agreement-container .form-container .form-container-check-agreement .form-container-check-agreement-box {
  width: 24px;
  height: 24px;
  border: 1px solid #979797;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  text-align: center;
  color: white;
}

.badge-rent-printer-form-rental-agreement-container .form-container .form-container-check-agreement .form-container-check-agreement-box.active {
  background-color: #26a7de;
  border-style: none;
}

.badge-rent-printer-form-rental-agreement-container .form-container .form-container-check-agreement .form-container-check-agreement-text {
  display: inline-block;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  vertical-align: middle;
}

// shipping information

.badge-rent-printer-form-container .badge-rent-printer-form-shipping-info-container {
  width: 100%;
  height: inherit;
  padding: 24px 50px 38px 34px;
  box-sizing: border-box;
}

.badge-rent-printer-form-shipping-info-container .form-container-title {
  width: 100%;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 30px;
  display: inline-block;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field {
  width: 100%;
  margin-bottom: 10px;
  line-height: 40px;
  display: block;
  font-size: 0;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field:last-child {
  margin-bottom: 0;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field .form-shipping-field-name {
  width: 42%;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 44px;
  display: inline-block;
  color: #4a4a4a;
  text-align: left;
  vertical-align: middle;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field .form-shipping-field-value {
  width: 58%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field .form-shipping-field-value > input {
  border: 1px solid #cdcdcd;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 40px;
  display: inline-block;
  color: #4a4a4a;
  padding-left: 11px;
  box-sizing: border-box;
}


.badge-rent-printer-form-shipping-info-container .form-shipping-field .form-shipping-field-value .input-arrows-container {
  position: absolute;
  height: auto;
  display: block;
  left: 15%;
  top: 12px;
  font-size: 0;
}

.badge-rent-printer-form-shipping-info-container .form-shipping-field .form-shipping-field-value .input-arrows-container .fa {
  font-size: 17px;
  display: block;
  line-height: 9px;
  color: #818181;
}

// payment information

.badge-rent-printer-form-container .badge-rent-printer-form-payment-info-container {
  width: 100%;
  height: inherit;
  padding: 24px 50px 38px 34px;
  box-sizing: border-box;
}

.badge-rent-printer-form-payment-info-container .form-container-title {
  width: 100%;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 31px;
  display: inline-block;
}

.badge-rent-printer-form-payment-info-container .form-container .form-payment-info-container {
  width: 100%;
  display: inline-block;
}

.form-payment-info-container .form-payment-field {
  width: 100%;
  margin-bottom: 10px;
  line-height: 44px;
  display: block;
  font-size: 0;
}

.form-payment-info-container .form-payment-field:first-child {
  margin-bottom: 6px;
}

.form-payment-info-container .form-payment-field:last-child {
  margin-bottom: 0;
}

.form-payment-info-container .form-payment-field .form-payment-field-name {
  width: 42%;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 44px;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 600;
}

.form-payment-info-container .form-payment-field .form-payment-field-value {
  width: 58%;
  display: inline-block;
}

.form-payment-info-container .form-payment-field .form-payment-field-value > input {
  width: 100%;
  line-height: 40px;
  border: 1px solid #cdcdcd;
  padding-left: 11px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  color: #4a4a4a;
}

.form-payment-info-container .form-payment-card-types-container {
  width: 58%;
  display: block;
  font-size: 0;
  margin-bottom: 26px;
  margin-left: 42%;
}

.form-payment-info-container .form-payment-card-types-container .type-of-card {
  display: inline-block;
  width: calc( (100% - 50px) / 6);
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
}

.form-payment-info-container .form-payment-card-types-container .type-of-card:last-child {
  margin-right: 0;
}

.form-payment-info-container .form-payment-card-types-container .type-of-card > img {
  width: 100%;
}

// review
.badge-rent-printer-form-review-container .form-container .form-container-title {
  width: 100%;
  color: #4a4a4a;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 31px;
  display: inline-block;
  padding-left: 34px;
  box-sizing: border-box;
  margin-top: 30px;
}

.form-review-top-container {
  width: 100%;
  display: inline-block;
  padding-left: 34px;
  padding-bottom: 25px;
  box-sizing: border-box;
  font-size: 0;
  color: #4a4a4a;
  border-bottom: 1px solid #cdcdcd;
}

.form-review-top-container .form-review-shipping-info, .form-review-top-container .form-review-payment-info {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: top;
}

.form-review-shipping-info .form-review-shipping-info-title, .form-review-payment-info .form-review-payment-info-title {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 18px;
}

 .form-review-payment-info .form-review-payment-info-title {
   margin-bottom: 23px;
 }

.form-review-shipping-info .form-review-shipping-info-title .fa,  .form-review-payment-info .form-review-payment-info-title .fa {
  font-size: 14px;
  color: #9b9b9b;
  margin-left: 12px;
  cursor: pointer;
}

.form-review-shipping-info .form-review-shipping-data {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 24px;
}

.form-review-payment-info .form-review-payment-info-card-data {
  display: inline-block;
  font-size: 0;
  margin-bottom: 11px;
  width: 100%;
  text-align: left;
}

.form-review-payment-info-card-data .payment-info-card-type {
  border: 1px solid #cdcdcd;
  width: 42px;
  height: 26px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
}

.form-review-payment-info-card-data .payment-info-card-number-ending {
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.form-review-payment-info .form-review-payment-info-expiration-date {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.form-review-bottom-container {
  width: 100%;
  display: inline-block;
  background-color: #fafafa;
  padding: 15px 50px 35px 34px;
  box-sizing: border-box;
  font-size: 0;
  color: #4a4a4a;
}

.form-review-bottom-container .form-review-rental-period {
  width: 100%;
  display: inline-block;
  font-size: 0;
  margin-bottom: 21px;
}

.form-review-bottom-container .form-review-rental-period .rental-period-text {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 40px;
  margin-right: 13px;
}

.form-review-bottom-container .form-review-rental-period .rental-period-date-value {
  display: inline-block;
  position: relative;
}

.form-review-bottom-container .form-review-rental-period .rental-period-date-value > input {
  display: inline-block;
  width: 186px;
  line-height: 40px;
  margin-left: 13px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  font-family: "Avenir Next";
}

.form-review-bottom-container .form-review-rental-period .rental-period-date-value .input-arrows-container{
  position: absolute;
  height: auto;
  display: block;
  right: 10px;
  top: 12px;
  font-size: 0;
}

.form-review-bottom-container .form-review-printer-kits-container, .form-review-bottom-container .form-review-additional-ipads-container {
  width: 100%;
  line-height: 40px;
  display: inline-block;
  font-size: 0;
  margin-bottom: 11px;
}

.form-review-printer-kits-container .printer-kits-value, .form-review-additional-ipads-container .additional-ipads-value{
  display: inline-block;
}

.form-review-printer-kits-container .printer-kits-value > input, .form-review-additional-ipads-container .additional-ipads-value > input {
  display: inline-block;
  width: 42px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  font-family: "Avenir Next";
  margin-right: 15px;
}

.form-review-printer-kits-container .printer-kits-text, .form-review-additional-ipads-container .additional-ipads-text {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  font-size: 14px;
  font-family: "Avenir Next";
}

.form-review-printer-kits-container .printer-kits-price,  .form-review-additional-ipads-container .additional-ipads-price {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
  float: right;
}

.form-review-bottom-container .form-review-shipping-estimation-container {
  width: 100%;
  display: inline-block;
  line-height: 40px;
}

.form-review-shipping-estimation-container .shipping-estimation-text {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
}

.form-review-shipping-estimation-container .shipping-estimation-text > span {
  font-weight: 600;
}

.form-review-shipping-estimation-container .shipping-estimation-price {
  display: inline-block;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
  float: right;
}

.form-review-bottom-container .form-review-credit-card-info-container {
  width: 100%;
  display: inline-block;
  font-size: 0;
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
}

.form-review-credit-card-info-container .credit-card-data {
  display: inline-block;
  width: 75%;
  float: right;
}

.form-review-credit-card-info-container .credit-card-data .credit-card-number-ending {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
}

.form-review-credit-card-info-container .credit-card-data .total-charged-from-card {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  float: right;
}

.form-review-credit-card-info-container .change-credit-card {
  display: inline-block;
  width: 75%;
  float: right;
  line-height: 24px;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 600;
  color: #4AB2DF;
  cursor: pointer;
}
