<div class="badge-rent-printer-form">
  <div class="badge-rent-printer-form-top">
    <div class="badge-rent-printer-form-top-step-tab">
      <div class="badge-rent-printer-form-top-step-number" ng-class="{'active': currentStep >= 1}">1</div>
      <div class="badge-rent-printer-form-top-step-title">Rental Agreement</div>
    </div>
    <div class="badge-rent-printer-form-top-step-tab">
      <div class="badge-rent-printer-form-top-step-number" ng-class="{'active': currentStep >= 2}">2</div>
      <div class="badge-rent-printer-form-top-step-title">Shipping Info</div>
    </div>
    <div class="badge-rent-printer-form-top-step-tab">
      <div class="badge-rent-printer-form-top-step-number" ng-class="{'active': currentStep >= 3}">3</div>
      <div class="badge-rent-printer-form-top-step-title">Payment Info</div>
    </div>
    <div class="badge-rent-printer-form-top-step-tab">
      <div class="badge-rent-printer-form-top-step-number" ng-class="{'active': currentStep == 4}">4</div>
      <div class="badge-rent-printer-form-top-step-title">Review</div>
    </div>
  </div>

  <div class="badge-rent-printer-form-container">
      <div class="badge-rent-printer-form-rental-agreement-container" ng-if="currentStep == 1">
        <div class="form-container">
          <div class="form-container-title">Rental Agreement</div>
          <div class="form-container-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </br>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            </br>
            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
            </br>
            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </br>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          </div>
          <div class="form-container-check-agreement" ng-click="toggleRentalAgreement()">
            <div class="form-container-check-agreement-box" ng-class="{'active' : rentalAgreement}">
              <i class="fa fa-check" aria-hidden="true" style="font-size: 17px; line-height: 24px;" ng-if="rentalAgreement"></i>
            </div>
            <div class="form-container-check-agreement-text">I agree to the rental agreement terms and conditions.</div>
          </div>
        </div>
      </div>
      <div class="badge-rent-printer-form-shipping-info-container" ng-if="currentStep == 2">
        <div class="form-container">
          <div class="form-container-title">Shipping Information</div>
          <div class="form-shipping-field" ng-repeat="field in shippingFormFields">
            <div class="form-shipping-field-name">{{field.field_name}}</div>
            <div class="form-shipping-field-value">
              <input style="width: {{field.field_width}};">
              <div class="input-arrows-container" ng-if="field.field_code == 'state' ">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="badge-rent-printer-form-payment-info-container" ng-if="currentStep == 3">
        <div class="form-container">
          <div class="form-container-title">Enter Your Payment Information</div>
          <form class="form-payment-info-container" id="rent_printer_payment">
            <div class="form-payment-field">
              <div class="form-payment-field-name">Credit Card Number</div>
              <div class="form-payment-field-value">
                <input style="width: 100%;" id="rent_printer_payment_CCN" type="text" ng-class="CCNType != '' ? 'valid-CCN-input' : ''"
      						data-stripe="number"
      						maxlength="16"
      						ng-blur="checkTypeOfCard()"
      						ng-focus="checkTypeOfCard()"
      						onkeydown="return ( event.ctrlKey || event.altKey
      						|| (47<event.keyCode && event.keyCode<58 && event.shiftKey===false)
      						|| (95<event.keyCode && event.keyCode<106)
      						|| (event.keyCode===8) || (event.keyCode===9)
      						|| (event.keyCode>34 && event.keyCode<40)
      						|| (event.keyCode===46) )">
              </div>
            </div>
            <div class="form-payment-card-types-container">
              <div class="type-of-card"><img ng-src="{{CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
    					<div class="type-of-card"><img ng-src="{{CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
    					<div class="type-of-card"><img ng-src="{{CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
    					<div class="type-of-card"><img ng-src="{{CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
    					<div class="type-of-card"><img ng-src="{{CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
    					<div class="type-of-card"><img ng-src="{{CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}"></div>
            </div>
            <div class="form-payment-field">
              <div class="form-payment-field-name">Expiration Date</div>
              <div class="form-payment-field-value">
                <input style="width: 30%;" placeholder="MM/YYYY">
              </div>
            </div>
            <div class="form-payment-field">
              <div class="form-payment-field-name">CVV Number</div>
              <div class="form-payment-field-value">
                <input style="width: 16%;" placeholder="###">
              </div>
            </div>
            <div class="form-payment-field">
              <div class="form-payment-field-name">Billing Zip Code</div>
              <div class="form-payment-field-value">
                <input style="width: 30%;">
              </div>
            </div>
            <div class="form-payment-field">
              <div class="form-payment-field-name">Name on Card</div>
              <div class="form-payment-field-value">
                <input style="width: 100%;">
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="badge-rent-printer-form-review-container" ng-if="currentStep == 4">
      <div class="form-container">
        <div class="form-container-title">Review and Purchase Your Rental Order</div>
        <div class="form-review-top-container">
          <div class="form-review-shipping-info">
            <div class="form-review-shipping-info-title">
              Ship to:
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
            <div class="form-review-shipping-data">Company Name</div>
            <div class="form-review-shipping-data">Address</div>
            <div class="form-review-shipping-data">City, State Zip Code</div>
            <div class="form-review-shipping-data">Phone Number</div>
            <div class="form-review-shipping-data">Mobile Number</div>
            <div class="form-review-shipping-data">Email Address</div>
          </div>
          <div class="form-review-payment-info">
            <div class="form-review-payment-info-title">
              Payment Method
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
            <div class="form-review-payment-info-card-data">
              <div class="payment-info-card-type"><img ng-if="false" ng-src="{{CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
              <div class="payment-info-card-number-ending">Visa ending in {{5674}}</div>
            </div>
            <div class="form-review-payment-info-expiration-date">Expiration: </div>
          </div>
        </div>
        <div class="form-review-bottom-container">
          <div class="form-review-rental-period">
            <div class="rental-period-text">Rental Period:</div>
            <div class="rental-period-date-value">
              <input>
              <div class="input-arrows-container">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="form-review-printer-kits-container">
            <div class="printer-kits-value">
              <input>
            </div>
            <div class="printer-kits-text">Printer Kits at $100/day</div>
            <div class="printer-kits-price">{{15530 | currency : '$' : 2}}</div>
          </div>
          <div class="form-review-additional-ipads-container">
            <div class="additional-ipads-value">
              <input>
            </div>
            <div class="additional-ipads-text">Additional iPads at $50/day</div>
            <div class="additional-ipads-price">{{15400 | currency : '$' : 2}}</div>
          </div>
          <div class="form-review-shipping-estimation-container">
            <div class="shipping-estimation-text">
              <span>Shipping</span> (estimated shipment arrival: {{'date'}})
            </div>
            <div class="shipping-estimation-price">{{25560 | currency : '$' : 2}}</div>
          </div>
          <div class="form-review-credit-card-info-container">
            <div class="credit-card-data">
              <div class="credit-card-number-ending">Charge to your credit card ending in {{4566}}:</div>
              <div class="total-charged-from-card">{{25560 | currency : '$' : 2}}</div>
            </div>
            <div class="change-credit-card">Change credit card number</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="badge-rent-printer-form-bottom">
    <div class="badge-rent-printer-form-bottom-button-container">
      <div class="badge-rent-printer-form-bottom-button cancel-button" ng-if="currentStep == 1 || currentStep == 3" ng-click="nextPage('backward')">Cancel</div>
      <div class="badge-rent-printer-form-bottom-button cancel-button" ng-if="currentStep == 2 || currentStep == 4" ng-click="nextPage('backward')">Back</div>
    </div>
    <div class="badge-rent-printer-form-bottom-button-container">
      <div class="badge-rent-printer-form-bottom-button next-button" ng-if="currentStep != 4" ng-click="nextPage('forward')">NEXT</div>
      <div class="badge-rent-printer-form-bottom-button next-button" ng-if="currentStep == 4" ng-click="nextPage('forward')">PURCHASE</div>
    </div>
  </div>
</div>
