<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="container-center login-container">
    <form class="account-form" name="Login">
      <input name="email" ng-model="user.email" placeholder="Email Address TEST BISH">
      <input type="password" name="password" ng-model="user.password" placeholder="Password">
      <a ui-sref="account.forgot" class="secondary-action-link">Forgot password?</a>
      <div class="action-button primary" ng-click="login(user.email, user.password)">log in</div>
    </form>
</div>
<div class="bottom">
  <div class="action-button secondary" ui-sref="account.create">create an account</div>
</div>
