<div class="attendee-session-info-panel">
	<div class="header-info-attendee-panel" style="height: inherit;">
		<div class="main-attendee-info" style="align-items: center;">
			<div class="photo-circle">
        <useravatar image="attendee.attendee_photo"
                    firstname="attendee.first_name"
                    lastname="attendee.last_name"
                    size="90px"
                    fontsize="26px">
        </useravatar>
      </div>
			<div style="width: 340px;">
				<p style="margin-top: 0;">{{attendee.first_name + ' ' + attendee.last_name}}</p>
				<p ng-if="attendee.job_title">{{attendee.job_title}}</p>
				<p ng-if="attendee.company_name">{{attendee.company_name}}</p>
			</div>
		</div>
		<div class="other-info">
	      <table>
		        <tr class="info-attendee-tabel" ng-repeat="field in formLabels">
		            <td class="label" style="width: 125px;">{{field.label}}</td>
		            <td class="info-label">{{attendee[field.code] || '--'}}</td>
		        </tr>
						<tr class="info-attendee-tabel" ng-repeat="customAttendeeField in attendee.customattendeefieldvalue_set">
								<td class="label" style="width: 125px;">{{customAttendeeField.custom_attendee_field.name}}</td>
								<td class="info-label">{{customAttendeeField.value || '--'}}</td>
						</tr>
	      </table>
    </div>
		<!-- Session Info & Payments Info-->
		<div class="info-tabs-per-attendee">
				<div class="tab-for-border" style="width: 33px;" ng-class="attendee_session_info == false ? 'border-less' : ''"></div>
				<div class="sessions-info-tab-per-attendee cursor" style="border-right-style: none; border-bottom-style: none;"
						ng-click="attendee_session_info = false"
						ng-class="attendee_session_info == true ? 'unselected-info-payment-panel' : ''">
								Payment Details
				</div>
				<div class="sessions-info-tab-per-attendee cursor"
						ng-click="attendee_session_info = true;"
						ng-class="attendee_session_info == false ? 'unselected-info-sessions-panel' : ''">
						Sessions
				</div>
				<div class="tab-for-border"
						ng-class="attendee_session_info == false ? 'border-less' : (attendeePayments.created_at != null ? '' : 'border-ness')">
				</div>
		</div>
		<div class="footer-info-attendee-panel" style="padding-top: 0px; background-color: #f9f9f9;" ng-if="attendee_session_info">
				<div style="margin-left:40px; margin-bottom: 40px;">
						<div ng-if="attendeeRegisteredSessions.sessions_attendees.length > 0">
								<div class="session-info-header">
										<p>Registered</p>
										<p>Attended</p>
								</div>
								<div class="session-info" ng-repeat="session in attendee_sessions | orderBy : '+session.starts_at'">
										<div>{{session.session.starts_at | date:'M/d':conference.time_zone}}</div>
										<div class="session-title">
												<p class="ellipsis" title="{{session.session.title}}" >{{session.session.title}}</p>
												<p ng-if="session.scanned_at">Scanned - {{session.scanned_at | date : 'h:mm a':conference.time_zone}}</p>
												<p ng-if="session.scanned_again_at_array && session.scanned_again_at_array.length > 0">
														<span ng-repeat="scanned_at in session.scanned_again_at_array">
																{{scanned_at | date : 'h:mm a':conference.time_zone}}
														</span>
												</p>

												<p ng-if="!session.scanned_at">Not scanned yet</p>
										</div>
										<span>
												<i class="fa fa-check" aria-hidden="true" ng-if="session.checkRegister"
														style="font-size: 18px; color: #26a7de; margin-right: 62px;"></i>
												<i class="fa fa-check" aria-hidden="true" ng-if="!session.checkRegister"
														style="font-size: 18px; color: #26a7de; margin-right: 62px; opacity:0"></i>
										</span>
										<span>
												<i class="fa fa-check" aria-hidden="true" ng-if="session.checkScanned"
														style="font-size: 18px; color: #f68c1c;"></i>
												<i class="fa fa-check" aria-hidden="true" ng-if="!session.checkScanned"
														style="font-size: 18px; color: #f68c1c; opacity:0"></i>
										</span>
								</div>
						</div>
				</div>
				<div ng-if="attendeeRegisteredSessions.sessions_attendees.length <= 0" style="margin-top: 14px; height: 125px; background-color: inherit;">
						<div class="session-info-header-none">
								No sessions attended or registered to yet.
						</div>
				</div>
		</div>

		<div ng-if="!attendee_session_info" class="payment-attendee-panel">
				<div ng-if="attendeePayments.created_at != null">
						<div class="flex-row">
								<p class="medium" style="font-size: 12px;">Date / Time</p>
								<p class="medium" style="font-size: 12px; margin-left: auto;">Amount</p>
						</div>
						<div class="flex-column">
								<div class="flex-row">
										<div class="flex-column">
												<p class="medium" style="font-size: 14px; line-height: 24px;">
														Paid with cc (...{{attendeePayments.last4}})
												</p>
												<p class="medium" style="font-style: italic; font-size: 14px; line-height: 24px;">
														{{attendeePayments.created_at | date : 'M/d/yyyy'}} at {{attendeePayments.created_at | date : 'hh:mm a'}}
												</p>
										</div>
										<div class="flex-column" style="margin-left: 172px;">
												<p class="medium" style="font-size: 14px; line-height: 24px; text-align: center;">
														{{attendeePayments.amount | currency : '$'}}
												</p>
												<p class="medium" ng-if="attendeePayments.promo_code != null"
														style="font-style: italic; font-size: 14px; line-height: 24px;">
														with promo code
												</p>
										</div>
										<div ng-if="permissions.admin || permissions.can_edit" class="demi cursor payment-refund-button" ng-click="openRefundPaymentModal()"
												style="font-size: 12px; margin-left: auto;">
												REFUND
										</div>
								</div>
								<div class="flex-row" ng-repeat="refund in attendeePayments.refunds | orderBy:'created_at'"
										ng-if="attendeePayments.refunds.length > 0">
										<div class="flex-column">
												<p class="medium" style="font-size: 14px; line-height: 24px;">
														Refunded with cc (...{{attendeePayments.last4}})
												</p>
												<p class="medium" style="font-style: italic; font-size: 14px; line-height: 24px;">
														{{refund.created_at | date : 'M/d/yyyy'}} at {{refund.created_at | date : 'hh:mm a'}}
												</p>
										</div>
										<div class="flex-column" style="margin-left: 172px;">
												<p class="medium" style="font-size: 14px; line-height: 24px; text-align: center;">
														({{refund.amount | currency : '$'}})
												</p>
										</div>
								</div>
						</div>
				</div>
				<div ng-if="attendeePayments.created_at == null">
					<div class="flex-column">
							<p class="medium" style="font-size: 14px; line-height: 24px;">No payments made by this attendee.</p>
					</div>
				</div>
		</div>

</div>
</div>
