<div class="generic-page-interactor-wrapper">
	<div class="page-marker">
		{{ startIndex}} - {{endIndex}} of {{totalNumberOfItems}} records
	</div>
	<div class="generic-page-previous-button" ng-class="{'active': previousTokenExists}" ng-click="previous()">
		<i class="fa fa-angle-left"></i>
	</div>
	<div class="generic-page-next-button" ng-class="{'active': nextTokenExists}" ng-click="next()">
		<i class="fa fa-angle-right"></i>
	</div>
</div>
