.generic-page-interactor-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #cdcdcd;
}

.generic-page-interactor-wrapper .page-marker {
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.generic-page-interactor-wrapper .generic-page-previous-button {
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: inline-block;
	vertical-align: middle;

	opacity: 0.5;
	cursor: not-allowed;

	transition: opacity .2s ease;
}

.generic-page-interactor-wrapper .generic-page-previous-button.active {
	opacity: 1;
	cursor: pointer;
}

.generic-page-interactor-wrapper .generic-page-next-button {
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	display: inline-block;
	vertical-align: middle;

	opacity: 0.5;
	cursor: not-allowed;

	transition: opacity .2s ease;
}

.generic-page-interactor-wrapper .generic-page-next-button.active {
	opacity: 1;
	cursor: pointer;
}

.generic-page-interactor-wrapper .generic-page-previous-button .fa {
	color: #818181;
	font-size: 26px;
	line-height: 26px;
}

.generic-page-interactor-wrapper .generic-page-next-button .fa {
	color: #818181;
	font-size: 26px;
	line-height: 26px;
}
