.join-conference {
    height: 100%;
    width: 45vw;
    margin: 0px;
}

.company-profile{
    position: relative;
    height: calc(100vh - 155px);
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 4px, rgba(0, 0, 0, 0.26) 0px -2px 4px;
    background:#fff;
    font-family: "AvenirNextLTPro-Demi";
    color: #4a4a4a;
}
.company-profile .title {
	padding-bottom: 5px;
  font-size: 20px;
	height: 30px;
	box-sizing: border-box;
  margin: 33px 0 0 34px;
}
.company-profile .sub-title {
  font-size: 14px;
	box-sizing: border-box;
  margin: 0 0 10px 34px;
}
.company-profile .add-form-wrapper {
	padding: 30px 50.2px 0px 34px;
	height: calc(100% - 180px);
	box-sizing: border-box;
	margin-top: 0;
	overflow:hidden !important;
  position: relative;
  color: #4a4a4a;
}
.company-profile .add-form-wrapper .input-wrapper{
  margin-bottom: 10px;
}
.company-profile .add-form-wrapper .input-wrapper .name {
    font-family: "AvenirNextLTPro-Demi";
    font-size: 14px;
    color: #4a4a4a;
    width: 45%;
  }
.company-profile .add-form-wrapper .input-wrapper input {
    height: 36px;
    border: 1px solid #cdcdcd;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 14px;
    font-family: 'AvenirNextLTPro-Regular';
    padding-left: 10px;
    padding-right: 10px;
}
.company-profile .add-form-wrapper .input-wrapper textarea {
    height: 80px;
    width: 49%;
    font-size: 14px;
    padding: 12px;
  }
.company-profile .add-form-wrapper .input-wrapper select {
	width: 53%;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
}

.company-profile .add-form-wrapper .input-wrapper select option {
	font-size: 14px;
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'AvenirNextLTPro-Regular';
  line-height: 40px;
  width: calc(100% + 10px);
}

.company-profile .add-form-wrapper .input-wrapper input:focus {
	background-color: #4a4a4a;
	color: white;
}
.company-profile .add-form-wrapper .input-wrapper .intl-tel-input {
    width: 54%;
}

.company-profile .add-form-wrapper .input-wrapper .intl-tel-input input {
    width: 100%;
    padding-left: 44px;
}

.company-profile .add-form-wrapper .input-wrapper .intl-tel-input .arrow {
  left: 35px;
}
.company-profile .input-wrapper .add_attendee_upload_link {
	width: 50%;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
}
.company-profile .add-form-wrapper .input-wrapper .attendee-upload-image {
	display:flex;
}

.company-profile .add-form-wrapper .input-wrapper .attendee-upload-image>div:first-child{
	width: 45px;
  height: 45px;
  margin: 10px 10px 0 0;
  border-radius:50%;

    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
}
.company-profile .add-form-wrapper .input-wrapper .attendee-upload-image>div:last-child {
	padding:24px 0;
}
.company-profile .mandatory-notification {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 12px;
  }
.company-profile .buttons-wrapper {
    border-top: 1px solid #cdcdcd;
    font-size: 0;
    padding: 30px 30px 0 30px;
  }
  .company-profile .buttons-wrapper .button {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      color: #4a4a4a;
      font-size: 14px;
      font-family: 'AvenirNextLTPro-Regular';
      line-height: 40px;
      padding-left: 54px;
      padding-right: 54px;
      border: 1px solid #cdcdcd;
      border-radius: 20px;
      box-sizing: border-box;
      cursor: pointer;
      max-width: 150px;
      transition: color .2s ease, background-color .2s ease;
  }
.company-profile .buttons-wrapper .right-part {
    width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.company-profile .buttons-wrapper .button.save {
    background-color: #68aa3b;
    border: 1px solid #68aa3b;
    color: white;
    font-family: 'AvenirNextLTPro-Bold';
    text-transform: uppercase;
    max-width: none;
}
