<static-header></static-header>
<!-- <div class="dash-cr exhibitor-dash-cr join-conference-form-holder">
    <div class="company-profile-popup flex-column" style="background-color: #fff;">
        <p class="demi">Add Your Exhibitor Details</p>
        <p class="medium">As an exhibitor administrator, please complete or update your company details.</p>
        <div class="form">
            <div ng-repeat="field in vm.mainExhibitorProfileFields" class="flex-row" ng-if="!(field.code == 'state' && vm.exhibitorDetails['country'] != vm.all_countries[0].name)">
                <p ng-if="field.code != 'promo_code' && !(field.code == 'state' && vm.exhibitorDetails['country'] != vm.all_countries[0].name)"
                    class="demi">{{field.label}}<span style="color: #f58a1c;" ng-if="field.required">*</span></p>
                <input ng-if="(field.code != 'logo') && (field.code != 'promo_code') && (field.code != 'description') &&
						(field.code != 'country') && (field.code != 'state')" type="text" ng-model="vm.exhibitorDetails[field.code]" class="medium"
                    placeholder="{{field.placeholder}}" ng-class="vm.exhibitorDetails[field.code].length > 0 ? 'field-autocomplete' : ''">

                <select style="width: 306px; background-color: #fff; height: 40px; padding-left: 10px;" ng-if="field.code == 'country'" ng-model="vm.exhibitorDetails['country']">
                        <option
                            ng-repeat="option in vm.all_countries" ng-value="option.name">{{option.name}}
                        </option>
                </select>
                <select style="margin-right: 228px; height: 40px; width:75px; background-color: #fff; padding-left: 10px;" ng-if="vm.exhibitorDetails['country'] == vm.all_countries[0].name && field.code == 'state'"
                    ng-model="vm.exhibitorDetails['state']">
                        <option
                            ng-repeat="option in vm.united_states" ng-value="option.abbreviation">{{option.abbreviation}}
                        </option>
                </select>
                <textarea ng-if="field.code == 'description'"></textarea>


            </div>
            <p class="medium">*Required</p>
        </div>
        <div class="flex-row" style="margin-top: -18px;">
            <div class="medium cursor" ui-sref="conferences.overview">Cancel</div>
            <div class="bold cursor" ng-click="vm.saveButtonHandler(vm.exhibitorDetails)">SAVE</div>
        </div>
    </div>
</div> -->
<div class="dash-cr exhibitor-dash-cr join-conference-form-holder">
<div class="join-conference company-profile">
	<div class="title">Add Your Exhibitor Details</div>
  <div class="sub-title medium">As an exhibitor administrator, please complete or update your company details.</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" ng-repeat="field in vm.mainExhibitorProfileFields" ng-if="!(field.code == 'state' && vm.exhibitorDetails['country'] != vm.all_countries[0].name)">
			<div class="name" ng-if="field.code != 'promo_code' && !(field.code == 'state' && vm.exhibitorDetails['country'] != vm.all_countries[0].name)">
        {{field.label}}
        <span style="color: orange" ng-if="field.required">*</span>
      </div>
			<input type="text" ng-if="(field.code != 'logo') && (field.code != 'promo_code') && (field.code != 'description') &&
  (field.code != 'country') && (field.code != 'state') && (field.code != 'phone_number')" type="text" ng-model="vm.exhibitorDetails[field.code]" class="medium"
          placeholder="{{field.placeholder}}" ng-class="vm.exhibitorDetails[field.code].length > 0 ? 'field-autocomplete' : ''"></input>
			<input type="text" ng-if="field.code == 'phone_number'" type="text" ng-model="field.value" class="medium"
		         ng-class="vm.exhibitorDetails[field.code].length > 0 ? 'field-autocomplete' : ''" intl-tel-input intl-tel-input-options="{initialCountry: vm.defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>

			<select ng-if="field.code == 'country'" ng-model="vm.exhibitorDetails['country']" ng-change="vm.updateCountryForPhoneInput(vm.exhibitorDetails['country'])" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
        <option
            ng-repeat="option in vm.all_countries" ng-value="option.name">{{option.name}}
        </option>
      </select>
			<select ng-if="vm.exhibitorDetails['country'] == vm.all_countries[0].name && field.code == 'state'" ng-model="vm.exhibitorDetails['state']" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
        <option
            ng-repeat="option in vm.united_states" ng-value="option.abbreviation">{{option.name}}
        </option>
      </select>
      <textarea ng-if="field.code == 'description'" ng-model="vm.exhibitorDetails[field.code]"></textarea>
      <span ngf-select="vm.uploadCompanyLogo($files)" class="add_attendee_upload_link" ng-if="field.code == 'logo'"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
         ngf-drag-over-class="'dragover'" ngf-multiple="false">

        <div class="attendee-upload-image">
          <div style="background-image: url({{vm.logo || '/assets/images/exhibitor-default-logo.png'}})"></div>
          <div>Upload from computer</div>
      </div>
		</div>
		<div class="mandatory-notification">
			<span style="color: orange">* Required</span>
		</div>
	</div>

	<div class="buttons-wrapper">
		<div class="button" ng-click="vm.goToOverview($event)">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="vm.saveButtonHandler(vm.exhibitorDetails)">SAVE</div>
		</div>
	</div>
</div>
</div>
