<div>
	<create-form-header></create-form-header>
	<div class="attendee-fields-entry">
		<div class="select-standard-attendee-fields">
			<p>Select any of the following standard fields to display:</p>
			<div class="standard-attendee-fields">
				<div ng-repeat="standardField in standardFields track by $index">
					<p>{{standardField.label}}</p>
					<div class="cursor" ng-click="dropDownTypeOfField($event)" ng-if="$index > 2">
						{{standardField.type_code}}
						<i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative;
		                    bottom: 2px; margin-left: auto; margin-right: 11px;"></i>
					</div>
					<div class="drop-down-type-for-field" click-outside='hideDropdown($index)' ng-if="$index > 2">
						<div ng-click="chooseStandardFieldType(standardField, 'required', $event)">Required</div>
						<div ng-click="chooseStandardFieldType(standardField, 'optional', $event)">Optional</div>
						<div ng-click="chooseStandardFieldType(standardField, 'hidden', $event)">Hidden</div>
					</div>
					<p ng-if="$index <= 2">{{standardField.type_code}}</p>
				</div>
			</div>
		</div>
		<div class="create-additional-attendee-fields">
			<div>
				<p>Create additional attendee fields:</p>
				<div class="create-additional-attendee-fields-panel">
					<div>

						<div>
							<input style="margin-right: 10px;" type="text" placeholder="Custom Field Name (unique)" ng-model="newCustomField.name">
							<div>
								<div class="select-options-for-custom-field cursor" ng-class="customFieldMoreOptions == true ? '' : (updateCustomFieldBoolean ? 'unclickable' : '')" ng-click="toggleCustomFieldsMoreOptions()" click-outside="customFieldMoreOptions = false">
									{{customFieldSelected}}
									<i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative;
	                			right: 12px; float: right; top: 12px;"></i>
								</div>
								<div ng-if="customFieldMoreOptions == true" class="custom-field-options-div">
									<div class="" ng-click="customFieldChose('Text')">
										Text
									</div>
									<div class="" ng-click="customFieldChose('Multiple Choice')">
										Multiple Choice
									</div>
									<div class="" ng-click="customFieldChose('Single Choice')">
										Single Choice
									</div>
								</div>
							</div>
						</div>

						<div class="conference-custom-field-options" ng-if="customFieldSelected == 'Multiple Choice' || customFieldSelected == 'Single Choice'">
							<div ng-repeat="option in newCustomField.options">
								<div class="conference-custom-field-name">
									<input type="text" ng-model="option.value" class="conference-custom-field-text" placeholder="Enter possible value for field" />
								</div>
								<div class="conference-custom-field-remove-btn" ng-click="customFieldRemoveOption(option)" style="margin-top: 7px;">
									<i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-right: 14px;" aria-hidden="true"></i>
								</div>
							</div>
							<div class="custom-fields-option-name-for-registration-form" style="align-items: flex-start;">
								<div class="conference-custom-field-name" style="width: 100%; height:40px;">
									<input type="text" ng-model="model.newOption" class="conference-custom-field-text" placeholder="Enter possible value for field" />
								</div>
								<div class="conference-custom-field-remove-btn" ng-click="customFieldAddOption(model)" style="margin-right: 7px;">
									<i class="fa fa-plus-circle cursor" style="font-size: 24px; color: #9b9b9b; margin-top: 7px;" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="cursor" ng-click="createOrUpdateCustomField(newCustomField)">SAVE FIELD</div>
					</div>
				</div>
			</div>
			<div>
				<p>Custom attendee fields:</p>
				<div class="additional-custom-fields" style="height: 300px;">
					<div class="additional-custom-fields-item" ng-repeat="customField in savedCustomFields track by $index" style="max-height: 42px;">
						<p>{{customField.name}}</p>
						<div ng-click="dropDownTypeOfField($event)" class="cursor">
							{{customField.registration_form_type || 'Optional'}}
							<i class="fa fa-sort" aria-hidden="true" style="color: #818181; font-size: 17px; position: relative; top: 10px;
			                    float: right; margin-right: 11px;"></i>
						</div>
						<div class="drop-down-type-for-field" click-outside='hideDropdown($index)'>
							<div ng-click="chooseCustomFieldType(customField, 'required', $event)">Required</div>
							<div ng-click="chooseCustomFieldType(customField, 'optional', $event)">Optional</div>
							<div ng-click="chooseCustomFieldType(customField, 'hidden', $event)">Hidden</div>
						</div>
						<div class="flex-row" style="align-items: center;">
							<div class="default-icon-circle" ng-click="getEditCustomField(customField)" style="margin-left: auto; margin-right: 10px;">
								<i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
							</div>
							<div class="default-icon-circle" ng-click="deleteCustomField(customField)" style="margin-right: 20px;">
								<i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- this will be enabled when the GDPR will be released-->
		<!-- <div class="third-parties-attendee-data">
			<p>List the 3rd parties who will have access to attendee data</p>
			<div class="trd-party-name">
				<div ng-repeat="trd_party in thirdPartiesList track by $index">
				<input
					type="text"
					placeholder="Enter 3rd Party Name ..."
					ng-model="trd_party.name"
					ng-blur="editThirdParty(trd_party)">
					<i class="fa fa-minus-circle cursor"
						style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
						aria-hidden="true" ng-click="removeThirdParty(trd_party.id)" ></i>
				<i class="fa fa-plus-circle cursor" aria-hidden="true"
					ng-click="editThirdParty(trd_party, true)" ng-if="thirdPartiesList.length == $index+1 && !addANewThirdParty"></i>
				</div>
				<div ng-if="thirdPartiesList.length == 0 || addANewThirdParty">
				<input
					type="text"
					placeholder="Enter 3rd Party Name ..."
					ng-model="newThirdPartyModel.name"
					ng-blur="addNewThirdParty(newThirdPartyModel)">
				<i class="fa fa-plus-circle cursor" aria-hidden="true"
					ng-click="addNewThirdParty(newThirdPartyModel,true)"></i>
				</div>
			</div>
		</div> -->
		<div class="create-registration-form-footer" style="margin-bottom: 40px;">
			<div ui-sref="conferences.dashboard.registration.overview">Cancel</div>
			<div ng-click="completeFirstStep()" style="margin-left: 10px;" ng-class="isProcessing ? 'grayed-out' : ''">NEXT</div>
		</div>
	</div>
</div>
