.attendee-fields-entry {
  height: calc(100vh - 75px - 130px); //app header & form header
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
}
.third-parties-attendee-data{
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #cdcdcd;
  padding-bottom: 40px;
  margin-bottom:40px;
  & p {
    font-size: 16px;
    font-family: "AvenirNextLTPro-Demi";
    margin-bottom: 30px;
  }
  & .trd-party-name{
    display:inline;
    align-items: center;
    & div{
      margin:0 0 10px 0;
    }
    & input{
      width: 229px;
      height: 40px;
      margin-right: 10px;
      padding-left: 10px;
    }
    & i{
      font-size: 24px;
      color: #9b9b9b;
      margin-left: 12px;
    }
  }
}
