<div class="account-features-wrapper" ng-class="{'ready': appReady}">
  <div class="account-external-error-message-wrapper" ng-if="errorMessage" ng-class="{'dismissed': errorMessageDismissed}">
    <div class="message">
      {{errorMessage}}
    </div>
    <i class="fa fa-close" ng-click="dismissErrorMessage()"></i>
  </div>
  <div class="center-box" ng-class="{'ready': appReady}">
    <div ui-sref="account.login" class="logo-holder">
      <img src="../assets/images/expo_logo_svg.svg" alt="Expo Pass" class="logo">
    </div>
    <div ui-view="account-feature"></div>
  <div>
</div>
