.account-features-wrapper {
	width: 100vw;
	height: 100vh;
	background-image: url("/assets/images/login_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;

	opacity: 0.5;
	transform: scale(0.8);
	transform-origin: center;
	transition: opacity .2s ease, transform .2s ease;
}

.account-features-wrapper.ready {
	opacity: 1;
	transform: scale(1);
}

.account-features-wrapper.ready .account-external-error-message-wrapper {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #E91D26;
	color: white;
	position: fixed;
	box-shadow: 0px 3px 13px 0px rgba(84, 84, 84, 0.52);

	transform: translateY(0);
	opacity: 1;
	transition: transform .2s ease, opacity .2s ease;
}

.account-features-wrapper.ready .account-external-error-message-wrapper.dismissed {
	transform: translateY(-60px);
	opacity: 0;
}

.account-features-wrapper.ready .account-external-error-message-wrapper .message {
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Demi';
}

.account-features-wrapper.ready .account-external-error-message-wrapper .fa {
	position: absolute;
	right: 26px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;

	border: 1px solid white;
	width: 20px;
	height: 20px;
	line-height: 19px;
	border-radius: 100%;

	opacity: 0.8;
	transition: opacity .2s ease;
	cursor: pointer;
}

.account-features-wrapper.ready .account-external-error-message-wrapper .fa:hover {
	opacity: 1;
}

.account-features-wrapper .center-box {
	width: 640px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.8);

	opacity: 0.8;
	transform-origin: center;
	transition: opacity .2s ease, transform .2s ease;
	transition-delay: 0.1s;
}

.account-features-wrapper .center-box.ready {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.account-features-wrapper .center-box .logo-holder {
	width: 100%;
	cursor: pointer;
}

.account-features-wrapper .center-box .logo-holder .logo {
	width: 180px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.account-features-wrapper .center-box .container-center {
	width: 100%;
	background-color: white;
	padding-bottom: 30px;
}

.account-features-wrapper .center-box .container-center .account-form {
	font-family: 'AvenirNextLTPro-Regular';
	text-align: center;

}

.account-features-wrapper .center-box .container-center .account-form input {
	font-family: 'AvenirNextLTPro-Regular';
	width: 310px;
	border: 1px solid #979797;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 40px;
}

.account-features-wrapper .center-box .container-center .account-form input:focus {
	border: 1px solid #26A7DE;
	color: #26A7DE;
}

.account-features-wrapper .center-box .container-center .account-form input::placeholder {
	color: #818181;
}

.account-features-wrapper .center-box .container-center .account-form .secondary-action-link {
	font-size: 12px;
	color: #26A7DE !important;
	margin-bottom: 20px;
	display: block;
}

.account-features-wrapper .center-box .container-center .account-form .secondary-action-link.spaced {
	margin-top: 32px;
}

.account-features-wrapper .center-box .container-center .account-form .secondary-action-link:hover {
	text-decoration: underline;
}

.account-features-wrapper .center-box .action-button {
	width: 230px;
	height: 40px;
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 42px;
	color: white;

	border-radius: 20px;
	box-sizing: border-box;

	margin: 0px auto;

	transition: background-color .2s ease, color .2s ease, opacity .2s ease;
	cursor: pointer;
}

.account-features-wrapper .center-box .action-button.locked {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.account-features-wrapper .center-box .action-button.primary {
	border: 1px solid #26A7DE;
	background-color: #26A7DE;
}

.account-features-wrapper .center-box .action-button.primary.spaced {
	margin-top: 30px;
}

.account-features-wrapper .center-box .action-button.primary:hover {
	background-color: white;
	color: #26A7DE;
}

.account-features-wrapper .center-box .action-button.primary.locked:hover {
	background-color: #26A7DE;
	color: white;
}

.account-features-wrapper .center-box .action-button.secondary {
	background-color: #68AA3B;
	border: 1px solid #68AA3B;
}

.account-features-wrapper .center-box .action-button.secondary:hover {
	background-color: white;
	color: #68AA3B;
}

.account-features-wrapper .center-box .bottom {
	border-top: 1px solid #818181;
	padding-top: 24px;
	padding-bottom: 42px;
	display: block;
}

.account-features-wrapper .center-box .bottom.spaced {
	padding-top: 34px;
	padding-bottom: 52px;
}

.account-features-wrapper .center-box .container-center .general-confirmation-message {
	width: 100%;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	margin: 0px auto;
	margin-bottom: 30px;
	color: #4A4A4A;
}


.account-features-wrapper .center-box .container-center .general-confirmation-title {
	margin: 0px;
	margin-bottom: 24px;
	font-size: 18px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.account-features-wrapper .center-box .bottom .question {
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 12px;
}

.account-features-wrapper .center-box .bottom .bottom-action-link {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 12px;
	color: #26A7DE !important;
	cursor: pointer;
}


.account-features-wrapper .center-box .bottom .bottom-action-link:hover {
	text-decoration: underline;
}
