<div class="custom-modal-wrapper add-exhibitor">
	<div class="title">Add an Exhibitor</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" ng-repeat="field in model">
			<div class="name">{{field.shownValue}}<span style="color: orange" ng-if="field.mandatory">*</span></div>
			<input type="text" ng-model="field.value" ng-class="{'error': field.error}"></input>
		</div>
	</div>
	<div class="mandatory-notification">
		<span style="color: orange">* Required</span>
	</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeModal()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="saveExhibitor(model, true)">Save</div>
			<div class="button smaller-padding save" ng-click="saveExhibitor(model, false)">Save & Add Another</div>
		</div>
	</div>
</div>
