.custom-modal-wrapper {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	background-color: white;
	width: 50%;
	box-shadow: 0 3px 5px 0 #0000004c;
	padding: 34px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	min-width: 600px;
}

.custom-modal-wrapper.add-exhibitor .title {
	font-size: 20px;
	font-family: "AvenirNextLTPro-Demi";
	color: #4a4a4a;
}


.custom-modal-wrapper.add-exhibitor .add-form-wrapper {
	margin-top: 30px;

}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper {
	font-size: 0;
	margin-bottom: 10px;
}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper .name {
	font-family: "AvenirNextLTPro-Demi";
  font-size: 14px;
  color: #4a4a4a;
	width: 45%;
}


.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper input {
	height: 40px;
	border: 1px solid #cdcdcd;
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	padding-left: 10px;
	padding-right: 10px;
}

.custom-modal-wrapper.add-exhibitor .add-form-wrapper .input-wrapper input.error {
	border: 1px solid red;
}

.custom-modal-wrapper.add-exhibitor .mandatory-notification {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 12px;
	margin-top: 20px;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper {
	margin-top: 25px;
	border-top: 1px solid #cdcdcd;
	font-size: 0;
	padding-top: 30px;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button {
	display: inline-block;
	vertical-align: middle;
	height: 40px;

	color: #4a4a4a;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	line-height: 40px;

	padding-left: 54px;
	padding-right: 54px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;

	box-sizing: border-box;
	cursor: pointer;
	max-width: 150px;

	transition: color .2s ease, background-color .2s ease;
}


.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button.smaller-padding {
	padding-left: 14px;
	padding-right: 14px;
	margin-left: 10px;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button.save {
	background-color: #68aa3b;
	border: 1px solid #68aa3b;
	color: white;
	font-family: 'AvenirNextLTPro-Bold';
	text-transform: uppercase;
	max-width: none;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper .right-part {
	width: calc(100% - 150px);
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button:hover {
	background-color: #4a4a4a;
	color: white;
}

.custom-modal-wrapper.add-exhibitor .buttons-wrapper .button.save:hover {
	background-color: white;
	color: #68aa3b;
}
