<div class="attendee-fields-wrapper avery-templates-wrapper">
	<div class="half action">
		<div class="title">Manage Your Avery Templates</div>
		<div class="sub-title">Before uploading a .Avery template you must first create the template going through the standard Avery badge creation process. This will ensure that the data will populate correctly when printing new or reprinting badges.</div>
		<div class="add-action-wrapper">
			<div class="sub-title">Upload your .Avery template</div>
			<div class="choose-button" ngf-select="uploadAveryTemplate($files)" ngf-max-size="10MB" ngf-multiple="false" ngf-pattern="'.avery'">choose file ...</div>
			<div class="file-title">{{uploadedFile.name || 'something.avery'}}</div>
			<div class="sub-title question">What type of template is this file?</div>
			<div class="types-buttons-wrapper">
				<div class="choose-button" ng-click="chooseType('badge')" ng-class="{'active': chosenType === 'badge'}">
					<i class="fa fa-tags"></i>
					Badge
				</div>
				<span class="text">or</span>
				<div class="choose-button"  ng-click="chooseType('label')" ng-class="{'active': chosenType === 'label'}">
					<i class="fa fa-th"></i>
					Label
				</div>
			</div>
			<div class="save-wrapper">
				<div class="save-button" ng-click="uploadAveryTemplateToServer($event, uploadedFile)">upload</div>
			</div>
		</div>
	</div>
	<div class="half list">
		<div class="semi-title">Your Uploaded Avery Templates</div>
		<div class="list-wrapper">
			<div class="list-item template" ng-repeat="template in uploadedTemplates" ng-click="selectField(field)">
				<div class="name">{{template.name}}</div>
				<div class="icons-wrapper">
					<i class="fa fa-trash-o" ng-click="deleteTemplate($event, template.id)"></i>
				</div>
			</div>
		</div>
	</div>
</div>
