.avery-templates-wrapper .sub-title {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	margin-top: 20px;
}

.avery-templates-wrapper .add-action-wrapper .sub-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.avery-templates-wrapper .add-action-wrapper .sub-title.question {
	margin-top: 30px;
}

.avery-templates-wrapper .add-action-wrapper .choose-button {
	height: 30px;
	display: inline-block;
	vertical-align: middle;

	border: 1px solid #cdcdcd;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;

	background-color: white;
	line-height: 30px;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	text-transform: uppercase;

	cursor: pointer;
	box-sizing: border-box;
	transition: background-color .2s ease, color .2s ease;
}

.avery-templates-wrapper .add-action-wrapper .choose-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.avery-templates-wrapper .add-action-wrapper .choose-button.active {
	background-color: #4a4a4a;
	color: white;
}

.avery-templates-wrapper .add-action-wrapper .types-button-wrapper {

}

.avery-templates-wrapper .add-action-wrapper .types-buttons-wrapper .choose-button {
	text-transform: capitalize;
	position: relative;
	width: 170px;
	text-align: center;
}

.avery-templates-wrapper .add-action-wrapper .types-buttons-wrapper .choose-button .fa {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.avery-templates-wrapper .add-action-wrapper .types-buttons-wrapper span {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	margin-left: 18px;
	margin-right: 18px;
	line-height: 30px;
}


.avery-templates-wrapper .add-action-wrapper .file-title {
	display: inline-block;
	vertical-align: middle;

	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;

	font-style: italic;
	margin-left: 18px;
}

.avery-templates-wrapper .half.list .list-wrapper .list-item.template .icons-wrapper {
	width: 30px;
}

.avery-templates-wrapper .half.list .list-wrapper .list-item.template .name {
	width: calc(100% - 30px);
}
