<div class="custom-modal-wrapper five-free-scans-card-modal lead-retrieval-users-card-modal">
	<div class="rail" ng-class="{'translated': stepTwoActive}">
		<div class="inline-wrapper review">
			<div class="title">Review and Purchase Your Upgrades</div>
			<div class="thin-separator"></div>
			<div class="buy-users-action-wrapper" ng-if="model.leadRetrievalFee">
				<span>Lead Retrieval Upgrade</span>
				<div class="pricing">${{model.leadRetrievalFee}}</div>
			</div>
			<div class="buy-users-action-wrapper" ng-if="model.exhibitorUserFee">
				<input type="number" ng-model="model.numberOfUsers" min="1">
				<span>Additional App Users</span>
				<div class="pricing">${{model.numberOfUsers * model.exhibitorUserFee}}</div>
			</div>
			<div class="promo-codes-apply-action-wrapper" ng-if="model.leadRetrievalFee && !model.exhibitorUserFee">
				<div class="subtitle">Promo Code for Lead Retrieval</div>
				<div class="input-wrapper">
					<input type="text" placeholder="Enter an exhibitor promo code..." ng-model="model.promoCode"></input>
					<div class="promo-code-apply-button" ng-click="applyPromoCode(model.promoCode)">
						apply
					</div>
					<div class="promo-code-apply-button promo-code-delete-button" ng-if="promoCode.code" ng-click="deletePromoCode()">
						delete
					</div>
				</div>
			</div>
			<div class="credit-card-charge-info promo-code-info" ng-if="promoCode.code">
				Promo Code Value
				<span>${{promoCode.value}}</span>
			</div>
			<div class="credit-card-charge-info" ng-if="!promoCode.code">
				TOTAL
				<span ng-if="model.exhibitorUserFee && !model.leadRetrievalFee">${{model.numberOfUsers * model.exhibitorUserFee}}</span>
				<span ng-if="!model.exhibitorUserFee && model.leadRetrievalFee">${{model.leadRetrievalFee}}</span>
				<span ng-if="model.exhibitorUserFee && model.leadRetrievalFee">${{model.numberOfUsers * model.exhibitorUserFee + model.leadRetrievalFee}}</span>
			</div>
			<div class="credit-card-charge-info" ng-if="promoCode.code">
				TOTAL
				<span ng-if="model.exhibitorUserFee && !model.leadRetrievalFee">${{model.numberOfUsers * model.exhibitorUserFee - promoCode.value < 0 ? 0 : model.numberOfUsers * model.exhibitorUserFee - promoCode.value}}</span>
				<span ng-if="!model.exhibitorUserFee && model.leadRetrievalFee">${{model.leadRetrievalFee - promoCode.value < 0 ? 0 : model.leadRetrievalFee - promoCode.value}}</span>
				<span ng-if="model.exhibitorUserFee && model.leadRetrievalFee">${{model.numberOfUsers * model.exhibitorUserFee + model.leadRetrievalFee}}</span>
			</div>
			<div class="buttons-wrapper">
				<div class="start-button" ng-click="checkIfCreditCardIsNeeded()">PURCHASE</div>
			</div>
		</div>
		<div class="inline-wrapper card">
			<div class="title">Enter Your Payment Information</div>
			<form class="five-free-scans-card-form" id="payment-form">
				<div class="input-holder credit-card">
					<div class="label">Credit Card Number</div>
					<input type="text" ng-blur="checkTypeOfCard()" data-stripe="number" maxlength="16" id="CCN" autocomplete="cc-number" onkeydown="return ( event.ctrlKey || event.altKey
							|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
							|| (95<event.keyCode && event.keyCode<106)
							|| (event.keyCode==8) || (event.keyCode==9)
							|| (event.keyCode>34 && event.keyCode<40)
							|| (event.keyCode==46) )"></input>
					<div class="credit-cards-holder">
						<img src="/assets/images/small_cards_types/rsz_visacolor.png" alt="Visa" ng-class="{'active': typeOfCard === 'visa'}">
						<img src="/assets/images/small_cards_types/rsz_mastercardcolor.png" alt="MasterCard" ng-class="{'active': typeOfCard === 'master'}">
						<img src="/assets/images/small_cards_types/rsz_discovercardcolor.png" alt="Discover" ng-class="{'active': typeOfCard === 'discover'}">
						<img src="/assets/images/small_cards_types/rsz_americanexpresscolor.png" alt="American Express" ng-class="{'active': typeOfCard === 'american_exp'}">
						<img src="/assets/images/small_cards_types/rsz_jcbcolor.png" alt="JCB" ng-class="{'active': typeOfCard === 'jcb'}">
						<img src="/assets/images/small_cards_types/rsz_dinerscardcolor.png" alt="Diner's Card" ng-class="{'active': typeOfCard === 'diners'}">
					</div>
				</div>
				<div class="input-holder">
					<div class="label">Expiration Date</div>
					<input type="text" placeholder="MM/YY" data-stripe="exp" autocomplete="cc-exp" ng-model="expirationDate" ng-change="formatExpirationDate(expirationDate)" placeholder="MM/YY"></input>
				</div>
				<div class="input-holder">
					<div class="label">CVV</div>
					<input type="text" placeholder="###" data-stripe="cvc" autocomplete="cc-csc" onkeydown="return ( event.ctrlKey || event.altKey
					|| (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
					|| (95<event.keyCode && event.keyCode<106)
					|| (event.keyCode==8) || (event.keyCode==9)
					|| (event.keyCode>34 && event.keyCode<40)
					|| (event.keyCode==46) )"></input>
				</div>
				<div class="input-holder">
					<div class="label">Billing Zip Code</div>
					<input type="text" data-stripe="address_zip"></input>
				</div>
				<div class="input-holder">
					<div class="label">Name on Card</div>
					<input type="text" data-stripe="name" autocomplete="cc-name" ></input>
				</div>
			</form>
			<div class="terms-wrapper lead-retrieval-users-terms">
				Refunds will not be made unless there are performance or service issues with the service/technology.</div>
			<div class="buttons-wrapper">
				<div class="cancel-button" ng-click="closeThisDialog()">cancel</div>
				<div class="start-button" ng-click="payForUpgrades()">NEXT</div>
			</div>
		</div>
	</div>
</div>
