.five-free-scans-card-modal.lead-retrieval-users-card-modal {
	overflow: hidden;
}
.five-free-scans-card-modal.lead-retrieval-users-card-modal .rail {
	width: calc(200% + 34px + 34px);
	font-size: 0;
	transform: translateX(0);

	transition: transform .2s ease;
}

.five-free-scans-card-modal.lead-retrieval-users-card-modal .rail.translated {
	transform: translateX(-50%);
}
.five-free-scans-card-modal .terms-wrapper.lead-retrieval-users-terms {
	background-color: white;
	border-top: none;
}

.five-free-scans-card-modal .inline-wrapper {
	width: calc(50% - 34px);
	display: inline-block;
	vertical-align: top;
	margin-right: 34px;
	overflow: hidden;
}

.five-free-scans-card-modal .inline-wrapper:last-child {
	margin-right: 0;
}

.five-free-scans-card-modal .inline-wrapper.review .thin-separator {
	width: 100%;
	height: 1px;
	background-color: #cdcdcd;
	margin-top: 40px;
}

.five-free-scans-card-modal .inline-wrapper.review .buy-users-action-wrapper {
	height: 80px;
	border-bottom: 1px solid #cdcdcd;
	line-height: 80px;
	box-sizing: border-box;
}

.five-free-scans-card-modal .inline-wrapper.review .buy-users-action-wrapper input {
	width: 60px;
	height: 40px;
	border: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 14px;
	margin-right: 20px;
	padding-left: 10px;
	box-sizing: border-box;
	line-height: 40px;
}

.five-free-scans-card-modal .inline-wrapper.review .buy-users-action-wrapper span {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.five-free-scans-card-modal .inline-wrapper.review .buy-users-action-wrapper .pricing {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	float: right;
}

.five-free-scans-card-modal .inline-wrapper.review .credit-card-charge-info {
	font-size: 14px;
  line-height: 30px;
  font-family: 'AvenirNextLTPro-Demi';
  color: #4a4a4a;
  text-align: right;
}

.five-free-scans-card-modal .inline-wrapper.review .credit-card-charge-info.promo-code-info {
	margin-top: 20px;
}

.five-free-scans-card-modal .inline-wrapper.review .credit-card-charge-info span {
	margin-left: 50px;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper {
	padding-top: 15px;
  height: 100px;
  border-bottom: 1px solid #cdcdcd;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .subtitle {
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	color: #4a4a4a;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper {
	width: 100%;
	position: relative;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper input {
	width: 60%;
	height: 40px;
	border: 1px solid #cdcdcd;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 6px;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper .promo-code-apply-button {
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 40px;
	border-radius: 20px;
	border: 1px solid #77A84B;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 50%;
	text-transform: uppercase;
	color: white;
	background: #77A84B;
	transform: translateY(-50%);
	cursor: pointer;

	transition: background-color .2s ease, color .2s ease;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper .promo-code-apply-button:hover {
	background-color: white;
	color: #77A84B;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper .promo-code-apply-button.promo-code-delete-button {
	background: #e9212d;
	border: 1px solid #e9212d;
}

.five-free-scans-card-modal .promo-codes-apply-action-wrapper .input-wrapper .promo-code-apply-button.promo-code-delete-button:hover {
	color: #e9212d;
	background: white;
}
