<div class="selected-items-further-actions-wrapper" ng-class="{'visible' : promptMessage}">
	<div ng-if="!allListIsSelected">
		<span>{{numberOfItemsSelected}} records selected.</span>
		<span class="action" ng-click="toggleSelectionForList(true)">Select all {{totalNumberOfItems}}</span>
	</div>
	<div ng-if="allListIsSelected">
		<span>{{totalNumberOfItems}} records selected.</span>
		<span class="action" ng-click="toggleSelectionForList(false)">Deselect all</<span>
	</div>
</div>
