.selected-items-further-actions-wrapper {
	width: 0px;
	height: 68px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	padding-right: 0px;
	overflow: hidden;
}

.selected-items-further-actions-wrapper.visible {
	width: auto;
	padding-right: 10px;
}

.selected-items-further-actions-wrapper.visible .action {
	color: #26A7DE;
	cursor: pointer;
}

.selected-items-further-actions-wrapper.visible .action:hover {
	text-decoration: underline;
}
