.exhibitor-toolkit-profile-wrapper {
	height: 100%;
	position: relative;
  z-index: 0;
}

.exhibitor-toolkit-profile-wrapper .warning-bar {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #F68426;
	color: white;
	border-bottom: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Demi';
	text-align: center;
	font-size: 18px;

	transform: scaleY(0);
	visibility: hidden;
	transform-origin: top;
	transition: transform .2s cubic-bezier(0.4, 0.0, 0.2, 1), visibility .2s cubic-bezier(0.4, 0.0, 0.2, 1);

	box-sizing: border-box;
	cursor: pointer;

	position: relative;
	z-index: 2;
	box-shadow: -1px 3px 9px 3px #6767672e;
}

.exhibitor-toolkit-profile-wrapper .warning-bar.active {
	transform: scaleY(1);
	visibility: visible;
}


.exhibitor-toolkit-profile-wrapper .profile-wrapper {
	height: calc(100% - 80px);
	overflow: hidden;
	padding-left: 3.7%;
	padding-right: 3.7%;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper.dragged {
	margin-top: -80px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details {
	height: 130px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	width: calc(100% + 8%);
	margin-left: -4%;

	padding-left: 4%;
	padding-right: 4%;

	box-sizing: border-box;

	font-size: 0;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details::before {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .profile-picture {
	width: 90px;
	height: 90px;

	display: inline-block;
	vertical-align: middle;

	border-radius: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 90%;
	position: relative;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .profile-picture .fa {
	font-size: 70px;
	color: #4a4a4a;
	position: absolute;
	left: 0px;
	right: 0;
	top: 10px;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .profile-picture .profile-picture-holder {
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	font-size: 14px;
	background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .profile-picture .change-picture-message-holder {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 90px;
  text-align: center;
  background-color: #000000c7;
  font-family: 'AvenirNextLTPro-Regular';
  color: white;
	opacity: 0;
	cursor: pointer;
	transition: opacity .2s ease;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .profile-picture .change-picture-message-holder:hover {
	opacity: 1;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .overview-details {
	width: calc(100% - 90px - 115px - 115px - 20px);
	display: inline-block;
	vertical-align: middle;
	padding-left: 26px;
	box-sizing: border-box;
}


.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .overview-details .company-title {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-bottom: 14px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .overview-details .company-email {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .overview-details input {
	width: calc(100% - 20px);
	height: 40px;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	box-sizing: border-box;
	padding: 10px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .overview-details input.error {
	border: 1px solid #e91d26;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .edit-button {
	width: 115px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #4a4a4a;
	color: #4a4a4a;
	background-color: white;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	text-align: center;
	line-height: 40px;
	text-transform: capitalize;
	border-radius: 20px;

	transition: background-color .2s ease, color .2s ease, opacity .2s ease ,visibility .2s ease, transform .2s ease;
	cursor: pointer;
	user-select: none;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .edit-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .edit-button.save {
	margin-right: 20px;
	border-color: #68aa3b;
	color: #68aa3b;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .edit-button.save.visible {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: scale(1);
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .profile-details .edit-button.save:hover {
	background-color: #68aa3b;
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item {
	font-size: 0;
	margin-bottom: 10px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item .name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	line-height: 40px;
	min-width: 120px;
	max-width: 30%;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item input {
	width: 70%;
	height: 40px;
	padding: 10px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	vertical-align: middle;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item .intl-tel-input{
 width: 70%;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item  .intl-tel-input input{
	width:100%;
	padding-left: 50px;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
input.ng-invalid-ng-intl-tel-input{
	border:1px solid red !important;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item select {
	width: 70%;
	height: 40px;
	padding: 10px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	vertical-align: middle;
	border-radius:0px;
	background:#fff;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .complete-profile-details-wrapper .list-item .value {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	line-height: 40px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .company-profile-description-wrapper {
	width: calc(45% - 4px);
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: 5%;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .company-profile-description-wrapper .title {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	line-height: 40px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .company-profile-description-wrapper .description-holder {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .company-profile-description-wrapper textarea {
	padding: 10px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	min-height: 300px;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper {
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	width: 108%;
	margin-left: -4%;
	padding-left: 4%;
	padding-right: 4%;
	box-sizing: border-box;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .title {
	font-size: 20px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-bottom: 20px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .description {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	margin-bottom: 25px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .material-drop-area {
	width: 40%;
	min-width: 550px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border: 2px dashed #979797;
	background-color: #edf0f2;
	margin-bottom: 40px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .material-drop-area .info-message {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-bottom: 30px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .material-drop-area .choose-file-button {
	height: 30px;
	line-height: 30px;
	background-color: white;
	border: 1px solid #4a4a4a;
	color: #4a4a4a;
	text-transform: uppercase;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 12px;
	display: inline-block;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 20px;
	box-sizing: border-box;
	transform: scale(1);
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease, transform .2s ease;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .material-drop-area .choose-file-button:hover {
	background-color: #4a4a4a;
	color: white;
	transform: scale(1.1);
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-title {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item {
	font-size: 0;
	height: 70px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	line-height: 70px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item .fa-file-pdf-o {
	color: #68aa3b;
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item .file-name {
	width: calc(50% - 30px);
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	padding-left: 16px;
	box-sizing: border-box;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item .updated-date {
	width: calc(50% - 30px);
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item .fa-trash {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	border-radius: 100%;
	background-color: white;
	color: #9b9b9b;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .materials-wrapper .list-item .fa-trash:hover {
	background-color: #9b9b9b;
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper {
	font-size: 0;
	border-bottom: 0;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .description {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	width: calc(100% - 146px - 46px);
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .fa-trash {
	width: 36px;
	height: 36px;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	border-radius: 100%;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	background-color: white;
	color: #4a4a4a;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease, background-color .2s ease, color .2s ease;
	margin-right: 10px;
	cursor: pointer;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .fa-trash.visible {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .fa-trash.visible:hover {
	background-color: #4a4a4a;
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .add-contact-button {
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	text-transform: uppercase;
	color: #4a4a4a;
	border: 1px solid #cdcdcd;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	padding-left: 35px;
	padding-right: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	position: relative;
	width: 146px;
	cursor: pointer;
	transition: color .2s ease, background-color .2s ease;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .add-contact-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .add-contact-button:hover .fa {
	color: white;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .add-contact-button .fa {
	font-size: 14px;
	color: #26a7de;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);

	transition: color .2s ease;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper {
	width: 108%;
	margin-left: -4%;
	margin-top: 28px;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list-item {
	width: 100%;
	padding-left: 4%;
	padding-right: 4%;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list-item.head {
	background-color: #edf0f2;
	height: 69px;
	line-height: 69px;
	border-top: 1px solid #cdcdcd;
	position: relative;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list-item.head .checkbox-ico {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translate(-50%, -50%);
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list-item.head .item {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	color: #4a4a4a;

}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list .list-item .item {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list .list-item {
	position: relative;
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list .list-item .checkbox-ico {
	position: absolute;
	left: 2%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list .list-item .item.name {
	font-family: 'AvenirNextLTPro-Demi';
}

.exhibitor-toolkit-profile-wrapper .profile-wrapper .contacts-wrapper .list-wrapper .list .list-item .item .profile-picture {
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	background-color: #d8d8d8;
	color: #4a4a4a;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	line-height: 36px;
	border-radius: 100%;
	background-size: 120%;
	background-position: center center;
	text-align: center;
	text-transform: uppercase;
	margin-right: 10px;
}
