 <div class="exhibitor-toolkit-wrapper">
	<div class="exhibitor-toolkit-profile-wrapper">
		<div class="warning-bar" ng-class="{'active': showFiveFreeScansWarning}" ng-click="openFiveFreeScansCTA()">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			Complete your profile by signing up for 5 Free Lead Retrieval scans! Sign up now »
		</div>
		<div class="profile-wrapper" ng-class="{'dragged': !showFiveFreeScansWarning}">
			<div class="profile-details">
				<div class="profile-picture">
					<div class="profile-picture-holder" ng-if="exhibitor.logo" style="background-image: url({{exhibitor.logo}})"></div>
					<i class="fa fa-building" aria-hidden="true" ng-if="!exhibitor.logo"></i>
          <div class="change-picture-message-holder" ng-if="editMode" ngf-select="uploadNewLogo($files)" ngf-multiple="false">Change</div>
				</div>
				<div class="overview-details">
					<div class="company-title" ng-if="!editMode">{{model[1].value}}</div>
					<div class="company-email" ng-if="!editMode">{{model[4].value}}</div>

          <input ng-model="model[1].value" ng-if="editMode" style="margin-bottom: 10px;" placeholder="{{model[1].shownValue}}"></input>
          <input ng-model="model[4].value" ng-if="editMode" style="margin-bottom: 10px;" placeholder="{{model[4].shownValue}}" ng-change="verifyIfEmailIsValid(model[4].value)" ng-class="{'error': !companyEmailIsValid}"></input>
				</div>
        <div class="edit-button save" ng-click="saveChanges(model)" ng-class="{'visible': editMode}">save</div>
				<div class="edit-button" ng-click="toggleEditMode($event, editMode)">{{editMode ? "cancel" : "edit profile"}}</div>
			</div>
			<div class="complete-profile-details-wrapper">
				<div class="list-item" ng-repeat="field in model" ng-if="field.visible && !(field.key === 'state' && model[10].value != 'US')">
					<div class="name" ng-if="!(editMode && field.key === 'promo_code')">{{field.shownValue}}</div>
					<div class="value" ng-if="!editMode">{{field.value}}</div>
          <input type="text" ng-model="field.value" ng-if="editMode && field.key !== 'promo_code' && field.key != 'country' && field.key != 'state' && field.key != 'phone_number' && field.visible" placeholder="{{field.shownValue}}"></input>
          <div ng-if="editMode &&  field.key == 'phone_number' && field.visible" style="display:inline;">
            <input type="text" ng-model="field.value" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>
          </div>
          <select ng-if="editMode && field.key === 'country' " ng-model="field.value" ng-change="updateCountryForPhoneInput(field)">
            <option ng-repeat="option in field.options" value="{{option.code}}" ng-selected="field.value.indexOf(option.code) > -1">{{option.name}}</option>
          </select>

    			<select ng-if="editMode && field.key === 'state' && model[10].value === 'US'" ng-model="field.value" >
            <option ng-repeat="option in field.options" value="{{option.abbreviation}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
          </select>
				</div>
			</div>
      <div class="company-profile-description-wrapper">
        <div class="title">Description</div>
        <div class="description-holder" ng-if="!editMode">{{model[0].value}}</div>
        <textarea ng-model="model[0].value" ng-if="editMode"></textarea>
      </div>
			<div class="materials-wrapper">
				<div class="title">Materials</div>
				<div class="description">Upload materials for the attendee to access in your exhibitor profile.</div>
				<div class="material-drop-area">
					<div class="info-message">Drag and drop materials or ... </div>
					<div class="choose-file-button" ngf-select="uploadMaterial($files)">choose file</div>
				</div>
				<div class="list-title">Uploaded files</div>
				<div class="list-wrapper">
					<div class="list-item" ng-repeat="file in exhibitorMaterials">
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
						<div class="file-name">{{file.name}}</div>
						<div class="updated-date">Last updated {{file.updated_at | date : 'MMMM d, yyyy'}}</div>
						<i class="fa fa-trash" aria-hidden="true" ng-click="deleteMaterial(file.id)"></i>
					</div>
				</div>
			</div>
			<div class="contacts-wrapper materials-wrapper">
				<div class="title">Your Company contacts</div>
				<div class="description">Add company contacts for the attendee to access.</div>
        <i class="fa fa-trash" aria-hidden="true" ng-class="{'visible': selectedContacts.length > 0}" ng-click="removeContacts(selectedContacts)"></i>
				<div class="add-contact-button" ng-click="openAddContactModal()">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
					add contact
				</div>
				<div class="list-wrapper">
					<div class="list-item head">
            <div class="checkbox-ico" ng-class="{'active': (exhibitorContacts.length === selectedContacts.length && selectedContacts.length > 0)}" ng-click="selectAllContacts(exhibitorContacts)"></div>
						<div class="item">Contact</div>
						<div class="item">Email</div>
						<div class="item">Area of Support</div>
						<div class="item">Phone Number</div>
					</div>
					<div class="list">
						<div class="list-item" ng-repeat="contact in exhibitorContacts" ng-click="editExhibitorContact($event, contact);">
							<div class="checkbox-ico" ng-class="{'active': contact.selected}" ng-click="toggleContactSelection($event, contact)"></div>
							<div class="item name">
								<div class="profile-picture" ng-if="!contact.photo">{{contact.first_name[0]}}{{contact.last_name[0]}}</div>
								<div class="profile-picture" ng-if="contact.photo" style="background-image: url({{contact.photo}})"></div>
								{{contact.first_name}} {{contact.last_name}}
							</div>
							<div class="item">{{contact.contact_email_address}}</div>
							<div class="item">{{contact.area_of_support}}</div>
							<div class="item">{{contact.phone_number}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
