<div ng-if="conferences.length > 0">
    <static-header></static-header>
    <div style="height: calc(100vh - 75px); overflow-y: scroll" ng-if="!$root.isSuperAdmin">
        <div class="display-conf" style="height: initial;">
            <div class="add-conf" ng-if="tabEmpty">
                <p>Begin by creating a new event</p>
                <div>
                    <md-content>
                        <md-button class="md-raised md-primary btn-add-conf" ui-sref="conferences.create">Create an event</md-button>
                    </md-content>
                </div>
            </div>
            <div class="conf-tabs" ng-if="upcomingConferences.length > 0">
                <p style="margin-top: 40px; margin-bottom: 40px;">Upcoming Events</p>
                <div>
                    <upcoming-conference-module ng-repeat="conference in upcomingConferences" conference-data="conference" ng-if="tabFilled"
                        format-role="formatRole">
                        </upcoming-conference-module>
                </div>
            </div>
        </div>
        <div>
            <div class="grid-table cursor">
                <table style="width:100%" ng-class="previousConferences.length === 0 ? 'no-border-bottom' : ''">
                    <thead>
                        <tr ng-class="previousConferences.length > 0 ? 'border-bottom' : ''">
                            <th class="medium">Previous Events</th>
                            <th class="medium" ng-click="sortByDate();">Event Dates
                                <img ng-if="previousConferences.length > 1" ng-src="{{orderDesc ? '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}"
                                    ng-click="sortByDate()">
                            </th>
                            <th class="medium">City</th>
                            <th class="medium">State</th>
                            <th class="medium">Role</th>
                        </tr>
                    </thead>
                    <tbody ng-if="previousConferences.length >= 1">
                        <tr ng-repeat="conference in previousConferences" previous-conference-module="conference">
                        </tr>
                    </tbody>
                </table>
                <div class="no-previous-conferences" ng-if="previousConferences.length === 0">You have no previous events at this time</div>
            </div>
        </div>
        <static-footer></static-footer>
    </div>
    <div class="super-admin-grill-wrapper" ng-if="$root.isSuperAdmin">
      <div class="grid-table grid-table-super-admin cursor">
    <table style="width:100%" ng-class="conferences.length === 0 ? 'no-border-bottom' : ''">
        <thead>
            <tr ng-class="conferences.length > 0 ? 'border-bottom' : ''">
                <th class="medium">Event</th>
                <th class="medium" ng-click="sortByDate();" style="width: 18vw;">Event Dates
                    <img ng-if="conferences.length > 1" ng-src="{{orderDesc ? '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}"
                        ng-click="sortByDate()">
                </th>
                <th class="medium" style="width: 10vw;">City</th>
                <th class="medium" style="width: 4vw;">State</th>
                <th class="medium" style="width: 16vw;">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="conference in conferences" ui-sref="conferences.dashboard.details.overview({conference_id: conference.conference_id })">
                <td class="demi ellipsis">{{conference.name}}</td>
                <td class="medium ellipsis" style="width: 18vw;">
                    {{conference.date_from}} - {{conference.date_to}}
                </td>
                <td class="medium ellipsis" style="width: 10vw;">{{conference.city}}</td>
                <td class="medium ellipsis" style="width: 4vw;">{{conference.state}}</td>
                <td class="medium ellipsis" style="width: 16vw;">{{formatRole(conference.conference_role, conference.user_role, false)}}</td>
            </tr>
        </tbody>
    </table>
    <div class="no-previous-conferences" ng-if="conferences.length === 0 && SharedProperties.conferenceSearchQuery == '' ">You have no previous events at this time</div>
    <div class="no-previous-conferences" ng-if="conferences.length === 0 && SharedProperties.conferenceSearchQuery != '' ">No events found with this name.</div>
      </div>
      <static-footer></static-footer>
    </div>
</div>
