.display-conf{
	@include flex;
	background: linear-gradient(180deg,#DAF4FF 20%, #fff);
	overflow: normal;
}
.add-conf{
	@include flex;
	width: 620px;
	height: 200px;
	margin-top: 58px;
	border: 1px solid #cdcdcd;
	margin-bottom: 58px;
}
.add-conf md-content{
	overflow: auto;
	background: inherit;
	@include flex;
	font-size: 14px;
	font-family: $font-family-bold;
	color: #4a4a4a;
}
.add-conf p{
	margin-top: 53px;
	margin-bottom: 30px;
	font-size: 16px;
	font-family: $font-family-medium;
	color: #4a4a4a;
}
.btn-add-conf{
	width: 230px;
	height: 40px;
	background-color: #68aa3b !important;
	color: #fff;
	border-radius: 50px !important;
	font-size: 14px;
	font-family: $font-family-bold;
	text-transform: uppercase;
}
.tab-mess{
	@include flex;
	font-family: $font-family-medium;
	font-size: 24px;
}

.grid-table {
    cursor: default;
    & .no-previous-conferences{
    	height: calc(340px - 130px);
    	text-align: center;
    	font-size: 20px;
    	font-family: $font-family-medium;
    	padding-top: 150px;
    	background-color: #fafafa !important;
    	border-bottom: 3px solid #cdcdcd;
    }
    & table {
    	border-bottom: 1px solid #c4c4c4;
    }
    & table > tbody{
    	display: block;
        overflow-y: initial;
    	//overflow-y: scroll;
    	//height: 312px;
    }
}

.grid-table > table > thead > tr > th {
    padding: 30px;
    text-align: left;
    & img{
    	position: relative;
    	left: 5px;
    }
}

.grid-table > table > tbody > tr > td {
    padding: 30px;
    text-align: left;
}

.grid-table > table > tbody > tr {
    border-bottom: 1px solid #c4c4c4;
    font-family: $font-family-demi;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #fafafa;
    display: flex;
    & td{
        &:first-child{
            width: 34.8vw;
        }
        width: 11vw;
    }
}

.grid-table > table > thead > tr {
    border-top: 1px solid #c4c4c4;
    font-family: $font-family-medium;
    font-size: 14px;
    color: #4a4a4a;
    background-color: #edf0f2;
    display: flex;
    & th{
        &:first-child{
            width: 34.8vw;
        }
		width: 11vw;
    }
}

.grid-table > table > tbody > tr:hover {
    background-color: #ffffff;
}

.super-admin-grill-wrapper {
	position: relative;
}
