.registration-review{
  height: calc(100vh - 75px - 130px); //app header & form header
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
}

.registration-review-description{
  font-family: "AvenirNextLTPro-Demi";
  font-size: 16px;
  padding: 25px 0 25px 40px;
}

.promo-codes {
  display: inline-block !important;
  width: 100%;
}

.promo-codes p {
  width: 50% !important;
  display: inline-block;
  word-break: break-all;
}

.promo-codes p:nth-child(2n) {
  float: right;
  word-break: unset !important;
}
