<div>
	<create-form-header></create-form-header>
	<div class="registration-review" style="overflow-x: hidden;">
		<p class="registration-review-description" ng-if="!registrationForm.completed_at">Review the details of your registration form:</p>
		<p class="demi" style="font-size: 20px; margin-bottom: 0;" ng-if="registrationForm.completed_at">Registration Form Overview</p>
		<p class="medium" style="font-size: 16px; margin-top: 20px; margin-bottom: 24px;"
			ng-if="registrationForm.completed_at">
			Select the section that you wish to edit:
		</p>
		<div class="main-registration-review cursor" ng-click="functionDropSubPanel('reg_form_fields', $event);">
			<i ng-click="functionDropSubPanel('reg_form_fields', $event, null, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
			<p ng-click="functionDropSubPanel('reg_form_fields', $event, null, 'child');">Attendee Fields</p>
			<div class="cursor" ui-sref="conferences.dashboard.registration.fields({inEdit : true})" ng-click="$event.stopPropagation()">EDIT</div>
		</div>
		<div class="drop-down-registration-review attendee-fields-review" id="fields_review">
			<div ng-repeat="standard_field in standardFields">
				<p>{{standard_field.label}}</p>
				<p>{{standard_field.type_code}}</p>
			</div>
			<div ng-repeat="customField in savedCustomFields">
				<p>{{customField.name}}</p>
				<p>{{customField.registration_form_type}}</p>
			</div>
		</div>
		<div class="main-registration-review cursor" ng-click="functionDropSubPanel('reg_form_legal', $event);">
			<i ng-click="functionDropSubPanel('reg_form_legal', $event, null, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
			<p ng-click="functionDropSubPanel('reg_form_legal', $event, null, 'child');">Legal</p>
			<div class="cursor" ui-sref="conferences.dashboard.registration.legal({inEdit : true})" ng-click="$event.stopPropagation()">EDIT</div>
		</div>
		<div class="drop-down-registration-review legal-review" id="legal_review">
			<div>
				<p>Terms and Conditions</p>
				<div ng-if="registrationForm.terms_of_service">
					<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 16px; position: relative; bottom: 1px;"></i>
					<p>Completed</p>
					<p class="cursor" ng-click="openTermsAndContitionsPopup()">View</p>
				</div>
			</div>
			<div>
				<p>Refund Policy</p>
				<div ng-if="registrationForm.refund_policy">
					<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 16px; position: relative; bottom: 1px;"></i>
					<p>Completed</p>
					<p class="cursor" ng-click="openRefundPolicyPopup()">View</p>
				</div>
			</div>
			<div ng-hide="true" >
				<p>Uploaded Legal Agreements</p>
				<div ng-repeat="legal_agreement in registrationForm.registrationformdocument_set" style="margin-bottom: 12px;">
					<i class="fa fa-file-o" aria-hidden="true" style="margin-right: 10px; font-size: 16px; color: #4a4a4a;"></i>
					<p class="italic">{{legal_agreement.file_name}}</p>
				</div>
			</div>
		</div>
		<div ng-if="registrationForm.registrationlevel_set.length == 0">
			<div class="main-registration-review cursor" ng-click="$event.stopPropagation(); editThisRegistrationLevel(null)">
				<i ng-click="functionDropSubPanel('reg_form_level', $event, $index, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p>
				Add a level
				</p>
			</div>
		</div>
		<div ng-repeat="level in registrationForm.registrationlevel_set track by $index">
			<div class="main-registration-review cursor" ng-click="functionDropSubPanel('reg_form_level', $event, $index);">
				<i ng-click="functionDropSubPanel('reg_form_level', $event, $index, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p ng-click="functionDropSubPanel('reg_form_level', $event, $index, 'child');">{{level.name}}</p>
			</div>
			<div class="drop-down-registration-review-level" id="{{'level' + $index}}">
				<div class="drop-down-registration-review-level-details-header cursor" ng-click="functionDropSubPanel('level_detail', $event, $index);">
					<i ng-click="functionDropSubPanel('level_detail', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
					<p ng-click="functionDropSubPanel('level_detail', $event, $index, 'child');">Overview</p>
					<div class="cursor" ng-click="$event.stopPropagation(); editThisRegistrationLevel(level)">EDIT</div>
				</div>
				<div class="drop-down-registration-review-level-details" id="{{'level_detail' + $index}}">
					<div>
						<p>Description</p>
						<p>{{level.description}}</p>
					</div>
					<div style="justify-content: flex-start;">
						<div>
							<p>Benefits List</p>
							<div ng-repeat="benefit in level.registrationlevelbenefit_set" style='margin-left: 17px;'>
								<p class="benefit-bullet">{{benefit.name}}</p>
							</div>
						</div>
						<div>
							<p>Pricing</p>
							<div ng-repeat="price in level.registrationlevelpricing_set" ng-if="price.starts_at == null">
								<p style="width: 120px;">{{price.name + ':'}}</p>
								<p>{{price.price | currency : '$'}}</p>
							</div>
							<div ng-repeat="price in level.registrationlevelpricing_set" ng-if="price.starts_at != null">
								<p style="width: 120px;">{{price.name + ':'}}</p>
								<p style="margin-right: 5px;">{{price.price | currency : '$'}}</p>
								<p>from {{price.starts_at | moment : 'M/D/YYYY':conference.time_zone}} - {{price.ends_at | moment : 'M/D/YYYY':conference.time_zone}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="drop-down-registration-review-level-details-header cursor" ng-click="functionDropSubPanel('level_sessions', $event, $index);">
					<i ng-click="functionDropSubPanel('level_sessions', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
					<p ng-click="functionDropSubPanel('level_sessions', $event, $index, 'child');">Sessions</p>
					<div class="cursor" ng-click="$event.stopPropagation(); editThisRegistrationLevel(level)">EDIT</div>
				</div>
				<div class="drop-down-registration-review-level-details no-drop" id="{{'level_sessions' + $index}}">
					<p ng-repeat="pre_session in allSessions" ng-if="canIncludeSessionPerLevel(pre_session, level)">
						{{pre_session.title}}
					</p>
				</div>
				<div class="drop-down-registration-review-level-details-header cursor" ng-click="functionDropSubPanel('level_add_details', $event, $index);">
					<i ng-click="functionDropSubPanel('level_add_details', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
					<p ng-click="functionDropSubPanel('level_add_details', $event, $index, 'child');">Additional Details</p>
					<div class="cursor" ng-click="$event.stopPropagation(); editThisRegistrationLevelOptions(level)">EDIT</div>
				</div>
				<div class="drop-down-registration-review-level-details" id="{{'level_add_details' + $index}}">
					<div style="margin-left: 0">
						<p>Add-On Sessions</p>
						<div ng-repeat="add_on in level.registrationleveladdonsession_set" style="margin-bottom: 12px">
							<p>{{add_on.session.title}}</p>
						</div>
					</div>
					<div style="justify-content: flex-start;">
						<div>
							<p>Continuing education</p>
							<p>{{level.include_continuing_education ? 'Yes' : 'No'}}</p>
						</div>
						<div>
							<p>Session Pre-registration</p>
							<p>{{level.include_pre_registration ? 'Yes' : 'No'}}</p>
						</div>
					</div>
					<div>
						<p>Promo Codes</p>
						<div class="promo-codes" ng-repeat="promo_code in level.registrationlevelpromocode_set">
							<p>{{promo_code.code}}</p>
							<p>{{'(' + (promo_code.discount_type == 'usd' ? '-$' : '-%') + promo_code.value + ' from '}}
								{{promo_code.starts_at | moment : 'M/D/YYYY':conference.time_zone}}{{' - '}}
								{{promo_code.ends_at | moment : 'M/D/YYYY':conference.time_zone}}{{')'}}</p>
						</div>
					</div>
				</div>
				<div class="drop-down-registration-review-level-details-header drop-down-registration-review-level-emails-list cursor" ng-click="functionDropSubPanel('level_members', $event, $index);">
					<i ng-click="functionDropSubPanel('level_members', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
					<p ng-click="functionDropSubPanel('level_members', $event, $index, 'child');">Email Verification</p>
					<div class="cursor" ng-click="$event.stopPropagation(); editThisRegistrationLevelOptions(level)">EDIT</div>
				</div>
				<div class="drop-down-registration-review-level-details drop-down-registration-review-level-emails-list-tab" id="{{'level_members' + $index}}">
					<p>{{level.registrationlevelmember_set.length + ' members added.'}}</p> <p class="cursor" ng-click="openViewMembersPopup(level)"
						ng-if="level.registrationlevelmember_set.length > 0">View all
					</p>
				</div>
			</div>
		</div>
		<div class="create-registration-form-footer" ng-hide="registrationForm.completed_at">
			<div class="cursor" ui-sref="conferences.dashboard.registration.overview">Cancel</div>
			<div class="cursor" style="margin-left: 47vw;" ui-sref="conferences.dashboard.registration.legal">Previous</div>
			<div class="cursor" id="registration-preview-button" ng-click="previewRegistrationForm()">Preview</div>
			<div style="margin-left: 10px;" ng-click="completeRegistrationForm()" class="cursor">CREATE FORM</div>
		</div>
	</div>
</div>
