<div class="display-tab"
	ui-sref="{{(upcomingConferenceData.conference_role == 'admin' || upcomingConferenceData.conference_role == 'both') ?
	'conferences.dashboard.details.overview({conference_id: upcomingConferenceData.conference_id })' : 'conferences.exhibitor_toolkit.details({conference_id: upcomingConferenceData.conference_id })'}}">
	<div class="conf-window">
		<div class="conference-logo" ng-if="upcomingConferenceData.logo" style="background-image: url({{upcomingConferenceData.logo}})">
		</div>
		<div class="conference-logo placeholder" ng-if="!upcomingConferenceData.logo">
			<i class="fa fa-building" aria-hidden="true"></i>
		</div>
		<div>
			<p style="margin-top: 0; padding-right: 10px;">{{upcomingConferenceData.name}}</p>
			<p>{{upcomingConferenceData.date_from | date:'MM/dd/yyyy':upcomingConferenceData.time_zone}} - {{upcomingConferenceData.date_to | date:'MM/dd/yyyy':upcomingConferenceData.time_zone}}</p>
			<p style="margin-bottom: 0;">{{upcomingConferenceData.city}}, {{upcomingConferenceData.state}}</p>
		</div>
		<div class="flex-row user-role" ng-class="formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true) != 'Exhibitor' ?
				(formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true) == 'Exhibitor & Event Owner' ?
				'background-width-conf-tab1' : 'background-color-conf-tab1') : 'background-color-conf-tab2'">
			<i class="fa fa-building" aria-hidden="true"
				style="position: relative; font-size: 1.6em; left: 10px; top: 2px;"
				ng-if="formatRole(upcomingConferenceData.conference_role, conference.user_role, true) != 'Exhibitor' ||
				formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true) == 'Exhibitor & Event Owner'"></i>
			<i class="fa fa-flag" aria-hidden="true"
				style="color: #26a7de; position: relative; font-size: 1.6em; left: 10px; top: 2px;"
				ng-if="formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true) == 'Exhibitor' ||
				formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true) == 'Exhibitor & Event Owner'"></i>
			{{formatRole(upcomingConferenceData.conference_role, upcomingConferenceData.user_role, true)}}
		</div>
	</div>
</div>
