<div class="merchant-agreement-popup-step2 flex-column">
    <p>Merchant Identity Verification</p>
    <div class="merchant-agreement-form">
        <div class="merchant-agreement-profile flex-row">
            <p>Select</p>
            <div class="flex-row" ng-class="($parent.type_locked) ? 'payment_type_inactive': ''">
                <div ng-click="$parent.setCompanyType()"
                 ng-class="$parent.merchantCompanyForm ? 'selected-merchant-profile' : ''">
                    Company
                </div>
                <div ng-click="$parent.setIndividualType()"
                 ng-class="$parent.merchantIndividualForm ? 'selected-merchant-profile' : ''">
                    Individual
                </div>
            </div>
        </div>
        <div class="merchant-agreement-form-fields flex-column" ng-if="$parent.merchantCompanyForm">
            <div ng-repeat="field in $parent.merchantCompanyFields track by $index" class="flex-row" ng-if="field.code!='legal_entity_type'">
                <p>{{field.label}}</p>
                <input ng-if="field.label != 'Your Date of Birth' && field.code != 'state' && field.code != 'postal_code' && field.code != 'ssn_last_4' && field.code!='business_tax_id' && field.code!='country' && field.code != 'business_name' && field.code != 'last_name' && field.code != 'first_name'" 
                type="text" ng-model="$parent.merchantCompanyProfileModel[field.code]">
                <input ng-if="field.code=='business_name'" 
                ng-model="$parent.merchantCompanyProfileModel.business_name" 
                    ng-readonly="$parent.editingExistingForm"
                    ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"/>

                <input ng-if="field.code=='first_name'" 
                    ng-model="$parent.merchantCompanyProfileModel.first_name" 
                    ng-readonly="$parent.editingExistingForm"
                    ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"/>

                <input ng-if="field.code=='last_name'" 
                    ng-model="$parent.merchantCompanyProfileModel.last_name" 
                    ng-readonly="$parent.editingExistingForm"
                    ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"/>
                <input ng-if="field.code=='business_tax_id'" ng-model="$parent.merchantCompanyProfileModel.business_tax_id" 
                    ng-readonly="$parent.merchantCompanyProfileModel['business_tax_id'] == '*********'"
                    ng-class="($parent.merchantCompanyProfileModel['business_tax_id'] == '*********') ? 'payment_type_inactive': ''"/>
                <select style="width:55px; padding-left: 10px; background-color: #fff; height: 40px;"
                    ng-if="field.code == 'state'"
                    ng-model="$parent.merchantCompanyProfileModel[field.code]">
                    <option ng-repeat="option in $parent.united_states track by $index" 
                        ng-value="option.abbreviation" ng-selected="$parent.state_count == $index">
                        {{option.abbreviation}}
                    </option>
                </select>
                <input ng-if="field.code == 'country'" type="text" ng-model="$parent.merchantCompanyProfileModel[field.code]" ng-readonly="true">
                <input style="width: 150px;" ng-if="field.code == 'postal_code'" type="text" ng-model="$parent.merchantCompanyProfileModel[field.code]">
                <div class="flex-row" ng-if="field.label == 'Your Date of Birth'">
                    <input style="width: 55px;" type="number" ng-model="$parent.merchantCompanyProfileModel[field.code[0]]" placeholder="dd" 
                        ng-blur="$parent.validateDobDay($parent.merchantCompanyProfileModel)"
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantCompanyProfileModel)">
                    <input style="width: 55px;" type="number" ng-model="$parent.merchantCompanyProfileModel[field.code[1]]" placeholder="mm" 
                        ng-blur="$parent.validateDobMonth($parent.merchantCompanyProfileModel)"
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantCompanyProfileModel)">
                    <input style="width: 75px;" type="number" ng-model="$parent.merchantCompanyProfileModel[field.code[2]]" placeholder="yyyy"
                        ng-blur="$parent.validateDobYear($parent.merchantCompanyProfileModel)"
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantCompanyProfileModel)">
                </div>
                <input style="width: 77px;" ng-if="field.code == 'ssn_last_4'" type="text"
                    ng-class="($parent.merchantCompanyProfileModel['ssn_last_4'] == '****') ? 'payment_type_inactive':''"
                    ng-change="$parent.validateSSNlast4()"
                    ng-readonly="$parent.merchantCompanyProfileModel['ssn_last_4'] == '****'" 
                    ng-model="$parent.merchantCompanyProfileModel[field.code]">
            </div>
            <div class="flex-row merchant-identification" style="margin-bottom: 26px; margin-top: 13px;">
                <p>Identification</p>
                <img src="/assets/images/group-2.png" 
                    ng-if="!$parent.merchantCompanyProfileModel.verification_document">
                <p ng-if="$parent.merchantCompanyProfileModel.has_verification_document" style="margin-left: 14px;">
                    <span>Verification image submitted</span>
                </p>
                <p ngf-select="$parent.uploadMerchantDocument($files, 'company')" style="margin-left: 14px;"
                    ng-if="!$parent.merchantCompanyProfileModel.verification_document && !$parent.merchantCompanyProfileModel.has_verification_document"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    <span>Upload image of drivers license<br> or identification card</span>
                </p>
                <img ngf-select="$parent.uploadMerchantDocument($files, 'company')" 
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-multiple="false"
                    style="margin-top: 40px;" ng-if="$parent.merchantCompanyProfileModel.verification_document && !$parent.merchantCompanyProfileModel.has_verification_document" ng-src="{{$parent.merchantCompanyProfileModel.verification_document}}" width="100" height="100"/>
            </div>
        </div>
        <div class="merchant-agreement-form-fields flex-column" ng-if="$parent.merchantIndividualForm">
            <div ng-repeat="field in $parent.merchantIndividualFields track by $index" class="flex-row" ng-if="field.code!='legal_entity_type'">
                <p>{{field.label}}</p>
                <input ng-if="field.label != 'Date of Birth' && field.code != 'state' && field.code != 'postal_code' && field.code != 'ssn_last_4' && field.code != 'personal_id_number' && field.code != 'country'" type="text" ng-model="$parent.merchantIndividualProfileModel[field.code]">

                <input type="text" ng-if="field.code=='personal_id_number' && $parent.merchantIndividualProfileModel.personal_id_number_provided"
                    class="payment_type_inactive"
                    value="*********" readonly/>
                <input type="number" ng-if="field.code=='personal_id_number' && !$parent.merchantIndividualProfileModel.personal_id_number_provided" ng-model="$parent.merchantIndividualProfileModel[field.code]"/>

                <select style="width:55px; padding-left: 5px; background-color: #fff; height: 40px;"
                    ng-if="field.code == 'state'"
                    ng-model="$parent.merchantIndividualProfileModel[field.code]">
                    <option ng-repeat="option in $parent.united_states track by $index" 
                        ng-value="option.abbreviation">
                        {{option.abbreviation}}
                    </option>
                </select>
                <input ng-if="field.code == 'country'" type="text" ng-model="$parent.merchantIndividualProfileModel[field.code]" ng-readonly="true">
                <input style="width: 150px;" ng-if="field.code == 'postal_code'" type="text" ng-model="$parent.merchantIndividualProfileModel[field.code]">
                <div class="flex-row" ng-if="field.label == 'Date of Birth'">
                    <input style="width: 55px;" type="number" ng-model="$parent.merchantIndividualProfileModel[field.code[0]]" placeholder="dd"
                        ng-blur="$parent.validateDobDay($parent.merchantIndividualProfileModel)"
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantIndividualProfileModel)">
                    <input style="width: 55px;" type="number" ng-model="$parent.merchantIndividualProfileModel[field.code[1]]" placeholder="mm"
                        ng-blur="$parent.validateDobMonth($parent.merchantIndividualProfileModel)" 
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantIndividualProfileModel)">
                    <input style="width: 75px;" type="number" ng-model="$parent.merchantIndividualProfileModel[field.code[2]]" placeholder="yyyy"
                        ng-blur="$parent.validateDobYear($parent.merchantIndividualProfileModel)"
                        ng-class="(editingExistingForm) ? 'payment_type_inactive': ''"
                        ng-change="$parent.validateDate($parent.merchantIndividualProfileModel)">
                </div>
                <input style="width: 77px;" ng-if="field.code == 'ssn_last_4'" type="text" 
                    ng-class="($parent.merchantIndividualProfileModel['ssn_last_4'] == '****') ? 'payment_type_inactive':''"
                    ng-readonly="$parent.merchantIndividualProfileModel['ssn_last_4'] == '****'" 
                    ng-model="$parent.merchantIndividualProfileModel[field.code]">
            </div>
            <div class="flex-row merchant-identification" style="margin-bottom: 26px; margin-top: 13px;">
                <p>Identification</p>
                <img src="/assets/images/group-2.png" 
                    ng-if="!$parent.merchantIndividualProfileModel.verification_document || $parent.merchantIndividualProfileModel.has_verification_document">
                <p ng-if="$parent.merchantIndividualProfileModel.has_verification_document" style="margin-left: 14px;">
                    Verification image submitted 
                </p>
                <p ngf-select="$parent.uploadMerchantDocument($files, 'individual')" style="margin-left: 14px;"
                    ng-if="!$parent.merchantIndividualProfileModel.verification_document && !$parent.merchantIndividualProfileModel.has_verification_document"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false">
                    Upload image of drivers license<br> or identification card
                </p>
                <img ngf-select="$parent.uploadMerchantDocument($files, 'individual')"
                    ngf-max-size="10MB" ngf-min-height="50" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                    ngf-accept="'image/png,image/jpg,image/jpeg'"
                    style="margin-top: 40px;" ng-if="$parent.merchantIndividualProfileModel.verification_document && !$parent.merchantIndividualProfileModel.has_verification_document" 
                    ng-src="{{$parent.merchantIndividualProfileModel.verification_document}}" width="100" height="100"/>
            </div>
        </div>
    </div>
</div>