<div class="merchant-agreement-popup-step1 flex-column">
    <p>Merchant Agreement</p>
    <p><pre style="white-space: pre-wrap;">
1. Introduction.  Expo, Inc. (the “Company”, “us,” “we” or “our”) provides certain event services to organizers of, exhibitors at and attendees of conventions, conferences and other events, through, among other things, our proprietary technology, software, and mobile applications, including our web application available at http://expopass.com (the “Website”) and our Expo Pass mobile application and any mobile application owned by the Company and used by you in connection with products and services provided by the Company (collectively, the “App”). 

The services and products provided to you by the Company, your access to and use of the Website and App and your access and use of the Website or App, including any content, functionality, services or products offered on or through the Services (including, without limitation, our ticket processing services described herein), are referred to herein as the “Services”.  The term “Services” as used herein is intended to be consistent, mean and be included within the meaning of the term “Services” as used in the Company’s Terms of Use available at http://expopass.com/terms‑of‑use (“Terms of Use”).

THIS MERCHANT AGREEMENT AND THE SERVICES PROVIDED HEREUNDER ARE GOVERNED BY OUR TERMS OF USE.  BY ACCEPTING THIS MERCHANT AGREEMENT, YOU ACCEPT OUR TERMS OF USE AVAILABLE AT [WEB ADDRESS], OUR PRIVACY POLICY AVAILABLE AT [WEB ADDRESS] (“PRIVACY POLICY”) AND OUR MOBILE APPLICATION END USER LICENSE AGREEMENT AVAILABLE AT [WEB ADDRESS] (THE “MOBILE APPLICATION END USER LICENSE AGREEMENT”).

OUR TERMS OF USE AVAILABLE AT http://expopass.com/terms‑of‑use REQUIRE ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS, AND ALSO LIMIT THE REMEDIES AVAILABLE TO YOU IN THE EVENT OF A DISPUTE.  BY ACCEPTING THIS AGREEMENT, YOU HEREBY AGREE TO ARBITRATION ON AN INDIVIDUAL BASIS PURSUANT AND LIMITATION OF REMEDIES AS SET FORTH IN THE TERMS OF USE WITH RESPECT TO ALL SERVICES AND PRODUCTS PROVIDED UNDER THIS MERCHANT AGREEMENT, INCLUDING, WITHOUT LIMITATION, THE SERVICES.

2. Applicability of this Agreement.  Organizers that use the Company’s ticket processing services or that charge a lead retrieval price to Exhibitors for the Event in excess of the lead retrieval price changed by the Company for such Event must become a party to and be bound by this Merchant Agreement.

3. Ticket Processing Services.   Through our Website and App, we provide a ticketing and registration platform dedicated to processing tickets for you, as the Organizer (defined below) of the applicable Event (defined below).

4. Becoming a User.  You become a user of the Services (“user”) by accessing, downloading, viewing, using or registering with the Website or App in accordance with our Terms of Use.

5. Becoming an Organizer.  A user may create an event, which may include a convention, conference or other event (an “Event”) in accordance with the Terms of Use.  A user that creates an account with the Website or App as an organizer for an Event is the “Organizer” for that Event in accordance with the Terms of Use.

6. Additional Registration Information. 

(a) Additional Information.   As part of creating or registering as an Organizer or an Event, you will be required by the Company to provide certain information about yourself (“Registration Data”).  You may also be required additional information (beyond the Registration Data)) about yourself, the entity you represent (if any) and the principals/beneficial owners of the entity you represent (if any) (collectively, “Additional Registration Data”).  Additional Registration Data may include doing business as (DBA) names, description of products, website address, bank account or other payment account information, tax identification numbers, date of birth, passport or drivers license number, country of origin, copies of government identification documents and other personal information. This information may be used to verify your identity, the validity and/or legality of your transactions and/or whether you qualify to use the Services for paid events. You agree to: (A) provide this information in a timely, accurate and complete manner and (B) maintain and promptly update this information in a timely manner to ensure it remains accurate and complete at all times. 

(b) Disclosure Authorization.   Organizer agrees that the Company is permitted to share any and all information you have provided in connection with your registration as an Organizer and information relating to your Event and transactions on the Services, through with Stripe and/or with your bank or other financial institution, in each case to the extent your transactions or events involve such third parties. In addition, you authorize the Company to verify your registration information and conduct due diligence on you through third parties, including third party credit reporting agencies. 

(c) Right to Termination or Suspend Services.  We reserve the right to terminate or suspend your account and/or the Services for your use thereof or to withhold any amounts due to you in the event that we reasonably believe that your Registration Data or Additional Registration Data is inaccurate or if you fail to provide all Registration Data or Additional Registration Data within the timeframes requested. 

7. Registration and Purchase of Tickets by Attendees.  

(a) Notification.  An individual or entity that is a potential attendee will be invited by email (or other means of communication) by the Organizer of the Event or us to purchase one or more tickets to the Event using the identification code for such Event.  A user that registers or creates an account with the Website or App to become an attendee of the Event, including by purchasing one or more tickets or registrations to the Event through the Website or  App, becomes an attendee for the Event (an “Attendee”). 

(b) Registration Form; Purchase of Tickets by Attendees.  The Company will provide the Organizer with a ticket registration form (a “Registration Form”) to be uploaded to the Organizer’s website.  Prices for tickets or registration for the Event will be established by Organizer.  The Company’s Website and App will interface with your website with respect to the Registration From via the Company’s application programming interface (API).  The Company will also upload the Organizer’s Registration Form to the Company’s Website and App, and Attendees may purchase tickets for the Event through the Organizer’s Registration Form as uploaded to the Company’s Website or App.  Attendees will complete the Registration Form and purchase tickets by making payment through the Organizer’s Registration Form on either the Organizer’s website or the Company’s Website or App. 

(c) Payment Processing.  All sales proceeds collected for tickets and registration for the Event (“Event Registration Fees”) will be processed by Stripe, as the Company’s third party payment processor via a Stripe Connected Account.  All payment processing will be subject to the Stripe Connected Account Agreement available at https://stripe.com/us/connect‑account/legal, which includes the Stripe Terms of Use available at https://stripe.com/us/legal, as the same may be modified from time to time (collectively, the “Stripe Services Agreement”).  The Organizer will be required to become a party to and be bound by the Stripe Services Agreement in order to use the Services.  As a condition of the Services enabling the Connect Managed Account payment processing services through Stripe, you agree to provide the Services accurate and complete information about you and your business (including, without limitation, your Registration Data and/or Additional Registration Data), and you authorize the Company and the Services to share it and transaction information related to your use of the payment processing services provided by Stripe.  Payments received by you though a Stripe Connect Managed Account will be remitted to you by Stripe in accordance with our payment terms in (y) this Merchant Agreement and (z) the Stripe Services Agreement.

For the avoidance of doubt, the Company does not and will not provide banking, deposit taking, stored value, insurance or any other financial services to an Organizer.  For convenience, the Company will make available on the Website and App a balance of net proceeds received from ticket sales or lead retrieval fees paid by Exhibitors (as applicable) for the Event.  Organizer acknowledges that amounts reported in such balances are based on information provided by Stripe, and that a reported balance at any given time may not be up to date or reflect all proceeds paid or applicable deductions, withholdings or offsets.

Upon an order being placed by an Attendee and confirmed through the Services, the Company generates a confirmation message and issues a unique confirmation number for such Attendee’s order.  The Organizer agrees to unconditionally accept, honor and fulfill all ticketing, registration, merchandise commitments that have been confirmed by the Company through the Services, and it is Organizer’s responsibility to verify an Attendee’s confirmation number and/or any event restrictions prior to the applicable event. 

At the time payment is made by any Attendee, the Company Service Fee (defined below) and all other fees and amounts payable to the Company will be remitted by Stripe to the Company.  Any amount payable by the Company to an Organizer will be remitted by Stripe to the Organizer within 30 business days after the ticket processing fee is paid by the Attendee. Payment remitted by Stripe to an Organizer could take up to three business days to post to the Organizer’s account.  

(d) Independent Relationship.  Organizers and Attendees effect the applicable payment transaction through Stripe and are bound by the applicable terms of use governing such services, including, without limitation, the Stripe Services Agreement, with respect to Organizer.  Organizer shall collect all Event Registration Fees through Stripe, and the Company has no obligation or liability with respect to such collection or the performance or nonperformance of Stripe.

8. Ticket Generation and Issuance. After an Attendee has registered with the Website or App and remitted valid payment for one or more tickets to an Event, the Services will generate one or more tickets to the Attendee and send such ticket or tickets to the Attendee by e‑mail.  For the avoidance of doubt, at all times the Organizer is the seller of any and all tickets for any Event, and the Company merely provides ticket processing services.

9. Fees.  Unless otherwise set forth in a separate written agreement between the Organizer and the Company, the Company’s fee for our ticket processing services hereunder is five percent (5.0%) of all gross Event Registration Fees for the Event (the “Company Service Fee”).  Organizer agrees to pay the Company all applicable Company Service Fees for each ticket or registration sold using the Services. 

10. Invoices.  The Company may send invoices for the Company Service Fees and/or other amounts payable by the Organizer to the Company from time to time.   All invoices are due and payable within thirty (30) days of delivery of the invoice. 

11. Non‑Exclusive Remedies; Taxes. 

(a) Non‑Exclusive Remedies. In the event that Organizer fails to pay to the Company any amount owed pursuant to the Terms of Use (including, without limitation, this Merchant Agreement) when due and following a late payment notice being delivered by the Company, such amount shall bear interest calculated from the date due until paid in full at a rate equal to the lesser of (i) one percent (1%) per month, compounded monthly; and (ii) the maximum amount permitted by applicable local, state, provincial, national or other laws, rules or regulations. In the event any amounts are owed by Organizer to the Company under the Terms of Use (including without limitation this Merchant Agreement), the Company may, without limiting its other rights and remedies and to the extent permitted by applicable local, state, provincial, national or other laws, rules or regulations (A) withhold any amounts due to Organizer, whether for a particular Event or for any other Event that Organizer lists through the Services and use the withheld amount to setoff the amount owed by Organizer to the Company; and/or (B) send an invoice to Organizer for such amounts to the extent Organizer’s outstanding balance is insufficient to cover these costs, in which case Organizer shall pay the Company such invoiced amounts within thirty (30) days after the date of the invoice. If payment for any amounts due to the Company hereunder is not made by Organizer when due and after receiving a late payment notice from the Company, the Company reserves the right, in its discretion and without limiting its other rights and remedies, to suspend or terminate Organizer’s registration for the Services (including any and all accounts that Organizer may have).

(b) Costs of Collection. Organizer agrees to promptly and fully reimburse the Company upon demand for all out‑of‑pocket costs and expenses, including without limitation, reasonable attorneys’ fees and expenses, incurred by the Company in collecting past due amounts from Organizer under this Merchant Agreement, the Terms of Use or otherwise.

12. Taxes. 

(a) You are solely responsible for determining which, if any, sales, use, amusement, value added, consumption, excise and other taxes, duties, levies and charges (collectively, “Taxes”) apply to your use of the Services and your sale of tickets, registration or merchandise, and you agree that it is your sole responsibility to, and that you will, collect, remit and report the correct amounts of all such Taxes to the applicable governmental authorities. If you do collect Taxes on the Services, those Taxes will be treated like Event Registration Fees and the Company will pay such amounts to you at the same time as the underlying Event Registration Fees. In the event that a governmental authority requires the Company to pay any Taxes attributable to your use of the Services or your sale of tickets, registration or merchandise, you agree to promptly and fully reimburse the Company for such Taxes upon demand and all costs, penalties, interest and expenses related thereto. 

(b) In the event that the Company is required under Tax laws or regulations, or deems it to be advisable (in its sole discretion), to report transactions or monetary amounts with respect to Event Registration Fees or your sales of tickets, registration or merchandise, then upon the Company’s request, you will promptly provide all information with respect to such report (which information shall be deemed to be Additional Registration Data), which may include your tax identification number, information establishing that you are a foreign person not subject to US taxes, copies of driver’s license or passport, or other similar information. the Company reserves the right to withhold the payment of any amounts owed to you hereunder and dispose of them as required by applicable local, state, provincial, national or other law, rule, regulation, judgment or order, in each case as determined by the Company.

13. Refunds. 

(a) Refund Policy and Process. Organizer agrees to communicate a refund policy to Attendees with respect to each Event that meets the requirements of the Attendee Refund Policy Requirements set forth in Section 14 and to administer such policy in accordance with its terms and the Attendee Refund Policy Requirements.  The Organizer must upload its refund policy to its Registration Form to be displayed on the Organizer’s website.

(b) Refund Disputes. All disputes regarding refunds are between Organizer and its Attendees. In the event of a dispute, the Company may try to mediate, but ultimately it is Organizer’s obligation to settle the dispute. The Organizer will promptly reimburse the Company for any and all amounts paid or surrendered by the Company in connection with any refund, including, without limitation, any and all fees payable by the Company relating to the refund or any chargeback fee relating to the refund; provided, however, that the Organizer shall not be obligated to reimburse the Company for any amounts paid or surrendered by the Company in connection with a refund to the extent that the necessity for such refund is caused by the Company’s negligence or willful misconduct.

(c) Refund Claims Against Stripe.  In the event that an Attendee makes a refund claim against Stripe, Stripe may deduct the aggregate amount of such refund from the accounts of each of the Company and the Organizer.  

14.  Minimum Refund Policy Requirements. 

(a) Refund Policies And Administration. 

(i) Minimum Requirements. Organizer’s refund policy must meet the following minimum requirements (the “Attendance Refund Policy Requirements”): 

(A) Refund policies must be uploaded to and posted on the Organizer’s Registration Form as uploaded to the Organizer’s website;
(B) “No refund” policies are permissible, but must be clearly identified as such and must otherwise comply with these minimum requirements;
(C) Refund policies (including “no refund” policies) must provide for a refund or other make good for complete failure to provide the advertised Event (e.g., event cancellation); 
(D) Refund policies must be in accordance with all applicable local, state, provincial, national and other laws, rules and regulations;
(E) Refund policies must include specific instructions on how to obtain a refund, including how, when and where to direct a refund request; provided that (1) all refund requests must be directed to Organizer (or is designee) and (2) in no event will any refund request be directed to the Company; 
(F) Refund policies may not be changed with respect to purchases made prior to the date of such change and its posting to the Organizer’s Registration Form as set forth on the Organizer’s website; 
(G) Refund policies must set out a specific time frame within which refund requests will be responded to, which must not exceed five (5) business days for a first response; and 
(H) Refund policies must otherwise be fair and reasonable. 
If a refund policy is not posted or does not meet these minimum requirements set forth above, the Company may terminate all or a portion of the Services or suspend all or a portion the Services until the Organizer has changed the refund policy to comply with these minimum requirements, in the Company’s sole discretion.

(b) Administration of Refund Policy. Organizer agrees to administer its refund policy in accordance with the terms of its refund policy as uploaded to its Registration Form as set forth on the Organizer’s website and the Attendance Refund Policy Requirements. 

(c)  No Insurance/No Guarantee. These Attendee Refund Policy Requirements are not intended to be and do not constitute an offer to insure the performance of or to guarantee the performance of any Organizer and are not a guarantee that refunds will be issued in any given situation.

15. Representations and Warranties.  In addition to the representations and warranties contained herein and in our Terms of Use, you represent and warrant to us that (a) if you represent an entity, that entity is duly organized, validly existing and in good standing under the laws of the state, province or country of its formation; (b) you, or the entity you represent (if applicable), have all requisite power and authority to enter into this Agreement and to carry out the transactions contemplated hereby; (c) the entering into and performing of this Agreement by you, or if you represent an entity by the entity you represent, will not result in any breach of, or constitute default under, any applicable local, state, provincial, national or other law, rule, regulation, judgment or order, or other agreement to which you or it is a party, including without limitation, any other agreement for the sale of tickets or registrations; and (d) if you represent an entity, you have the full right, legal power and actual authority to bind such entity to the terms and conditions hereof. 

16. Termination. In addition to our right to terminate your use of the Services under the Terms of Use, the Company may terminate this Merchant Agreement and your right to use the Services (a) if you are in violation or breach of any provision of this Merchant Agreement, our Terms of Use, (any agreement or policy referenced in the Terms of Use) or any other agreement between the Company and you or policy of the Company; or (b) if you are in breach or violation of the Stripe Account Services Agreement.

4828‑7942‑0475, v.  4
    </pre>
    </p>
</div>
<div class="flex-row cursor agreement-button" ng-click="$parent.merchantAgreementToggle()" >
    <div ng-class="$parent.agreeMerchantTerms ? 'merchant-agreed' : ''">
        <img src="/assets/images/checked-ico.png" ng-if="$parent.agreeMerchantTerms" style="position: relative; left: 3px; width: 11px;">
    </div>
    <p>I agree to the merchant agreement!</p>
</div>