<div class="merchant-agreement-popup-step3 flex-column" ng-class="($parent.loadResponseHandler) ? 'payment_type_inactive': ''">
    <p>Enter Your Bank Account Information</p>
    <form id="bank_information_form">
        <div class="flex-column">
            <div class="flex-row">
                <p>Bank Account Number</p>
                <input type="text" data-stripe="account_number" ng-if="!$parent.merchantIdentityValid">
                <input type="text" value="{{$parent.bankAccountData.bank_account_number}}" style="color: #cdcdcd;" ng-if="$parent.merchantIdentityValid" ng-readonly="true">
            </div>
            <div class="flex-row">
                <p>Re-enter Bank Account Number</p>
                <input type="text" data-stripe="account_number" ng-if="!$parent.merchantIdentityValid">
                <input type="text" value="{{$parent.bankAccountData.bank_account_number}}" style="color: #cdcdcd;" ng-if="$parent.merchantIdentityValid" ng-readonly="true">
            </div>
            <div class="flex-row">
                <p>Routing Number</p>
                <input type="text" data-stripe="routing_number" ng-if="!$parent.merchantIdentityValid">
                <input type="text" value="{{$parent.bankAccountData.routing_number}}" style="color: #cdcdcd;" ng-if="$parent.merchantIdentityValid" ng-readonly="true">
            </div>
            <div class="flex-row">
                <p>Re-enter Routing Number</p>
                <input type="text" data-stripe="routing_number" ng-if="!$parent.merchantIdentityValid">
                <input type="text" value="{{$parent.bankAccountData.routing_number}}" style="color: #cdcdcd;" ng-if="$parent.merchantIdentityValid" ng-readonly="true">
            </div>
            <div class="flex-row">
                <p>Name of Bank</p>
                <input type="text" data-stripe="bank_name" ng-if="!$parent.merchantIdentityValid">
                <input type="text" value="{{$parent.bankAccountData.bank_name}}" style="color: #cdcdcd;" ng-if="$parent.merchantIdentityValid" ng-readonly="true">
            </div>
            <input type="hidden" data-stripe="country" value="US">
        </div>
    </form>
</div>
<div style="position: absolute; margin-left: 290px; margin-top: -300px; height: 800px;"
    ng-if="$parent.loadResponseHandler">
    <div class="loading-verification" style="width: 40px; margin: 0 auto;">
        <img src="assets/images/rolling.gif" style="margin-top:120px">
    </div>
</div>