<div class="custom-modal-wrapper add-exhibitor add-attendee">
	<div class="title">Add an Attendee</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" ng-repeat="field in attendeeFields" ng-if="!(field.key === 'state' && attendeeFields[10].value != 'US')" ng-show="field.visible">
			<div class="name">{{field.nameToDisplay}}<span style="color: orange" ng-if="field.mandatory || (field.key=='attendee_id' && activeCustomAttendeeId)">*</span></div>
			<input type="text" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction()" ng-class="{'error': errorOnEmailAddress}" ng-if="field.key != 'country' && field.key != 'state' && field.key != 'phone_number' && field.key != 'email_address' && field.key != 'attendee_id' && field.visible">
			<input type="text" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction(field)" ng-class="{'error': errorOnEmailAddress}" ng-if="field.key != 'country' && field.key != 'state' && field.key != 'phone_number' && field.key == 'email_address' && field.key != 'attendee_id' && field.visible">
			<input type="text" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction(field)" ng-class="{'error': errorOnEmailAddress}" ng-if="field.key != 'country' && field.key != 'state' && field.key != 'phone_number' && field.key != 'email_address' && field.key == 'attendee_id' && field.visible">
			<input type="tel" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction()" ng-if=" field.key == 'phone_number' && field.visible" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input>
			<select ng-if=" field.key === 'country' " ng-focus="activeCustomAttendeeIdFunction()" ng-change="updateCountryForPhoneInput(field)" ng-model="field.value" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
        <option ng-repeat="option in field.countries" value="{{option.code}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
      </select>

			<select ng-if=" field.key === 'state' && attendeeFields[10].value === 'US'" ng-focus="activeCustomAttendeeIdFunction()" ng-model="field.value" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
        <option ng-repeat="option in field.states" value="{{option.abbreviation}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.name}}</option>
      </select>
		</div>
    <div class="input-wrapper" ng-repeat="field in customFields">
      <div class="name">{{field.name}}</div>
      <select ng-if="field.type === 3" multiple ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction()">
        <option ng-repeat="option in field.options" value="{{option.value}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.value}}</option>
      </select>
      <select ng-if="field.type === 2" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction()" style="height: 40px; font-size: 14px; border-radius: 0px; background-color: white; padding: 10px; box-sizing: border-box;">
        <option ng-repeat="option in field.options" value="{{option.value}}" ng-selected="field.value.indexOf(option.value) > -1">{{option.value}}</option>
      </select>
      <input type="text" ng-model="field.value" ng-focus="activeCustomAttendeeIdFunction()" ng-if="field.type === 1"></input>
    </div>
		<div class="input-wrapper">
			<div class="name">Attendee Photo</div>

		<span ngf-select="uploadAttendeePhoto($files)" class="add_attendee_upload_link"
			 ngf-pattern="'image/*'"
			 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
			 ngf-drag-over-class="'dragover'" ngf-multiple="false">

			<div class="attendee-upload-image">
				<div style="background-image: url({{newAttendeeInfo.attendee_photo || '/assets/images/default-profile-img.png'}})"></div>
				<div>Upload from computer</div>
		</div>
		</span>
		<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
	</div>
		<div class="mandatory-notification">
			<span style="color: orange">* Required</span>
		</div>
	</div>

	<div class="buttons-wrapper">
		<div class="button" ng-click="closeThisDialog()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="createAttendee(attendeeFields, customFields, true)">Save</div>
			<div class="button smaller-padding save" ng-click="createAttendee(attendeeFields, customFields, false)">Save & Add Another</div>
		</div>
	</div>
</div>
