.custom-modal-wrapper.add-exhibitor.add-attendee {
	height: calc(100vh - 86px);
}

.custom-modal-wrapper.add-exhibitor.add-attendee .title {
	padding-bottom: 5px;
	border-bottom: 1px solid #cdcdcd;
	height: 30px;
	box-sizing: border-box;
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper {
	padding-top: 30px;
	height: calc(100% - 30px - 71px);
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 0;
	overflow: hidden !important;
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper input {
	width: 50%;
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper select {
	width: 50%;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper select option {
	font-size: 14px;
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'AvenirNextLTPro-Regular';
  line-height: 40px;
  width: calc(100% + 10px);
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper input {
	transition: background-color .2s ease, color .2s ease;
}

.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper input:focus {
	background-color: #4a4a4a;
	color: white;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper .add_attendee_upload_link {
	width: 50%;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper .attendee-upload-image {
	display:flex;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper .attendee-upload-image>div:first-child{
	width: 45px;
  height: 45px;
  margin: 10px 10px 0 0;
  border-radius:50%;

    background-size: 140%;
    background-position: center center;
    background-repeat: no-repeat;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper .attendee-upload-image>div:last-child {
	padding:24px 0;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper  .intl-tel-input{
 width: 50%;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper  .intl-tel-input input{
	width:100%;
	padding-left: 50px;
}
.custom-modal-wrapper.add-exhibitor.add-attendee .add-form-wrapper .input-wrapper  .intl-tel-input input:focus::placeholder{
	padding-left: 0px;
	color:#fff;
}
.intl-tel-input .country-list {
	font-size:14px;
	font-family: 'AvenirNextLTPro-Regular';
	color:#000;
	max-width: 270px;
  overflow-x: hidden;
}
.intl-tel-input .flag-container{
	left:0;
}
