<div class="badge-review-components-menu" ng-class="{'badge-review-components-menu-visible' : showComponentsMenu}">
	<div class="title"> Layout Preview </div>
	<div class="mail-merge-container">
		<i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 16px; color: #4a4a4a;"></i>
		<div class="mail-merge-title"> Mail Merge Preview </div>
		<div class="mail-merge-text">
			Search by last name, company,
			or email then select to populate the highlighted label:
		</div>
		<div>
			<input class="mail-merge-input" placeholder="Enter a name..." ng-model="mailMergeData" ng-change="getModelDataForBadgeReview()" ng-model-options="{debounce:750}">
			<div class="mail-merge-list-of-attendees" style="display: {{toggleAttendeesList ? 'block' : 'none'}};">
				<div class="mail-merge-attendee-name" ng-repeat="mailMergeAttendee in mailMergeListOfAttendees" ng-click="setAttendeeDataForBadge(mailMergeAttendee)"
						ng-class="{'active': currentMailMergeAttendee.id == mailMergeAttendee.id}">
					{{mailMergeAttendee.first_name + ' ' + mailMergeAttendee.last_name}}
				</div>
				<div class="mail-merge-attendee-loading-text" ng-if="loadingMoreMailMergeData"> Loading more results... </div>
			</div>
		</div>
	</div>
</div>
