.badge-review-components-menu {
	width: 224px;
	background-color: #edf0f2;
	height: 100vh;
	border-right: 1px solid #aaaaaa;
	box-shadow: 5px -1px 17px -3px #a5a5a5;
	transform: translateX(-224px);
	z-index: 1;
}

.badge-review-components-menu .title {
	font-size: 12px;
	font-family: $font-family-medium;
	line-height: 28.5px;
	text-align: center;
	color: #4a4a4a;
	border-bottom: 1px solid #cdcdcd;
}

.badge-review-components-menu .mail-merge-container {
	display: block;
	padding: 20px;
	padding-bottom: 0;
}

.mail-merge-container .mail-merge-title {
	display: inline-block;
	margin-left: 6px;
	font-size: 12px;
	font-family: $font-family-medium;
	color: #4a4a4a;
}

.mail-merge-container .mail-merge-text {
	display: inline-block;
	margin-top: 9px;
	margin-bottom: 11px;
	font-size: 11px;
	font-family: $font-family-medium;
	line-height: 16px;
	color: #4a4a4a;
}

.mail-merge-container .mail-merge-input {
	font-size: 12px;
	line-height: 32px;
	font-family: $font-family-medium;
	width: 100%;
	padding-left: 8px;
	box-sizing: border-box;
	color: #4a4a4a;
}

.mail-merge-list-of-attendees {
	width: 100%;
	border: 1px solid #CDCDCD;
	border-top-style: none;
	background-color: #E0E7E9;
	box-sizing: border-box;
	max-height: 330px;
	overflow-y: auto;
}

.mail-merge-list-of-attendees::-webkit-scrollbar {
    width: 7px;
		padding-right: 6px;
}

.mail-merge-list-of-attendees .mail-merge-attendee-name, {
	color: #4a4a4a;
	font-family: "Avenir Next";
	font-size: 12px;
	font-weight: bold;
	line-height: 32px;
	padding-left: 8px;
	box-sizing: border-box;
	transition: background-color .2s ease;
	cursor: pointer;
}

.mail-merge-list-of-attendees .mail-merge-attendee-loading-text {
	color: #4a4a4a;
	font-family: "Avenir Next";
	font-size: 12px;
	font-weight: 400;
	line-height: 32px;
	padding-left: 8px;
	box-sizing: border-box;
}

.mail-merge-list-of-attendees .mail-merge-attendee-name:hover, .mail-merge-list-of-attendees .mail-merge-attendee-name.active {
	background-color: #fff;
}

.badge-review-components-menu.badge-review-components-menu-visible {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1), transform 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}
