<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
	<div ng-if="numberOfUsers == -1">Are you sure that you want to delete all<br/>users? This will permanently remove<br/>them from your event.</div>
	<div ng-if="numberOfUsers > 1">Are you sure that you want to delete these<br/> users? This will permanently remove<br/>them from your event.</div>
	<div ng-if="numberOfUsers == 1">Are you sure that you want to delete this<br/> user? This will permanently remove<br/>the user from your event.</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">Cancel</md-button>
			<md-button ng-if="numberOfUsers == -1" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="deleteAllEvent(); closeThisDialog();">Delete All</md-button>
			<md-button ng-if="numberOfUsers > 0" class="md-raised md-primary delete-all" style="margin-left: 110px;" ng-click="deleteEvent(); closeThisDialog();">Delete</md-button>
		</md-content>
	</div>
</div>
