<div  data-id={{props.id}} class="text-component draggable {{props.partOf}}"  style="padding: 5px; top: {{props.yAxis}}px; left: {{props.xAxis}}px; position: absolute; transform: rotate({{props.rotateAngle || 0}}rad);  -webkit-transform: rotate({{props.rotateAngle || 0}}rad); -moz-transform: rotate({{props.rotateAngle || 0}}rad); -ms-transform: rotate({{props.rotateAngle || 0}}rad); -o-transform: rotate({{props.rotateAngle || 0}}rad); transform: rotate({{props.rotateAngle || 0}}rad); z-index: {{props.zIndex}}; width: {{props.width}}px; height: {{props.height}}px;" ng-click="openContextualMenu(props, $event)" click-outside="makeComponentInactive(props)" outside-if-not="layers-menu-wrapper, md-color-picker-dialog"
 		data-x={{props.xAxis}} data-y={{props.yAxis}} ng-class="{'active': componentSelected}"  ng-click="makeComponentMovable()">
    <div class="anchor-points-wrapper" style="z-index: 0" ng-click="makeComponentMovable()">
  		<div class="anchor-point left"></div>
  		<div class="anchor-point left top">
        <div class="rotation-point"></div>
      </div>
  		<div class="anchor-point left bottom">
        <div class="rotation-point"></div>
      </div>
  		<div class="anchor-point center"></div>
  		<div class="anchor-point center bottom"></div>
  		<div class="anchor-point right"></div>
  		<div class="anchor-point right top">
        <div class="rotation-point"></div>
  		</div>
  		<div class="anchor-point right bottom">
        <div class="rotation-point"></div>
  		</div>
  	</div>

  	<div editable-text contenteditable="{{props.mailMergeField != undefined || inMoveMode ? false : true}}" id="text-{{props.id}}" style="letter-spacing: 0px; font-size: {{props.fontSize}}px; font-style:{{props.fontStyle}}; font-family: {{props.fontFamily}}; width: {{props.width - 10}}px; height: {{props.height - 10}}px; text-align: {{props.textAlign}}; text-decoration: {{props.textDecoration}}; opacity: {{props.opacity / 10}}; position: relative; top:0; left: 0; font-weight: {{props.fontWeight}}; color: {{props.color}}; background: transparent;  overflow: hidden; z-index: 1" data-merge-fields="{{props.mailMergeField}}"  data-x={{props.xAxis}} data-y={{props.yAxis}} ng-keypress="addSpace($event)"
  		ng-model="props.innerText" ng-click="makeComponentUnmovable()">{{props.innerText}}</div>
</div>
