.text-component.active {
	border: 1px solid #cdcdcd;
	background-color: transparent;
}

.ng-repeat-reorder-parent, [ng-repeat-reorder]{
	z-index: 10;
	position: relative;
}
[ng-repeat-reorder].dragging{
	z-index: 11;
	position: absolute;
	width: 100%;

	background-color: #e0e7e9;
}

#names > div:first-child{
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}

.active-drag-below {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-component.drop-target {
	background-color: #f0f9ff;
	border: 1px solid #00b0e7;
}
