<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="container-center" ng-class="{'no-info': !zapierAppName}">
  <p class="general-confirmation-title">Request for Integrations Permissions</p>
  <p class="general-confirmation-message"><span>{{zapierAppName}}</span> wants access to:</p>
  <div>
    <div class="zapier-permision">
      <div class="icon-holder">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="description">
        <div class="permision-title">User and Account Information</div>
        <div class="permision-info">This includes access to read information about the user and account.</div>
      </div>
    </div>
    <div class="zapier-permision">
      <div class="icon-holder">
        <i class="fa fa-random" aria-hidden="true"></i>
      </div>
      <div class="description">
        <div class="permision-title">Access to features for the Zapier intgration</div>
        <div class="permision-info">This grants access to capabilities Zapier users to enable the triggers and actions defined in Zapier.</div>
      </div>
    </div>
    <div class="zapier-permision">
      <div class="icon-holder">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
      </div>
      <div class="description">
        <div class="permision-title">Read from and write to my Events</div>
        <div class="permision-info">This includes access to the Events API.</div>
      </div>
    </div>
  </div>
  <div class="action-button secondary" ng-click="grantZapierAccess()">grant access</div>
  <a href="{{deniedUrl}}" class="cancel-action-link">cancel</a>
</div>
<div class="loader visible" ng-class="{'visible':  !zapierAppName}"></div>
