
.container-center .general-confirmation-message > span {
	font-family: "AvenirNextLTPro-Demi";
	color: #4A4A4A;

}

.container-center .zapier-permision {
	width: 384px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 10px;
}

.container-center .zapier-permision .icon-holder {
	width: 36px;
	height: 36px;
	font-size: 20px;
	border-radius: 50%;
	background-color: #d8d8d8;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.container-center .zapier-permision .icon-holder > i {
	position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.container-center .zapier-permision .description {
	display: inline-block;
	width: 328px;
	font-size: 14px;
	font-family: "AvenirNextLTPro-Regular";
	color: #4A4A4A;
	margin-left: 14px;
	line-height: 19px;
}

.container-center .zapier-permision .description .permision-title {
	font-family: "AvenirNextLTPro-Demi";
}

.container-center div.zapier-permision:last-of-type {
	margin-bottom: 47px;
}

.container-center .cancel-action-link {
	color: #818181 !important;;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	font-family: "AvenirNextLTPro-Regular";
	text-transform: capitalize;
	cursor: pointer;
	margin-top: 25px;
	display: inline-block;
}

.container-center .cancel-action-link:hover {
	color: #4a4a4a !important;
	text-decoration: underline;
}

.container-center.no-info {
	filter: opacity(0);
}

.loader {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;
	display: -webkit-inline-box;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.loader.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.loader::after, .loader::before {
  content: "";
	left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}

.loader::before {
  border-top-color: #28A4DA;
  border-bottom-color: #9DC731;
}

.loader::after {
  border-left-color: #FFB92A;
  border-right-color: #ED492F;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}


@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
