.draggable.active .anchor-points-wrapper {
	visibility: visible;
	opacity: 1;
}

.anchor-points-wrapper {
	position: absolute;
	left: 0;
	top: 0;


	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
}

.anchor-points-wrapper .anchor-point {
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border: solid 1px #00aae1;

	position: absolute;
}

.anchor-points-wrapper .anchor-point.active {
	background-color: #00aae1;
	border-radius: 100%;
}

.anchor-points-wrapper .anchor-point.left {
	top: 50%;
	left: -4px;

	transform: translateY(-50%);
}

.anchor-points-wrapper .anchor-point.left.top {
	top: -4px;
	transform: none;
	display: block;
}

.anchor-points-wrapper .anchor-point .rotation-point {
	width: 30px;
  height: 30px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(235deg);
  background-image: url(/assets/images/rotate_cursor.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
	opacity: 0;
}

.anchor-points-wrapper .anchor-point .rotation-point:hover {
	opacity: 1;
	cursor: pointer;
}

.anchor-points-wrapper .anchor-point .rotation-point.active {
	opacity: 1;
	background-color: transparent !important;
	cursor: pointer;
}

.anchor-points-wrapper .anchor-point.left.bottom .rotation-point {
  background-position: right, bottom;
	left: 0px;
  top: 5px;
	transform: translate(-50%, -50%) rotate(145deg);
}

.anchor-points-wrapper .anchor-point.right.top .rotation-point {
	transform: translate(-50%, -50%) rotate(335deg);
	left: 6px;
  top: 1px;
}

.anchor-points-wrapper .anchor-point.right.bottom .rotation-point {
	transform: translate(-50%, -50%) rotate(45deg);
	top: 6px;
	left: 6px;
}

.anchor-points-wrapper .anchor-point.left.bottom {
	top: calc(100% - 4px);
	transform: none;
}

.anchor-points-wrapper .anchor-point.center {
	top: -4px;
	left: 50%;

	transform: translateX(-50%);
}

.anchor-points-wrapper .anchor-point.center.bottom {
	top: calc(100% - 4px);
}

.anchor-points-wrapper .anchor-point.right {
	top: 50%;
	right: -4px;
	transform: translateY(-50%);
}

.anchor-points-wrapper .anchor-point.right.top {
	top: -4px;
	transform: none;
}

.anchor-points-wrapper .anchor-point.right.bottom {
	top: calc(100% - 4px);
	transform: none;
}

.anchor-points-wrapper .anchor-point.rotatable-handle .circle {
	opacity: 0;
	visibility: hidden;
}

.anchor-points-wrapper .anchor-point.rotatable-handle.active .circle {
	width: 36px;
	height: 36px;
	border: 1px solid #e3e3e3;
	border-radius: 100%;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	opacity: 1;
	visibility: visible;
}

.anchor-points-wrapper .anchor-point.rotatable-handle.active .circle .inner-semi-circle {
	height: 36px;
    width: 36px;
    position: absolute;
    top: -2px;
    left: 1px;
    transform: rotate(45deg);
    border-top: 2px solid #aaaaaa;
    border-radius: 100%;
}

.anchor-points-wrapper .anchor-point.left.rotatable-handle.active .circle .inner-semi-circle {
	top: 0px;
    left: -1px;
    border-left: 2px solid #aaaaaa;
    border-top: 0px solid transparent;
}
