<div data-id="{{props.id}}" data-x="{{props.xAxis}}" data-y="{{props.yAxis}}" ng-click="openContextualMenu($event)" class="draggable image-component {{props.partOf}}" click-outside="makeComponentInactive(props)" outside-if-not="layers-menu-wrapper, md-color-picker-dialog"
 	style="width: {{props.width}}px; height: {{props.height}}px; position: absolute; top: {{props.yAxis}}px; left: {{props.xAxis}}px; -webkit-transform: rotate({{props.rotateAngle}}rad) !important; z-index: {{props.zIndex}}" ng-class="{'active': componentSelected}" ng-style="props.isConstrained ? { 'max-width': '{{props.width}}px', 'max-height': '{{props.height}}px' } : { 'width': '{{props.width}}px', 'height': '{{props.height}}px' }"
>
	<div class="anchor-points-wrapper">
    <div class="anchor-point left"></div>
    <div class="anchor-point left top">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point left bottom">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point center"></div>
    <div class="anchor-point center bottom"></div>
    <div class="anchor-point right"></div>
    <div class="anchor-point right top">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point right bottom">
      <div class="rotation-point"></div>
    </div>
	</div>
	<img src="{{props.link}}" style="width: 100%; height: 100%; opacity: {{opacity}};"></img>
</div>
