<tr ui-sref="{{(conference.conference_role == 'admin' || conference.conference_role == 'both') ?
    'conferences.dashboard.details.overview({conference_id: conference.conference_id })' : 'conferences.exhibitor_toolkit.details({conference_id: conference.conference_id })'}}">
    <td class="demi ellipsis">{{conference.name}}</td>
    <td class="medium ellipsis">
        {{conference.date_from | date:'MM/dd/yyyy':conference.time_zone}} -
        {{conference.date_to | date:'MM/dd/yyyy':conference.time_zone}}
    </td>
    <td class="medium ellipsis">{{conference.city}}</td>
    <td class="medium ellipsis">{{conference.state}}</td>
    <td class="medium ellipsis">{{formatRole(conference.conference_role, conference.user_role, false)}}</td>
</tr>
