<div class="action-bar-switch">
  <div class="container">
    <div class="switch-bar-container">
      <div class="switch-bar"></div>
      <div class="switch-button" ng-class="{'switch-set-front-side' : currentBadgeSide == 'front', 'switch-set-back-side': currentBadgeSide == 'back'}"
        ng-click="switchSidesOfBadge()">
      </div>
    </div>
    <div class="switch-options">
      <div>Front</div>
      <div>Back</div>
    </div>
  </div>

</div>
