.action-bar-switch {
  display: inline-block;
  width: 90px;
  vertical-align: middle;
  height: 70px;
  font-size: 0;
}

.action-bar-switch::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}

.action-bar-switch .container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-size: 0;
}

.action-bar-switch .switch-bar-container{
  height: auto;
  width: 100%;
  position: relative;
  position: relative;
  margin-bottom: 7px;
  height: 20px;
}

.action-bar-switch .switch-bar-container .switch-bar{
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #d8d8d8;
  z-index: 9;
  position: absolute;
  top: 50%;
}

.action-bar-switch .switch-bar-container .switch-button {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #00c0ec;
  z-index: 99;
  position: absolute;
  top: 13%;
  cursor: pointer;

  transition: left .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.action-bar-switch .switch-options {
  line-height: normal;
}

.action-bar-switch .switch-options > div{
  color: #4a4a4a;
  font-size: 14px;
  font-family: $font-family-medium;
  display: inline-block;
  width: 50%;
  text-align: left;

}

.action-bar-switch .switch-options > div:last-child{
  text-align: right;
}

.switch-set-back-side {
  left: calc(100% - 18px);
}

.switch-set-front-side {
  left: 0px;
}
