<div class="attendee-fields-entry">
	<div class="select-standard-attendee-fields">
		<p>Select any of the following standard fields to display:</p>
		<div class="standard-attendee-fields">
			<div ng-repeat="standard_field in vm.standardFields track by $index">
				<p>{{standard_field.label}}</p>
				<div class="cursor" ng-click="vm.dropDownTypeOfField($event)" ng-if="$index > 2">
					{{standard_field.type_code}}
					<i class="fa fa-sort" aria-hidden="true" 
	                    style="color: #818181; font-size: 17px; position: relative;
	                    bottom: 2px; margin-left: auto; margin-right: 11px;"></i>
				</div>
				<div class="drop-down-type-for-field" click-outside='vm.hideDropDown($index)' ng-if="$index > 2">
					<div ng-click="vm.typeOfFieldChoose(standard_field, 'required', $event)">Required</div>
					<div ng-click="vm.typeOfFieldChoose(standard_field, 'optional', $event)">Optional</div>
					<div ng-click="vm.typeOfFieldChoose(standard_field, 'hidden', $event)">Hidden</div>
				</div>
				<p ng-if="$index <= 2">{{standard_field.type_code}}</p>
			</div>
		</div>
	</div>
	<div class="create-additional-attendee-fields">
		<div>
			<p>Create additional attendee fields:</p>
			<div class="create-additional-attendee-fields-panel">
				<div>
					<div>
						<input style="margin-right: 10px;" type="text" placeholder="Custom Field Name (unique)" ng-model="vm.newCustomField.name">
						<div>
			                <div class="select-options-for-custom-field cursor"
			                	ng-class="vm.customFieldsTypePane==true ? '' : (vm.updateCustomFieldBoolean ? 'unclickable' : '')"
			                    ng-click="(vm.customFieldsTypePane!=true) ? vm.customFieldsTypePane = true : vm.customFieldsTypePane = false">
			                    {{vm.customFieldSelected}}
			                    <i class="fa fa-sort" aria-hidden="true" 
	                    			style="color: #818181; font-size: 17px; position: relative;
	                    			right: 12px; float: right; top: 12px;"></i>
			                </div>

			                <div ng-if="vm.customFieldsTypePane==true" class="custom-field-options-div">
			                    <div class="" ng-click="vm.customFieldChose('Text')">
			                        Text
			                    </div>
			                    <div class="" ng-click="vm.customFieldChose('Multiple Choice')">
			                        Multiple Choice
			                    </div>
			                    <div class="" ng-click="vm.customFieldChose('Single Choice')">
			                        Single Choice
			                    </div>
			                </div>
            			</div>
					</div>
					<div class="conference-custom-field-options" ng-if="vm.customFieldSelected == 'Multiple Choice' || vm.customFieldSelected == 'Single Choice'">
		                <div ng-repeat="option in vm.newCustomField.options">
		                    <div class="conference-custom-field-name">
		                        <input type="text" ng-model="option.value" class="conference-custom-field-text" placeholder="Enter possible value for field" />
		                    </div>
		                    <div class="conference-custom-field-remove-btn"  ng-click="vm.customFieldRmvOption(option)" style="margin-top: 7px;">
		                    	<i class="fa fa-minus-circle" style="font-size: 24px; color: #9b9b9b; margin-right: 14px;" aria-hidden="true"></i>
		                    </div>
		                </div>
		                <div class="custom-fields-option-name-for-registration-form" style="align-items: flex-start;">
		                    <div class="conference-custom-field-name" style="width: 100%; height:40px;">
		                        <input type="text" ng-model="vm.newOption"
		                        class="conference-custom-field-text" placeholder="Enter possible value for field" />
		                    </div>
		                    <div class="conference-custom-field-remove-btn" ng-click="vm.customFieldAddOption()" style="margin-right: 7px;">
		                        <i class="fa fa-plus-circle cursor" style="font-size: 24px; color: #9b9b9b; margin-top: 7px;" aria-hidden="true"></i>
		                    </div>
		                </div>
			        </div>
				</div>
				<div>
					<div class="cursor" ng-click="vm.createCustomField()">SAVE FIELD</div>
				</div>
		    </div>
		</div>
		<div>
			<p>Custom attendee fields:</p>
			<div class="additional-custom-fields" style="height: 300px;">
				<div class="additional-custom-fields-item" ng-repeat="customField in vm.savedCustomFields track by $index" style="max-height: 42px;">
					<p>{{customField.name}}</p>
					<div ng-click="vm.dropDownTypeOfField($event)" class="cursor">
						{{customField.regsitration_form_type_code ? customField.regsitration_form_type_code : 'Optional'}}
						<i class="fa fa-sort" aria-hidden="true" 
		                    style="color: #818181; font-size: 17px; position: relative; top: 10px;
		                    float: right; margin-right: 11px;"></i>
					</div>
					<div class="drop-down-type-for-field" click-outside='vm.hideDropDown($index)'>
						<div ng-click="vm.typeOfCustomFieldChoose(customField, 'required', $event)">Required</div>
						<div ng-click="vm.typeOfCustomFieldChoose(customField, 'optional', $event)">Optional</div>
						<div ng-click="vm.typeOfCustomFieldChoose(customField, 'hidden', $event)">Hidden</div>
					</div>
					<div class="flex-row" style="align-items: center;">
						<div class="default-icon-circle" ng-click="vm.getEditCustomField(customField)" style="margin-left: auto; margin-right: 10px;">
			                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
			            </div>
			            <div class="default-icon-circle" ng-click="vm.deleteCustomField(customField)" style="margin-right: 20px;">
			                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="create-registration-form-footer" style="margin-bottom: 40px;">
		<div ng-click="vm.selectedType = null">Cancel</div> 
		<div ng-click="vm.saveFirstStepRegistration()" style="margin-left: 10px;" ng-class="vm.nextButtonBlocked ? 'grayed-out' : ''">NEXT</div>
	</div>
</div>
