<div class="registration-legal">
	<p>Legal Agreements</p>
	<p style="line-height: 20px;">Expo Pass requires you to upload a Terms and Conditions and a Refund Policy for your event.  It is very important to us that your Customers understand the purpose, amount, and conditions of Charges.  You also agree to maintain a fair return, refund, cancellation, or adjustment policy, and clearly explain the process by which Customers can receive a Refund. For your convenience we have provided you with an example Refund Policy.</p>
	<div>
		<div>
			<p class="registration-legal-titles">Terms and Conditions</p>
			<div>
				<div ngf-drop="vm.uploadRegistrationTrmAndCond($files)" class="drop-box drag-class cursor" style="z-index:99999"
	                 ngf-select="vm.uploadRegistrationTrmAndCond($files)"
	                 ngf-max-size="10MB" ngf-min-height="50"
	                 ngf-drag-over-class="'dragover'" ngf-multiple="false">CHOOSE A FILE...</div>
				<div ng-hide="vm.conference.registration_form.terms_of_service_file_name == null">
					<i class="fa fa-file-o" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
					<p>{{vm.conference.registration_form.terms_of_service_file_name}}</p>
				</div>
			</div>
			<div style="overflow-y: scroll;">
				<pre style="white-space: pre-wrap">{{vm.termsAndConditionsText}}</pre>
			</div>
			<p ng-hide="true" class="registration-legal-titles bottom-title">Upload Any Additional Legal Agreements</p>
			<div ng-hide="true" class="legal-agreements-files cursor" ngf-drop="vm.uploadAdditionalLegalAgreements($files)" style="z-index:99999"
				 ngf-select="vm.uploadAdditionalLegalAgreements($files)"
				 ngf-max-size="10MB" ngf-min-height="50"
				 ngf-drag-over-class="'dragover'" ngf-multiple="false">
				<p>Drag and drop legal agreements or...</p>
				<div>CHOOSE FILES...</div>
			</div>
		</div>
		<div>
			<div class="flex-row" style="align-items: center; justify-content: space-between">
				<p class="registration-legal-titles">Refund Policy</p>
				<p class="cursor medium" style="font-size: 14px; color: #59bbe7; align-self: baseline;"
					ng-click="vm.openRefundPolicyRequirements()">View requirements</p>
			</div>
			<div>
				<div ngf-drop="vm.uploadRegistrationRefundPolicy($files)" class="drop-box drag-class cursor" style="z-index:99999"
	                 ngf-select="vm.uploadRegistrationRefundPolicy($files)"
	                 ngf-max-size="10MB" ngf-min-height="50"
	                 ngf-drag-over-class="'dragover'" ngf-multiple="false">CHOOSE A FILE...</div>
				<div ng-hide="vm.conference.registration_form.refund_policy_file_name == null">
					<i class="fa fa-file-o" aria-hidden="true" style="color: #4a4a4a; font-size: 18px;"></i>
					<p>{{vm.conference.registration_form.refund_policy_file_name}}</p>
				</div>
			</div>
			<div style="overflow-y: scroll;">
				<pre style="white-space: pre-wrap">{{vm.refundPolicyText}}</pre>

			</div>
			<div class="registration-uploaded-files" ng-hide="true" >
				<p>Uploaded files:</p>
				<div ng-if="vm.conference.registration_form.registrationformdocument_set.length > 0">
					<div ng-repeat="doc in vm.conference.registration_form.registrationformdocument_set">
						<img src="/assets/images/doc-ico.png" style="float:left">
						<span style="margin-left:5px; line-height: 22px; float:left; margin-right: 15px; width: 70px; 
						text-overflow: ellipsis; overflow: hidden; height: 20px;" class='file-name-text'>{{doc.file_name}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="create-registration-form-footer" 
	style="width: 95.2%; margin-left: 40px; margin-bottom: 40px;">
	<div ng-click="vm.selectedType = null">Cancel</div>
	<div style="margin-left: 58vw;" ng-if="!vm.registration_panel_edit" ng-click="vm.registrationNextStep('registration_level_options_panel')">Previous</div>
	<div ng-click="vm.finishedTOSSetup()" style="margin-left: 10px;" ng-class="vm.nextButtonBlocked ? 'grayed-out' : ''">NEXT</div>
</div>
