<div class="flex-column refund-requirements">
    <p class="demi" style="font-size: 20px; margin-bottom: 27px; padding-left: 34px">Refund Policy Requirements</p>
    <div style="padding-bottom: 20px; max-height: 78%; overflow-y: auto; border-bottom: 1px solid #cdcdcd; margin-left: 30px; margin-right: 30px;">
        <p class="medium" style="font-size: 14px; line-height: 20px;">
        <p class="demi">1. Refund Policies and Administration.</p> </br></br>
            Minimum Requirements. Organizer’s refund policy must meet the following minimum requirements (the “Attendance Refund Policy Requirements”):</br></br>
        • Refund policies must be uploaded to and posted on the Organizer’s Registration Form as uploaded to the Organizer’s website;</br></br>
        • “No refund” policies are permissible, but must be clearly identified as such and must otherwise comply with these minimum requirements;</br></br>
        • Refund policies (including “no refund” policies) must provide for a refund or other make good for complete failure to provide the advertised Event (e.g., event cancellation); </br></br>
        • Refund policies must be in accordance with all applicable local, state, provincial, national and other laws, rules and regulations;</br></br>
        • Refund policies must include specific instructions on how to obtain a refund, including how, when and where to direct a refund request; provided that (1) all refund requests must be directed to Organizer (or is designee) and (2) in no event will any refund request be directed to the Company; </br></br>
        • Refund policies may not be changed with respect to purchases made prior to the date of such change and its posting to the Organizer’s Registration Form as set forth on the Organizer’s website; </br></br>
        • Refund policies must set out a specific time frame within which refund requests will be responded to, which must not exceed five (5) business days for a first response; and </br></br>
        • Refund policies must otherwise be fair and reasonable. </br></br>
            If a refund policy is not posted or does not meet these minimum requirements set forth above, the Company may terminate all or a portion of the Services or suspend all or a portion the Services until the Organizer has changed the refund policy to comply with these minimum requirements, in the Company’s sole discretion.</br></br>
        <p class="demi">2. Administration of Refund Policy.</p>Organizer agrees to administer its refund policy in accordance with the terms of its refund policy as uploaded to its Registration Form as set forth on the Organizer’s website and the Attendance Refund Policy Requirements. </br></br>
        <p class="demi">3. No Insurance/No Guarantee.</p>These Attendee Refund Policy Requirements are not intended to be and do not constitute an offer to insure the performance of or to guarantee the performance of any Organizer and are not a guarantee that refunds will be issued in any given situation.</p></br></br>
    </div>
    <div class="flex-row" style="width: 100%; padding: 34px 30px 41px 30px;">
        <div class="cursor close-refund-requirements-popup" ng-click="closeThisDialog()">Close</div>
    </div>
</div>
<style>
    .refund-requirements{
        margin-right: auto;
        margin-left: auto;
        position: relative;
        margin-top: 63px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26), 0 -2px 4px rgba(0, 0, 0, 0.26) !important;
        overflow-y: auto;
        height: 85vh;
        color: #4a4a4a;
        text-align: left;
        padding-top: 33px;
    }
    .refund-requirements p{
        margin: 0;
    }
    .close-refund-requirements-popup{
        width: 148px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #9b9b9b;
        margin-left: auto;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-family: "AvenirNextLTPro-Regular";
        font-weight: normal;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width: 620px;
        padding: 0;
    }
    .ngdialog.ngdialog-theme-default{
        padding: 0;
    }
</style>