<div class="registration-level-options">
	<p>Edit the Following Options for Each Registration Level:</p>
	<div class="registration-level-options-header">
		<div></div>
		<div ng-click="vm.levelSelected(level); vm.initializeAddSessionList();" ng-repeat="level in vm.registrationLevels" class="registration-header-level"
			ng-class="vm.currentLevel == level.id ? 'type-account-active' : ''">
			{{level.name}}
		</div>
	</div>
	<div class="registration-level-options-content">
		<div class="registration-level-options-content-one" ng-if="vm.currentLevelItem.registrationlevelsession_set.length > 0">
			<p>Create Add-On Sessions</p>
			<p>Select sessions as add-ons for the {{vm.levelName}} Level:</p>
			<div class="registration-level-options-content-one-sessions-list">
				<div class="registration-level-options-content-one-session cursor level-pricing-line"
						ng-repeat="levelSession in vm.currentLevelItem.registrationlevelsession_set 
							track by $index"
						ng-class="levelSession.session.add_on_selected ? 'add-on-selected' : ''">

					<div class="registration-level-options-content-session-title">
						<div class="checkbox-ico  cursor" ng-class="levelSession.session.add_on_selected ? 'checkbox-add-on-sessions checked-box-true' : ''" 
							ng-click="vm.toggleAddOnSelection(levelSession)"
							 style="background-position-x: -1px; background-position-y: -1px; background-size: 19px;"></div>
						<p class="registration-level-addon-session-title-text">	{{levelSession.session.title}}
						</p>
					</div>
					<div class="flex-column registration-level-options-content-session-prices">
						<div ng-repeat="add_on_price in levelSession.session.addOnSession.registrationleveladdonsessionpricing_set track by $index"
							class="flex-row add-on-pricing"
							 ng-if="vm.registrationAddOnLevelHasPricing(levelSession)"
							ng-class="add_on_price.can_be_removed ? 'extra-price-added' : ''">
							<span style="position: relative; left: 20px; top: 1px;" ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">$</span>
							<input type="text" ng-click="$event.stopPropagation()" class="session-add-on-price" ng-model="add_on_price.price"
								ng-change="vm.securePricing(add_on_price)"
								ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
								ng-blur="vm.setAddOnSessionPrice(levelSession, add_on_price)">
							<p ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">Effective Dates</p>

							<input	placeholder="Starts At"
									style="width: 133px;" 
									class="select-registration-effective-dates-input session-add-on-effective-start"
									ng-click="$event.stopPropagation()"
									ng-model="add_on_price.starts_at_editable"
									ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
									ng-blur="vm.setAddOnSessionPrice(levelSession, add_on_price, true)"
									moment-picker="add_on_price.starts_at_editable"
									format="M/D/YYYY"
									start-view="day"
									max-date="add_on_price.ends_at_editable"
									min-date="vm.findIndexOfThisDate(add_on_price.starts_at_editable, 'start', levelSession.session.addOnSession.registration_adds_on_session_dates_sorted)"
								    ng-readonly="true">
							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

							<p ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">to</p>

							<input  placeholder="Ends At"
									style="width: 133px;" 
									class="select-registration-effective-dates-input session-add-on-effective-end"
									ng-click="$event.stopPropagation()"
									ng-model="add_on_price.ends_at_editable"
									ng-blur="vm.setAddOnSessionPrice(levelSession, add_on_price, false)"
									ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
									moment-picker="add_on_price.ends_at_editable"
									format="M/D/YYYY"
									start-view="day"
									min-date="add_on_price.starts_at_editable"
									max-date="vm.findIndexOfThisDate(
										add_on_price.ends_at_editable, 
										'end', 
										levelSession.session.addOnSession.registration_adds_on_session_dates_sorted)"
								    ng-readonly="true">
							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

							<i class="fa fa-minus-circle cursor"
								style="font-size: 24px; color: #9b9b9b;margin-left: 10px;"
								aria-hidden="true" ng-click="vm.removePricingFromAddOnSession(levelSession, add_on_price); $event.stopPropagation();"></i>
							<i class="fa fa-plus-circle cursor registration-add-on-plus-btn"
								aria-hidden="true"
								ng-if="$last && levelSession.session.addOnSession.add_on_price_model === null"
								ng-click="levelSession.session.add_on_selected ? vm.addExtraPricingForAddOnSession(levelSession) : ''; $event.stopPropagation();" ng-class="(add_on_price.can_be_removed == true) ? 'small-margin-right' : ''"></i>
							<span 
								style="width: 21px;"
								class="registration-add-on-plus-btn"
								ng-if="
									$last && 
										!(levelSession.session.addOnSession.add_on_price_model === null)">
							</span>
							<span ng-if="!$last" style="margin-right: 39px; margin-left: 10px; width: 21px;"></span>
						</div>
						<div class="flex-row" ng-class="add_on_price.can_be_removed ? 'extra-price-added' : ''" ng-if="levelSession.session.addOnSession.add_on_price_model != null">
							<span style="position: relative; left: 20px; top: 1px;" ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">$</span>
							<input type="text" ng-click="$event.stopPropagation()" class="session-add-on-price" ng-model="levelSession.session.addOnSession.add_on_price_model.price"
								   ng-change="vm.securePricing(levelSession.session.addOnSession.add_on_price_model)"
								   ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
								   ng-blur="vm.setAddOnSessionPrice(levelSession, levelSession.session.addOnSession.add_on_price_model)">
							<p ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">Effective Dates</p>

							<input placeholder="Starts At" style="width: 133px;" class="select-registration-effective-dates-input session-add-on-effective-start"
								   ng-click="$event.stopPropagation()" ng-model="levelSession.session.addOnSession.add_on_price_model.starts_at_editable"
								   ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
								   ng-blur="vm.setAddOnSessionPrice(levelSession, levelSession.session.addOnSession.add_on_price_model, true)"
								   moment-picker="levelSession.session.addOnSession.add_on_price_model.starts_at_editable"
								   format="M/D/YYYY"
								   start-view="day"
								   ng-readonly="true"
								   selectable="vm.verifyIfDateIsAvailableForAddOnSessionPrices(date, type, levelSession.session.addOnSession.add_on_price_model, levelSession.session.addOnSession, 'start')"
								   max-date="levelSession.session.addOnSession.add_on_price_model.ends_at">
							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>
							<p ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''">to</p>

							<input placeholder="Ends At" style="width: 133px;" 
								   class="select-registration-effective-dates-input session-add-on-effective-end"
								   ng-click="$event.stopPropagation()" ng-model="levelSession.session.addOnSession.add_on_price_model.ends_at_editable"
								   ng-class="!levelSession.session.add_on_selected ? 'add-on-selected-non' : ''"
								   ng-blur="vm.setAddOnSessionPrice(levelSession, levelSession.session.addOnSession.add_on_price_model, false)"
								   moment-picker="levelSession.session.addOnSession.add_on_price_model.ends_at_editable"
								   format="M/D/YYYY"
								   start-view="day"
								   ng-readonly="true"
								   min-date="levelSession.session.addOnSession.add_on_price_model.starts_at_editable"
								   selectable="vm.verifyIfDateIsAvailableForAddOnSessionPrices(date, type, levelSession.session.addOnSession.add_on_price_model, levelSession.session.addOnSession, 'end')">
							<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>
							<i class="fa fa-minus-circle cursor"
							   style="font-size: 24px; color: #9b9b9b;margin-left: 10px;"
							   ng-if="levelSession.session.addOnSession.registrationleveladdonsessionpricing_set.length > 0"
							   aria-hidden="true" ng-click="vm.removePricingFromAddOnSession(levelSession, levelSession.session.addOnSession.add_on_price_model); $event.stopPropagation();"></i>
							<div ng-if="!levelSession.session.add_on_selected || 
							levelSession.session.addOnSession.registrationleveladdonsessionpricing_set.length == 0" style="width:100px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="registration-level-options-content-two">
			<p>Continuing Education</p>
			<div>
				<p>Include continuing education in registration?</p>
				<div>
					<div class="cursor" ng-click="vm.includeContinuingEducationInLevel(true)"
						ng-class="vm.currentLevelItem.include_continuing_education == true ? 'answer-checked' : ''">
						<img ng-if="vm.currentLevelItem.include_continuing_education == true" src="/assets/images/checked-ico.png">
						YES
					</div>
					<div class="cursor" ng-click="vm.includeContinuingEducationInLevel(false)"
						ng-class="vm.currentLevelItem.include_continuing_education == false ? 'answer-checked' : ''">
						<img ng-if="vm.currentLevelItem.include_continuing_education == false" src="/assets/images/checked-ico.png">
						NO
					</div>
				</div>
			</div>
		</div>
		<div class="registration-level-options-content-two">
			<p>Session Pre-registration</p>
			<div>
				<p>Include Session Pre-Registration?</p>
				<div>
					<div class="cursor" ng-click="vm.includePreRegistrationInLevel(true)"
						ng-class="vm.currentLevelItem.include_pre_registration == true ? 'answer-checked' : ''" >
						<img ng-if="vm.currentLevelItem.include_pre_registration == true" src="/assets/images/checked-ico.png">
						YES
					</div>
					<div class="cursor" ng-click="vm.includePreRegistrationInLevel(false)"
						ng-class="vm.currentLevelItem.include_pre_registration == false ? 'answer-checked' : ''" >
						<img ng-if="vm.currentLevelItem.include_pre_registration == false" src="/assets/images/checked-ico.png">
						NO
					</div>
				</div>
			</div>
		</div>
		<div class="registration-level-options-content-three">
			<p>Promo Codes</p>
			<p>Create {{vm.levelName}} Level promo codes:</p>
			<div>
				<div>
					<p>Enter new promo code:</p>
					<input type="text" maxlength="8" ng-model="vm.registrationPromoCodeModel.code">
					<p class="cursor" ng-click="vm.generatePromoCode()">Generate code</p>
				</div>
				<div>
					<p>Discount conditions:</p>
					<input id="promo-code-dicount-type" type="text" value="USD" readonly ng-click="vm.changeDiscountType()">
					<i class="fa fa-sort" aria-hidden="true" ng-click="vm.changeDiscountType()" 
						style="color: #818181; font-size: 17px; position: relative; float: right; right: 19px; bottom: 1px;"></i>
					<span id="promo-code-dicount-value"
						ng-class="vm.usd_sign == true ? 'dollar-sign' : 'pct-sign'">$</span>
					<input type="text" ng-model="vm.registrationPromoCodeModel.value" 
						ng-class="vm.usd_sign == true ? 'dollar-input' : 'pct-input'">
					<p>Effective Dates</p>

					<input placeholder="Starts At"
						   class="select-registration-effective-dates-input" 		   
						   ng-model="vm.registrationPromoCodeModel.starts_at_editable"
						   moment-picker="vm.registrationPromoCodeModel.starts_at_editable"
						   format="M/D/YYYY"
						   start-view="day"
						   max-date="vm.registrationPromoCodeModel.ends_at_editable"
						   ng-readonly="true">
					<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>
					<p style="margin-left: 15px;">to</p>

					<input placeholder="Ends At"
						   class="select-registration-effective-dates-input" 
						   ng-model="vm.registrationPromoCodeModel.ends_at_editable"
						   moment-picker="vm.registrationPromoCodeModel.ends_at_editable"
						   format="M/D/YYYY"
						   start-view="day"
						   min-date="vm.registrationPromoCodeModel.starts_at_editable"
						   ng-readonly="true">
					<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

					<div class="checkbox-ico cursor" ng-class="vm.registrationPromoCodeModel.single_use ? 'checked-box-true' : ''" 
						style="margin-left: 10px; background-position-x: -1px; background-size: 20px; background-position-y: -2px;"
						ng-click="vm.promoCodeToggle(vm.registrationPromoCodeModel)"></div>
					<span style="margin-right: 10px;">Single Use</span>	
					<div class="cursor" ng-click="vm.createRegistrationPromoCode()">SAVE CODE</div>
				</div>
			</div>
			<div ng-hide="vm.currentLevelItem.registrationlevelpromocode_set.length <= 0">
				<div>
					<i class="fa fa-bookmark" aria-hidden="true" style="margin-left: 16px; margin-right: 9px; font-size: 18px; color: #4a4a4a;
					    position: relative; bottom: 1px;"></i>
					<p>Saved Promo Codes</p>
				</div>
				<div class="flex-column">
					<div class="flex-row" ng-repeat="promo_code in vm.currentLevelItem.registrationlevelpromocode_set track by $index">
						<p>{{promo_code.code}}</p>
						<p>Discount:</p>
						<span style="position: relative; left: 34px;" ng-class="promo_code.discount_type == 'usd' ? 'dollar-sign' : ''">
							{{promo_code.discount_type == 'usd' ? '$' : '%'}}
						</span>
						<input type="text" ng-model="promo_code.value" 
								ng-blur="vm.updateRegistrationPromoCode(promo_code)">
						<p style="margin: 10px;">Effective Dates</p>
						<input placeholder="Starts At" style="width: 133px;" 
							   class="select-registration-effective-dates-input" 
							   ng-model="promo_code.starts_at_editable"
							   ng-blur="vm.updateRegistrationPromoCode(promo_code)"
							   moment-picker="promo_code.starts_at_editable"
							   format="M/D/YYYY"
							   start-view="day"
							   max-date="promo_code.ends_at_editable"
							   ng-readonly="true">
						<i class="fa fa-calendar input-icon-promo-pricing" aria-hidden="true"></i>
						<p>to</p>

						<input placeholder="Ends At" style="width: 133px;" 
							   class="select-registration-effective-dates-input" 		   
							   ng-model="promo_code.ends_at_editable"
							   ng-blur="vm.updateRegistrationPromoCode(promo_code)"
							   moment-picker="promo_code.ends_at_editable"
							   format="M/D/YYYY"
							   start-view="day"
							   min-date="promo_code.starts_at_editable"
							   ng-readonly="true">
						<i class="fa fa-calendar input-icon-promo-pricing" aria-hidden="true"></i>
						<div class="checkbox-ico cursor" ng-class="promo_code.single_use ? 'checked-box-true' : ''" 
							ng-click="vm.promoCodeToggle(promo_code)" 
							style="background-position-x: -1px; background-size: 20px; background-position-y: -2px;"></div>
						<span style="margin-right: 10px;">Single Use</span>
	                    <div class="default-icon-circle" ng-click="vm.deleteRegistrationPromoCode(promo_code.id)">
	                        <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
	                    </div>
					</div>
				</div>
			</div>
			
		</div>
		<hr>
		<div class="registration-level-options-content-three" style="padding-top: 20px;">
			<p>Attendee Guests</p>
			<div style="padding-top: 10px;">
			Number of complementary guests included
			<select style="padding-left: 10px; width:60px; padding:10px; margin-left:10px;"
					ng-model="vm.currentLevelItem.nr_attendee_guests"
					ng-change="vm.changeLevelGuestsNr(vm.currentLevelItem)">

                <option ng-value="0">0</option>
                <option ng-value="1">1</option>
                <option ng-value="2">2</option>
                <option ng-value="3">3</option>
                <option ng-value="4">4</option>
                <option ng-value="5">5</option>
                <option ng-value="6">6</option>
                <option ng-value="7">7</option>
                <option ng-value="8">8</option>
                <option ng-value="9">9</option>
                <option ng-value="10">10</option>
            </select>
			</div>
		</div>
		<hr>
		<div class="registration-level-options-content-four" style="margin-top: 47px;">
			<p>Upload Members</p>
			<p>Add or upload a list of members for this registration level.</p>
			<div ngf-drop="vm.uploadLevelMembers($files)" class="cursor" style="z-index:99999"
				 ngf-select="vm.uploadLevelMembers($files)"
				 ngf-max-size="10MB" ngf-min-height="50"
				 ngf-drag-over-class="'dragover'" ngf-multiple="false">
				<div class="cursor">CHOOSE A FILE...</div>
				<div>
				</div>
			</div>
		</div>
		<div class="registration-level-options-list-members">
			<div>
				<div>
					<input type="text" placeholder="Enter First Name" ng-model="vm.registrant_member_model[0].first_name">
					<input type="text" placeholder="Enter Last Name" ng-model="vm.registrant_member_model[0].last_name">
					<input type="text" placeholder="Enter Email Address" ng-model="vm.registrant_member_model[0].email">
					<div class="cursor" ng-click="vm.addRegistrationMember()" 
						ng-class="!vm.registrant_member_model[0].first_name && !vm.registrant_member_model[0].last_name 
						&& !vm.registrant_member_model[0].email ? 'opacity-on' : ''">
						ADD MEMBER
					</div>
				</div>
				<div>
					<div class="cursor" ng-class="vm.memebersSelectedBool ? 'remove-button-clickable' : 'unclickable'" ng-click="vm.removeRegistrationMembers();">REMOVE MEMBER</div>
				</div>
			</div>
			<div>
				<div class="cursor" ng-repeat="member in vm.currentLevelItem.registrationlevelmember_set" ng-click="vm.selectRegistrationMember(member)" 
					ng-class="member.selected ? 'remove-button-clickable' : ''">
					<div>
						<div class="checkbox-ico cursor" ng-class="member.selected ? 'checked-box-true' : ''" 
							style="background-position-x: -1px; background-size: 20px; background-position-y: -2px;"></div>
						<p>{{member.first_name + ' ' + member.last_name}}</p>
					</div>
					<p>{{ member.email }}</p>
				</div>
				
			</div>
		</div>
		<div class="create-registration-form-footer" style="margin-bottom: 40px;">
			<div ng-click="vm.selectedType = null">Cancel</div>
			<div style="margin-left: 58vw;" ng-if="!vm.registration_panel_edit" ng-click="vm.registrationNextStep('registration_levels_setup_panel', null, true)">Previous</div>
			<div ng-click="vm.registrationNextStep('legal_panel')" style="margin-left: 10px;" ng-class="vm.nextButtonBlocked ? 'grayed-out' : ''">NEXT</div>
		</div>
	</div>

</div>