<div class="legal-popup">
    <img class="cancel-button" src="/assets/images/popup-x-btn.png" ng-click="closeThisDialog();">
    <pre style="white-space: pre-wrap; height: 97%;">{{ngDialogData.legal.refund_policy}}</pre>
</div>
<style>
    .cancel-button{
        display: none;
    }
    @media only screen and (max-width: 375px){
        pre{
            margin-bottom: 0 !important;
            height: 100% !important;
            background-color: #fff;
        }
        .legal-popup{
            padding: 0 !important;
            background-color: #fff !important;
            height: auto !important;
            margin-top: 0 !important;
        }
        .cancel-button{
            display: block;
            text-align: center;
            position: absolute;
            top: 15px;
            right: 14px;
        }
    }
</style>