<div class="registration-levels-setup" ng-init="!vm.registration_panel_edit ? vm.stepTwoRegistrationLoadLevel() : ''">
	<p>Create multiple registration levels and then customize the details for each level below.</p>
	<div class="registration-levels-setup-header">
		<div style="width: 42px;"></div>
		<div ng-if="vm.registrationLevels.length > 0" class="registration-header-levels">
			<div ng-click="vm.registration_panel_edit == false ? vm.levelSelected(level) : vm.editThisRegistrationLevel(level, 'registration_levels_setup_panel')" ng-repeat="level in vm.registrationLevels" class="registration-header-level flex-row"
				style="justify-content: space-around;"
				ng-class="vm.currentLevel == level.id ? 'type-account-active' : 'registration-header-level-not-selected'">

				<p style="
						white-space: nowrap;
						width: 50%;
						min-width: 40px;
					    height: 22px;
					    overflow: hidden;
					    text-overflow: ellipsis;" ng-click="vm.editLevelNameInput(level)" ng-if="!level.editmode && level.name != ''">
					{{level.name}}</p>
				<input type="text" style="float:left; width: 80px; padding: 10px;" placeholder="Enter title..."
					ng-if="level.editmode || level.name === ''" autofocus
					ng-model="level.name" click-outside="vm.updateLevelTitle(level)">
				<div class="default-icon-circle" ng-click="vm.removeRegistrationLevel(level)" ng-if="vm.currentLevel == level.id">
	                <i class="fa fa-trash-o" aria-hidden="true" style="color: #9b9b9b; font-size: 17px;"></i>
	            </div>
			</div>
		</div>
		<div>
			<div ng-click="vm.addRegistrationLevel()">ADD</div>
			<span style="margin-left:20px;">
				<img src="assets/images/rolling.gif" ng-if="vm.addLevelLoader">
			</span>
		</div>
	</div>

	<div ng-class="(!vm.currentLevelItem) ? 'form-inactive': ''">
		<div class="description-level">
			<div>
				<p>{{vm.levelName}} Level Description</p>
				<textarea ng-model="vm.currentLevelItem.description" ng-blur='vm.updateLevel()'></textarea>
				<div class="recommended-level flex-column" style="margin-top:20px;">
					<div style="margin-bottom: 12px;">
						<div class="checkbox-ico" ng-class="vm.conference.registration_form.recommended_level == vm.currentLevelItem.id && vm.currentLevelItem? 'active':''" style="width:17px; margin-right:17px;"
							 ng-click="vm.setRecommendedRegistrationLevel(vm.currentLevelItem)">
						</div>
						<div class="medium">Set this as the recommended registration type</div>
					</div>
					<div class="flex-row" style="align-items: center" ng-if="vm.conference.registration_form.recommended_level == vm.currentLevelItem.id && vm.currentLevelItem">
						<div class="medium" style="float:left; padding-left: 36px; margin-right: 13px; width: inherit;">
							Recommandation Label (ex: Recommended, Best Value, Most Popular)
						</div>
						<input style="float:left; margin-bottom: 0;" type="text" placeholder="Enter Label..." ng-model="vm.conference.registration_form.recommandation_reason"
							   class="registration_level_benefit_item medium-bolder"
							   ng-blur='vm.updateRecommandationLabel()'>
					</div>
				</div>
			</div>

			<div>
				<p>List of Benefits</p>
				<div ng-if="!vm.currentLevelItem">
					<input style="float:left;" type="text" placeholder="Enter Benefit..." ng-model="benefit.name" class="registration_level_benefit_item"
					ng-blur='vm.updateBenefit(benefit)' my-enter="vm.enterBenefit(benefit);">
					<div style="float:left;">
						<i class="fa fa-minus-circle cursor"
							style="font-size: 24px; color: #9b9b9b; margin-top: 9px; margin-right: 14px;"
							aria-hidden="true" ng-click="vm.removeBenefit(benefit)"></i>
						<i class="fa fa-plus-circle cursor"
							style="font-size: 24px; color: #9b9b9b; margin-top: 9px;" aria-hidden="true"
							ng-click="benefit.name != '' ? vm.addNewBenefit(vm.benefit) : ''" ng-if="$last"></i>
						<img src="assets/images/rolling.gif" ng-if="benefit.loading">
					</div>
				</div>

				<div ng-repeat="benefit in vm.currentLevelItem.registrationlevelbenefit_set" class="level-benefit-list">
					<input style="float:left;" type="text" placeholder="Enter Benefit..." ng-model="benefit.name" class="registration_level_benefit_item"
					ng-blur='vm.updateBenefit(benefit)' my-enter="vm.enterBenefit(benefit);">
					<div style="float:left;">
						<i class="fa fa-minus-circle cursor"
							style="font-size: 24px; color: #9b9b9b; margin-top: 9px; margin-right: 14px;"
							aria-hidden="true" ng-click="vm.removeBenefit(benefit)"></i>
						<i class="fa fa-plus-circle cursor"
							style="font-size: 24px; color: #9b9b9b; margin-top: 9px;" aria-hidden="true"
							ng-click="benefit.name != '' ? vm.addNewBenefit(vm.benefit) : ''" ng-if="$last"></i>
						<img src="assets/images/rolling.gif" ng-if="benefit.loading">
					</div>
				</div>

				<input type="text" placeholder="Enter Benefit..." id="new-benefit-item"
					style="float:left"
					ng-model="vm.benefit.name" ng-blur="vm.addBenefit(vm.benefit)" ng-if="vm.currentLevelItem.hasNewBenefit || vm.currentLevelItem.registrationlevelbenefit_set.length == 0">
				<div style="float:left" ng-if="(vm.currentLevelItem.hasNewBenefit || vm.currentLevelItem.registrationlevelbenefit_set.length == 0)">
					<img src="assets/images/rolling.gif" ng-if="vm.benefit.loading">
					<i class="fa fa-plus-circle cursor"
						style="font-size: 24px; color: #9b9b9b; margin-top: 9px;" aria-hidden="true"
						ng-click="vm.addNewBenefit(vm.benefit)"></i>
				</div>
			</div>
		</div>
		<div ng-if="!vm.currentLevelItem" style="height:30px">
			&nbsp;
		</div>
		<div class="pricing-level" ng-if="vm.currentLevelItem">
			<p>{{vm.levelName}} Level Pricing</p>
			<div class="standard-price" ng-if="vm.standardStatus">

				<input
					class="level-pricing-name"
					type="text"
					placeholder="Price Name"
					style="margin-right: 10px;"
					ng-model="vm.standardPricing.name"
					ng-blur="vm.setStandardPrice(vm.standardPricing)">

				<span style="position: relative; left: 20px; top: 1px">$</span><input type="text" style="padding-left: 20px;"
				ng-model="vm.standardPricing.price"
				ng-change="vm.securePricing(vm.standardPricing)"
				placeholder="Value"
				ng-blur="vm.setStandardPrice(vm.standardPricing)">
				<i class="fa fa-plus-circle cursor"
					style="font-size: 24px; color: #9b9b9b; margin-left: 12px;" aria-hidden="true"
					ng-click="vm.addCustomPrice()" ng-if="!vm.currentLevelItem.hasCustomPrice"></i>
			</div>

			<div ng-repeat="pricing in vm.currentLevelItem.registrationlevelpricing_set">
				<div class="standard-price" ng-if="!pricing.starts_at && !pricing.ends_at">


					<input
						class="level-pricing-name"
						type="text"
						ng-model="pricing.name"
						ng-blur="vm.setStandardPrice(pricing)">

					<span style="position: relative; left: 20px; top: 1px;">$</span>
					<input type="text" style="padding-left: 20px;"
					 	ng-model="pricing.price"
					 	ng-change="vm.securePricing(pricing)"
					 	ng-blur="vm.setStandardPrice(pricing)">
					 <i class="fa fa-plus-circle cursor"
						style="font-size: 24px; color: #9b9b9b; margin-left: 12px;" aria-hidden="true"
						ng-click="vm.addCustomPrice()"
						ng-if="vm.currentLevelItem.registrationlevelpricing_set.length==1 && !vm.currentLevelItem.hasCustomPrice"></i>
				</div>
			</div>

			<div ng-repeat="pricing in vm.currentLevelItem.registrationlevelpricing_set"
				class="level-pricing-line">
				<div class="early-bird-price" ng-if="pricing.starts_at || pricing.ends_at">

					<input
						class="level-pricing-name"
						type="text"
						ng-model="pricing.name"
						ng-blur="vm.updatePricing(pricing)">

					<span style="position: relative; left: 20px; top: 0">$</span><input type="text" style="padding-left: 20px;" ng-model="pricing.price"
					ng-change="vm.securePricing(pricing)"
					ng-blur="vm.updatePricing(pricing)">
					<p>Effective Dates</p>

					<input ng-model="pricing.starts_at_editable" class="registration-input-date" ng-blur="vm.updatePricing(pricing);"
						   moment-picker="pricing.starts_at_editable"
						   format="M/D/YYYY"
						   start-view="day"
						   min-date="vm.findIndexOfThisDate(pricing.starts_at_editable, 'start', vm.sortedDatesForLevelPrices)"
						   max-date="pricing.ends_at_editable"
						   ng-readonly="true"
						   change="vm.updateChangesOnPricing(newValue, oldValue, pricing)">
					<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

					<p> to</p>
					<input
						   ng-model="pricing.ends_at_editable"
						   class="registration-input-date"
						   ng-blur="vm.updatePricing(pricing);"
						   moment-picker="pricing.ends_at_editable"
						   format="M/D/YYYY"
						   start-view="day"
						   min-date="pricing.starts_at_editable"
						   disable="pricing.starts_at_editable == true || !pricing.starts_at_editable"
						   max-date="vm.findIndexOfThisDate(pricing.ends_at_editable, 'end', vm.sortedDatesForLevelPrices)"
						   change="vm.updateChangesOnPricing(newValue, oldValue, pricing)"
						   ng-readonly="true">

					<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

					<span style="width:10px"></span>

					<i class="fa fa-minus-circle cursor"
						style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
						aria-hidden="true" ng-click="vm.removePricing(pricing.id)"></i>
					<i class="fa fa-plus-circle cursor"
						style="font-size: 24px; color: #9b9b9b;" aria-hidden="true"
						ng-click="vm.addCustomPrice()"
						ng-if="!vm.currentLevelItem.hasCustomPrice && vm.isLastCustomPrice(pricing)"></i>
				</div>
			</div>
			<div class="early-bird-price" id="new-model-price-for-level" ng-if="vm.currentLevelItem.hasCustomPrice">
				<input
					class="level-pricing-name"
					type="text"
					placeholder="Price Name"
					ng-model="vm.pricing.name"
					ng-blur="vm.setCustomPrice()">

				<span style="position: relative; left: 20px; top: 0">$</span><input type="text" style="padding-left: 20px;" ng-model="vm.pricing.price" placeholder="Value"
					ng-change="vm.securePricing(vm.pricing)"
					ng-blur="vm.setCustomPrice()">
				<p>Effective Dates</p>

				<input placeholder="Starts At"
					   ng-model="vm.pricing.starts_at_editable"
					   class="registration-input-date"
					   moment-picker="vm.pricing.starts_at_editable"
					   format="M/D/YYYY"
					   start-view="day"
					   validate="true"
					   ng-readonly="true"
					   max-date="vm.pricing.ends_at_editable" min-date="vm.currentDate"
					   selectable="vm.verifyIfDateIsAvailable(date, type, vm.pricing, vm.currentLevelItem.registrationlevelpricing_set, 'start')" ng-readonly="true"
					ng-blur="vm.setCustomPrice()">
				<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>
				<p>to</p>

				<input placeholder="Ends At"
					   ng-model="vm.pricing.ends_at_editable"
					   class="registration-input-date"
					   moment-picker="vm.pricing.ends_at_editable"
					   format="M/D/YYYY"
					   start-view="day"
					   min-date="vm.pricing.starts_at_editable"
					   disable="vm.pricing.starts_at_editable == true || !vm.pricing.starts_at_editable"
					   selectable="vm.verifyIfDateIsAvailable(date, type, vm.pricing, vm.currentLevelItem.registrationlevelpricing_set, 'end')"
					   ng-readonly="true"
					   ng-blur="vm.setCustomPrice();">
				<i class="fa fa-calendar input-icon-level-pricing" aria-hidden="true"></i>

				<span style="width:10px"></span>

				<i class="fa fa-minus-circle cursor"
						style="font-size: 24px; color: #9b9b9b; margin-right: 14px;"
						aria-hidden="true" ng-click="vm.removeCustomPrice()"></i>
			</div>
		</div>
		<div class="conference-session-form-holder continuing-education-session-edit"
				ng-if="vm.currentLevelItem">
            <p style="font-size: 16px;">{{vm.levelName}} Level Sessions</p>
			<p>Remove any sessions that should not be included in the {{vm.levelName}} Level:</p>
            <div class="sessions-for-this-level">
                <div style="overflow-y: auto;" ng-if="!vm.loadingRegistrationSessions">
                	<p ng-repeat="session in vm.allSessionsRegistration"
					ng-click="vm.registrationSessionSelected(session, 'delete')"
					ng-class="session.marked && !vm.noLevels? 'session-selected' : (vm.noLevels ? 'unlickable' : '')"
					ng-if="vm.canIncludeSession(session)">{{session.title}}</p>
                </div>
                <div style="overflow-y: auto" ng-if="vm.loadingRegistrationSessions">
                	<div class="loading-verification" style="width: 40px; margin: 0 auto;">
				        <img src="assets/images/rolling.gif" style="margin-top:120px">
				    </div>
                </div>
                <div>
					<div class="cursor" ng-class="vm.selectableRemove? '' : 'unclickable'" ng-click="vm.removeSessionsFromLevel()">
						<span>REMOVE</span>
						<span>
							<i class="fa fa-angle-right" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
						</span>
					</div>
                    <div class="cursor" ng-class="vm.selectableAdd ? '' : 'unclickable'" ng-click="vm.addSessionsToLevel()">
						<span>
							<i class="fa fa-angle-left" style="color: #4a4a4a; font-size: 20px;" aria-hidden="true"></i>
						</span>
						<span>ADD</span>
					</div>
                </div>
                <div style="overflow-y: auto;">
					<p ng-repeat="sessionOut in vm.currentLevelItem.registrationlevelsession_set"
						ng-click="vm.registrationSessionSelected(sessionOut.session, 'add')"
						ng-class="sessionOut.session.marked ? 'session-selected' : ''">{{sessionOut.session.title}}</p>
				</div>
            </div>
		</div>
	</div>
	<div class="create-registration-form-footer"
			style="width: 95.2%; margin-left: 40px; margin-bottom: 40px;">
		<div ng-click="vm.selectedType = null">Cancel</div>
		<div style="margin-left: 58vw;" ng-if="!vm.registration_panel_edit" ng-click="vm.registrationNextStep('attendee_fields_entry_panel')">Previous</div>
		<div ng-click="vm.registrationNextStep('registration_level_options_panel')" style="margin-left: 10px;" ng-class="vm.nextButtonBlocked ? 'grayed-out' : ''">NEXT</div>
	</div>
</div>
