<div class="registration-form-level-members">
	<div style="color: #4a4a4a;
    font-size: 18px;
    margin-bottom: 10px;">Member list</div>
    <div class="flex-row" ng-repeat="member in $parent.members">
        <p class="demi">{{member.first_name + ' ' + member.last_name}}</p>
        <p class="medium">{{member.email}}</p>
    </div>
</div>