<div class="registration-review" style="overflow-x: hidden;" ng-init="vm.stepTwoRegistrationLoadLevel()">
	<p ng-if="!vm.registrationFormComplete && !vm.registration_panel_edit">Review the details of your registration form: {{vm.registrationFormComplete}}</p>
	<p class="demi" style="font-size: 20px; margin-bottom: 0;" ng-if="vm.registrationFormComplete && !vm.registration_panel_edit">Registration Form Overview</p>
	<p class="medium" style="font-size: 16px; margin-top: 20px; margin-bottom: 24px;"
		ng-if="vm.registrationFormComplete && !vm.registration_panel_edit">
		Select the section that you wish to edit:
	</p>
	<div class="main-registration-review cursor" ng-click="vm.functionDropSubPanel('reg_form_fields', $event);">
		<i ng-click="vm.functionDropSubPanel('reg_form_fields', $event, null, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
		<p ng-click="vm.functionDropSubPanel('reg_form_fields', $event, null, 'child');">Attendee Fields</p>
		<div class="cursor" ng-click="$event.stopPropagation(); vm.registrationNextStep('attendee_fields_entry_panel'); vm.registration_panel_edit = true;">EDIT</div>
	</div>
	<div class="drop-down-registration-review attendee-fields-review" id="fields_review">
		<div ng-repeat="standard_field in vm.standardFields">
			<p>{{standard_field.label}}</p>
			<p>{{standard_field.type_code}}</p>
		</div>
		<div ng-repeat="customField in vm.savedCustomFields">
			<p>{{customField.name}}</p>
			<p>{{customField.regsitration_form_type_code}}</p>
		</div>
	</div>
	<div class="main-registration-review cursor" ng-click="vm.functionDropSubPanel('reg_form_legal', $event);">
		<i ng-click="vm.functionDropSubPanel('reg_form_legal', $event, null, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
		<p ng-click="vm.functionDropSubPanel('reg_form_legal', $event, null, 'child');">Legal</p>
		<div class="cursor" ng-click="vm.registrationNextStep('legal_panel'); $event.stopPropagation(); vm.registration_panel_edit = true;">EDIT</div>
	</div>
	<div class="drop-down-registration-review legal-review" id="legal_review">
		<div>
			<p>Terms and Conditions</p>
			<div ng-if="vm.conference.registration_form.terms_of_service || vm.termsAndConditionsText">
				<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 16px; position: relative; bottom: 1px;"></i>
				<p>Completed</p>
				<p class="cursor" ng-click="vm.openTermsAndContitionsPopup()">View</p>
			</div>
		</div>
		<div>
			<p>Refund Policy</p>
			<div ng-if="vm.conference.registration_form.refund_policy || vm.refundPolicyText">
				<i class="fa fa-check" aria-hidden="true" style="color: #4a4a4a; font-size: 16px; position: relative; bottom: 1px;"></i>
				<p>Completed</p>
				<p class="cursor" ng-click="vm.openRefundPolicyPopup()">View</p>
			</div>
		</div>
		<div ng-hide="true" >
			<p>Uploaded Legal Agreements</p>
			<div ng-repeat="legal_agreement in vm.conference.registration_form.registrationformdocument_set" style="margin-bottom: 12px;">
				<i class="fa fa-file-o" aria-hidden="true" style="margin-right: 10px; font-size: 16px; color: #4a4a4a;"></i>
				<p class="italic">{{legal_agreement.file_name}}</p>
			</div>
		</div>
	</div>
	<div ng-if="vm.registrationLevels.length <= 0">
		<div class="main-registration-review cursor" ng-click="$event.stopPropagation(); vm.editThisRegistrationLevel(null, 'registration_levels_setup_panel')">
			<i ng-click="vm.functionDropSubPanel('reg_form_level', $event, $index, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
			<p>
			Add a level
		</div>
	</div>
	<div ng-repeat="level in vm.registrationLevels track by $index">
		<div class="main-registration-review cursor" ng-click="vm.functionDropSubPanel('reg_form_level', $event, $index);">
			<i ng-click="vm.functionDropSubPanel('reg_form_level', $event, $index, 'child');" class="fa fa-caret-right" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
			<p ng-click="vm.functionDropSubPanel('reg_form_level', $event, $index, 'child');">{{level.name}}</p>
		</div>
		<div class="drop-down-registration-review-level" id="{{'level' + $index}}">
			<div class="drop-down-registration-review-level-details-header cursor" ng-click="vm.functionDropSubPanel('level_detail', $event, $index);">
				<i ng-click="vm.functionDropSubPanel('level_detail', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p ng-click="vm.functionDropSubPanel('level_detail', $event, $index, 'child');">Overview</p>
				<div class="cursor" ng-click="$event.stopPropagation(); vm.editThisRegistrationLevel(level, 'registration_levels_setup_panel')">EDIT</div>
			</div>
			<div class="drop-down-registration-review-level-details" id="{{'level_detail' + $index}}">
				<div>
					<p>Description</p>
					<p>{{level.description}}</p>
				</div>
				<div style="justify-content: flex-start;">
					<div>
						<p>Benefits List</p>
						<div ng-repeat="benefit in level.registrationlevelbenefit_set" style='margin-left: 17px;'>
							<p class="benefit-bullet">{{benefit.name}}</p>
						</div>
					</div>
					<div>
						<p>Pricing</p>
						<div ng-repeat="price in level.registrationlevelpricing_set" ng-if="price.starts_at == null">
							<p style="width: 120px;">{{price.name + ':'}}</p>
							<p>{{price.price | currency : '$'}}</p>
						</div>
						<div ng-repeat="price in level.registrationlevelpricing_set" ng-if="price.starts_at != null">
							<p style="width: 120px;">{{price.name + ':'}}</p>
							<p style="margin-right: 5px;">{{price.price | currency : '$'}}</p>
							<p>from {{price.starts_at | moment : 'M/D/YYYY':vm.conference.time_zone}} - {{price.ends_at | moment : 'M/D/YYYY':vm.conference.time_zone}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="drop-down-registration-review-level-details-header cursor" ng-click="vm.functionDropSubPanel('level_sessions', $event, $index);">
				<i ng-click="vm.functionDropSubPanel('level_sessions', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p ng-click="vm.functionDropSubPanel('level_sessions', $event, $index, 'child');">Sessions</p>
				<div class="cursor" ng-click="$event.stopPropagation(); vm.editThisRegistrationLevel(level, 'registration_levels_setup_panel')">EDIT</div>
			</div>
			<div class="drop-down-registration-review-level-details no-drop" id="{{'level_sessions' + $index}}">
				<p ng-repeat="pre_session in vm.allSessionsRegistration" ng-if="vm.canIncludeSessionPerLevel(pre_session, level)">
					{{pre_session.title}}
				</p>
			</div>
			<div class="drop-down-registration-review-level-details-header cursor" ng-click="vm.functionDropSubPanel('level_add_details', $event, $index);">
				<i ng-click="vm.functionDropSubPanel('level_add_details', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p ng-click="vm.functionDropSubPanel('level_add_details', $event, $index, 'child');">Additional Details</p>
				<div class="cursor" ng-click="$event.stopPropagation(); vm.editThisRegistrationLevel(level, 'registration_level_options_panel')">EDIT</div>
			</div>
			<div class="drop-down-registration-review-level-details" id="{{'level_add_details' + $index}}">
				<div style="margin-left: 0">
					<p>Add-On Sessions</p>
					<div ng-repeat="add_on in level.registrationleveladdonsession_set" style="margin-bottom: 12px">
						<p>{{add_on.session.title}}</p>
					</div>
				</div>
				<div style="justify-content: flex-start;">
					<div>
						<p>Continuing education</p>
						<p>{{level.include_continuing_education ? 'Yes' : 'No'}}</p>
					</div>
					<div>
						<p>Session Pre-registration</p>
						<p>{{level.include_pre_registration ? 'Yes' : 'No'}}</p>
					</div>
				</div>
				<div>
					<p>Promo Codes</p>
					<div ng-repeat="promo_code in level.registrationlevelpromocode_set">
						<p>{{promo_code.code}}</p>
						<p>{{'(' + (promo_code.discount_type == 'usd' ? '-$' : '-%') + promo_code.value + ' from '}}
							{{promo_code.starts_at | moment : 'M/D/YYYY':vm.conference.time_zone}}{{' - '}}
							{{promo_code.ends_at | moment : 'M/D/YYYY':vm.conference.time_zone}}{{')'}}</p>
					</div>
				</div>
			</div>
			<div class="drop-down-registration-review-level-details-header drop-down-registration-review-level-emails-list cursor" ng-click="vm.functionDropSubPanel('level_members', $event, $index);">
				<i ng-click="vm.functionDropSubPanel('level_members', $event, $index, 'child');" class="fa fa-caret-down" aria-hidden="true" style="color: #59bbe7; font-size: 20px;"></i>
				<p ng-click="vm.functionDropSubPanel('level_members', $event, $index, 'child');">Email Verification</p>
				<div class="cursor" ng-click="$event.stopPropagation(); vm.editThisRegistrationLevel(level, 'registration_level_options_panel')">EDIT</div>
			</div>
			<div class="drop-down-registration-review-level-details drop-down-registration-review-level-emails-list-tab" id="{{'level_members' + $index}}">
				<p>{{level.registrationlevelmember_set.length + ' members added.'}}</p> <p class="cursor" ng-click="vm.openViewMembersPopup(level)"
					ng-if="level.registrationlevelmember_set.length > 0">View all
				</p>
			</div>
		</div>
	</div>
	<div class="create-registration-form-footer" ng-hide="vm.registrationFormComplete">
		<div class="cursor" ng-click="vm.selectedType = null">Cancel</div>
		<div class="cursor" style="margin-left: 47vw;" ng-click="vm.registrationNextStep('legal_panel')">Previous</div>
		<div class="cursor" id="registration-preview-button" ng-click="vm.previewRegistrationForm()">Preview</div>
		<div style="margin-left: 10px;" ng-click="vm.completeRegistrationForm()" class="cursor">CREATE FORM</div>
	</div>
</div>
