<div class="options-menu-holder badge-editor-review-toolbar">
    <div class="cancel-button" ng-click="goToManageTemplates()"> CANCEL </div>
    <div class="badge-review-actions-wrapper" ng-class="{'badge-review-actions-wrapper-visible' : showComponentsMenu}">
        <action-bar-switch ng-if="showBadgeSidesSwitch"></action-bar-switch>
        <div class="action-bar-button-container">
            <action-bar-button icon="fa-print" name="Test print" event="{{ TEST_PRINT }}"></action-bar-button>
        </div>
        <zoom-button></zoom-button>
    </div>
    <div class="add-to-cart-button" ng-click="saveBadgeRenderedTemplates()"> SAVE </div>
</div>
