.badge-editor-review-toolbar .action-bar-button, .badge-editor-review-toolbar .zoom-button-wrapper .zoom-value {
  font-size: 11px;
  margin-right: 0;
}

.badge-editor-review-toolbar {
  line-height: 71px;
}

.badge-editor-review-toolbar .cancel-button, .badge-editor-review-toolbar .add-to-cart-button {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  border-radius: 20px;
  line-height: 30px;
  font-size: 12px;
  font-family: $font-family-demi;
  text-align: center;
  color: #4a4a4a;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.badge-editor-review-toolbar .add-to-cart-button {
  color: #fff;
  background-color: #00ade4;
  border-style: none;
}

.badge-editor-review-toolbar .badge-review-actions-wrapper {
  width: calc(100% - 14% - 282px);
  line-height: normal;
  font-size: 0;
  display: inline-block;
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-71px);
}

.badge-review-actions-wrapper .action-bar-button-container {
  display: inline-block;
  width: calc(100% - 230px);
  text-align: center;
}

.action-bar-button-container .action-bar-button .content-wrapper .name {
  font-size: 14px;
}

.action-bar-button-container .action-bar-button .content-wrapper .fa{
  font-size: 24px;
}

.badge-editor-review-toolbar .badge-review-actions-wrapper.badge-review-actions-wrapper-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1), visibility 0.2s cubic-bezier(0.4, 0, 0.6, 1), transform 0.2s cubic-bezier(0.4, 0, 0.6, 1)
}
