<div class="attendee-fields-wrapper">
	<div class="half action payments">
		<div class="title">Payments</div>
		<div class="description">Select the payment option for your Exhibitors' lead generation services:</div>
		<div class="payment" ng-class="{'active': currentActivePaymentType === 'standard'}" ng-click="checkStandardPayment()">
			<div class="title">Paid by the Exhibitor - Standard</div>
			<div class="description">Each exhibitor directly pays their ${{conference.initial_fee}} fee.</div>
		</div>
		<div class="payment" ng-class="{'active': currentActivePaymentType === 'advanced'}">
			<div class="title">Paid by the Exhibitor - Advanced</div>
			<div class="description">Mark up the cost and receive the difference above the ${{conference.initial_fee}} fee. (Merchant Agreement required)</div>
			<div class="markup-cost-wrapper">
				<span>Exhibitor fee: ${{conference.initial_fee}}</span>
				<span>+</span>
				<span>Your mark up cost</span>
				<input type="number" min="1" placeholder="$0.00" ng-model="markUpCost"></input>
				<div class="button" ng-click="checkAdvancedPayment(markUpCost)">continue</div>
			</div>
		</div>
		<div class="payment" ng-class="{'active': currentActivePaymentType === 'conference'}" ng-click="checkConferencePayment()">
			<div class="title">Paid by the Event Host</div>
			<div class="description">Cover the cost of your exhibitors. As each signs up, your credit card will be charged ${{conference.initial_fee}}.</div>
			<div class="description">You have <span style="font-family: 'AvenirNextLTPro-Demi'">{{conference.conference_charges.count || 'no'}}</span> Exhibitor Sign-ups.</div>
			<div class="description">Total amount charged your credit card(s): <span style="font-family: 'AvenirNextLTPro-Demi'">${{conference.conference_charges.amount/100}}</span></div>
			<div class="description credit-card" ng-click="openCreditCardModal($event)">Change credit card number ************{{conference.conference_charges.last4}}</div>
		</div>
		<div class="title">Additional Options</div>
		<div class="add-action-wrapper">
			<div class="field-configuration-wrapper">
				<div class="title">Purchase Promo Codes</div>
				<div class="description">Provide your exhibitors with promo codes that they can use.</div>
				<div class="promo-codes-order-wrapper">
					<span>Quantity of codes</span>
					<input type="number" min="1" ng-model="numberOfPromoCodes"></input>
					<span>Cost per code</span>
					<input type="number" min="1" placeholder="$0.00" ng-model="costPerCode"></input>
					<div class="button" ng-click="openCreditCardModalForPromoCodes($event)">continue</div>
				</div>
				<div class="purchased-codes-info promo-codes-order-wrapper">
					<div ng-if="currentNumberOfPromoCodesGenerated>0">
					You've purchased <span>{{currentNumberOfPromoCodesGenerated}}</span> Exhibitor Promo Codes. <span>{{numberOfRedeemedCodes || "None"}} </span> have been redeemed.
					<div class="description" ng-click="openPromoCodesModal($event)">View Promo Codes Status</div>
				</div>
					<div ng-if="!currentNumberOfPromoCodesGenerated">
					You haven't purchased any Exhibitor Promo Codes.
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
