.attendee-fields-wrapper .half.action.payments {
	width: 100%;
	border: none;
	height: calc(100vh - 75px);
	padding-bottom: 20px;
}
.attendee-fields-wrapper .half.action.payments .description {
	margin-bottom: 20px;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper {
	width: 85%;
	padding-bottom: 16px;
}

.attendee-fields-wrapper .half.action.payments .payment {
	width: 85%;
	padding: 30px;
	border: 1px solid #4a4a4a;
	background-color: white;
	margin-bottom: 15px;
	box-sizing: border-box;

	transition: transform .2s ease, background-color .2s ease;
	cursor: pointer;
}

.attendee-fields-wrapper .half.action.payments .payment.active {
	border: 3px groove #26a7de;
	background-color: #fafafa;
}

.attendee-fields-wrapper .half.action.payments .payment:hover {
	background-color: #fafafa;
	transform: scale(1.1);
}

.attendee-fields-wrapper .half.action.payments .payment .title {
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 18px;
	color: #4a4a4a;
}

.attendee-fields-wrapper .half.action.payments .payment .description {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	margin-top: 10px;
	margin-bottom: 0px;
}

.attendee-fields-wrapper .half.action.payments .payment .description.credit-card {
	color: #27a7de;
	cursor: pointer;
	padding-bottom: 3px;
	border-bottom: 1px solid transparent;
	display: inline-block;
	width: auto;

	transition: border-bottom .2s ease;
}

.attendee-fields-wrapper .half.action.payments .payment .description.credit-card:hover {
	border-bottom: 1px solid #27a7de;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .title {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper {
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper span {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper input {
	height: 40px;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #cdcdcd;
	background-color: white;
	box-sizing: border-box;
	display: inline-block;
	width: 80px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper .button {
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper .button {
	float: right;
}

.attendee-fields-wrapper .half.action.payments .payment .markup-cost-wrapper {
	margin-top: 24px;
}
.attendee-fields-wrapper .half.action.payments .payment .markup-cost-wrapper span {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
}

.attendee-fields-wrapper .half.action.payments .payment .markup-cost-wrapper input {
	width: 80px;
	height: 40px;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #cdcdcd;
	background-color: white;
	box-sizing: border-box;

	display: inline-block;
	vertical-align: middle;
}

.attendee-fields-wrapper .half.action.payments .payment .markup-cost-wrapper .button {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	border: 1px solid #cdcdcd;
	background-color: white;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	padding-left: 48px;
	padding-right: 48px;
	line-height: 40px;
	border-radius: 20px;
	margin-left: 20px;
	box-sizing: border-box;
	text-transform: capitalize;

	transition: background-color .2s ease, color .2s ease;
}

.attendee-fields-wrapper .half.action.payments .payment .markup-cost-wrapper .button:hover {
	background-color: #4a4a4a;
	color: white;
}

.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper.purchased-codes-info {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	padding-top: 10px;
	border-top: 1px solid #cdcdcd;
	margin-top: 20px;
}
.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper.purchased-codes-info span {
	margin-right: 0;
}
.attendee-fields-wrapper .half.action.payments .add-action-wrapper .promo-codes-order-wrapper.purchased-codes-info .description {
	color: #27a7de;
	margin-top: 10px;
	cursor: pointer;
}
