<div class="fields-wrapper image">
	<div class="add-custom-component-button" ng-click="notifyBadgeToAddCode()">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
		<div class="text">QR Code</div>
	</div>
	<div>
		<img style="width: 80%; height: 100%; margin-top: 24px;" src='https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fwww.expopass.com%2F&size=220x220&margin=0' rel='nofollow' alt='qr code'><a href='http://www.expopass.com' border='0' style='cursor:default; max-width: 100%'  rel='nofollow'></a>
	</div>
</div>
