<div class="process-list-container" ng-class="{'has-one-processes' : processes.length == 1, 'has-two-processes' : processes.length == 2, 'full-length': $root.isSuperAdmin}">
	<div class="process" ng-repeat="process in processes" ng-class="{'success': process.status === 'success', 'pending': process.status === 'pending','invisible': process.status === 'archived'}">
		<i class="fa fa-refresh" aria-hidden="true" ng-if="process.status === 'pending'"></i>
		<span>{{process.header}}</span>
		<span class="action-button" ng-if="process.result_type === 'download_file' && process.status !== 'pending'" ng-click="userActionResult(process)">DOWNLOAD</span>
		<span class="action-button" ng-if="process.result_type === 'redirect_to'" title="{{process.modal}}" ng-click="userActionResult(process)">GO</span>
		<i class="fa fa-times" ng-click="archiveProcess(process)" ng-if="process.status === 'success'"></i>
	</div>
</div>
