.process-list-container {
	width: calc(100vw - 200px);
	overflow-y: scroll;
	max-height: 180px;
	text-align: center;
	font-family: 'AvenirNextLTPro-Demi';
}

.process-list-container.full-length {
	width: 100%;
}

.process-list-container.has-one-processes {
	max-height:60px;
}

.process-list-container.has-two-processes {
	max-height:120px;
}

.process-list-container .process {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	line-height: 60px;
	font-size: 16px;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease, height .2s ease;
	transform: scaleY(1);
	opacity: 1;
	visibility: visible;
	position: relative;
}

.process-list-container .process.invisible {
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	height: 0;
}

.process-list-container .process.success {
	background-color: #F68C1C;
	color: white;
}

.process-list-container .process.pending {
	background-color: #8AD0EE;
	color: #4A4A4A;
}

.process-list-container .process span {
	display: inline-block;
	vertical-align: middle;
}
.process-list-container .process .action-button {
	font-size: 12px;
	height: 30px;
	line-height: 32px;
	border-radius: 20px;
	background-color: white;
	color: #4A4A4A;
	padding-left: 12px;
	padding-right: 12px;
	display: inline-block;
	border: 1px solid white;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
	margin-left: 10px;
}

.process-list-container .process .action-button:hover {
	background-color: transparent;
	color: white;
}

.process-list-container .process .fa {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	opacity: 0.8;

	transition: opacity .2s ease;
	cursor: pointer;
}

.process-list-container .process .fa:hover {
	opacity: 1;
}
