.search-input-wrapper {
	width: 337px;
	display: inline-block;
	vertical-align: middle;
	line-height: 66px;
	margin-right: 10px;

	position: relative;
}

.generic-data-search-input-box {
	width: 100%;
	height: 40px;
	border: 1px solid #cdcdcd;
	padding-left: 10px;
	font-family: 'AvenirNextLTPro-Regular';
	line-height: 40px;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 14px;

	display: inline-block;
	vertical-align: middle;
}

.generic-data-search-input-box::-webkit-input-placeholder {
	color: #9B9B9B;
}

.generic-data-search-input-box:focus {
	background-color: #F0F9FF;
}

.generic-data-search-input-box.active {
	border: 1px solid #26A7DE;
}
.search-input-wrapper .suggestion-box {
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	overflow: hidden;
	background-color: white;

	position: absolute;
	top: calc(100% - 8px);

	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;

	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;

	max-height: 176px;
	overflow-y: scroll;

	z-index: 2;
}

.search-input-wrapper .suggestion-box.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
	z-index: 5;
}

.search-input-wrapper .suggestion-box .suggestion-item {
	height: 44px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 14px;
	line-height: 46px;
	font-family: 'AvenirNextLTPro-Regular';
	cursor: pointer;
	background-color: white;
	transition: background-color .2s ease, color .2s ease;
}

.search-input-wrapper .suggestion-box .suggestion-item:last-child {
	border-bottom: none;
}

.search-input-wrapper .suggestion-box .suggestion-item:hover {
	background-color: #4a4a4a;
	color: white;
}

.search-input-wrapper .close {
	position: absolute;
  right: 10px;
  top: 50%;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  cursor: pointer;
  text-align: center;
  transform: translateY(-50%);
	transition: opacity .2s ease;
}

.search-input-wrapper .close:hover {
  opacity: 1;
}
.search-input-wrapper .close:before {
	content: '';
	position: absolute;
  right: 8px;
  top: 50%;
  width: 2px;
  height: 18px;
  cursor: pointer;
  text-align: center;
  transform: translateY(-50%) rotate(45deg);
	background-color: #4a4a4a;
}

.search-input-wrapper .close:after {
	content: '';
	position: absolute;
  right: 8px;
  top: 50%;
  width: 2px;
  height: 18px;
  cursor: pointer;
  text-align: center;
  transform: translateY(-50%) rotate(-45deg);
	background-color: #4a4a4a;
}
