<div class="search-input-wrapper">
	<input class="generic-data-search-input-box" ng-class="{'active': hasDoneSearch}" placeholder="{{configuration.placeholder}}" ng-bind-html="configuration.placeholder" ng-model="model.query" ng-change="handleChange(model.query)" ng-model-options='{ debounce: 300 }' ng-keypress="overWriteSearchOnEnter($event)"></input>
	<div class="close" ng-if="model.query != '' || hasDoneSearch" ng-click="resetSearchQuery()"></div>
	<div class="suggestion-box" ng-if="configuration.has_suggestions" ng-class="{'visible': suggestions.length > 0}">
		<div class="suggestion-item" ng-repeat="suggestion in suggestions" ng-bind-html="suggestion.label" ng-click="overwriteSearchQuery(suggestion)"></div>
	</div>
</div>
