.custom-field-drop-down{
  position: absolute;
  top: 54px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 18px;
  z-index: 9999;
  flex-wrap: wrap;
  & .custom-field-drop-down-option{
    width: 50%;
    height: 20px;
    margin-bottom: 33px;
    color: #4a4a4a;
    font-size: 12px;
    @include open-sans-semibold;
  }
}