<div class="custom-field-drop-down" ng-show="showCustomFieldDropDown" click-outside="showCustomFieldDropDown = false;">
    <div class="custom-field-drop-down-option" ng-repeat="option in customField.custom_field.customattendeefieldoption_set">
        <div style="background-position: -2px -3px;"class="checkbox-ico" ng-class="option.checked ? 'active' : ''" ng-click="chooseOption(option); $event.stopPropagation();"></div>
        <p class="option-name" ng-click="chooseOption(option); $event.stopPropagation();">{{option.value}}</p>
    </div>
</div>