<div class="template-wrapper">
    <div class="template-slider-button" ng-click="prevSlide()" ng-class="{visible: showPrevButton, 'not-visible': coverScreenOptions.removeSlider}">
        <p></p>
    </div>
    <div class="mobile-template-holder">
        <div class="top-bar">
            <div class="toolbar">
                <div class="network">
                    <div class="signal-dot"></div>
                    <div class="signal-dot"></div>
                    <div class="signal-dot"></div>
                    <div class="signal-dot"></div>
                    <div class="signal-dot"></div>
                    <div class="network-name">BELL</div>
                </div>
                <div class="hour">{{currentTime}}</div>
                <div class="battery" ng-class="{'warning' : percentage < 20, 'error': percentage < 10}">
                    <div class="percentage">{{percentage}}%</div>
                </div>
            </div>
            <div class="title-wrapper">
                <div class="burger-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="mobile-page-title">upcoming events</div>
            </div>
        </div>
        <div class="main-view-holder">
            <div class="overlay-holder" ng-if="displayOverlay" ng-class="{'light': overlayMode, 'dark': !overlayMode}">
            </div>
            <img class="overlay-holder-logo" ng-if="displayOverlay" ng-src="{{coverScreenOptions.temporaryLogoUrl || '/assets/images/conference-default-logo.png'}}">
            <div class="conference-data-holder" ng-class="{'light': textColor, 'dark': !textColor}">
                <div class="title">{{ currentConference.name }}</div>
                <div class="dates">{{ conferenceDates }}</div>
                <div class="enter-button">enter</div>
            </div>
            <div class="slider-track" style="width: {{ sliderWidth }}%; transform: translateX({{ translateValue }}px)" ng-if="!coverScreenOptions.removeSlider">
                <div class="slide" ng-repeat="slide in backgroundImages" style="background-image: url({{slide.background_url}})">
                </div>
            </div>
            <div class="slider-track" style="width: 100%; transform: translateX(0px)" ng-if="coverScreenOptions.removeSlider">
                <div class="slide" style="background-image: url({{coverScreenOptions.temporaryBackgroundUrl}})"></div>
            </div>
        </div>
    </div>
    <div class="template-slider-button next" ng-click="nextSlide()" ng-class="{visible: showNextButton, 'not-visible': coverScreenOptions.removeSlider || backgroundImages.length <= 1
     || currentIndex == backgroundImages.length}">
        <p></p>
    </div>
    <div class="option-counter" ng-if="!coverScreenOptions.removeSlider">Image option : {{ currentIndex }} of {{ numberOfImages }}</div>
</div>
