<div data-id="{{props.id}}" data-x="{{props.xAxis}}" data-y="{{props.yAxis}}" class="draggable code-component {{props.partOf}}" ng-click="openContextualMenu($event)" click-outside="makeComponentInactive(props)" outside-if-not="layers-menu-wrapper, md-color-picker-dialog"
 	style="min-width: 48px; min-height: 48px; width: {{props.width}}px; height: {{props.width}}px; position: absolute; top: {{props.yAxis}}px; left: {{props.xAxis}}px; -webkit-transform: rotate({{props.rotateAngle}}rad) !important; z-index: {{props.zIndex}}" ng-class="{'active': componentSelected}">
	<div class="anchor-points-wrapper" style="min-width: 48px; min-height: 48px; width: 100%; height: 100%;">
    <div class="anchor-point left"></div>
    <div class="anchor-point left top">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point left bottom">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point center"></div>
    <div class="anchor-point center bottom"></div>
    <div class="anchor-point right"></div>
    <div class="anchor-point right top">
      <div class="rotation-point"></div>
    </div>
    <div class="anchor-point right bottom">
      <div class="rotation-point"></div>
    </div>
	</div>
	<img style="width: 100%; height: 100%; min-width: 46px; min-height: 46px" src='https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fwww.expopass.com%2F&size=220x220&margin=0' rel='nofollow' alt='qr code'>
</div>
