.exhibitor-toolkit-lead-retrieval-wrapper {
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
}

.exhibitor-toolkit-lead-retrieval-wrapper .title {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 20px;
	color: #4a4a4a;
}

.exhibitor-toolkit-lead-retrieval-wrapper .description {
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	font-size: 14px;
	width: 50%;
	margin-top: 20px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper {
	padding: 20px;
	background-color: #edf0f2;
	width: 70%;
	margin-top: 20px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper.inactive {
	opacity: .6;
  pointer-events: none;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .content {
	width: calc(100% - 172px);
	display: inline-block;
	vertical-align: middle;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .content .message {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .select-button {
	width: 168px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	color: #4a4a4a;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: white;
	text-align: center;
	line-height: 40px;
	transition: background-color .2s ease, color .2s ease;
	position: relative;
	cursor: pointer;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .select-button .fa {
	font-size: 14px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%) scale(0);
	color: white;

	transition: transform .2s ease;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .select-button.selected {
	background-color: #727272;
	color: white;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-type-information-wrapper .select-button.selected .fa {
	transform: translateY(-50%) scale(1);
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder {
	width: 70%;
	padding: 20px;
	border: 1px solid #cdcdcd;
	margin-top: 20px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .title {
	font-size: 18px;
	font-family: 'AvenirNextLTPro-Demi';
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .description {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}


.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .users-action-text {
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	color: #4a4a4a;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder input {
	height: 40px;
	width: 60px;
	padding: 10px;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	color: #4a4a4a;
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	line-height: 40px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .users-action-wrapper {
	width: calc(100% - 172px);
	display: inline-block;
	vertical-align: middle;
}
.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .select-button {
	width: 168px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: 'AvenirNextLTPro-Regular';
  color: #4a4a4a;
  border: 1px solid #cdcdcd;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
	position: relative;
	background-color: white;
	transition: background-color .2s ease, color .2s ease;
	cursor: pointer;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .select-button .fa {
	font-size: 14px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%) scale(0);
	color: white;
	transition: transform .2s ease;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .select-button.selected {
	background-color: #727272;
	color: white;
}

.exhibitor-toolkit-lead-retrieval-wrapper .payment-users-holder .select-button.selected .fa {
	transform: translateY(-50%) scale(1);
}

.exhibitor-toolkit-lead-retrieval-wrapper .next-button {
	width: 168px;
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #68aa3b;
	font-family: 'AvenirNextLTPro-Demi';
	line-height: 40px;
	opacity: 0.6;
	pointer-events: none;
	transition: opacity .2s ease;
	cursor: pointer;
	margin-top: 20px;
	border: none;
	float: none;
	margin-left: calc(70% - 148px);
}

.exhibitor-toolkit-lead-retrieval-wrapper .next-button.active {
	opacity: 1;
	pointer-events: all;
	background-color: #68aa3b;
}

.exhibitor-toolkit-lead-retrieval-wrapper .download-cta {
	width: 70%;
	padding: 20px;
	border: 1px solid #cdcdcd;
	margin-top: 40px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .download-cta .title {
	font-size: 18px;
	font-family: 'AvenirNextLTPro-Demi';
}

.exhibitor-toolkit-lead-retrieval-wrapper .download-cta .description {
	width: 100%;
	margin-bottom: 40px;
}

.exhibitor-toolkit-lead-retrieval-wrapper .download-cta .action-message {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	margin-bottom: 20px;
}
