<div class="exhibitor-toolkit-wrapper">
	<div class="exhibitor-toolkit-lead-retrieval-wrapper" ng-if="shouldShowLeadRetrievalPage">
		<div class="title">Lead Retrieval</div>
		<div class="description">Purchasing this will allow your team to acquire new leads by scanning their badges directly from the Expo Pass mobile app. Five users are included in this package - more may be purchased for $50.00 per additional user.</div>
		<div class="payment-type-information-wrapper" ng-class="{'inactive' : hasInitialPayment}">
			<div class="content" ng-if="!hasFiveFreeScans">
				<div class="message" ng-if="!hasInitialPayment">Purchase Lead Retrieval for ${{initialFee + markupFee}}.00</div>
				<div class="message" ng-if="hasInitialPayment">Already Purchased Lead Retrieval for ${{initialFee + markupFee}}.00</div>
			</div>
			<div class="content" ng-if="hasFiveFreeScans">
				<div class="message">Lead Retrieval Enabled</div>
			</div>
			<div class="select-button" ng-if="!hasFiveFreeScans" ng-click="toggleSelectionForLeadRetrieval(leadRetrievalSelected)" ng-class="{'selected': leadRetrievalSelected || hasInitialPayment}"><i class="fa fa-check" aria-hidden="true"></i>{{leadRetrievalSelected ? "Selected" : "Select"}}</div>
		</div>
		<div class="payment-users-holder">
			<div class="title">Purchase Additional App Users</div>
			<div class="description">Add additional team members who can access your company’s exhibitor account via the Expo Pass mobile app.</div>
			<div class="users-action-wrapper">
				<span class="users-action-text">Add</span>
				<input type="number" min="1" ng-model="numberOfUsersToPurchase"></input>
				<span class="users-action-text">more users (${{exhibitorUserFee}}.00 per user) </span>
			</div>
			<div class="select-button" ng-click="toggleSelectionForUsersPurchase(usersPurchaseSelected)" ng-class="{'selected': usersPurchaseSelected}"><i class="fa fa-check" aria-hidden="true"></i>{{usersPurchaseSelected ? "Selected" : "Select"}}</div>
		</div>
		<div class="next-button" ng-class="{'active': usersPurchaseSelected || leadRetrievalSelected}" ng-click="openCardPopupForBuyingUpgrades(numberOfUsersToPurchase)">Next</div>
		<div class="download-cta" ng-if="hasInitialPayment || (paymentStatus == 'card_stored')">
			<div class="title">Start Scanning Leads</div>
			<div class="description">The Expo Pass smartphone app is your scanning device. Download the app from the Google Play or Apple App Store.</div>
			<div class="action-message">Search the App Store for "Expo Pass".</div>
			<div class="badges-container">
				<a href='https://play.google.com/store/apps/details?id=io.expopass.expo&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target='_blank'>
						<img alt='Get it on Google Play' src='/assets/images/google_play.png'>
				</a>
				<a href="https://itunes.apple.com/us/app/expo-pass/id921625648?mt=8&at=10l6Xd&ct=j4tsmhj0rq00xkod01g9a" target='_blank'>
					<img alt='Available on the App Store' src='/assets/images/app_store.png' height="50px">
				</a>
			</div>
		</div>
	</div>
</div>
