<div class="exhibitor-regular-profile">
    <div>
        <table style="margin-left: 50px;">
            <tr class="info-attendee-tabel">
                <td class="label" style="width: 165px; height: 40px; font-weight: 500;">Exhibitor Admin</td>
                <td class="info-label medium" style="display: flex; align-items: flex-end;">
                    <useravatar style="position: relative; top: 8px;"
                                image="$parent.exhibitor.admin.profile_image"
                                firstname="$parent.exhibitor.admin.first_name"
                                lastname="$parent.exhibitor.admin.last_name">
                    </useravatar>
                    <span ng-if="exhibitor.admin">{{$parent.exhibitor.admin.first_name + ' ' + $parent.exhibitor.admin.last_name}}</span>
                    <span ng-if="exhibitor.admin == null" style="position: relative; top: 9px;">Admin has not joined yet</span>
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Email Address</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.admin_email}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Phone Number</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.phone_number}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Street Address</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.street_address}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">City</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.city}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">State</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.state}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Zip Code</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.zip_code}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Country</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.country}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Booth Contact</td>
                <td class="info-label medium" ng-if="$parent.exhibitor.booth_contact_first_name != null && $parent.exhibitor.booth_contact_last_name != null">
                    {{$parent.exhibitor.booth_contact_first_name + ' ' +$parent.exhibitor.booth_contact_last_name}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Booth Contact Email</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.booth_contact_email}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Booth Number</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.booth}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Users</td>
                <td class="info-label medium">
                    {{$parent.exhibitor.users_count + 1}}
                </td>
            </tr>
            <tr class="info-attendee-tabel" >
                <td class="label" style="width: 125px; height: 40px;">Promo Code</td>
                <td class="info-label medium" ng-if="$parent.exhibitor.promo_code">
                    {{$parent.exhibitor.promo_code}}
                </td>
                <td class="info-label medium" ng-if="!$parent.exhibitor.promo_code">
                    <i>No promo code issued</i>
                </td>
            </tr>
        </table>
    </div>
</div>