<div class="expo-badges-container" ng-hide="noExpoBadgesCreated">
  <div class="manager-expo-badges-container">
    <div class="expo-badges-notification">
      <div ng-repeat="message in notificationsFromBadgeAssignments track by $index">{{message}}</div>
    </div>
    <div class="manager-expo-badges-top-container">
      <div class="manager-expo-badges-top-container-title">Expo Badges</div>
      <div class="manager-expo-badges-top-buttons-container">
        <div class="manager-expo-badges-top-container-create-badges-button" ui-sref='template_editor.define({conference_id: conferenceId})'>CREATE BADGES</div>
        <div class="manager-expo-badges-top-container-your-cart-button">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          YOUR CART
        </div>
      </div>
    </div>
    <div class="saved-expo-badges-list-container">
      <div class="saved-expo-badges-list-title">Your Saved Expo Badges</div>
      <div class="saved-expo-badges-list-item" ng-repeat="badge in expoBadges track by $index"  ng-init="$last ? renderBadge() : null">
        <div class="badge-item-preview-image" ng-class="{'animate-duplicated-badge' : duplicateBadgeMark === $index}" style="background-image: url('{{badge.badgeFrontPreviewUrl}}')">
          <div ng-if="!badge.badgeFrontPreviewUrl" class="badge-item-no-preview">No Available Preview</div>
          <div class="badge-item-warning-container" ng-if="!badge.attendees || badge.attendees === []">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <div class="warning-message">This template is not associated to any attendees</div>
        </div>
        <div class="badge-item-title">{{badge.metadata.title}}</div>
        <div class="badge-item-options-button-container">
          <div class="badge-item-options-button" ng-click="toggleBadgeOptionsMenu($index)" ng-class="{'active' : badgeOptionsMenu === $index}">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <div class="saved-expo-badges-list-item-options" ng-class="{'active' : badgeOptionsMenu === $index}">
              <div class="saved-expo-badges-list-item-option" ng-click="editThisBadge(badge.id)">Edit</div>
              <div class="saved-expo-badges-list-item-option" ng-click="duplicateThisBadge(badge.id, $index)">Duplicate</div>
              <div class="saved-expo-badges-list-item-option" ng-click="openBadgeAssignment(badge)">Assignment</div>
              <div class="saved-expo-badges-list-item-option" ng-click="openDeleteBadgeWarningPopUp(badge.id, $index)">Delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-include ng-show="noExpoBadgesCreated" src="'app/_scenes/conferences/_scenes/dashboard/_scenes/attendees/_scenes/expo_badges/expoBadgesLandingView.html'"></ng-include>
