<div class="custom-modal-wrapper add-exhibitor exhibitor-details superadmin">
	<div class="top-part" ng-class="{'hidden': inEdit}">
		<div class="logo-wrapper">
			<div ng-if="!exhibitor.logo">
				<i class="fa fa-building fa-5x"></i>
			</div>
		</div>
		<div class="main-details">
			<div class="name">{{ exhibitor.name }}</div>
			<div class="website">{{ exhibitor.website }}</div>
		</div>
		<div class="edit-button" ng-click="activateEditMode()">edit</div>
	</div>
	<div class="top-part edit-modal-title" ng-class="{'visible': inEdit}">Edit exhibitor</div>
	<div class="bottom-part superadmin" ng-class="{'translated': inEdit}">
		<div class="sections-buttons-wrapper" ng-if="!inEdit">
			<div class="section-button" ng-click="translateTo(0)" ng-class="{'active': translateValue === 0}">Details</div>
			<div class="section-button" ng-click="translateTo(-33)" ng-class="{'active': translateValue === -33}">Users</div>
			<div class="section-button" ng-click="translateTo(-66)" ng-class="{'active': translateValue === -66}">Qualifiers</div>
		</div>
		<div class="sections-rail" style="transform: translateX({{translateValue}}%)">
			<div class="section details-section" ng-class="{'visible': translateValue === 0}">
				<div class="exhibitor-details-line" ng-repeat="field in modelForView" ng-if="!inEdit">
					<div class="attribute-name">{{field.shownValue}}</div>
					<div class="attribute-value">{{field.value}}</div>
				</div>
				<div class="exhibitor-details-line" ng-repeat="field in modelForEdit" ng-if="inEdit">
					<div class="attribute-name">{{field.shownValue}}</div>
					<div class="attribute-value" ng-if="!field.key">{{field.value}}</div>
					<input class="attribute-value" type="text" ng-if="field.key" ng-model="field.value"></input>
				</div>
			</div>
			<div class="section users-section" ng-class="{'visible': translateValue === -33}">
				<div class="users-add-section">
					<input type="text" ng-model="userEmailToAdd" ng-change="validateEmail(userEmailToAdd)"></input>
					<div class="permissions-button" ng-class="{'active': emailToAddIsValid}" ng-click="togglePermissionsPanel()">
						has permission to...
						<i class="fa fa-sort"></i>
						<div class="permissions-container" ng-class="{'visible': permissionsPanelVisible}">
							<div class="permission" ng-repeat="permission in userPermissions">
								<div class="checkbox-ico" ng-class="{'active': permission.value}" ng-click="togglePermissionValue($event, permission)"></div>
								{{permission.shownValue}}
							</div>
						</div>
					</div>
					<div class="add-button" ng-class="{'active': emailToAddIsValid}" ng-click="addUser(userEmailToAdd)">add user</div>
				</div>
				<div class="user-row" ng-repeat="user in users">
					<div class="user-profile-picture" style="background-image: url({{user.user.userprofile.profile_url}})">
						<div class="initials" ng-if="!user.user.userprofile.profile_url && user.user.first_name">{{user.user.first_name[0]}}{{user.user.last_name[0]}}</div>
						<div class="initials" ng-if="!user.user.userprofile.profile_url && !user.user.first_name">JD</div>

					</div>
					<div class="user-name" ng-if="user.user.first_name">{{user.user.first_name}} {{user.user.last_name}}</div>
					<div class="user-name" ng-if="!user.user.first_name">User waiting for sign up.</div>
					<div class="user-mail">{{user.invited_user_email}}</div>
					<div class="edit-button permissions-button active" ng-click="toggleUserPermissionsPanel($event, user)">edit
						<i class="fa fa-sort"></i>
						<div class="permissions-container" ng-class="{'visible': user.permissionsPanelVisible}" style="width: 200%; left: -50%; text-align: left;">
							<div class="permission" ng-repeat="permission in userPermissions">
								<div class="checkbox-ico" ng-class="{'active': user[permission.key]}" ng-click="togglePermissionValueForUser($event, permission, user)"></div>
								{{permission.shownValue}}
							</div>
						</div>
					</div>
					<div class="delete-button" ng-click="deleteUser(user)">
						<i class="fa fa-trash"></i>
					</div>
				</div>
				<div style="padding-bottom: 170px;"></div>
		</div>
		<div class="section" ng-class="{'visible': translateValue === -66}">
			<div class="qualifier" ng-repeat="qualifier in qualifiers track by $index" ng-hide="qualifier.deleted_at" disabled="true">
				<div class="qualifier-name">Qualifier {{$index + 1}}: </div>
				<div class="qualifier-details">
					<input type="text" ng-model="qualifier.text">
					<select ng-model="qualifier.type" ng-options="type.value as type.name for type in qualifierTypes" ng-class="{'active': qualifier.set != 0}"></select>
					<div class="action-for-option" ng-click="deleteQualifier($index)"><i class="fa fa-minus"></i></div>
					<div class="qualifier-answer-holder" ng-repeat="option in qualifier.exhibitorquestionoption_set track by $index" ng-if="qualifier.type != 1">
						<input ng-model="option.value"></input>
						<div class="action-for-option" ng-click="removeOption(qualifier, $index)"><i class="fa fa-minus"></i></div>
						<div class="action-for-option" ng-if="$last" style="margin-right: 0px;" ng-click="addNewOption(qualifier)"><i class="fa fa-plus"></i></div>
					</div>

				</div>
			</div>
			<div class="qualifiers-actions-buttons">
				<div class="action-button" ng-click="addQualifier()">
					<i class="fa fa-plus"></i>
					add a qualifier
				</div>
				<div class="action-button" ng-click="saveQualifiers(qualifiers)">
					save qualifiers
				</div>
			</div>
		</div>
	</div>
	<div class="buttons-wrapper exhibitor-details" ng-class="{'visible': inEdit}">
		<div class="button" ng-click="exitEditMode()">Cancel</div>
		<div class="button save" ng-click="updateExhibitor(modelForEdit)">Save</div>
	</div>
</div>
