.custom-modal-wrapper.add-exhibitor.exhibitor-details.superadmin .bottom-part {
	padding: 0px;
	margin-top: -21px;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details.superadmin .bottom-part.translated {
	transform: translateY(-95px);
	height: 70vh;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details.superadmin .bottom-part.translated .sections-rail {
	height: 70vh;
}

.custom-modal-wrapper.add-exhibitor.exhibitor-details.superadmin .bottom-part.translated .sections-rail .section {
	height: 70vh;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}
.custom-modal-wrapper.add-exhibitor.exhibitor-details.superadmin .buttons-wrapper.exhibitor-details.visible {
	transform: translateY(-25px);
}


.bottom-part .sections-buttons-wrapper {
	width: calc(100% + 34px + 34px);
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	margin-left: -34px;
	font-size: 0;
	background-color: #EFEEEE;
	text-align: center;
	box-shadow: -5px 9px 17px -10px #a5a5a5;
}

.bottom-part .sections-buttons-wrapper .section-button {
	width: 30%;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 14px;
	border-right: 1px solid #cdcdcd;
	text-align: center;
	cursor: pointer;
	transition: background-color .2s ease;
	background-color: #EFEEEE;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	color: #4a4a4a;
}

.bottom-part .sections-buttons-wrapper .section-button:first-child {
	border-left: 1px solid #cdcdcd;
}

.bottom-part .sections-buttons-wrapper .section-button.active {
	background-color: #FAFAFA;
	border-bottom: 1px solid #FAFAFA;
	font-family: 'AvenirNextLTPro-Demi';
}

.bottom-part .sections-rail {
	width: 300%;
	transition: transform .2s ease;
	font-size: 0px;
	height: calc(70vh - 95px);
  overflow: hidden !important;
}

.bottom-part .sections-rail .section {
	height: calc(70vh - 95px);
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease, visibility .2s ease;
}

.bottom-part .sections-rail .section.visible {
	opacity: 1;
	visibility: visible;
}

.bottom-part .sections-rail .section .users-add-section {
	font-size: 0;
	height: 80px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	line-height: 80px;
}

.bottom-part .sections-rail .section .users-add-section input {
	width: calc(100% - 180px - 110px - 20px - 20px);
	height: 40px;

	display: inline-block;
	vertical-align: middle;

	padding: 10px;
	border: 1px solid #cdcdcd;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	box-sizing: border-box;

	background-color: white;
	transition: background-color .2s ease, color .2s ease;
}

.bottom-part .sections-rail .section .users-add-section input:focus {
	background-color: #4a4a4a;
	color: white;
}

.bottom-part .sections-rail .section .permissions-button {
	position: relative;
	width: 180px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	line-height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	text-transform: uppercase;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 12px;
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;

	box-sizing: border-box;

	transition: opacity .2s ease;
}

.bottom-part .sections-rail .section .permissions-button .fa {
	color: #26a7de;
	float: right;
	font-size: 18px;
	line-height: 30px;
}


.bottom-part .sections-rail .section .permissions-button.active {
	opacity: 1;
	cursor: pointer;
	pointer-events: all;
}

.bottom-part .sections-rail .section .permissions-button .permissions-container {
	width: 100%;
	position: absolute;
	top: 34px;
	left: 0px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
	box-shadow: 0px 3px 6px 1px #cdcdcd;
	z-index: 3;
}

.bottom-part .sections-rail .section .permissions-button .permissions-container.visible {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.bottom-part .sections-rail .section .permissions-button .permissions-container .permission {
	text-transform: none;
	line-height: 40px;
}
.bottom-part .sections-rail .section .permissions-button .permissions-container .permission .checkbox-ico {
	margin-top: 9px;
}

.bottom-part .sections-rail .section .users-add-section .add-button {
	width: 110px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	border-radius: 20px;
	background-color: #26a7de;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	font-family: 'AvenirNextLTPro-Demi';
	text-transform: uppercase;
	cursor: pointer;

	opacity: 0.5;
	pointer-events: none;
	transition: opacity .2s ease;
}

.bottom-part .sections-rail .section .users-add-section .add-button.active {
	opacity: 1;
	pointer-events: all;
}

.bottom-part .sections-rail .section .user-row {
	height: 80px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	line-height: 80px;
}

.bottom-part .sections-rail .section .user-row .user-profile-picture {
	width: 36px;
	height: 36px;

	display: inline-block;
	vertical-align: middle;

	border-radius: 100%;
	background-color: #cdcdcd;
	line-height: 36px;
	text-align: center;

	background-size: cover;
  background-repeat: no-repeat;

	font-size: 14px;
	color: #4a4a4a;
	text-transform: uppercase;
}

.bottom-part .sections-rail .section .user-row .user-name {
	width: 30%;
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	padding-left: 10px;
	box-sizing: border-box;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bottom-part .sections-rail .section .user-row .user-mail {
	width: calc(100% - 30% - 36px - 96px - 36px - 10px);

	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
}

.bottom-part .sections-rail .section .user-row .edit-button {
	width: 96px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	line-height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	text-align: center;
	background-color: transparent;

	margin-right: 10px;
	margin-left: 0px;
	padding: 0px;
	cursor: pointer;

	position: relative;
}

.bottom-part .sections-rail .section .user-row .edit-button .fa {
	float: right;
	color: #26a7de;
	line-height: 28px;
	margin-right: 15px;
}

.bottom-part .sections-rail .section .user-row .delete-button {
	width: 36px;
	height: 36px;

	display: inline-block;
	vertical-align: middle;

	border-radius: 100%;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 36px;
	color: #26a7de;
	font-size: 20px;
	cursor: pointer;
	transition: color .2s ease, background-color .2s ease;
}

.bottom-part .sections-rail .section .user-row .delete-button:hover {
	background-color: red;
	color: white;
}
.bottom-part .sections-rail .section .qualifiers-actions-buttons {
	font-size: 0;
	margin-top: 20px;
}

.bottom-part .sections-rail .section .qualifiers-actions-buttons .action-button {
	width: 150px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #cdcdcd;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 12px;
	line-height: 30px;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-right: calc(100% - 300px);
	background-color: transparent;
	cursor: pointer;

	transition: background-color .2s ease, color .2s ease;
}

.bottom-part .sections-rail .section .qualifiers-actions-buttons .action-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.bottom-part .sections-rail .section .qualifiers-actions-buttons .action-button:last-child {
	margin-right: 0px;
}

.bottom-part .sections-rail .section .qualifiers-actions-buttons .action-button .fa {
	color: #26a7de;
  font-size: 16px;
  float: left;
  line-height: 26px;
}

.bottom-part .sections-rail .section .qualifier {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
	font-size: 0;
}

.bottom-part .sections-rail .section .qualifier .qualifier-name {
	width: 100px;

	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	line-height: 40px;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details {
	width: calc(100% - 100px);
	display: inline-block;
	vertical-align: top;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details input {
	width: calc(100% - 70px - 10px);
	height: 40px;

	display: inline-block;
	vertical-align: middle;

	border: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
	box-sizing: border-box;
	font-size: 14px;

	transition: background-color .2s ease, color .2s ease;
}


.bottom-part .sections-rail .section .qualifier .qualifier-details input:focus {
	background-color: #4a4a4a;
	color: white;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details select {
	width: calc(100% - 80px);
	height: 40px;
	border: 1px solid #cdcdcd;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 10px;
	background-color: white;
	border-radius: 0px;
	font-size: 14px;
	pointer-events: none;
	opacity: 0.8;
	cursor: not-allowed;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details select.active {
	pointer-events: all;
	opacity: 1;
	cursor: pointer;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details .action-for-option {
	width: 30px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	background-color: #cdcdcd;
	border-radius: 100%;
	line-height: 30px;
	text-align: center;
	font-family: 'AvenirNextLTPro-Demi';
	color: white;
	font-size: 14px;
	margin-right: 10px;

	line-height: 33px;
	overflow: hidden;

	border: 1px solid #cdcdcd;

	cursor: pointer;

	transition: background-color .2s ease, color .2s ease;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details .action-for-option:hover {
	background-color: transparent;
	color: #cdcdcd;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details .qualifier-answer-holder {
	margin-bottom: 20px;
}

.bottom-part .sections-rail .section .qualifier .qualifier-details .qualifier-answer-holder input {
	margin-bottom: 0px;
}
