<div class="conference-users-body" ng-init="getConferenceUsers()">
    <div class="conference-users-head">
        <form name="search-email">
            <input id="sendEmail" type="email" name="input-email" ng-model="invitedUser.invited_user_email" placeholder="Enter User Email Address to Add"
                class="conference-users-search" ng-if="permissionsForUsers()" ng-change="validateNewUser(invitedUser)"/>
        </form>

        <div class="conference-users-permissions-btn"
            ng-class="(usersPermissionsPane || verifySingleUserChecked() || searchEmail) ? 'active' : ''"
            ng-click="(verifySingleUserChecked() || searchEmail) ? usersPermissions() : ''" style="pointer-events: none;">
            HAS PERMISSION TO...
            <i class="fa fa-sort" aria-hidden="true" style="color: #cdcdcd; font-size: 18px; margin-left: 6.5px;"
            ng-class="(usersPermissionsPane || verifySingleUserChecked() || searchEmail) ? 'active-color-icon' : ''"></i>
        </div>

        <div ng-if="(conference.nr_user_slots > conferenceUsers.length + 1) && permissionsForUsers()"
            class="conference-users-add-btn" ng-click="addUser()">
            ADD USER
        </div>

        <div ng-if="(conference.nr_user_slots <= conferenceUsers.length + 1) && permissionsForUsers()"
            class="conference-users-add-btn" ng-click="openConferenceUsersPurchaseForm()">
            BUY USERS
        </div>
        <div class="default-icon-circle"
            ng-if="userChecked && verifyCurrentUser() && permissionsForUsers()"
            ng-click='deleteSelectedUsers()'
            style="margin-top: 16px; float:left; margin-left: 16px; background-color: #fffde6;">
            <i class="fa fa-trash-o" aria-hidden="true" style="color: #26a7de"></i>
        </div>

        <div ng-if="usersPermissionsPane==true" class="conference-users-permissions-pane" id="conference-users-permissions-id" click-outside="usersPermissions()">
            <div style="width:50%; float:left" class="permission-options">
                <div style="margin-top: 15px; margin-left:15px">
                    <div style="height:50px;" class="permission-option" ng-click="changePermission('edit_conference')"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('edit_conference') > -1 ? 'active' : ''">
                        </div>
                        <div class="permission-text">Edit Event</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('edit_conference_users')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('edit_conference_users') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Event Users</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('edit_attendee_fields')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('edit_attendee_fields') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Attendee Fields</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('download_attendees')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('download_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Download Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('edit_registration')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('edit_registration') > -1 ? 'active':''"></div>
                        <div class="permission-text">Edit Registration</div>
                    </div>
                </div>

            </div>
            <div style="width:50%; float:left">
                <div style="margin-top: 15px; margin-left:15px" class="permission-options">
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('manage_attendees')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('manage_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('manage_exhibitors')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('manage_exhibitors') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Exhibitors</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('manage_sessions')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('manage_sessions') > -1 ? 'active':''"></div>
                        <div class="permission-text">Manage Sessions</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('scan_attendees')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('scan_attendees') > -1 ? 'active':''"></div>
                        <div class="permission-text">Scan Attendees</div>
                    </div>
                    <div style="height:50px;" class="permission-option"
                        ng-class="!verifyCurrentUser() || !permissionsForUsers() ? 'unclickable' : ''"
                        ng-click="changePermission('can_refund')">
                        <div class="checkbox-ico" ng-class="userPermissions.indexOf('can_refund') > -1 ? 'active':''"></div>
                        <div class="permission-text">Refund Role</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conference-users-table-head">
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check" >
                <div class="checkbox-ico" ng-class="checkAllUsers ? 'active':''" ng-if="permissionsForUsers() && conferenceUsers.length > 1" ng-click="checkAll(conferenceUsers)"></div>
                <div class="permission-text medium"
                    ng-click="sortBy(conferenceUsers, 'user', userOrderAsc); userOrderAsc = !userOrderAsc">User</div>
                <div ng-class="userOrderAsc ? conference-table-order-icon : ''"
                    ng-click="sortBy(conferenceUsers, 'user', userOrderAsc); userOrderAsc = !userOrderAsc"></div>
            </div>
        </div>
        <div style="width:50%; float:left" class="conference-users-table-div">
            <div class="conference-user-check medium">
                Email
            </div>
        </div>
    </div>
    <div style="overflow-y:scroll; float:left; width:100%; height: calc(100vh - 206px);">
        <div ng-repeat="user in conferenceUsers" class="conference-users-table-body scroller" ng-click="checkOne(user, 'user')"
             ng-class="user.checked ? 'active':''">
            <div style="width:50%; float:left" class="conference-users-table-div">
                <div class="conference-user-check">
                    <div class="checkbox-ico" ng-class="user.checked ? 'active':''"></div>
                    <div ng-if="user.user">
                        <useravatar image="user.user.image"
                                    firstname="user.user.first_name"
                                    lastname="user.user.last_name">
                        </useravatar>
                        <div class="permission-text demi">{{user.user.first_name + ' ' + user.user.last_name}}</div>
                    </div>
                    <div ng-if="!user.user">
                        The invitation was sent to {{user.invited_user_email}}
                    </div>
                </div>
            </div>
            <div style="width:50%; float:left;" class="conference-users-table-div">
                <div ng-if="user.user" class="conference-user-check medium" style='margin-left: 24px;'>
                    {{user.invited_user_email}}
                </div>
            </div>
        </div>
        <div ng-if="conferenceUsers.length <= 0" class="table-custom-no-items">
            There are no users at this time
        </div>
    </div>
</div>
