<div class="start-registration-modal">
    <div class="start-registration-modal-header">
        <i class="fa fa-flag" aria-hidden="true"></i>
        <p class="demi modal-title">Let's Get Started!</p>
        <p class="medium modal-subtitle">
            A seamless registration flow is your first touch point with your attendees and the first area to knock their socks off!
        </p>
        <p class="medium modal-subtitle">
            In just a few easy steps get your registration form created and be ready to capture all of the lucky attendees signing up.
        </p>
    </div>
    <div class="start-registration-modal-content">
        <div>
            <div class="step-circle">1</div>
            <div class="modal-text">
                <p>
                    Create your form! Assign registration levels, perks, session pre-registration, and much more.
                </p>
            </div>
        </div>
        <div>
            <div class="step-circle">2</div>
            <div class="modal-text">
                <p>
                    Decide if you are charging for registration or not.
                </p>

                <p ng-if="hasMerchantAccount == false">
                    – If you plan on charging attendees, you will need to complete the <span ng-click="openMerchantAgreement();"  class="cursor" style="margin-left: 10px;">Expo Pass Merchant Agreement</span> in order to collect funds.
                </p>
                <p ng-if="hasMerchantAccount == false">
                    – If you have a free event, no need to worry about the merchant <span style="color: #4a4a4a; margin-left: 10px; display: block;"> agreement</span>
                </p>
            </div>
        </div>
        <div>
            <div class="step-circle">3</div>
            <div class="modal-text">
                <p>
                    Post your registration to your website using a simple string of javascript or utilize a pre-made web form.
                </p>
                <p>
                    When your registration is live, go spread the word!
                </p>
            </div>
        </div>
    </div>
    <div class="start-registration-modal-buttons">
      <div  class="cursor" ng-click="closeThisDialog()">Cancel</div>
      <div  class="cursor" ng-click="startRegistrationForm()">START</div>
    </div>
</div>
