.exhibitor-toolkit-users-wrapper .header {
	height: 65px;
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 10px;
	padding-right: 10px;

	box-sizing: border-box;
	font-size: 0;
}

.exhibitor-toolkit-users-wrapper .header::before {
	content: '';
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.exhibitor-toolkit-users-wrapper .header input {
	width: 340px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 16px;
	padding: 10px;

	transition: background-color .2s ease, color .2s ease;
}

.exhibitor-toolkit-users-wrapper .header input.error {
	border: 1px solid #e91d26;
}

.exhibitor-toolkit-users-wrapper .header input:focus {
	background-color: #4a4a4a;
	color: white;
}
.exhibitor-toolkit-users-wrapper .header .delete-button {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	line-height: 30px;
	text-align: center;

	border-radius: 100%;
	font-size: 18px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
	cursor: pointer;
	opacity: 0;
	transform: scale(0);
	visibility: hidden;
	color: #4a4a4a;
	transition: opacity .2s ease, transform .2s ease, visibility .2s ease, background-color .2s ease, color .2s ease;
}

.exhibitor-toolkit-users-wrapper .header .delete-button.visible {
	opacity: 1;
	transform: scale(1);
	visibility: visible;
	cursor: pointer;
}

.exhibitor-toolkit-users-wrapper .header .delete-button.visible:hover {
	background-color: #26A7DE;
	color: white;
	transform: scale(1.2);
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .button {
	height: 32px;
	border: 1px solid #727272;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	border-radius: 20px;
	margin-left: 15px;
	line-height: 32px;
	text-transform: uppercase;
	box-sizing: border-box;
	opacity: 0.6;
	cursor: not-allowed;
	background-color: white;
	transition: opacity .2s ease, background-color .2s ease, color .2s ease, transform .2s ease;
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .button.active {
	opacity: 1;
	background-color: #727272;
	color: white;
	cursor: pointer;
	transform: scale(1);
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .button.active:hover {
	transform: scale(1.1);
}

.exhibitor-toolkit-users-wrapper .header .add-user-button {
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	background-color: #26A7DE;
	color: white;
	border-radius: 25px;
	line-height: 32px;
	border: 1px solid #26A7DE;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: 'AvenirNextLTPro-Demi';
	margin-left: 30px;
	opacity: 0.6;
	cursor: not-allowed;
	transform: scale(1);
	transition: background-color .2s ease, color .2s ease, opacity .2s ease, transform .2s ease;
}

.exhibitor-toolkit-users-wrapper .header .add-user-button.active {
	opacity: 1;
	cursor: pointer;
}
.exhibitor-toolkit-users-wrapper .header .add-user-button.active:hover {
	background-color: white;
	color: #26A7DE;
	transform: scale(1.1);
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup {
	position: absolute;
	z-index: 2;
	width: 120%;
	background-color: white;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 #0000007f;

	top: calc(100% + 6px);
	left: calc(-10% + 4px);

	padding-left: 14px;
	padding-right: 14px;
	padding-top: 20px;
	padding-bottom: 20px;

	box-sizing: border-box;

	transform: scaleY(0);
	opacity: 0;
	visibility: hidden;
	transform-origin: top;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup.open {
	transform: scaleY(1);
	opacity: 1;
	visibility: visible;
}


.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup .permission {
	display: block;
	font-size: 0px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup .permission:last-child {
	margin-bottom: 0px;
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup .permission .checkbox-ico {
	display: inline-block;
	vertical-align: middle;
	float: unset;
	cursor: pointer;
}

.exhibitor-toolkit-users-wrapper .header .permisions-button-wrapper .permissions-popup .permission .permission-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.exhibitor-toolkit-users-wrapper .list {
	height: calc(100vh - 75px - 65px);
	overflow: hidden;
}

.exhibitor-toolkit-users-wrapper .list.smaller {
	height: calc(100vh - 75px - 65px - 60px);

}

.exhibitor-toolkit-users-wrapper .list .list-head {
	height: 65px;
	background-color: #edf0f2;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-size: 0px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	position: relative;
  z-index: 1;
	box-shadow: 0px -1px 8px 0 rgba(0, 0, 0, 0.5);
}

.exhibitor-toolkit-users-wrapper .list .list-head .item {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	line-height: 65px;
}
.exhibitor-toolkit-users-wrapper .list .list-head .checkbox-ico {
	display: inline-block;
	vertical-align: middle;
	float: unset;
	cursor: pointer;
}
.exhibitor-toolkit-users-wrapper .list .list-wrapper {
	height: calc(100% - 65px);
	overflow: hidden;
}

.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item {
	height: 65px;
	border-bottom: 1px solid #cdcdcd;
	background-color: #fafafa;
	box-sizing: border-box;
	font-size: 0;
	padding-left: 10px;
	padding-right: 10px;

	transition: background-color .2s ease;
}

.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item:hover {
	background-color: #8bd0ef;
}

.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item.active {
	background-color: aliceblue;
}

.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item .item {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	line-height: 65px;

}
.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item .item .photo {
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 100%;
	background-color: #d8d8d8;
	background-size: 120%;
	background-position: center;
	overflow: hidden;
	text-align: center;
	line-height: 36px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	font-size: 14px;
}

.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item .item .name {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #4a4a4a;
	font-family: 'AvenirNextLTPro-Demi';
	width: calc(100% - 75px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.exhibitor-toolkit-users-wrapper .list .list-wrapper .list-item .item .checkbox-ico {
	display: inline-block;
	vertical-align: middle;
	float: unset;
}

.exhibitor-toolkit-users-wrapper .purchase-users-cta {
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	font-size: 0;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.exhibitor-toolkit-users-wrapper .purchase-users-cta .message {
	width: calc(100% - 168px);
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	line-height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.exhibitor-toolkit-users-wrapper .purchase-users-cta .purchase-users-button {
	width: 168px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-color: #68aa3b;
	border: 1px solid #68aa3b;
	color: white;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 14px;
	text-transform: uppercase;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	transform: scale(1);
	transition: background-color .2s ease, color .2s ease, transform .2s ease;
	cursor: pointer;
}

.exhibitor-toolkit-users-wrapper .purchase-users-cta .purchase-users-button:hover {
	background-color: white;
	color: #68aa3b;
	transform: scale(1.05);
}
