<div class="exhibitor-toolkit-wrapper">
	<div class="exhibitor-toolkit-users-wrapper">
		<div class="header">
			<input type="text" ng-model="userEmail" placeholder="Enter User Email Address to Add" ng-change="checkIfEmailAddressIsValid(userEmail)" ng-class="{'error': errorOnEmail}"></input>
			<div class="permisions-button-wrapper">
				<div class="button" ng-class="{'active': userMailIsValid || selectedOneUser}" ng-click="togglePermissionsPopup(permissionsPopupIsOpen)">
					has permission to...
					<i class="fa fa-sort" aria-hidden="true"></i>
				</div>
				<div class="permissions-popup" ng-class="{'open': permissionsPopupIsOpen}">
					<div class="permission" ng-repeat="permission in permissions">
						<div class="checkbox-ico" ng-class="{'active': permission.value}" ng-click="toggleCheckForPermission(permission)"></div>
						<div class="permission-name">{{permission.shownValue}}</div>
					</div>
				</div>
			</div>
			<div class="add-user-button" ng-class="{'active': userMailIsValid}" ng-click="addUser(userEmail, permissions)" ng-if="users.length < numberOfUserSlotsLeft">add user</div>
			<div class="delete-button" ng-class="{'visible': selectedUsers.length > 0}" ng-click="openDeleteUsersModal($event, selectedUsers)">
				<i class="fa fa-trash" aria-hidden="true"></i>
			</div>
		</div>
		<div class="purchase-users-cta" ng-if="users.length === numberOfUserSlotsLeft">
			<div class="message">You've reached your maximum number of complimentay users. More may be added for $50.00 per aditional user.</div>
			<div class="purchase-users-button" ng-click="openBuyUsersModal($event)">purchase</div>
		</div>
		<div class="list" ng-class="{'smaller' : (users.length === numberOfUserSlotsLeft)}">
			<div class="list-head">
				<div class="checkbox-ico" ng-class="{'active': (selectedUsers.length === users.length && users.length > 0)}" ng-click="selectAllUsers()"></div>
				<div class="item" style="width: calc(50% - 29px);">User</div>
				<div class="item">Email</div>
			</div>
			<div class="list-wrapper">
				<div class="list-item" ng-repeat="user in users" ng-class="{'active': user.selected}">
					<div class="item">
						<div class="checkbox-ico" ng-class="{'active': user.selected}" ng-click="selectUser(user)"></div>
						<div class="photo" ng-if="user.user && user.user.profile_url" style="background-image: url({{user.user.profile_url}})"></div>
						<div class="photo" ng-if="user.user && !user.user.profile_url">{{user.user.first_name[0]}}{{user.user.last_name[0]}}</div>
						<div class="name" ng-if="user.user">{{user.user.first_name}}  {{user.user.last_name}}</div>
						<div class="name" ng-if="!user.user">The invitation was sent to {{user.invited_user_email}}</div>
					</div>
					<div class="item">
						<div class="name" style="font-family: 'AvenirNextLTPro-Regular'">{{user.invited_user_email}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
