.badge-container {
	background-color: white;
	position: relative;

	transition: transform .2s cubic-bezier(0.0, 0.0, 0.2, 1);

	overflow: hidden;

	z-index: 0;
}

.badge-container .safe-zone {
	position: absolute;
	left: 9px;
	top: 9px;

	width: calc(100% - 18px);
	height: calc(100% - 18px);

	border: dashed 2px #e3e3e3;
}

.badge-container .badge-input-title-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	text-align: center;

	width: 100%;
}

.badge-container .badge-print-hole {
	position: absolute;
	width: 65px;
	height: 15px;
	border-radius: 5px;
	background-color: #e5e7e9;
	left: 50%;
	transform: translateX(-50%);
	top: 27px;
	box-shadow: inset 0px 1px 2px #797979;
	z-index: 9999999999999;
}

.badge-container .badge-input-title-wrapper .title {
	font-size: 16px;
	font-family: 'AvenirNextLTPro-Demi';

	color: #4a4a4a;

	margin-bottom: 10px;
}

.badge-container .badge-input-title-wrapper input {
	font-size: 14px;
	height: 40px;

	border: 1px solid #cdcdcd;
	padding-left: 11px;
	padding-right: 11px;
	box-sizing: border-box;

	width: 50%;

	font-family: 'AvenirNextLTPro-Regular';
	text-align: center;
}

.badge-container .badge-input-title-wrapper input:focus {
	outline: none;
}

.draggable {
	box-sizing: border-box;
	user-select: none;
}

.draggable.active {
	background-color: transparent;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
}

.draggable svg {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.badge-information-wrapper {
	position: absolute;
  top: -45px;
  left: 50%;
	z-index: 2;
	width: 22px;
	height: 22px;
	transform: translateX(-50%);
}

.badge-information-wrapper:hover {
	height: 28px;
}

.badge-information-mark-wrapper {
	width: 22px;
  height: 22px;

	padding-right: 1px;
	border: 1px solid #727272;
	border-radius: 50%;
	box-sizing: border-box;

	text-align: center;
	line-height: 24px;
	color: #727272;
	background-color: transparent;

	transition: background-color .2s ease, color .2s ease;

	background-color: transparent;
	color: #727272;

	cursor: pointer;
}

.badge-information-wrapper:hover .badge-information-mark-wrapper {
	background-color: #727272;
	color: #e4e7e9;
}

.badge-information-wrapper .badge-information-container {
	padding: 10px;
	width: 220px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border: 1px solid #CDCDCD;
	border-radius: 5px;

	opacity: 0;
	visibility: hidden;

	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	line-height: 20px;

	transform: translateX(-50%) scale(0);

	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
	margin-top: 5px;
}

.badge-information-wrapper:hover .badge-information-container {
	opacity: 1;
	visibility: visible;

	transform: translateX(-50%) scale(1);
}

.badge-information-wrapper .badge-information-container .dotted-line {
	width: 90%;
	margin: 0px auto;
	border-top: dashed 2px #e3e3e3;
	margin-top: 5px;
	margin-bottom: 5px;
}
