<div class="badge-information-wrapper" ng-if="$root.badgeZoom === 1">
	<div class="badge-information-mark-wrapper">?</div>
	<div class="badge-information-container">
		<p style="margin: 0px">To ensure the visibility of important information, be sure to position all critical items within the “safe zone” as indicated by the dotted line:</p>
		<div class="dotted-line"></div>
		<p style="margin: 0px">Any items that extend beyond the border line (as indicated by the solid line) will be trimmed.</p>
	</div>
</div>
<div style="width: {{badgeWidth * 96 + 18}}px; height: {{badgeHeight * 96 + 18}}px; transform: scale( {{ badgeZoom }} ) rotateY(0deg); position: absolute; left: -10px; top: -10px; border: 1px solid #00ade4"></div>
<div ng-controller="badgeEditorController" style="background-color: {{currentState === 'template_editor.define' || currentState === 'template_editor.define_badge' ? '#fffff' : $root.badgeBackgroundColor}}; width: {{badgeWidth * 96}}px; height: {{badgeHeight * 96}}px; transform: scale( {{ badgeZoom }} ); transform-style: preserve-3d; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 1; transition: transform .4s ease-in-out, opacity .2s ease, visibility .2s ease;" ng-style="$root.badgeRotationDegree === 180 ? {'z-index': 0, 'transform':  'scale(' + badgeZoom + ') rotateY(180deg)' } : { 'z-index': 1, 'transform':  'scale(' + badgeZoom + ') rotateY(0deg)' }" class="badge-container">
	<div style="position: absolute; left: 9px; top: 9px; width: calc(100% - 18px); height: calc(100% - 18px); border: dashed 2px #e3e3e3; box-sizing: border-box;" id="template-safe-zone">
	</div>
	<div class="badge-input-title-wrapper" ng-if="currentState === 'template_editor.define' || currentState === 'template_editor.define_badge'">
		<div class="title">Enter a name for your badge</div>
		<input type="text" ng-model="$root.badgeName" autofocus></input>
	</div>
	<div class="badge-print-hole" ng-if="badgeWidth === 4 && badgeHeight === 6"></div>
</div>
<div ng-controller="badgeBackEditorController" style="width: {{badgeWidth * 96}}px; height: 0px; transform: scale( {{ badgeZoom }} ) rotateY(-180deg); position: absolute; top:0; left: 0; overflow: hidden; z-index: 0; transition: transform .4s ease-in-out, opacity .2s ease, visibility .2s ease" ng-style="$root.badgeRotationDegree === 180 ? { 'z-index': 1, 'transform': 'scale(' + badgeZoom + ') rotate3d(0,1,0, ' + 0 + 'deg)', 'height': badgeHeight * 96, backgroundColor: badgeBackSideBackgroundColor} : { 'z-index': 0, 'transform': 'scale(' + badgeZoom + ') rotateY(-180deg)', 'height': 0,  'backgroundColor': badgeBackSideBackgroundColor}" class="badge-back-container">
	<div style="position: absolute; left: 9px; top: 9px; width: calc(100% - 18px); height: calc(100% - 18px); border: dashed 2px #e3e3e3; box-sizing: border-box;" id="back-template-safe-zone">
		<div ng-repeat="component in backSideComponents" ng-if="component.type === 'TEXT'">
			<text-component data-props="component.props"></text-component>
		</div>
		<div ng-repeat="component in backSideComponents" ng-if="component.type === 'IMAGE'">
			<image-component data-props="component.props"></image-component>
		</div>
		<div ng-repeat="component in backSideComponents" ng-if="component.type === 'SHAPE'">
			<shape-component data-props="component.props"></shape-component>
		</div>
	</div>
</div>
