<div class="support-table-head support-table-item">
    <div class="table-item-value user">
        <div class="user-profile-photo" ng-if="!user.userprofile.profile_url">
            <p>{{ user.first_name[0] }}{{ user.last_name[0] }}</p>
        </div>
        <img class="user-profile-photo" src="{{ user.userprofile.profile_url }} " ng-if="user.userprofile.profile_url"></img>
        {{ user.first_name || '-'}} {{ user.last_name || '-'}}
    </div>
    <div class="table-item-value email">{{ user.email || '-'}}</div>
    <div class="table-item-value phone">{{ user.userprofile.phone_number || '-' }}</div>
    <div class="table-item-value company">{{ user.userprofile.company_name || '-' }}</div>
    <div class="table-item-value code">{{ user.verification_code || '-' }}</div>
    <div class="table-item-value suspend-button" ng-click="openSuspendUserConfirmationModal(user, 'suspend')" ng-class="{'active': user.is_active}">Suspend</div>
    <div class="table-item-value suspend-button unsuspend" ng-click="openSuspendUserConfirmationModal(user, 'unsuspend')" ng-class="{'active': !user.is_active}" style="font-size: 10px">Unsuspend</div>
    <div class="table-item-value password-button" ng-click="openPasswordPopup()">change password</div>
</div>
