.support-table-item {
    background-color: #fafafa;
    border-top: none;

    transition: background-color .3s ease;
    cursor: pointer;
}

.support-table-item:hover {
    background-color: white;
}

.support-table-item .table-item-value {
    font-family: 'AvenirNextLTPro-Demi';
}

.support-table-item .table-item-value.password-button {
    height: 32px;
    border: 1px solid #cdcdcd;
    line-height: 30px;

    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 20px;
    box-sizing: border-box;

    background-color: transparent;

    transition: background-color .3s ease;

    float: right;
    margin-top: 20px; // (70 - 30) / 2
    margin-right: 24px;
    font-size: 12px;

}

.support-table-item .table-item-value.password-button:hover {
    background-color: #edf0f2;
}

.support-table-item .table-item-value.suspend-button {
    float: right;
    cursor: pointer;

    padding-bottom: 2px;
    margin-top: 30px;
    border-bottom: 2px solid transparent;
    line-height: initial;

    text-transform: uppercase;
    font-size: 12px;

    transition: border-bottom .3s ease;

    display: none;
}

.support-table-item .table-item-value.suspend-button.active {
    display: block;
    background-color: transparent;
}

.support-table-item .table-item-value.suspend-button.unsuspend {
    display: none;
}

.support-table-item .table-item-value.suspend-button.unsuspend.active {
    display: block;
    background-color: transparent;
}

.support-table-item .table-item-value.suspend-button:hover {
    border-bottom: 2px solid;
}

.support-table-item .table-item-value.user .user-profile-photo {
    width: 36px;
    height: 36px;
    border-radius: 100%;

    background-color: #cdcdcd;

    float: left;
    margin-top: 17px;
    margin-right: 10px;

    position: relative;
}

.support-table-item .table-item-value.user .user-profile-photo p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    line-height: initial;
    transform: translate(-50%, -50%);
    width: auto;

    text-transform: uppercase;
}
