<div>
	<static-header></static-header>
	<div class="super-admin-grill-wrapper" ng-if="isSuperAdmin">
		<generic-data-table configuration="dataTableConfiguration" shared="sharedInfo" type="'super_admin/conferences'" ng-if="dataTableConfiguration">
		</generic-data-table>
	</div>
</div>
