<div class="dash-cr exhibitor-dash-cr"> 
	<div ng-if="vm.exhibitorJoinStep==1">
		<div class="company-profile-popup flex-column" style="background-color: #fff; display: inline-table;">
			<p class="demi">Select Your Company</p>
			<input type="text" placeholder="Search by company name"
               ng-change="vm.searchTransactions()" ng-model-options="{debounce:750}"
               class="exhibitorCompanySearch" ng-model="vm.companyQuery"/>
            <p class="exhibitorCreateLink medium cursor" ng-click="vm.exhibitorJoinStep = 2;">Don't see your company name?</p>
            <div class="companyHolder" style="overflow-y: auto; height: calc(100vh - 363px);">
            	<div ng-repeat="exhibitorCompany in vm.exhibitorCompanies | filter: vm.companyQuery" style="clear:both; margin-bottom: 30px; margin-top:10px;" 
                        ng-click="vm.checkExhibitorCompany(exhibitorCompany)">
            		<div style="float:left; cursor: pointer;">
            			<div class="checkbox-ico" ng-class="exhibitorCompany.checked ? 'active':''"  >
                    	</div>
            		</div>
            		<div class="demi">
            			{{exhibitorCompany.name || 'anonymous'}}
            		</div>
            	</div>
                <div ng-if="vm.loadingCompanies">
                    <div class="loading-verification" style="width: 40px; height: 40px; margin-top: 25px; margin-left: 10px; float: left;">
                        <img src="assets/images/rolling.gif">
                    </div>
                </div>
            </div>
            <div class="flex-row" style="padding-top: 0; margin-right: 30px;">
                <div class="medium cursor" style="border-color: #9b9b9b;" ng-click="vm.backToMyConferences()">Cancel</div>
                <div class="bold cursor" style="text-transform: uppercase;" ng-click="vm.joinAsCompany()">Next</div>
            </div>
		</div>
	</div>
	<div ng-if="vm.exhibitorJoinStep==2">
		<div class="company-profile-popup flex-column" 
				style="background-color: #fff; display: inline-table; width: 620px;">
			<p class="demi">Add Your Exhibitor Details</p>
			<p class="medium">As an exhibitor administrator, please complete or update your company details.</p>
			<div>
				<div ng-repeat="field in vm.mainExhibitorProfileFields" class="flex-row" ng-if="!(field.code == 'state' && vm.previousExhibitorData['country'] != vm.all_countries[0].name)">
					<p ng-if="field.code != 'promo_code' && !(field.code == 'state' && vm.previousExhibitorData['country'] != vm.all_countries[0].name)" 
					class="demi">{{field.label}}<span style="color: #f58a1c;" ng-if="field.code == 'company_name' || field.code == 'admin_email'">*</span></p>
					<input ng-if="(field.code != 'logo') && (field.code != 'promo_code') && (field.code != 'company_description') && 
						(field.code != 'country') && (field.code != 'state')"
					 	type="text" 
						ng-model="vm.previousExhibitorData[field.code]" class="medium" placeholder="{{field.placeholder}}"
						ng-class="vm.previousExhibitorData[field.code].length > 0 ? 'field-autocomplete' : ''">
					<select 
						style="margin-right: 228px; height: 40px; width:75px; background-color: #fff; padding-left: 10px;"
		                ng-if="vm.previousExhibitorData['country'] == vm.all_countries[0].name && field.code == 'state'"
		                ng-model="vm.previousExhibitorData['state']">
                        <option 
                            ng-repeat="option in vm.united_states" ng-value="option.abbreviation">{{option.abbreviation}}
                        </option>
		            </select>
		            <select
		                style="width: 362px; background-color: #fff; height: 40px; padding-left: 10px;"
		                ng-if="field.code == 'country'"
		                ng-model="vm.previousExhibitorData['country']">
                        <option 
                            ng-repeat="option in vm.all_countries" ng-value="option.name">{{option.name}}
                        </option>
		            </select>
		            <textarea ng-if="field.code == 'company_description'"></textarea>
					<span ngf-select="vm.uploadCompanyLogo($files);"
						ng-if="field.code == 'logo'"
						class="add_attendee_upload_link medium"
						ngf-pattern="'image/*'"
						ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
						ngf-drag-over-class="'dragover'" ngf-multiple="false">
						<div class="attendee-upload-image flex-row" style="align-items: center;" class="cursor">
		                    <div style="margin: 0;">
		                    	<img ng-if="vm.previousExhibitorData.logo" src="{{vm.previousExhibitorData.logo}}">
			                    <img ng-if='!vm.previousExhibitorData.logo' 
			                    	src="/assets/images/exhibitor-default-logo.png" style="position: relative; top: 3px; width: initial;height: initial;">
		                    </div>
		                    <div style="margin-left: 7px;">
		                        Upload from computer
		                    </div>
		                </div>
					</span>
				</div>
				<p class="medium">*Required</p>
			</div>
			<div class="flex-row" style="
				margin-top: 0px;
			    margin-bottom: 30px;
			    margin-right: 34px;">
				<div class="medium cursor" ng-click="vm.backToMyConferences()">Cancel</div>
				<div class="bold cursor" ng-click="vm.createExhibitor()">SAVE</div>
			</div>
		</div>
	</div>
</div>