<div class="bkground-blur" style="margin-top: calc(50vh - 316px); margin-bottom:40px;">
	<div class="modal-attendee modal-add-attendee">
		<h3>Add an Attendee</h3>
		<form name='attendeeForm' style="overflow-y: auto; height2: calc(100vh - 354px);">
			<div ng-repeat="inp in $parent.formLabels track by $index" ng-if="!(inp.code == 'state' && vm.newAttendeeInfo.country.trim() != 'United States') && ((inp.code != 'attendee_id') || (vm.conference.rule_type!='no_custom_id'))">

				<label ng-if="!(inp.code == 'state' && vm.newAttendeeInfo.country.trim() != 'United States') && ((inp.code != 'attendee_id') || (vm.conference.rule_type!='no_custom_id'))">{{inp.label || inp.name}}
					<span ng-if="inp.code == 'email_address' && vm.conference.exhibitor_only == false"
                     	style="color: #f58a1c;">*</span>
                </label>
                <span ng-if="(inp.code == 'attendee_id') && (vm.conference.rule_type=='custom_id')" 
                	style="color: #f58a1c; font-size: 12px; position: relative; right: 65px; bottom: 2px;">*</span>
                <span ng-if="(inp.code != 'attendee_id') || (vm.conference.rule_type!='no_custom_id')">
                    <input ng-if="inp.code && inp.code != 'country' && inp.code != 'state'"
                    	   class="inp-data" name='{{inp.code}}' type="{{inp.type}}" pattern="{{inp.zipCodeType}}"
                           ng-model='vm.newAttendeeInfo[inp.code]' ng-class=" inp.valid === 'true' && ((attendeeForm.first_name.$dirty && attendeeForm.first_name.$invalid) ||
					(attendeeForm.last_name.$dirty && attendeeForm.last_name.$invalid)) ? 'required' : ''"
                           placeholder="{{ inp.valid === 'true' && ((attendeeForm.first_name.$dirty && attendeeForm.first_name.$invalid) ||
					(attendeeForm.last_name.$dirty && attendeeForm.last_name.$invalid)) ? 'Required' : inp.placeH}}"
                           required>
                    <input type="text" ng-if="inp.options.length == 0" ng-model="vm.newAttendeeInfo.custom_fields[inp.id].value">
                    <select class="select-country-holder"
	                    ng-model="vm.newAttendeeInfo.state"
	                    ng-if="(inp.code == 'state') && vm.newAttendeeInfo.country.trim() == 'United States'">
	                    <option 
	                    	ng-repeat="option in vm.united_states" ng-value="option.abbreviation" ng-selected="$index == vm.count_state">{{option.abbreviation}}
	                    </option>
	                </select>
                    <select class="select-country-holder"
						ng-if="(inp.code == 'country')"
						ng-model="vm.newAttendeeInfo.country">
		                <option 
	                    	ng-repeat="option in vm.all_countries track by $index" ng-value="option.name" ng-selected="$index == vm.count_country">{{option.name}}
	                    </option>
	            	</select>
                </span>

				<select ng-if="inp.type==3" class="custom_select" multiple ng-model="vm.newAttendeeInfo.custom_fields[inp.id].value"
                     style="-webkit-appearance:none;">
                    <option value="{{option.value}}" ng-repeat="option in inp.options"
                            ng-selected="option.value==vm.newAttendeeInfo.custom_fields[inp.id].value">
                        {{option.value}}
                    </option>
                </select>
                <select ng-if="inp.type==2" class="select-country-holder" 
                		ng-model="vm.newAttendeeInfo.custom_fields[inp.id].value"
                     	style="-webkit-appearance:none;">
                    <option value="{{option.value}}" ng-repeat="option in inp.options"
                            ng-selected="option.value==vm.newAttendeeInfo.custom_fields[inp.id].value">
                        {{option.value}}
                    </option>
                </select>
			</div>
			<div>
				<label>Attendee Photo</label>
				<span ngf-select="vm.uploadAttendeePhoto($files);" class="add_attendee_upload_link"
					 ngf-pattern="'image/*'"
					 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
					 ngf-drag-over-class="'dragover'" ngf-multiple="false">
					<div class="attendee-upload-image">
                        <div>
							<img ng-if='vm.newAttendeeInfo.attendee_photo' ng-src="{{vm.newAttendeeInfo.attendee_photo}}">
		                    <img ng-if='!vm.newAttendeeInfo.attendee_photo' src="/assets/images/default-profile-img.png">
                        </div>
                        <div>
                            Upload from computer
                        </div>
                    </div>
				</span>
				<span ngf-no-file-drop>File Drag/Drop is not supported for this browser</span>
			</div>
			<p>*Required</p>
		</form>

		<md-content style="background: inherit">
			<md-button class="md-raised md-primary btnC" ng-click="closeThisDialog()">Cancel</md-button>
			<md-button class="md-raised md-primary btnS" ng-click="vm.createAttendee(true, closeThisDialog);">Save</md-button>
			<md-button class="md-raised md-primary btnSA" ng-click="vm.saveAndAdd(true, closeThisDialog);">Save &amp; Add Another</md-button>
		</md-content>
	</div>
</div>