<div>
    <div class="conference-body">
        <div class="conference-sidebar-left">
            <div class="conference-sidebar-buttons">
                <div class="conference-sidebar-button"
                     ui-sref="home.conference_details({conference_id: vm.conference_id})"
                     ng-class="vm.selectedPane=='details' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text">
                        Details
                    </div>
                    <div ng-if="vm.selectedPane=='details'" class="conference-sidebar-button-text-subtitles">
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'details', 'users')"
                             ng-class="(vm.selectedType=='users') ? 'active' : ''"
                             ng-if="vm.hasEditButton()"
                             ui-sref="home.users({conference_id: vm.conference_id})">
                            Users
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'details', 'cover_screen')"
                             ng-class="(vm.selectedType=='cover_screen') ? 'active' : ''"
                             ng-if="vm.hasEditButton()"
                             ui-sref="home.cover_screen({conference_id: vm.conference_id})">
                            Cover Screen
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'details', 'social_tags')"
                             ng-if="vm.hasEditButton()"
                            ng-class="(vm.selectedType=='social_tags') ? 'active' : ''"
                            ui-sref="home.social_tags({conference_id: vm.conference_id})">
                            Social Tags
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'details', 'travel')"
                             ng-if="vm.hasEditButton()"
                            ng-class="(vm.selectedType=='travel') ? 'active' : ''"
                            ui-sref="home.travel({conference_id: vm.conference_id})">
                            Travel/Lodging
                        </div>
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ng-click="vm.selectType($event, 'attendees', null)"
                    ui-sref="home.attendees({conference_id: vm.conference_id})"
                    ng-class="vm.selectedPane=='attendees' ? 'conference-sidebar-button-selected' : ''">

                    <div class="conference-sidebar-button-text selectable-text"
                        ng-class="vm.selectedType==null && vm.selectedPane=='attendees' ? 'unclickable-type' : ''">
                        Attendees <span ng-if="vm.selectedPane=='attendees'">({{vm.attendees_total_count}})</span>
                    </div>
                    <div ng-if="vm.selectedPane=='attendees'" class="conference-sidebar-button-text-subtitles">
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'attendees', 'upload')"
                            ng-class="(vm.selectedType=='upload') ? 'active' : ''"
                            ng-show="vm.permissionsForManageAttendees()"
                            ui-sref="home.attendees_upload({conference_id: vm.conference_id})">
                            Upload Attendees List
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'attendees', 'upload')"
                            ng-class="(vm.selectedType=='materials') ? 'active' : ''"
                            ng-show="vm.permissionsForManageAttendees()"
                            ui-sref="home.attendee_materials({conference_id: vm.conference_id})">
                            Upload Materials
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'attendees', 'custom_fields')"
                            ng-class="(vm.selectedType=='custom_fields') ? 'active' : ''" ng-if="vm.permissionsForEditAttendeeFields()"
                            ui-sref="home.attendees_custom_fields({conference_id: vm.conference_id})">
                            Custom Attendee Fields
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                            ng-show="vm.permissionsForManageAttendees() && vm.conference.features.badge"
                            ng-click="vm.selectType($event, 'attendees', 'expo_badges')"
                            ng-class="(vm.selectedType=='expo_badges') ? 'active' : ''"
                            ui-sref="home.attendees_expo_badges({conference_id: vm.conference_id})">
                            Expo Badges
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                            ng-show="vm.permissionsForManageAttendees() && vm.conference.features.badge"
                            ng-click="vm.selectType($event, 'attendees', 'badge_print_settings')"
                            ng-class="(vm.selectedType=='badge_print_settings') ? 'active' : ''"
                            ui-sref="home.badge_print_settings({conference_id: vm.conference_id})">
                            Badge Print Settings
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                            ng-show="vm.permissionsForManageAttendees()"
                            ng-click="vm.selectType($event, 'attendees', 'manage_templates')"
                            ng-class="(vm.selectedType=='manage_templates') ? 'active' : ''"
                            ui-sref="home.attendees_templates({conference_id: vm.conference_id})">
                            Avery Templates
                        </div>
                        <!-- <div class="conference-sidebar-button-text-subtitle"
                            ng-show="vm.permissionsForManageAttendees()"
                            ng-click="vm.selectType($event, 'attendees', 'badges_rent_printer')"
                            ng-class="(vm.selectedType=='badges_rent_printer') ? 'active' : ''"
                            ui-sref="home.badges_rent_printer({conference_id: vm.conference_id})">
                            Rent On-Site Printers
                        </div> -->
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ui-sref="home.sessions({conference_id: vm.conference_id})"
                    ng-click="vm.selectType($event, 'sessions', null)"
                    ng-class="vm.selectedPane=='sessions' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text">
                        Sessions
                    </div>
                    <div ng-if="vm.selectedPane=='sessions'" class="conference-sidebar-button-text-subtitles">
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'sessions', 'upload')"
                            ng-class="(vm.selectedType=='upload') ? 'active' : ''"
                            ng-if="vm.permissionsForManageSessions()"
                            ui-sref="home.sessions_upload({conference_id: vm.conference_id})">
                            Upload Multiple Sessions
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'sessions', 'continuing_education')"
                            ng-class="(vm.selectedType=='continuing_education') ? 'active' : ''"
                            ng-if="vm.permissionsForManageSessions()"
                            ui-sref="home.sessions_continuing_education({conference_id: vm.conference_id})">
                            Continuing Education
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'sessions', 'sessions_speakers')"
                            ng-class="(vm.selectedType=='sessions_speakers') ? 'active' : ''"
                            ng-if="vm.permissionsForManageSessions()"
                            ui-sref="home.sessions_speakers({conference_id: vm.conference_id})">
                            Speakers
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'sessions', 'session_custom_fields')"
                            ng-class="(vm.selectedType=='session_custom_fields') ? 'active' : ''"
                            ng-if="vm.permissionsForManageSessions()"
                            ui-sref="home.sessions_custom_fields({conference_id: vm.conference_id})">
                            Custom Session Fields
                        </div>
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ui-sref="home.registration({conference_id: vm.conference_id})"
                    ng-click="vm.selectType($event, 'registration', null)"
                    ng-class="vm.selectedPane=='registration' ? 'conference-sidebar-button-selected' : ''"
                    ng-if="vm.permissionsForManageRegistration() && vm.testHasRegistration()">
                    <div class="conference-sidebar-button-text">
                        Registration
                    </div>
                    <div ng-if="vm.selectedPane=='registration'" class="conference-sidebar-button-text-subtitles">
                      <div class="conference-sidebar-button-text-subtitle"
                            ui-sref="home.registration_form({conference_id: vm.conference_id})"
                            ng-class="(vm.selectedType=='create_registration_form') ? 'active' : ''"
                            ng-click="vm.selectType($event, 'registration', 'create_registration_form'); $event.stopPropagation()">
                            {{vm.registrationFormComplete ? 'Form Overview' : 'Create Registration Form'}}
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'registration', 'registration_code'); $event.stopPropagation()"
                            ng-class="!vm.registrationFormComplete ? 'not-clickable' : (vm.selectedType=='registration_code' ? 'active' : '')"
                            ui-sref="home.registration_code({conference_id: vm.conference_id})">
                            Registration Code
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                            ng-click="vm.selectType($event, 'registration', 'registration_transactions'); $event.stopPropagation()"
                            ng-class="vm.selectedType=='registration_transactions' ? 'active' : ''"
                             ng-if="vm.registrationFormComplete"
                            ui-sref="home.registration_transactions({conference_id: vm.conference_id})">
                            Transactions
                        </div>
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ng-click="vm.openStartRegistrationFormPopup()"
                    ng-if="vm.permissionsForManageRegistration() && !vm.testHasRegistration()">
                    <div class="conference-sidebar-button-text">
                        Registration
                    </div>
                </div>
                <div class="conference-sidebar-button"
                     ng-click="vm.selectType($event, 'exhibitors', null)"
                     ui-sref="home.exhibitors({conference_id: vm.conference_id})"
                     ng-class="vm.selectedPane=='exhibitors' ? 'conference-sidebar-button-selected' : ''">
                   <div class="conference-sidebar-button-text selectable-text">
                       Exhibitors <span ng-if="vm.selectedPane=='exhibitors'">({{vm.exhibitor_total_count}})</span>
                   </div>
                   <div ng-if="vm.selectedPane=='exhibitors'" class="conference-sidebar-button-text-subtitles">
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'exhibitors', 'exhibitors_details')"
                             ng-class="(vm.selectedType=='exhibitors_details') ? 'active' : ''"
                             ui-sref="home.exhibitors_details({conference_id: vm.conference_id})">
                            Exhibiting Details
                        </div>
                        <div class="conference-sidebar-button-text-subtitle" ng-click="vm.selectType($event, 'exhibitors', 'edit_contact_support')"
                             ng-class="(vm.selectedType=='edit_contact_support') ? 'active' : ''"
                             ui-sref="home.edit_contact_support({conference_id: vm.conference_id})">
                            Support Contacts
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                             ng-show="vm.permissionsForManageExhibitors()"
                             ng-click="vm.selectType($event, 'exhibitors', 'upload_materials')"
                             ng-class="(vm.selectedType=='upload_materials') ? 'active' : ''"
                             ui-sref="home.exhibitors_upload_materials({conference_id: vm.conference_id})">
                            Upload Materials
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                             ng-show="vm.permissionsForManageExhibitors()"
                             ng-click="vm.selectType($event, 'exhibitors', 'exhibitors_list_upload')"
                             ng-class="(vm.selectedType=='exhibitors_list_upload') ? 'active' : ''"
                             ui-sref="home.exhibitors_upload({conference_id: vm.conference_id})">
                            Upload Exibitors List
                        </div>
                        <div class="conference-sidebar-button-text-subtitle"
                             ng-show="vm.verifyConferenceOwnerPermissions()"
                             ng-click="vm.selectType($event, 'exhibitors', 'payments')"
                             ng-class="(vm.selectedType=='payments') ? 'active' : ''"
                             ui-sref="home.exhibitors_payments({conference_id: vm.conference_id})">
                            Payments
                        </div>
                    </div>
                </div>
                <div class="conference-sidebar-button"
                     ng-click="vm.selectType($event, 'travel', null)"
                     ui-sref="home.notifications({conference_id: vm.conference_id})"
                     ng-class="vm.selectedPane=='notifications' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text selectable-text">
                       Push Notifications
                    </div>
                </div>
                <div class="conference-sidebar-button"
                     ui-sref="home.super_admin_revenue({conference_id: vm.conference_id})"
                     ng-class="vm.selectedPane=='revenue' ? 'conference-sidebar-button-selected' : ''"
                     ng-if="vm.superUserOn">
                    <div class="conference-sidebar-button-text selectable-text">
                        Revenue
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conference-details">
        <div ng-if="vm.selectedPane=='support'">
            SUPPORT
        </div>
        <div ng-if="vm.selectedPane=='details'" class="conference-details-parent" style="overflow-y: auto; height: calc(100vh - 78px);">
            <ng-include ng-if="vm.selectedType == null" src="'app/views/partials/conference/details.html'" class="conference-details-parent"></ng-include>
            <ng-include ng-if="vm.selectedType == 'cover_screen'" src="'app/views/partials/conference/conference_cover_screen.html'"></ng-include>
            <ng-include ng-if="vm.selectedType == 'social_tags'" src="'app/views/partials/conference/conference_social_tags.html'"></ng-include>
            <ng-include ng-if="vm.selectedType == 'users'" src="'app/views/partials/conference/users.html'">
            </ng-include>
            <ng-include ng-if="vm.selectedType=='travel'" src="'app/views/partials/conference/travel.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='attendees'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/partials/conference/attendees.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='upload'" src="'app/views/partials/conference/upload_attendee_csv.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='custom_fields'" src="'app/views/partials/conference/custom_fields.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='materials'" src="'app/views/partials/conference/attendee_materials.html'"></ng-include>

            <ng-include  ng-controller="manageExpoBadgesController" ng-if="vm.selectedType=='expo_badges'" src="'app/views/manage_templates/manage-expo-badges/manageExpoBadgesView.html'"></ng-include>

            <ng-include ng-controller="badgePrintSettingsController" ng-if="vm.selectedType=='badge_print_settings'" src="'app/views/manage_templates/badge-print-settings/badgePrintSettingsView.html'"></ng-include>
            <ng-include ng-controller="badgesRentPrinterController" ng-if="vm.selectedType=='badges_rent_printer'" src="'app/views/manage_templates/badge-rent-printer/badgeRentPrinterView.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='manage_templates'" src="'app/views/partials/conference/manage_templates.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='sessions'" >
            <ng-include src="'app/views/partials/conference/session_details.html'"
                        ng-if="(vm.sessionDetailsView!=null) && !(vm.sessionRegistrantsView || vm.sessionAttendeesView) && vm.selectedType==null">
            </ng-include>

            <ng-include src="'app/views/partials/conference/upload_attendees_to_session.html'"
                        ng-if="(vm.sessionDetailsView!=null) && !(vm.sessionRegistrantsView || vm.sessionAttendeesView) && vm.selectedType=='upload-attendees'">
            </ng-include>

            <ng-include src="'app/views/partials/conference/sessions.html'"
                        ng-if="(vm.sessionDetailsView==null) && !(vm.sessionRegistrantsView || vm.sessionAttendeesView) && vm.selectedType==null">
            </ng-include>
            <ng-include src="'app/views/partials/conference/session_registrants_attendees.html'"
                        ng-if="vm.sessionRegistrantsView || vm.sessionAttendeesView && (vm.selectedType==null)">
            </ng-include>
            <ng-include src="'app/views/partials/conference/upload_sessions.html'"
                        ng-if="vm.selectedType=='upload'">
            </ng-include>
            <ng-include src="'app/views/partials/conference/sessions_continuing_education.html'"
                        ng-if="vm.selectedType=='continuing_education'">
            </ng-include>
            <ng-include src="'app/views/partials/conference/add_sessions_speakers.html'"
                        ng-if="vm.selectedType=='sessions_speakers'">
            </ng-include>
            <ng-include src="'app/views/partials/conference/sessions_custom_fields.html'"
                        ng-if="vm.selectedType=='session_custom_fields'">
            </ng-include>
        </div>
        <div ng-if="vm.selectedPane=='registration'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/partials/conference/registration.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='create_registration_form'" src="'app/views/partials/conference/create_registration_form.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='registration_code'" src="'app/views/partials/conference/registration_code.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='registration_transactions'" src="'app/views/partials/conference/registration_transactions.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='exhibitors'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/partials/conference/exhibitors.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='exhibitors_details'" src="'app/views/partials/conference/exhibitors_details.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='edit_contact_support'" src="'app/views/partials/conference/exhibitors_support_contacts.html'">
            </ng-include>
            <ng-include ng-if="vm.selectedType=='upload_materials'" src="'app/views/partials/conference/exhibitor_materials.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='exhibitors_list_upload'" src="'app/views/partials/conference/exhibitors_list_upload.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='payments'" src="'app/views/partials/conference/payments.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='notifications'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/setupNotificationsView.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='manage'" src="'app/views/manageNotificationsView.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='revenue'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/superAdminRevenue.html'"></ng-include>
        </div>
    </div>
</div>
