<div ng-init="vm.render()">
    <div class="display-conf" style="height: initial;">
        <div class="add-conf" ng-if="vm.tabEmpty">
            <p ng-if="vm.previousConferences.length != 0">You have no upcoming conferences</p>
            <p ng-if="vm.previousConferences.length == 0">Begin by creating a new conference</p>
            <md-content>
                <md-button class="md-raised md-primary btn-add-conf" ui-sref="home.create_conf">Create a conference</md-button>
            </md-content>
        </div>
        <conf-tab ng-if="vm.tabFilled && !vm.isSuperAdmin"></conf-tab>
    </div>
    <div ng-if="!vm.isSuperAdmin">
        <div class="grid-table cursor">
            <table style="width:100%" ng-class="vm.previousConferences.length === 0 ? 'no-border-bottom' : ''">
                <thead>
                    <tr ng-class="vm.previousConferences.length > 0 ? 'border-bottom' : ''">
                        <th class="medium">Previous Conferences</th>
                        <th class="medium" ng-click="vm.sortByDate();" style="width: 18vw;">Conference Dates
                            <img ng-if="vm.previousConferences.length > 1" ng-src="{{vm.orderDesc ? '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}"
                                ng-click="vm.sortByDate()">
                        </th>
                        <th class="medium" style="width: 10vw;">City</th>
                        <th class="medium" style="width: 4vw;">State</th>
                        <th class="medium" style="width: 16vw;">Role</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.previousConferences.length >= 1">
                    <tr ng-repeat="conference in vm.previousConferences" ui-sref="{{(conference.conference_role == 'admin' || conference.conference_role == 'both') ?
                        'home.conference_details({conference_id: conference.conference_id })' : 'home.exhibitor_details({conference_id: conference.conference_id })'}}">
                        <td class="demi ellipsis">{{conference.name}}</td>
                        <td class="medium ellipsis" style="width: 18vw;">
                            {{conference.date_from | date:'M/d/yyyy':conference.time_zone}} - {{conference.date_to | date:'M/d/yyyy':conference.time_zone}}
                        </td>
                        <td class="medium ellipsis" style="width: 10vw;">{{conference.city}}</td>
                        <td class="medium ellipsis" style="width: 4vw;">{{conference.state}}</td>
                        <td class="medium ellipsis" style="width: 16vw;">{{vm.formatRole(conference.conference_role, conference.user_role, false)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="no-previous-conferences" ng-if="vm.previousConferences.length === 0">You have no previous conferences at this time</div>
        </div>
    </div>
    <div ng-if="vm.isSuperAdmin">
        <div class="grid-table grid-table-super-admin cursor">
            <table style="width:100%" ng-class="vm.conferences.length === 0 ? 'no-border-bottom' : ''">
                <thead>
                    <tr ng-class="vm.conferences.length > 0 ? 'border-bottom' : ''">
                        <th class="medium">Conferences</th>
                        <th class="medium" ng-click="vm.sortByDate();" style="width: 18vw;">Conference Dates
                            <img ng-if="vm.conferences.length > 1" ng-src="{{vm.orderDesc ? '/assets/images/conference-table-order-ico.png' : '/assets/images/conference-table-order-ico-asc.png'}}"
                                ng-click="vm.sortByDate()">
                        </th>
                        <th class="medium" style="width: 10vw;">City</th>
                        <th class="medium" style="width: 4vw;">State</th>
                        <th class="medium" style="width: 16vw;">Role</th>
                    </tr>
                </thead>
                <tbody ng-if="vm.conferences.length >= 1">
                    <tr ng-repeat="conference in vm.conferences" ui-sref="home.conference_details({conference_id: conference.conference_id })">
                        <td class="demi ellipsis">{{conference.name}}</td>
                        <td class="medium ellipsis" style="width: 18vw;">
                            {{conference.date_from | date:'M/d/yyyy':conference.time_zone}} - {{conference.date_to | date:'M/d/yyyy':conference.time_zone}}
                        </td>
                        <td class="medium ellipsis" style="width: 10vw;">{{conference.city}}</td>
                        <td class="medium ellipsis" style="width: 4vw;">{{conference.state}}</td>
                        <td class="medium ellipsis" style="width: 16vw;">{{vm.formatRole(conference.conference_role, conference.user_role, false)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="no-previous-conferences" ng-if="vm.conferences.length === 0 && SharedProperties.conferenceSearchQuery == '' ">You have no previous conferences at this time</div>
            <div class="no-previous-conferences" ng-if="vm.conferences.length === 0 && SharedProperties.conferenceSearchQuery != '' ">No conferences found with this name.</div>
        </div>
    </div>
</div>

<ng-include src="'app/views/partials/marketing/linkedin_tag.html'"></ng-include>
