<div class="dash-cr">
	<p>Enter Your Conference Information</p>
	<form name="form" class="sheet">
		<div>
			<label>Conference Name</label>
			<input type="text" ng-model="vm.conf.name" name="conf_name" style=" border-radius: 5px;">
		</div>
		<div>
			<label>Dates</label>

			<div style="margin-right: 50px; position: relative;">
				<i class="fa fa-calendar input-icon" aria-hidden="true"></i>
				<input 
					style="margin-right: 0; border-radius: 5px;"
				   	id="conference_start_date"
			   		name="date_from"
               		placeholder="Starts At"
               		ng-model="vm.conf.date_from"
               		ng-readonly="true"
					moment-picker="vm.conf.date_from"
				   	max-date="vm.conf.date_to"
				   	min-date="vm.currentDate"
					format="M/D/YYYY"
				   	change="vm.presetDate()">
				
				<span>to</span>
				<i class="fa fa-calendar input-icon" aria-hidden="true"></i>
				<input 
					style="margin-right:0; border-radius: 5px;" id="conference_end_date"
                   	name="date_to"
                   	ng-readonly="true"
					placeholder="Ends At"
					ng-model="vm.conf.date_to"
				   	moment-picker="vm.conf.date_to"
					min-date="vm.conf.date_from !== undefined && vm.conf.date_from !== true ? vm.conf.date_from : vm.currentDate"
					start-view="day"
				   	format="M/D/YYYY">
			</div>
		</div>
        <div>
            <label>Conference Website</label>
            <input style=" border-radius: 5px;" type="text" ng-model="vm.conf.website" name="website">
        </div>
		<div>
			<label>Venue</label>
			<input style=" border-radius: 5px;" type="text" ng-model="vm.conf.venue" name="venue"
			ng-class="form.venue.$touched && form.venue.$invalid ? 'required' : ''"
			placeholder="{{form.venue.$touched && form.venue.$invalid ? 'Venue Required' : ''}}">
		</div>
        <div>
            <label>Venue Phone Number</label>
            <input style=" border-radius: 5px;" type="text" ng-model="vm.conf.venue_phone_number" name="venue_phone_number">
        </div>
		<div>
			<label>Street Address</label>
			<input style=" border-radius: 5px;" type="text" ng-model="vm.conf.street" name="street_address"
			ng-class="form.street_address.$touched && form.street_address.$invalid ? 'required' : ''"
			placeholder="{{form.street_address.$touched && form.street_address.$invalid ? 'Street Address Required' : ''}}">
		</div>
		<div>
			<label>City</label>
			<input style=" border-radius: 5px;" type="text" ng-model="vm.conf.city" name="city" ng-class="form.city.$touched && form.city.$invalid ? 'required' : ''"
			placeholder="{{form.city.$touched && form.city.$invalid ? 'City Required' : ''}}">
		</div>
		<div>
			<label>State</label>
			<div>
				<input style="margin-right: 292px; width:65px; border-radius: 5px;" type="text" ng-model="vm.conf.state" name="state"
				ng-class="form.state.$touched && form.state.$invalid ? 'required' : ''"
				placeholder="{{form.state.$touched && form.state.$invalid ? 'State Required' : '--'}}"
				ng-if="vm.conf.country != vm.all_countries[0]">
				<select style="margin-right: 292px; width:87px; background-color: #fff; -webkit-appearance:none; border-radius: 5px;"
					ng-if="vm.conf.country == vm.all_countries[0]"
                    ng-model="vm.conf.state"
                    ng-options="option.abbreviation for option in vm.united_states">
                </select>
			</div>
		</div>
		<div>
			<label>Zip Code</label>
			<input type="text" ng-model="vm.conf.zip_code" name="zip_code" style=" border-radius: 5px;"
			   ng-class="form.zip_code.$touched && form.zip_code.$invalid ? 'required' : ''"
			   placeholder="{{form.zip_code.$touched && form.zip_code.$invalid ? 'Zip Code Required' : ''}}">
		</div>
		<div>
			<label>Country</label>
			<select
				style="width: 329px; height: 42px; background-color: #fff; -webkit-appearance:none;"
			 	ng-class="form.country.$touched && form.country.$invalid ? 'required' : ''"
                ng-model="vm.conf.country"
                ng-options="option.name for option in vm.all_countries">
            </select>
		</div>
		<div style="margin-bottom: 12px;">
			<label>Venue Website</label>
			<input type="text" ng-model="vm.conf.venue_url" name="venue_url" style=" border-radius: 5px;">
		</div>
        <div style="margin-bottom: 30px;">
            <label>Enable Attendee App</label>
            <div class="flex-row" style="align-items: center; margin-left: 0; margin-right: 50px;">
                <div class="button-attendee-functionality cursor"
                    ng-class="vm.conf.exhibitor_only == false ? 'button-attendee-selected' : ''"
                    ng-click="vm.conf.exhibitor_only = false;" style="margin-top: 0;">On</div>
                <div class="button-attendee-functionality cursor" style="margin-left: 10px;"
                    ng-class="vm.conf.exhibitor_only == true ? 'button-attendee-selected' : ''"
                    ng-click="vm.conf.exhibitor_only = true;">Off</div>
            </div>
        </div>
		<div class="predef">
			<label>Conference Logo</label>
            <div class="drop-box drag-class" id="my-upload-button"
                 ngf-select="vm.changeConferenceLogo($files);"
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="50"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <a>
                    <img style="position: relative; right: 15px;" ng-src="{{vm.conf.logo ? vm.conf.logo : '/assets/images/conference-default-logo.png'}}" err-src="/assets/images/user.svg" class="img-circle conference-img-small">
                    Upload from computer
                </a>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
		</div>
		<p>*Required</p>
		<md-content class="bottom-btns">
	     	<md-button ng-click="vm.createConf()" class="md-raised md-primary btn-save" ng-class="vm.createConferenceButtonClickable ? '' : 'unclickable'">Create</md-button>
	     	<md-button ui-sref="home.conference" class="md-raised md-primary btn-cancel">Cancel</md-button>
		</md-content>
	</form>
</div>
