<div class="dash">
	<div class="center-tab flex-row" style="flex-direction: row; justify-content: space-around; height: 300px;">
		<div class="tab">
			<p class="bold">For exhibitors:</p>
			<button type="button" ui-sref='home.exhibitor_join_conference'>JOIN</button>
		</div>
		<div class="tab">
			<p class="bold">For conference owners:</p>
			<button type="button" ui-sref='home.create_conf'>CREATE</button>
		</div>
	</div>
</div>
