<div>
    <div class="conference-body">
        <div class="conference-sidebar-left">
            <div class="conference-sidebar-buttons">
                <div class="conference-sidebar-button"
                     ui-sref="home.exhibitor_details({conference_id: vm.conference_id})"
                     ng-class="vm.selectedPane=='details' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text">
                        Details
                    </div>
                    <div ng-if="vm.hasEditButton()" class="conference-edit-icon cursor" ng-click="vm.action('details')"></div>
                </div>
                <div class="conference-sidebar-button"
                    ui-sref="home.exhibitor_users({conference_id: vm.conference_id})"
                    ng-class="vm.selectedPane=='users' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text">
                        Users <span ng-if="vm.selectedPane=='users'">({{vm.exhibitorUsers.length}})</span>
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ng-click="vm.selectType($event, 'company_profile', null)"
                    ui-sref="home.exhibitor_company_profile({conference_id: vm.conference_id})"
                    ng-class="vm.selectedPane=='company_profile' ? 'conference-sidebar-button-selected' : ''">

                    <div class="conference-sidebar-button-text selectable-text" 
                        ng-class="vm.selectedType==null && vm.selectedPane=='company_profile' ? 'unclickable-type' : ''">
                        Company Profile
                    </div>
                </div>
                <div class="conference-sidebar-button"
                    ui-sref="home.exhibitor_lead_retrieval({conference_id: vm.conference_id})"
                    ng-class="vm.selectedPane=='lead_retrieval' ? 'conference-sidebar-button-selected' : ''">
                    <div class="conference-sidebar-button-text">
                        Lead Retrieval
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="conference-details">
        <div ng-if="vm.selectedPane=='details'" class="conference-details-parent">
            <ng-include  src="'app/views/partials/exhibitor/details.html'" class="conference-details-parent"></ng-include>
        </div>

        <div ng-if="vm.selectedPane=='users'">
            <ng-include  src="'app/views/partials/exhibitor/users.html'"></ng-include>
        </div>

        <div ng-if="vm.selectedPane=='company_profile'" style="overflow-y: auto; height: 92vh;">
            <ng-include  src="'app/views/partials/exhibitor/company_profile.html'"></ng-include>
        </div>

        <div ng-if="vm.selectedPane=='lead_retrieval'">
            <ng-include  src="'app/views/partials/exhibitor/lead_retrieval.html'"></ng-include>
        </div>
        <!-- <div ng-if="vm.selectedPane=='attendees'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/partials/conference/attendees.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='upload'" src="'app/views/partials/conference/upload_attendee_csv.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='custom_fields'" src="'app/views/partials/conference/custom_fields.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='manage_templates'" src="'app/views/partials/conference/manage_templates.html'"></ng-include>
        </div>
        <div ng-if="vm.selectedPane=='sessions'" >
            <ng-include src="'app/views/partials/conference/session_details.html'"
                        ng-if="(vm.sessionDetailsView!=null) && !(vm.sessionRegistrantsView || vm.sessionAttendeesView)">
            </ng-include>
            <ng-include src="'app/views/partials/conference/sessions.html'"
                        ng-if="(vm.sessionDetailsView==null) && !(vm.sessionRegistrantsView || vm.sessionAttendeesView)">
            </ng-include>
            <ng-include src="'app/views/partials/conference/session_registrants_attendees.html'"
                        ng-if="vm.sessionRegistrantsView || vm.sessionAttendeesView">
            </ng-include>
        </div>
        <div ng-if="vm.selectedPane=='exhibitors'">
            <ng-include ng-if="vm.selectedType==null" src="'app/views/partials/conference/exhibitors.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='exhibitors_details'" src="'app/views/partials/conference/exhibitors_details.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='edit_contact_support'" src="'app/views/partials/conference/exhibitors_support_contacts.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='payments'" src="'app/views/partials/conference/payments.html'"></ng-include>
            <ng-include ng-if="vm.selectedType=='upload_materials'" src="'app/views/partials/conference/exhibitor_materials.html'"></ng-include> -->
        </div>
    </div>
</div>