<div class="dash">
	<div class="center-tab">
		<div class="tab">
			<p class="join-intructions" style="text-align: center; line-height: 28px">To join a conference as an exhibitor, please type in the unique<br>
			 Pass Key that was given to you by the conference host<br>
			 and tap the JOIN button.</p>
			 <div class="exhibitor-pass-key flex-row">
			 	<input type="text" id="passkey1" autofocus
			 		ng-change="vm.focus(2); vm.conference_pass_key[0] = vm.conference_pass_key[0].toUpperCase();" ng-model="vm.conference_pass_key[0]" maxlength="1">
			 	<input type="text" id="passkey2" 
			 		ng-change="vm.focus(3); vm.conference_pass_key[1] = vm.conference_pass_key[1].toUpperCase();" ng-model="vm.conference_pass_key[1]" maxlength="1">
			 	<input type="text" id="passkey3" 
			 		ng-change="vm.focus(4); vm.conference_pass_key[2] = vm.conference_pass_key[2].toUpperCase();" ng-model="vm.conference_pass_key[2]" maxlength="1">
			 	<input type="text" id="passkey4" 
			 		ng-change="vm.focus(5); vm.conference_pass_key[3] = vm.conference_pass_key[3].toUpperCase();" ng-model="vm.conference_pass_key[3]" maxlength="1">
			 	<input type="text" id="passkey5" 
			 		ng-change="vm.focus(6); vm.conference_pass_key[4] = vm.conference_pass_key[4].toUpperCase();" ng-model="vm.conference_pass_key[4]" maxlength="1">
			 	<input type="text" id="passkey6" 
			 		ng-change="vm.focus(0); vm.conference_pass_key[5] = vm.conference_pass_key[5].toUpperCase();" ng-keypress="vm.joinConferenceEnter($event)"
			 		ng-model="vm.conference_pass_key[5]" maxlength="1">
			 </div>
			<button class="join-conference-btn" type="button" ng-click="vm.joinConference()">JOIN</button>
		</div>
	</div>
</div>