.conference-attendees-choose-file-wrapper {
  margin-bottom:30px;
}
.conference-attendees-choose-file-wrapper .file-upload-button {
  width:237px;
}

.field-mapping-wrapper .mapping-actions-wrapper.bigger {
  height: calc(100vh - 75px - 68px);
}

.field-mapping-wrapper .mapping-actions-wrapper.bigger .half {
  height: calc(100vh - 75px - 68px - 30px);
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.mandatory {
  border: 3px dashed #ff6666;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.mandatory:hover {
  background-color: #ff6666;
  color: white;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.mandatory:hover .field-name {
  color: white;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.mandatory:hover .field-mandatory-message {
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field .field-mandatory-message {
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
  color: white;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.active.mandatory {
  border: 3px dashed #8bd0ef;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.active.mandatory:hover {
  background-color: #8bd0ef;
}
