<div class="session-body">

  <div class="session-tabs">

    <div class="session-days-slider-rail">
      <div class="session-days-holder">
          <div class="session-day tab-item" ng-repeat="day in sessionsPerDay" ng-click="selectDay(day)" ng-class="selectedDay == day ? 'active' : ''">
              {{day.formattedDay}}
          </div>
      </div>
    </div>

    <div class="session-scroll-tab" ng-class="{'hidden': hideNavigationArrows}">
        <div class="session-scroll-button tab-item" ng-click="scrollLeft()">
          <
        </div>
        <div class="session-scroll-button tab-item" ng-click="scrollRight()">
          >
        </div>
    </div>

    <div class="session-add-tab">
        <div class="session-add-button-holder tab-item">
          <div class="session-add-button" ui-sref="conferences.dashboard.sessions.create">
              <i class="fa fa-plus-circle" style="font-size: 17px; color: #26a7de; position: relative; top: 1px; top:2px; right:20px;"></i>
              ADD SESSION
          </div>
        </div>
    </div>

  </div>

  <div class="session-table" ng-if="selectedDay.sessions.length > 0">
      <div class="session-table-head">
        <div class="session-table-md" ng-click="orderSessionsByField('starts_at')">
          <div class="session-table-name">
            Times
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'starts_at'"></span>
          </div>
        </div>
        <div class="session-table-lg" ng-click="orderSessionsByField('title')">
          <div class="session-table-name">
            Session
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'title'"></span>
          </div>
        </div>
        <div class="session-table-md" ng-click="orderSessionsByField('session_type')">
          <div class="session-table-name">
            Type
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'session_type'"></span>
          </div>
        </div>
        <div class="session-table-md" ng-click="orderSessionsByField('sessionspeaker_set[0].speaker.first_name')">
          <div class="session-table-name">
            Speakers
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'sessionspeaker_set[0].speaker.first_name'"></span>
          </div>
        </div>
        <div class="session-table-sm" ng-click="orderSessionsByField('nr_registered')">
          <div class="session-table-name">
            Registrants
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'nr_registered'"></span>
          </div>
        </div>
        <div class="session-table-sm" ng-click="orderSessionsByField('nr_scanned')">
          <div class="session-table-name">
            Attendees
            <span ng-class="sortReverse ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" ng-if="sortType == 'nr_scanned'"></span>
          </div>
        </div>
      </div>
      <div class="session-table-body">
        <div class="session-table-row" ng-repeat="session in selectedDay.sessions | orderBy : sortType : sortReverse" ui-sref="conferences.dashboard.sessions.details({'session_id' : session.id})">
          <div class="session-table-md">
            {{session.starts_at_time }} - {{session.ends_at_time }}
          </div>
          <div class="session-table-lg">
            {{session.title}}
          </div>
          <div class="session-table-md">
            {{session.session_type | sessionTypeFilter}}
          </div>
          <div class="session-table-md">
            <div class="session-speaker" ng-repeat="speaker in session.speakers">
              <div class="profile-image" style="background-image:url({{speaker.headshot_url}});background-size:cover;">
                <div ng-if="!speaker.headshot_url">{{speaker.first_name[0]}}{{speaker.last_name[0]}}</div>
              </div>
              <div class="session-speaker-data">
                {{speaker.first_name}} {{speaker.last_name}}
                <br>
                <span class="session-speaker-company">{{speaker.company}}</span>
              </div>
            </div>
          </div>
          <div class="session-table-sm">
            {{session.nr_registered || 0}}
          </div>
          <div class="session-table-sm">
            {{session.nr_scanned || 0}}
          </div>
        </div>
      </div>
  </div>

  <div class="nosession-add-wrapper" ng-if="selectedDay.sessions.length == 0">
      <div class="nosession-add-title">
        There are currently no sessions on this day
      </div>
      <div class="nosession-add-button" ui-sref="conferences.dashboard.sessions.create">
        ADD SESSION
      </div>
  </div>

</div>
