.session-body {
  position: relative;
  background-color: rgb(250,250,250);
}

.session-table-body {
  height: calc(100vh - 75px - 70px - 68px);
  overflow-y: scroll;
}

.hidden {
  visibility: hidden;
}

.active {
  background-color: white;
}

.session-tabs{
  font-size: 0;
  border-bottom: 1px solid #cecece;
  position: relative;
  z-index: 1;
  background-color: inherit;
}

// TABS

.tab-item{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  line-height: 68px;
  vertical-align: middle;
}

// DAYS

.session-days-slider-rail {
  display: inline-block;
  vertical-align: middle;
  width: calc(100vw - 200px - 80px - 240px);
  overflow: hidden;
}

.session-days-holder {
  transition: 0.2s ease;
}

.session-day {
  border-right: 1px solid #cecece;
  cursor: pointer;
  width: calc(0.2 * (100vw - 200px - 80px - 240px));
  font-family: "AvenirNextLTPro-Regular";
  text-align: center;
  white-space: nowrap;
  background-color : #fafafa;
}

.session-day.active {
  background-color: white;
}
// SCROLL

.session-scroll-tab{
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  box-shadow: -3px -2px 10px 0px #88888866;
}

.session-scroll-button{
  border-left: 1px solid #cecece;
  cursor: pointer;
  width: 50%;
  font-family: "AvenirNextLTPro-Regular";
  text-align: center;
}

// ADD

.session-add-tab{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 240px;
  height: 68px;
  border-left: 1px solid #cdcdcd;
  box-sizing: border-box;
  line-height: 68px;
}

.session-add-button-holder{
  width: 160px;
}

// .fa-plus-circle {
//   font-size: 18px;
//   color: #26a7de;
//   position: relative;
//   right: 15px;
//   top: 2px;
// }

.session-add-button {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  height: 30px;
  line-height: 32px;
  font-family: 'AvenirNextLTPro-Demi';
  font-size: 12px;
  color: #4a4a4a;
  cursor: pointer;
}

// TABLE

.session-table {
  font-size: 0px;
  width: 100%;
  background-color: rgb(250,250,250);
}

.session-table-head {
  box-sizing: border-box;
  border-bottom: 2px solid #cecece;
  line-height: 68px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.session-table-head > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Regular";
}

.session-table-order-icon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  margin-bottom: 3px;
  background-image: url("/assets/images/conference-table-order-ico-asc.png");
  background-repeat: no-repeat;
}

.session-table-order-icon.ascending {
    background-image: url("/assets/images/conference-table-order-ico.png");
}

.session-table-head > div:hover {
  cursor: pointer;
}

.session-table-row {
  box-sizing: border-box;
  border-bottom: 2px solid #cecece;
  line-height: 68px;
  cursor: pointer;
}

.session-table-row:hover {
  background-color: white;
}

.session-table-row > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Demi";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
  box-sizing: border-box;
}

.session-table-sm {
  width: 10%;
  text-align: center;
}

.session-table-md {
  width: 17%;
}

.session-table-md:first-child {
  box-sizing: border-box;
  padding-left: 20px;
}

.session-table-lg {
  width: 29%;
}

.session-speaker {
  padding-top: 15px;
  line-height: 1;
}

.session-speaker:last-child {
  padding-bottom: 15px;
}

.session-speaker-data {
  display: inline-block;
  vertical-align: middle;
}

.session-speaker-company {
  font-size: 12px;
  font-family: "AvenirNextLTPro-Regular";
}

// ADD (NO SESSIONS)

.nosession-add-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 100px;
  width: 600px;
  height: 200px;
  border: 1px solid #cecece;
}

.nosession-add-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);

  white-space: nowrap;
  font-size: 16px;
  font-family: $font-family-medium;
}

.nosession-add-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 237px;
  height: 42px;
  line-height: 45px;
  border: 1px solid #9b9b9b;
  border-radius: 25px 25px 25px 25px;
  background-color: #68aa3b;
  text-align: center;
  font-family: 'AvenirNextLTPro-Bold';
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.session-speaker .profile-image {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  background-color: #cdcdcd;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
}

.session-speaker .session-speaker-data {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
