<div class="options-menu-holder options-menu-order">
	<div class="order-toolbar-title">Enter Order Details</div>
	<div class="order-toolbar-options">
		<div class="order-date-container">
			<div class="order-date-text">Date Needed:</div>
			<input class="order-date-picker" placeholder="MM / DD / YYYY">
		</div>
		<div class="order-subtotal">
			Subtotal: <span class="order-subtotal-price">{{10 + 900 | currency : '$' : 2}}</span>
		</div>
		<div class="order-checkout-button">BEGIN CHECKOUT</div>
	</div>
</div>
