.options-menu-order{
  color: #4a4a4a;
  line-height: 72px;
}
.order-toolbar-title{
  font-size: 20px;
  font-family: $font-family-demi;
  float: left;
}
.order-toolbar-options{
  float: right;
  display: block;
}
.order-toolbar-options .order-date-container{
  display: inline-block;
  margin-right: 61px;
}
.order-date-container .order-date-text{
  display: inline-block;
  margin-right: 7px;
  font-size: 14px;
  font-family: $font-family-medium;
}
.order-date-container .order-date-picker{
  display: inline-block;
  @include shape(148px, 40px, 0);
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  font-family: $font-family-medium;
}
.order-toolbar-options .order-subtotal{
  margin-right: 46px;
  display: inline-block;
  font-size: 14px;
  font-family: $font-family-medium;
}
.order-subtotal .order-subtotal-price{
  display: inline-block;
  font-family: $font-family-bold;
  margin-left: 13px;
}
.order-toolbar-options .order-checkout-button{
  display: inline-block;
  @include shape(140px, 30px, 20px);
  background-color: #00ade4;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  font-family: $font-family-demi;
  color: #fff;
}
