<div class="modal-wrapper avery-redirect-modal">
	<i class="fa fa-th"></i>
	<div class="text-line">Which template do you want to use?</div>
	<select ng-options="template.label for template in templates track by template.id" ng-model="selectedTemplate" ng-change="notifyChange(selectedTemplate)"></select>
	<div class="go-button" ng-click="callAction(modalData)">Next</div>
</div>
