<div class="action-bar-button-with-menu" ng-click="eventHandler($event, showContextualMenu)" ng-class="{'visible': showContextualMenu, 'not-allowed': buttonNotAllowed}">
	<action-bar-button icon="{{icon}}" name="{{name}}" event="{{event}}" ng-class="{'align-icon' : name === 'Align'}"></action-bar-button>
	<div class="arrow-down"></div>
	<list-contextual-menu menu-data="{{contextualMenuData}}"></list-contextual-menu>
</div>
