.action-bar-button-with-menu {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		margin-right: 10%;
		width: 90px;

    text-align: center;

    opacity: 0.6;
    cursor: pointer;

    transition: opacity .2s ease;
}

.action-bar-button-with-menu:hover {
    opacity: 1;
}

.action-bar-button-with-menu:last-child {
		margin-right: 0;
}

.action-bar-button-with-menu .action-bar-button {
		margin-right: 0;
    z-index: -1;
    position: relative;
    opacity: 1;

    width: 100%;

    background-color: white;

    transition: background-color .3s ease;
}

.action-bar-button-with-menu .arrow-down {
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #727272;
    cursor: pointer;

    position: absolute;
    top: 40%;
    right: 20%;
}

.action-bar-button-with-menu.visible {
    opacity: 1;
}

.action-bar-button-with-menu.not-allowed,  .action-bar-button-with-menu.not-allowed .action-bar-button{
		opacity: 0.6;
		cursor: not-allowed;
}

.action-bar-button-with-menu.visible .action-bar-button {
    background-color: #e4e7e9;
}
