<div class="upper-settings-wrapper">
	<div class="rail">
		<div class="container left">
			<generic-data-search-box configuration="upperConfig.search_box" shared="share"></generic-data-search-box>
			<generic-days-selector configuration="upperConfig.date_filter" shared="share"></generic-days-selector>
		</div>
		<div class="container center">
			<generic-actions-selector actions="upperConfig.actions"></generic-actions-selector>
			<selected-items-further-actions></selected-items-further-actions>
		</div>
		<div class="container right">
			<generic-page-interactor></generic-page-interactor>
			<generic-filter-list-creator fields="upperConfig.fields" shared="share"></generic-filter-list-creator>
			<generic-settings-tool fields="upperConfig.fields" table-densities="upperConfig.table_density" shared="share" removed-items-meta="upperConfig.show_removed"></generic-settings-tool>
			<generic-share></generic-share>
		</div>
	</div>

</div>
