.upper-settings-wrapper {
	height: 68px;
	border-bottom: 1px solid #CDCDCD;
	box-sizing: border-box;
	line-height: 68px;
	font-size: 0;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0;
}

.upper-settings-wrapper .container {
	display: inline-block;
	vertical-align: middle;
	height: 68px;
}

.upper-settings-wrapper .container.left {
	border-right: 1px solid #CECECE;
	box-sizing: border-box;
}

.upper-settings-wrapper .container.center {
	box-sizing: border-box;
	min-width: 0px;
}

.upper-settings-wrapper .container.right {
	box-sizing: border-box;
}

.upper-settings-wrapper .container.right::before {
	content: '';
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}
