<div class="flex-column browser-popup">
	<p class="medium">This application is designed to work with the latest release of Chrome.</p>
	<div class="demi cursor" ui-sref="home.conference" ng-click="closeThisDialog()">ACCEPT</div>
</div>