<div class="acc-center" ng-init="vm.verifyIfAccountIsConfirmed();">
    <div class="acc">
        <div class="acc-top">
            <img src="../assets/images/expo_logo.png">
        </div>
        <div class="container-center-signup">

            <div class="confirm-account">
                <p>Please verify your account by entering the 4<br/>digit passcode that we sent to your email<br/>address.</p>
                <div class="digit-inputs">
                    <form name="digits">
                        <input type="text" name="1" id="digit1" ng-model="vm.digits_code[0]" aria-required='true' ng-paste="vm.pasted = true" ng-change="vm.focus(2)" autofocus/>

                        <input type="text" name="2" id="digit2" ng-model="vm.digits_code[1]" aria-required='true' 
                               ng-change="vm.focus(3)" />

                        <input type="text" name="3" id="digit3" ng-model="vm.digits_code[2]" aria-required='true' 
                               ng-change="vm.focus(4)" />

                        <input type="text" name="4" id="digit4" ng-model="vm.digits_code[3]" aria-required='true'
                               ng-change="vm.focus(0)" />
                    </form>
                </div>
                <md-content>
                    <md-button class="md-raised md-primary btn submit-digits-code" ng-click="vm.verifyAccount()">Submit</md-button>
                </md-content>
            </div>
        </div>
        <div class="acc-bottom bottom-height">
            <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 25px;">
                Can't find passcode?
                <a ng-click="vm.resendVerificationEmail()">Resend now</a>
            </div>
        </div>
    </div>
</div>
	