<ng-include ng-if="env='PROD'" src="'app/views/partials/marketing/facebook_pixel.html'"></ng-include>

<div class="log-center">
	<div class="log">
		<div class="top">
			<img src="../assets/images/expo_logo_svg.svg">
		</div>
		<div class="container-center">
			<form class="mid" name="mid" ng-if="vm.login">
				<md-input-content>
					<input class="user inp" type="text" name="username" aria-required="true" 
							ng-model="vm.user.email" 
							ng-class="mid.username.$touched && mid.username.$invalid ? 'required' : (mid.username.$pristine ? '' : 'valid')" 
							placeholder="{{mid.username.$touched && mid.username.$invalid ? 'Incorrect email' : 'Email'}}"/>

					<input class="pass inp" type="password" name="password" aria-required="true" 
							ng-model="vm.user.pass"
							ng-class="(mid.password.$touched && mid.password.$invalid) ? 'required' : (mid.password.$pristine ? '' : 'valid')" 
							placeholder="{{mid.password.$touched && mid.password.$invalid ? 'Incorrect password' : 'Password'}}"/>
				</md-input-content>
				<md-content>
	     			<md-button ng-click="vm.login()" class="md-raised md-primary btn login">
	     					LOG IN
	     			</md-button>
				</md-content>
				<a ng-click="vm.login = false; vm.forgotPass = true;">Forgot password?</a>
			</form>
			<div ng-if="!vm.login && vm.forgotPass" class="forgot-pass">
				<p>Enter your email address and we'll send you a <br/> temporary password.</p>
				<form name="email_address">
					<input type="email" name="valid_email" aria-required="true" 
					ng-model="vm.input_email" 
					ng-class="((email_address.valid_email.$touched && email_address.valid_email.$invalid) || (vm.invalid_email)) ? 'required' : ''"
					placeholder="{{(email_address.valid_email.$touched && email_address.valid_email.$invalid) ? (vm.invalid_email ? 'Invalid Email Address' : 'Email Address Required ') : 'Your email address'}}" 
					/>
				</form>

				<md-content>
					<md-button class="md-raised md-primary btn submit" ng-click="vm.forgotPassword();">Submit</md-button>
				</md-content>
			</div>
			<div ng-if="vm.sentScreen" class="sent-email-screen">
				<p>We sent you a message</p>
				<p>Please check your email for your temporary<br/>password. Please return here to log in.</p>
				<md-content>
					<md-button class="md-raised md-primary btn ok cursor" ng-click="vm.loginWithTempPass()">ok</md-button>
				</md-content>
			</div>
			<div ng-if="vm.newPass" class="new-password">
				<p>Please create a new password</p>
				<form name="new_pass" class="new-pass-form">
					<input type="password" name="password" aria-required="true" 
					ng-model="vm.new_password"
					ng-class="new_pass.password.$touched && new_pass.password.$invalid ? 'required' : ''"
					placeholder="{{new_pass.password.$touched && new_pass.password.$invalid ? 'Invalid Password' : 'Password'}}" 
					/>
					<input type="password" name="password2" aria-required="true" 
					ng-model="vm.confirmed_password"
					ng-class="new_pass.password2.$touched && new_pass.password2.$invalid ? 'required' : ''"
					placeholder="{{new_pass.password2.$touched && new_pass.password2.$invalid ? 'Incorrect Password' : 'Re-enter Password'}}" 
					/>
				</form>
				<md-content>
					<md-button class="md-raised md-primary btn submit-new-pass" ng-click="vm.resetAccountPassword()">Submit</md-button>
				</md-content>
			</div>
		</div>
		<div class="bottom" ng-class="!vm.login ? 'bottom-height': ''">
			<md-content ng-if="vm.login">
				<md-button ui-sref="signup" class="md-raised md-primary btn btn-cr">CREATE A FREE ACCOUNT</md-button>
			</md-content>
			<a ng-if="vm.forgotPass" ng-click="vm.backToLogin()">Log In</a>
		</div>
	</div>
</div>