
<ng-include src="'app/views/partials/marketing/linkedin_tag.html'"></ng-include>
<ng-include src="'app/views/partials/marketing/facebook_pixel.html'"></ng-include>
<div class="wrap" ng-class="vm.blurred" ng-init='vm.renderStyle()'>
	<header conference-details="vm.conference" edit="vm.editMode"></header>

	<div ng-class="{'overflow-scroll': vm.displayConference, 'overflow-scrollbar-active': vm.displayScrollBar}" style="background-color: #EDF0F2; overflow-y: auto;">
		<div ui-view></div>
		<footer></footer>
	</div>
</div>
