<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" ng-href="{{vm.registration_form.custom_css}}" ng-if="vm.registration_form.custom_css">
<input type="hidden" id="formUrl" ng-value="vm.conference.website" />
<div class="registration-form-ifrm" ng-class="vm.blurred" id="expo-form" style="overflow-y: auto;">
    <div style="background-color: #444; width:100%; min-height: 100vh;">
        <div id="expoForm2" style="width: 100%; height: 100%; margin-left: auto; margin-right: auto;" ui-view="form-container"></div>
    </div>
</div>
<script type="text/javascript">

    setInterval(function() {
        var height2 = (document.getElementById("expoForm2") != undefined)?document.getElementById("expoForm2").scrollHeight:300;
        parent.postMessage(height2, "*");
    },1000);

    function newView() {
        console.log('new view');
    }

</script>
