<div style="margin-left:50px; margin-top:50px;" ng-if="vm.loadingNotificatioStatus" ng-init="toggleCreditsDropDown = false;">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true" style="color: #9b9b9b; font-size: 30px;
        cursor: pointer;"></i>
</div>

<div class="notifications-initial-purchase-wrapper" ng-if="!vm.loadingNotificatioStatus">
    <div class="push-notifications-information-holder">
        <div class="informations-half description">
            <div class="feature-explainer">
                <i class="fa fa-bell" aria-hidden="true" style="font-size: 90px; text-align: center; margin-bottom: 16px; color: #26A7DE;"></i>
                <div class="feature-title">
                    Push Notifications
                </div>
                <div class="feature-description medium-bolder">
                    Keep your attendees and exhibitors up to date by purchasing push notification credits.
                    <br> 1 credit is required per attendee per notification sent.
                </div>
                <div class="feature-pricing medium">
                    ${{ vm.oneBatchPrice }} <span class="medium-bolder"> for 1,000 credits </span>
                </div>
            </div>

        </div>
        <div class="informations-half purchase">
            <div class="feature-explainer">

                <div class="feature-description demi">How many push notification credits do you wish to purchase?</div>

                <div class="feature-description light medium">Save {{ vm.discountPercentage }}% when you buy more than 5,000 credits at a time</div>
                <div class="credits-dropdown-holder">
                    <div class="credits-dropdown">
                        <div class="credits-dropdown-select bold credits-drop-down" ng-click="toggleCreditsDropDown = !toggleCreditsDropDown; $event.stopPropagation();">
                          {{vm.currentNotificationsNumber  | number : 0}}
                          <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 30px; vertical-align: middle;"></i>
                          <div class="credits-dropdown-options-container" style="{{toggleCreditsDropDown ? '' : 'display: none;'}}" click-outside="toggleCreditsDropDown = false;">
                              <div class="credits-dropdown-option" ng-repeat="price in vm.notificationCreditsDropdown"
                                  ng-click="vm.selectThisPriceForNotificationDropDown(price); toggleCreditsDropDown = false;">
                                {{price | number : 0}}
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="notifications-price-holder">
                    = {{vm.finalPrice | currency:"$":0}}
                </div>

                <div class="buy-notifications-button" ng-click="vm.buyNotifications(vm.currentNotificationsNumber, vm.finalPrice)"> Next </div>
            </div>
        </div>
    </div>

</div>
