<div class="acc-center" ng-init="vm.verifyIfAccountIsConfirmed();">
	<div class="acc">
		<div class="acc-top">
			<img src="/assets/images/expo_logo_svg.svg">
		</div>
		<div class="container-center-signup">		
			<form class="mid-signup" name="signup" ng-if="vm.createAccount">
				<md-input-content>
					<input class="acc-inp" type="text" name="fname" ng-model="vm.acc.fname" required
					ng-class="signup.fname.$invalid && signup.fname.$touched ? 'required' : (mid-signup.fname.$pristine ? '' : 'valid') "
					placeholder="{{(signup.fname.$touched && signup.fname.$invalid) ? 'First Name is Required' : 'First Name'}}"
					>

					<input class="acc-inp" type="text" name="lname" ng-model="vm.acc.lname" required
					ng-class="signup.lname.$invalid && signup.lname.$touched ? 'required' : (mid-signup.lname.$pristine ? '' : 'valid') "
					placeholder="{{(signup.lname.$touched && signup.lname.$invalid) ? 'Last Name is Required' : 'Last Name'}}"
					>

					<input class="acc-inp" type="email" name="email" ng-model="vm.acc.email" required
					ng-class="signup.email.$invalid && signup.email.$touched ? 'required' : (mid-signup.email.$pristine ? '' : 'valid') "
					placeholder="{{(signup.email.$touched && signup.email.$invalid) ?
					(vm.acc.email === '' ?  'Email Address is Required' : 'Invalid Email Address ') :
					(vm.invalidUniq ? 'This field must be unique' : 'Email Address')}}"
					>

					<input class="acc-inp" type="password" name="pass" ng-model="vm.acc.pass" aria-required='true' maxlength="16" 
					ng-class="signup.pass.$invalid && signup.pass.$touched ? 'required' : (mid-signup.pass.$pristine ? '' : 'valid') "
					placeholder="{{(signup.pass.$touched && signup.pass.$invalid) ?
					((vm.acc.pass === '' && vm.acc.confPass === '') ? '' : 'Password is Required') : 'Password'}}"
					>

					<input class="acc-inp" type="password" name="confPass" ng-model="vm.acc.confPass" aria-required='true' maxlength="16" 
					placeholder="Confirm Password" 
					>
				</md-input-content>
				<md-content>
					<md-button type="submit" class="md-raised md-primary btn acc-cr" 
								ng-click="vm.createAcc()"> 
							CREATE ACCOUNT
					</md-button>
				</md-content>
				<div class="terms-holder">
					By creating an account you agree to the <br></br> <a href="http://www.expopass.com/terms-of-use" target="_blank">Terms of Use</a> and <a href="http://www.expopass.com/privacy-policy" target="_blank">Privacy Policy</a>.
				</div>
			</form>
			<div ng-if="vm.messageBeforeConfirmation" style="margin-top: 56px;" class="no-paragraph-margins">
				<p class="demi" style="font-size: 14px; text-align: center;">We sent you a message.</p>
				<p class="medium" style="font-size: 14px; text-align: center; margin-top: 25px; margin-bottom: 48px;">
					Please check your email for your passcode,<br>then return here to verify your account.
				</p>
				<div ng-click="vm.messageBeforeConfirmation = false; vm.confirmAccount = true;" class="bold" 
					style="width: 230px; height: 40px; border-radius: 20px; 
					background-color: #26a7de; text-align: center; line-height: 40px; color: #fff; margin-bottom: 24px;
					margin-left: auto; margin-right: auto; font-size: 14px;">
						OK
				</div>
			</div>
			<div ng-if="vm.confirmAccount" class="confirm-account">
				<p>Please verify your account by entering the 4<br>digit passcode that we sent to your email<br/>address.</p>
				<div class="digit-inputs">
				<form name="digits">
					<input type="hidden" ng-model="vm.userEmail"/>
					<input type="text" name="1" id='digit1' ng-model="vm.digits_code[0]" required
							ng-change="vm.focus(2)" autofocus/>

					<input type="text" name="2" id="digit2" ng-model="vm.digits_code[1]" aria-required='true' 
							ng-change="vm.focus(3)" />

					<input type="text" name="3" id="digit3" ng-model="vm.digits_code[2]" aria-required='true' 
							ng-change="vm.focus(4)" />

					<input type="text" name="4" id="digit4" ng-model="vm.digits_code[3]" aria-required='true' 
							ng-change="vm.focus(0)" />
				</form>
				</div>
				<md-content>
					<md-button class="md-raised md-primary btn submit-digits-code" ng-click="vm.verifyAccount()">Submit</md-button>
				</md-content>
			</div>
		</div>
		<div class="acc-bottom" ng-class="vm.messageBeforeConfirmation == true ? 'bottom-height' : ''">
			<a ng-if="vm.createAccount" ui-sref="login">Already have an account? Log in</a>
			<div ng-if="vm.confirmAccount" class="bottom-height">
				Can't find passcode?
				<a ng-click="vm.resendVerificationEmail()">Resend now</a>
			</div>
		</div>
	</div>
</div>
	