<div class="revenue-main-container">
    <div class="top-containers">
        <div class="revenue-registration-container">
            <p class="container-title">Registration</p>
            <div class="container-top">
                <p>{{vm.totalNumberOfRegistrants}} Total Registrants</p>
                <div class="registration-graph-container">
                    <div class="registration-graph-container-list-content">
                        <div class="registration-graph-container-content" ng-repeat="level in vm.registration_revenue.levels">
                            <div class="graph-level-name">{{level.name}}</div>
                            <div class="registration-graph-level-name-separator"></div>
                            <div class="graph-details-wrapper">
                                <div class="registration-graph-bar-container">
                                    <div class="registration-graph-bar" style="width: {{ (level.nr_registrants / vm.totalNumberOfRegistrants)*100 }}%"></div>
                                    <div class="graph-nr-registrants">{{level.nr_registrants}}</div>
                                </div>
                                <div class="graph-total-revenue">{{level.total_revenue | currency : '$' : 2}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-bottom">
                <div class="registration-revenue-container-bottom-details">
                    <div class="demi">Total Registration Revenue</div>
                    <div style="color: #68aa3b" class="bold">
                      {{(vm.registration_revenue.total_registration_revenue ? vm.registration_revenue.total_registration_revenue : 0) | currency : '$' : 2}}
                    </div>
                </div>
                <div class="registration-revenue-container-bottom-details">
                    <div>Registration Fees</div>
                    <div>{{(vm.registration_revenue.total_fees_revenue ? vm.registration_revenue.total_fees_revenue : 0) | currency : '$' : 2}}</div>
                </div>
                <div class="registration-revenue-container-bottom-details">
                    <div>Expo Revenue</div>
                    <div>{{(vm.registration_revenue.total_expo_fee ? vm.registration_revenue.total_expo_fee : 0) | currency : '$' : 2}}</div>
                </div>
            </div>
        </div>

        <div class="revenue-exhibitors-container">
            <p class="container-title">Exhibitors</p>
            <div class="container-top">
                <div class="flex-row exhibitors-container-circles">
                    <div class="revenue-container-data-circle">
                        <p>{{vm.exhibitor_revenue.nr_exhibitors}}</p>
                        <p>Total Exhibitors</p>
                    </div>
                    <div class="revenue-container-data-circle">
                        <p>{{vm.exhibitor_revenue.nr_exhibitor_users}}</p>
                        <p>Exhibitor Users</p>
                    </div>
                    <div class="revenue-container-data-circle">
                        <p>{{vm.exhibitor_revenue.nr_leads}}</p>
                        <p>Total Scans</p>
                    </div>
                </div>
                <div>
                    <p>Lead Retrieval Exhibitors ({{vm.exhibitor_revenue.total_lead_retrieval_revenue_count}})</p>
                    <p>{{vm.exhibitor_revenue.total_lead_retrieval_revenue | currency : '$' : 2}}</p>
                </div>
                <div>
                    <p>Additional User Lead Retrieval ({{vm.exhibitor_revenue.total_additional_users_revenue_count}})</p>
                    <p>{{vm.exhibitor_revenue.total_additional_users_revenue | currency : '$' : 2}}</p>
                </div>
            </div>
            <div class="container-bottom">
                <div>
                    <p class="demi">Total Lead Retrieval Revenue</p>
                    <p class="bold" style="color: #68aa3b;">{{vm.exhibitor_revenue.total_exhibitor_revenue | currency : '$' : 2}}</p>
                </div>
                <p>Payment Method:<span> {{vm.exhibitor_revenue.payment_method}}</span></p>
            </div>
        </div>
    </div>
    <div class="bottom-containers">
        <div class="revenue-organizer-container">
            <p class="container-title">Organizer</p>
            <div class="flex-column container-top">
                <div class="revenue-container-data-circle">
                    <p>{{vm.conference_revenue.nr_total_users}}</p>
                    <p>Total Users</p>
                </div>
                <div class="organizer-revenue-container-details">
                    <div>Paid Additional Users ({{vm.conference_revenue.nr_additional_users}})</div>
                    <div>{{vm.conference_revenue.total_conference_users_revenue | currency : '$' : 2}}</div>
                </div>
            </div>
            <div class="container-bottom">
                <div class="organizer-revenue-container-details">
                    <div>Total Organizer Revenue</div>
                    <div>{{vm.conference_revenue.total_conference_organizer_revenue | currency : '$' : 2}}</div>
                </div>
            </div>
        </div>

        <div class="revenue-overall-conference-container">
            <div class="container-top">
                <p class="container-title">Overall Conference Revenue</p>
                <p>{{vm.overall_revenue.total_revenue | currency : '$' : 2}}</p>
            </div>
            <div class="container-bottom">
                <div id="super-admin-overall-revenue-graph"></div>
            </div>
        </div>
    </div>
</div>
