<div class="support-main-wrapper">
    <div class="main-top-wrapper">
        <input type="text" class="search-users-input" placeholder="Search by last name, company, or email" ng-model="vm.searchQuery" ng-change="vm.searchUsers(vm.searchQuery)" ng-model-options="{ debounce: 300 }"></input>
    </div>
    <div class="support-table-container">
        <div class="support-table-head">
            <div class="table-item-value user">User Name</div>
            <div class="table-item-value email">Email</div>
            <div class="table-item-value phone">Phone</div>
            <div class="table-item-value company">Company</div>
            <div class="table-item-value code">Verification Code</div>
        </div>
        <div class="support-table-items-container">
            <support-table-item ng-repeat="user in vm.users" user="user"></support-table-item>
        </div>
    </div>
</div>