.dynamic-header {
  position: relative;
  align-items: center;
  z-index:3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.dynamic-header .logo-holder {
    display: inline-block;
    vertical-align: middle;

    height: 43px;
    width: 43px;

    margin-right: 7px;
}

.dynamic-header .logo-holder img {
    width: 43px;
    height: 43px;
}

.dynamic-header .conference-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
  margin: 0px;
  overflow: hidden;
  width: calc(100% - 100px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dynamic-header .change-logo-header-button {
    display: inline-block;
    vertical-align: middle;

    color: #26A7DE;
    font-family: "AvenirNextLTPro-Regular";
    font-size: 14px;

    margin-left: 4px;
    margin-right: 10px;

    cursor: pointer;
}

.dynamic-header .conference-title-input-holder {
    display: inline-block;
    vertical-align: middle;

    width: auto;

    line-height: 70px;
}
