<div class="head flex-row dynamic-header">
	<div style="width: 74px; border-right: 1px solid #cdcdcd; height: inherit;" ui-sref="conferences.overview">
		<img src="assets/images/expo_icon_svg.svg" class="head-logo" style="cursor: pointer; margin-left: 17px; margin-top: 17px; width: 38px;">
	</div>

	<div style="margin-right: auto; margin-left: 14px; height: 70px; width: 100%; max-width: calc(100% - 75px - 250px - 50px); min-width: calc(100% - 75px - 500px - 50px);">
		<div class="logo-holder">
			<img ng-src=" {{ coverScreenOptions.temporaryLogoUrl || conferenceLogo || '/assets/images/conference-default-logo.png' }} "></img>
		</div>
		<div class="change-logo-header-button" ngf-select="changeConferenceLogo($files, conferenceDetails);" ngf-pattern="'image/*'"
		 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-min-width="100" ngf-drag-over-class="'dragover'" ngf-multiple="false"
		 ng-if="conferenceIsInEditMode">
			Change </br> Logo
		</div>
		<p class="bold conference-name" style="font-size: 18px; color: #4a4a4a;" ng-if="!conferenceIsInEditMode">{{ conferenceName }}</p>
		<div class="conference-title conference-title-input-holder" ng-if="conferenceIsInEditMode">
			<input class="conference-title conf-inp" type="text" ng-model="conferenceName" ng-change="notifySpecificsControllerOfTitleChange(conferenceName)" />
		</div>
	</div>
	<div class="flex-row" style="align-items: center;">
		<div class="btn1 cursor" ui-sref="conferences.overview" style="color: #4a4a4a">
			MY EVENTS
		</div>
	</div>
	<div class="user-info" ng-click="openAccountProfile()">
		<useravatar image="currentUser.profile_url" firstname="currentUser.first_name" lastname="currentUser.last_name">
		</useravatar>
	</div>
</div>
