    <div class="exhibitor-regular-profile-users">
    <div class="flex-row">
        <form name="exhibitorUserEmailForm">
            <input name="exhibitorUserEmailInput" placeholder="Enter User Email to Add" type="email"
                ng-model="exhibitorUserModel.invited_user_email">
        </form>
        <div class="cursor"
             ng-class="exhibitorUserEmailForm.exhibitorUserEmailInput.$valid && exhibitorUserModel.invited_user_email.length > 0 ?
              (is_active ? 'exhibitor-user-edit-permissions-button-active' : 'exhibitor-user-valid-email') : 'unclickable-type'"
             ng-click="is_active = !is_active" click-outside="is_active = false">HAS PERMISSION TO...
            <i class="fa fa-sort" aria-hidden="true"
                style="color: #26a7de; font-size: 18px; margin-left: 6.5px; position: relative; top: 2px;">
            </i>
            <div class="exhibitor-user-edit-permissions-panel flex-column" style="cursor: default;" ng-if="is_active" ng-click="$event.stopPropagation()">
                <div ng-repeat="userPermission in newExhibitorUserPermissions" class="flex-row">
                    <div class="checkbox-ico cursor" ng-class="exhibitorUserModel[userPermission[1]] ? 'active' : ''"
                         ng-click="changeNewExhibitorUserPermission(userPermission[1]); $event.stopPropagation();"></div>
                    <p>{{userPermission[0]}}</p>
                </div>
            </div>
        </div>
        <div class="cursor" ng-class="exhibitorUserEmailForm.exhibitorUserEmailInput.$valid && exhibitorUserModel.invited_user_email.length > 0  ?
                'exhibitor-user-valid-email' : 'unclickable-type'" ng-click="addNewExhibitorUser(exhibitorUserModel)">ADD USER
        </div>
    </div>
    <div class="flex-column">
        <super-admin-exhibitor-user-profile ng-repeat="exhibitorUser in exhibitorUsers" class="flex-row"
                 exhibitor-user-index="$index" exhibitor-user-data="exhibitorUser"></super-admin-exhibitor-user-profile>
    </div>
</div>