.upload-attendees-wrapper {
	width: 100%;
	height: calc(100vh - 70px);

	background-color: white;
	position: relative;
}

.upload-attendees-wrapper .conference-upload-body {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -100%);
	text-align: center;

	width: 100%;
}

.upload-attendees-wrapper .conference-upload-body .upload-csv-custom-icon {
	background-image: url(/assets/images/upload-csv-custom-ico.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;

	margin: 0px auto;
}

.upload-attendees-wrapper .conference-upload-body .upload-csv-instructions {
	margin-top: 30px;
	margin-bottom: 30px;

	font-family: 'AvenirNextLTPro-Regular';
	font-size: 20px;
	color: #4a4a4a;
}

.upload-attendees-wrapper .conference-upload-body .conference-attendees-choose-file-wrapper .file-upload-button {
	display: inline-block;
	height: 30px;
	line-height: 30px;

	padding-left: 25px;
	padding-right: 25px;


	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;

	cursor: pointer;
	color: #4a4a4a;
	background-color: white;
	transition: background-color .2s ease, color .2s ease, border .2s ease;
}

.upload-attendees-wrapper .conference-upload-body .conference-attendees-choose-file-wrapper .file-upload-button:hover {
	background-color: #4a4a4a;
	border: 1px solid transparent;
	color: white;
}

.field-mapping-wrapper {
	height: calc(100vh - 75px);
	width: 100%;
}

.field-mapping-wrapper .instructions-wrapper {
	height: 220px;
	width: 100%;
	background-color: #fafafa;
	position: relative;
}

.field-mapping-wrapper .buttons-container {
	width: 100%;
	height: 68px;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;

	padding-left: 30px;
	padding-right: 30px;

	box-sizing: border-box;
	font-size: 0;

	box-shadow: -5px 9px 17px -10px #a5a5a5;
	position: relative;
	background-color: white;
}

.field-mapping-wrapper .mapping-actions-wrapper {
	width: 100%;
	height: calc(100vh - 220px - 75px - 68px);
	background-color: white;
	font-size: 0;

	overflow: hidden;
}

.field-mapping-wrapper .instructions-wrapper .example-holder {
    position: relative;
    padding-top: 54px;
    margin-bottom: 36px;
		text-align: center;
}
.field-mapping-wrapper .instructions-wrapper .instructions-text {
	font-family: 'AvenirNextLTPro-Regular';
  font-size: 20px;
  color: #4a4a4a;
	text-align: center;
}

.field-mapping-wrapper .instructions-wrapper .csv-dismiss-button {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;

	position: absolute;
	right: 20px;
	bottom: 10px;
	margin-top: -20px;
	font-size: 30px;

	color: white;
	background-color: #b6e0f3;
	border-radius: 50%;
	cursor: pointer;
}

.field-mapping-wrapper .instructions-wrapper.smaller {
	height: 50px;
}

.field-mapping-wrapper .instructions-wrapper.smaller .csv-dismiss-button {
	line-height: 33px;
	font-size: 24px;
}

.field-mapping-wrapper .buttons-container .file-details {
	width: calc(100% - 168px - 20px - 168px - 20px);
	height: 100%;
	display: inline-block;
	vertical-align: middle;

	margin-right: 20px;
}

.field-mapping-wrapper .buttons-container .action-buttons-wrapper {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.field-mapping-wrapper .buttons-container .action-buttons-wrapper .button {
	width: 168px;
	height: 30px;

	display: inline-block;
	vertical-align: middle;

	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;

	color: #4a4a4a;
	transition: background-color .2s ease, color .2s ease, border .2s ease;

	cursor: pointer;
}

.field-mapping-wrapper .buttons-container .action-buttons-wrapper .button.save {
	background-color: #68aa3b;
	color: white;
	border: 1px solid #68aa3b;
	margin-left: 20px;
}

.field-mapping-wrapper .buttons-container .action-buttons-wrapper .button:hover {
	background-color: #4a4a4a;
	color: white;
	border: 1px solid #4a4a4a;
}

.field-mapping-wrapper .buttons-container .action-buttons-wrapper .button.save:hover {
	background-color: white;
	color: #68aa3b;
	border: 1px solid #68aa3b;
}

.field-mapping-wrapper .buttons-container .file-details .button {
	width: 220px;
}

.field-mapping-wrapper .buttons-container .file-details .button.with-icon {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
}

.field-mapping-wrapper .buttons-container .file-details .file-name-wrapper {
	max-width: calc(100% - 220px - 20px);
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	height: 100%;
}

.field-mapping-wrapper .buttons-container .file-details .file-name-wrapper .fa {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
}

.field-mapping-wrapper .buttons-container .file-details .file-name-wrapper .file-name {
	width: calc(100% - 18px - 14px);
	height: 66px;

  display: inline-block;
  vertical-align: middle;

	line-height: 70px;
	font-size: 16px;

	font-family: 'AvenirNextLTPro-Regular';

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.field-mapping-wrapper .mapping-actions-wrapper .half {
	width: 50%;
	height: calc(100vh - 220px - 75px - 68px);

	display: inline-block;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	padding-left: calc((50% - 174px - 45px - 174px)/2);
  padding-right: calc((50% - 174px - 45px - 174px)/2);

	box-sizing: border-box;
}

.field-mapping-wrapper .mapping-actions-wrapper .half.computed-fields {
	border-right: 2px dashed #cdcdcd;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .attendee-custom-id-wrapper {
	font-size: 14px;
	text-align: left;
	margin-bottom: 20px;
	opacity: 0.6;
	pointer-events: none;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .attendee-custom-id-wrapper.active {
	opacity: 1;
	pointer-events: all;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field {
	width: 168px;
	height: 66px;

	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
	margin-bottom: 30px;
	background-color: white;

	border: 3px dashed #8bd0ef;
	border-radius: 5px;

	cursor: pointer;
	position: relative;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field::before {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field:nth-child(2n) {
	margin-right: 0;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field .field-values-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field .field-values-wrapper .field-name {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	line-height: 24px;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.source {
	border: 1px solid #cdcdcd;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field .undo-mapping {
	position: absolute;
	font-size: 14px;
	color: white;
	top: 0;
	right: 0;
	opacity: .5;
	cursor: pointer;
	padding: 4px;
	transition: opacity .3s ease;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field .undo-mapping:hover {
	opacity: 1;
}

.field {
	width: 168px;
	height: 66px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
	margin-bottom: 30px;
	background-color: white;

	border: 3px dashed #8bd0ef;
	border-radius: 5px;

	cursor: pointer;
}

.field::before {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.field .field-values-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.field.source {
	background-color: white;
	border: 1px solid #cdcdcd;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}


.field .field-values-wrapper .field-name {
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	line-height: 24px;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.active {
	background-color: #8bd0ef;
}

.field-mapping-wrapper .mapping-actions-wrapper .half .field.destination.active .field-values-wrapper .field-name {
	color: white;
}


.top-part {
	transform: translateY(-290px);
	opacity: 0;

	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.6, 1), transform .2s cubic-bezier(0.4, 0.0, 0.6, 1);
}

.top-part.active {
	transform: translateY(0);
	opacity: 1;
	background-color: transparent;
}

.bottom-part {
	transform: translateY(calc(100vh - 220px - 75px - 68px));
	opacity: 0;

	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.6, 1), transform .2s cubic-bezier(0.4, 0.0, 0.6, 1);
}

.bottom-part.active {
	transform: translateY(0);
	opacity: 1;
}
