<div class="warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #26a7de; font-size: 64px;"></i>
  <div ng-if="areAllChecked">
    Are you sure that you want to delete all<br/>{{attendeeType}} attendees? This will permanently remove<br/>them from your session.
  </div>
	<div ng-if="!areAllChecked && checkedAttendees.length > 1">
		Are you sure that you want to delete these<br/>{{attendeeType}} attendees? This will permanently remove<br/>them from your session.
	</div>
  <div ng-if="!areAllChecked && checkedAttendees.length <= 1">
    Are you sure that you want to delete this<br/>{{attendeeType}} attendee? This will permanently remove<br/>the {{attendeeType}} attendee from your session.
  </div>

	<div>
		<md-content>
			<md-button class="md-raised md-primary cancel-delete" ng-click="closeThisDialog();">
				Cancel
			</md-button>
			<md-button class="md-raised md-primary delete-all" style="margin-left: 110px;"
				ng-click="deleteAttendeesFromSession(); closeThisDialog();">
				<span ng-if="areAllChecked">Delete All</span>
				<span ng-if="!areAllChecked">Delete</span>
			</md-button>
			</md-button>
		</md-content>
	</div>
</div>
