<div class="payments-modals">
    <div ng-if="vm.buyUsersPaymentStep==1">
        <div class="modal-attendee" style="margin-left: 0px;">
            <h3 class="review-and-purchase">Review and Purchase Your Order</h3>

            <div class="payment-type-subtitle" style="padding-left: 35px; margin-top:20px; padding-bottom: 20px;">

                <div class="payment-type-subtitle-bold" style="float:left;">
                    <input type="number"
                           min="1"
                           style=" margin-left: 0; margin-right: 20px;"
                           class="payment-markup-input"
                           ng-model="vm.nrUsers"/>
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    Event Users
                </div>

                <div class="payment-type-subtitle-bold" style="float:left; margin-left:20px;">
                    ${{vm.conference.user_fee}}
                </div>

                <div class="payment-type-subtitle-bold" style="float:left; margin-left:20px;">
                    each
                </div>

                <div class="payment-type-subtitle-bold" style="float:left">
                    <div class="payment-total" style="position: absolute;
                        right: 50px;
                   ">
                        ${{vm.nrUsers * vm.conference.user_fee > 0? vm.nrUsers * vm.conference.user_fee : 0}}
                    </div>
                </div>
            </div>

            <div class="payment-type-subtitle" style="
                clear:both; margin-left: 35px; margin-top: 200px; width: 556px; border-top: 1px solid #cdcdcd">
                <div class="payment-description"  style="text-align: left;
                padding-top: 20px;
                padding-left: 145px;">

                    <div class="payment-message">
                        <!--Charge to your credit card ending in {{$parent.user.last4}}:-->
                    </div>

                    <div class="payment-change-credit-card payment-action-txt" ng-click="$parent.changeCreditCard();">
                        <!--Change Credit card number-->
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-attendee" style="margin-left: 0px;">
            <md-content class="payment-form-buttons">
                <md-button class="md-raised md-primary btnC" ng-click="closeThisDialog()">Cancel</md-button>
                <md-button class="md-raised md-primary btnS" ng-click="vm.buyUsersPaymentStep=2" style="float:right;">Next</md-button>
            </md-content>
        </div>
    </div>
    <div ng-if="vm.buyUsersPaymentStep==2">

        <div class="modal-attendee payment-information">
            <h3>Enter Your Payment Information</h3>
            <form id='payment-form'>
                <div style="display: block">
                    <label>Credit Card Number</label>
                    <input class="inp-data" type="text"
                           data-stripe="number"
                           maxlength="16" id="CCN"
                           autocomplete="cc-number"
                           ng-blur="vm.checkTypeOfCard()"
                           onkeydown="return ( event.ctrlKey || event.altKey
                            || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                            || (95<event.keyCode && event.keyCode<106)
                            || (event.keyCode==8) || (event.keyCode==9)
                            || (event.keyCode>34 && event.keyCode<40)
                            || (event.keyCode==46) )"
                           style="margin-left: 94px">
                    <div style="width: 306.77px; margin-left: 230px; margin-top: 3px; height: 40px;">
                        <div><img ng-src="{{vm.CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
                        <div><img ng-src="{{vm.CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
                        <div style="margin-right: 0;margin-bottom: 10px;">
                            <img ng-src="{{vm.CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}">
                        </div>
                    </div>
                </div>
                <div>
                    <label>Expiration Date</label>
                    <input class="inp-data" type="text"
                           data-stripe="exp"
                           autocomplete="cc-exp"
                           placeholder="MM/YYYY"
                           style="width: 93px; height: 40px;margin-right: 265px;">
                </div>
                <div>
                    <label>CVV </label>
                    <input class="inp-data" type="text"
                           data-stripe="cvc"
                           placeholder="###"
                           autocomplete="cc-csc"
                           onkeydown="return ( event.ctrlKey || event.altKey
                        || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                        || (95<event.keyCode && event.keyCode<106)
                        || (event.keyCode==8) || (event.keyCode==9)
                        || (event.keyCode>34 && event.keyCode<40)
                        || (event.keyCode==46) )"
                           style="width: 49px; height: 40px; margin-right: 309px;">
                </div>
                <div>
                    <label>Billing Zip Code</label>
                    <input class="inp-data" type="text"
                           data-stripe="address_zip"
                           style="width: 93px; height: 40px;margin-right: 265px;">
                </div>

                <div>
                    <label>Name on Card</label>
                    <input class="inp-data" type="text"
                           autocomplete="cc-name"
                           data-stripe="name">
                </div>
            </form>
            <p>Refunds will not be made unless there are performance or service issues with the service/technology.</p>
        </div>

        <div class="modal-attendee" style="margin-left: 0px;">
            <md-content class="payment-form-buttons">
                <md-button class="md-raised md-primary btnC"
                           ng-click="vm.buyUsersPaymentStep=1">Back</md-button>
                <md-button class="md-raised md-primary btnS" ng-click="vm.buyUsers(closeThisDialog);" style="float:right; margin-right: 0;">Purchase</md-button>
            </md-content>
        </div>
    </div>

</div>
