.create-account-copy {
	font-size: 11px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4a4a4a;
	width: 55%;
	margin: 0px auto;
	margin-bottom: 10px;
}

.create-account-copy span {
	font-family: 'AvenirNextLTPro-Demi';
	cursor: pointer;
}

.create-account-copy span:hover {
	text-decoration: underline;
}

.container-center .account-form .agreement-copy-wrapper {
	width: 310px;
	font-size: 12px;
	margin: 0px auto;
	text-align: left;
	margin-bottom: 30px;
	color: #818181;
	font-size: 0px;
}

.container-center .account-form .agreement-copy-wrapper .create-account-checkbox {
	width: 18px;
	height: 18px;
	border: 1px solid #979797;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: white;
	transition: background-color .2s ease, border .2s ease;
	cursor: pointer;
}

.container-center .account-form .agreement-copy-wrapper .create-account-checkbox .fa {
	font-size: 14px;
  line-height: 17px;
  color: white;
}

.container-center .account-form .agreement-copy-wrapper .create-account-checkbox.active {
	background-color: #26A7DE;
	border: 1px solid #26A7DE;
}

.container-center .account-form .agreement-copy-wrapper .agreement-text {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 28px);
	font-size: 12px;
	margin-left: 10px;
}

.container-center .account-form .agreement-copy-wrapper .agreement-text span {
	font-family: 'AvenirNextLTPro-Demi';
	cursor: pointer;
}

.container-center .account-form .agreement-copy-wrapper .agreement-text span:hover {
	text-decoration: underline;
}
