<ng-include ng-if="environment === 'PROD'" src="'app/_scenes/account/googleTagManagerScript.html'"></ng-include>
<div class="container-center create">
  <form class="account-form" name="signup" ng-if="!vm.showAccountVerificationMessage">
    <input type="text" name="fname" ng-model="vm.newUser.firstName" required ng-class="signup.fname.$invalid && signup.fname.$touched ? 'required' : (mid-signup.fname.$pristine ? '' : 'valid') " placeholder="{{(signup.fname.$touched && signup.fname.$invalid) ? 'First Name is Required' : 'First Name'}}"></input>
    <input type="text" name="lname" ng-model="vm.newUser.lastName" required ng-class="signup.lname.$invalid && signup.lname.$touched ? 'required' : (mid-signup.lname.$pristine ? '' : 'valid') " placeholder="{{(signup.lname.$touched && signup.lname.$invalid) ? 'Last Name is Required' : 'Last Name'}}"></input>
    <input type="email" name="email" ng-model="vm.newUser.emailAddress" required ng-class="signup.email.$invalid && signup.email.$touched ? 'required' : (mid-signup.email.$pristine ? '' : 'valid') " placeholder="{{(signup.email.$touched && signup.email.$invalid) ? (vm.acc.email === '' ?  'Email Address is Required' : 'Invalid Email Address ') : (vm.invalidUniq ? 'This field must be unique' : 'Email Address')}}"></input>
    <input type="password" name="pass" ng-model="vm.newUser.password" aria-required='true' maxlength="16" ng-class="signup.pass.$invalid && signup.pass.$touched ? 'required' : (mid-signup.pass.$pristine ? '' : 'valid') " placeholder="{{(signup.pass.$touched && signup.pass.$invalid) ? ((vm.acc.pass === '' && vm.acc.confPass === '') ? '' : 'Password is Required') : 'Password'}}"></input>
    <input type="password" name="confPass" ng-model="vm.newUser.confirmedPassword" aria-required='true' maxlength="16" placeholder="Confirm Password"></input>
    <div class="agreement-copy-wrapper">
      <div class="create-account-checkbox" ng-click="vm.toggleAcceptanceOfTerms(vm.termsHaveBeenAccepted)" ng-class="{'active': vm.termsHaveBeenAccepted}">
        <i class="fa fa-check"></i>
      </div>
      <div class="agreement-text">
        I agree to the <span ng-click="vm.openLink('terms')">Terms of Use</span> and <span ng-click="vm.openLink('policy')">Privacy Policy</span> and also agree to receive news and tips via email.
      </div>
    </div>
    <div class="action-button primary" ng-click="vm.createAccountHandler(vm.newUser)" ng-class="{'locked': !(signup.fname.$valid && signup.lname.$valid && signup.email.$valid && signup.pass.$valid && vm.newUser.password === vm.newUser.confirmedPassword && vm.termsHaveBeenAccepted)}">create account</div>
    <a ui-sref="account.login" class="secondary-action-link spaced">Already have an account? Log in</a>
  </form>
  <div ng-if="vm.showAccountVerificationMessage">
    <p class="general-confirmation-title">We sent you an Email.</p>
    <p class="general-confirmation-message">Please check your email for your passcode,<br/>then return here to verify your account.</p>
    <div ui-sref="account.confirm" class="action-button primary">ok</div>
  </div>
</div>
<div class="bottom spaced" ng-if="vm.showAccountVerificationMessage">
  <span class="question">Already have an account?</span>
  <span ui-sref="account.login" class="bottom-action-link">Log in</span>
</div>
