.action-bar-button {
	display: inline-block;
	vertical-align: middle;

	height: 70px;
	font-size: 14px;

	font-family: 'AvenirNextLTPro-Regular';

	text-align: center;

	margin-right: 20%;

	cursor: pointer;

	opacity: 0.6;

	transition: opacity .2s ease;
}

.action-bar-button:hover {
	opacity: 1;
}

.action-bar-button:before {
	content: '';
	width: 0;
	height: 100%;

	display: inline-block;
	vertical-align: middle;
}

.action-bar-button .content-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.action-bar-button .fa {
	display: block;

	font-size: 20px;
	color: #727272;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

.action-bar-button .name {
	line-height: normal;
	display: block;

	color: #4a4a4a;

	margin-top: 8px;
}

.action-bar-button.not-allowed {
	cursor: not-allowed;
	opacity: 0.6;
}

.action-bar-button .fa.inversed {
	transform: scale(-1,1);
}

.action-bar-button.align-icon .content-wrapper .fa {
	border-left: 1px solid #727272;
	margin-left: 2px;
}
