<div class="action-bar-button" ng-click="dispatchEvent($event)">
	<div class="content-wrapper">
		<i class="fa {{ icon }}" aria-hidden="true"></i>
		<div class="name"> {{ name }} </div>
	</div>
</div>
