.attendees-label-selector-wrapper {
    width: 60%;

    position: absolute;
    right: 20px;
    top: 60px;

    background-color: #fafafa;
    box-shadow: 0 0 10px -2px #000;

    padding: 20px;

    box-sizing: border-box;
    border-radius: 4px;

    font-size: 0;

    opacity: 0;
    visibility: hidden;

    transform: scaleY(0);
    transform-origin: top;

    transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
}

.attendees-label-selector-wrapper.visible {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.attendees-label-selector-wrapper .field-selector {
    display: inline-block;
    vertical-align: top;

    width: 33%;

    font-size: 12px;

    color: #4a4a4a;
}

.attendees-label-selector-wrapper .field-selector:nth-child(2n) {
  margin-bottom: 34px;
}

.attendees-label-selector-wrapper .field-selector:last-child {
  margin-bottom: 0px;
}

.field-selector .text {
    display: inline-block;
    vertical-align: middle;
}

.field-selector .checkbox-ico {
  cursor: pointer;
}
