<div class="attendees-label-selector-wrapper" ng-class="{'visible': opened}">
    <div ng-repeat="field in allPossibleFields" class="field-selector" ng-if="field.show == undefined || field.show">
        <div class="checkbox-ico" ng-class="{'active': field.selected}" ng-click="selectField(field)"></div>
        <div class="text">{{ field.name }}</div>
    </div>
</div>
