.reject-tos-modal {
 & .fa-exclamation-triangle{
   color: #26a7de;
   font-size: 64px;
 }
 & .info{
   margin:32px;
 }

  & button {
  	color: #4a4a4a !important;
  	border: 1px solid #cdcdcd;
  	border-radius: 20px;
    background: #fafafa !important;
  	transition: color .2s ease, background-color .2s ease;
    margin-top:30px;
    width: 150px;
    height: 40px;
  }


  & button.continue {
  	background-color: #68aa3b !important;
  	border: 1px solid #68aa3b !important;
  	color: white !important;
  	font-family: 'AvenirNextLTPro-Bold';
  	text-transform: uppercase;
  	max-width: none;
    margin-left: 110px;
  }



  & button:hover {
  	background-color: #4a4a4a !important;
  	color: white !important;
  }

  & button.continue:hover {
  	background-color: white !important;
  	color: #68aa3b !important;
  }

}
