
<div class="reject-tos-modal warning-screen">
	<div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
	<div class="info">
		We respect your decision. Unfortunately to continue we require your agreement to our Terms of Service and Privacy Policy. You may close the application or accept to continue.
</div>
</div>
	<div>
		<md-content>
			<md-button class="md-raised md-primary logout" ng-click="logOut()">Logout</md-button>
			<md-button class="md-raised md-primary continue" ng-click="continue()">Ok</md-button>
		</md-content>
	</div>
</div>
