.export-button {
	width: 100px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
	color: #4a4a4a;
	text-transform: uppercase;
	margin-left: 20px;
}
