<div class="delete-warning-screen long-running-modal">
	<div class="warning-screen-icon-container">
    {{message}}
  </div>
  <div class="warning-screen-text-container">
    <textarea ng-model="response" id="share_link"></textarea>
  </div>
  <div class="warning-screen-buttons-container long-running-buttons-container">
    <div class="warning-screen-button delete-button success-button" ng-click="copyShareLink()">COPY</div>
  </div>
</div>
