.delete-warning-screen .warning-screen-icon-container {
	color:#4a4a4a;
	font-family: 'AvenirNextLTPro-Regular';
}

.delete-warning-screen .warning-screen-text-container textarea {
	width: 100%;
	height: 90px;
}

.warning-screen-buttons-container.long-running-buttons-container {
	text-align: center;
}

.warning-screen-buttons-container.long-running-buttons-container .success-button {
	background-color: #68AA3B;
	float: none;
  color: white;
}
