.zoom-button-wrapper {
	display: inline-block;
	vertical-align: middle;

	opacity: 0.8;

	transition: opacity .3s ease;

	line-height: initial;
	text-align: center;

	cursor: pointer;
	width: 90px;
}

.zoom-button-wrapper:hover {
	opacity: 1;
}

.zoom-button-wrapper .icons-wrapper {
	display: block;
	color: #727272;

	font-size: 14px;
}

.zoom-button-wrapper .icons-wrapper .fa {
	transition: transform .3s ease;
}

.zoom-button-wrapper .icons-wrapper .fa-search {
	font-size: 24px;

	margin-left: 10px;
	margin-right: 10px;
}

.zoom-button-wrapper .icons-wrapper .fa-minus:hover {
	transform: translateY(-2px);
}

.zoom-button-wrapper .icons-wrapper .fa-plus:hover {
	transform: translateY(-2px);
}

.zoom-button-wrapper .zoom-value {
	font-size: 12px;
	color: #4a4a4a;

	font-family: 'AvenirNextLTPro-Demi';
	margin-top: 8px;

}