<div class="zoom-button-wrapper">
	<div class="icons-wrapper">
		<i class="fa fa-minus" aria-hidden="true" ng-click="zoomOut(currentZoomValue)"></i>
		<i class="fa fa-search" aria-hidden="true"></i>	
		<i class="fa fa-plus" aria-hidden="true" ng-click="zoomIn(currentZoomValue)"></i>
	</div>
	<div class="zoom-value">{{ currentZoomValue }}%</div>
</div>