<div class="generic-list-wrapper" id="box" ng-class="{'full-width': !conference}">
	<div class="columns-wrapper" style="width: {{width}}px" ng-class="{'no-data':listItems.length < 1}">
		<div class="columns-header" ng-if="columns.length > 1" style="width: {{width}}px"></div>
		<div class="list-column" ng-repeat="column in columns" ng-class="{'selector': column.baseType === 'selector'}" ng-if="columns.length > 1">
			<div class="list-column-name" ng-click="sortBy($event, column)">
				<i class="fa fa-arrow-down" ng-if="column.baseType !== 'selector' && column.sortBy && column.sortType === 'desc'"></i>
				<i class="fa fa-arrow-up" ng-if="column.baseType !== 'selector' && column.sortBy && column.sortType === 'asc'"></i>
				<div class="big-text" ng-if="column.label.length > 48" title="{{column.label}}">{{column.label}}</div>
				<label ng-if="column.label.length < 48">{{column.label}}</label>
				<div class="selector-wrapper" ng-if="column.baseType === 'selector'" ng-click="selectAllRows($event)" ng-class="{'selected' : (column.valueObjects.length === selectedRowsIds.length && selectedRowsIds.length > 0)}">
					<i class="fa fa-check"></i>
				</div>
			</div>
			<div class="list-column-value" ng-repeat="valueObject in column.valueObjects" title="{{valueObject.value}}" ng-if="column.fieldType != 'file_link' && column.fieldType != 'qr_code' && column.fieldType != 'currency' && column.fieldType != 'image_link'" ng-click="handleItemClick(valueObject._id)" ng-class="{'selected' : valueObject.selected}">
				{{valueObject.value}}
				<div class="selector-wrapper" ng-if="column.baseType === 'selector'" ng-class="{'selected' : valueObject.selectedRow}" ng-click="selectRow($event, valueObject)">
					<i class="fa fa-check"></i>
				</div>
			</div>
			<div class="list-column-value" ng-repeat="valueObject in column.valueObjects" ng-if="column.fieldType === 'file_link'" ng-click="openFile(valueObject.value)" ng-class="{'selected' : valueObject.selected, 'file': column.fieldType === 'file_link'}">
				<i class="fa fa-file" ng-class="{'file-not-found': !valueObject.value}"></i>
			</div>
			<div class="list-column-value" ng-repeat="valueObject in column.valueObjects" ng-if="column.fieldType === 'qr_code'" ng-click="openQR(valueObject.value);" ng-class="{'selected' : valueObject.selected}">
				<i class="fa fa-qrcode"></i>
			</div>
			<div class="list-column-value" ng-repeat="valueObject in column.valueObjects" ng-if="column.fieldType === 'currency'" ng-class="{'selected' : valueObject.selected, 'negative': valueObject.value < 0}" ng-click="handleItemClick(valueObject._id)">
				<span ng-if="valueObject.value >= 0">
					{{valueObject.value | currency:"$":2}}
				</span>
				<span ng-if="valueObject.value < 0">
					({{-valueObject.value | currency:"$":2}})
				</span>
			</div>
			<div class="list-column-value" ng-repeat="valueObject in column.valueObjects" ng-if="column.fieldType === 'image_link'" ng-class="{'selected' : valueObject.selected}">
				<div class="image-link" ng-if="!valueObject.value">
					<i class="fa fa-user"></i>
				</div>
				<img ng-if="valueObject.value" ng-src="{{valueObject.value}}" class="image-link">
			</div>
 	 </div>
	 <div class="list-column-no-data"  ng-if="listItems && listItems.length < 1">
		 	No records available based on filters or search criteria. <a ng-click="resetFilters()">Reset</a>.
	 </div>
	</div>
	<div class="loader visible" ng-class="{'visible':  !listItems}"></div>
</div>
