.generic-list-wrapper {
	width: calc(100vw - 200px);
	overflow-x: scroll;
	height: calc(100% - 68px - 75px); //height of data table header and height of app header
	background-color: white;
}
.generic-list-wrapper.full-width {
	width: 100%;
}
.generic-list-wrapper::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: transparent;
	border-radius: 10px;
}

.generic-list-wrapper::-webkit-scrollbar-thumb:horizontal {
  background: #cdcdcd;
  border-radius: 10px;
}

.generic-list-wrapper .columns-wrapper {
	min-width: 100%;
	height: calc(100vh - 75px - 75px);
	font-size: 0px;
	position: relative;
}

.generic-list-wrapper .columns-wrapper.no-data {
	height: auto;
}

.generic-list-wrapper .list-column {
	display: inline-block;
	vertical-align: top;
	font-size: 0px;

}

.generic-list-wrapper .columns-wrapper .columns-header {
	position: absolute;
	height: 60px;
	min-width: calc(100vw - 200px);
  background-color: #EDF0F2;
	top: 0;
}

.generic-list-wrapper .list-column .list-column-name {
	position: relative;
	font-size: 14px;
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	background-color: #EDF0F2;
	line-height: 60px;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Regular';
	color: #4A4A4A;
	font-weight: bold;
	cursor: pointer;
}

.generic-list-wrapper .list-column .list-column-name label {
	cursor: pointer;
}

.generic-list-wrapper .list-column .list-column-name .fa {
	line-height: 58px;
  vertical-align: top;
	margin-right: 3px;
}

.generic-list-wrapper .list-column .list-column-name:first-child {
	padding-left: 18px;
}

.generic-list-wrapper .list-column .list-column-name div.big-text {
	width: calc(100% - 25px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.generic-list-wrapper .list-column .list-column-value, .generic-list-wrapper .columns-wrapper .list-column-no-data {
	position: relative;
	height: 60px;
	border-bottom: 1px solid #cdcdcd;
	line-height: 60px;
	font-family: 'AvenirNextLTPro-Demi';
	font-size: 12px;
	padding-right: 10px;
	padding-left: 18px;
	color: #4A4A4A;
	cursor: pointer;
	background-color: white;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.generic-list-wrapper .list-column .list-column-value.file {
	text-align: center;
}

.generic-list-wrapper .list-column .list-column-value .fa-file.file-not-found {
	opacity: 0.3;
	cursor: not-allowed;
}

.generic-list-wrapper .list-column .list-column-value .fa-qrcode {
	font-size: 30px;
  vertical-align: middle;
}

.generic-list-wrapper .list-column .list-column-value .image-link {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	background-color: #d8d8d8;
	position: relative;
	position: relative;
	font-size: 30px;
}

.generic-list-wrapper .list-column .list-column-value .image-link .fa-user {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	color: #9c9b9b;
}

.generic-list-wrapper .columns-wrapper .list-column-no-data {
	width: 100%;
  text-align: center;
  padding: 10px 0;
	cursor: default;
}

.generic-list-wrapper .columns-wrapper .list-column-no-data a {
	color: #26A7DE !important;
	cursor: pointer;
}

.generic-list-wrapper .columns-wrapper .list-column-no-data a:hover {
	text-decoration: underline;
}

.generic-list-wrapper .list-column .list-column-value.selected {
	background-color: rgba(254,238,0,0.1);
}

.generic-list-wrapper .list-column .list-column-value.negative {
	color: #EF4459;
}
.generic-list-wrapper .list-column.selector {
	width: 50px;
}

.generic-list-wrapper .list-column.selector .selector-wrapper {
	width: 18px;
	height: 18px;
	border: 1px solid #979797;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	background-color: transparent;
	transtion: background-color .2s ease, border .2s ease;
}

.generic-list-wrapper .list-column.selector .selector-wrapper .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;
	transition : transform .2s ease, opacity .2s ease, visibility .2s ease;
	color: white;

}

.generic-list-wrapper .list-column.selector .selector-wrapper.selected {
	background-color: #26A7DE;
	border: 1px solid #26A7DE;
}

.generic-list-wrapper .list-column.selector .selector-wrapper.selected .fa {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}


.generic-list-wrapper .loader,
.generic-list-wrapper .loader {
	height: 120px;
	width: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	visibility: hidden;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.generic-list-wrapper .loader.visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	visibility: visible;
}

.generic-list-wrapper .loader::after, .generic-list-wrapper .loader::before,
.generic-list-wrapper .loader::after,
.generic-list-wrapper .loader::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid 8px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}
.generic-list-wrapper .loader::before,
.generic-list-wrapper .loader::before {
  border-top-color: #28A4DA;
  border-bottom-color: #9DC731;
}
.generic-list-wrapper .loader::after,
.generic-list-wrapper .loader::after {
  border-left-color: #FFB92A;
  border-right-color: #ED492F;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
