<div class="custom-modal-wrapper attendee-refund-payment add-exhibitor">
  <div class="top-part">
	<div class="title">Refund Payment</div>
  <div class="attendee-refund-payment-overview">
    <div class="general-details">
      <div class="informations-holder">
        <div class="text-field name">Order ID : #{{orderId}}1</div> <!-- order id here (transaction id from the transaction modal) -->
      </div>
    </div>
  </div>
</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" >
			<div class="name">Refund to credit card (...{{lastFour}})</div> <!-- This should be sent by radu in the transaction response -->
			<input type="number" ng-model="refundAmount" ng-blur="forceMaxRefundAmount()">
		</div>
    <div class="label-wrapper">
    <div class="check-notification" ng-class="sendNotificationForRefund ? 'check-refund-notification' : ''" ng-click="sendNotificationForRefund = !sendNotificationForRefund">
        <img ng-if="sendNotificationForRefund" src="/assets/images/checked-ico.png" style=" width: 12px; position: relative; left: 3px; top: 1px;">
    </div>
    <p class="medium cursor" ng-click="sendNotificationForRefund = !sendNotificationForRefund">Send notification for refund (optional)</p>
	</div>
</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeThisDialog()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="refundPayment(orderId, refundAmount)">
        REFUND {{refundAmount | currency}} <i class="fa fa-spinner fa-spin" ng-if="lockRefundButton"></i> <!-- This is the TOTAL from the transaction model, maximum amount that can be refunded -->
      </div>
		</div>
	</div>
</div>
