<div class="badge-assignment-container">
  <div class="badge-assignment-title">
    <i class="fa fa-id-badge" aria-hidden="true"></i>
    Badge Assignment
  </div>
  <div class="badge-assignment-preview-container">
    <div class="badge-assignment-preview-image" style="background-image: url('{{badge.badgeFrontPreviewUrl}}')">
    </div>
    <div class="badge-assignment-preview-data-container">
      <div class="badge-title">{{badge.metadata.title}}</div>
      <div class="number-of-assigned-attendees">Number of assigned attendees:<span>{{numberOfAttendeesAssigned}}</span></div>
    </div>
  </div>
  <div class="badge-assignment-middle-container">
    <div class="default-badge-container">
      <div class="default-badge-check-box" ng-class="{'active': defaultBadge}" ng-click="toggleDefaultBadge()">
        <i class="fa fa-check" aria-hidden="true" ng-if="defaultBadge"></i>
      </div>
      <div class="default-badge-text" ng-click="toggleDefaultBadge()">Default Badge</div>
    </div>
    <div class="badge-assignment-rules-container" ng-class="{'deactive': defaultBadge}">
      <div class="badge-assignment-levels-rule-text">Choose the Registration Level(s) for this badge:</div>
      <div class="badge-assignment-levels-container">
        <div class="level-item" ng-repeat="level in registrationLevels">
          <div class="level-check-box" ng-class="{'active': level.checked}" ng-click="toggleCheckForThisLevel(level)">
            <i class="fa fa-check" aria-hidden="true" ng-if="level.checked"></i>
          </div>
          <div class="level-name" ng-click="toggleCheckForThisLevel(level)">{{level.levelName}}</div>
        </div>
      </div>
      <div class="rule-and-text" ng-if="registrationLevels.length > 0"> - AND - </div>
      <div class="badge-assignment-rules-container" ng-repeat="ruleForAssignment in badgeAssignmentRules track by $index">
        <div class="badge-assignment-rule">
          <div class="rule-include-text">Include:</div>
          <div class="rule-category-input" ng-class="{'active': categorySelected == $index}" ng-click="toggleCategorySelection($index)">
            <div class="rule-category-input-text">{{ruleForAssignment.categoryName}}</div>
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            <div class="rule-category-list">
              <div class="rule-category-item" ng-click="selectThisCategory($event, 'Add-on Sessions', currentAttendeeSessionsRules, ruleForAssignment)">Add-on Sessions</div>
              <div class="rule-category-item" ng-repeat="customField in attendeeCustomFields"
                   ng-click="selectThisCategory($event, customField.customFieldName, customField.customFieldOptions, ruleForAssignment)">{{customField.customFieldName}}</div>
              <div class="rule-category-item" ng-click="selectThisCategory($event, 'Guest', currentAttendeeGuestsRules, ruleForAssignment)">Guest</div>
            </div>
          </div>
          <div class="rule-category-option-input" ng-class="{'active': categoryOptionSelected == $index}" ng-click="toggleCategoryOptionSelection($index)"
              ng-style="ruleForAssignment.categoryOptions.length > 0 ? {pointerEvents: 'auto'} : {pointerEvents: 'none'}">
            <div class="rule-category-option-input-text">{{ruleForAssignment.categoryOptions.length > 0 ? ruleForAssignment.optionChecked : 'No options available'}}</div>
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            <div class="rule-category-options-list">
              <div class="rule-category-option-item" ng-repeat="option in ruleForAssignment.categoryOptions track by $index"
                   ng-click="selectThisCategoryOption($event, $index, ruleForAssignment)" ng-if="selectedRules.indexOf(option.optionValue) <= -1">{{option.optionName}}</div>
            </div>
          </div>
          <div class="rule-buttons">
            <div class="rule-button" ng-click="removeBadgeAssignmentRule($event,$index)" ng-if="badgeAssignmentRules.length > 1">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </div>
            <div class="rule-button" ng-click="$event.stopPropagation(); addNewBadgeAssignmentRule()" ng-if="badgeAssignmentRules.length - 1 == $index">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="badge-assignment-bottom-container">
    <div class="badge-assignment-button-container">
      <div class="cancel-button badge-assignment-button" ng-click="closeThisDialog()">Cancel</div>
    </div>
    <div class="badge-assignment-button-container">
      <div class="save-button badge-assignment-button" ng-click="saveBadgeAssignment()">SAVE</div>
    </div>
  </div>
</div>
