.badge-assignment-container {
	@include modal;
	width: 620px;
  display: block;
  font-size: 0;
	border: 1px solid #CDCDCD;
	background-color: #FFFFFF;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
  margin-top: 63px;
	margin-bottom: 150px;
}

.badge-assignment-container .badge-assignment-title{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  font-size: 20px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 27px;
  padding: 25px 0 21px 35px;
  box-sizing: border-box;
  color: #4a4a4a;
}

.badge-assignment-title .fa-id-badge {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;
}

.badge-assignment-container .badge-assignment-preview-container {
  display: inline-block;
  width: 100%;
  padding: 24px 0 32px 35px;
  box-sizing: border-box;
  border-bottom: 1px solid #cdcdcd;
}

.badge-assignment-preview-container .badge-assignment-preview-image {
  display: inline-block;
  width: 101px;
	height: 71px;
  margin-right: 22px;
  border: 0.5px solid #9b9b9b;
  background-color: #fff;
  vertical-align: middle;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.badge-assignment-preview-container .badge-assignment-preview-data-container {
  display: inline-block;
  width: calc(100% - 101px - 22px);
  vertical-align: middle;
  color: #4a4a4a;
}

.badge-assignment-preview-data-container .badge-title {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 7px;
}

.badge-assignment-preview-data-container .number-of-assigned-attendees {
  display: inline-block;
  width: 54%;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
}

.badge-assignment-preview-data-container .number-of-assigned-attendees > span {
  float: right;
  vertical-align: middle;
  line-height: 20px;
}

.badge-assignment-container .badge-assignment-middle-container {
  display: inline-block;
  width: 100%;
  padding: 25px 45px 20px 35px;
  box-sizing: border-box;
  color: #4a4a4a;
  border-bottom: 1px solid #cdcdcd;
}

.badge-assignment-container .badge-assignment-middle-container .default-badge-container {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	font-size: 0;
}

.default-badge-container .default-badge-text {
	display: inline-block;
	text-align: left;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
	vertical-align: middle;
	cursor: pointer;
}

.default-badge-container .default-badge-check-box {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #979797;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
	text-align: center;
	cursor: pointer;
}

.default-badge-container .default-badge-check-box.active {
  background-color: #26A7DE;
	border-style: none;
}

.default-badge-container .default-badge-check-box.active .fa-check {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.badge-assignment-middle-container .badge-assignment-levels-rule-text {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 17px;
}

.badge-assignment-middle-container .badge-assignment-rules-container.deactive {
	opacity: 0.5;
	pointer-events: none;
}

.badge-assignment-middle-container .badge-assignment-levels-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 33px;
}

.badge-assignment-levels-container .level-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 22px;
}

.badge-assignment-levels-container .level-item .level-check-box {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #979797;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
	text-align: center;
	cursor: pointer;
}

.badge-assignment-levels-container .level-item .level-check-box.active {
  background-color: #26A7DE;
	border-style: none;
}

.badge-assignment-levels-container .level-item .level-check-box.active .fa-check {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.badge-assignment-levels-container .level-item .level-name {
  display: inline-block;
  max-width: calc(100% - 17px - 10px);
  vertical-align: middle;
  line-height: 28px;
  text-align: left;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
	cursor: pointer;
}

.badge-assignment-middle-container .rule-and-text {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  margin-bottom: 17px;
}

.badge-assignment-middle-container .badge-assignment-rules-container {
  display: inline-block;
  width: 100%;
}

.badge-assignment-rules-container .badge-assignment-rule {
  display: inline-block;
  width: 100%;
  font-size: 0;
  vertical-align: middle;
  line-height: 40px;
  margin-bottom: 15px;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-include-text {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  margin-right: 12px;
}

//category input

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cdcdcd;
  padding-left: 13px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  margin-right: 9px;
	cursor: pointer;
	color: #4a4a4a;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input.active {
  background-color: #818181;
  color: #fff;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input .rule-category-input-text {
	width: 84%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input .fa-chevron-circle-down {
  position: absolute;
  top: 12px;
  right: 11px;
  font-size: 15px;
  color: #818181;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input.active .fa-chevron-circle-down {
  color: #fff;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input .rule-category-list {
	display: none;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-input.active .rule-category-list {
  display: block;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 49px;
  width: 200px;
  max-height: 255px;
  border: 1px solid #cdcdcd;
	border-radius: 5px;
	background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  overflow-y: auto;
	overflow-x: hidden;
	z-index: 9;
}

.rule-category-list::-webkit-scrollbar {
  width: 0;
	display: none;
}

.rule-category-input .rule-category-list .rule-category-item {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  padding-left: 11px;
  box-sizing: border-box;
  line-height: 48px;
  text-align: left;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 600;
	cursor: pointer;
	color: #4a4a4a;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rule-category-input .rule-category-list .rule-category-item:last-child {
  border-bottom-style: none;
}


//category options input

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cdcdcd;
  padding-left: 13px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
	cursor: pointer;
	color: #4a4a4a;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input.active {
  background-color: #818181;
  color: #fff;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input .rule-category-option-input-text {
	width: 84%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input .fa-chevron-circle-down {
  position: absolute;
  top: 12px;
  right: 11px;
  font-size: 15px;
  color: #818181;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input.active .fa-chevron-circle-down {
  color: #fff;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input .rule-category-options-list {
  display: none;
}

.badge-assignment-rules-container .badge-assignment-rule .rule-category-option-input.active .rule-category-options-list {
  display: block;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 49px;
  width: 200px;
  max-height: 255px;
  border: 1px solid #cdcdcd;
	border-radius: 5px;
	background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  overflow-y: auto;
	overflow-x: hidden;
	z-index: 9;
}

.rule-category-option-list::-webkit-scrollbar {
  width: 0;
	display: none;
}

.rule-category-option-input .rule-category-options-list .rule-category-option-item {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  padding-left: 11px;
  box-sizing: border-box;
  line-height: 48px;
  text-align: left;
  font-size: 12px;
  font-family: "Avenir Next";
  font-weight: 600;
	cursor: pointer;
	color: #4a4a4a;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rule-category-option-input .rule-category-options-list .rule-category-option-item.already-checked {
	opacity: 0.4;
	pointer-events: none;
}

.rule-category-option-input .rule-category-option-list .rule-category-option-item:last-child {
  border-bottom-style: none;
}

// rules plus/minus buttons

.badge-assignment-rules-container .rule-buttons {
  display: inline-block;
  width: calc(100% - 200px - 200px - 10px - 54px - 12px - 15px);
  line-height: 40px;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 0;
}

.rule-buttons .rule-button {
  display: inline-block;
  vertical-align: bottom;
  line-height: 24px;
  text-align: left;
	cursor: pointer;
}

.rule-buttons .rule-button:last-child {
  text-align: right;
}

.rule-buttons .rule-button .fa{
  display: inline-block;
  width: 50%;
  font-size: 24px;
  color: #9b9b9b;
}

.badge-assignment-container .badge-assignment-bottom-container {
  display: inline-block;
  width: 100%;
  padding: 33px 31px 44px 35px;
  box-sizing: border-box;
  font-size: 0;
  color: #4a4a4a;
}

.badge-assignment-bottom-container .badge-assignment-button-container {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.badge-assignment-bottom-container .badge-assignment-button-container:last-child {
  text-align: right;
}

.badge-assignment-bottom-container .badge-assignment-button-container .badge-assignment-button {
  width: 148px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 500;
  border: 1px solid #9b9b9b;
	cursor: pointer;
}

.badge-assignment-bottom-container .badge-assignment-button-container .badge-assignment-button.save-button {
  background-color: #68AA3B;
  font-weight: bold;
  color: #fff;
  border-style: none;
}
