.components-menu-button-contextual-menu {
	width: 150px;

	background-color: #edf0f2;
	height: 100%;

	position: absolute;
	left: 76px;
	top: 0;

	opacity: 0;
	visibility: hidden;
	transform: translateX(calc(-150px - 75px));


	transition: opacity .3s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .3s cubic-bezier(0.4, 0.0, 0.6, 1), transform .3s cubic-bezier(0.4, 0.0, 0.6, 1);

	z-index: -1;

  height: calc(100vh - 130px);
	box-sizing: border-box;
}

.components-menu-button-contextual-menu .title {
	border-bottom: 0px solid transparent;

	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);

	transition: opacity .2s cubic-bezier(0.4, 0.0, 0.6, 1), visibility .2s cubic-bezier(0.4, 0.0, 0.6, 1), transform .2s cubic-bezier(0.4, 0.0, 0.6, 1);
    transition-delay: .3s;

    background-color: transparent;
}
