<div class="components-menu-button-contextual-menu" ng-class="{'active': active}" ng-click="preventClick($event)">
	<div class="title"> {{ title }}</div>
	<text-properties-contextual-menu ng-if="typeOfContextualMenu === 'text'"></text-properties-contextual-menu>
	<image-properties-contextual-menu ng-if="typeOfContextualMenu === 'image'"></image-properties-contextual-menu>
	<shape-properties-contextual-menu ng-if="typeOfContextualMenu === 'shape'"></shape-properties-contextual-menu>
	<code-properties-contextual-menu ng-if="typeOfContextualMenu === 'code'"></code-properties-contextual-menu>
</div>