<div class="payments-modals">
    <div class="modal-attendee payment-information">
        <h3>Enter Your Payment Information</h3>
        <form id='payment-form'>
            <div style="display: block">
                <label>Credit Card Number</label>
                <input 
                    class="inp-data required-payment-field" 
                    type="text" 
                    data-stripe="number" 
                    autocomplete="cc-number"
                    maxlength="16" id="CCN" ng-blur="checkTypeOfCard()" onkeydown="return ( event.ctrlKey || event.altKey
                            || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                            || (95<event.keyCode && event.keyCode<106)
                            || (event.keyCode==8) || (event.keyCode==9)
                            || (event.keyCode>34 && event.keyCode<40)
                            || (event.keyCode==46) )" style="margin-left: 94px">
                <div style="width: 306.77px; margin-left: 230px; margin-top: 3px; height: 40px;">
                    <div><img ng-src="{{CCNType === 'visa' ? '/assets/images/visaCOLOR.png' : '/assets/images/visaBW.png'}}"></div>
                    <div><img ng-src="{{CCNType === 'master' ? '/assets/images/MasterCardCOLOR.png' : '/assets/images/MasterCardBW.png'}}"></div>
                    <div><img ng-src="{{CCNType === 'discover' ? '/assets/images/DiscoverCardCOLOR.png' : '/assets/images/DiscoverCardBW.png'}}"></div>
                    <div><img ng-src="{{CCNType === 'american_exp' ? '/assets/images/AmericanExpressCOLOR.png' : '/assets/images/AmericanExpressBW.png'}}"></div>
                    <div><img ng-src="{{CCNType === 'jcb' ? '/assets/images/JCBCOLOR.png' : '/assets/images/JCBBW.png'}}"></div>
                    <div style="margin-right: 0;margin-bottom: 10px;">
                        <img ng-src="{{CCNType === 'diners' ? '/assets/images/DinersCardCOLOR.png' :'/assets/images/DinersCardBW.png'}}">
                    </div>
                </div>
            </div>
            <div>
                <label>Expiration Date</label>
                <input 
                    class="inp-data required-payment-field" 
                    type="text" 
                    data-stripe="exp" 
                    placeholder="MM/YYYY"
                    autocomplete="cc-exp"
                    style="width: 93px; height: 40px;margin-right: 265px;">
            </div>
            <div>
                <label>CVV </label>
                <input 
                    class="inp-data required-payment-field" 
                    type="text" 
                    data-stripe="cvc" 
                    autocomplete="cc-csc"
                    placeholder="###" onkeydown="return ( event.ctrlKey || event.altKey
                        || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                        || (95<event.keyCode && event.keyCode<106)
                        || (event.keyCode==8) || (event.keyCode==9)
                        || (event.keyCode>34 && event.keyCode<40)
                        || (event.keyCode==46) )" style="width: 49px; height: 40px; margin-right: 309px;">
            </div>
            <div>
                <label>Billing Zip Code</label>
                <input 
                    class="inp-data required-payment-field" 
                    type="text" 
                    data-stripe="address_zip" 
                    style="width: 93px; height: 40px;margin-right: 265px;">
            </div>

            <div>
                <label>Name on Card</label>
                <input 
                    class="inp-data required-payment-field" 
                    type="text" 
                    data-stripe="name" 
                    autocomplete="cc-name">
            </div>
        </form>
        <p>Refunds will not be made unless there are performance or service issues with the service/technology.</p>
    </div>

    <div class="modal-attendee" style="margin-left: 0px;">
        <md-content class="payment-form-buttons">
            <md-button class="md-raised md-primary btnC" ng-click="closeDialog()">Cancel</md-button>
            <md-button class="md-raised md-primary btnS" ng-click="confirmCreditCard()" style="float:right; margin-right: 0;">Next</md-button>
        </md-content>
    </div>
</div>