<div class="conference-sidebar-left">
    <div class="conference-sidebar-buttons">
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.details.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.details.overview" >
                Details
            </div>
            <div class="conference-sidebar-button-text-subtitles">
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.details.users" ui-sref-active="active">
                    Users <span ng-if="$state.includes('conferences.dashboard.details.users')">({{conference.conference_users.length}})</span>
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.details.cover_screen" ui-sref-active="active">
                    Cover Screen
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.details.social_tags" ui-sref-active="active">
                    Social Tags
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.details.travel" ui-sref-active="active">
                    Travel/Lodging
                </div>
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.attendees.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.attendees.overview">
                Attendees <span ng-if="$state.includes('conferences.dashboard.attendees')">({{totalFilteredCount>=0?totalFilteredCount: conference.attendees.total_count}})</span>
            </div>
            <div class="conference-sidebar-button-text-subtitles">
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.legacy" ui-sref-active="active">
                    Attendees List Legacy
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.upload" ui-sref-active="active">
                    Upload Attendees List
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.materials" ui-sref-active="active">
                    Upload Materials
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.custom_fields" ui-sref-active="active">
                    Custom Attendee Fields
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.expo_badges" ui-sref-active="active" ng-if="showBadgeEditorFeature">
                    Expo Badges
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.badge_print_settings" ui-sref-active="active" ng-if="showBadgeEditorFeature">
                    Badge Print Settings
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.attendees.templates" ui-sref-active="active">
                    Avery Templates
                </div>
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.sessions.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.sessions.overview">
                Sessions
            </div>
            <div class="conference-sidebar-button-text-subtitles">
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.sessions.upload_sessions" ui-sref-active="active">
                    Upload Multiple Sessions
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.sessions.continuing_education" ui-sref-active="active">
                    Continuing Education
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.sessions.speakers" ui-sref-active="active">
                    Speakers
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.sessions.custom-session-fields" ui-sref-active="active">
                    Custom Session Fields
                </div>
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.registration.**'}"
              ng-if="conference.permissions_user.edit_registration || conference.permissions_user.admin">
            <div class="conference-sidebar-button-text" ng-click="handleRegistrationClick()">
                Registration
            </div>
            <div class="conference-sidebar-button-text-subtitles">
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.registration.fields" ui-sref-active="active"
                      ng-if="registrationForm.completed_at == null">
                    Create Registration Form
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.registration.review" ui-sref-active="active"
                      ng-if="registrationForm.completed_at != null">
                    Form Overview
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.registration.registration-code" ui-sref-active="active"
                      ng-class="registrationForm.completed_at != null ? '' : 'not-clickable'">
                    Registration Code
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.registration.transactions({})" ui-sref-active="active"
                      ng-class="registrationForm.completed_at != null ? '' : 'not-clickable'">
                    Transactions
                </div>
                <!-- <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.registration.visitors" ui-sref-active="active"
                      ng-class="registrationForm.completed_at != null ? '' : 'not-clickable'">
                    Visitors
                </div> -->
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.exhibitors.**'}">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.exhibitors.overview" >
                Exhibitors <span ng-if="$state.includes('conferences.dashboard.exhibitors')">({{conference.exhibitors_count}})</span>
            </div>
            <div class="conference-sidebar-button-text-subtitles">
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.exhibitors.exhibiting_details" ui-sref-active="active">
                    Exhibiting Details
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.exhibitors.contacts" ui-sref-active="active">
                    Support Contacts
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.exhibitors.materials" ui-sref-active="active" ng-if="$root.userPermissions.manageExhibitors">
                    Upload Materials
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.exhibitors.upload" ui-sref-active="active" ng-if="$root.userPermissions.manageExhibitors">
                    Upload Exhibitors List
                </div>
                <div class="conference-sidebar-button-text-subtitle" ui-sref="conferences.dashboard.exhibitors.payments" ui-sref-active="active" ng-if="$root.userPermissions.manageExhibitors">
                    Payments
                </div>
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.notifications.**'}" ng-if="$root.userPermissions.editConference">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.notifications.overview" >
                Push Notifications
            </div>
        </div>
        <div class="conference-sidebar-button" ui-sref-active="{'conference-sidebar-button-selected':'conferences.dashboard.revenue.**'}" ng-if="showRevenueFeature">
            <div class="conference-sidebar-button-text" ui-sref="conferences.dashboard.revenue.overview" >
                Revenue
            </div>
        </div>
    </div>
</div>
