<div class="custom-modal-wrapper add-exhibitor">
	<div class="title">Edit Company Contact</div>
	<div class="add-form-wrapper">
		<div class="input-wrapper" ng-repeat="field in model">
			<div class="name">{{field.shownValue}}<span style="color: orange" ng-if="field.mandatory">*</span></div>
			<input type="text" ng-model="field.value" ng-if="field.key != 'phone_number'" ng-class="{'error': errorOnEmailAddress}"></input>
			<input type="text" ng-model="field.value" ng-if="field.key == 'phone_number'" intl-tel-input intl-tel-input-options="{initialCountry: defaultCountryFlag}" intl-tel-input-controller="$root.phoneIntlTelInputCtrl" phone-input></input>
		</div>
	</div>
	<div class="mandatory-notification">
		<span style="color: orange">* Required</span>
	</div>
	<div class="buttons-wrapper">
		<div class="button" ng-click="closeModal()">Cancel</div>
		<div class="right-part">
			<div class="button save" ng-click="saveContact(model, true)">Save</div>
		</div>
	</div>
</div>
