.default-avatar {
	background: #d8d8d8;
	color: #4a4a4a;
	font-size: 14px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	float: left;
	margin-top: -9px;
	margin-left: 5px;
	margin-right: 5px;
	text-align:center;
	line-height: 35px;
	font-family: $font-family-demi !important;
}

