<div class="user_avatar_holder">
	<div ng-if="image">
		<img ng-src="{{image}}" class="img-circle user-img-small" err-src=""
        style="height: {{size}};
	width: {{size}};"
        >
	</div>
    <div ng-if="!image">
        <div class="default-avatar" style="background: #d8d8d8;
	color: #4a4a4a;
	font-size: {{fontsize}};
	height: {{size}};
	width: {{size}};
	border-radius: 50%;
	float: left;
	margin-top: -9px;
	margin-left: 5px;
	margin-right: 5px;
	text-align:center;
	line-height: {{size}};">
            {{initials}}
        </div>
    </div>
</div>