.filter-configuration-wrapper {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	line-height: normal;
}

.filter-configuration-wrapper .filter-button {
	width: 32px;
  height: 32px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  overflow: hidden;
  line-height: 34px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
	color: #727272;
	cursor: pointer;

	background-color: white;

	transition: background-color .2s ease, color .2s ease;
}

.filter-configuration-wrapper .filter-button:hover {
	background-color: #727272;
	color: white;
}

.filter-configuration-wrapper .filter-button.active {
	background-color: #26A7DE;
	color: white;
}

.filter-configuration-wrapper .filter-creator-modal {
	position: absolute;
	background-color: white;
	width: 380px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	right: 0px;
  top: calc(100% + 4px);
  transform: scaleY(0);
	opacity: 0;
	visibility: hidden;

	transform-origin: top;
	transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.filter-configuration-wrapper .filter-creator-modal.opened {
	transform: scaleY(1);
	opacity: 1;
	visibility: visible;
	z-index: 5;
	max-height: 500px;
  overflow-y: auto;
}

.filter-configuration-wrapper .filter-creator-modal.opened .filter-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.filter-configuration-wrapper .filter-creator-modal.opened .nodisplay {
	display:none;
}
.filter-configuration-wrapper .filter-creator-modal .clear-filters-button {
	position: absolute;
	right: 16px;
	top: 16px;
	font-size: 12px;
	color: #26A7DE;
	text-transform: capitalize;
	padding-bottom: 2px;
	border-bottom: 1px solid white;

	transition: border-bottom .2s ease;

	box-sizing: border-box;
	cursor: pointer;
}

.filter-configuration-wrapper .filter-creator-modal .clear-filters-button:hover {
	border-bottom: 1px solid #26A7DE;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area {
	padding: 18px;
	border-bottom: 1px solid #cdcdcd;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area:last-child {
	border-bottom: none;
	position: relative;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-area {
	text-align: center;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-area.filters-exist {
	text-align: left;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-area::before {
	content: "";
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-button {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	text-transform: uppercase;
	padding-left: 44px;
	padding-right: 44px;
	position: relative;
	cursor: pointer;

	transition: color .2s ease, background-color .2s ease;

}

.filter-configuration-wrapper .filter-creator-modal .add-filter-button.no-filters {
	display: none;
}

.filter-configuration-wrapper .filter-creator-modal .apply-filter-button {
	width: 100px;
	height: 30px;

	position: absolute;
	right: 18px;
	top: 50%;

	border: 1px solid #68aa3b;
	border-radius: 20px;
	background-color: #68aa3b;
	box-sizing: border-box;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	font-family: 'AvenirNextLTPro-Demi';


	transform: scale(0) translateY(-50%);
	transform-origin: center;
	opacity: 0;
	visibility: hidden;

	pointer-events: none;

	transition: transform .2s ease, opacity .2s ease, visibility .2s ease, background-color .2s ease, color .2s ease;

	cursor: not-allowed;
}

.filter-configuration-wrapper .filter-creator-modal .apply-filter-button.visible {
	opacity: 1;
	transform: scale(1) translateY(-50%);
	visibility: visible;
	pointer-events: all;
	cursor: pointer;
}

.filter-configuration-wrapper .filter-creator-modal .apply-filter-button.visible:hover {
	background-color: white;
	color: #68aa3b;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-button .fa {
	color: #26A7DE;
	font-size: 16px;
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	transition: color .2s ease;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-button:hover {
	background-color: #4a4a4a;
	color: white;
}

.filter-configuration-wrapper .filter-creator-modal .add-filter-button:hover .fa {
	color: white;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .instruction {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	text-transform: uppercase;
	color: #4a4a4a;
	margin-right: 10px;
	margin-top: 8px;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button {
	position: relative;
	width: 170px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 14px;
	cursor: pointer;
	z-index: 1;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button span{
	width: calc(100% - 43px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button.opened {
	background-color: #727272;
	z-index: 10;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button.opened span{
	color: #fff;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button.opened .dropdown-arrow {
		background-color: #fff;

}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .selected-filter-button.opened .dropdown-arrow:after {
	color: #727272;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .filter-selector {
	position: absolute;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	background-color: white;
	z-index: 1;
	max-height: 120px;
	overflow: hidden;
	overflow-y: scroll;
	top: 32px;
	left: 0;

	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .filter-selector.opened {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .filter-selector .filter-option {
	border-bottom: 1px solid #cdcdcd;
	box-sizing: border-box;
	cursor: pointer;
	text-transform: capitalize;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .filter-selector .filter-option span {
	width: calc(100% - 10px);
	color: #4a4a4a;
	display: inline-block;
	vertical-align: middle;
	display: -webkit-box;
	max-height: 60px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .filter-selector .filter-option:last-child {
	border-bottom: none;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options {
	margin-top: 16px;
	font-size: 0px;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options .enum-option {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 35px;
	margin-bottom: 10px;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options .enum-option .check {
	width: 15px;
	height: 15px;
	border: 1px solid #cdcdcd;
	text-align: center;
	line-height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	transition: background-color .2s ease;
	cursor: pointer;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options .enum-option .check.checked {
	background-color: #26A7DE;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options .enum-option .check .fa {
	font-size: 14px;
	color: white;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .enum-options .enum-option .value {
	text-transform: capitalize;
	margin-left: 6px;
	font-family: 'AvenirNextLTPro-Demi';
	color: #4a4a4a;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options {
	width: 170px;
	display: inline-block;
	vertical-align: middle;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector {
	position: relative;
	width: 170px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'AvenirNextLTPro-Demi';
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	cursor: pointer;
	color: #4a4a4a;
}
.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector.opened {
	z-index: 5;
	background-color: #727272;
}
.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector.opened .operand-value{
	color: #fff;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector.opened .dropdown-arrow {
		background-color: #fff;

}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector.opened .dropdown-arrow:after {
	color: #727272;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector .operands-list {
	position: absolute;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	z-index: 1;
	overflow: hidden;
	overflow-y: scroll;
	top: 30px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector .operands-list.opened {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector .operands-list .operand {
	height: 30px;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
	cursor: pointer;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .number-options .operands-selector .operands-list .operand:hover {
	background-color: #4a4a4a;
	color: white;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .input-currency {
     position: relative;
		 font-size: 14px;
 }
 .filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .input-currency.left input {
	 text-align: left;
	 padding: 5px 13px;
 }
 .filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .input-currency.left.input-currency:before {
      position: absolute;
      top: 1px;
      content:"$";
			left: 15px;
  }
  .filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .input-currency.left .input-currency.left:before {
      left: 5px;
  }

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 180px);
	height: 30px;
	box-sizing: border-box;
	margin-left: 10px;
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

.filter-configuration-wrapper .filter-creator-modal .general-filter-area .filter-wrapper .under-selector {
	width: 170px;
	display: block;
	margin-top: 5px;
	margin-left: 0px;
	border-radius: 20px;
}


// .filter-configuration-wrapper .operands-list {
// 	position: absolute;
// 	border: 1px solid #cdcdcd;
// 	border-radius: 5px;
// 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
// 	background-color: white;
// 	z-index: 1;
// 	font-size: 12px;
//   width: 170px;
//   text-align: center;
//   line-height: 30px;
// 	top: 30px;
// 	left: 0;
// 	opacity: 0;
// 	visibility: hidden;
// 	transform: scaleY(0);
// 	transform-origin: top;
// 	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
// }
//
// .filter-configuration-wrapper .operands-list.opened {
//   opacity: 1;
//   visibility: visible;
//   transform: scaleY(1);
// }
//
// .filter-configuration-wrapper .operands-list .operand {
// 	height: 30px;
//   border-bottom: 1px solid #cdcdcd;
//   box-sizing: border-box;
// 	cursor: pointer;
// }
//
// .filter-configuration-wrapper .operands-list .operand:hover {
// 	background-color: #4a4a4a;
// 	color: white;
// }
