<div class="filter-configuration-wrapper">
	<div class="filter-button" ng-click="openFilterCreator($event,filterCreatorOpened)" ng-class="{'active':filterApplied && filters.length > 0}" id="filters-button">
		<i class="fa fa-filter"></i>
	</div>
	<div class="filter-creator-modal" ng-class="{'opened': filterCreatorOpened}" ng-click="stopEvent($event)" click-outside='hideDropdown()' outside-if-not="filters-button">
		<div ng-class="{'filter-overlay': showOverlay,'nodisplay':!showOverlay}"></div>
		<div class="clear-filters-button" ng-if="filters.length > 0" ng-click="clearAllFilters()">clear filters</div>
		<div class="general-filter-area" ng-repeat="filter in filters track by $index">
			<div class="instruction">filter by:</div>
			<div class="filter-wrapper">
				<div class="selected-filter-button" ng-class="{'opened':showOverlay && filter.filterSelectorIsOpened}" ng-click="toggleFilterSelector($event, filter, filter.filterSelectorIsOpened)"><span>{{filter.table}}</span><div class="dropdown-arrow"></div>
					<div class="filter-selector" ng-class="{'opened': filter.filterSelectorIsOpened && allFilterableFields.length > 0}">
						<div class="filter-option" ng-repeat="filterableField in allFilterableFields | orderBy : '$$hashKey'" ng-if="filter.table != filterableField.label" ng-click="overwriteFilter(filter, filterableField, $event)"><span>{{filterableField.label}}</span></div>
					</div>
				</div>
				<div class="enum-options" ng-if="filter.base_type === 'enum'">
					<div class="enum-option" ng-repeat="option in filter.options">
						<div class="check" ng-class="{'checked': option.checked}" ng-click="selectOption(filter, option, $event)">
							<i class="fa fa-check"></i>
						</div>
						<span class="value">{{option.name}}</span>
					</div>
				</div>
				<div class="number-options" ng-if="filter.base_type === 'float' || filter.base_type === 'integer' || filter.base_type === 'string' || filter.base_type === 'datetime'">
					<div class="operands-selector" ng-class="{'opened': filter.operandsListOpened }">
						<div class="operand-value" ng-click="openOperandsList($event, filter)">{{filter.selectedOperand.label}}
							<div class="dropdown-arrow"></div>
						</div>
						<div class="operands-list" ng-class="{'opened' : filter.operandsListOpened }">
							<div class="operand" ng-repeat="operand in filter.operands" ng-click="selectOperand(filter, operand, $event)">{{operand.label}}</div>
						</div>
					</div>

				</div>

				<span class="input-currency left" ng-if="filter.base_type === 'float'"><input type="number" ng-model="filter.value" min="-9999" ng-click="stopEvent($event)"></input></span>
				<input type="number" ng-model="filter.value" ng-if="filter.base_type === 'integer'" min="-9999" ng-click="stopEvent($event)"></input>
				<input type="text" ng-model="filter.value" ng-if="filter.base_type === 'string'" ng-click="stopEvent($event)"></input>
				<input moment-picker="filter.value" is-open="$root.filterListMomentPicker[$index]" format="M/D/YYYY HH:mm" ng-model="filter.value" ng-model-options="{ updateOn: 'blur' }" ng-if="filter.base_type === 'datetime' && filter.field_type === 'datetime'" class="under-selector" ng-click="stopEvent($event)">
				<input moment-picker="filter.value" is-open="$root.filterListMomentPicker[$index]" format="M/D/YYYY" ng-model="filter.value" ng-model-options="{ updateOn: 'blur' }" ng-if="filter.base_type === 'datetime' && filter.field_type === 'date'" class="under-selector" ng-click="stopEvent($event)">
				<input moment-picker="filter.value" is-open="$root.filterListMomentPicker[$index]" format="HH:mm" ng-model="filter.value" ng-model-options="{ updateOn: 'blur' }" ng-if="filter.base_type === 'datetime' && filter.field_type === 'time'" class="under-selector" ng-click="stopEvent($event)">
			</div>
		</div>
		<div class="add-filter-area general-filter-area" ng-class="{'filters-exist': filters.length > 0}">
			<div class="add-filter-button" ng-class="{'no-filters': allFilterableFields.length == 0}" ng-click="addEmptyFilter($event, filters)">
				<i class="fa fa-plus-circle"></i>
				add filter
			</div>
			<div class="apply-filter-button" ng-click="applyFilters()" ng-class="{'visible': filters.length > 0}">
				apply
			</div>
		</div>
	</div>
	<!-- <div class="operands-list" ng-class="{'opened' : filter.operandsListOpened }">
		<div class="operand" ng-repeat="operand in filter.operands" ng-click="selectOperand(filter, operand, $event)">{{operand.label}}</div>
	</div> -->
</div>
