<div>
    <div class="merchant-agreement-popup" ng-class="merchantAgreementStep == 3 ? 'lower-popup-modal' : ''" ng-show="!loadingData">
        <div class="flex-row merchant-agreement-steps-table">
            <div class="flex-row">
                <div class="ma-step-circle" ng-class="merchantAgreementStep >= 1 ? 'ma-current-step' : ''">1</div>
                <p>Merchant Agreement</p>
            </div>
            <div class="flex-row">
                <div class="ma-step-circle" ng-class="merchantAgreementStep >= 2 ? 'ma-current-step' : ''">2</div>
                <p>Identity Verification</p>
            </div>
            <div class="flex-row">
                <div class="ma-step-circle" ng-class="merchantAgreementStep == 3 ? 'ma-current-step' : ''">3</div>
                <p>Bank Information</p>
            </div>
        </div>
        <ng-include ng-if="merchantAgreementStep == 1" src="'app/_scenes/conferences/_components/merchantAgreementModal/_scenes/merchantAgreementStep1.html'"></ng-include>
        <ng-include ng-if="merchantAgreementStep == 2" src="'app/_scenes/conferences/_components/merchantAgreementModal/_scenes/merchantAgreementStep2.html'"></ng-include>
        <ng-include ng-if="merchantAgreementStep == 3" src="'app/_scenes/conferences/_components/merchantAgreementModal/_scenes/merchantAgreementStep3.html'"></ng-include>
        <div class="flex-row merchant-agreement-buttons">
            <div class="cursor" ng-if="merchantAgreementStep == 1" ng-click="closeThisDialog()">Cancel</div>
            <div class="cursor" ng-if="merchantAgreementStep > 1" ng-click="merchantAgreementBack()">Back</div>
            <div class="cursor" ng-if="merchantAgreementStep < 3" ng-click="merchantAgreementNext()">NEXT</div>
            <div class="cursor" ng-if="merchantAgreementStep == 3" ng-click="submitMerchantAgreement()">SUBMIT</div>
        </div>
    </div>
    <div class="merchant-agreement-popup" class='lower-popup-modal' ng-show="loadingData">
        <div class="loading-verification" style="width: 40px; margin: 0 auto;">
            <img src="assets/images/rolling.gif" style="margin-top:120px">
        </div>
    </div>
</div>
