<div class="head flex-row" style="align-items: center;">
	<div style="width: 74px; border-right: 1px solid #cdcdcd; height: inherit;" ui-sref="conferences.overview">
		<img src="assets/images/expo_icon_svg.svg" class="head-logo"
			style="cursor: pointer; margin-left: 17px; margin-top: 17px; width: 38px;">
	</div>

    <div style="margin-right: auto; margin-left: 14px;">
    	<p class="bold" style="font-size: 18px; color: #4a4a4a; display: inline-block;">{{headerTitle}}</p>
			<div ng-if="isSuperAdmin && isOnNormalOverview" style="display: inline-flex;">
				<input type="text" placeholder="Search Events" ng-change="searchConferences(conferenceSearchQuery)" ng-model-options="{debounce:750}" class="conference-list-search" ng-model="conferenceSearchQuery"/>
			</div>
    </div>
	<div class="flex-row" style="align-items: center;">
		<div ng-if="isSuperAdmin && isOnNormalOverview" class="btn1 cursor" ui-sref="conferences.admin">DATA TABLE</div>
		<div ng-if="isSuperAdmin" class="btn1 superuser-support-button" ui-sref="conferences.support">SUPPORT</div>
		<div class="btn1 cursor" ui-sref="conferences.join" style="margin-right: 10px;" ng-if="!isSuperAdmin">
			EXHIBITOR ACCESS
		</div>

		<div class="btn1 cursor right-button-green" ui-sref="conferences.create">
			CREATE AN EVENT
		</div>


	</div>
	<div class="user-info" ng-click="openAccountProfile()">
		<useravatar image="currentUser.profile_url"
					firstname="currentUser.first_name"
					lastname="currentUser.last_name">
		</useravatar>
	</div>
</div>
